@use 'sass:map';
@import '../../styles/variables';

.detailsBannerContainer {
  background-color: color('dark-blue', 10);
  color: color('white');
  padding: 10px 18px;
}

.detailsBannerHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 4px;
}

.detailsBannerHeaderName {
  color: color('white');
  margin: 0 16px 0 0;
  font-size: 16px;
  font-family: $futura-dem;
  letter-spacing: 0;
}

.detailsBannerSubHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.detailsBannerSubHeaderSessionDate {
  color: color('white');
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 16px;
  padding: 0 16px 0 0;
  margin: 0 16px 0 0;
  border-right: 1px solid color('white');
}

.detailsBannerSubHeaderSessionSpot {
  color: color('white');
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 16px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@each $condition, $colors in $__sl-condition-color-map {
  $default-color: map.get($colors, 'default');

  .detailsBannerSubHeaderSessionSpot--#{$condition} {
    &::before {
      content: '';
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: $default-color;
      display: inline-block;
      margin-right: 4px;
    }
  }
}
