#!/bin/bash

JMAP=/usr/lib/jvm/java/bin/jmap

ps ax | \
  grep "<%= @cf8dir %>/runtime/bin/coldfusion8 -jar jrun.jar -start coldfusion" | \
  grep -v grep | \
  awk '{print $1}' | \
  xargs -ixxx su --shell=/bin/bash --session-command="${JMAP} -dump:format=b,file=<%= @cf8dir %>/logs/heap/heap.bin xxx" nobody
