#!/bin/bash

ps ax | \
  grep "<%= @cf8dir %>/runtime/bin/coldfusion8 -jar jrun.jar -start coldfusion" | \
  grep -v grep | \
  awk '{print $1}' | \
  xargs -ixxx su --shell=/bin/bash --session-command="<%= node['java']['java_home'] %>/bin/jstack -l xxx" nobody
