#!/bin/env python

import socket
import subprocess
import sys

HEADER = '\033[95m'
OKBLUE = '\033[94m'
OKGREEN = '\033[92m'
WARNING = '\033[93m'
FAIL = '\033[91m'
BOLD = '\033[1m'
REVERSE = '\033[7m'
ENDC = '\033[0m'

runningRequestsColor = ENDC
queuedRequestsColor = ENDC

cfstat = '<%= @cf8dir %>/bin/cfstat 1'
hostname = socket.gethostname()


def colorize_running_requests(line):
        global runningRequestsColor

        prefix, reqs, postfix = line[:21], line[21:27], line[27:].rstrip()

        try:
            reqNum = float(reqs)
        except ValueError:
            reqNum = -1

        if reqNum == -1:
            color = runningRequestsColor
        elif reqNum < 10:
            color = OKGREEN
        elif reqNum < 20:
            color = WARNING
        elif reqNum >= 20:
            color = FAIL
        else:
            color = ENDC

        runningRequestsColor = color

        return prefix + color + reqs + ENDC + postfix


def colorize_queued_requests(line):
        global queuedRequestsColor

        prefix, reqs, postfix = line[:16], line[16:21], line[21:].rstrip()

        try:
            reqNum = float(reqs)
        except ValueError:
            reqNum = -1

        if reqNum == -1:
            color = queuedRequestsColor
        elif reqNum > 0:
            color = FAIL
        else:
            color = ENDC

        queuedRequestsColor = color

        return prefix + color + reqs + ENDC + postfix


def remove_cache_pops(line):
        prefix, reqs, postfix = line[:16], line[16:23], line[23:].rstrip()

        return prefix + postfix


def main():
    p = subprocess.Popen(cfstat,
                         shell=True,
                         bufsize=1,
                         universal_newlines=True,
                         stdout=subprocess.PIPE)

    color = ENDC
    for line in iter(p.stdout.readline, ''):
        if line[:6] == 'Pg/Sec':
            print OKBLUE + REVERSE + hostname.center(70, ' ') + ENDC
        line = remove_cache_pops(line)
        line = colorize_running_requests(line)
        line = colorize_queued_requests(line)

        print line
        sys.stdout.flush()


if __name__ == '__main__':
    main()
