#!/bin/sh
# Checker to roll mx in the event of a server down.

# variables
SERVER=$(hostname -s)
ALERTEMAIL=monitor@surfline.com
TIMEOUT=20
HEALTHCHECK_TYPE="<%= node['surfline-coldfusion']['healthcheck_type'] %>"
THETIME=$(date +%s)
LOCKFILE="/tmp/rolling.txt"
NR_SCRIPT="/usr/local/bin/record_analytics.sh"

# script help
display_help() {
  echo
  echo "Usage: $0 [ option... ]"
  echo
  echo "        -t      Time to wait (in minutes) before rolling the server again"
  echo "        -f      Force roll (Danger!)"
  echo "        -h      This message"
  echo
  exit
}

# get run options
ROLLDELAY_IN=""
while getopts t:fh opts; do
  case ${opts} in
    t) ROLLDELAY_IN=${OPTARG} ;;
    f) ROLLDELAY_IN=0 ;;
    h) display_help ;;
    ?) display_help ;;
  esac
done

# set the roll delay
if [ -z $ROLLDELAY_IN ]; then
  ROLLDELAY="900"
else
  ROLLDELAY=$(($ROLLDELAY_IN * 60))
fi

# check for $LOCKFILE and last run time
if [[ $ROLLDELAY_IN == 0 ]]; then
  echo 'Force (-f) flag detected, skipping check.'
else
  if [ -f $LOCKFILE ]; then
    echo 'Lockfile exists, the service may already be rolling. Checking last run time...'
    # check if $LOCKFILE is empty
    if [ ! -s $LOCKFILE ]; then
      echo 'Lockfile is empty, unable to determine last run time... Exiting.'
      echo $THETIME > $LOCKFILE
      exit
    fi
    # calculate time difference
    LASTROLL=$(cat $LOCKFILE | tail -1)
    TIMEDIFF=$(($THETIME - $LASTROLL))
    # check if enough time has passed
    if [ $TIMEDIFF -lt $ROLLDELAY ]; then
      echo "The server was rolled $TIMEDIFF seconds ago, which is less than $ROLLDELAY. Exiting."
      exit
    fi
  fi
fi

# check status of server
if [[ "${HEALTHCHECK_TYPE}" == "apisettings" ]]; then
  SUCCESS=$(curl -s http://127.0.0.1/v1/apisettings -m ${TIMEOUT} | grep 'cfServerID')
elif [[ "${HEALTHCHECK_TYPE}" == "homepage" ]]; then
  SUCCESS=$(curl -s http://127.0.0.1/home/index.cfm -m ${TIMEOUT} -H Host:www.surfline.com | grep 'Privacy')
else
  SUCCESS=$(curl -s http://127.0.0.1/healthcheck/jrun.cfm -m ${TIMEOUT} | grep 'functional')
fi

if [ -n "$SUCCESS" ]
  then
    # all is well
    echo "SERVER OK"
  else
    # roll it
    echo "SERVER FAILED"

    # set lock file
    echo $THETIME > $LOCKFILE

    # create a status file
    echo ${SERVER}' Autorolled' > /tmp/rolled.txt

    # add HTTP request info to status file
    echo "=== curl ===" >> /tmp/rolled.txt
    if [[ "${HEALTHCHECK_TYPE}" == "apisettings" ]]; then
      curl -ksv http://127.0.0.1/v1/apisettings \
        -m ${TIMEOUT} 2>&1 | \
          grep -E '(<|>)\ (GET|HTTP|Location)' | \
          tr -d '\r' \
            >> /tmp/rolled.txt
    elif [[ "${HEALTHCHECK_TYPE}" == "homepage" ]]; then
      curl -ksv http://127.0.0.1/home/index.cfm \
        -m ${TIMEOUT} \
        -H Host:www.surfline.com 2>&1 | \
          grep -E '(<|>)\ (GET|HTTP|Location)' | \
          tr -d '\r' \
            >> /tmp/rolled.txt
    else
      curl -ksv http://127.0.0.1/healthcheck/jrun.cfm \
        -m ${TIMEOUT} 2>&1 | \
          grep -E '(<|>)\ (GET|HTTP|Location)' | \
          tr -d '\r' \
            >> /tmp/rolled.txt
    fi

    echo "=== memory ===" >>/tmp/rolled.txt
    free >>/tmp/rolled.txt

    echo "=== cfheapinfo ===" >>/tmp/rolled.txt
    sudo /usr/local/bin/cfheapinfo >>/tmp/rolled.txt

    # roll it
    /usr/local/bin/rollmx.sh
    echo "Execute rollmx.sh"

    # send out an email notification with the results
    mail -r root@$(hostname -s).aws.surfline.com -s "${SERVER} Auto-rolled" ${ALERTEMAIL}</tmp/rolled.txt

    # send New Relic analytics event 
    ${NR_SCRIPT} -f -v "ColdfusionRestart" "restartEvent" "$(date)"    

    # update the roll log
    date >> <%= @cf8dir %>/logs/autoroll.log

    # add a delay to let the server settle down
    sleep 30

    # remove $LOCKFILE
    rm $LOCKFILE
fi
