@import '../../styles/variables';

.geonameMapLinks {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 0 0 12px;
  padding: 0 0 16px;
}

@media (min-width: $tablet-width) {
  .geonameMapLinks {
    margin: 0 0 0 20px;
    padding: 0 0 24px;
  }
}

@media (min-width: $tablet-large) {
  .geonameMapLinks {
    position: absolute;
    bottom: 32px;
    left: calc(340px + 24px);
    z-index: 100;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .geonameMapLinks {
    left: calc(660px + 24px);
  }
}
