# <Directory "/var/www/sites/public-prod">
#     RewriteEngine On
#     RewriteCond %{HTTPS} on
#     RewriteRule ^robots\.txt$ robots_ssl.txt [L]
#     Include conf-available/domain_mod_rewrite.conf
#     Include conf-available/sl_regional_mod_rewrite.conf
#     Include conf-available/mod_rewrite.conf
#     # Header set X-UA-Compatible "IE=EmulateIE7"
# </Directory>
#
# <Directory "/var/www/sites/public-prod">
#     Options FollowSymLinks ExecCGI
#     AllowOverride None
#     Order allow,deny
#     Allow from all
# </Directory>
#
# <Directory "/var/www/sites">
#     Options FollowSymLinks Includes ExecCGI
#     AllowOverride AuthConfig
#     Order allow,deny
#     Allow from all
# </Directory>
