# <Directory "/var/www/sites/public-prod">
#     # Header set X-UA-Compatible "IE=EmulateIE7"
# </Directory>
#
# <Directory "/var/www/sites/public-prod">
#     Options Includes FollowSymLinks ExecCGI
#     AllowOverride AuthConfig
#     Order allow,deny
#     Allow from all
# </Directory>
#
# <Directory "/var/www/sites/public-prod/photos">
#     Header set X-UA-Compatible "IE=EmulateIE9"
# </Directory>
#
# <Location />
#   SetEnvIfNoCase Request_URI \
#   \.(?:gif|jpe?g|png)$ no-gzip dont-vary
#   Header append Vary User-Agent env=!dont-vary
# </Location>
#
# <LocationMatch "(/home/hp_dhtml/button_01\.gif|/home/hp_dhtml/button_02\.gif|/home/hp_dhtml/button_03\.gif|/home/hp_dhtml/button_04\.gif|/home/hp_dhtml/button_05\.gif|/home/hp_dhtml/button_06\.gif|/home/hp_dhtml/button_07\.gif|/home/hp_dhtml/button_08\.gif|/home/hp_dhtml/button_09\.gif|/home/hp_dhtml/button_10\.gif|/home/hp_dhtml/button_11\.gif|/home/hp_dhtml/button_12\.gif|/home/hp_dhtml/button_13\.gif|/home/hp_dhtml/button_14\.gif|/home/hp_dhtml/button_15\.gif|/home/hp_dhtml/corner_tr\.gif|/home/hp_dhtml/corners_bottom\.gif|/home/hp_dhtml/pause_big\.gif|/home/hp_dhtml/play_big\.gif|/home/hp_images/arrow_small\.gif|/home/hp_images/bg_main\.gif|/home/hp_images/cap_darkblue_bottom_left\.gif|/home/hp_images/cap_darkblue_bottom_right\.gif|/home/hp_images/cap_darkblue_top_left\.gif|/home/hp_images/cap_darkblue_top_right\.gif|/home/hp_images/cap_hotblue_bottom_left\.gif|/home/hp_images/cap_hotblue_bottom_right\.gif|/home/hp_images/cap_lightblue_bottom_left\.gif|/home/hp_images/cap_lightblue_bottom_right\.gif|/home/hp_images/cap_medblue_bottom_left\.gif|/home/hp_images/cap_medblue_bottom_right\.gif|/home/hp_images/top_tab_closed\.gif|/home/hp_images/top_tab_open\.gif|/include/header/images/cap_darkblue_bottom_right\.gif|/include/header/images/header_logo_free\.gif|/include/header/images/navigation_bg\.gif|/include/header/images/navigation_bg_leftline\.gif|/include/header/images/v_arrow\.gif|/include/header/images/v_arrow_over\.gif|/global_includes/css/global_trans\.css|/global_includes/css/header\.css|/global_includes/css/global_styles_print\.css|/global_includes/scripts/slmenu_r\d+\.css|/global_includes/css/global_styles_r\d+\.css|/global_includes/css/header-ie\.css)$">
#   ExpiresActive on
#   ExpiresDefault "access plus 1 months"
# </LocationMatch>
#
# <DirectoryMatch "(/global_includes/css/font-awesome/3\.0/|/global_includes/scripts/)">
#   ExpiresActive on
#   ExpiresDefault "access plus 1 months"
# </DirectoryMatch>
#
# <Directory "/var/www/sites">
#     Options FollowSymLinks Includes ExecCGI
#     AllowOverride AuthConfig
#     Order allow,deny
#     Allow from all
# </Directory>
#
# AddType application/x-web-app-manifest+json .webapp
