RewriteEngine On

RewriteCond %{HTTP_COOKIE} !^(.*)letmein=true(.*)$ [NC]
RewriteCond %{QUERY_STRING} !^(.*)letmein=true(.*)$ [NC]
RewriteCond %{REMOTE_ADDR} !^192.168.(.*)$ [NC]
RewriteCond %{REMOTE_ADDR} !^127.0.0.1$ [NC]
RewriteCond %{HTTP_HOST} !^$ [NC]
RewriteCond %{HTTP_HOST} !^www.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^redirectmustdie.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^store.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^www.surfline.tv$ [NC]
RewriteCond %{HTTP_HOST} !^surfline.tv$ [NC]
RewriteCond %{HTTP_HOST} !^(aws-)?tile.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^(aws-)?tile-origin.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^(aws-)?sandbox.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^<%= "#{node.chef_environment}" %>.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^sl-jobs-coldfusion-<%= "#{node.chef_environment}" %>.aws.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^sladmin.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^admin.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^backup-admin.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^brasil.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^www.brasil.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^brazil.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^www.brazil.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^m.brasil.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^m.brazil.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^surfline.pt$ [NC]
RewriteCond %{HTTP_HOST} !^(.*).surfline.pt$ [NC]
RewriteCond %{HTTP_HOST} !^mbeta.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^m.beta.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^m.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^mobile.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^mobileqa.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^mobileqa2.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^(.*).mobile.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^(.*).mobileqa.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^(.*).mobileqa2.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^sandbox.buoyweather.com$ [NC]
RewriteCond %{HTTP_HOST} !^my.buoyweather.com$ [NC]
RewriteCond %{HTTP_HOST} !^qa.my.buoyweather.com$ [NC]
RewriteCond %{HTTP_HOST} !^qa.content.buoyweather.com$ [NC]
RewriteCond %{HTTP_HOST} !^content.buoyweather.com$ [NC]
RewriteCond %{HTTP_HOST} !^info.buoyweather.com$ [NC]
RewriteCond %{HTTP_HOST} !^(.*).info.buoyweather.com$ [NC]
RewriteCond %{HTTP_HOST} !^(.*\.)?balisurfphotos.com$ [NC]
RewriteCond %{HTTP_HOST} !^(aws-)?qa.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^www.fishtrack.com$ [NC]
RewriteCond %{HTTP_HOST} !^<%= "#{node.chef_environment}" %>.fishtrack.com$ [NC]
RewriteCond %{HTTP_HOST} !^my(-<%= "#{node.chef_environment}" %>)?.fishtrack.com$ [NC]
RewriteCond %{HTTP_HOST} !^qa.fishtrack.com$ [NC]
RewriteCond %{HTTP_HOST} !^fishtrack.com$ [NC]
RewriteCond %{HTTP_HOST} !^canal-off.surfline.com$ [NC]
RewriteCond %{HTTP_HOST} !^(aws-)?vindiciatest(-api)?.surfline.com$ [NC]
RewriteRule ^(.*)$ http://www.surfline.com/$1 [R=301,L]
