# -=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
# FISHTRACK REWRITE RULES
# -=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
RewriteEngine On

# If not on a valid URL, rewrite request to restrictive robots.txt
RewriteCond %{HTTP_HOST}  !^www.fishtrack.com$ [NC]
RewriteCond %{HTTP_HOST} !^<%= "#{node.chef_environment}" %>.fishtrack.com$ [NC]
RewriteCond %{HTTP_HOST}  !^www.surfline.com$ [NC]
RewriteCond %{HTTP_HOST}  !^www.surfline.pt$ [NC]
RewriteCond %{HTTP_HOST}  !^m.surfline.pt$ [NC]
RewriteCond %{HTTP_HOST}  !^brasil.surfline.com$ [NC]
RewriteCond %{HTTP_HOST}  !^m.brasil.surfline.com$ [NC]
RewriteCond %{HTTP_HOST}  !^m.surfline.com$ [NC]
RewriteCond %{HTTP_HOST}  !^mobile.surfline.com$ [NC]
RewriteRule robots.txt$ /robots_disallow.txt [L]

RewriteCond %{HTTP_HOST}  ^fishtrack.com
RewriteRule ^.*$  http://www.fishtrack.com%{REQUEST_URI} [R=301,L]

# Fix some pages accidentally indexed by Google
RewriteRule ^/templates/(.*)$  http://www.fishtrack.com/? [R=301,L]

# Fishing Chart Pages
# RewriteRule ^/fishing-charts/(.*)_(.*)(/?)$  /fishing-charts/chart.cfm?dir=$2&sef=true [PT]
RewriteRule ^/fishing-charts/(.*)_([0-9]+)(/?)$  /fishing-charts/dispatch.cfm?id=$2&sef=true [PT]
RewriteRule ^/fishing-charts/(.*)_([0-9]+)/premium-activation/(.*)/$  /fishing-charts/dispatch.cfm?id=$2&bwlog=true&ct=$3&sef=true [PT]
RewriteRule ^/fishing-charts/(.*)_([0-9]+)/premium-activation/(.*)$  /fishing-charts/dispatch.cfm?id=$2&bwlog=true&ct=$3&sef=true [PT]

# Features
RewriteRule ^/features(/?)$  /articles/index.cfm?sef=true [PT]
### RewriteRule ^/features/([0-9]+)/([0-9]+)(/?)$  /articles/archive.cfm?month=$1&year=$2&sef=true [PT]
RewriteRule ^/features/([0-9]+)/([0-9]+)(/?)$  /features/ [R=301,L]
RewriteRule ^/features/page/([0-9]+)(/?)$  /articles/paged.cfm?page=$1&sef=true [PT]
RewriteRule ^/features/(.*)_([0-9]+)(/?)$  /dispatch.cfm?id=$2&sef=true [PT]
RewriteRule ^/features/(.*)_([0-9]+)/([0-9]+)(/?)$  /dispatch.cfm?id=$2&jump=$3&sef=true [PT]

RewriteRule ^/features/(marlin|sailfish|swordfish|tuna|sharks|mahi-dolphin-fish|wahoo|other)(/?)$  /articles/index.cfm?species=$1&sef=true [PT]
RewriteRule ^/features/(marlin|sailfish|swordfish|tuna|sharks|mahi-dolphin-fish|wahoo|other)/([0-9]+)(/?)$  /articles/paged.cfm?species=$1&page=$2&sef=true [PT]
RewriteRule ^/features/(.*)/([0-9]+)(/?)$  /articles/paged.cfm?subcategory=$1&page=$2&sef=true [PT]
RewriteRule ^/features/(.*)(/?)$  /articles/index.cfm?subcategory=$1&sef=true [PT]

# Boat Guide
RewriteRule ^/guides/2013/center-console-boat-guide(/?)$  /guides/2013/center-console/index.cfm?sef=true [PT]
RewriteRule ^/guides/2013/center-console-boat-guide/(.*)_([0-9]+)(/?)$  /guides/2013/center-console/product.cfm?id=$2&sef=true [PT]

# Fishwire
RewriteRule ^/fishwire/(.*)_([0-9]+)(/?)$  /fishwire/article.cfm?id=$2&sef=true [PT]

# Blog
RewriteRule ^/blog/([0-9]+)/([0-9]+)(/?)$  /blog/archive.cfm?month=$1&year=$2&sef=true [PT]
RewriteRule ^/blog/page/([0-9]+)(/?)$  /blog/paged.cfm?page=$1&sef=true [PT]
RewriteRule ^/blog/(.*)_([0-9]+)(/?)$  /dispatch.cfm?id=$2&sef=true [PT]

# How-To
### RewriteRule ^/how-to/([0-9]+)/([0-9]+)(/?)$  /how-to/archive.cfm?month=$1&year=$2&sef=true [PT]
RewriteRule ^/how-to/([0-9]+)/([0-9]+)(/?)$  /how-to/ [R=301,L]
RewriteRule ^/how-to/page/([0-9]+)(/?)$  /how-to/paged.cfm?page=$1&sef=true [PT]
RewriteRule ^/how-to/(.*)_([0-9]+)(/?)$  /dispatch.cfm?id=$2&sef=true [PT]

RewriteCond %{REQUEST_URI}  !=/how-to/paged.cfm
RewriteCond %{REQUEST_URI}  !=/how-to/index.cfm
	RewriteRule ^/how-to/(.*)/([0-9]+)(/?)$  /how-to/paged.cfm?subcategory=$1&page=$2&sef=true [PT]

RewriteCond %{REQUEST_URI}  !=/how-to/paged.cfm
RewriteCond %{REQUEST_URI}  !=/how-to/index.cfm
	RewriteRule ^/how-to/(.*)(/?)$  /how-to/index.cfm?subcategory=$1&sef=true [PT]

# Deprecated My Account
RewriteRule ^myaccount/logout\.cfm$ - [L]

RewriteRule ^/resetpassword/(.*)/(.*)/$  /forgot-password/enter-code [R=301,L]

RewriteCond %{QUERY_STRING}  ^action=forgot_password$
RewriteRule ^myaccount(/?).*$ /account/forgot-password? [R=301,L]

RewriteCond %{QUERY_STRING}  ^action=personalinfo$
RewriteRule ^myaccount(/?).*$ /account/edit-profile? [R=301,L]

RewriteCond %{QUERY_STRING}  ^action=paymentsettings$
RewriteRule ^myaccount(/?).*$ /account/subscription? [R=301,L]

# Allow these requests, otherwise redirect to /account
RewriteCond %{QUERY_STRING} !(^|&)action=water_temp_alerts($|&)
RewriteRule ^myaccount(/?).*$ /account/? [R=301,L]

# Tutorial
RewriteRule ^/tutorial(s?)(/?)$  /getting-started/index.cfm?sef=true [PT]
# RewriteRule ^/tutorial(s?)/([0-9]+)/([0-9]+)(/?)$  /getting-started/archive.cfm?month=$1&year=$2&sef=true [PT]
RewriteRule ^/tutorial(s?)/([0-9]+)/([0-9]+)(/?)$  /tutorials/ [R=301,L]
RewriteRule ^/tutorial(s?)/page/([0-9]+)(/?)$  /tutorials/paged.cfm?page=$1&sef=true [PT]
RewriteRule ^/tutorial(s?)/(.*)_([0-9]+)(/?)$  /dispatch.cfm?id=$2&sef=true [PT]

# Video
RewriteRule ^/video(/?)$  /video/index.cfm?sef=true [PT]
RewriteRule ^/video/([0-9]+)/([0-9]+)(/?)$  /video/archive.cfm?month=$1&year=$2&sef=true [PT]
RewriteRule ^/video/(.*)_([0-9]+)(/?)$  /video/video_player_v2/video_player_t3.cfm?id=$2&sef=true [PT]
RewriteRule ^/video(/?)$  /videos/ [R=301,L]

# Widgets
RewriteRule ^/create-widget(/?)$  /widget/create.cfm?sef=true [PT]

# Fishing Reports
RewriteCond %{REQUEST_URI}  !=/fishing-reports/index.cfm
RewriteRule ^/fishing-reports/(.*)-region_([0-9]+)(/?)$  /fishing-reports/index.cfm?action=listReports&regionID=$2&sef=true [PT]

RewriteCond %{REQUEST_URI}  !=/fishing-reports/index.cfm
RewriteRule ^/fishing-reports/(.*)-report_([0-9]+)(/?)$  /fishing-reports/index.cfm?action=details&fishingReportID=$2&sef=true [PT]

RewriteCond %{REQUEST_URI}  !=/fishing-reports/index.cfm
RewriteRule ^/fishing-reports/add-report(/?)$     /fishing-reports/index.cfm?action=addReport&sef=true [PT]

RewriteCond %{REQUEST_URI}  !=/fishing-reports/index.cfm
RewriteRule ^/fishing-reports/(.*)-user_([0-9]+)(/?)$  /fishing-reports/index.cfm?action=listReportsByUSID&usid=$2&sef=true [PT]

RewriteCond %{REQUEST_URI}  !=/fishing-reports/index.cfm
RewriteRule ^/fishing-reports/my-reports(/?)$     /fishing-reports/index.cfm?action=listMyReports&sef=true [PT]

# Fishing Cams
RewriteCond %{REQUEST_URI}  !=/fishing-cam/index.cfm
RewriteRule ^/fishing-cam/(.*)_([0-9]+)(/?)$     /fishing-cam/index.cfm?id=$2&sef=true [PT]

# Single Pages
RewriteRule ^/contact-us(/?)$  /page.cfm?id=66557&sef=true [PT]
RewriteRule ^/about-us(/?)$  /page.cfm?id=66558&sef=true [PT]
RewriteRule ^/frequently-asked-questions(/?)$  /page.cfm?id=66565&sef=true [PT]
RewriteRule ^/privacy-policy(/?)$  /page.cfm?id=66636&sef=true [PT]
RewriteRule ^/terms-and-conditions(/?)$  /page.cfm?id=66635&sef=true [PT]
RewriteRule ^/brand-assets(/?)$  /page.cfm?id=67793&sef=true [PT]
RewriteRule ^/widgets(/?)$  /page.cfm?id=71363&sef=true [PT]
#RewriteRule ^/careers(/?)$  /page.cfm?id=73840&sef=true [PT]
RewriteRule ^/fishing-tournaments(/?)$  /page.cfm?id=104743&sef=true [PT]
RewriteRule ^/calendar(/?)$  /fishing-tournaments/ [R=301,L]
RewriteRule ^/marina-of-the-year(/?)$  /page.cfm?id=73908&sef=true [PT]
RewriteRule ^/wmo(/?)$  /page.cfm?id=74065&sef=true [PT]
RewriteRule ^/widget-terms-and-conditions(/?)$  /page.cfm?id=70746&sef=true [PT]
RewriteRule ^/water-temperature-alerts(/?)$  /page.cfm?id=103388&sef=true [PT]
RewriteRule ^/careers(/?)$ http://www.surfline.com/company/jobs/ [R=301,L]

# Advertise
RewriteRule ^/advertise(/?)$  /advertising/mediakit/? [R=301,L]

RewriteCond %{QUERY_STRING}  ^id=66559$
RewriteRule ^(/?)page.cfm$  /advertising/mediakit/? [R=301,L]

# Marketing
RewriteRule (?i)^/steele(/?)$  https://www.fishtrack.com/upgrade/?mkt=FT_STEELE [R=301,L]
RewriteRule (?i)^/jw(/?)$  https://www.fishtrack.com/upgrade/?mkt=FT_JW [R=301,L]
RewriteRule (?i)^/pcsexpo(/?)$  https://www.fishtrack.com/upgrade/?mkt=ft_pcsexpo [R=301,L]
RewriteRule (?i)^/fishingtails(/?)$  https://www.fishtrack.com/upgrade/?mkt=FT_fishingtails [R=301,L]
RewriteRule (?i)^/tbf(/?)$  https://www.fishtrack.com/upgrade/?mkt=TBF_discount [R=301,L]
RewriteRule (?i)^/boatus(/?)$  https://www.fishtrack.com/upgrade/?mkt=TBF_BoatUS [R=301,L]
RewriteRule (?i)^/thefisherman(/?)$  https://www.fishtrack.com/upgrade/?mkt=TheFishermanMag [R=301,L]
RewriteRule (?i)^/trial(/?)$  https://www.fishtrack.com/upgrade/?mkt=ft_promo_card [R=301,L]
RewriteRule (?i)^/billfish(/?)$  https://benefits.fishtrack.com/billfish [R=301,L]
# -=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
