<Directory "/var/www/sites/admin-prod">
    Options Indexes FollowSymLinks Includes ExecCGI
    AllowOverride AuthConfig
    #Order allow,deny
    #Allow from all
    AuthUserFile        /var/www/auth/htpasswd
    AuthGroupFile       /var/www/auth/htgroups
    AuthName            "Surfline Prod"
    AuthType            Basic
    require             group surflineprod
    Order Deny,Allow
    Satisfy any
    SetEnvIf Request_URI "/healthcheck/jrun.cfm" allow_all
    SetEnvIf Request_URI "/cms/ext/" allow_all
    SetEnvIf Request_URI "/cms/images/" allow_all
    SetEnvIf Request_URI "/terraformresources/" allow_all
    SetEnvIf Request_URI "/ajax/" allow_all
    SetEnvIf Request_URI "/favicon.ico" allow_all
    Deny from all
    require             group surflinedev
    Allow from env=allow_all
</Directory>

<Directory /var/www/sites/admin-prod/healthcheck>
    Order allow,deny
    Allow from all
    Satisfy any
</Directory>

<Directory /var/www/sites/admin-prod/cms/ext>
    Order allow,deny
    Allow from all
    Satisfy any
</Directory>

<Directory /var/www/sites/admin-prod/cms/images>
    Order allow,deny
    Allow from all
    Satisfy any
</Directory>

<Directory /var/www/sites/admin-prod/terraformresources>
    Order allow,deny
    Allow from all
    Satisfy any
</Directory>

<Directory /var/www/sites/admin-prod/ajax>
    Order allow,deny
    Allow from all
    Satisfy any
</Directory>

<Directory /var/www/sites/admin-prod/lola>
    Order allow,deny
    Allow from all
    Satisfy any
</Directory>

<Directory "/var/www/sites">
    Options FollowSymLinks Includes ExecCGI
    AllowOverride AuthConfig
    Order allow,deny
    Allow from all
</Directory>
