.offer-error .offer-error__button {
  padding-top: 24px;
  .quiver-button {
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      color: #fff;
    }
    text-decoration: none;
  }
}
