@import '../../styles/variables';

.camAngleThumbnail {
  width: 145px;
  height: 92px;
  left: 46px;
  top: 280px;
  border-radius: 5px;
  border: 2px solid white;

  &:hover {
    border: 2px solid color('orange', 50);
  }
}

.camAngleOption {
  text-align: center;
  height: fit-content;
  appearance: none !important;
}

.camAngleName {
  width: 144px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: $ibm-plex-mono;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  letter-spacing: -0.5px;
  text-align: center;
  color: black;

  &:hover {
    color: black;
  }
}

.camAngle {
  width: 298px;
  max-height: 268px;
  height: fit-content;
  float: right;
  margin-right: 16px;
  top: 60px;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  position: relative;
  background: white;
  z-index: 20;
  filter: drop-shadow(0 0 1px color('gray', 85));
  border-radius: 5px;
  justify-content: space-between;
}

@media (max-width: 350px) {
  .camAngle {
    margin-right: 0;
    padding: 12px;
  }
}

.camAngleContainer {
  position: absolute;
  width: 100%;
}

@media (min-width: $tablet-large) {
  .camAngleContainer {
    padding: 0;
    width: 385px;
  }
}
