@import '../../styles/variables';

.clipFooter {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(100% - 32px);
  margin: 24px 16px 0;
}

.clipFooterRight {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 24px;
}

.clipFooterUserName {
  margin: 0;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 0;
}

.clipFooterWaveTime {
  margin: 0;
  height: 18px;
  line-height: 18px;
  color: color('gray', 55);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.11px;
}

.clipFooterRightTitle {
  margin: 0;
  color: color('black');
  font-size: 24px;
  height: 24px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
}

.clipFooterRightLabel {
  margin: 0;
  height: 13px;
  color: color('gray', 55);
  font-size: 10px;
  line-height: 13px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0;
}

@media (min-width: $tablet-width) {
  .clipFooter {
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 24px 0 0;
  }

  .clipFooterRightItem {
    &:not(:last-child) {
      margin-right: 64px;
    }
  }

  .clipFooterRight {
    display: flex;
    flex-flow: row nowrap;
    justify-content: unset;
    width: unset;
    margin-top: unset;
  }
}
