.sl-favorite-spot {
  position: relative;
  @include responsive-ratio(16,9,2);
  width: calc((100% / 2) - 2px);
  border: 1px solid color('light-blue', 5);
  cursor: pointer;
  position: relative;
  background-size: 100% 100%;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    background: color('black');
  }
  &:hover:before {
    opacity: .5;
  }
  &--favorited:before, &--favorited:hover:before {
    background: color('dark-blue', 10);
    opacity: .85;
  }
}

.sl-favorite-spot {
  .quiver-favorites-indicator {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.sl-favorite-spot__name {
  font-family: $futura-dem;
  font-weight: 400;
  font-size: 12px; // $font-size
  width: 95%;
  text-align: center;
  position: absolute;
  top: calc(50% + 10px);
  left: 50%;
  padding: 0 5px;
  transform: translate(-50%, -50%);
  color: color('white');
  letter-spacing: 1.2px;
  .quiver-cam-icon, .quiver-multi-cam-icon, .quiver-multi-cam-icon-with-text {
    margin-right: 6px;
    &__icon {
      fill: color('white');
    }
  }
}

@media (min-width: 420px) {
  .sl-favorite-spot {
    .quiver-favorites-indicator {
      top: 15px;
      right: 15px;
    }
  }

  .sl-favorite-spot__name {
    top: 50%;
    font-size: 14px;
  }
}

@media (max-width: $tablet-large) {
  .sl-onboarding-add-favorites__results {
    .sl-favorite-spot {
      .quiver-favorites-indicator {
        top: 5px;
        right: 5px;
      }
    }
  }
}

@media only screen and (min-width: 480px) {
  .sl-favorite-spot {
    .quiver-cam-icon, .quiver-multi-cam-icon, .quiver-multi-cam-icon-with-text {
      margin-top: 3px;
      vertical-align: text-top;
    }
  }

  .sl-favorite-spot__name {
    font-size: 16px; // $font-size;
  }
}

@media only screen and (min-width: $tablet-width) {
  .sl-favorite-spot {
    @include responsive-ratio(16,9,3);
    width: calc((100% / 3) - 2px);
  }
}

@media only screen and (min-width: $desktop-width) {
  .sl-favorite-spot__name {
    font-size: 18px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .sl-favorite-spot__add {
    width: 100%;
  }
}
