.sl-favorite-spots-grid__loading {
  width: 100%;
  position: relative;
  clear: both;
  margin: 0 auto;
  
  .quiver-spinner {
    padding: 30px;
    display: block;
    margin: 0 auto;
    width: 34px;
    height: 38px;
  }
}

.sl-favorite-spots-grid {
  display: flex;
  flex-flow: row wrap;
}
