.sl-favorite-spot-search {
  display: block;
  outline: none;
  width: calc(100% - 80px);
  height: 20px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 5px 0 rgba(170, 180, 189, 0.8);
  border: none;
  font-family: $source-sans-pro;
  font-size: 16px;
  opacity: 0.5;
  color: color('gray', 80);
  letter-spacing: 0.9px
}

@media only screen and (min-width: $tablet-width) {
  .sl-favorite-spot-search {
    width: calc(100% - 40px);
  }
}

@media only screen and (min-width: $medium-width) {
  .sl-favorite-spot-search {
    width: 720px;
  }
}
