.sl-favorite-spots-submit {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  .quiver-alert--error {
    position: absolute;
    top: -28px;
    padding: 5px;
    width: 100%;
  }

  button {
    height: 50px;
    width: 100%;
  }
}
