.sl-favorite-spots-header {
  text-align: center;
  margin: 0 20px;
  padding: 40px 0 0 0;

  h1 {
    font-family: $futura-dem;
    font-size: 24px;
    line-height: 35px;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin: 0;
    color: color('gray', 90);
  }
}

.sl-favorite-spots-header__message {
  margin-top: 7px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 1px;
  color: color('gray', 80);

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

@media only screen and (min-width: $medium-width) {
  .sl-favorite-spots-header {
    margin: 0 auto;
    width: 800px;
  }
}
