.sl-onboarding-footer-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  height: 87px;
  background-color: color('white');

  .quiver-button {
    font-size: 14px;
    width: 154px;
    padding: 0;
  }

  .sl-onboarding-footer-button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .sl-onboarding-footer-upgrade-button {
    margin-left: 16px;
    .quiver-button {
      background-color: color('green', 50);
      border-color: color('green', 50);
      &:hover, &:active, &:focus {
        border-color: color('green', 70);
        background-color: color('green', 70);
      }
    }
  }

  .sl-onboarding-continue-btn {
    .quiver-button {
      background-color: color('dark-blue', 10);
      border-color: color('dark-blue', 10);
      &:hover, &:active, &:focus {
        border-color: color('light-blue');
        background-color: color('light-blue');
      }
    }
  }

  .sl-onboarding-continue-btn--disabled {
    .quiver-button {
      background-color: color('blue-gray', 30);
      border-color:  color('blue-gray', 30);
      &:hover, &:active, &:focus {
        border-color:  color('blue-gray', 30);
        background-color:  color('blue-gray', 30);
      }
    }
  }
}

.sl-onboarding-footer-container--final-step {
  @media(max-width: $large-mobile) {
    .sl-onboarding-prev-step {
      display: none;
    }
  }
}

.sl-onboarding-skip-step {
  position: absolute;
  right: 2%;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: color('gray', 55);
  font-family: $source-sans-pro;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.29px;
  text-align: center;
  cursor: pointer;
  
  .quiver-chevron {
    stroke: color('gray', 55);
    margin-top: 2px;
    margin-left: 4px;
  }
}

.sl-onboarding-prev-step {
  position: absolute;
  left: 2%;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: color('gray', 55);
  font-family: $source-sans-pro;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.29px;
  text-align: center;
  cursor: pointer;
  
  .quiver-chevron {
    stroke: color('gray', 55);
    margin-top: 2px;
    margin-right: 4px;
  }
}

@media (min-width: $tablet-large) {
  .sl-onboarding-skip-step {
    right: 10%;
  }

  .sl-onboarding-prev-step {
    left: 10%;
  }
}
