.premium-benefits-creative {
  display: flex;
  justify-content: center;
  width: 100%;
  background:rgba(255,255,255, 0.06);
}

.premium-benefits-creative__section__text, .premium-benefits-creative__section__free, .premium-benefits-creative__section__premium {
  display: flex;
  flex-direction: column;
  font-family: $futura-surfline;
  padding-bottom: 20px;
}

.premium-benefits-creative__section__text {
  flex: 0 0 33.3%;
  margin-right: 16px;
}
.premium-benefits-creative__section__free {
  flex: 0 1 33.3%;
}
.premium-benefits-creative__section__premium {
  flex: 0 1 33.3%;
}

.premium-benefits-creative__text__div {
  margin: 10px 0px 10px 0px;
  align-self: center;
  font-size: 14px;
  color: color('white');
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  height: 17px;
  width: 150px;
  text-align: right;
}

.premium-benefits-creative__free__div {
  margin: 10px 0px 10px;
  align-self: center;
  height: 17px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.premium-benefits-creative__premium__div {
  margin: 10px 0px 10px;
  align-self: center;
  width: 16px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.premium-benefits-creative__dash {
  background-color: #42a5fc;
  width: 28px;
  height: 2px;
  align-self: center;
  margin-bottom: 26px;
}

.premium-benefits-creative__header {
  margin: 0px 0px 34px;
}

.premium-benefits-creative__header_text {
  margin: 20px 10px 8px 10px;
  color: color('white');
  font-size: 12px;
  font-family: $futura-dem;
  font-weight: 600;
  align-self: center;
  text-align: center;
  letter-spacing: 2px;
  line-height: 9.2px;
}

.premium-benefits-creative__container {
  padding-bottom: 20px;
}

@media (min-width: $tablet-large) {
  .premium-benefits-creative {
    width: unset;
  }
  .premium-benefits-creative__text__div {
    height: 19px;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0.8px;
    width: 180px;
  }
  .premium-benefits-creative__free__div,
  .premium-benefits-creative__premium__div {
    margin: 10px 0px 10px;
    height: 19px;
  }
  .premium-benefits-creative__section__premium {
    flex: unset;
  }
  .premium-benefits-creative__section__text {
    margin-right: unset;
  }
}
