.sl-toggle-spot-search-type {
  display: flex;
  justify-content: center;
}

.sl-toggle-spot-search-type__button {
  font-family: $source-sans-pro;
  font-size: 14px;
  text-transform: uppercase;
  margin: 24px 16px;
  padding: 4px 0 7px 0;

  &:hover {
    color: color('dark-blue', 10);
  }

  &--active {
    color: color('dark-blue', 10);
    padding-bottom: 4px;
    border-bottom: 3px solid color('dark-blue', 10);
  }
}
