.sl-meter-bottom-sheet-home__container {
  display: flex;
  flex-direction: column;
}
.sl-meter-bottom-sheet-home__header {
  font-family: $futura-dem;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: color('black');
  margin: 16px 2px 4px 2px;
}
.sl-meter-bottom-sheet-home__subheader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  h4 {
    font-family: $source-sans-pro;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    color: color('gray', 80);
    margin: 0px 2px;
    font-weight: normal;
  }
  button {
    background: none !important;
    border: none;
    font-family: $source-sans-pro;
    color: color('dark-blue', 10);
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
}
.sl-meter-bottom-sheet-home__actions {
  margin: 0px;
  .quiver-button {
    background-color: color('dark-blue', 10);
    border: 2px solid color('dark-blue', 10);
    width: 100%;
  }
}
.sl-meter-bottom-sheet-home__signin__label {
  font-family: $source-sans-pro;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: color('gray', 80);
  margin: 0px auto;
  a {
    color: color('dark-blue', 10);
    cursor: pointer;
  }
}
.sl-meter-bottom-sheet-home__signin__button {
  background: none !important;
  border: none;
  font-family: $source-sans-pro;
  color: color('dark-blue', 10);
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding-left: 5px;
}

@media (min-width: $tablet-width) {
  .sl-meter-bottom-sheet-home__actions {
    margin: 0px auto 0px auto;
    .quiver-button {
      width: 430px;
    }
  }
  .sl-meter-bottom-sheet-home__header {
    font-size: 26px;
    line-height: 31px;
    margin: 32px 0px 4px 0px;
  }
  .sl-meter-bottom-sheet-home__subheader {
    h4 {
      margin: 0px;
      font-size: 16px;
      line-height: 24px;
    }

  }
  .sl-meter-bottom-sheet-home__signin__label {
    margin: 5px auto 0px auto;
  }
}
