@import '../../styles/variables';

.slBuoyMap {
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;

  :global {
    .sl-buoy-card-placeholders {
      margin: 0;
      flex-flow: row nowrap;
      justify-content: flex-start;
      padding: 4px 16px 24px;
      overflow: auto;

      .sl-buoy-card-placeholder {
        margin: 0 8px 0 0;
      }
    }
  }
}

@media (min-width: $tablet-large) {
  .slBuoyMap {
    display: flex;
    flex-flow: column;

    // Full viewport height minus the size of the navbar
    max-height: calc(100vh - #{$header-height});
    height: 100%;

    :global {
      .sl-buoy-card-placeholders {
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 24px 20px;
        margin: 0;
        align-items: flex-start;
        overflow: unset;

        .sl-buoy-card-placeholder {
          margin: 0 0 20px;
        }
      }
    }
  }
}
