@import '~@surfline/quiver-themes/stylesheets/common/_colors.scss';

.poi-tool__travel-info__form__status {
	margin-bottom: 15px;
}

.poi-tool__sl-spot-data {
	.quiver-select--error {
    margin-bottom: 35px !important;
  }
  
  .error {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    padding-bottom: 15px;
    display: block;
    color: color('red', 50);
    line-height: 12px;
  }
}

.poi-tool-checkbox-control--error {
  margin-bottom: 0;
}