@mixin chartPosition {
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  bottom: -1px;
}

.sl-forecast-data-visualizer {
  position: relative;
  .quiver-surf-graph,
  .quiver-swell-graph,
  .quiver-wind-graph,
  .quiver-tide-graph,
  .quiver-weather-graph {
    @include chartPosition;
  }

  .sl-forecast-graphs-cta {
    display: none;
    position: absolute;
    top: 160px;
    left: 750px;
  }
}

.sl-forecast-data-visualizer__header {
  display: flex;
  align-items: center;
  margin: 0 16px;
  height: 16px;
  padding-top: 24px;

  .sl-change-units {
    top: 76.5px;
  }

  &--extended {
    justify-content: center;
    display: block;
    height: auto;
    margin: 0;
    padding: 0;

    .sl-change-units {
      top: 24px;
    }
  }

  a {
    @include linkStyle;
  }
}

.sl-forecast-data-visualizer__24-hour-header {
  font-family: $futura-dem;
  font-size: 18px;
  color: color('gray', 90);
}

.sl-forecast-data-visualizer__16-day-link {
  margin-left: 8px;
}

.sl-forecast-data-visualizer__header__lotus {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  top: 0;
  left: 0;
  right: unset;
  padding: 16px;
  h6 {
    color: color('black');
    height: 14px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin: 0;
  }
  p {
    color: color('gray', 90);
    font-size: 12px;
    height: 15px;
    letter-spacing: 0;
    margin: 0;
  }
}

.sl-forecast-data-visualizer__header--regional-page {
  .sl-forecast-data-view-toggle {
    position: relative;
  }
}

@media (min-width: $large-mobile) {
  .sl-forecast-data-visualizer__header {
    .sl-change-units {
      top: 24px;
    }
  }
}

@media (min-width: 840px) {
  .sl-forecast-data-visualizer__header__lotus {
    top: unset;
    left: 0;
    padding: 16px;
    h6 {
      height: 16px;
      font-size: 16px;
      letter-spacing: 0.67px;
    }
    p {
      font-size: 14px;
      height: 18px;
    }
  }
}

@media (min-width: $tablet-large) {
  .sl-forecast-data-visualizer__header {
    display: flex;
    position: relative;
    height: 64px;
    margin: 0 24px;
    padding: 0;
    border-bottom: 1px solid color('blue-gray', 20);

    &--extended {
      padding: 24px 0;
      min-height: 32px;

      .sl-change-units {
        top: 48px;
      }
    }

    .sl-forecast-time-view-toggle,
    .sl-chart-range-selector,
    .sl-swell-trend-slider,
    .sl-forecast-time-view-dropdown {
      display: flex;
      position: relative;
      flex-grow: 1;
    }

    .sl-forecast-time-view-toggle,
    .sl-forecast-time-view-dropdown {
      order: 1;
      justify-content: flex-start;
    }

    .sl-swell-trend-slider {
      justify-content: center;
      flex-grow: 2;
      order: 2;
    }

    .sl-chart-range-selector {
      justify-content: flex-end;
      order: 2;
      flex-grow: 1.5;
    }

    .sl-forecast-data-view-toggle {
      position: relative;
      justify-content: flex-end;
      padding: 0;
      order: 3;
    }
  }

  .sl-forecast-data-visualizer__header--spot-page {
    padding: 24px 0;
    min-height: 32px;

    .sl-forecast-data-view-toggle {
      flex-grow: 1;
    }
  }

  .sl-forecast-data-visualizer__header--regional-page {
    .sl-swell-trend-slider {
      justify-content: flex-end;
      flex-grow: 1.7;
      @media (min-width: $desktop-large) {
        flex-grow: 1.35;
      }
    }

    .sl-forecast-data-view-toggle {
      flex-grow: 1;
    }
  }

  .sl-forecast-data-visualizer--extended {
    .sl-forecast-graphs-cta {
      margin-bottom: 30px;
      height: calc(100% - 320px);
      left: 487px; // new_premium cta left
      width: 403px; // new_premium cta width
      display: flex;
      flex-flow: column;
    }

    .quiver-chart-loading,
    .quiver-error-box {
      flex: none;
      flex-basis: calc(100% - 230px);
    }
  }

  .sl-forecast-data-visualizer--premium {
    .quiver-chart-loading,
    .quiver-error-box {
      flex: 1 1 0;
    }
  }
  .sl-forecast-data-visualizer__header__lotus {
    padding: 0px;
  }

  .sl-forecast-data-visualizer__header__lotus--hourly {
    order: 3;
    justify-content: flex-end;
  }

  .sl-forecast-data-visualizer__header--table-view {
    .sl-forecast-data-view-toggle {
      flex-grow: 1;
    }
  }
}

@media (min-width: $desktop-small) {
  .sl-forecast-data-visualizer--extended {
    .sl-forecast-graphs-cta {
      left: 508px; // new_premium cta left
      width: 664px; // new_premium cta width
      height: calc(100% - 320px);
    }

    .quiver-chart-loading,
    .quiver-error-box {
      flex-basis: calc(100% - 482px);
    }
  }
}

@media (min-width: $desktop-large) {
  .sl-forecast-data-visualizer--extended {
    .sl-forecast-graphs-cta {
      left: 580px; // new_premium cta left
      width: 1048px; // new_premium cta width
    }

    .quiver-chart-loading,
    .quiver-error-box {
      flex-basis: calc(100% - 831px);
    }
  }
}
