.sl-spot-report-page__cameras--multi-cam {
  background-color: color('dark-blue', 90);
  padding-bottom: 8px;
  .sl-spot-report-page__multi-cam-controls {
    padding-top: 47px;
  }
  .sl-spot-report-page__camera {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.sl-spot-report-page-multi-cam {
  position: relative;
  display: flex;
  .quiver-cam-player__player__host-ad {
    // Host ad has inline style to hide/show based on streaming
    // Therefore desktop approach first in this scenario
    @media (max-width: $medium-width) {
      display: none !important;
    }
  }
}

.sl-spot-report-page-multi-cam__secondaries {
  border-left: 1px solid color('dark-blue', 90);
}

.sl-spot-report-page-multi-cam--single {
  .sl-spot-report-page-multi-cam__primary {
    width: 100%;
  }
}

.sl-spot-report-page-multi-cam--double,
.sl-spot-report-page-multi-cam--triple,
.sl-spot-report-page-multi-cam--quad {
  .jw-controlbar-left-group, // hide timer
  .jw-controlbar-center-group, // hide live broadcast message
  .jw-display-controls .jw-icon, // hide pause button in middle of player (live flag displays loading spinner)
  .jw-icon-tooltip.jw-icon-volume, // hide volume icon
  .jw-icon.jw-icon-live, // hide live icon
  .jw-cam-rewind { // hide rewind icon
    display: none;
    @media (min-width: $large-mobile) {
      display: flex;
    }
  }
  &:hover .jwplayer.jw-flag-live .jw-icon-fullscreen { // display only full-screen icon on hover
    display: flex;
  }
}

.sl-spot-report-page-multi-cam--double {
  .sl-spot-report-page-multi-cam__primary {
    flex: 0 0 50%;
    order: 1;
  }
  .sl-spot-report-page-multi-cam__secondary {
    flex: 0 0 calc(50% - 1px);
    border-left: 1px solid color('dark-blue', 90);
    order: 2;
  }
}

.sl-spot-report-page-multi-cam--triple {
  .sl-spot-report-page-multi-cam__primary {
    flex: 0 0 calc(66.6% - 1px);
    border-right: 1px solid color('dark-blue', 90);
  }
  .sl-spot-report-page-multi-cam__secondary {
    position: absolute;
    right: 0;
    left: 66.6%;
  }
  .sl-spot-report-page-multi-cam__secondary--2 {
    top: 0;
    bottom: 50%;
  }
  .sl-spot-report-page-multi-cam__secondary--3 {
    border-top: 1px solid color('dark-blue', 90);
    bottom: 0;
    top:49.6%;
  }
}

.sl-spot-report-page-multi-cam--quad {
  flex-flow: column;
  .sl-spot-report-page-multi-cam__primary {
    position: relative;
    width: 50%;
    top: 0;
    bottom: 50%;
    order: 1;
  }
  .sl-spot-report-page-multi-cam__secondary--3 {
    position: relative;
    order: 2;
    top: calc(50% - 1px);
    width: calc(50% - 1px);
    bottom: 0;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: color('dark-blue', 90);
  }
  .sl-spot-report-page-multi-cam__secondary--2 {
    position: absolute;
    top: 0;
    right: 0;
    left: calc(50% - 1px);
    bottom: calc(50% - 1px);
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: color('dark-blue', 90);
    z-index: 1;
  }
  .sl-spot-report-page-multi-cam__secondary--4 {
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 50%;
  }
  .sl-spot-report-page-multi-cam__secondaries {
    flex: 0 0 calc(50% - 1px); // - 1px to account for the border
    border-left: 1px solid color('dark-blue', 90);
    .sl-spot-report-page-multi-cam__secondaries__cam {
      height: 50%;
    }
    .sl-spot-report-page-multi-cam__secondaries__cam--2 {
      position: absolute;
      bottom: 0;
      left: 0;
      top: 50%;
      right: 50%;
      @media (min-width: $desktop-large) {
        top: 50%;
      }
    }
    .sl-spot-report-page-multi-cam__secondaries__cam--3, .sl-spot-report-page-multi-cam__secondaries__cam--2 {
      border-top: 1px solid color('dark-blue', 90);
      height: calc(50% - 1px);
    }
  }
}

.sl-spot-report-page-multi-cam__secondaries {
  display: flex;
  &--double {
    flex-flow: row nowrap;
    width: 50%;
  }
  &--triple {
    flex-flow: column nowrap;
  }
  &--quad {
    flex-flow: column nowrap;
  }
}

.sl-spot-report-page-multi-cam__secondary, .sl-spot-report-page-multi-cam__primary {
  .sl-spot-report-page__camera-container {
    @include aspect-ratio(16,9);
    background-color: color('black');
  }
}

.sl-spot-report-page-multi-cam__camStill {
  @include aspect-ratio(16,9);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.sl-spot-report-page-multi-cam__paywall {
  opacity: .35;
}

.sl-spot-report-page__cameras--multi-timeout {
  .quiver-cam-timeout {
    z-index: 2;
  }
  .jw-svg-icon-play {
    display: none;
  }
  .sl-spot-report-page-multi-cam__camStill {
    opacity: .35;
  }
}

.sl-multi-cam-loading {
  @include aspect-ratio(16,9);

  // We have to account for special aspect ratios of triple and dual to
  // match the correct container sizes so it doesn't jump around
  &--double {
    @include aspect-ratio(32,9);
  }
  &--triple {
    @include aspect-ratio(16, 6);
  }
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
  }
}

.sl-spot-report-page-multi-cam--triple {
  .sl-spot-report-page-multi-cam__secondary {
    .quiver-cam-error__message {
      font-size: 15px;
      line-height: 21px;
    }
  }
}

.sl-spot-report-page-multi-cam--quad {
  .quiver-cam-error__message {
    font-size: 15px;
    line-height: 21px;
  }
}

@media (min-width: $tablet-large) {
  .sl-spot-report-page__cameras--multi-cam {
    padding: 0;
  }
}
