@import '../../styles/variables';

.spotMap {
  height: 100%;
  overflow: hidden;

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  :global {
    .quiver-spot-marker__container {
      transform: translateX(-50%);
    }

    .leaflet-container {
      height: 100%;
      width: 100%;
    }

    .leaflet-pane {
      z-index: zindex(map-tile-layer);

      .leaflet-tile-pane {
        z-index: zindex(map-tile-layer);
      }
    }

    .leaflet-top,
    .leaflet-bottom {
      z-index: zindex(map-control);
    }
  }
}

.spotMapOverlayMarker {
  position: absolute;
  pointer-events: all;
  z-index: zindex(map-overlay);

  // set size to 0 to avoid tooltip causing map scroll bug;
  width: 0;
  height: 0;
}

.spotMapBottomLeft {
  position: absolute;
  margin-bottom: 25px;
  margin-left: 10px;
  bottom: 0;
  left: 0;
  z-index: zindex(map-control);

  a {
    display: inline-block;
    margin-right: 5px;
  }
}

.spotMapBottomRight {
  position: absolute;
  margin-right: 10px;
  margin-bottom: 25px;
  bottom: 0;
  right: 0;
  z-index: zindex(map-control);
}
