@import '../../../styles/variables';

.buoyReadingsHeader {
  grid-area: 1 / 1 / 2 / 5;
  margin-left: -8px;

  :global {
    .quiver-error-box {
      font-size: 14px;
      display: flex;
      text-align: left;
      padding: 8px;
      padding-left: 16px;
      line-height: 18px;
      justify-content: left;
      margin: 0;
    }
  }
}

.buoyReadingsHeaderError {
  margin-left: -8px;
  display: flex;
  flex-direction: column;
}

.buoyReadingsHeaderTitle {
  font-weight: 500;
  font-family: $futura-surfline;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: color('black', 40);
  margin: 0 0 4px;
}

.buoyReadingsHeaderSubTitle,
.buoyReadingsHeaderErrorSubTitle {
  font-family: $source-sans-pro;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: color('gray', 90);
}

.buoyReadingsHeaderSubTitle {
  margin-left: 4px;
}

.buoyReadingsHeaderOffline .buoyReadingsHeaderSubTitle {
  color: color('bright-red', 30);
}

.buoyReadingsHeaderError .buoyReadingsHeaderSubTitle {
  display: none;
}

.buoyReadingsHeaderErrorSubTitle {
  display: none;
  padding-top: 10px;
}

@media (min-width: $tablet-width) {
  .buoyReadingsHeader {
    margin: 8px 0 4px;
    display: flex;
  }

  .buoyReadingsHeaderTitle {
    margin: 0;
  }

  .buoyReadingsHeaderSubTitle {
    margin: 0 0 0 8px;
  }

  .buoyReadingsHeaderErrorSubTitle {
    display: block;
  }

  .buoyReadingsHeaderLoading .buoyReadingsHeaderErrorSubTitle {
    padding-left: 10px;
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .buoyReadingsHeaderError {
    grid-area: 1 / 1 / 2 / 5;
    padding-right: 50px;
  }

  .buoyReadingsHeaderTitle {
    font-size: 22px;
  }

  .buoyReadingsHeaderSubTitle {
    margin: 3px 0 0 8px;
  }
}
