@import '~@surfline/quiver-themes/stylesheets/common/_fonts';
@import '~@surfline/quiver-themes/stylesheets/common/_colors';
@import '../../styles/variables';

.quiver-spot-forecast-summary {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  @media (min-width: $tablet-width) {
    flex-flow: row nowrap;
  }

  .quiver-spot-forecast-summary__wrapper {
    display: flex;
    flex-flow: row wrap;
    margin: -12px 0;
    @media (max-width: $tablet-width) {
      margin-bottom: 18px;
    }
  }
  .quiver-spot-forecast-summary__stat {
    flex: 0 1 50%;
    margin: 12px 0;
    @media (min-width: 530px) {
      flex: 0 1 33.3333%;
    }
  }
  @media (max-width: 740px) {
    .quiver-water-temp,
    .quiver-weather-stats {
      flex-direction: column;
      margin-bottom: 0px;
      h4 {
        display: block;
      }
    }
  }
}

.sl-multi-cam-surf-report {
  order: 5;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  max-width: 1600px;
  padding: 24px 24px 100px 24px;
  background-color: color('white');

  sup {
    vertical-align: baseline !important; // We don't want the sub aligned sup's
  }

  .quiver-colored-condition-bar {
    margin-top: 16px;
    padding-left: 16px;
    height: 40px;
    font-size: 16px;
  }

  .quiver-async-data-container__loading {
    margin-bottom: 8px;
  }
}

.sl-multi-cam-surf-report-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
