dn: <%= @base_dn %>
objectClass: top
objectClass: dcObject
objectclass: organization
o: <%= @dc %>
dc: <%= @dc %>

dn: cn=Manager,<%= @base_dn %>
objectClass: organizationalRole
cn: Manager
description: Directory Manager

dn: ou=People,<%= @base_dn %>
objectClass: organizationalUnit
ou: People

dn: ou=Group,<%= @base_dn %>
objectClass: organizationalUnit
ou: Group
