dn: uid=jcdenton,ou=People,<%= @base_dn %>
objectClass: top
objectClass: account
objectClass: posixAccount
objectClass: shadowAccount
cn: jcdenton
uid: jcdenton
uidNumber: 16859
gidNumber: 100
homeDirectory: /home/jcdenton
loginShell: /bin/bash
gecos: jcdenton
userPassword: {SSHA}LAiiE36DL3di1T43v8rjRCeXp9Q4Inmp
shadowLastChange: 0
shadowMax: 0
shadowWarning: 0
