.actions_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.actions_container .actions {
  flex: 0 1 600px;
}

.actions_container .actions .action {
  margin-bottom: 16px;
  min-height: 150px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.actions_container .actions .action--safe {
  border: 1px solid #23D737;
  background-color: rgba(#23D737, .2);
  margin-right: 16px;
}

.actions_container .actions .action--destructive {
  border: 1px solid #F98694;
  background-color: rgba(#F98694, .2);
}

.actions_container .actions .action .action__description {
  display: flex;
  align-items: flex-start;
  flex: 1;
  .info-icon {
    margin: 0 4px;
  }
  span {
    font-style: italic;
  }
}

.actions_container .actions .action .action__button {
  display: flex;
  justify-content: flex-start;
}

.action__button__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
