@import './Variables.scss';

.edit-user-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: left;
  margin-bottom: 20px;
}

.edit-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.user-info__form {
  display: flex;
  flex-direction: column;
  div {
    margin-bottom: 10px;
  }
}

.error-block {
  margin-top: 5px;
  background-color: $error-red;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-block__message {
  color: $solid-white;
  margin: 5px 0px 5px 0px;
}

.user-info__email {
  font-size: 21px;
  color: $sub-text-gray;
  margin: 5px 0px;
}

.edit-info__action-buttons {
  display: flex;
  min-width: 300px;
  justify-content: space-evenly;
  .quiver-button {
    width: 100%;
    &:nth-child(2) {
      margin-left: 10px;
    }
  }
}

.user-info__verified {
  color: #23d737;
}

.user-info__verification-label {
  margin-left: 20px;
}

.user-info__verify-link {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  color: #42a5fc;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 5px;
}

.user-info__verification-error span {
  margin: 0px 5px;
  color: #ff0000;
}
