.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

  .user-info {
    display: flex;
     flex-direction: column;
  }

  .user-name {
    margin: 10px 0px;
    margin-top: 0;
  }

  .stripe-link {
    margin-top: 0;
    font-size: 16; 
  }
}