@import './Variables.scss';

.in-app-purchases {

  .in-app-purchase {
    display: flex;
    justify-content: space-between;
    height: 75;
    &:nth-child(even) {
      background-color: $sl-light-blue-10;
    }
    &:nth-child(odd) {
      background-color: $solid-white;
    }
  }

  .iap-sub-id {
    line-height: 75px;
    margin: 0 0 0 30px;
    color: $sub-text-gray;
  }
}