@import '~@surfline/quiver-themes/stylesheets/crossbrand.scss';
@import '~@surfline/admin-common/assets/styles.css';
@import '~@surfline/quiver-themes/stylesheets/common/_colors.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/Spinner.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/ErrorBox.scss';
@import './SubscriptionTable.scss';
@import './InAppPurchases.scss';
@import './Header.scss';
@import './Table.scss';
@import './Receipts.scss';
@import './EditInfo.scss';
@import './Actions.scss';
@import './meter.scss';
@import './Users.scss';
@import './SubscriptionUsers.scss';

body {
  background-color: #fff;
}

.header__label {
  width: 100%;
  text-align: left;
  margin: 0;
  text-transform: uppercase;
}

.section {
  margin-top: 40px;
}

.flex-btn {
  display: flex;
}

.header-section__token-actions {
  display: flex;
}

.masquerade {
  margin-right: 10px;
}

.edit-page {
  width: 1250px;
}

.user-actions {
  display: flex;
  flex-direction: column;
}

.user-action {
  margin: 16px 16px;
}

.user-action__message {
  margin: 8px 0;
}

.user-action__result .result__password {
  margin: 8px 0;
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding: 4px 0;
  cursor: pointer;
}

.user-action__result .result__password--not-copied {
  border: 1px solid #42a5fc;
  color: #000;
}

.user-action__result .result__password--copied {
  border: 1px solid #23d737;
  color: #fff;
  background-color: #23d737;
}

.user-action__result .result__message {
  font-size: 11px;
  color: #6e7273;
}

.error-boundary {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-boundary__header {
  margin: 10px 0;
}

.quiver-button,
.quiver-button--loading {
  min-width: 300px;
}
