.sl-admin-meter__section-title {
  margin: 8px;
}

.quiver-error-box {
  padding: 24px;
}

.sl-admin-meter__header {
  margin: 8px 0;
  text-transform: uppercase;
}

.sl-admin-meter__no-meter {
  margin: 0;
}

.sl-admin-meter__form {
  width: 30%;
  margin: 0px 32px;

  .quiver-input {
    margin-bottom: 16px;
    min-width: 300px;
  }

  .quiver-error-box {
    padding: 16px 32px;
    text-align: center;
    margin: 8px 0;
  }
}

.sl-admin-meter {
  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  thead {
    font-weight: bold;
  }

  td {
    padding-right: 5vw;
  }
}

.sl-admin-surfcheck {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  justify-content: flex-start;

  thead tr {
    background-color: #e7f3ff;
  }

  tbody tr:nth-child(odd) {
    background-color: color('gray', 10);
  }

  td {
    padding: 10px 70px 10px 16px;
  }

  td:first-child {
    padding-right: 40px;
  }
}

.sl-admin-surfcheck__used {
  font-weight: bold;
}

.sl-admin-surfcheck__info {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  margin-top: 10px;
}
