@import './Variables.scss';

.receipts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.receipts__header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.receipt-section {
  display: flex;
  flex-direction: row;
  width: 95%;
  padding: 20px 0px;
  border-style: solid;
  border-color: black;
  border-width: 0px 0px 1px 0px;
  &:last-child {
    border-bottom-width: 0px;
  }
}

.receipt {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.receipt__headers {
  display: flex;
  margin: 10px 0px;
}

.receipt__header {
  margin-right: 20px;
  * {
    display: inline-block;
    margin: 0px 5px 0px 0px;
  }
}

.receipt__header-type {
  text-transform: uppercase;
}

.receipt__purchases {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.receipt__purchase {
  display: flex;
  margin: 10px 0px;
}

.receipt__purchase-info {
  display: flex;
  flex-direction: column;
  * {
    margin: 0px 10px 0px 0px;
  }
}

.receipt__validation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  .receipt {
    width: 100%;
  }
}

.receipt__validation-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.receipt__validation-err-msg {
  width: 100%;
  text-align: center;
  margin: 5px;
  padding: 10px 0px;
  background-color: #FA5065;
  color: white;
}

.receipts__error {
  margin: 5px 0px;
  padding: 10px 0px;
  width: 100%;
  text-align: center;
  background-color: $error-red;
  color: white;
}

.receipts__notfound {
  text-align: left;
  width: 100%;
  margin: 5px 0px;
  color: black;
}