.sl-admin-subscription-users{
  margin-top: 40px;
}

.sl-admin-subscription-users__form{
    width: 30%;
    margin: 20px 0px;
  
    .quiver-input {
      margin-bottom: 16px;
      min-width: 300px;
    }
  
    .quiver-error-box {
      padding: 16px 32px;
      text-align: center;
      margin-bottom: 16px;
    }
}
