@import './Variables.scss';

.flex-table {
  flex-flow: column nowrap;
  flex: 1 1 auto;
  margin: 5px 0px 10px 0px;
  display: flex;
  border: 2px solid black;
  width: 100%;

  .flex-table-row {
    width: 100%; // Tiny little work around for borders until CSS is added
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid black;
    &:last-child {
      border-bottom: 0px;
    }
  }

  .table-block {
    p {
      margin: 0px;
      color: $sub-text-gray;
      font-size: 12px;
    }
  }
  .table-header {
    p {
      margin: 0px;
      color: black;
      font-size: 15px;
      font-weight: 600;
    }
  }
  .table-item {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    word-break: break-word;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    border-right: 1px solid black;
    &:last-child {
      border-right: 0px;
    }
  }
  .table-item-text {
    font-size: 12px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
  }
}
