.search__container {
  min-width: 700px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.search-input {
  display: flex;
  margin-bottom: 20px;
}

.search-results__table {
  border-collapse: collapse;
  color: #333333;
}

.search-results__table th {
  text-align: left;
  background-color: #036;
  color: #fff;
  padding: 12px 24px;
}

.search-results__table tbody tr {
  cursor: pointer;
  &:nth-child(even) {
    background-color: #e6f3ff;
  }
  &:hover {
    background-color: #b5dbfc;
  }
}

.search-results__table td a {
  display: block;
  &:first-child {
    display: flex;
    padding: 12px 24px;
    text-decoration: none;
    color: inherit;
    z-index: 0;
  }
}
