.sl-editorial-taxonomy {
  &__ad {
    padding: 15px 0;
    background: color('white');
    width: 100%;
    position: relative;
    .quiver-google-dfp {
      margin: 0 auto;
      text-align: center;
    }
  }
  .quiver-content-container {
    margin-bottom: 24px;
    .sl-page-loading {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .sl-editorial-taxonomy__header {
      margin: 32px 15px;
      margin-top: 0px;
      width: 100%;
      h1 {
        width: 100%;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0px;
        font-family: $futura-dem;
        color: color('gray', 90);
        margin: 0;
        text-transform: capitalize;
      }
      @media(min-width: $medium-width) {
        h1 {
          font-size: 48px;
          line-height: 48px;
        }
        &__ad {
          min-height: 161px;
        }
        margin-left: 0px;
        margin-right: 0px;
      }
    }
    .sl-editorial-taxonomy__header__nav {
      margin-top: 12px;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      &__terms {
        width: 1032px;
        height: 24px;
        &__term {
          color: color('dark-blue', 10);
          margin-right: 32px;
          display: inline;
          text-decoration: none;
          font-size: 14px;
          letter-spacing: 0.6px;
          font-weight: 600;
          &:hover {
            color: color('light-blue', 70);
          }
        }
        &__term--active {
          color: color('gray', 90);
          border-bottom: 2px solid;
        }
      }
    }
    .sl-editorial-taxonomy__header__breadcrumbs {
      margin-bottom: 12px;
      &__crumb {
        display: inline;
        position: relative;
        line-height: 14px;
        font-size: 14px;
        font-weight: 600;
        margin-right: 44px;
        a {
          text-decoration: none;
          color: color('dark-blue', 10);
          &:hover {
            color: color('light-blue', 70);
          }
        }
        svg {
          margin-left: 20px;
          height: 8px;
          position: absolute;
          top: 32%;
          stroke: $gray-blue;
        }
        &:last-of-type {
          svg {
            display: none;
          }
        }
      }
    }
  }
}

@media(min-width: $medium-width) {
  .sl-editorial-taxonomy {
    &__ad {
      .quiver-google-dfp {
        margin: 0 auto;
      }
    }
  }
}
