.sl-forecast-article {
  h1 {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 8px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  padding: 24px 16px;
  .quiver-share-article {
    margin: 0;
    button {
      width: 30px;
      height: 30px;
    }
  }
  .quiver-forecaster-profile {
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    margin: 8px 0;
    br {
      display: none;
    }
  }

  .quiver-forecaster-profile__image-container {
    height: auto;
    width: auto;
    img {
      width: 40px;
      height: 40px;
      margin-right: 8px;
    }
  }

  .quiver-forecaster-profile__forecaster-name {
    display: block;
    font-family: $futura-surfline;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0;
    font-weight: 400;
  }

  .quiver-forecaster-profile__forecaster-title {
    vertical-align: top;
  }
  .wp-caption-text {
    margin: 0 auto !important;
    padding-top: 0 !important;
  }
  p {
    color: color('gray', 90);
  }
  img {
    width: 100%;
    height: auto;
  }
  center {
    margin-top: -16px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: color('gray', 55)!important;
  }
  .quiver-base-content-card__paywall {
    padding-bottom: 30px;
    border-bottom: 1px solid color('gray', 20);
  }
}

.sl-forecast-article__title {
  font-family: $futura-dem;
  color: color('gray', 90);
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
}

.sl-forecast-article__break {
  margin: 16px 0;
  border-bottom: 1px solid color('light-blue', 5);
}

.sl-forecast-article__forecast-articles {
  width: calc(100% - 32px);
  padding: 8px 16px;
  margin: 32px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.05);
}

.sl-forecast-article__content {
  img[class^="wp-image"], img[class*=" wp-image"] {
    height: 100%;
    width: 100%;
  }
  div[class^="jwplayer"], div[class*=" jwplayer"] {
    width: 100% !important;
    padding-bottom: 56.25%;
  }
  .forecast {
    width: calc(100% - 34px);
    max-width: 640px;
    margin: 24px auto 40px;
    padding: 16px;
    color: color('gray', 90);
    font-size: 16px;
    line-height: 24px;
    border: solid 1px color('gray', 30);
    text-align: center;
    .headline {
      margin-bottom: 8px;
      font-family: $futura-surfline;
      font-size: 18px;
    }
    .info {
      font-size: 18px;
      line-height: 32px;
      color: color('gray', 80);
    }
    a {
      text-transform: uppercase;
      font-weight: 600;
      color: color('green', 50);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .wp-cam-embed {
    .jwplayer {
      height: 100% !important;
    }
  }
  .quiver-aspect-ratio-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.sl-forecast-article__content-container {
  position: relative;
}

@media(min-width: $tablet-width) {
  .sl-forecast-article {
    padding: 48px 16px;
    .quiver-share-article {
      margin: 16px 0 24px;
    }
    center {
      font-size: 16px;
    }
  }
  .sl-forecast-article__title {
    font-size: 24px;
  }
  .sl-forecast-article__content {
    p {
      font-size: 16px;
    }
    li {
      font-size: 16px;
    }
    img {
      width: auto;
      max-width: 600px;
      margin: 24px auto;
      display: block;
    }
    .forecast {
      padding: 24px;
    }
  }
}

@media(min-width: $tablet-large) {
  .sl-forecast-article__forecast-articles {
    margin-top: 0;
  }
  .sl-forecast-article {
    .quiver-page-rail--left {
      margin-right: 32px;
      width: calc(100% - 320px - 32px);
    }
  }
}

@media(min-width: $desktop-width) {
  .sl-forecast-article__content {
    .forecast {
      padding: 24px 40px;
    }
  }
}

@media(min-width: $x-large-width) {
  .sl-forecast-article__content {
    .forecast {
      .headline {
        font-size: 20px;
      }
      .info {
        font-size: 20px;
        line-height: 36px;
      }
    }
  }
}
