.sl-swell-event {
  background-color: color('blue-gray', 10);
  padding-bottom: 16px;
  .quiver-swell-event-card {
    margin-bottom: 8px;
    .quiver-swell-event-card__thumbnail {
      display: none;
    }
    .quiver-swell-event-card__details {
      width: calc(100% - 32px);
    }
  }
  .sl-sticky-ad-unit {
    padding-top: 16px;
  }
}

.sl-swell-event__content__wrapper {
  position: relative;
}

.sl-swell-event__article__image__button__wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.sl-swell-event__article__image__button {
  pointer-events: none;
  position: absolute;
  right: 14px;
  bottom: 4px;

  svg {
    fill: white;
    pointer-events: none;
    width: 24px;
  }
}
.sl-travel-page-container p > img {
  cursor: pointer;
}

.sl-swell-event__content {
  display: flex;
  flex-direction: column;
}

.sl-swell-event__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url('../../../containers/routes/SwellEvent/purple-swell-lines.png');
  background-color: color('swell-purple');
}

.sl-swell-event__header__content {
  padding: 72px 16px 16px;
}
.sl-swell-event__header__content {
  width: calc(100% - 32px);
  .quiver-share-article {
    .quiver-share-article__facebook {
      border: 1px solid color('white');
      height: 28px;
      width: 28px;
      .quiver-facebook-icon {
        fill: white;
        height: 13px;
        width: 13px;
      }
      &:hover {
        background: color('white');
        .quiver-facebook-icon {
          fill: color('social', 'facebook');
        }
      }
    }
    .quiver-share-article__twitter {
      border: 1px solid color('white');
      height: 28px;
      width: 28px;
      .quiver-twitter-icon {
        fill: white;
        height: 13px;
        width: 13px;
      }
      &:hover {
        background: color('white');
        .quiver-twitter-icon {
          fill: color('social', 'twitter');
        }
      }
    }
    .quiver-share-article__clipboard {
      border: 1px solid color('white');
      height: 28px;
      width: 28px;
      .quiver-clipboard-icon {
        fill: white;
        height: 13px;
        width: 13px;
      }
      &:hover {
        background: color('white');
        .quiver-clipboard-icon {
          fill: color('black');
        }
      }
    }
  }
}

.sl-swell-event__tag {
  font-family: $futura-surfline;
  font-size: 12px;
  font-weight: 400;
  color: color('swell-purple');
  display: flex;
  background-color: color('white');
  height: 17px;
  width: 84px;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.sl-swell-event__title {
  white-space: initial;
  font-size: 32px;
  line-height: 32px;
  color: color('white');
  margin: 16px 0px;
}
.sl-swell-event__updated {
  display: none;
  font-size: 18px;
  margin-left: 12px;
}
.sl-swell-event__updated {
  display: none;
  font-size: 18px;
  margin-left: 12px;
}
.sl-swell-event__summary {
  margin: 0 0 16px 0;
  font-size: 16px;
  line-height: 24px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.7px;
}

.sl-swell-event__content__feed__wrapper {
  .sl-swell-event-highlights {
    display: none;
  }
}

.sl-swell-event__content__feed {
  width: 100%;
  background-color: color('white');
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  hr {
    width: calc(100% - 32px);
    border: none;
    border-top: 1px solid color('blue-gray', 10);
    line-height: 0;
  }
  .sl-swell-event__article-container {
    padding: 24px 32px 0px 32px;
    img[class^='wp-image'],
    img[class*=' wp-image'] {
      height: 100%;
    }
    .sl-swell-event__article-author {
      display: flex;
      flex-direction: row;
      .sl-swell-event__author-icon {
        border-radius: 50%;
        border: 1px solid color('swell-purple');
        height: 32px;
        width: 32px;
      }
      .sl-swell-event__author-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 12px;
        .sl-swell-event__author-name {
          font-size: 14px;
          font-weight: 400;
          font-family: $futura-surfline;
        }
        .sl-swell-event__author-updated {
          color: $gray-blue;
          font-size: 14px;
        }
      }
    }
    .quiver-forecast-article-card__body-wrapper {
      h2 {
        font-size: 28px;
        line-height: 36px;
        margin: 0;
        padding: 8px 0;
      }
      h3 {
        font-size: 20px;
        margin: 0;
      }
      .quiver-forecast-article-card__body-container {
        p {
          font-size: 16px;
          line-height: 24px;
          color: color('gray', 90);
        }
        .wp-caption-text {
          font-size: 14px !important;
          line-height: 18px !important;
          padding-top: 8px !important;
          padding-bottom: 16px !important;
        }
        .forecast {
          width: calc(100% - 34px);
          max-width: 640px;
          margin: 24px auto 40px;
          padding: 16px;
          color: color('gray', 90);
          font-size: 16px;
          line-height: 24px;
          border: solid 1px color('gray', 30);
          text-align: center;
          .headline {
            margin-bottom: 8px;
            font-family: $futura-surfline;
            font-size: 18px;
          }
          .info {
            font-size: 18px;
            line-height: 32px;
            color: color('gray', 80);
          }
          a {
            text-transform: uppercase;
            font-weight: 600;
            color: color('green', 50);
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .quiver-aspect-ratio-content {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          .quiver-premium-cam-cta__content {
            .quiver-premium-cam-cta__heading {
              width: 325px;
              font-size: 24px;
              margin-bottom: 24px;
            }
            .quiver-premium-cam-cta__subheading {
              margin-bottom: 20px;
            }
            .quiver-premium-cam-cta__links__upgrade {
              margin-bottom: 16px;
            }
          }
        }
      }
      .quiver-forecast-article-card__body {
        height: auto;

        &::after {
          content: none;
        }

        div[class^='jwplayer'],
        div[class*=' jwplayer'] {
          width: 100% !important;
          height: 100% !important;
          padding-bottom: 56.25%;
        }
      }
    }
  }
}

.sl-swell-event__article-time {
  padding-top: 16px;
  font-size: 14px;
  font-weight: 600;
}

.sl-swell-event__content__overview__mobile {
  display: block;
}
.sl-swell-event__content__overview__sticky {
  display: none;
}

.sl-featured-video__container {
  margin-bottom: 8px;
  div[class^='jwplayer'],
  div[class*=' jwplayer'] {
    width: 100% !important;
    height: 100% !important;
    padding-bottom: 56.25%;
  }
  .jw-title {
    display: none !important;
  }
  .sl-swell-event-featured-media__banner {
    width: 100%;
  }
}

.sl-swell-event__content__related {
  .sl-swell-event__content__related-subregions {
    background-color: white;
  }
  .sl-swell-event__content__video {
    display: none;
  }
}

.sl-swell-event__content__related-subregions {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  padding: 16px 16px 24px 16px;
  h6 {
    margin: 0px;
    margin-bottom: 2px;
  }
  a {
    text-decoration: none;
    p {
      margin: 0px;
      font-size: 14px;
    }
  }
  a:hover {
    p {
      color: color('gray', 80);
      text-decoration: underline;
    }
  }
}

.sl-swell-event__current-events {
  padding: 0 16px;
}

.sl-swell-event__current-events__title {
  margin: 24px 0 16px;
}

.sl-swell-event__inner-hero {
  text-align: center;
  .quiver-google-dfp {
    padding: 8px 0;
  }
}

.sl-swell-event-ad__right-1__overview {
  text-align: center;
  padding: 12px 0 16px 0;
}

.sl-swell-event-ad__right-1__related {
  text-align: center;
  padding: 12px 0 16px 0;
  display: none;
}

@media (min-width: $tablet-large) {
  .sl-swell-event {
    padding-bottom: 24px;
    .quiver-swell-event-card {
      margin-bottom: 16px;
    }
  }
  .sl-swell-event__header {
    align-items: center;
  }
  .sl-swell-event__header__content {
    padding: 40px 0 124px;
    width: 941px;
  }
  .sl-swell-event__title {
    font-size: 64px;
    line-height: 64px;
    color: white;
    margin: 16px 0px 0px 0px;
  }
  .sl-swell-event__updated {
    display: inline-block;
  }
  .sl-featured-video__container {
    margin-bottom: 0;
  }
  .sl-swell-event__content {
    flex-direction: row;
    justify-content: center;
    margin-top: -80px;
  }
  .sl-swell-event__content__overview {
    display: none;
  }
  .sl-swell-event__content__overview__mobile {
    display: none;
  }
  .sl-swell-event__content__overview__sticky {
    display: block;
  }
  .sl-swell-event__content__feed__wrapper {
    max-width: 625px;
    flex-basis: 625px;
    .sl-swell-event-highlights {
      display: block;
      margin-bottom: 16px;
    }
  }
  .sl-swell-event__content__related {
    width: 300px;
    flex-basis: 300px;
    margin-left: 16px;
    .sl-swell-event__content__video {
      width: 100%;
      display: block;
      margin-bottom: 16px;
    }
  }
  .sl-swell-event__content__related-subregions {
    max-width: 300px;
    flex-basis: 300px;
  }
  .sl-swell-event__current-events {
    padding: 0;
    .quiver-swell-event-card:last-child {
      margin-bottom: 0;
    }
  }
  .sl-swell-event-ad__right-1__overview {
    display: none;
  }
  .sl-swell-event-ad__right-1__related {
    padding-top: 0;
    display: block;
  }
  .sl-sticky-ad-unit {
    padding: 0 0 88px 0;
  }
  .sl-swell-event__inner-hero {
    .quiver-google-dfp {
      padding: 16px 0;
    }
  }
}

@media (min-width: $three-column-desktop) {
  .sl-swell-event__header__content {
    width: 1257px;
  }
  .sl-swell-event__content__overview {
    display: flex;
    flex-basis: 300px;
    margin-right: 16px;
  }
  .sl-swell-event__content__feed__wrapper {
    .sl-swell-event-highlights {
      display: none;
    }
  }
  .sl-swell-event__content__related {
    flex-basis: 300px;
    .sl-swell-event__content__video {
      display: none;
    }
  }
  .sl-swell-event__content__overview {
    width: 300px;
    display: flex;
    flex-direction: column;
    .sl-swell-event__content__video {
      display: block;
      margin-bottom: 16px;
      width: 100%;
    }
  }
}
