.set-password-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 410px;
  margin-top: 20px;
  .quiver-button {
    margin: 36px 0;
  }
}

.set-password__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0;
  text-align: left;
}

.set-password__requirement {
  color: #999999;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  padding-bottom: 10px;
}
