@import '../../styles/variables';

/* stylelint-disable selector-pseudo-class-no-unknown */
.clipHeader {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 16px 16px;
}

.clipTitle {
  margin: 0;
}

.headerSocials {
  :global {
    .quiver-share-article {
      align-items: center;

      button,
      .SocialMediaShareButton {
        width: 28px;
        height: 28px;
      }

      .quiver-clipboard-icon {
        margin-left: 2px;
      }

      svg {
        width: 18px;
        height: 18px;
      }
    }

    .quiver-share-article__alert {
      order: 4;
      margin-right: 8px;
    }

    .quiver-share-article__facebook {
      order: 1;
    }

    .quiver-share-article__twitter {
      order: 2;
    }

    .quiver-share-article__clipboard {
      order: 3;
    }
  }
}

@media (min-width: $tablet-width) {
  .clipHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 16px;
  }

  .headerSocials {
    :global {
      .quiver-share-article__alert {
        order: 1;
        margin-right: 8px;
      }

      .quiver-share-article__facebook {
        order: 2;
      }

      .quiver-share-article__twitter {
        order: 3;
      }

      button.quiver-share-article__clipboard {
        width: 30px;
        height: 30px;
        order: 4;
        margin-right: 0;
      }
    }
  }
}
