@import '../../styles/main.scss';

.perks-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin: 10px;
}

.perks-list.perks-list--error {
  grid-template-columns: repeat(1, auto);
  margin: 16px;
}

.perks-list .quiver-error-box {
  padding: 30px 100px;
}

@media (min-width: $large-mobile) {
  .perks-list {
    grid-template-columns: repeat(2, 1fr);
    margin: 26px;
  }
  .perks-list.perks-list--error {
    grid-template-columns: repeat(1, 1fr);
    margin: 16px;
  }
}
