/* Figma color palettes */
/* https://www.figma.com/file/2ayZyZwDhwtZr2xyqnLEcQ/Wavetrak-Design-System?node-id=2484%3A1791 */
/* https://www.figma.com/file/2ayZyZwDhwtZr2xyqnLEcQ/Wavetrak-Design-System?node-id=2484%3A1724 */

:root {
/* Blues */
--blue40: #314EE6; /* brand/primary */
--blue50: #408FFF; /* conditions/poor */

/* Aquas */
--aqua40: #20BCDF; /* conditions/poor to fair */

/* Greens */
--green40: #1AD64C; /* conditions/fair */
--green50: #DBFF00; /* twentyft/accent */

/* Neutrals */
--black: #000000;  /* base black */
--gray10: #171717; /* brand/secondary */
--gray15: #282828; /* twntyft/dark gray */
--gray20: #424242; /* product/body */
--gray25: #636363; /* twentyft/mid gray */
--gray30: #98A2AF; /* product/body secondary or conditions/very poor */
--gray40: #BBBBBB; /* states/inactive */
--gray50: #B9D3DF; /* forecast primary */
--gray60: #DADDE3; /* product/dividers */
--gray70: #DFDFDF; /* states/disabled */
--gray80: #DFE9F3; /* forecast secondary - need to be transparent change this */
--gray90: #FAFAFA; /* background */
--white: #FFFFFF;  /* base white */

/* Oranges */
--orange40: #FFB600; /* brand/tertiary */
--orange60: #FFA833; /* conditions/good */

/* Pinks */
--pink40: #E12DFF; /* swell direction arrow color */
--pink60: #B827EB; /* storm alert */

/* Reds */
--red40: #F5424B; /* states/error */
--red60: #EC2B2B; /* states/live */

/* Mapped colors */
/* base */
--white: var(--white);
--black: var(--black);

/* brand */
--brandPrimary: var(--blue40);
--brandSecondary: var(--gray10);
--brandTertiary: var(--orange40);

/* product */
--productBodyPrimary: var(--gray20);
--productBodySecondary: var(--gray30);
--productDivider: var(--gray60);

/* states */
--error: var(--red40);
--disabled: var(--gray70);
--inactive: var(--gray40);
--background: var(--gray90);
--live: var(--red60);
--stormAlert: var(--pink60);
--info: var(--blue50);
--success: var(--green40);
--warning: var(--orange60);

/* twentyft */
--twentyFtAccent: var(--green50);
--twentyFtDarkGray: var(--gray15);
--twentyFtMidGray: var(--gray25);

/* conditions */
--conditionsVeryPoor: var(--gray30);
--conditionsPoor: var(--blue50);
--conditionsPoorToFair: var(--aqua40);
--conditionsFair: var(--green40);
--conditionsGood: var(--orange60);


/* forecast */
--forecastPrimary: var(--gray50);
--forecastSecondary: var(--gray80);

/* swell */
--swellPrimary: var(--blue40);
--swellSecond: var(--pink40);
}
