@import '../../common/themes/main.scss';

.gift-message-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 346px;
}
.gift-message-user__details {
  display: flex;
  justify-content: space-between;
}
.gift-message-email {
  display: flex;
  flex-direction: column;
  margin: auto 10px;
  min-height: 100px;
  span {
    font-weight: bold;
  }
  span, p {
    font-size: 14px;
    font-family: $source-sans-pro;
  }
}
.gift-message {
  margin: 13px 16px;
  span {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  span, div {
    font-size: 14px;
    font-family: $source-sans-pro;
  }
}
.gift-message-edit {
  cursor: pointer;
  margin: 20px 0px 0px 15px;
  span {
    position: relative;
    padding: 0px;
    margin: 1px 3px;
    color: color('light-blue');
    font-size: 16px;
    font-family: $futura-dem;
    letter-spacing: 1.5px;
    line-height: 16px;
  }
}
.saved-gift-card-container .gift-card-container {
  border: 0px;
}
.saved-gift-card-container{
  border-radius: 3px 3px 3px 3px;
  border: 1px solid color('blue-gray', 20);
}
.saved-gift-card-container .gift-card-wrapper:after {
  content: "";
  display: block;
  margin: 5px auto 20px auto;
  width: 85%;
  border-bottom: 1px solid color('blue-gray', 20);
}
@media (min-width: $tablet-large) {
  .gift-message-container {
    width: 386px;
  }
  .gift-message {
    margin: 25px 10px 0px 10px;
  }
  .gift-message-email {
    min-height: auto;
  }
}
