/* AvailablePlan */
@import "../../variables.scss";

.availablePlan__details {
  padding: 20px 25px;
  height: 205px;
  border: 1px solid $gray-30;
  border-bottom: 0;
}

.availablePlan__heading {
  text-transform: uppercase;
  font-family: $account-primary-font;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 1.11px;
}

.availablePlan__description {
  font-family: $account-secondary-font;
  letter-spacing: 1px;
  color: $gray-60;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1.45px;
  padding-top: 5px;
}

.availablePlan__summary {
  background-color: $success-green;
  color: $white;
  height: 56px;
  font-size: 14px;
  line-height: 16px;
  padding-top: 21px;
  padding-bottom: 21px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.availablePlan__icon__container {
  position: absolute;
  margin: 15px;
  top: 0;
  right: 0;
}

.availablePlan__icon__container__icon {
  position: relative;
  border-radius: 50%;
  border: 1px solid $dark-blue-50;
  width: 25px;
  height: 25px;
  color: $dark-blue-50;
}

.availablePlan__icon__container__icon__check {
  position: absolute;
  top: 4px;
  left: 8.5px;
  &:after{
    content: '';
    display: block;
    width: 6px;
    height: 12px;
    border: 1px solid $dark-blue-50;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.availablePlan__container {
  position: relative;
  display: inline-block;
  background-color: $white;
  width: 240px;
  margin: 5px 0 25px;
  font-weight: normal;
  text-align: center;
  -webkit-box-shadow: 0px 12px 25px 1px rgba(201,201,201,1);
  -moz-box-shadow: 0px 12px 25px 1px rgba(201,201,201,1);
  box-shadow: 0px 12px 25px 1px rgba(201,201,201,1);
  cursor: pointer;

  h3, sup {
    color: $gray-90;
  }

  @media(min-width: 374px) {
    width: 290px
  }

  @media(min-width: 400px) {
    width: 315px
  }

  @media(min-width: 500px) {
    margin: 25px;
  }

  @media(min-width: 768px) {
    width: 275px;
  }

  @media(min-width: 820px) {
    width: 315px;
  }
}

.availablePlan__container--disabled {
  cursor: default;
  box-shadow: none;
  h3, sup {
    color: inherit;
  }
  .availablePlan__summary {
    background-color: $gray-40;
  }
}

/* alt theme */
.availablePlan__container--alt {
  position: relative;
  display: inline-block;
  background-color: $white;
  color: $gray-60;
  width: 138px;
  height: 165px;
  margin: 20px 0 12px 0;
  font-weight: normal;
  text-align: center;
  vertical-align: top;
  border: 3px solid transparent;
  -webkit-box-shadow: 0px 6px 25px -4px rgba(201,201,201,1);
  -moz-box-shadow: 0px 6px 25px -4px rgba(201,201,201,1);
  box-shadow: 0px 6px 25px -4px rgba(201,201,201,1);
  cursor: pointer;

  .availablePlan__details {
    border: 0;
  }

  h3, sup {
    color: $text-paragraph;
  }

  @media(min-width: $iphone4s) {
    width: 135px;
  }

  @media(min-width: $iphone5s) {
    width: 160px;
  }

  @media(min-width: $tablet) {
    width: 210px;
    height: 210px;
  }
}

.availablePlan__container--alt--disabled {
  cursor: default;
  box-shadow: none;
  h3, sup {
    color: inherit;
  }
  .availablePlan__summary {
    background-color: $silver;
  }
}

.availablePlan__container--alt--selected {
  box-shadow: none;
  border: 3px solid funnelFormButton($companyTheme);
}

.availablePlan__container--alt--selected--discount {
  border: 3px solid funnelFormButton($companyTheme);
}

.availablePlan__container--alt:nth-child(even) {
  margin-left: 15px;

  @media(min-width: $tablet) {
    margin-left: 20px;
  }
}

.availablePlan__container--alt .availablePlan__heading {
  letter-spacing: 0.9px;
  font-size: 12px;
  font-weight: 600;
}

.availablePlan__container--alt .availablePlan__description {
  font-size: 12px;
  padding: 0 10px;
}

.availablePlan__container--alt .availablePlan__details {
  padding: 10px 0;
  height: 165px;

  @media(min-width: $tablet) {
    padding: 20px;
    height: 210px;
  }
}

.availablePlan__container--alt .availablePlan__icon__container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

.availablePlan__container--alt .availablePlan__icon__container__icon {
  position: relative;
  border: 2px solid funnelFormButton($companyTheme);
  background-color: funnelFormButton($companyTheme);
  border-radius: 0;
  width: 25px;
  height: 25px;
  @media(min-width: $iphone5s) {
    width: 35px;
    height: 35px;
  }
}

.availablePlan__container--alt .availablePlan__icon__container__icon--discount {
  border: 2px solid $success-green;
  background-color: $success-green;
}

.availablePlan__container--alt .availablePlan__icon__container__icon__check {
  position: absolute;
  top: 2px;
  left: 9px;
  &:after{
    content: '';
    display: block;
    width: 6px;
    height: 12px;
    border: solid $white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  @media(min-width: $iphone5s) {
    top: 7px;
    left: 14px;
  }
}

.availablePlan__free-trial-label {
  background-color: $gray-60;
  border: 1px solid $gray-60;
  border-radius: 11px;
  color: $light-blue-5;
  display: flex;
  font-size: 12px;
  font-family: $account-secondary-font;
  font-weight: 600;
  text-transform: uppercase;
  justify-content: center;
  margin: 0 auto;
  width: 110px;
}

.availablePlan__free-trial-label--selected {
  background-color: $success-green;
  border: 1px solid $success-green;
}
