@import "../../variables.scss";

.changePasswordForm__error__alert__hidden {
  @include alert-hidden($error, $error-alert-background);
}
.changePasswordForm__error__alert {
  @include alert-visible($error, $error-alert-background);
}
.changePasswordForm__success__alert__hidden {
  @include alert-hidden($error, $error-alert-background);
}
.changePasswordForm__success__alert {
  @include alert-visible($success-green, $success-alert-background);
}
.changePasswordForm__error__text__hidden {
  @include error-text-hidden;
}
.changePasswordForm__error__no__text {
  @include error-no-text;
}
.changePasswordForm__error__text {
  @include error-text;
}
.changePasswordForm__input__currentPassword {
  margin-top: 0;
}
.changePasswordForm__input__newPassword, .changePasswordForm__input__confirmPassword, {
  margin-top: 20px;
}
.changePasswordForm input {
@include input;
}
.changePasswordForm__label__floating {
  @include floating-label;
}
.changePasswordForm input:focus + .changePasswordForm__label__floating, .changePasswordForm__input__isValid + .changePasswordForm__label__floating, .changePasswordForm__input__hasError + .changePasswordForm__label__floating {
  @include floating-label-floated;
}
.changePasswordForm__input__hasError {
  border: 1px solid $error!important;
}
.changePasswordForm__input__isValid {
  border-color: $success-green!important;
}
.changePasswordForm__button__submit {
  @include submit-button($sl-secondary-blue, $white);
}
@keyframes spin { 100% { transform:rotate(360deg); } }
.changePasswordForm__button__submit__submitting {
  @include submit-button($sl-secondary-blue-active, $white);
  background-position: center center;
  background-repeat:no-repeat;
  &:hover, &:focus, &:active {
    background-color: $sl-secondary-blue-active;
    border-top: 2px solid $sl-secondary-blue-active;
  }
}
.changePasswordForm__button__submit__submitting__img {
  animation:spin .75s linear infinite;
}
.changePasswordForm__button__submit__success {
  @include submit-button($success-green, $white);
  transition: 0.2s;
  &:hover, &:focus, &:active {
    background-color: $success-green;
    border-top: 2px solid $success-green;
  }
}
.changePasswordForm__button__submit__success:before {
  @include submit-success-icon;
}

@media (min-width: $iphone6s) {
  .changePasswordForm__input__currentPassword, .changePasswordForm__input__newPassword {
    width: 100%;
    margin-bottom: 20px;
  }
  .changePasswordForm__input__currentPassword {
    margin-right: 2%;
  }
}
