@import "../../variables.scss";

.desktopNavigation__link__list {
  display: none;
}

@media (min-width: $iphone6s) {
  .desktopNavigation__link__list {
    display: block;
    margin: 0;
    padding: 10px 90px 5px 90px;
    list-style: none;
    text-align: center;
  }
  .desktopNavigation__link__list__item {
    display: inline-block;
  }
  .desktopNavigation__link__list__link {
    font-family: primaryFont($companyTheme);
    padding: 0 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: $text-light;
  }
  .desktopNavigation__link__list__link:hover {
    color: $text-header;
  }
  .desktopNavigation__link__list__active {
    color: $text-header;
  }
}

@media (min-width: $ipad) {
  .desktopNavigation__link__list {
    padding: 10px 0 5px 0;
  }
  .desktopNavigation__link__list__item {
    display: inline;
  }
}
