@import "../../variables.scss";

.discount__card {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 20px 20px 15px 20px;
  background-color: $white;
  text-align: center;
  &--mobile {
    display: block;
    @media (min-width: $tablet) {
      display: none;
    }
  }
  &--desktop {
    display: none;
    @media (min-width: $tablet) {
      display: block;
    }
  }

  &__title {
    font-family: $account-primary-font;
    color: $gray-90;
    margin: 0 0 15px 0;
    font-size: 18px;
    letter-spacing: 1.57;
    line-height: 28px;
    font-weight: 400;
    text-transform: capitalize;
    @media (min-width: $tablet) {
      margin: 0 0 5px 0;
      font-size: 18px;
      letter-spacing: 1.5px;
      line-height: 24px;
      font-weight: 400;
      text-align: left;
    }
  }

  &__message {
    font-family: $account-secondary-font;
    margin: 0 auto 10px auto;
    font-size: 16px;
    letter-spacing: 1.5px;
    line-height: 24px;
    min-height: 70px;
    color: $gray-70;
    @media (min-width: $tablet) {
      display: block;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 1.11px;
      text-align: left;
    }
  }

  &__link {
    margin: 0 0 20px 0;
    font-family: $account-secondary-font;
    font-size: 16px;
    letter-spacing: 1.5px;
    line-height: 24px;
    color: $sl-secondary-blue;
    @media (min-width: $tablet) {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 1.11px;
      text-align: left;
    }
  }
}
