@import "../../variables.scss";

.editProfileForm__error__alert__hidden {
@include alert-hidden($error, $error-alert-background);
}
.editProfileForm__error__alert {
  @include alert-visible($error, $error-alert-background);
}
.editProfileForm__success__alert__hidden {
  @include alert-hidden($error, $error-alert-background);
}
.editProfileForm__success__alert {
  @include alert-visible($success-green, $success-alert-background);
}
.editProfileForm__error__text__hidden {
  @include error-text-hidden;
}
.editProfileForm__error__no__text {
  @include error-no-text;
}
.editProfileForm__error__text {
  @include error-text;
}
.editProfileForm__input__firstName {
  margin-top: 0;
}
.editProfileForm__input__lastName, .editProfileForm__input__email {
  margin-top: 20px;
}
.editProfileForm input {
  @include input;
}
.editProfileForm__label__floating {
  @include floating-label;
}
.editProfileForm input:focus + .editProfileForm__label__floating, .editProfileForm input:valid + .editProfileForm__label__floating, .editProfileForm__input__hasError + .editProfileForm__label__floating {
  @include floating-label-floated;
}
.editProfileForm__input__hasError {
  border: 1px solid $error!important;
}
.editProfileForm__input__isValid {
  border-color: $success-green!important;
}
.editProfileForm__button__submit {
  @include submit-button($sl-secondary-blue, $white);
}
@keyframes spin { 100% { transform:rotate(360deg); } }
.editProfileForm__button__submit__submitting {
  @include submit-button($sl-secondary-blue-active, $white);
  background-position: center center;
  background-repeat:no-repeat;
  &:hover, &:focus, &:active {
    background-color: $sl-secondary-blue-active;
    border-top: 2px solid $sl-secondary-blue-active;
  }
}
.editProfileForm__button__submit__submitting__img {
  animation:spin .75s linear infinite;
}
.editProfileForm__button__submit__success {
  @include submit-button($success-green, $white);
  transition: 0.2s;
  &:hover, &:focus, &:active {
    background-color: $success-green;
    border-top: 2px solid $success-green;
  }
}
.editProfileForm__button__submit__success:before {
  @include submit-success-icon;
}

@media (min-width: $iphone6s) {
  .editProfileForm__input__firstName, .editProfileForm__input__lastName {
    width: 49%;
    float: left;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .editProfileForm__input__firstName {
    margin-right: 2%;
  }
  .editProfileForm__input__email {
    clear: both;
  }
}
