@import '../../variables.scss';

.editSettingsForm__error__alert__hidden {
  @include alert-hidden($error, $error-alert-background);
}
.editSettingsForm__error__alert {
  @include alert-visible($error, $error-alert-background);
}
.editSettingsForm__success__alert__hidden {
  @include alert-hidden($success-green, $success-alert-background);
}
.editSettingsForm__success__alert {
  @include alert-visible($success-green, $success-alert-background);
}
.editSettingsForm__error__text__hidden {
  @include error-text-hidden;
}
.editSettingsForm__error__no__text {
  @include error-no-text;
}
.editSettingsForm__error__text {
  @include error-text;
}

.editSettingsForm input {
  @include input;
}
.editSettingsForm__label__floating {
  @include floating-label;
}
.editSettingsForm input:focus + .editSettingsForm__label__floating,
.editSettingsForm input:valid + .editSettingsForm__label__floating,
.editSettingsForm__input__hasError + .editSettingsForm__label__floating {
  @include floating-label-floated;
}
.editSettingsForm__input__hasError {
  border: 1px solid $error !important;
}
.editSettingsForm__input__isValid {
  border-color: $success-green !important;
}
.editSettingsForm__button__submit {
  @include submit-button($sl-secondary-blue, $white);
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.editSettingsForm__button__submit__submitting {
  @include submit-button($sl-secondary-blue-active, $white);
  background-position: center center;
  background-repeat: no-repeat;
  &:hover,
  &:focus,
  &:active {
    background-color: $sl-secondary-blue-active;
    border-top: 2px solid $sl-secondary-blue-active;
  }
}
.editSettingsForm__button__submit__submitting__img {
  animation: spin 0.75s linear infinite;
}
.editSettingsForm__button__submit__success {
  @include submit-button($success-green, $white);
  transition: 0.2s;
  &:hover,
  &:focus,
  &:active {
    background-color: $success-green;
    border-top: 2px solid $success-green;
  }
}
.editSettingsForm__button__submit__success:before {
  @include submit-success-icon;
}
.editSettingsForm {
  .quiver-select {
    option[value='hidden-default'] {
      display: none;
    }
  }
}
.editSettingsForm__select {
  display: flex;
  .quiver-select {
    width: 100%;
    margin: 10px 0 10px;
    }
}
.editSettingsForm__tooltip {
  width: 30px;
  z-index: 10;
}
/* tooltip */
.hawaiian-scale-toggle__text {
  background: color('white');
  position: absolute;
  border-radius: 0px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.13);
  left: -150px;
  width: 200px;
  color: color('gray', 90);
  font-family: $source-sans-pro;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0px;
  padding: 8px 16px 10px;
  z-index: 10;
}
.hawaiian-scale-toggle__tooltip {
  align-items: center;
  cursor: pointer;

  .quiver-question-mark-icon {
    .quiver-question-mark-icon__text {
      fill: color('dark-blue', 10);
    }
    .quiver-question-mark-icon__circle {
      stroke: color('dark-blue', 10);
    }
    &:hover {
      .quiver-question-mark-icon__text {
        fill: color('white');
      }
      .quiver-question-mark-icon__circle {
        fill: color('dark-blue', 10);
      }
    }
  }
}
.quiver-tooltip-provider {
  margin: 30px 0 0 10px;
  z-index: 10;
  width: 16px;
}
