@import "../../variables.scss";

.failed__payment__link {
  text-decoration: none;
  &:hover {
    .failed__payment__message,
    .failed__payment__message__subtitle,
    .failed__payment__message__title {
      color: $white;
    }
  }
}

.failed__payment__message {
  margin: 0px 0px 16px 0px;
  padding: 20px;
  background-color: $error;
  color: $white;
  font-family: $font-family-primary;
  font-size: 14px;

  @media (min-width: $tablet) {
    font-size: 17px;
  }
}

.failed__payment__message__title {
  font-weight: 600;
  font-size: 24px;
}
