@import "../../variables.scss";

.info__card {
  width: 100%;
  text-align: center;
  display: inline-block;
  height: 182px;
  @media (min-width: $tablet) {
    padding: 30px 45px;
    height: 340px;
  }

  &__title {
    margin: 40px 0 15px 0;
    font-size: 42px;
    font-family: $account-primary-font;
    font-weight: 400;
    letter-spacing: 1.62px;
    line-height: 46px;
    color: $white;
    position: absolute;
    width: 100%;
    @media (min-width: $tablet) {
      text-align: left;
      width: 390px;
      font-size: 52px;
      letter-spacing: 2px;
      line-height: 52px;
    }
  }
  &__message__container {
    background-color: $white;
    width: 100%;
    position: absolute;
    margin-top: 220px;
    padding: 20px;
    @media (min-width: $tablet) {
      margin-top: 150px;
      background: transparent;
      position: relative;
      padding: 0;
      width: 370px;
    }
    &__message {
      font-family: $account-secondary-font;
      @media (min-width: $tablet) {
        text-align: left;
        color: $white;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: .5px;
      }
    }
  }

  &__link {
    margin: 30px 0 10px 0;
    &__premium {
      padding: 10px 30px;
      font-size: 14px;
      letter-spacing: 1.31px;
      line-height: 16px;
      text-transform: uppercase;
      color: $sl-secondary-blue;
      @media (min-width: $tablet) {
        padding-left: 0;
      }
    }
    &__free {
      padding: 12px 30px 10px;
      font-size: 14px;
      letter-spacing: 1.31px;
      line-height: 16px;
      text-transform: uppercase;
      border: 1px solid $sl-secondary-blue;
      color: $sl-secondary-blue;
      &:hover {
        background-color: $sl-secondary-blue;
        color: $white;
      }
    }
  }
}

.info__card--sl {
  .info__card {
    border-bottom: 4px solid $sl-primary-blue;
    @media (min-width: $tablet) {
      border-bottom: none;
    }
    &__link {
      margin: 30px 0 10px 0;
      @media (min-width: $tablet) {
        text-align: left;
      }
      &__premium {
        color: $sl-secondary-blue;
        @media (min-width: $tablet) {
          font-size: 16px;
          line-height: 18px;
          letter-spacing: 1px;
        }
      }
      &__free {
        border: 1px solid $sl-secondary-blue;
        color: $sl-secondary-blue;
        &:hover {
          background-color: $sl-secondary-blue;
          color: $white;
        }
        @media (min-width: $tablet) {
          background-color: $success-green;
          color: $white;
          border: none;
          font-size: 16px;
          line-height: 18px;
          letter-spacing: .5px;
          &:hover {
            background-color: $success-green-hover;
          }
        }
      }
    }
  }
}

.info__card--bw {
  .info__card {
    border-bottom: 4px solid $bw-primary-blue;
    @media (min-width: $tablet) {
      border-bottom: none;
    }
    &__link {
      margin: 30px 0 10px 0;
      @media (min-width: $tablet) {
        text-align: left;
      }
      &__premium {
        color: $bw-primary-blue;
        @media (min-width: $tablet) {
          font-size: 16px;
          line-height: 18px;
          letter-spacing: 1px;
        }
      }
      &__free {
        border: 1px solid $bw-primary-blue;
        color: $bw-primary-blue;
        &:hover {
          background-color: $bw-primary-blue;
          color: $white;
        }
        @media (min-width: $tablet) {
          background-color: $success-green;
          color: $white;
          border: none;
          font-size: 16px;
          line-height: 18px;
          letter-spacing: .5px;
          &:hover {
            background-color: $success-green-hover;
          }
        }
      }
    }
  }
}

.info__card--fs {
  .info__card {
    border-bottom: 4px solid $fs-secondary-blue;
    @media (min-width: $tablet) {
      border-bottom: none;
    }
    &__link {
      margin: 30px 0 10px 0;
      @media (min-width: $tablet) {
        text-align: left;
      }
      &__premium {
        color: $fs-secondary-blue;
        @media (min-width: $tablet) {
          font-size: 16px;
          line-height: 18px;
          letter-spacing: 1px;
        }
      }
      &__free {
        border: 1px solid $fs-secondary-blue;
        color: $fs-secondary-blue;
        &:hover {
          background-color: $fs-secondary-blue;
          color: $white;
        }
        @media (min-width: $tablet) {
          background-color: $success-green;
          color: $white;
          border: none;
          font-size: 16px;
          line-height: 18px;
          letter-spacing: .5px;
          &:hover {
            background-color: $success-green-hover;
          }
        }
      }
    }
  }
}
