@import "../../variables.scss";

.mobileNavigation__container {
  display: block;
  font-size: 12px;
  letter-spacing: 1.1px;
  line-height: 16px;
}
.mobileNavigation__active__item {
  text-align: center;
  width: 100%;
  padding: 17px 10px 12px 10px;;
  color: $text-header;
  i {
    position: relative;
    top: 1px;
    right: 5px;
    float: right;
    font-size: 10px;
  }
}

.mobileNavigation__active__item__title {
  padding: 0;
}
.mobileNavigation__link__list__container__hidden {
  display: none;
}
.mobileNavigation__link__list {
  margin: 0;
  list-style: none;
  text-align: center;
  padding: 0;
  &:nth-of-type(1) {
    padding-top: 5px;
  }
  &:last-of-type {
    padding-bottom: 15px;
  }
}

.mobileNavigation__link__list_link {
  display: block;
  font-family: primaryFont($companyTheme);
  padding: 20px 0 20px 0;
  color: $small-text;
}
.mobileNavigation__link__list_active {
  display: none;
}


@media (min-width: $iphone6s) {
  .mobileNavigation__container {
    display: none;
  }
}
