@import "../../variables.scss";

.no__subscription__card {
  width: 100%;
  background: $white;
  padding: 20px;
  display: inline-block;
  @media (min-width: $iphone6s) {
    margin-top: 5px;
  }
}

.no__subscription__subheading {
  font-size: 16px;
  margin-top: 30px;
  color: $gray-70;
  letter-spacing: .8px;
  line-height: 24px;
  max-width: 475px;
  text-align: center;
  margin: 0 auto;
  font-family: $account-secondary-font;
}
