@import "../../variables.scss";

@mixin button {
  display: inline-block;
  margin: 0 auto;
  padding: 12px 30px 10px;
  background-color: $white;
  color: $sl-secondary-blue;
  border: 1px solid $sl-secondary-blue;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px!important;
  width: auto;
  height: auto;
  line-height: 16px;
  letter-spacing: 1.31px;
  cursor: pointer;
  &:hover {
    background-color: $sl-secondary-blue;
    color: $white;
  }

  @media (min-width: $tablet) {
    margin: 0;
    margin-top: -10px;
    padding: 12px 19px 10px;
    width: auto;
    min-width: 155px;
    cursor: pointer;
    font-size: 16px!important;
    background-color: $success-green;
    color: $white;
    border: none;
    line-height: 18px;
    letter-spacing: .5px;

    &:hover {
      background-color: $success-green-hover;
      color: $white;
    }
  }
}

.overviewAction__button {
  @include button;
}

@keyframes spin { 100% { transform:rotate(360deg); } }
.overviewAction__button__isSubmitting {
  @include button;
  background-color: $success-green-loading;
  background-position: center center;
  background-repeat:no-repeat;
  color: $white;
}

.overviewAction__button__isSubmitting__img {
  margin-top: -5px;
  animation:spin .75s linear infinite;
}

.overviewAction__button__isSubmittingSuccess {
  background-color: $success-green;
  transition: 0.2s;
}

.overviewAction__button__isSubmittingSuccess:before {
  font-family: fontAwesome;
  content: '\f00c';
  color: $white;
  font-size:18px;
  text-align: center;
  display: inline-block;
  margin-top: -5px;
  vertical-align: middle;
}
