@import "../../variables.scss";

@mixin button {
  display: inline-block;
  margin: 0 auto;
  padding: 15px 15px 10px 15px;
  height: auto;
  width: 235px;
  background-color: $sl-secondary-blue;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 1.5px;
  cursor: pointer;
  font-family: $account-primary-font;
  &:hover {
    background-color: $brand-secondary-hover;
    color: $white;
  }

  @media (min-width: $tablet) {
    margin: 0;
    width: auto;
    cursor: pointer;
    &:hover {
      background-color: $brand-secondary-hover;
      color: $white;
    }
  }
}

@mixin button-transparent {
  @include button;
  background: transparent;
  color: $sl-secondary-blue;
  &:hover {
    background: transparent;
    color: $brand-secondary-hover;
  }
}

@mixin button-warning {
  @include button;
  background: transparent;
  color: $white;
  &:hover {
    background: transparent;
  }
  @media (min-width: $tablet) {
    background: transparent;
    color: $white;
    position: absolute;
    right: 0px;
    width: 250px;
  }
}

@mixin button-secondary {
  @include button;
  background: transparent;
  color: $sl-secondary-blue;
  font-size: 14px;
  letter-spacing: 1.3px;
  line-height: 18px;
  margin-top: -10px;
  &:hover {
    background: transparent;
    color: $sl-secondary-blue-hover;
  }
  @media (min-width: $tablet) {
    font-size: 12px;
    letter-spacing: 1.11px;
    line-height: 21px;
    text-align: left;
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
  }
}

.overviewLink__button {
  @include button;

  &--sl_premium, &--default {
    @include button;
  }
  &--bottom {
    @include button;
    @media (min-width: $tablet) {
      position: absolute;
      right: 30px;
    }
  }

  &--primary, &--free, &--expired, &--expiring {
    @include button;
    background-color: $success-green;
    &:hover {
      background-color: $success-green-hover;
      color: $white;
    }
  }

  &--transparent {
    @include button-transparent;
  }

  &--warning {
    @include button-warning;
    color: $white;
  }

  &--secondary {
    @include button-secondary;
  }
}
