@import "../../variables.scss";

.payment__warnings__message {
  display: flex;
    align-items: center;
    background-color: #FA5065;
    height: 58px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0;
    line-height: 29px;
    height: 99px;
    padding: 10px;
    a {
      width: 100%;
      color: #FFFFFF;
      font-size: 16px;
      font-family: $account-secondary-font;
    }
}
