@import "../../variables.scss";

.subscription__subheading {
  font-size: 16px;
  margin-top: 30px;
  color: $gray-70;
  letter-spacing: .8px;
  line-height: 24px;
  max-width: 475px;
  text-align: center;
  margin: 0 auto;
  font-family: $account-secondary-font;
}

.subscription_error__alert {
  color: $error;
  font-family: $font-family-secondary;
  background-color: $error-alert-background;
  border: 1px solid $error-alert-background;
  padding: 10px;
  font-size: 12px;
  line-height: 12px;
  margin-top: 22px;
}

.subscription__subheading {
  @media (min-width: $iphone6s) {
    margin-top: -35px;
  }
}

@mixin subscriptionCardBefore($icon, $color, $padding) {
  content: '';
  height: 0;
  width: 0;
  padding: 0;
  background-color: $white;
  @media(min-width: $iphone6s) {
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
    top: -30px;
    left: -30px;
    text-align: center;
    padding-top: 10px;
    content: url($icon);
    background-color: $color;
    padding-top: $padding;
  }
}

@mixin subsciptionCard($icon, $color, $padding) {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  margin: 10px auto 0;
  background-color: $white;
  @media (min-width: $iphone6s) {
    margin-top: 20px;
  }
  &:before {
    @include subscriptionCardBefore($icon, $color, $padding);
  }
}

.subscription__card {
  &__sl {
    @include subsciptionCard(cdnUrl('surfline-waterdrop.svg'), $sl-primary-blue, 12px);
  }
  &__bw {
    @include subsciptionCard(cdnUrl('bw-icon-small.svg'), $bw-primary-blue, 11px);
  }
  &__fs {
    @include subsciptionCard(cdnUrl('fishtrack-icon.svg'), $fs-primary-blue, 15px);
  }
}

.subscription__cancel {
  font-size: 12px;
	text-align: center;
	margin: 15px 0 5px;
	text-transform: uppercase;
  font-family: $account-primary-font;
  letter-spacing: 1.1px;
  a {
    color: $light-blue-50;
    &:hover, &:focus {
      color: $sl-secondary-blue-hover;
    }
  }
  @media (min-width: $iphone6s) {
    margin: 35px 0 25px;
  }
}

.stayPremium__btn {
  align-self: center;
  margin: 10px auto;
  .quiver-button {
    background-color: $success-green;
    border: 2px solid $success-green;
  }
}
