/* Previous Subscriptions */
@import "../../variables.scss";

.prevSubs__heading__container {
  background: #ffffff;
  width: 100%;
  padding: 35px;
  margin-top: 20px;
  text-align: center;
  margin: 50px 0 0;
	@media (min-width: $iphone6s) {
		padding: 0px;
		background: transparent;
    margin: 50px 0 30px;
	}
}

.prevSubs__heading {
  font-size: 24px;
  letter-spacing: 1.5px;
  line-height: 29px;
  color: $gray-90;
  font-family: $account-primary-font;
  @media (min-width: $iphone6s) {
    @include account-h4($companyTheme);
  }
}

.prevSubs__table {
  width: 100%;
}

.prevSubs__table__heading {
  text-align: left;
  padding-left: 10px;
}

.prevSubs__container {
  position: relative;
}
