/* Previous Subscriptions */
@import "../../variables.scss";

.prevSub__container {
  display: block;
  position: relative;
  height: 60px;
  background-color: #fff;
  padding: 24px 30px;
  margin-top: 10px;
  border-radius: 2px;
}

.prevSub__table__row {
  height: 70px;

  &:nth-child(odd) {
    background-color: $white;
  }
}

.prevSub__table__col {
  padding: 5px 0px 0px 10px;
  color: #6E7273;
  font-size: 12px;

  i {
    padding-right: 5px;
  }

  @media (min-width: $tablet) {
    font-size: 16px;
  }

  &__description {
    display: inline-block;
  }
}

.prevSub__interval {
  text-transform: capitalize;
}
