@import "../../variables.scss";

.benefits__card {
  width: 100%;
  min-height: 70px;
  position: absolute;
  margin-top: -50px;
  @media (min-width: $tablet) {
    width: 20%;
    right: 0;
  }

  &__icon__container {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 0 auto;
    &__icon {
      padding: 10px 0 0 5px;
      border-radius: 50%;
      border: 2px solid $success-green;
      width: 50px;
      height: 50px;
      margin: 15px;
      position: absolute;
      color: $success-green;
      &__check {
        margin: auto;
        display:inline-block;
        &:after{
          content: '';
          display: block;
          width: 8px;
          height: 22px;
          border: solid $success-green;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
    }
  }

  &__message {
    font-size: 13px;
    color: $small-text;
  }
}


@media (min-width: $tablet) {
  .benefits__card {
    padding: 30px;
    text-align: center;

    &__icon__container {
      float: none;
      width: 126px;
      height: 126px;
      position: absolute;
      right: 0;
      bottom: 8px;

      &__icon {
        margin: auto;
        padding: 10px 0 0 3px;
        width: 63px;
        height: 63px;
        top: 31.5px;
        left: 31.5px;

        &__check {
          margin: auto;
          display:inline-block;

          &:after{
            width: 12px;
            height: 30px;
          }
        }
      }
    }
  }
}

.benefits__card--sl {
  .benefits__card__icon__container {
    background: $sl-primary-blue;
  }
}
.benefits__card--bw {
  .benefits__card__icon__container {
    background: $bw-primary-blue;
  }
}
.benefits__card--fs {
  .benefits__card__icon__container {
    background: $fs-secondary-blue;
    &__icon {
      border: 2px solid $white;
      color: $white;
      &__check:after {
        border: solid $white;
        border-width: 0 2px 2px 0;
      }
    }
  }
}
