@import "../../variables.scss";

@mixin promo-card {
  margin: 0 0 10px 0;
  width: 100%;
  text-align: center;
  color: $white;
  background: $white;
  background-position: center;
  display: block;
  position: relative;
  height: 420px;
  @media (min-width: $iphone6s) {
    height: 400px;
  }
  @media (min-width: $tablet) {
    margin: 0 0 32px 0;
    height: 340px;
    text-align: left;
  }
}

@function cdnUrl($key) {
  @return $cdnHostname + $key;
}

.promo__card {
  @include promo-card;
  .promo__card--sl {
    background-image: url(cdnUrl('account/promo-sl-mobile.jpg'));
    background-size: cover;
    background-repeat: no-repeat;
    height: 182px;
    &:before {
      content: url(cdnUrl('surfline-logo.svg'));
      height: 20px;
      display: block;
      position: absolute;
      display: block;
      margin: 0 auto;
      width: 100%;
      top: 10px;
      @media (min-width: $tablet) {
        content: url(cdnUrl('surfline-logo-desktop.svg'));
        top: 30px;
        left: 45px;
      }
    }
    @media (min-width: $tablet) {
      height: auto;
      border-bottom: 12px solid $sl-primary-blue;
    }
  }
  .promo__card--bw {
    background-image: url(cdnUrl('account/promo-bw-mobile.jpg'));
    background-size: cover;
    background-repeat: no-repeat;
    height: 182px;
    &:before {
      content: url(cdnUrl('buoyweather-logo.svg'));
      height: 20px;
      display: block;
      position: absolute;
      display: block;
      margin: 0 auto;
      width: 100%;
      top: 10px;
      @media (min-width: $tablet) {
        content: url(cdnUrl('buoyweather-logo-desktop.svg'));
        top: 30px;
        left: 45px;
      }
    }
    @media (min-width: $tablet) {
      height: auto;
      border-bottom: 12px solid $bw-primary-blue;
    }
  }
  .promo__card--fs {
    background-image: url(cdnUrl('account/promo-fs-mobile.jpg'));
    background-size: cover;
    background-repeat: no-repeat;
    height: 182px;
    &:before {
      content: url(cdnUrl('fishtrack-logo.svg'));
      height: 20px;
      display: block;
      position: absolute;
      display: block;
      margin: 0 auto;
      width: 100%;
      top: 10px;
      @media (min-width: $tablet) {
        content: url(cdnUrl('fishtrack-logo-desktop.svg'));
        top: 30px;
        left: 45px;
      }
    }
    @media (min-width: $tablet) {
      height: auto;
      border-bottom: 12px solid $fs-secondary-blue;
    }
  }
  @media (min-width: $iphone6) {
    .promo__card--sl {
      background-image: url(cdnUrl('account/promo-sl-desktop.jpg'));
      background-size: cover;
      background-repeat: no-repeat;
    }
    .promo__card--bw {
      background-image: url(cdnUrl('account/promo-bw-desktop.jpg'));
      background-size: cover;
      background-repeat: no-repeat;
    }
    .promo__card--fs {
      background-image: url(cdnUrl('account/promo-fs-desktop.jpg'));
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
