@import "../../variables.scss";

.status__card {
  background-color: $white;
  width: 100%;
  margin: 0 0 10px 0;
}

@media (min-width: $tablet) {
  .status__card {
    margin: 0 0 20px 0;
    height: auto;
    padding: 0 15px 15px 15px;
  }
}