@import "../../variables.scss";

@mixin status-card {
  background-color: $white;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 10px;
  text-align: center;
  transition: 0.2s;

  .status__message {
    margin: 0 0 10px 0;
    padding: 12px 0 0 0;

    &__title {
      font-size: 18px;
      letter-spacing: 1.3px;
    }

    p {
      font-family: $font-family-secondary;
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 1.3px;
    }
  }

  .status__link {
    padding: 0;
    margin-bottom: 10px;
  }

  @media (min-width: $tablet) {
    margin: 0 0 20px 0;
    padding: 15px 30px 15px 30px;
    height: 100px;
    text-align: left;

    .status__message {
      display: inline-block;
      padding: 0;
      width: 50%;

      p {
        padding: 5px 0 0 0;
        font-family: $font-family-secondary;
        color: $small-text;
      }
    }

    .status__link {
      position: absolute;
      right: 30px;
    }

  }
}

.status--expired {
  @include status-card;

  @media (min-width: $tablet) {
    .status__message {
      width: 550px;
    }
    .status__link {
      position: absolute;
      right: 30px;
      top: 30px;
    }
  }
}


.status--monthly {
  @include status-card;
  .status__message {
    p {
      font-family: $font-family-secondary;
      color: $gray-90;
      font-weight: 700;
    }
  }

  @media (min-width: $tablet) {
    padding: 15px 30px 15px 30px;
    height: auto;
    .status__message {
      padding: 10px 0 0 0;
    }
    .status__link {
      padding: 0;
    }
  }
}


.status--expiring {
  @include status-card;
  margin: 10px 0 20px 0;

  .status__icon {
    margin: auto;
    width: 80px;
    height: 65px;
  }

  .status__message {
    color: $small-text;
  }

  .status__link {
    padding: 0;
  }

   @media (min-width: $tablet) {
     padding: 15px 15px 15px 30px;
     .status__icon {
       margin: 0 20px 0 0;
       float: left;
       height: 80px;
     }

     .status__message {
        display: block;
        float: left;
        width: 550px;
        padding: 0px 120px 0 0;
     }

     .status__title {
        float: left;
     }

     .status__link {
       float: left;
       padding: 15px 0 0 70px;
     }
   }
}


.status--delinquent {
  @include status-card;
  background-color: $error;
  padding: 20px 10px 10px 10px;

  .status__icon {
    margin: auto;
    width: 80px;
    height: 40px;
    background-image: url(cdnUrl('account/warning.png'));
    background-repeat: no-repeat;
    background-position: center;
  }

  .status__message {
    margin: 0;
    p {
      color: $white;
    }
  }

  .status__link {
    padding: 0
  }

  @media (min-width: $tablet) {
    padding: 10px 15px 15px 15px;

    .status__icon {
      margin: 0 20px 0 0;
      float: left;
      height: 80px;
    }

    .status__message {
      display: block;
      float: left;
      width: 550px;
      padding: 12px 120px 0 0;

      p {
        font-size: 17px;
      }
    }

    .status__link {
      float: left;
      padding: 20px 0 0 0;
    }

  }
}
