@import "../../variables.scss";

.statusError {
  display: block;
  visibility: visible;
  color: $error;
  font-family: $font-family-secondary;
  text-align: center;
  background-color: $error-alert-background;
  border: 1px solid $error-alert-background;
  padding: 10px;
  width: 100%;
  font-size: 12px;
  line-height: 12px;
  position: relative;
  transition: 0.2s;
}