@import "../../variables.scss";

.subscription__card {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0 20px;
  background-color: $white;
  text-align: center;
  display: inline-block;
  @media (min-width: $tablet) {
    padding-bottom: 30px;
    margin-bottom: 20px;
  }

  &__inner {
    border-bottom: 1px solid $gray-30;
    @media (min-width: $tablet) {
      border-bottom: none;
    }
    &:last-child {
      border-bottom: none!important;
    }
  }
  &__message {
    min-height: 40px;
    display: inline-block;
    padding: 40px 0 30px;
    width: 100%;
    position: relative;
    @media (min-width: $tablet) {
      width: 100%;
      height: auto;
      text-align: left;
      padding: 20px 0 0;
    }
    &__left {
      width: 50%;
      float: left;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      @media (min-width: $tablet) {
        width: 100%;
        position: relative;
        float: none;
        transform: none;
        top: 0;
      }
      &__title {
        font-family: $account-primary-font;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1.5px;
        color: $gray-90;
        line-height: 23px;
        text-align: left;
        margin: 0;
        padding-top: 8px;
      }
      &__entitlement {
        font-family: $account-secondary-font;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: .5px;
        color: $success-green;
        line-height: 16px;
        text-align: left;
        @media (min-width: $tablet) {
          letter-spacing: 1.1px;
        }
      }
    }
    &__right {
      width: 50%;
      float: right;
      @media (min-width: $tablet) {
        width: 100%;
        position: relative;
        float: none;
        padding-top: 5px;
      }
      &__message {
        font-family: $account-secondary-font;
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 1.3px;
        color: $gray-70;
        line-height: 20px;
        text-align: left;
        @media (min-width: $tablet) {
          font-size: 12px;
          letter-spacing: 1.5px;
          line-height: 16px;
        }
      }
      &__link {
        padding: 10px 0 8px;
        border: 1px solid $sl-secondary-blue;
        color: $sl-secondary-blue;
        width: 100%;
        display: block;
        font-size: 14px;
        letter-spacing: 1.31px;
        line-height: 16px;
        text-transform: uppercase;
        &:hover {
          background: $sl-secondary-blue;
          color: $white;
        }
        @media (min-width: $tablet) {
          border: none;
          font-size: 12px;
          letter-spacing: 1.1px;
          padding: 0;
          float: left;
          width: 80%;
          display: inline-block;
          &:hover {
            color: $sl-secondary-blue-hover;
            background: $white;
          }
        }
      }
      &__icon {
        display: none;
        @media (min-width: $tablet) {
          display: inline-block;
          position: relative;
          color: $sl-secondary-blue;
          font-size: 6px;
          float: left;
          padding-top: 4px;
          padding-right: 5px;
        }
      }
    }
  }
}

@media (min-width: $tablet) {
  .subscription__card {
    &__link {
      margin: 0;
    }
  }
}
