@import '../../variables.scss';

.subscription-payment-header {
  text-align: center;
  border-top: 1px solid $gray-30;
  margin-top: 50px;
  padding-top: 40px
}

.subscription-payment-details {
  margin-bottom: 60px;

  .actionLink--add-card {
    all: unset;
    font-family: $font-family-primary;
    color: $brand-secondary;
    &:hover {
      color: $brand-secondary-hover;
    }
  }

  .quiver-alert {
    text-align: center;
    margin: 16px 0;
  }

  .subscription-payment-details__credit-cards {
    margin-bottom: 32px;
  }

  .credit-card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    max-width: 100%;
    padding: 16px 21px 16px 14px;
    font-size: 14px;
    font-family: $font-family-secondary;
    border: 1px solid #d2d6d9;
    outline: 0;
    background: white;
    letter-spacing: 0.025em;
    cursor: pointer;
    color: #aab7c4;
    .credit-card__edit-form__container {
      display: none;
    }
  }

  .credit-card--editting {
    .credit-card__edit-form__container {
      display: block;
    }
  }

  .credit-card--expired .credit-card__details {
    color: #fa5065;
  }

  .credit-card--warning {
    border-color: #fa5065 #d2d6d9 #d2d6d9 #d2d6d9;
    border-top-width: 2px;
  }

  .credit-card__caret {
    position: relative;
    margin-left: 8px;
    content: '';
    border-top: 2px solid #aab7c4;
    border-left: 2px solid #aab7c4;
    height: 10px;
    width: 10px;
    &--closed {
      margin-top: 6px;
      transform: rotate(-135deg);
    }
    &--open {
      margin-top: 9px;
      transform: rotate(45deg);
    }
  }

  .credit-card__edit-form__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #d2d6d9;
    margin-top: 16px;
    padding-top: 8px;
    color: #333333;
  }

  .credit-card__edit-form__content__update {
    flex: 1 1;
  }

  .credit-card__edit-form__form {
    margin-bottom: 16px;
  }

  .credit-card__edit-form__button-container {
    display: inline-flex;
    width: 100%;
    margin-bottom: 24px;
  }

  .credit-card__edit-form__content .quiver-button,
  .credit-card__edit-form__content .quiver-button--info {
    height: 42px;
    margin: 16px 8px 0px 0px;
    width: 43%;
    text-align: center;
    padding: 0;
  }

  .credit-card__edit-form__content select {
    border: 1px solid #ccc;
    background-color: #fff;
    height: 42px;
    padding: 0 16px;
    width: 47%;
    border-radius: 0;
    margin: 8px 7px 0 0;
    outline: none;
    display: inline-flex;
  }

  .credit-card__edit-form__submitting {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    width: 100%;
    border-top: 1px solid #d2d6d9;
    margin-top: 16px;
  }

  .credit-card__edit-form__submitting__message {
    margin-bottom: 16px;
  }

  .credit-card__edit-form__content p {
    font-family: $font-family-primary;
  }

  .credit-card__edit-form__content .actionLink {
    all: unset;
    font-family: $font-family-primary;
    color: $brand-secondary;
    font-size: 18px;
    display: block;
    width: 100%;
    text-align: center;
    height: 42px;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: $brand-secondary-hover;
    }
  }

  .credit-card--active {
    color: #333333;
    border: 3px solid #23d737;
  }

  .credit-card__details {
    display: flex;
    width: 100%;
  }

  .credit-card__details .credit-card__element {
    display: flex;
    margin-right: 8px;
    align-items: center;

    &--card-number {
      flex: 1 0 auto;
    }

    &--default-source-indicator {
      align-items: center;
      min-width: 70px;
      margin-left: 8px;
      span {
        font-size: 12px;
        font-style: italic;
      }
    }
  }

  .credit-card__default-source-disclaimer {
    font-size: 12px;
    font-style: italic;
  }

  .credit-card-form__edit-actions span {
    display: none;
  }

  .subscription-payment-form {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .subscription-payment-form .subscription-payment-header {
    margin: 8px 0;
  }

  .subscription-payment-form__subheader {
    width: 100%;
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
    align-items: center;
  }

  .subscription-payment-form__cc-container {
    width: 100%;
  }

  .subscription-payment-form__cc-container .StripeElement {
    max-width: 100%;
  }

  .credit-card__element--expDate {
    margin-left: 30px;
    &--warning {
      color: #fa5065;
    }
  }
  .credit-card__editform--fields {
    display: flex;
    margin-top: 15px;
  }
  .credit-card__editform--fields--month,
  .credit-card__editform--fields--year,
  .credit-card__editform--fields--zip {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 10px;
    input {
      padding: 0 12px;
    }
    span {
      font-family: $font-family-secondary;
      font-size: 13px;
      width: 100%;
      margin-bottom: 5px;
      color: #6e7273;
    }
  }
  .credit-card__editform--fields--month {
    span {
      width: 70px;
    }
  }
  .credit-card__editform--fields--zip {
    width: 42%;
  }
}

@media (min-width: $tablet) {
  .subscription-payment-details {
    .credit-card {
      font-size: 18px;
    }

    .credit-card__edit-form__content {
      flex-direction: row;
    }

    .credit-card__edit-form__button-container {
      display: flex;
      margin-bottom: 0;
    }

    .credit-card__edit-form__content .quiver-button,
    .credit-card__edit-form__content .quiver-button--info {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 42px;
      width: 42%;
      margin: 16px 12px 0px 0px;
      padding: 0 44px;
    }

    .credit-card__edit-form__content .actionLink {
      font-size: 16px;
      display: inline;
      width: unset;
    }

    .credit-card__default-source-disclaimer {
      max-width: 280px;
    }

    .credit-card-form__edit-actions span {
      display: inline;
    }

    .subscription-payment-form .subscription-payment-header {
      margin: 8px 0;
    }

    .subscription-payment-form__cc-container {
      width: 75%;
    }
  }
}
