@import "../../variables.scss";

.user__card {
  width: 100%;
  padding: 15px;
  background-color: $white;
  margin: 0 0 10px 0;

  @media (min-width: $iphone6s) {
    margin-top: 10px;
  }

  @media (min-width: $tablet) {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 20px;
    text-align: left;
  }

  &__info {
    &__name {
      font-family: $account-primary-font;
      font-size: 18px;
      color: $gray-90;
      letter-spacing: 1.67px;
      line-height: 21px;
      text-align: center;
      padding-top: 10px;
      overflow-wrap: normal;
      @media (min-width: $tablet) {
        text-align: left;
      }
    }

    &__link {
      cursor: pointer;
      text-decoration: none;
      color: $sl-secondary-blue;
      font-family: primaryFont($companyTheme);
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 1.3px;
      text-transform: uppercase;
      text-align: center;
      display: block;
      padding: 15px 0 10px;
      @media (min-width: $tablet) {
        text-align: left;
        font-size: 12px;
        letter-spacing: 1.11px;
        padding: 10px 0 0;
      }
    }

  }
}

@media (min-width: $tablet) {
  .user__card {
    &__info {
      font-size: 15px;
      &__userType {
        font-size: 14px;
        margin-bottom: 30px;
      }
      &__link {
        font-size: 12px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
      }
    }

  }
}
