@import '../../common/themes/main.scss';
.promotion-ineligible__container {
  .quiver-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover {
      color: #ffffff;
    }
  }
}

.promotion-inelibile__container .promotion-error__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0;
  text-align: left;
}
