@import '../../common/themes/main.scss';

.cancel-verify__container--link {
    color: color('light-blue', 50);
    font-family: $source-sans-pro;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: .9px;
    cursor: pointer;
    text-decoration: none;
}
