@import '../../common/themes/main.scss';

.offer-details .offer-details__notification {
  display: flex;
  justify-content: center;
  margin: 8px 0;
  div {
    color: #22d736;
    background-color: color('light-blue', 5);
    font-size: 16px;
    border-radius: 12px;
    padding: 0 12px;
  }
}

.offer-details .offer-details__lines {
  padding: 16px 24px;
  background-color: #f7f2f9;
  margin-bottom: 8px;
}

.offer-details .offer-details__lines .offer-details__line-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-family: secondaryFont($companyTheme);
  color: #96a9b1;
  &:last-child {
    border-top: 1px solid #d2d6d9;
    color: color('gray', 80);
    font-weight: bold;
    padding-top: 8px;
  }
}

.offer-details .offer-details__appendix {
  font-family: secondaryFont($companyTheme);
  color: color('gray', 55);
  font-size: 12px;
  text-align: center;
  border-bottom: 1px solid #d2d6d9;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.offer-details .offer-details__billing-info {
  text-align: center;
  color: #96a9b1;
  font-size: 12px;
}

@media (min-width: $tablet-large) {
  .offer-details .offer-details__lines .offer-details__line-item {
    font-size: 18px;
  }

  .offer-details .offer-details__appendix {
    font-size: 12px;
    margin-bottom: 24px;
  }

  .offer-details .offer-details__billing-info {
    font-size: 16px;
  }
}
