.sl-editorial-article__hero {
  position: relative;
  display: flex;
  height: 472px;
  background: color('light-blue', 50);
  .sl-editorial-article-heading {
    display: none;
  }
  .quiver-premium-ribbon-icon {
    position: absolute;
    top: 0;
    left: 16px;
    height: 35px;
    width: 28px;
  }
}

.sl-editorial-article__hero--heading {
  .sl-editorial-article-heading {
    display: flex;
    flex-direction: column;
    width: calc(100% - 32px);
    padding: 16px 16px 0;
    margin-top: 35px;
  }
  .sl-editorial-article-heading__title {
    color: color('white');
  }
  .sl-editorial-article-heading__subtitle {
    color: color('white');
  }
  .sl-editorial-article-heading__taxonomy {
    a {
      font-size: 14px;
      color: color('white');
      &:hover {
        color: color('white');
      }
    }
  }
  .sl-editorial-article-heading__ad {
    span {
      color: color('white');
    }
  }
}

.sl-editorial-article__hero--gradient {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .2);
    z-index: 0;
  }
  h1, h5, div {
    z-index: 1;
  }
}

// Start - Gradient Positions
// Bottom right corner
.sl-editorial-article__hero--heading.sl-editorial-article__hero--right.sl-editorial-article__hero--bottom.sl-editorial-article__hero--gradient:after {
  background: transparent;
  background-image: linear-gradient(170deg, transparent 50%, rgba(0,0,0,.8));
}
// Bottom left corner
.sl-editorial-article__hero--heading.sl-editorial-article__hero--bottom.sl-editorial-article__hero--gradient:after {
  background: transparent;
  background-image: linear-gradient(190deg, transparent 50%, rgba(0,0,0,.8));
}
// Top right corner
.sl-editorial-article__hero--heading.sl-editorial-article__hero--right.sl-editorial-article__hero--gradient:after {
  background: transparent;
  background-image: linear-gradient(10deg, transparent 50%, rgba(0,0,0,.8));
}
// Top left corner
.sl-editorial-article__hero--heading.sl-editorial-article__hero--gradient:after {
  background: transparent;
  background-image: linear-gradient(-10deg, transparent 50%, rgba(0,0,0,.8));
}
// Vertical middle right
.sl-editorial-article__hero--heading.sl-editorial-article__hero--right.sl-editorial-article__hero--v-center.sl-editorial-article__hero--gradient:after {
  background: transparent;
  background-image: linear-gradient(90deg, transparent 50%, rgba(0,0,0,.8));
}
// Vertical middle left
.sl-editorial-article__hero--heading.sl-editorial-article__hero--v-center.sl-editorial-article__hero--gradient:after {
  background: transparent;
  background-image: linear-gradient(-90deg, transparent 50%, rgba(0,0,0,.8));
}
// Horizontal middle bottom
.sl-editorial-article__hero--heading.sl-editorial-article__hero--h-center.sl-editorial-article__hero--bottom.sl-editorial-article__hero--gradient:after {
  background: transparent;
  background-image: linear-gradient(180deg, transparent 50%, rgba(0,0,0,.8));
}
// Horizontal middle top
.sl-editorial-article__hero--heading.sl-editorial-article__hero--h-center.sl-editorial-article__hero--gradient:after {
  background: transparent;
  background-image: linear-gradient(0deg, transparent 50%, rgba(0,0,0,.8));
}
// Vertical/Horizontal middle
.sl-editorial-article__hero--heading.sl-editorial-article__hero--h-center.sl-editorial-article__hero--v-center.sl-editorial-article__hero--gradient:after {
  background: rgba(0, 0, 0, .2);
}
// End - Gradient Positions

.sl-editorial-article__hero--v-center {
  align-items: center;
  .sl-editorial-article-heading {
    padding-top: 0;
  }
}

.sl-editorial-article__hero--bottom {
  align-items: flex-end;
  .sl-editorial-article-heading {
    padding-top: 0;
    padding-bottom: 40px;
  }
}

.sl-editorial-article__hero--h-center {
  justify-content: center;
  .sl-editorial-article-heading {
    text-align: center;
  }
  .sl-editorial-article-heading__taxonomy {
    justify-content: center;
    a {
      padding: 0 8px;
    }
  }
  .sl-editorial-article-heading__partner {
    margin: 0 8px;
  }
}

.sl-editorial-article__hero--right {
  justify-content: flex-end;
  .sl-editorial-article-heading {
    text-align: right;
  }
  .sl-editorial-article-heading__taxonomy {
    justify-content: flex-end;
    a {
      padding: 0 0 0 16px;
    }
  }
  .sl-editorial-article-heading__partner {
    margin: 0 0 0 16px;
  }
}

.sl-editorial-article__hero__cred {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 14px;
  color: color('white');
  font-style: italic;
  &--center {
    left: 0;
    right: 0;
    text-align: center;
  }
  &--right {
    left: auto;
    right: 16px;
  }
}

@media(min-width: $tablet-width) {
  .sl-editorial-article__hero--heading {
    .sl-editorial-article-heading__title {
      font-size: 40px;
      line-height: 70px;
    }
    .sl-editorial-article-heading__subtitle {
      font-size: 22px;
      line-height: 30px;
    }
    .sl-editorial-article-heading__taxonomy {
      a {
        color: color('white');
        &:hover {
          color: color('white');
        }
      }
    }
  }
}

@media(min-width: $tablet-large) {
  .sl-editorial-article__hero {
    height: 100vh;
    
    .quiver-premium-ribbon-icon {
      position: absolute;
      top: 0;
      left: 71px;
      height: 50px;
      width: 40px;
    }
  }

  .sl-editorial-article__hero--fixed {
    max-height: 570px;
  }

  .sl-editorial-article__hero--heading {
    .sl-editorial-article-heading {
      width: 65%;
      max-width: none;
      margin: 0;
      padding: 72px 0 0 72px;
    }
    .sl-editorial-article-heading__title {
      font-size: 64px;
      line-height: 70px;
    }
  }

  .sl-editorial-article__hero--v-center {
    align-items: center;
    .sl-editorial-article-heading {
      padding-top: 0;
    }
  }

  .sl-editorial-article__hero--bottom {
    align-items: flex-end;
    .sl-editorial-article-heading {
      padding-top: 0;
      padding-bottom: 72px;
    }
  }

  .sl-editorial-article__hero--h-center {
    justify-content: center;
    .sl-editorial-article-heading {
      padding-right: 72px;
      text-align: center;
    }
  }

  .sl-editorial-article__hero--right {
    justify-content: flex-end;
    .sl-editorial-article-heading {
      padding-right: 72px;
      text-align: right;
    }
  }

  .sl-editorial-article__hero__cred {
    left: 72px;
    font-size: 16px;
    &--center {
      left: 0;
    }
    &--right {
      left: auto;
      right: 72px;
    }
  }
}

@media(min-width: $x-large-width) {
  .sl-editorial-article__hero--heading {
    .sl-editorial-article-heading__title {
      font-size: 70px;
    }
  }
}
