@import '../../common/themes/main.scss';

.gift-card-container {
  border-radius: 3px 3px 3px 3px;
  border: 1px solid color('blue-gray', 20);
  display: flex;
  justify-content: center;
}
.gift-card-image {
  width: 171px;
  height: 111px;
  margin: 20px auto;
  filter: drop-shadow(rgba(color('black'), 0.2) 0px 4px 3px);
}
.gift-card-details {
  display: flex;
  flex-direction: column;
  margin: 35px auto;
  flex-basis: 30%;
  span {
    font-size: 18px;
    font-family: $source-sans-pro;
    font-weight: bold;
    letter-spacing: 0;
  }
  p {
    font-size: 14px;
    font-family: $source-sans-pro;
    letter-spacing: 0;
  }
}

@media (min-width: $tablet-large) {
  .gift-card-image {
    margin: 20px 10px;
  }
  .gift-card-details {
    margin: auto 15px;
    span {
      margin: 6px 0px;
    }
  }
}
