# Fishtrack sites

# Sets a $real_scheme variable whose value is the scheme passed by the load
# balancer in X-Forwarded-Proto (if any), defaulting to $scheme.
# Similar to how the HttpRealIp module treats X-Forwarded-For.
# http://stackoverflow.com/questions/21230918/nginx-scheme-variable-behind-load-balancer
map $http_x_forwarded_proto $real_scheme {
  default $http_x_forwarded_proto;
  ''      $scheme;
}

server {
  listen 80;
  server_name my.fishtrack.com;
  return 301 $real_scheme://www.fishtrack.com/upgrade;
}

server {
  listen 80;
  server_name my-<%= "#{node.chef_environment}" %>.fishtrack.com;
  return 301 $real_scheme://<%= "#{node.chef_environment}" %>.fishtrack.com/upgrade;
}

server {
  listen 80;
  server_name www.fishtrack.com staging.fishtrack.com fishtrack.com;

  # Varnish upstream
  set $upstream_varnish <%= node['surfline-nginx']['upstream']['varnish'] %>;

  # Fishtrack upstream
  set $upstream_fishtrack <%= node['surfline-nginx']['upstream']['fishtrack'] %>;

  location ~ ^/myaccount/.*$ {
    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass $real_scheme://$upstream_fishtrack;
  }

  location / {
    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }
}
