# micro-services-proxy

# Sets a $real_scheme variable whose value is the scheme passed by the load
# balancer in X-Forwarded-Proto (if any), defaulting to $scheme.
# Similar to how the HttpRealIp module treats X-Forwarded-For.
# http://stackoverflow.com/questions/21230918/nginx-scheme-variable-behind-load-balancer
map $http_x_forwarded_proto $real_scheme {
  default $http_x_forwarded_proto;
  ''      $scheme;
}

server {
  listen 80;
  server_name internal-services.surfline.com internal-services.<%= "#{node.chef_environment}" %>.surfline.com;

  # Beanstalk micro service upstream endpoints
  set $upstream_auth_service <%= node['surfline-nginx']['upstream']['micro-services-proxy']['auth_service'] %>;
  set $upstream_user_service <%= node['surfline-nginx']['upstream']['micro-services-proxy']['user_service'] %>;
  set $upstream_password_reset_service <%= node['surfline-nginx']['upstream']['micro-services-proxy']['password_reset_service'] %>;
  set $upstream_geo_target_service <%= node['surfline-nginx']['upstream']['micro-services-proxy']['geo_target_service'] %>;
  set $upstream_entitlements_service <%= node['surfline-nginx']['upstream']['micro-services-proxy']['entitlements_service'] %>;
  set $upstream_subscription_service_backend <%= node['surfline-nginx']['upstream']['micro-services-proxy']['subscription_service_backend'] %>;

  location /auth {
    proxy_set_header Host $upstream_auth_service;
    proxy_pass http://$upstream_auth_service;
  }

  location /user {
    proxy_set_header  Host  $upstream_user_service;
    proxy_pass http://$upstream_user_service;
  }

  location /password-reset {
    proxy_set_header  Host  $upstream_password_reset_service;
    proxy_pass http://$upstream_password_reset_service;
  }

  location ~ /geo-target/(?<geo_path>.*) {
    proxy_set_header  Host  $upstream_geo_target_service;
    proxy_pass http://$upstream_geo_target_service/$geo_path?$args;
  }

  location /entitlements {
    proxy_pass http://$upstream_entitlements_service;
  }

  location /subscriptions {
    proxy_pass http://$upstream_subscription_service_backend;
  }

  # health endpoint
  location /health {
    return 200 '{ "status": 200, "message": "OK" }';
    add_header Content-Type application/json;
  }
}
