# Surfline Public Site

# Sets a $real_scheme variable whose value is the scheme passed by the load
# balancer in X-Forwarded-Proto (if any), defaulting to $scheme.
# Similar to how the HttpRealIp module treats X-Forwarded-For.
# http://stackoverflow.com/questions/21230918/nginx-scheme-variable-behind-load-balancer
map $http_x_forwarded_proto $real_scheme {
  default $http_x_forwarded_proto;
  ''      $scheme;
}

server {
  listen 80;
  server_name www.surfline.com staging.surfline.com brasil.surfline.com www.brasil.surfline.com brazil.surfline.com www.brazil.surfline.com m.brasil.surfline.com m.brazil.surfline.com;

  # WWW upstream
  set $upstream_www <%= node['surfline-nginx']['upstream']['www'] %>;

  # WWW downstreams
  set $downstream_mvp <%= node['surfline-nginx']['downstream']['mvp'] %>;
  set $downstream_www <%= node['surfline-nginx']['downstream']['www'] %>;

  # Service Proxy
  set $upstream_openresty <%= node['surfline-nginx']['upstream']['micro-services-proxy']['openresty'] %>;

  # Varnish upstream
  set $upstream_varnish <%= node['surfline-nginx']['upstream']['varnish'] %>;

  # Block BAN/PURGE methods
  if ($request_method ~ (BAN|PURGE)) {
    return 405;
  }

  location ~ ^/buoyweather/idbytypecode.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/buoyweather/xml.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/functions/activity_output_rolling.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/global_includes/header/includes/inc_toppromo.cfm {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/global_includes/header/json/process-recents.cfm {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/gopro-of-the-world/.*$ {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/home/hp_includes/inc_300x250_single_heat_scoring.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/home/hp_includes/mysurfline-module/my-forecast-selector.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/home/index.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/home/index_v.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

   # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/live/.*$ {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/live/index.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/msg/sailthru_cookie.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/photos/config.cfm.*$ {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/rss/.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/sitemap/.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/slmp/v.*/inc_cdn_sequence.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/slmp/v.*/inc_related_articles.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/slmp/v.*/slideloading.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/surf-cams-and-reports.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/surf-news-v/.*_[0-9]+/? {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/surf-news/?$ {
    # If the user has opted-in to mvp, redirect them to new site
    if ($http_cookie ~* "new_surfline=") {
      return 302 https://$downstream_mvp/surf-news;
    }
    if ($args ~ "initial_mvp_opt_in=") {
      return 302 https://$downstream_mvp/surf-news;
    }

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/surf-report-v/.*_[0-9]+/? {
    # If the user has opted-in to mvp, redirect them to new site
    if ($http_cookie ~* "new_surfline=") {
      rewrite ^/surf-report-v/.*_([0-9]+)/? https://$upstream_openresty/kbyg/redirect/mvp/spot/$1 redirect;
    }
    if ($args ~ "initial_mvp_opt_in=") {
      rewrite ^/surf-report-v/.*_([0-9]+)/? https://$upstream_openresty/kbyg/redirect/mvp/spot/$1 redirect;
    }

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/surf-report/(.*)_([0-9]+)/map.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/surf-report/(.*)_([0-9]+)/travel.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/surf-report/.*_[0-9]+/? {
    # If the user has opted-in to mvp, redirect them to new site
    if ($http_cookie ~* "new_surfline=") {
      rewrite ^/surf-report/.*_([0-9]+)/? https://$upstream_openresty/kbyg/redirect/mvp/spot/$1 redirect;
    }
    if ($args ~ "initial_mvp_opt_in=") {
      rewrite ^/surf-report/.*_([0-9]+)/? https://$upstream_openresty/kbyg/redirect/mvp/spot/$1 redirect;
    }

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/surfdata/inc_region/inc_region_report_subregion_summary.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/surfdata/inc_spot/current_time.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/surfdata/inc_spot/inc_mod_tides_ajax.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/surfdata/inc_spot/inc_mod_weather_ajax.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/surfdata/inc_spot/inc_music_xml([0-9])?.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/surfdata/inc_spot/inc_music_xml1.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/surfdata/inc_spot/inc_music_xml.cfm {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ /surfdata/inc_spot/inc_nearby_spots.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/surfdata/inc_spot/inc_nearby_subregions.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/surfdata/inc_spot/report-page-modules.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/surfdata/inc_spot/volcom_quicktide.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/surfdata/report-syndicate.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/surfing-a-to-z/.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/surfnews/archive/index.cfm.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/syndication/feeds/.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/syndication/google_fieldtrip.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/syndication/japan-widgets/.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/widgets2/.*$ {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/xml/.* {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # keepalives break Varnish
    keepalive_timeout 0s;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_varnish;
  }

  location = / {
    # Include config to check for mvp redirect param
    include surfline-public-mvp-redirect-param.inc;

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass $real_scheme://$upstream_www;
  }

  location / {
    # Include config to check for mvp redirect param
    if ($args ~ "initial_mvp_opt_in=") {
      return 302 https://$downstream_mvp/;
    }

    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass $real_scheme://$upstream_www;
  }
}
