# Surfline Public Site Redesign

# Sets a $real_scheme variable whose value is the scheme passed by the load
# balancer in X-Forwarded-Proto (if any), defaulting to $scheme.
# Similar to how the HttpRealIp module treats X-Forwarded-For.
# http://stackoverflow.com/questions/21230918/nginx-scheme-variable-behind-load-balancer
map $http_x_forwarded_proto $real_scheme {
  default $http_x_forwarded_proto;
  ''      $scheme;
}

# Do not include auth for new.surfline.com
server {
  listen 80;
  server_name new.surfline.com <%= node['surfline-nginx']['downstream']['editorial-cdn'] %>;

  # Include config for all environments
  include surfline-public-redesign-all-envs.inc;
}

server {
  listen 80;
  server_name new.staging.surfline.com new.integration.surfline.com new.sandbox.surfline.com <%= node['surfline-nginx']['downstream']['editorial-cdn'] %>;

  auth_basic "Surfline Redesign";
  auth_basic_user_file htpasswd;

  # Include config for all environments
  include surfline-public-redesign-all-envs.inc;
}
