# Default downstream is www.surfline.com
# When launching redesign and merging this code with surfline-public, remove
# this downstream and use the default upstream set there. I'm using a downstream
# here to default non-matched traffic to the public site so that I don't need to
# manage in this conf which routes are sent to Varnish.
set $downstream_www <%= node['surfline-nginx']['downstream']['www'] %>;

# Editorial upstream
set $upstream_editorial <%= node['surfline-nginx']['upstream']['editorial'] %>;
set $upstream_proto_editorial <%= node['surfline-nginx']['upstream']['proto']['editorial'] %>;

# Auth Service
set $upstream_auth_service <%= node['surfline-nginx']['upstream']['micro-services-proxy']['auth_service'] %>;

# Homepage upstream
set $upstream_homepage <%= node['surfline-nginx']['upstream']['homepage'] %>;

# KBYG upstream
set $upstream_kbyg <%= node['surfline-nginx']['upstream']['kbyg'] %>;

# Onboarding upstream
set $upstream_onboarding <%= node['surfline-nginx']['upstream']['onboarding'] %>;

# Travel upstream
set $upstream_travel <%= node['surfline-nginx']['upstream']['travel'] %>;

# Subscription upstream
set $upstream_subscription <%= node['surfline-nginx']['upstream']['subscription-redesign'] %>;

# Product Services CDN
set $product_services_cdn <%= node['surfline-nginx']['cdn']['product-services'] %>;

# Quiver Assets CDN
set $quiver_assets_cdn <%= node['surfline-nginx']['cdn']['quiver-assets'] %>;

# Sitemaps
set $sitemaps <%= node['surfline-nginx']['sitemaps'] %>;

# HTTP->HTTPS redirect
if ($real_scheme != "https") {
  rewrite ^(.*)$ https://$host$1 redirect;
}

# Block BAN/PURGE methods
if ($request_method ~ (BAN|PURGE)) {
  return 405;
}

# Route definitions

# Editorial - Public
location ~ ^\/(surf-news|category|tag|series|wp-(content|includes|json)).*$ {
  proxy_set_header Host $host;
  proxy_set_header X-Forwarded-Proto $real_scheme;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

  proxy_pass $upstream_proto_editorial://$upstream_editorial/varnish$uri$is_args$args;
}

# Editorial - Admin
location ~ ^\/wp-(admin|login).*$ {
  # FIXME: Change host header to match public host after moving admin to surflineadmin.com
  proxy_set_header Host $host;
  proxy_set_header X-Forwarded-Proto $real_scheme;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

  proxy_pass $upstream_proto_editorial://$upstream_editorial;
}

# Homepage
location = / {
  proxy_set_header Host $host;
  proxy_set_header X-Forwarded-Proto $real_scheme;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

  proxy_pass http://$upstream_homepage;
}

# Logout
location /logout {
  proxy_set_header Host $host;
  proxy_set_header X-Forwarded-Proto $real_scheme;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

  proxy_pass http://$upstream_auth_service/auth/logout;
}

# Homepage
location /homepage {
  proxy_set_header Host $host;
  proxy_set_header X-Forwarded-Proto $real_scheme;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

  proxy_pass http://$upstream_homepage;
}

# KBYG
location ~ ^\/(kbyg|favorites|surf-charts|surf-forecasts|surf-report|surf-reports-forecasts-cams|surf-reports-forecasts-cams-map).*$ {
  proxy_set_header Host $host;
  proxy_set_header X-Forwarded-Proto $real_scheme;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

  proxy_pass http://$upstream_kbyg;
}

# Onboarding
location ~ ^\/(onboarding|setup\/(favorite-surf-spots|follow-content)).*$ {
  proxy_set_header Host $host;
  proxy_set_header X-Forwarded-Proto $real_scheme;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

  proxy_pass http://$upstream_onboarding;
}

# Travel
location ~ ^\/(travel|beaches).*$ {
  proxy_set_header Host $host;
  proxy_set_header X-Forwarded-Proto $real_scheme;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_pass http://$upstream_travel;
}

# Subscription Frontend
location ~ ^\/account(\/.*)?$ {
  proxy_set_header Host $host;
  proxy_set_header X-Forwarded-Proto $real_scheme;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

  proxy_pass http://$upstream_subscription;
}

# Subscription Frontend
location ~ ^\/(cancel|create-account|forgot-password|sign-in|subs|upgrade|setup\/(sign-in|create-account)).*$ {
  proxy_set_header Host $host;
  proxy_set_header X-Forwarded-Proto $real_scheme;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

  proxy_pass http://$upstream_subscription;
}

# Directly reference restrictive robots.txt
location = /robots.txt {
  alias /usr/share/nginx/html/restrictive-robots.txt;
}

# Proxy favicon requests
location ~ ^\/undefined\/favicon\.png$ {
  rewrite    /.* /favicons/favicon-32x32.png break;
  proxy_set_header Host $product_services_cdn;
  proxy_ssl_server_name on;
  proxy_ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  proxy_pass https://$product_services_cdn;
}

# Proxy favicon requests
location ~ ^\/favicon\.ico$ {
  rewrite    /.* /favicons/favicon.ico break;
  proxy_set_header Host $product_services_cdn;
  proxy_ssl_server_name on;
  proxy_ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  proxy_pass https://$product_services_cdn;
}

# Proxy readymag.js requests -- single file for editors to use in readymag article
location ~ ^\/readymag\.js$ {
  rewrite    /.* /quiver/0.4.3/scripts/readymag.js break;
  proxy_set_header Host $quiver_assets_cdn;
  proxy_ssl_server_name on;
  proxy_ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  proxy_pass https://$quiver_assets_cdn;
}

# Proxy manifest.json requests -- needs to be on same domain as requesting page
location ~ ^\/manifest\.json$ {
  rewrite    /.* /quiver/0.4.0/android/manifest.json break;
  proxy_set_header Host $quiver_assets_cdn;
  proxy_ssl_server_name on;
  proxy_ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  proxy_pass https://$quiver_assets_cdn;
}

# Proxy sitemap requests
location ~ ^/sitemaps.*$ {
  rewrite    ^/sitemaps/(.*)$ /$1 break;
  proxy_set_header Host $sitemaps;
  proxy_set_header Authorization "";
  proxy_ssl_server_name on;
  proxy_ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  proxy_pass https://$sitemaps;
}

# In Optional/Forced mode, redirect back to legacy if we don't match routes
# In GA mode, default to downstream www as a fallback if no other routes match
location / {
  return 302 http://$downstream_www/;

  # proxy_set_header Host $downstream_www;
  # proxy_set_header X-Forwarded-Proto $real_scheme;
  # proxy_set_header X-Real-IP $remote_addr;
  # proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

  # proxy_pass $real_scheme://$downstream_www;
}

# Use static error pages for catching 404s and common 5xx errors
error_page  404              /404.en.html;
error_page  500 502 503 504  /500.en.html;
proxy_intercept_errors on;

location /500.en.html {
  proxy_set_header Host 'd2v77sj4m6sb4v.cloudfront.net';
  proxy_pass http://prod-subs.cdn-surfline.com/error-pages/500.en.html;
}
location /404.en.html {
  proxy_set_header Host 'd2v77sj4m6sb4v.cloudfront.net';
  proxy_pass http://prod-subs.cdn-surfline.com/error-pages/404.en.html;
}
