# Surfline API

# Sets a $real_scheme variable whose value is the scheme passed by the load
# balancer in X-Forwarded-Proto (if any), defaulting to $scheme.
# Similar to how the HttpRealIp module treats X-Forwarded-For.
# http://stackoverflow.com/questions/21230918/nginx-scheme-variable-behind-load-balancer
map $http_x_forwarded_proto $real_scheme {
  default $http_x_forwarded_proto;
  ''      $scheme;
}



server {
  listen 80;
  server_name api.surfline.com api-nixon.surfline.com api.staging.surfline.com;

  # Oauth upstream
  set $upstream_oauth <%= node['surfline-nginx']['upstream']['oauth2'] %>;

  # Varnish upstream
  set $upstream_varnish <%= node['surfline-nginx']['upstream']['varnish'] %>;

  location / {
    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # Block the following user agents
    if ($http_user_agent ~  "Mozilla/4.0 \(compatible; Synapse\)|Surfate|surfate") {
      return 403;
    }

    # Everything goes to Varnish
    proxy_pass http://$upstream_varnish;
  }

  location ~ ^/oauth/token.* {
    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_oauth;
  }

  location ~ ^/v2/accounts.* {
    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_oauth;
  }

  location ~ ^/v2/login.* {
    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_oauth;
  }

  location ~ ^/v2/password.* {
    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_oauth;
  }

  location ~ ^/v2/register.* {
    # headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $real_scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # upstream
    proxy_pass http://$upstream_oauth;
  }
}
