@import '../../styles/variables';

.slSessionsPage {
  display: flex;
  flex-flow: row nowrap;
}

.quiverPageRailLeft {
  margin-right: 0;
  width: calc(100% - 385px);
  height: calc(100vh - 97px);
  overflow-y: auto;
}

.slSessionsPageRightRail {
  display: flex;
  flex-flow: column;
  width: 385px;
  height: calc(100vh - 97px);
  overflow-y: auto;
  border-left: 1px solid color('gray', 30);
}

.slSessionsPageUser {
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slSessionsPageUserName {
  color: color('gray', 90);
  font-size: 18px;
  font-family: $futura-dem;
  letter-spacing: 0;
  line-height: 18px;
  margin: 0;
}
