description "Airflow webserver daemon"

start on startup
start on runlevel [0123456]
stop on (deconfiguring-networking or runlevel [016])

respawn
respawn limit 5 20

env AIRFLOW_HOME="<%= @config['core']['airflow_home'] %>"
export AIRFLOW_HOME
env AIRFLOW_CONFIG="<%= @config['core']['airflow_home'] %>/airflow.cfg"
export AIRFLOW_CONFIG

env NEW_RELIC_CONFIG_FILE=/etc/newrelic.ini
export NEW_RELIC_CONFIG_FILE

pre-start script
  # Sleep to wait for DB instance up
  sleep 5
end script

script
  exec >> <%= @log_path %>/airflow-webserver.log 2>&1
  exec newrelic-admin run-program /usr/local/bin/airflow webserver
end script
