@import './common/media';
@import '@surfline/quiver-assets/productcdn';

$navigation-bar-height: 56px;
$favorites-bar-height: 40px;
$mobile-navigation-bar-height: 40px;

$taxonomy-navigator-height: 634px;
$taxonomy-navigator-width: 785px;

$taxonomy-navigator-height-tablet: 634px;
$taxonomy-navigator-width-tablet: 585px;

$right-rail-width: 320px;

$cdn-background-path: '#{$sl-product-cdn}/backgrounds';
$cdn-logo-path: '#{$sl-product-cdn}/logos';
