.spotForecastDayCard {
  display: flex;
  width: 100%;
  border-radius: 4px;
  // height: 550px; // use 550 when observation text field is reenabled
  height: 400px;
}

.spotForecastDayContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 500px;
}

.break {
  padding: 6px 12px 6px 12px;
}

.conditionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.humanObservation {
  width: 100%;
}

.applyNextButton {
  float: right;
  margin-right: 0;
  margin-left: auto;
}
