.sl-meter-premium-paywall {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 90;
  bottom: 0;
  .quiver-notification-dialog {
    border-radius: 4px;
    margin-bottom: 8px;
    box-shadow: 0px 2px 4px 0px rgba(color('black'), 0.5);
    background: color('dark-blue', 90);
    max-width: 530px;
    height: 150px;
    padding: 16px;
    cursor: pointer;
  }
  .quiver-notification-dialog .quiver-button {
    height: 40px;
    width: 50%;
    padding: 11px;
    font-size: 14px;
    border: 2px solid color('green', 50);
    background-color: color('green', 50);
    &:hover {
      background-color: color('green', 70);
      border: 2px solid color('green', 70);
    }
  }
}

.sl-meter-premium-paywall__container,
.sl-meter-premium-paywall__container .quiver-regwall__container {
  height: 520px;
}

.sl-meter-premium-paywall__count {
  background-color: color('light-blue', 5);
  border: 1px solid color('blue-gray', 20);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 4px 8px;
  span {
    font-size: 14px;
    font-weight: 600;
    color: #E80212;
  }
}

.sl-meter-premium-paywall__count-message {
  color: color('black');
  margin: 0 6px 0 6px;
  font-family: $futura-dem;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 5px 0 0 0;
}

.sl-meter-premium-paywall__title {
  color: color('black');
  padding-left: 8px;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  width: 342px;
  margin: 0 0 20px 0;
  text-align: center;
  @media (min-width: $tablet-width) {
    width: unset;
  }
}

.sl-meter-premium-paywall__box-title {
  padding-left: 8px;
  font-size: 16px;
}

.quiver-notification-dialog__small {
  border-radius: 26px;
  margin-bottom: 8px;
  box-shadow: 0px 2px 4px 0px rgba(color('black'), 0.5);
  background: color('dark-blue', 90);
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sl-meter-premium-paywall__box-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 22px;
  margin: 24px 0 60px 0;
  @media (min-width: $tablet-width) {
    margin: 0 0 70px 0;
  }
}

.sl-meter-premium-paywall__content {
  bottom: 0;
  max-width: 628px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sl-meter-premium-paywall__subtitle {
  font-size: 16px;
  font-family: $source-sans-pro;
  line-height: 28px;
  margin: 0px 0px 44px 0px;
  padding: 0 20px 0 20px;
  text-align: center;
  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.sl-meter-premium-paywall__subtitle-two {
  font-size: 16px;
  font-family: $source-sans-pro;
  line-height: 28px;
  margin: 0px 0px 32px 0px;
  padding: 0 20px 0 20px;
  text-align: center;
  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin: 0px 0px 32px 0px;
    width: 500px;
    br {
      display: block;
    }
  }
  br {
    display: none;
  }
}

.sl-meter-premium-paywall__content .quiver-button {
  display: none;
  height: 51px;
  width: 90%;
  padding: 14px;
  font-size: 16px;
  margin: 0;
  border: 2px solid color('dark-blue', 10);
  background-color: color('dark-blue', 10);
  &:hover {
    border: 2px solid color('dark-blue', 30);
    background-color: color('dark-blue', 30);
  }
}
.sl-meter-premium-paywall__actions--mobile {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 56px;
  .quiver-button {
    width: 100%;
    border: 2px solid color('dark-blue', 10);
    background-color: color('dark-blue', 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 56px;
  }
  p {
    font-family: $futura-dem;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.662667px;
    color: color('white');
    margin: 0px;
  }
  span {
    font-family: $source-sans-pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    padding-top: 3px;
  }
}

.sl-meter-premium-paywall__container .quiver-regwall__container {
  background: color('gray', 10);
  box-shadow: 0px -4px 15px rgba(60, 60, 60, 0.45);
}
.sl-meter-premium-paywall__verify-email__text {
  color: color('gray', 80);
  font-family: $source-sans-pro;
  font-size: 16px;
  height: 48px;
  line-height: 28px;
  margin: 0 auto 48px auto;
  padding: 0 20px 0 20px;
  text-align: center;
  @media (min-width: $tablet-width) {
    font-size: 18px;
    height: unset;
    br {
      display: block;
    }
  }
  a {
    color: color('dark-blue', 10);
    text-decoration: none;
    margin-right: 6px;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
  br {
    display: none;
  }
}
.sl-meter-premium-paywall__promo__text {
  font-family: $source-sans-pro;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin: 10px 0px 0px 0px;
  display: none;
}

.sl-meter-premium-paywall__container .quiver-regwall__container {
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  @media (min-width: $tablet-width) {
    height: 100%;
  }
}

@media (min-width: $tablet-width) {
  .sl-meter-premium-paywall__container {
    height: 474px;
  }

  .sl-meter-premium-paywall__container .quiver-regwall__container {
    height: 474px;
  }

  .sl-meter-premium-paywall__actions--mobile {
    display: none;
  }

  .sl-meter-premium-paywall__content {
    margin: 32px 0 0 0;
    height: calc(100% - 32px);
  }

  .sl-meter-premium-paywall__content .quiver-button {
    display: block;
    width: 70%;
  }

  .sl-meter-premium-paywall__actions--mobile .quiver-button {
    display: none;
  }

  .sl-meter-premium-paywall__content .sl-meter-premium-paywall__title {
    font-size: 30px;
    line-height: 36px;
  }

  .sl-meter-premium-paywall__promo__text {
    display: block;
  }
}
