@import '~@surfline/quiver-themes/stylesheets/common/_colors.scss';
@import '../../mixins.scss';

.poi-tool__forecast-settings {
  @include split-layout(true);

  .poi-tool__forecast-settings__data__form {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 10px;
    padding: 40px 0;

    &:first-child {
      padding-top: 0;
    }

    &:not(:first-child) {
      border-top: 2px dashed color('gray', 50);
    }
  }

    .poi-tool__forecast-settings__data__form__status {
      margin-bottom: 20px;
    }

    .poi-tool__forecast-settings__data__form__section {
      @include split-layout;

      .section__label {
        display: flex;
        align-items: center;
        font-weight: bold;
      }
    }

    .poi-tool__forecast-settings__data__form__footer {
      display: flex;
      justify-content: flex-end;
    }
}
