description "Airflow worker daemon"

start on startup
start on runlevel [0123456]
stop on (deconfiguring-networking or runlevel [016])

respawn
respawn limit 5 20

env AIRFLOW_HOME="<%= @config['core']['airflow_home'] %>"
export AIRFLOW_HOME
env AIRFLOW_CONFIG="<%= @config['core']['airflow_home'] %>/airflow.cfg"
export AIRFLOW_CONFIG

env NEW_RELIC_CONFIG_FILE=/etc/newrelic.ini
export NEW_RELIC_CONFIG_FILE

script
  exec >> <%= @log_path %>/airflow-worker.log 2>&1
  export AWS_SCIENCE_BASE="<%= node['surfline-airflow']['script_path'] %>/science-scripts"
  export AWS_SCIENCE_S3="s3://surfline-science-s3-<%= "#{node.chef_environment}" %>"
  exec su -s /bin/sh -c 'exec "$0" "$@"' <%= node['airflow']['user'] %> -- newrelic-admin run-program /usr/local/bin/airflow worker
end script
