.registration__mobile-header {
  height: 80px;
  background-image: authBg($companyTheme);
  background-position: right -43%;
}

.registration__geo-image {
  width: 100%;
  height: 100%;
  background-image: authBg($companyTheme);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 380px;
}

.registration__cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
}

.registration__cta__header {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1.5px;
  color: color('white');
  text-align: center;
}

.registration__cta__item {
  display: inline-flex;
  width: 100%;
  margin: 16px 0 8px 0;
}

.registration__cta__item svg {
  margin: 4px 0;
}

.registration__cta__item__text {
  margin: 0 0 0 32px;
  max-width: 290px;
  h4 {
    font-size: 16px;
    letter-spacing: 1px;
    color: color('white');
    margin: 0;
  }
  p {
    font-size: 14px;
    line-height: 19px;
    color: color('white');
    margin: 0px;
    font-family: $source-sans-pro;
  }
}

@media (min-width: $tablet-large) {
  .registration__cta {
    margin: 60px 0 0 0;
  }

  .registration__cta__header {
    font-size: 36px;
    line-height: 36px;
  }

  .registration__cta__item__text {
    h4 {
      font-size: 20px;
    }
  }
}
