@import '../../styles/_variables.scss';

.mapBuoyCards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 140px;
  list-style-type: none;
  margin: 0;
  padding: 4px 16px 24px;
  overflow-x: scroll;

  :global {
    .sl-buoy-card {
      margin-right: 8px;
    }
  }
}

@media (min-width: $tablet-width) {
  .mapBuoyCards {
    padding: 0 24px 40px;
  }
}

@media (min-width: $tablet-large) {
  .mapBuoyCards {
    display: flex;
    flex-flow: row wrap;
    overflow: unset;
    height: 100%;
    padding: 0;

    :global {
      .sl-buoy-card {
        margin-right: 0;
      }
    }
  }
}
