@import '~@surfline/quiver-themes/stylesheets/common/_colors.scss';
.poi-tool__sl-spot-data {
  .poi-tool-checkbox-control__choices {
    flex-direction: column;
  }
}

.poi-tool__sl-spot-data__human-report {
  padding-bottom: 10px;
}

  .poi-tool__sl-spot-data__human-report__loading-msg {
    font-style: italic;
  }

.poi-tool__sl-spot-data__dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: color('gray', 30);
  border-style: dashed;
  background-color: color('gray', 10);
  color: color('gray', 60);
  outline: none;
  transition: border .24s ease-in-out;
  height: 100px;
  margin-bottom: 10px;
}

.poi-tool__forecast-settings__data__form__status {
  margin-bottom: 15px;

  .quiver-alert--warning {
    a {
      color: color('light-blue', 'core') !important;
      text-decoration: underline;
    }
  }
}
