@mixin cam-message {
  width: 100%;
  text-align: center;
  position: absolute;
  color: color('white');
  font-size: 21px;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  button {
    margin: 15px 0px;
    padding: 9px 15px 10px;
    font-family: $futura-dem;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.3px;
    height: 34px;
    text-align: center;
    color: color('white');
    border: none;
    cursor: pointer;
    outline: none;
  }
}

@mixin cam-message-button($color, $tone) {
  $default-color: color($color, $tone);
  $darker-color: color($color, $tone + 20);
  $darkest-color: color($color, $tone + 40);
  button {
    background-color: #{$default-color};
    &:hover {
      background-color: #{$darker-color};
    }
    &:active, &:focus {
      background-color: #{$darker-color};
    }
  }
}
