@use 'sass:map';
@use 'sass:math';
@import '../../common/conditions';

@mixin dual-conditions($base-class, $pixel-height) {
  .#{$base-class} {
    position: relative;
    vertical-align: top;
    height: #{$pixel-height}px;

    &:first-child::after,
    &:last-child::before {
      content: '';
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
    }

    &:first-child {
      float: left;

      // This removes the diagonal when conditions are the same
      width: calc(50% - #{(math.div($pixel-height, 4)) + 1}px);
    }

    &:last-child {
      float: right;

      // +2 px is for the gap between days
      width: calc(50% - #{math.div($pixel-height, 4)}px - 2px);
    }
  }

  @each $condition, $colors in $__sl-condition-color-map {
    .#{$base-class}--#{$condition} {
      background-color: map.get($colors, default);

      &:first-child::after {
        left: 100%;
        border-top: #{$pixel-height}px solid map.get($colors, default);
        border-right: #{math.div($pixel-height, 2)}px solid transparent;
      }

      &:last-child::before {
        right: 100%;
        border-bottom: #{$pixel-height}px solid map.get($colors, default);
        border-left: #{math.div($pixel-height, 2)}px solid transparent;
      }
    }
  }
}
