#!/bin/bash

source <%= @cf8tmp %>/env.sh

template=<%= @cf8tmp %>/neo-datasource.template.xml
outfile=<%= @cf8dir %>/lib/neo-datasource.xml

# Replace vars in template and remove whitespace
sed -e "s|{{PROD_CALENDAR_DB_DATABASE}}|${PROD_CALENDAR_DB_DATABASE}|g" \
    -e "s|{{PROD_CALENDAR_DB_DSN}}|${PROD_CALENDAR_DB_DSN}|g" \
    -e "s|{{PROD_CALENDAR_DB_HOST}}|${PROD_CALENDAR_DB_HOST}|g" \
    -e "s|{{PROD_CALENDAR_DB_PASS_ENC}}|${PROD_CALENDAR_DB_PASS_ENC}|g" \
    -e "s|{{PROD_CALENDAR_DB_PORT}}|${PROD_CALENDAR_DB_PORT}|g" \
    -e "s|{{PROD_CALENDAR_DB_USER}}|${PROD_CALENDAR_DB_USER}|g" \
    -e "s|{{PROD_SESSION_DB_DATABASE}}|${PROD_SESSION_DB_DATABASE}|g" \
    -e "s|{{PROD_SESSION_DB_DSN}}|${PROD_SESSION_DB_DSN}|g" \
    -e "s|{{PROD_SESSION_DB_HOST}}|${PROD_SESSION_DB_HOST}|g" \
    -e "s|{{PROD_SESSION_DB_PASS_ENC}}|${PROD_SESSION_DB_PASS_ENC}|g" \
    -e "s|{{PROD_SESSION_DB_PORT}}|${PROD_SESSION_DB_PORT}|g" \
    -e "s|{{PROD_SESSION_DB_USER}}|${PROD_SESSION_DB_USER}|g" \
    -e "s|{{PROD_SURFCOMPANIES_DB_DATABASE}}|${PROD_SURFCOMPANIES_DB_DATABASE}|g" \
    -e "s|{{PROD_SURFCOMPANIES_DB_DSN}}|${PROD_SURFCOMPANIES_DB_DSN}|g" \
    -e "s|{{PROD_SURFCOMPANIES_DB_HOST}}|${PROD_SURFCOMPANIES_DB_HOST}|g" \
    -e "s|{{PROD_SURFCOMPANIES_DB_PASS_ENC}}|${PROD_SURFCOMPANIES_DB_PASS_ENC}|g" \
    -e "s|{{PROD_SURFCOMPANIES_DB_PORT}}|${PROD_SURFCOMPANIES_DB_PORT}|g" \
    -e "s|{{PROD_SURFCOMPANIES_DB_USER}}|${PROD_SURFCOMPANIES_DB_USER}|g" \
    -e "s|{{PROD_SURFLINE_DB_DATABASE}}|${PROD_SURFLINE_DB_DATABASE}|g" \
    -e "s|{{PROD_SURFLINE_DB_DSN}}|${PROD_SURFLINE_DB_DSN}|g" \
    -e "s|{{PROD_SURFLINE_DB_HOST}}|${PROD_SURFLINE_DB_HOST}|g" \
    -e "s|{{PROD_SURFLINE_DB_PASS_ENC}}|${PROD_SURFLINE_DB_PASS_ENC}|g" \
    -e "s|{{PROD_SURFLINE_DB_PORT}}|${PROD_SURFLINE_DB_PORT}|g" \
    -e "s|{{PROD_SURFLINE_DB_USER}}|${PROD_SURFLINE_DB_USER}|g" \
    -e "s|{{PROD_SURVEY_DB_DATABASE}}|${PROD_SURVEY_DB_DATABASE}|g" \
    -e "s|{{PROD_SURVEY_DB_DSN}}|${PROD_SURVEY_DB_DSN}|g" \
    -e "s|{{PROD_SURVEY_DB_HOST}}|${PROD_SURVEY_DB_HOST}|g" \
    -e "s|{{PROD_SURVEY_DB_PASS_ENC}}|${PROD_SURVEY_DB_PASS_ENC}|g" \
    -e "s|{{PROD_SURVEY_DB_PORT}}|${PROD_SURVEY_DB_PORT}|g" \
    -e "s|{{PROD_SURVEY_DB_USER}}|${PROD_SURVEY_DB_USER}|g" ${template} \
  | tr -d '\n\r' | sed 's/>[[:space:]]*</></g' > ${outfile}
