#!/bin/bash

source <%= @cf8tmp %>/env.sh

template=<%= @cf8tmp %>/neo-runtime.template.xml
outfile=<%= @cf8dir %>/lib/neo-runtime.xml

# Replace vars in template and remove whitespace
sed -e "s|{{CF_MISSING_TEMPLATE}}|${CF_MISSING_TEMPLATE}|g" \
    -e "s|{{CF_SITEWIDE_ERROR_TEMPLATE}}|${CF_SITEWIDE_ERROR_TEMPLATE}|g" \
    -e "s|{{CF_REQUEST_TIMEOUT}}|${CF_REQUEST_TIMEOUT}|g" \
    -e "s|{{CF_QUEUE_TIMEOUT}}|${CF_QUEUE_TIMEOUT}|g" \
    -e "s|{{CF_POST_SIZE_LIMIT}}|${CF_POST_SIZE_LIMIT}|g" \
    -e "s|{{CF_REQUEST_LIMIT}}|${CF_REQUEST_LIMIT}|g" \
    -e "s|{{CF_POST_PARAMETERS_LIMIT}}|${CF_POST_PARAMETERS_LIMIT}|g" \
    -e "s|{{CF_SESSION_TIMEOUT_DAYS}}|${CF_SESSION_TIMEOUT_DAYS}|g" \
    -e "s|{{CF_SESSION_TIMEOUT_HOURS}}|${CF_SESSION_TIMEOUT_HOURS}|g" \
    -e "s|{{CF_SESSION_TIMEOUT_MINUTES}}|${CF_SESSION_TIMEOUT_MINUTES}|g" \
    -e "s|{{CF_SESSION_TIMEOUT_SECONDS}}|${CF_SESSION_TIMEOUT_SECONDS}|g" \
  ${template} | tr -d '\n\r' | sed 's/>[[:space:]]*</></g' > ${outfile}
