#!/bin/bash

PROD_CALENDAR_DB_DATABASE=<%= @PROD_CALENDAR_DB_DATABASE %>
PROD_CALENDAR_DB_DSN=<%= @PROD_CALENDAR_DB_DSN %>
PROD_CALENDAR_DB_HOST=<%= @PROD_CALENDAR_DB_HOST %>
PROD_CALENDAR_DB_PASS=<%= @PROD_CALENDAR_DB_PASS %>
PROD_CALENDAR_DB_PORT=<%= @PROD_CALENDAR_DB_PORT %>
PROD_CALENDAR_DB_USER=<%= @PROD_CALENDAR_DB_USER %>

PROD_SESSION_DB_DATABASE=<%= @PROD_SESSION_DB_DATABASE %>
PROD_SESSION_DB_DSN=<%= @PROD_SESSION_DB_DSN %>
PROD_SESSION_DB_HOST=<%= @PROD_SESSION_DB_HOST %>
PROD_SESSION_DB_PASS=<%= @PROD_SESSION_DB_PASS %>
PROD_SESSION_DB_PORT=<%= @PROD_SESSION_DB_PORT %>
PROD_SESSION_DB_USER=<%= @PROD_SESSION_DB_USER %>

PROD_SURFCOMPANIES_DB_DATABASE=<%= @PROD_SURFCOMPANIES_DB_DATABASE %>
PROD_SURFCOMPANIES_DB_DSN=<%= @PROD_SURFCOMPANIES_DB_DSN %>
PROD_SURFCOMPANIES_DB_HOST=<%= @PROD_SURFCOMPANIES_DB_HOST %>
PROD_SURFCOMPANIES_DB_PASS=<%= @PROD_SURFCOMPANIES_DB_PASS %>
PROD_SURFCOMPANIES_DB_PORT=<%= @PROD_SURFCOMPANIES_DB_PORT %>
PROD_SURFCOMPANIES_DB_USER=<%= @PROD_SURFCOMPANIES_DB_USER %>

PROD_SURFLINE_DB_DATABASE=<%= @PROD_SURFLINE_DB_DATABASE %>
PROD_SURFLINE_DB_DSN=<%= @PROD_SURFLINE_DB_DSN %>
PROD_SURFLINE_DB_HOST=<%= @PROD_SURFLINE_DB_HOST %>
PROD_SURFLINE_DB_PASS=<%= @PROD_SURFLINE_DB_PASS %>
PROD_SURFLINE_DB_PORT=<%= @PROD_SURFLINE_DB_PORT %>
PROD_SURFLINE_DB_USER=<%= @PROD_SURFLINE_DB_USER %>

PROD_SURVEY_DB_DATABASE=<%= @PROD_SURVEY_DB_DATABASE %>
PROD_SURVEY_DB_DSN=<%= @PROD_SURVEY_DB_DSN %>
PROD_SURVEY_DB_HOST=<%= @PROD_SURVEY_DB_HOST %>
PROD_SURVEY_DB_PASS=<%= @PROD_SURVEY_DB_PASS %>
PROD_SURVEY_DB_PORT=<%= @PROD_SURVEY_DB_PORT %>
PROD_SURVEY_DB_USER=<%= @PROD_SURVEY_DB_USER %>

PROD_CALENDAR_DB_PASS_ENC=<%= @PROD_CALENDAR_DB_PASS_ENC %>
PROD_SESSION_DB_PASS_ENC=<%= @PROD_SESSION_DB_PASS_ENC %>
PROD_SURFCOMPANIES_DB_PASS_ENC=<%= @PROD_SURFCOMPANIES_DB_PASS_ENC %>
PROD_SURFLINE_DB_PASS_ENC=<%= @PROD_SURFLINE_DB_PASS_ENC %>
PROD_SURVEY_DB_PASS_ENC=<%= @PROD_SURVEY_DB_PASS_ENC %>

CF_MISSING_TEMPLATE=<%= @CF_MISSING_TEMPLATE %>
CF_SITEWIDE_ERROR_TEMPLATE=<%= @CF_SITEWIDE_ERROR_TEMPLATE %>
CF_REQUEST_TIMEOUT=<%= @CF_REQUEST_TIMEOUT %>
CF_QUEUE_TIMEOUT=<%= @CF_QUEUE_TIMEOUT %>
CF_POST_SIZE_LIMIT=<%= @CF_POST_SIZE_LIMIT %>
CF_REQUEST_LIMIT=<%= @CF_REQUEST_LIMIT %>
CF_POST_PARAMETERS_LIMIT=<%= @CF_POST_PARAMETERS_LIMIT %>
CF_SESSION_TIMEOUT_DAYS=<%= @CF_SESSION_TIMEOUT_DAYS %>
CF_SESSION_TIMEOUT_HOURS=<%= @CF_SESSION_TIMEOUT_HOURS %>
CF_SESSION_TIMEOUT_MINUTES=<%= @CF_SESSION_TIMEOUT_MINUTES %>
CF_SESSION_TIMEOUT_SECONDS=<%= @CF_SESSION_TIMEOUT_SECONDS %>
