# Managed by Chef

#
# VM configuration
#
# Where to find JVM, if {java.home}/jre exists then that JVM is used
# if not then it must be the path to the JRE itself
java.home=<%= @javahome %>
#
# If no java.home is specified a VM is located by looking in these places in this
# order:
#
#  1) bin directory for java.dll (windows) or lib/<ARCH>/libjava.so (unix)
#  2) ../jre
#  3) registry (windows only)
#  4) JAVA_HOME env var plus jre (ie $JAVA_HOME/jre)
#
# /opt/coldfusion8/java/CFMemoryagent.jar

#
# Arguments to VM
#
java.args=-server -Dlog4j2.formatMsgNoLookups=true -Djava.awt.headless=true -Xms<%= @xms %> -Xmx<%= @xmx %> -Dcom.sun.management.jmxremote.port=8701 -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false -Dsun.io.useCanonCaches=false -XX:+UseConcMarkSweepGC -XX:+CMSIncrementalMode -XX:NewRatio=2 -XX:SurvivorRatio=2 -Dcoldfusion.rootDir={application.home}/../ -Dcoldfusion.libPath={application.home}/../lib -Dcoldfusion.classPath={application.home}/../lib/updates,{application.home}/../lib,{application.home}/../gateway/lib/,{application.home}/../wwwroot/WEB-INF/flex/jars,{application.home}/../wwwroot/WEB-INF/cfform/jars,{application.home}/../java/newrelic.jar -Dsun.security.ssl.allowUnsafeRenegotiation=true -Dnewrelic.environment=<%= "#{node.chef_environment}" %> -javaagent:{application.home}/../java/newrelic.jar

# commas will be converted to platform specific separator and the result will be passed
# as -Djava.ext.dirs= to the VM
java.ext.dirs={jre.home}/lib/ext

# where to find shared libraries
java.library.path={application.home}/../lib
system.path.first=false

# set the current working directory - useful for Windows to control
# the default search path used when loading DLLs since it comes
# before system directory, windows directory and PATH
java.user.dir={application.home}/../../lib

# JVM classpath
java.class.path={application.home}/servers/lib,{application.home}/../lib/macromedia_drivers.jar,{application.home}/lib/cfmx_mbean.jar,{application.home}/lib,/opt/coldfusionmx/java/verisign/payflowpro/Java/PFProColdFusion,/opt/coldfusionmx/java/verisign/payflowpro/Java/PFProColdFusion/Verisign.jar,/opt/coldfusionmx/java/trustcommerce,/opt/coldfusionmx/wwwroot/WEB-INF/lib/cfx.jar,/opt/coldfusion8/java/twitter4j-core-2.2.0.jar:/opt/coldfusion8/java/surfline/,{application.home}/../java/newrelic.jar
