<cfsilent>
  <cfparam name="url.reload" default="false" />

  <!--- Load variables from Chef --->
  <cfset request.confHostname = "<%= @hostname %>" />
  <cfset request.mongoConnectionString = "<%= @MongoConnectionString %>" />
  <cfset request.confProdCalendarDbUser = "<%= @PROD_CALENDAR_DB_USER %>" />
  <cfset request.confProdCalendarDbPass = "<%= @PROD_CALENDAR_DB_PASS %>" />
  <cfset request.confProdSessionDbUser = "<%= @PROD_SESSION_DB_USER %>" />
  <cfset request.confProdSessionDbPass = "<%= @PROD_SESSION_DB_PASS %>" />
  <cfset request.confProdSurfCompaniesDbUser = "<%= @PROD_SURFCOMPANIES_DB_USER %>" />
  <cfset request.confProdSurfCompaniesDbPass = "<%= @PROD_SURFCOMPANIES_DB_PASS %>" />
  <cfset request.confProdSurflineDbUser = "<%= @PROD_SURFLINE_DB_USER %>" />
  <cfset request.confProdSurflineDbPass = "<%= @PROD_SURFLINE_DB_PASS %>" />
  <cfset request.confRedisHost = "<%= @RedisHost %>" />

  <cflock scope="Application" timeout="30" type="EXCLUSIVE">
    <cfset application.locationFlag = "<%= @LOCATION_FLAG %>" />
    <cfset application.workarea = "<%= @LOCATION_FLAG %>" />
    <cfset Application.cfcRoot = "surfline_cfc" />
    <cfset Application.ctRoot = "surfline_ctag" />
    <cfset Application.CfServerID = request.confHostname>
  </cflock>
</cfsilent>
