<wddxPacket version='1.0'>
  <header/>
  <data>
    <array length='2'>
      <struct type='coldfusion.server.ConfigMap'>
        <var name='{{PROD_SURVEY_DB_DSN}}'>
          <struct type='coldfusion.server.ConfigMap'>
            <var name='NAME'>
              <string>{{PROD_SURVEY_DB_DSN}}</string>
            </var>
            <var name='description'>
              <string>
              </string>
            </var>
            <var name='interval'>
              <number>420.0</number>
            </var>
            <var name='alter'>
              <boolean value='true'/>
            </var>
            <var name='delete'>
              <boolean value='true'/>
            </var>
            <var name='urlmap'>
              <struct type='coldfusion.server.ConfigMap'>
                <var name='maxBufferSize'>
                  <string>
                  </string>
                </var>
                <var name='spyLogFile'>
                  <string>
                  </string>
                </var>
                <var name='_port'>
                  <number>{{PROD_SURVEY_DB_PORT}}</number>
                </var>
                <var name='args'>
                  <string>
                  </string>
                </var>
                <var name='_logintimeout'>
                  <number>30.0</number>
                </var>
                <var name='defaultpassword'>
                  <string>
                  </string>
                </var>
                <var name='host'>
                  <string>{{PROD_SURVEY_DB_HOST}}</string>
                </var>
                <var name='database'>
                  <string>{{PROD_SURVEY_DB_DATABASE}}</string>
                </var>
                <var name='informixServer'>
                  <string>
                  </string>
                </var>
                <var name='sendStringParametersAsUnicode'>
                  <string>false</string>
                </var>
                <var name='port'>
                  <number>{{PROD_SURVEY_DB_PORT}}</number>
                </var>
                <var name='defaultusername'>
                  <string>
                  </string>
                </var>
                <var name='datasource'>
                  <string>
                  </string>
                </var>
                <var name='MaxPooledStatements'>
                  <string>1000</string>
                </var>
                <var name='TimeStampAsString'>
                  <string>false</string>
                </var>
                <var name='useSpyLog'>
                  <boolean value='false'/>
                </var>
                <var name='SID'>
                  <string>
                  </string>
                </var>
                <var name='systemDatabaseFile'>
                  <string>
                  </string>
                </var>
                <var name='isnewdb'>
                  <string>false</string>
                </var>
                <var name='UseTrustedConnection'>
                  <string>false</string>
                </var>
                <var name='databaseFile'>
                  <string>
                  </string>
                </var>
                <var name='CONNECTIONPROPS'>
                  <struct>
                    <var name='SELECTMETHOD'>
                      <string>cursor</string>
                    </var>
                    <var name='DATABASE'>
                      <string>{{PROD_SURVEY_DB_DATABASE}}</string>
                    </var>
                    <var name='SENDSTRINGPARAMETERSASUNICODE'>
                      <string>false</string>
                    </var>
                    <var name='PORT'>
                      <string>{{PROD_SURVEY_DB_PORT}}</string>
                    </var>
                    <var name='HOST'>
                      <string>{{PROD_SURVEY_DB_HOST}}</string>
                    </var>
                  </struct>
                </var>
                <var name='pageTimeout'>
                  <string>
                  </string>
                </var>
                <var name='selectMethod'>
                  <string>cursor</string>
                </var>
              </struct>
            </var>
            <var name='disable_clob'>
              <boolean value='false'/>
            </var>
            <var name='revoke'>
              <boolean value='true'/>
            </var>
            <var name='select'>
              <boolean value='true'/>
            </var>
            <var name='DRIVER'>
              <string>MSSQLServer</string>
            </var>
            <var name='login_timeout'>
              <number>30.0</number>
            </var>
            <var name='disable_blob'>
              <boolean value='false'/>
            </var>
            <var name='storedproc'>
              <boolean value='true'/>
            </var>
            <var name='CLASS'>
              <string>macromedia.jdbc.MacromediaDriver</string>
            </var>
            <var name='ISJ2EE'>
              <boolean value='false'/>
            </var>
            <var name='create'>
              <boolean value='true'/>
            </var>
            <var name='validationQuery'>
              <string>
              </string>
            </var>
            <var name='timeout'>
              <number>1200.0</number>
            </var>
            <var name='password'>
              <string>{{PROD_SURVEY_DB_PASS_ENC}}</string>
            </var>
            <var name='update'>
              <boolean value='true'/>
            </var>
            <var name='drop'>
              <boolean value='true'/>
            </var>
            <var name='pooling'>
              <boolean value='true'/>
            </var>
            <var name='url'>
              <string>jdbc:macromedia:sqlserver://{{PROD_SURVEY_DB_HOST}}:{{PROD_SURVEY_DB_PORT}};databaseName={{PROD_SURVEY_DB_DATABASE}};SelectMethod=cursor;sendStringParametersAsUnicode=false</string>
            </var>
            <var name='username'>
              <string>{{PROD_SURVEY_DB_USER}}</string>
            </var>
            <var name='grant'>
              <boolean value='true'/>
            </var>
            <var name='buffer'>
              <number>256000.0</number>
            </var>
            <var name='disable'>
              <boolean value='false'/>
            </var>
            <var name='insert'>
              <boolean value='true'/>
            </var>
            <var name='blob_buffer'>
              <number>256000.0</number>
            </var>
          </struct>
        </var>
        <var name='{{PROD_SESSION_DB_DSN}}'>
          <struct type='coldfusion.server.ConfigMap'>
            <var name='NAME'>
              <string>{{PROD_SESSION_DB_DSN}}</string>
            </var>
            <var name='description'>
              <string>
              </string>
            </var>
            <var name='interval'>
              <number>420.0</number>
            </var>
            <var name='alter'>
              <boolean value='true'/>
            </var>
            <var name='delete'>
              <boolean value='true'/>
            </var>
            <var name='urlmap'>
              <struct type='coldfusion.server.ConfigMap'>
                <var name='maxBufferSize'>
                  <string>
                  </string>
                </var>
                <var name='spyLogFile'>
                  <string>
                  </string>
                </var>
                <var name='_port'>
                  <number>{{PROD_SESSION_DB_PORT}}</number>
                </var>
                <var name='args'>
                  <string>
                  </string>
                </var>
                <var name='_logintimeout'>
                  <number>30.0</number>
                </var>
                <var name='defaultpassword'>
                  <string>
                  </string>
                </var>
                <var name='host'>
                  <string>{{PROD_SESSION_DB_HOST}}</string>
                </var>
                <var name='database'>
                  <string>{{PROD_SESSION_DB_DATABASE}}</string>
                </var>
                <var name='informixServer'>
                  <string>
                  </string>
                </var>
                <var name='sendStringParametersAsUnicode'>
                  <string>false</string>
                </var>
                <var name='port'>
                  <number>{{PROD_SESSION_DB_PORT}}</number>
                </var>
                <var name='defaultusername'>
                  <string>
                  </string>
                </var>
                <var name='datasource'>
                  <string>
                  </string>
                </var>
                <var name='MaxPooledStatements'>
                  <string>1000</string>
                </var>
                <var name='TimeStampAsString'>
                  <string>false</string>
                </var>
                <var name='useSpyLog'>
                  <boolean value='false'/>
                </var>
                <var name='SID'>
                  <string>
                  </string>
                </var>
                <var name='systemDatabaseFile'>
                  <string>
                  </string>
                </var>
                <var name='isnewdb'>
                  <string>false</string>
                </var>
                <var name='UseTrustedConnection'>
                  <string>false</string>
                </var>
                <var name='databaseFile'>
                  <string>
                  </string>
                </var>
                <var name='CONNECTIONPROPS'>
                  <struct>
                    <var name='SELECTMETHOD'>
                      <string>cursor</string>
                    </var>
                    <var name='DATABASE'>
                      <string>{{PROD_SESSION_DB_DATABASE}}</string>
                    </var>
                    <var name='SENDSTRINGPARAMETERSASUNICODE'>
                      <string>false</string>
                    </var>
                    <var name='PORT'>
                      <string>{{PROD_SESSION_DB_PORT}}</string>
                    </var>
                    <var name='HOST'>
                      <string>{{PROD_SESSION_DB_HOST}}</string>
                    </var>
                  </struct>
                </var>
                <var name='pageTimeout'>
                  <string>
                  </string>
                </var>
                <var name='selectMethod'>
                  <string>cursor</string>
                </var>
              </struct>
            </var>
            <var name='disable_clob'>
              <boolean value='false'/>
            </var>
            <var name='revoke'>
              <boolean value='true'/>
            </var>
            <var name='select'>
              <boolean value='true'/>
            </var>
            <var name='DRIVER'>
              <string>MSSQLServer</string>
            </var>
            <var name='login_timeout'>
              <number>30.0</number>
            </var>
            <var name='disable_blob'>
              <boolean value='false'/>
            </var>
            <var name='storedproc'>
              <boolean value='true'/>
            </var>
            <var name='CLASS'>
              <string>macromedia.jdbc.MacromediaDriver</string>
            </var>
            <var name='ISJ2EE'>
              <boolean value='false'/>
            </var>
            <var name='create'>
              <boolean value='true'/>
            </var>
            <var name='validationQuery'>
              <string>
              </string>
            </var>
            <var name='timeout'>
              <number>1200.0</number>
            </var>
            <var name='password'>
              <string>{{PROD_SESSION_DB_PASS_ENC}}</string>
            </var>
            <var name='update'>
              <boolean value='true'/>
            </var>
            <var name='drop'>
              <boolean value='true'/>
            </var>
            <var name='pooling'>
              <boolean value='true'/>
            </var>
            <var name='url'>
              <string>jdbc:macromedia:sqlserver://{{PROD_SESSION_DB_HOST}}:{{PROD_SESSION_DB_PORT}};databaseName={{PROD_SESSION_DB_DATABASE}};SelectMethod=cursor;sendStringParametersAsUnicode=false</string>
            </var>
            <var name='username'>
              <string>{{PROD_SESSION_DB_USER}}</string>
            </var>
            <var name='grant'>
              <boolean value='true'/>
            </var>
            <var name='buffer'>
              <number>256000.0</number>
            </var>
            <var name='disable'>
              <boolean value='false'/>
            </var>
            <var name='insert'>
              <boolean value='true'/>
            </var>
            <var name='blob_buffer'>
              <number>256000.0</number>
            </var>
          </struct>
        </var>
        <var name='{{PROD_SURFCOMPANIES_DB_DSN}}'>
          <struct type='coldfusion.server.ConfigMap'>
            <var name='NAME'>
              <string>{{PROD_SURFCOMPANIES_DB_DSN}}</string>
            </var>
            <var name='description'>
              <string>
              </string>
            </var>
            <var name='interval'>
              <number>420.0</number>
            </var>
            <var name='alter'>
              <boolean value='true'/>
            </var>
            <var name='delete'>
              <boolean value='true'/>
            </var>
            <var name='urlmap'>
              <struct type='coldfusion.server.ConfigMap'>
                <var name='maxBufferSize'>
                  <string>
                  </string>
                </var>
                <var name='spyLogFile'>
                  <string>
                  </string>
                </var>
                <var name='_port'>
                  <number>{{PROD_SURFCOMPANIES_DB_PORT}}</number>
                </var>
                <var name='args'>
                  <string>
                  </string>
                </var>
                <var name='_logintimeout'>
                  <number>30.0</number>
                </var>
                <var name='defaultpassword'>
                  <string>
                  </string>
                </var>
                <var name='host'>
                  <string>{{PROD_SURFCOMPANIES_DB_HOST}}</string>
                </var>
                <var name='database'>
                  <string>{{PROD_SURFCOMPANIES_DB_DATABASE}}</string>
                </var>
                <var name='informixServer'>
                  <string>
                  </string>
                </var>
                <var name='sendStringParametersAsUnicode'>
                  <string>false</string>
                </var>
                <var name='port'>
                  <number>{{PROD_SURFCOMPANIES_DB_PORT}}</number>
                </var>
                <var name='defaultusername'>
                  <string>
                  </string>
                </var>
                <var name='datasource'>
                  <string>
                  </string>
                </var>
                <var name='MaxPooledStatements'>
                  <string>1000</string>
                </var>
                <var name='TimeStampAsString'>
                  <string>false</string>
                </var>
                <var name='useSpyLog'>
                  <boolean value='false'/>
                </var>
                <var name='SID'>
                  <string>
                  </string>
                </var>
                <var name='systemDatabaseFile'>
                  <string>
                  </string>
                </var>
                <var name='isnewdb'>
                  <string>false</string>
                </var>
                <var name='UseTrustedConnection'>
                  <string>false</string>
                </var>
                <var name='databaseFile'>
                  <string>
                  </string>
                </var>
                <var name='CONNECTIONPROPS'>
                  <struct>
                    <var name='SELECTMETHOD'>
                      <string>cursor</string>
                    </var>
                    <var name='DATABASE'>
                      <string>{{PROD_SURFCOMPANIES_DB_DATABASE}}</string>
                    </var>
                    <var name='SENDSTRINGPARAMETERSASUNICODE'>
                      <string>false</string>
                    </var>
                    <var name='PORT'>
                      <string>{{PROD_SURFCOMPANIES_DB_PORT}}</string>
                    </var>
                    <var name='HOST'>
                      <string>{{PROD_SURFCOMPANIES_DB_HOST}}</string>
                    </var>
                  </struct>
                </var>
                <var name='pageTimeout'>
                  <string>
                  </string>
                </var>
                <var name='selectMethod'>
                  <string>cursor</string>
                </var>
              </struct>
            </var>
            <var name='disable_clob'>
              <boolean value='false'/>
            </var>
            <var name='revoke'>
              <boolean value='true'/>
            </var>
            <var name='select'>
              <boolean value='true'/>
            </var>
            <var name='DRIVER'>
              <string>MSSQLServer</string>
            </var>
            <var name='login_timeout'>
              <number>30.0</number>
            </var>
            <var name='disable_blob'>
              <boolean value='false'/>
            </var>
            <var name='storedproc'>
              <boolean value='true'/>
            </var>
            <var name='CLASS'>
              <string>macromedia.jdbc.MacromediaDriver</string>
            </var>
            <var name='ISJ2EE'>
              <boolean value='false'/>
            </var>
            <var name='create'>
              <boolean value='true'/>
            </var>
            <var name='validationQuery'>
              <string>
              </string>
            </var>
            <var name='timeout'>
              <number>1200.0</number>
            </var>
            <var name='password'>
              <string>{{PROD_SURFCOMPANIES_DB_PASS_ENC}}</string>
            </var>
            <var name='update'>
              <boolean value='true'/>
            </var>
            <var name='drop'>
              <boolean value='true'/>
            </var>
            <var name='pooling'>
              <boolean value='true'/>
            </var>
            <var name='url'>
              <string>jdbc:macromedia:sqlserver://{{PROD_SURFCOMPANIES_DB_HOST}}:{{PROD_SURFCOMPANIES_DB_PORT}};databaseName={{PROD_SURFCOMPANIES_DB_DATABASE}};SelectMethod=cursor;sendStringParametersAsUnicode=false</string>
            </var>
            <var name='username'>
              <string>{{PROD_SURFCOMPANIES_DB_USER}}</string>
            </var>
            <var name='grant'>
              <boolean value='true'/>
            </var>
            <var name='buffer'>
              <number>256000.0</number>
            </var>
            <var name='disable'>
              <boolean value='false'/>
            </var>
            <var name='insert'>
              <boolean value='true'/>
            </var>
            <var name='blob_buffer'>
              <number>256000.0</number>
            </var>
          </struct>
        </var>
        <var name='{{PROD_SURFLINE_DB_DSN}}'>
          <struct type='coldfusion.server.ConfigMap'>
            <var name='NAME'>
              <string>{{PROD_SURFLINE_DB_DSN}}</string>
            </var>
            <var name='description'>
              <string>
              </string>
            </var>
            <var name='interval'>
              <number>420.0</number>
            </var>
            <var name='alter'>
              <boolean value='true'/>
            </var>
            <var name='delete'>
              <boolean value='true'/>
            </var>
            <var name='urlmap'>
              <struct type='coldfusion.server.ConfigMap'>
                <var name='maxBufferSize'>
                  <string>
                  </string>
                </var>
                <var name='spyLogFile'>
                  <string>
                  </string>
                </var>
                <var name='_port'>
                  <number>{{PROD_SURFLINE_DB_PORT}}</number>
                </var>
                <var name='args'>
                  <string>
                  </string>
                </var>
                <var name='_logintimeout'>
                  <number>30.0</number>
                </var>
                <var name='defaultpassword'>
                  <string>
                  </string>
                </var>
                <var name='host'>
                  <string>{{PROD_SURFLINE_DB_HOST}}</string>
                </var>
                <var name='database'>
                  <string>{{PROD_SURFLINE_DB_DATABASE}}</string>
                </var>
                <var name='informixServer'>
                  <string>
                  </string>
                </var>
                <var name='sendStringParametersAsUnicode'>
                  <string>false</string>
                </var>
                <var name='port'>
                  <number>{{PROD_SURFLINE_DB_PORT}}</number>
                </var>
                <var name='defaultusername'>
                  <string>
                  </string>
                </var>
                <var name='datasource'>
                  <string>
                  </string>
                </var>
                <var name='MaxPooledStatements'>
                  <string>1000</string>
                </var>
                <var name='TimeStampAsString'>
                  <string>false</string>
                </var>
                <var name='useSpyLog'>
                  <boolean value='false'/>
                </var>
                <var name='SID'>
                  <string>
                  </string>
                </var>
                <var name='systemDatabaseFile'>
                  <string>
                  </string>
                </var>
                <var name='isnewdb'>
                  <string>false</string>
                </var>
                <var name='UseTrustedConnection'>
                  <string>false</string>
                </var>
                <var name='databaseFile'>
                  <string>
                  </string>
                </var>
                <var name='CONNECTIONPROPS'>
                  <struct>
                    <var name='SELECTMETHOD'>
                      <string>cursor</string>
                    </var>
                    <var name='DATABASE'>
                      <string>{{PROD_SURFLINE_DB_DATABASE}}</string>
                    </var>
                    <var name='SENDSTRINGPARAMETERSASUNICODE'>
                      <string>false</string>
                    </var>
                    <var name='PORT'>
                      <string>{{PROD_SURFLINE_DB_PORT}}</string>
                    </var>
                    <var name='HOST'>
                      <string>{{PROD_SURFLINE_DB_HOST}}</string>
                    </var>
                  </struct>
                </var>
                <var name='pageTimeout'>
                  <string>
                  </string>
                </var>
                <var name='selectMethod'>
                  <string>cursor</string>
                </var>
              </struct>
            </var>
            <var name='disable_clob'>
              <boolean value='false'/>
            </var>
            <var name='revoke'>
              <boolean value='true'/>
            </var>
            <var name='select'>
              <boolean value='true'/>
            </var>
            <var name='DRIVER'>
              <string>MSSQLServer</string>
            </var>
            <var name='login_timeout'>
              <number>30.0</number>
            </var>
            <var name='disable_blob'>
              <boolean value='false'/>
            </var>
            <var name='storedproc'>
              <boolean value='true'/>
            </var>
            <var name='CLASS'>
              <string>macromedia.jdbc.MacromediaDriver</string>
            </var>
            <var name='ISJ2EE'>
              <boolean value='false'/>
            </var>
            <var name='create'>
              <boolean value='true'/>
            </var>
            <var name='validationQuery'>
              <string>
              </string>
            </var>
            <var name='timeout'>
              <number>1200.0</number>
            </var>
            <var name='password'>
              <string>{{PROD_SURFLINE_DB_PASS_ENC}}</string>
            </var>
            <var name='update'>
              <boolean value='true'/>
            </var>
            <var name='drop'>
              <boolean value='true'/>
            </var>
            <var name='pooling'>
              <boolean value='true'/>
            </var>
            <var name='url'>
              <string>jdbc:macromedia:sqlserver://{{PROD_SURFLINE_DB_HOST}}:{{PROD_SURFLINE_DB_PORT}};databaseName={{PROD_SURFLINE_DB_DATABASE}};SelectMethod=cursor;sendStringParametersAsUnicode=false</string>
            </var>
            <var name='username'>
              <string>{{PROD_SURFLINE_DB_USER}}</string>
            </var>
            <var name='grant'>
              <boolean value='true'/>
            </var>
            <var name='buffer'>
              <number>256000.0</number>
            </var>
            <var name='disable'>
              <boolean value='false'/>
            </var>
            <var name='insert'>
              <boolean value='true'/>
            </var>
            <var name='blob_buffer'>
              <number>256000.0</number>
            </var>
          </struct>
        </var>
        <var name='{{PROD_CALENDAR_DB_DSN}}'>
          <struct type='coldfusion.server.ConfigMap'>
            <var name='NAME'>
              <string>{{PROD_CALENDAR_DB_DSN}}</string>
            </var>
            <var name='description'>
              <string>
              </string>
            </var>
            <var name='interval'>
              <number>420.0</number>
            </var>
            <var name='alter'>
              <boolean value='true'/>
            </var>
            <var name='delete'>
              <boolean value='true'/>
            </var>
            <var name='urlmap'>
              <struct type='coldfusion.server.ConfigMap'>
                <var name='maxBufferSize'>
                  <string>
                  </string>
                </var>
                <var name='spyLogFile'>
                  <string>
                  </string>
                </var>
                <var name='_port'>
                  <number>{{PROD_CALENDAR_DB_PORT}}</number>
                </var>
                <var name='args'>
                  <string>
                  </string>
                </var>
                <var name='_logintimeout'>
                  <number>30.0</number>
                </var>
                <var name='defaultpassword'>
                  <string>
                  </string>
                </var>
                <var name='host'>
                  <string>{{PROD_CALENDAR_DB_HOST}}</string>
                </var>
                <var name='database'>
                  <string>{{PROD_CALENDAR_DB_DATABASE}}</string>
                </var>
                <var name='informixServer'>
                  <string>
                  </string>
                </var>
                <var name='sendStringParametersAsUnicode'>
                  <string>false</string>
                </var>
                <var name='port'>
                  <number>{{PROD_CALENDAR_DB_PORT}}</number>
                </var>
                <var name='defaultusername'>
                  <string>
                  </string>
                </var>
                <var name='datasource'>
                  <string>
                  </string>
                </var>
                <var name='MaxPooledStatements'>
                  <string>1000</string>
                </var>
                <var name='TimeStampAsString'>
                  <string>false</string>
                </var>
                <var name='useSpyLog'>
                  <boolean value='false'/>
                </var>
                <var name='SID'>
                  <string>
                  </string>
                </var>
                <var name='systemDatabaseFile'>
                  <string>
                  </string>
                </var>
                <var name='isnewdb'>
                  <string>false</string>
                </var>
                <var name='UseTrustedConnection'>
                  <string>false</string>
                </var>
                <var name='databaseFile'>
                  <string>
                  </string>
                </var>
                <var name='CONNECTIONPROPS'>
                  <struct>
                    <var name='SELECTMETHOD'>
                      <string>cursor</string>
                    </var>
                    <var name='DATABASE'>
                      <string>{{PROD_CALENDAR_DB_DATABASE}}</string>
                    </var>
                    <var name='SENDSTRINGPARAMETERSASUNICODE'>
                      <string>false</string>
                    </var>
                    <var name='PORT'>
                      <string>{{PROD_CALENDAR_DB_PORT}}</string>
                    </var>
                    <var name='HOST'>
                      <string>{{PROD_CALENDAR_DB_HOST}}</string>
                    </var>
                  </struct>
                </var>
                <var name='pageTimeout'>
                  <string>
                  </string>
                </var>
                <var name='selectMethod'>
                  <string>cursor</string>
                </var>
              </struct>
            </var>
            <var name='disable_clob'>
              <boolean value='false'/>
            </var>
            <var name='revoke'>
              <boolean value='true'/>
            </var>
            <var name='select'>
              <boolean value='true'/>
            </var>
            <var name='DRIVER'>
              <string>MSSQLServer</string>
            </var>
            <var name='login_timeout'>
              <number>30.0</number>
            </var>
            <var name='disable_blob'>
              <boolean value='false'/>
            </var>
            <var name='storedproc'>
              <boolean value='true'/>
            </var>
            <var name='CLASS'>
              <string>macromedia.jdbc.MacromediaDriver</string>
            </var>
            <var name='ISJ2EE'>
              <boolean value='false'/>
            </var>
            <var name='create'>
              <boolean value='true'/>
            </var>
            <var name='validationQuery'>
              <string>
              </string>
            </var>
            <var name='timeout'>
              <number>1200.0</number>
            </var>
            <var name='password'>
              <string>{{PROD_CALENDAR_DB_PASS_ENC}}</string>
            </var>
            <var name='update'>
              <boolean value='true'/>
            </var>
            <var name='drop'>
              <boolean value='true'/>
            </var>
            <var name='pooling'>
              <boolean value='true'/>
            </var>
            <var name='url'>
              <string>jdbc:macromedia:sqlserver://{{PROD_CALENDAR_DB_HOST}}:{{PROD_CALENDAR_DB_PORT}};databaseName={{PROD_CALENDAR_DB_DATABASE}};SelectMethod=cursor;sendStringParametersAsUnicode=false</string>
            </var>
            <var name='username'>
              <string>{{PROD_CALENDAR_DB_USER}}</string>
            </var>
            <var name='grant'>
              <boolean value='true'/>
            </var>
            <var name='buffer'>
              <number>256000.0</number>
            </var>
            <var name='disable'>
              <boolean value='false'/>
            </var>
            <var name='insert'>
              <boolean value='true'/>
            </var>
            <var name='blob_buffer'>
              <number>256000.0</number>
            </var>
          </struct>
        </var>
      </struct>
      <struct type='coldfusion.server.ConfigMap'>
        <var name='maxcachecount'>
          <number>2048.0</number>
        </var>
      </struct>
    </array>
  </data>
</wddxPacket>
