<?xml version="1.0" encoding="UTF-8"?>
<wddxPacket version='1.0'>
  <header/>
  <data>
    <array length='18'>
      <boolean value='false'/>
      <struct type='coldfusion.server.ConfigMap'>
        <var name='session_variables'>
          <boolean value='false'/>
        </var>
        <var name='application_variables'>
          <boolean value='false'/>
        </var>
        <var name='server_variables'>
          <boolean value='false'/>
        </var>
      </struct>
      <struct type='coldfusion.server.ConfigMap'>
        <var name='CFX_TCLINK'>
          <struct type='coldfusion.server.ConfigMap'>
            <var name='CLASSNAME'>
              <string>TCLinkColdfusion</string>
            </var>
            <var name='DESCRIPTION'>
              <string>
              </string>
            </var>
            <var name='TYPE'>
              <string>Java</string>
            </var>
            <var name='NAME'>
              <string>CFX_TCLINK</string>
            </var>
          </struct>
        </var>
        <var name='cfx_PayFlowPro'>
          <struct type='coldfusion.server.ConfigMap'>
            <var name='CLASSNAME'>
              <string>CFXPayFlowPro</string>
            </var>
            <var name='DESCRIPTION'>
              <string>CFXPayFlowPro</string>
            </var>
            <var name='TYPE'>
              <string>Java</string>
            </var>
            <var name='NAME'>
              <string>cfx_PayFlowPro</string>
            </var>
          </struct>
        </var>
        <var name='CFX_PAYMENTNET'>
          <struct type='coldfusion.server.ConfigMap'>
            <var name='CLASSNAME'>
              <string>CFXPayFlowPro</string>
            </var>
            <var name='DESCRIPTION'>
              <string>CFXPayFlowPro</string>
            </var>
            <var name='TYPE'>
              <string>Java</string>
            </var>
            <var name='NAME'>
              <string>CFX_PAYMENTNET</string>
            </var>
          </struct>
        </var>
      </struct>
      <struct type='coldfusion.server.ConfigMap'>
        <var name='/WEB-INF/customtags10000'>
          <string>/opt/coldfusion8/CustomTags</string>
        </var>
      </struct>
      <struct type='coldfusion.server.ConfigMap'>
        <var name='orbs'>
          <struct type='coldfusion.server.ConfigMap'>
          </struct>
        </var>
        <var name='logging'>
          <boolean value='false'/>
        </var>
        <var name='useorb'>
          <string>
          </string>
        </var>
      </struct>
      <struct type='coldfusion.server.ConfigMap'>
      </struct>
      <struct type='coldfusion.server.ConfigMap'>
        <var name='session'>
          <struct type='coldfusion.server.ConfigMap'>
            <var name='timeout'>
              <string>{{CF_SESSION_TIMEOUT_DAYS}},{{CF_SESSION_TIMEOUT_HOURS}},{{CF_SESSION_TIMEOUT_MINUTES}},{{CF_SESSION_TIMEOUT_SECONDS}}</string>
            </var>
            <var name='enable'>
              <boolean value='true'/>
            </var>
            <var name='maximum_timeout'>
              <string>{{CF_SESSION_TIMEOUT_DAYS}},{{CF_SESSION_TIMEOUT_HOURS}},{{CF_SESSION_TIMEOUT_MINUTES}},{{CF_SESSION_TIMEOUT_SECONDS}}</string>
            </var>
            <var name='usej2eesession'>
              <boolean value='false'/>
            </var>
          </struct>
        </var>
        <var name='application'>
          <struct type='coldfusion.server.ConfigMap'>
            <var name='timeout'>
              <string>1,0,0,0</string>
            </var>
            <var name='enable'>
              <boolean value='true'/>
            </var>
            <var name='maximum_timeout'>
              <string>1,0,0,0</string>
            </var>
          </struct>
        </var>
      </struct>
      <struct type='coldfusion.server.ConfigMap'>
        <var name='EnableHTTPStatus'>
          <string>1</string>
        </var>
        <var name='missing_template'>
          <string>{{CF_MISSING_TEMPLATE}}</string>
        </var>
        <var name='queue_timeout'>
          <string>
          </string>
        </var>
        <var name='site_wide'>
          <string>{{CF_SITEWIDE_ERROR_TEMPLATE}}</string>
        </var>
      </struct>
      <struct type='coldfusion.server.ConfigMap'>
        <var name='/taffy'>
          <string>/var/www/sites/public-api/taffy</string>
        </var>
        <var name='/'>
          <string>/var/www/surfline_htdocs</string>
        </var>
        <var name='/gateway'>
          <string>/usr/local/coldfusion8/gateway/cfc</string>
        </var>
        <var name='/CFIDE'>
          <string>/var/www/html/CFIDE</string>
        </var>
      </struct>
      <struct type='coldfusion.server.ConfigMap'>
        <var name='flashRemotingLimit'>
          <number>5.0</number>
        </var>
        <var name='logSlowRequests'>
          <boolean value='false'/>
        </var>
        <var name='timeoutRequestTimeLimit'>
          <number>{{CF_REQUEST_TIMEOUT}}</number>
        </var>
        <var name='webserviceLimit'>
          <number>200.0</number>
        </var>
        <var name='postSizeLimit'>
          <number>{{CF_POST_SIZE_LIMIT}}</number>
        </var>
        <var name='requestLimit'>
          <number>{{CF_REQUEST_LIMIT}}</number>
        </var>
        <var name='slowRequestTimeLimit'>
          <number>20.0</number>
        </var>
        <var name='CFCLimit'>
          <number>50.0</number>
        </var>
        <var name='postParametersLimit'>
          <number>{{CF_POST_PARAMETERS_LIMIT}}</number>
        </var>
        <var name='timeoutRequests'>
          <boolean value='true'/>
        </var>
        <var name='queueTimeout'>
          <number>{{CF_QUEUE_TIMEOUT}}</number>
        </var>
      </struct>
      <struct type='coldfusion.server.ConfigMap'>
        <var name='templateCacheSize'>
          <number>10240.0</number>
        </var>
        <var name='trustedCacheEnabled'>
          <boolean value='false'/>
        </var>
        <var name='saveClassFiles'>
          <boolean value='true'/>
        </var>
      </struct>
      <struct type='coldfusion.server.ConfigMap'>
        <var name='defaultCharset'>
          <string>UTF-8</string>
        </var>
        <var name='defaultMailCharset'>
          <string>UTF-8</string>
        </var>
      </struct>
      <struct type='coldfusion.server.ConfigMap'>
        <var name='longIntegerFormat'>
          <boolean value='false'/>
        </var>
      </struct>
      <struct type='coldfusion.server.ConfigMap'>
        <var name='loadRSLLibraries'>
          <boolean value='true'/>
        </var>
        <var name='CFFormCodeBaseUrl'>
          <string>http://java.sun.com/products/plugin/1.3/jinstall-13-win32.cab#Version=1,3,0,0</string>
        </var>
        <var name='CFFormScriptSrc'>
          <string>/CFIDE/scripts/</string>
        </var>
      </struct>
      <string>
      </string>
      <struct type='coldfusion.server.ConfigMap'>
        <var name='RmiSSLKeystore'>
          <string>
          </string>
        </var>
        <var name='flexAssemblerIPList'>
          <string>
          </string>
        </var>
        <var name='fileLockEnabled'>
          <boolean value='true'/>
        </var>
        <var name='imageExpiryTime'>
          <number>300.0</number>
        </var>
        <var name='cfcTypeCheckEnabled'>
          <boolean value='true'/>
        </var>
        <var name='secureJSON'>
          <boolean value='false'/>
        </var>
        <var name='cfthreadpool'>
          <number>10.0</number>
        </var>
        <var name='enableRmiSSL'>
          <boolean value='false'/>
        </var>
        <var name='DataServiceId'>
          <string>default</string>
        </var>
        <var name='enableFlashRemoting'>
          <boolean value='true'/>
        </var>
        <var name='allowExtraAttributesInAttrColl'>
          <boolean value='true'/>
        </var>
        <var name='disableServiceFactory'>
          <boolean value='false'/>
        </var>
        <var name='secureJSONPrefix'>
          <string>//</string>
        </var>
        <var name='enableFlexDataServices'>
          <boolean value='true'/>
        </var>
        <var name='isPerAppSettingsEnabled'>
          <boolean value='true'/>
        </var>
        <var name='RmiSSLKeystorePassword'>
          <string>
          </string>
        </var>
      </struct>
      <struct type='coldfusion.server.ConfigMap'>
        <var name='numSimultaneousReports'>
          <number>8.0</number>
        </var>
      </struct>
      <struct type='coldfusion.server.ConfigMap'>
        <var name='throttle-threshold'>
          <number>4.0</number>
        </var>
        <var name='total-throttle-memory'>
          <number>200.0</number>
        </var>
      </struct>
    </array>
  </data>
</wddxPacket>
