* {
  padding: 0;
  margin: 0; }

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: #fff; }

.sl-bold-text {
  color: #fff;
  font-weight: bold;
  text-decoration: none; }
  .sl-bold-text:hover {
    text-decoration: underline; }

#sl-video-wrapper > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#sl-video-wrapper {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%; }

.sl-embed-video {
  width: 100%; }

#sl-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  z-index: 999; }
  @media only screen and (max-width: 480px) {
    #sl-logo {
      left: 60px;
      width: calc(100% - 120px);
      top: 15px;
      text-align: center; } }

#sl-logo img {
  width: 120px; }
  @media only screen and (max-width: 480px) {
    #sl-logo img {
      width: 100px; } }

#sl-embed-bottom {
  background-color: #0058b0;
  padding: 5px 10px;
  z-index: 999; }

#sl-embed-bottom p {
  padding: 0;
  margin: 0;
  font-size: 12px; }

/* Premium Overlay */
.sl-premium-overlay-cta {
  display: none;
  background-repeat: no-repeat;
  background-size: cover; }

.sl-premium-cam-cta__content__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  background: rgba(1, 29, 56, 0.6);
  z-index: 998; }

.sl-premium-cam-cta__content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.sl-premium-cam-cta__heading {
  flex: 0 1 auto;
  margin-bottom: 24px;
  width: 75%;
  font-size: 22px;
  line-height: 1.22;
  text-align: center;
  color: white;
  font-family: Futura; }
  @media only screen and (max-width: 768px) {
    .sl-premium-cam-cta__heading {
      font-size: 14px; } }

.sl-premium-cam-cta__icon {
  margin: 25px 0 8px 0; }

.sl-premium-cam-cta__links {
  display: block; }

.sl-premium-cam-cta__links__upgrade {
  margin-bottom: 24px; }
  .sl-premium-cam-cta__links__upgrade button {
    background-color: #23D737;
    border: 2px solid #23D737;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0px;
    width: 95.9px;
    height: 29.4px;
    font-size: 11.2px;
    letter-spacing: 0.5px; }
    .sl-premium-cam-cta__links__upgrade button:hover, .sl-premium-cam-cta__links__upgrade button:focus {
      color: white;
      background-color: green;
      border: 2px solid green;
      cursor: pointer; }
    .sl-premium-cam-cta__links__upgrade button:active {
      border: 2px solid #23D737; }

.sl-premium-cam-cta__links__about a {
  cursor: pointer;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  letter-spacing: 0.8px; }
  .sl-premium-cam-cta__links__about a:hover {
    color: white; }

@media (min-width: 635px) {
  .sl-premium-cam-cta__content__container {
    padding: 0;
    display: flex; }
  .sl-play-pause-cam__content__container {
    padding: 0;
    display: flex; }
  .sl-premium-cam-cta__indicator {
    display: flex; }
  .sl-premium-cam-cta__icon {
    margin: 0 0 8px 0; }
  .sl-premium-cam-cta__subheading {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 189.5px;
    margin-bottom: 40px; }
    .sl-premium-cam-cta__subheading span {
      color: white;
      font-size: 18px;
      font-family: 'Source Sans Pro', sans-serif;
      letter-spacing: 0.7px; } }
    @media only screen and (min-width: 635px) and (max-width: 768px) {
      .sl-premium-cam-cta__subheading span {
        font-size: 12px; } }

@media (min-width: 635px) {
  .sl-premium-cam-cta__links__about {
    display: flex;
    text-decoration: underline; }
  .sl-premium-cam-cta__links__upgrade {
    display: flex;
    justify-content: center;
    align-items: center; }
    .sl-premium-cam-cta__links__upgrade button {
      width: 180px;
      height: 57px;
      font-size: 20px;
      letter-spacing: normal; }
  .sl-paused-cam-cta__links__upgrade {
    display: flex;
    justify-content: center;
    align-items: center; }
    .sl-paused-cam-cta__links__upgrade button {
      width: 180px;
      height: 57px;
      font-size: 20px;
      letter-spacing: normal; } }

@media (max-width: 635px) {
  .sl-premium-cam-cta__subheading {
    padding-bottom: 10px;
    font-size: 12px; }
  .sl-premium-cam-cta__heading {
    margin: 0; }
  .sl-premium-cam-cta__links__upgrade {
    margin-bottom: 5px; } }

/* Auto-paused overlay */
.sl-paused-overlay-cta {
  display: none;
  background-repeat: no-repeat;
  background-size: cover; }

.sl-paused-cam-cta__content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25%; }

.sl-paused-cam-cta__subheading {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 189.5px;
  margin-bottom: 40px; }
  .sl-paused-cam-cta__subheading span {
    color: white;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.7px; }

.sl-paused-cam-cta__links__upgrade {
  margin-bottom: 24px; }
  .sl-paused-cam-cta__links__upgrade button {
    background-color: #46A8F9;
    border: 2px solid #46A8F9;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0px;
    width: 240.9px;
    height: 49.4px;
    font-size: 18.2px;
    letter-spacing: 0.5px;
    font-family: Futura; }
    .sl-paused-cam-cta__links__upgrade button:hover, .sl-paused-cam-cta__links__upgrade button:focus {
      color: white;
      background-color: #2a9cf8;
      border: 2px solid #2a9cf8;
      cursor: pointer; }
    .sl-paused-cam-cta__links__upgrade button:active {
      border: 2px solid #46A8F9; }
    @media only screen and (max-width: 480px) {
      .sl-paused-cam-cta__links__upgrade button {
        width: 120px;
        height: 32px;
        font-size: 12px;
        margin: 5px; } }
