@import "../../variables.scss";

.enterCode_container_title {
  margin-bottom: 20px;
}

.enterCode_container_notify_message {
  margin-bottom: 15px;
  text-align: center;
  line-height: 24px;
  padding: 0 40px 0 40px;
  font-size: brandParagraphFontSize($companyTheme);
  letter-spacing: brandParagraphLetterSpacing($companyTheme);
}

.enterCode_container_info_message {
  text-align: center;
  line-height: 24px;
  font-size: brandParagraphFontSize($companyTheme);
  letter-spacing: brandParagraphLetterSpacing($companyTheme);
}


@media screen and (min-width: $tablet) {

  .enterCode_container_title {
    margin-bottom: 20px;
  }

  .enterCode_container_notify_message {
    margin-bottom: 15px;
    padding: 0px;
    text-align: left;
  }

  .enterCode_container_info_message {
    text-align: left;
  }

}
