@import "../../variables.scss";

.enter_email_container_footer_message {
  display: none;
}

@media (min-width: $tablet) {
  .enter_email_container_footer_message {
    display: block;
    margin-top: 20px;
  }
  .enter_email_container_footer_message_link {
    color: $brand-secondary;
    &:hover {
      color: $brand-secondary-hover;
    }
    &:active {
      color: $brand-secondary-active;
    }
  }
}
