@import "../../variables.scss";

.forgot-password__container {
  display: block;
}
.forgot-password__card {
  padding: 30px;
  margin: 0 auto;
  max-width: 410px;
  background: $white;
}
@media (min-width: $tablet) {
  .forgot-password__container {
    padding: 0px;
  }
  .forgot-password__card {
    padding: 48px 60px 60px 60px;
    margin: 0px auto 0 auto;
    min-width: 560px;
    background: $white;
  }
}
