@import '../../styles/variables';

.buoyReadingWind {
  max-width: 299px;

  :global {
    .quiver-wind-arrow {
      margin: 0 0 0 5px;
      width: 22px;
      height: 22px;
    }
  }
}

.buoyReadingWindStats {
  font-family: $futura-surfline;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.7px;
  color: color('black', 40);
}
