@import '~@surfline/quiver-themes/stylesheets/surfline/mixins/btnReset.scss';

@mixin sl-small-text {
  color: color('blue-gray', 70);
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 20px;
}

@mixin sl-small-paragraph {
  color: color('gray', 70);
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 20px;
  margin: 0;
}

@mixin sl-paragraph {
  color: color('gray', 70);
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 24px;
}

@mixin sl-paragraph-jumbo {
  color: color('gray', 80);
  font-size: 18px;
  letter-spacing: 1.58px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 28px;
  }
}

@mixin sl-landing-paragraph {
  @include sl-paragraph;
  color: color('gray', 80);
  font-family: $source-sans-pro;
  font-weight: 400;
  letter-spacing: 1px;
}

@mixin sl-landing-h1 {
  color: color('white');
  font-family: $futura-dem;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.89px;
  line-height: 48px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 52px;
    letter-spacing: 1.4px;
    line-height: 58px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    font-size: 72px;
    letter-spacing: 4px;
    line-height: 54px;
  }
}

@mixin sl-h3 {
  color: color('gray', 90);
  font-family: $futura-dem;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: 42px;
  margin: 0;
  padding-top: 10px;
}

@mixin sl-landing-h3 {
  @include sl-h3;
  font-size: 28px;
  letter-spacing: 2px;
  line-height: 42px;
  padding-top: 0px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 54px;
  }
}

@mixin sl-h6 {
  color: color('blue-gray', 70);
  font-family: $futura-dem;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.88px;
  line-height: 14px;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    letter-spacing: 1px;
  }
}

@mixin sl-landing-button {
  font-size: 14px;
  height: 68px;
  letter-spacing: 0.88px;
  padding: 0;
  width: 226px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    height: 80px;
    letter-spacing: 1px;
    width: 266px;
  }
}

@mixin sl-aspect-ratio($width, $height) {
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: ($height / $width) * 100%;
    width: 100%;
  }
  > .sl-ar-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@mixin sl-vertical-center {
  display: block;
  height: auto;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

@mixin sl-left-rail {
  float: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    float: left;
    text-align: left;
  }
}

@mixin sl-right-rail($paddingBottom) {
  float: none;
  padding-bottom: $paddingBottom;
  position: relative;
  width: 100%;

  @media (min-width: $tablet-width) {
    float: right;
  }
}

@mixin feed-item-box-attributes {
  background-color: color('white');
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  margin: 16px 0px 0px 0px;
  padding: 16px;
  width: calc(100% - 32px);

  @media (min-width: $tablet-large) {
    margin: 24px 0px 0px 0px;
  }
}

@mixin feed-item-content {
  width: 100%;
}

@mixin feed-category {
  color: color('gray', 90);
  font-family: $futura-surfline;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-bottom: 16px;
}

@mixin sl-inner-cam($image) {
  background-image: url($image);
  background-position: bottom center;
  background-size: cover;
  display: inline-block;
  height: 100%;
  text-align: center;
  width: 100%;
}

@mixin sl-home-cam-close($display) {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
  display: $display;
  height: 26px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 26px;
  z-index: 9;

  &-icon {
    stroke: color('white');
  }
}

@mixin premiumCamCtaAdjustments {
  .quiver-premium-cam-cta__heading {
    font-size: 14px;
    margin: 0 8px 16px 8px;
    width: calc(100% - 16px);
  }

  .quiver-premium-cam-cta__links__upgrade {
    margin: 0;
  }

  .quiver-button {
    align-items: center;
    display: flex;
    font-size: 16px;
    height: 40px;
    justify-content: center;
    line-height: 16px;
    width: 125px;
  }

  .quiver-premium-cam-cta__links__upgrade {
    margin-bottom: 8px;
  }

  .quiver-premium-cam-cta__links__about {
    display: none;
  }

  .quiver-premium-cam-cta__icon {
    display: none;
    margin-bottom: 8px;
  }

  .quiver-premium-cam-cta__subheading {
    display: none;
    flex: unset;
    margin-bottom: 16px;
  }
}
