$small-mobile: 350px;
$large-mobile: 512px;
$tablet-width: 768px;
$small-desktop: 830px;
$tablet-large: 976px;
$tablet-landscape: 1023px;
$desktop-width: 1201px;
$desktop-large-width: 1320px;
$desktop-xl-width: 1435px;
$desktop-xxl-width: 1600px;

$homepage-right-rail-width: 320px;
$homepage-right-rail-width--desktop-large: 496px;
$homepage-right-rail-width--desktop-small: 456px;

// $non-quiver-colors: ;
$gray-blue: #96A9B2;

