@import '~@surfline/quiver-assets/futuradem.scss';
@import '~@surfline/quiver-assets/futurasurfline.scss';

@import '~@surfline/quiver-themes/stylesheets/surfline/base.scss';

@import '~@surfline/quiver-themes/stylesheets/common/_colors';
@import '~@surfline/quiver-themes/stylesheets/common/_conditions.scss';
@import '~@surfline/quiver-themes/stylesheets/common/_fonts.scss';
@import '~@surfline/quiver-themes/stylesheets/common/_futuradem.scss';
@import '~@surfline/quiver-themes/stylesheets/common/_sourcesanspro.scss';
@import '~@surfline/quiver-themes/stylesheets/common/_ibmplexsans.scss';

@import '~@surfline/quiver-themes/stylesheets/surfline/AspectRatioContent.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/AsyncDataContainer.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/BaseContentCard.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/ButterBar.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/Button.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/CamError.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/CamPlayer.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/CamViewSelector.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/CollapsibleModule.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/ContentContainer.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/EditorialArticleCard.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/FavoritesIndicator.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/FeatureCard.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/FeedArticlesList.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/FeedCard.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/ForecastArticleCard.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/ForecastGraphs.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/ForecasterProfile.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/HoverMenu.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/Input.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/IntroModal.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/ModalContainer.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/PageRail.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/PillButton.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/PlayMarker.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/PremiumCamCTA.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/Select.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/ShareArticle.scss';
@import "~@surfline/quiver-themes/stylesheets/surfline/SpotListItem.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/SpotThumbnail.scss";
@import '~@surfline/quiver-themes/stylesheets/surfline/SpotThumbnailBackground.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/SpotReport.scss';
@import "~@surfline/quiver-themes/stylesheets/surfline/SpotListCTAThumbnail.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/SpotReportSummary.scss";
@import '~@surfline/quiver-themes/stylesheets/surfline/Spinner.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/SurfHeight.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/SwellEventCardContainer.scss';
@import "~@surfline/quiver-themes/stylesheets/surfline/WorldTaxonomy.scss";
@import '~@surfline/quiver-themes/stylesheets/surfline/TideArrow.scss';
@import "~@surfline/quiver-themes/stylesheets/surfline/WindIndicator.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/WindBarbsLegend.scss";

@import './components/Breadcrumb.scss';
@import './components/ChildGrid.scss';
@import './components/Hero.scss';
@import './components/RelatedArticles.scss';
@import './components/ScrollControl.scss';
@import './components/TopSpot.scss';
@import './components/TopSpots.scss';
@import './components/TravelMap.scss';
@import './components/TravelSummary.scss';
@import './components/ViewForecast.scss';

@import "./_variables.scss";
@import './mixins.scss';

@import './components/Editorial/LoadMorePosts.scss';
@import './components/Editorial/PostsBlock.scss';
@import './components/Editorial/RecentPosts.scss';
@import './components/EditorialArticleBody.scss';
@import './components/EditorialArticleFooter.scss';
@import './components/EditorialArticleHeading.scss';
@import './components/EditorialAuthor.scss';
@import './components/EditorialPaywall.scss';
@import './components/PremiumVideoCTA.scss';
@import './components/PreviewBanner.scss';
@import './components/StickyAdUnit.scss';
@import './containers/EditorialArticle.scss';
@import './containers/EditorialTaxonomy.scss';

body {
  padding: 0;
  margin: 0;
}

.sl-button-link {
  text-decoration: none;
  outline: none;

  .quiver-button {
    color: color('white');
    &:hover {
      color: color('white');
    }
  }
}

h3 {
  @include sl-h3;
}

h6 {
  @include sl-h6;
}

p {
  @include sl-paragraph;
}

.ReactModal__Body--open {
  .zEWidget-ticketSubmissionForm,
  .zEWidget-automaticAnswers,
  .zEWidget-launcher,
  .zEWidget-nps {
    display: none;
  }
}

@media (max-width: $tablet-width - 1) {
  .ReactModal__Body--open {
    overflow: hidden;
  }
}

// Ensure that the backplane header renders above the page container
#backplane-header {
  position: relative;
  z-index: 10;
}

.quiver-page-container__content {
  position: relative;
  z-index: 1;
}
