.poi-tool-direction-control {
  display: grid;
  padding: 15px 0;
  grid-template-areas:
  "text-input  text-input   arrow"
  "slider      slider       slider";
}

  .poi-tool-direction-control__text-input {
    grid-area: text-input;
  }

  .poi-tool-direction-control__arrow {
    grid-area: arrow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 50px;
    height: 50px;
  }

  .poi-tool-direction-control__slider {
    grid-area: slider;
    margin-top: 15px;
  }
