@import '~@surfline/quiver-themes/stylesheets/common/_colors.scss';

.swell-table {
  width: 100%;
  background-color: color('blue-gray', 20);
  border-collapse: collapse;
}

.poi-map__forecast-preview .quiver-async-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .quiver-async-data-container__loading {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    > * {
      margin: 4px;
    }
  }
}

.swell-table__row {
  cursor: pointer;
}

.swell-table__row--single-run {
  cursor: default;
}

.swell-table__row:hover {
  background-color: color('light-blue', 20);
}

.swell-table__row--heading,
.swell-table__row--single-run {
  background-color: color('blue-gray', 30);
}

.swell-table__col {
  padding: 10px;
  border: 1px solid white;
}

.swell-table__col--wave-heights {
  vertical-align: middle;
  text-align: center;
}

.swell-table__col sup {
  vertical-align: bottom;
}

.swell-table__col--missing-data {
  background-color: color('red', 30);
}

.swell-table__col--day .swell-table__col__text {
  margin-right: 15px;
}

.swell-table__col--day .quiver-chevron {
  padding: 5px;
  stroke: color('white');
  background-color: color('blue-gray', 40);
  margin-right: 15px;
}

.swell-table__row--focused .quiver-chevron {
  background-color: color('dark-blue', 10);
}
