@import '../../common/themes/main.scss';

.coupon-form {
  margin-top: 16px;
  .quiver-input {
    margin-bottom: 24px;
    margin-top: 12px;
  }
}

.coupon-form__toggle-button {
  font-family: $source-sans-pro;
  color: $light-blue-70;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
  border: none;
  font-size: 14px;
  padding: 0;
  outline: none;
  letter-spacing: 0.3px;
}

.coupon-form__button-container {
  display: flex;
  .quiver-button {
    margin-top: 20px;
    border: none;
  }
  .quiver-button:last-child {
    font-family: $source-sans-pro;
    background-color: color('white');
    content: \f00c;
    color: color('light-blue', 70);
    border: none;
    height: 55px;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 0 44px;
    transition: background 0.25s ease, border 0.25s ease;
    cursor: pointer;
    outline: none;
  }
}

.coupon-form__cancel {
  background-color: $white;
}
