@import '../../variables.scss';

.offer-confirmation {
  width: 100%;
}

.offer-confirmation__title {
  @include brand-h4($companyTheme);
  font-size: 28px;
  text-align: left;
  margin-bottom: 24px;
}

.offer-confirmation__charge,
.offer-confirmation__renewal,
.offer-confirmation__email-notification {
  font-family: $account-secondary-font;
  font-size: 14px;
  color: $gray-70;
  text-align: center;
  letter-spacing: 0.9;
}

.offer-confirmation__charge {
  font-weight: bold;
  margin-bottom: 8px;
}

.offer-confirmation__renewal {
  margin-bottom: 32px;
}

.offer-confirmation__email-notification {
  margin-bottom: 48px;
}

@media (min-width: $tablet) {
  .offer-confirmation__title {
    margin-bottom: 24px;
  }

  .offer-confirmation__charge,
  .offer-confirmation__renewal,
  .offer-confirmation__email-notification {
    text-align: left;
  }
}
