@import '../../variables.scss';

.switch-plans__title {
  @include brand-h4($companyTheme);
  font-size: 28px;
  text-align: left;
}

.switch-plans__description {
  font-family: $account-secondary-font;
  font-size: 14px;
  color: $gray-70;
  margin-bottom: 40px;
  text-align: center;
}

.switch-plans__plan-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.switch-plans__plan-container__plan {
  box-shadow: 0 3px 2px 0 rgba(52, 130, 65, 0.31);
  background-color: $white;
  border: solid 1px $green-50;
  padding: 16px 32px;
  font-family: $account-primary-font;
  color: $gray-90;
  margin-bottom: 16px;
}

.switch-plans__plan-container__plan__name {
  font-size: 14px;
  width: 130px;
  text-align: center;
  line-height: 1.6;
}

.switch-plans__plan-container__plan__price {
  display: flex;
  justify-content: center;
  margin-right: 8px;
  flex-flow: row;
}

.switch-plans__plan-container__plan__price__currency {
  font-size: 26px;
  padding-top: 12px;
}

.switch-plans__plan-container__plan__price__dollars {
  font-size: 72px;
}

.switch-plans__plan-container__plan__price__small {
  padding-top: 16px
}

.switch-plans__plan-container__plan__price__cents {
  font-size: 26px;
}

.switch-plans__plan-container__plan__price__interval {
  color: $gray-70;
}

.switch-plans__plan-container__credit-text{
  font-family: $account-secondary-font;
  font-size: 11px;
  letter-spacing: 0.6px;
  text-align: center;
  color: $gray-70
}

.switch-plans__button-keep-premium {
  width: 100%;
  background-color: $green-50;
  color: $white;
}

.switch-plans_error__alert {
  color: $error;
  font-family: $font-family-secondary;
  background-color: $error-alert-background;
  border: 1px solid $error-alert-background;
  padding: 10px;
  font-size: 12px;
  line-height: 12px;
  margin-top: 7px;
}
.switch-plans__ghost-button {
  color: #333333;
}


.switch-plans__button__submit--submitting__img {
  animation:spin .75s linear infinite;
}

@media (min-width: $tablet) {
  .switch-plans__description {
    text-align: left;
  }
}