@mixin small-text {
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #96A9B2;
}

@mixin small-paragraph {
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: color('gray', 70);
}

@mixin paragraph {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .4px;
  color: #6E7273;
}

@mixin header-three {
  margin: 0;
  padding-top: 10px;
  font-family: $futura-dem;
  font-size: 38px;
  line-height: 42px;
  letter-spacing: 1.2px;
  font-weight: 400;
  color: color('gray', 90);
}

@mixin responsive-ratio($x,$y,$columns) {
  $padding: unquote( ( $y / $x ) * (100 / $columns)  + '%' );
  padding-top: $padding;
}
