$large-mobile: 512px;
$tablet-width: 768px;
$medium-width: 992px;
$desktop-width: 1200px;
$desktop-large-width: 1435px;

$onboarding-fav-card-height-mobile: 98px;
$onboarding-fav-card-width-mobile: 175px;
$onboarding-fav-card-width-mobile-small: 150px;

$onboarding-fav-card-height: 170px;
$onboarding-fav-card-width: 300px;
