@import './_mixins.scss';
@import './_variables.scss';
@import '~@surfline/quiver-assets/futuradem.scss';
@import "~@surfline/quiver-assets/futurasurfline.scss";

@import '~@surfline/quiver-themes/stylesheets/surfline/base.scss';

@import '~@surfline/quiver-themes/stylesheets/common/_colors';
@import '~@surfline/quiver-themes/stylesheets/common/_conditions.scss';
@import '~@surfline/quiver-themes/stylesheets/common/_fonts.scss';
@import '~@surfline/quiver-themes/stylesheets/common/_sourcesanspro.scss';

@import '~@surfline/quiver-themes/stylesheets/surfline/Alert.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/Button.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/ContentContainer.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/Favorite.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/FavoritesBar.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/FavoritesIndicator.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/NewNavigationBar.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/Notifications.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/PageContainer.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/SearchInput.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/SearchResults.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/Select.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/Spinner.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/SpotSearch.scss';

@import './components/FavoriteSpot.scss';
@import './components/FavoriteSpotsGrid.scss';
@import './components/FavoriteSpotSearch.scss';
@import './components/FavoriteSpotsHeader.scss';
@import './components/FavoriteSpotsSubmit.scss';
@import './components/OnboardingFooter.scss';
@import './components/PremiumBenefits.scss';
@import './components/SkipOnboarding.scss';
@import './components/ToggleSpotSearchType.scss';

@import './containers/FavoriteSpots.scss';
@import './containers/GoPremium.scss';
@import './containers/OnboardingPageContainer.scss';
@import './containers/Onboarding.scss';
@import './containers/RouteTransitions.scss';

html {
  min-width: 320px;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  background-color: color('light-blue', 5);
}

button {
  border: none;
  background: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

/* hide header notification bar until ready to handle resize on click */
.quiver-notification.quiver-notification--large {
  display: none;
}

.quiver-page-container__top {
  position: fixed;
}

.quiver-favorites-bar {
  display: none;
}
