.enterCode_container_title {
  margin-bottom: 20px;
  text-align: center;
}

.enterCode_container_notify_message {
  margin-bottom: 15px;
  text-align: center;
  line-height: 24px;
  padding: 0px;
  font-size: brandParagraphFontSize($companyTheme);
  letter-spacing: brandParagraphLetterSpacing($companyTheme);
  font-weight: bold;
}

.enterCode_container_info_message {
  text-align: center;
  line-height: 24px;
  font-size: brandParagraphFontSize($companyTheme);
  letter-spacing: brandParagraphLetterSpacing($companyTheme);
}

.forgot-password__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 410px;
}

@media screen and (min-width: $tablet-large) {
  .enterCode_container_title {
    margin-bottom: 20px;
    text-align: left;
  }

  .enterCode_container_notify_message {
    margin-bottom: 15px;
    padding: 0px;
    text-align: left;
  }

  .enterCode_container_info_message {
    text-align: left;
  }
}
