@import '../../styles/variables';

.slMapNotification {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 18px;
  border-radius: 57px;
  border: none;
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: zindex(over-map);
  margin: 0;
  height: 18px;
  box-shadow: 0 5px 10px 0 rgba(color('gray', 55), 0.45);
}

.slMapNotificationWithMessage {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  white-space: nowrap;
}

.slMapNotificationLoading,
.slMapNotificationWithMessage {
  background-color: color('white');

  .slMapNotificationMessage {
    color: color('black', 40);
  }
}

.slMapNotificationError {
  background-color: color('bright-red', 30);

  .slMapNotificationMessage {
    color: color('white');
  }
}
