@import '../../common/themes/main.scss';

.gift-card-selector__container {
  margin: 8px auto;
  span {
    font-size: 12px;
    font-family: $futura-dem;
    letter-spacing: 1.5px;
    color: color('gray', 80);
  }
}
.gift-card-selector-bar {
  display: flex;
  margin: 10px auto;
}
.gift-card-selector-bar__item {
  border: 1px solid color('blue-gray', 20);
  height: 41px;
  width: 100%;
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  color: color('gray', 80);
  background: color('white');
  cursor:pointer;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
}
.gift-card-selector-bar__item-0 {
  border-radius: 3px 0 0 3px;
  &--selected {
    background: color('orange');
    color: color('white');
  }
}
.gift-card-selector-bar__item-1 {
  border-radius: 0px;
  &--selected {
    background: color('green');
    color: color('white');
  }
}
.gift-card-selector-bar__item-2 {
  border-radius: 0 3px 3px 0;
  &--selected {
    background: #41A4FB;
    color: color('white');
  }
}
.gift-card-selector-bar__item-content {
  font-size: 13px;
}
.gift-card-selector-bar__bestvalue {
    background: color('orange');
    border: 1px solid color('orange');
    border-radius: 2px 2px 2px 2px;
    color: color('white');
    font-size: 11px;
    font-family: $futura-dem;
    text-align: center;
    letter-spacing: 0.7px;
    width: 76px;
    position: absolute;
    top: -8px;
    right: 5px;
    float: right;
}
.gift-card-selector-bar__bestvalue_0 {
  color: color('orange');
  background: color('white');
}

@media (min-width: $tablet-large) {
  .gift-card-selector-bar__bestvalue {
    left: 64px;
  }
}
