@import '../../common/themes/main.scss';

.cancel-landing__free-trial-text,
.cancel-landing__free-trial-billing-info {
  font-family: $source-sans-pro;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.9px;
  color: color('gray', 80);
}
.cancel-landing__free-trial_billing_info {
  padding: 20px 0;
  line-height: 1.71;
  letter-spacing: 0.9px;
  color: color('gray', 80);
}

.quiver-button--keep-premium {
  width: 100%;
  background-color: color('green', 50);
  color: color('white');
  cursor: pointer;
  height: 55px;
  display: block;
  border: none;
  font-family: $futura-dem;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 0;
  margin-top: 18px;
}

.cancel__button--continue {
  width: 100%;
  background-color: color('light-blue', 50);
  color: color('white');
  cursor: pointer;
}

.quiver-button--ghost-shade {
  color: color('gray', 90);
  cursor: pointer;
  width: 100%;
  height: 55px;
  display: block;
  border: none;
  outline: none;
  font-family: $futura-dem;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 0;
  margin-top: 18px;
  transition: background 0.25s ease, border 0.25s ease;
}

.cancel__button__submit--submitting__img {
  animation: spin 0.75s linear infinite;
}

.cancel-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0f0;
  :hover {
    color: color('black');
    background-color: #dadada;
  }
}

@media (min-width: $tablet-large) {
  .cancel-landing hr {
    margin: 0;
    border-top: 1px solid color('gray', 40);
  }
}
