@import '../../common/themes/main.scss';

.checkout-form__container__payment-button {
  .quiver-button {
    background-color: $green-50;
    border-color: $green-50;
    width: 100%;
    height: 55px;
    &:hover {
      background-color: $green-70;
      border-color: $green-70;
    }
    &:focus {
      background-color: $green-70;
      border-color: $green-70;
    }
  }
}

.disclaimer {
  font-family: $source-sans-pro;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.8px;
  color: #999;
  padding-top: 24px;
  a {
    text-decoration: none;
    color: #333333;
    cursor: pointer;
  }
}

.credit-card-container {
  margin-bottom: 24px;
}

.credit-card-container .stripe-card-element__test-text {
  text-decoration: none;
  font-size: 14px;
  margin-top: -16px;
  display: block;
  text-align: right;
}

.credit-card {
  position: relative;
  display: flex;
  margin: 0 0 20px 0;
  max-width: 510px;
  padding: 16px 21px 16px 14px;
  font-size: 18px;
  font-family: $source-sans-pro;
  border: 1px solid #d2d6d9;
  outline: 0;
  background: white;
  letter-spacing: 0.025em;
  cursor: pointer;
  color: #aab7c4;
}

.credit-card--active {
  color: #333333;
  border: 3px solid #23d737;
}

.credit-card .credit-card__element {
  display: flex;
  margin-right: 8px;
  align-items: center;
  &--card-number {
    flex: 1 0 auto;
  }
}

.credit-card__form__toggle {
  margin-bottom: 24px;
  font-family: $source-sans-pro;
  font-size: 14px;
  line-height: 16px;
  margin-left: 11px;
  text-align: center;
  letter-spacing: 1.1px;
  color: #42a5fc;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  background-color: #fff;
}

.checkout-form__container__digital_wallet__section {
  height: 1px;
  border: 1px solid rgb(210, 214, 217);
  margin: 10px;
}
.checkout-form__container__digital_wallet__button {
  border-radius: 5px;
  padding: 0px;
}
.checkout-form__container .section-label {
  color: $gray-70;
  font-size: 14px;
  font-family: $source-sans-pro;
  letter-spacing: 0px;
  line-height: 20px;
  margin: 10px 0px;
  &--digitalwallet {
    margin-top: 25px;
  }
}
