@import '../../common/themes/main.scss';

.register-link__action {
  cursor: pointer;
  background: transparent;
  font-family: $source-sans-pro;
  margin-left: 4px;
  padding: 0;
  color: #42a5fc;
  display: inline;
  border: none;
  outline: none;
  font-size: 16px;
}
