@import '~@surfline/quiver-themes/stylesheets/common/_colors.scss';

.poi-tool-model-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px;

  .table-row {
    display: table-row;
  }

  .table-row--header {
    color: color('white');
    background-color: color('light-blue');
  }

  .table-cell {
    display: table-cell;
    padding: 10px 0;
  }
}

    .table-row:nth-child(2n) {
      background-color: color('gray', 20);
    }

    .table-row:not(.table-row--header):hover {
      cursor: pointer;
      background-color: color('light-blue', 10);
    }

    .table-row:active {
      background-color: color('green', 40);
    }
