@import '../../common/themes/main.scss';

.premium-success__container {
  .quiver-button {
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      color: color('white');
    }
  }
}
.premium-success__subtitle {
  margin-bottom: 16px;
  font-family: $source-sans-pro;
}

.premium-success__message {
  margin-bottom: 24px;
  font-family: $source-sans-pro;
}
