@surfline:registry=https://surfline.jfrog.io/surfline/api/npm/npm-local/
//surfline.jfrog.io/surfline/api/npm/npm-local/:_auth=<%= @auth %>
//surfline.jfrog.io/surfline/api/npm/npm-local/:username=<%= @username %>
//surfline.jfrog.io/surfline/api/npm/npm-local/:email=artifactory@surfline.com
//surfline.jfrog.io/surfline/api/npm/npm-local/:always-auth=true
