@use 'sass:map';
@import '../../styles/variables';
@import '../../styles/mixins';

.sessionDetailsContainer {
  padding: 24px;
}

.sessionDetailsHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 4px;
}

.sessionDetailsChangeClip {
  color: color('light-blue');
  text-transform: uppercase;
  font-size: 14px;
  font-family: $futura-dem;

  &:disabled {
    color: color('gray', 50);
  }
}

.sessionDetailsTitle {
  color: color('gray', 90);
  font-size: 24px;
  font-family: $futura-dem;
  letter-spacing: 0;
  margin: 0;
  line-height: 24px;
}

.sessionDetailsInfo {
  display: flex;
  color: color('gray', 90);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 16px;
  margin: 0 0 16px;
}

.sessionDetailsInfoTimestamp {
  margin: 0 16px 0 0;
}

.sessionDetailsInfoRating {
  margin: 0;
}

.sessionDetails {
  display: flex;
  flex-flow: row nowrap;
  width: 70%;
}

.sessionDetailsStats {
  flex: 0 0 50%;
  margin-bottom: 56px;
  padding: 0 20px 0 8px;
  border-right: 1px solid rgb(color('gray', 55), 0.24); /* stylelint-disable-line color-function-notation */
}

.sessionDetailsStatsTitle {
  margin: 0 0 16px;
  line-height: 20px;
  color: color('gray', 90);
  font-size: 16px;
  font-family: $futura-dem;
  letter-spacing: 0;
}

.sessionDetailsStatsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.sessionDetailsConditions {
  flex: 0 0 50%;
  margin-bottom: 56px;
  padding: 0 8px 0 20px;
}

.sessionDetailsConditionsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.sessionDetailsConditionsTitle {
  margin: 0 0 16px;
  line-height: 20px;
}

@each $condition, $colors in $__sl-condition-color-map {
  $default-color: map.get($colors, 'default');

  .sessionDetailsConditionsTitle--#{$condition} {
    color: color('white');
    font-size: 12px;
    font-family: $futura-dem;
    letter-spacing: 0;
    padding: 0 6px;
    text-transform: uppercase;
    background-color: $default-color;
  }
}

.sessionInfoBox {
  flex: 1 0 auto;
}

.sessionInfoBoxTitle {
  height: 16px;
  color: color('gray', 55);
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  margin: 0 0 12px;
  white-space: nowrap;
}

.sessionInfoBoxData {
  height: 16px;
  color: color('gray', 90);
  font-size: 24px;
  margin: 0;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  text-transform: lowercase;
}

.sessionDetailsClipDownload {
  text-transform: uppercase;
  font-size: 14px;
  font-family: $futura-dem;
  line-height: 14px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;

  &NoClip {
    color: color('gray', 50);
    cursor: not-allowed;
  }
}
