@import '~@surfline/quiver-themes/stylesheets/common/colors';

.multi-select-list__list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.multi-select-list__list__item .quiver-select {
  margin-bottom: 0 !important;
}

.multi-select-list__list__item__remove {
  cursor: pointer;
  margin-left: 15px;
}

.multi-select-list__add-item {
  background: transparent;
  border: none;
  outline: none;
  color: color('light-blue');
  cursor: pointer;
  height: 30px;
  padding: 0;

  &:hover {
    color: color('light-blue', 70);
  }

  &:active {
    color: color('green');
  }
}
