

.buttonBar {
  button {
    background-color: $brand-secondary;
    font-size: $brand-submit-button-fontSize;
    color: $white;
    font-weight: titleFontWeight($companyTheme);
    border-top: 2px solid cancelFlowSubmitButton($companyTheme);
    margin-top: 30px;
    &.primary {
      background-color: cancelFlowSubmitButton($companyTheme);
      &:hover, &:focus {
        background-color: cancelFlowSubmitButtonHover($companyTheme);
        border-top: 2px solid cancelFlowSubmitButtonHover($companyTheme);
      }
      &:active {
        border-top: 2px solid cancelFlowSubmitButtonActive($companyTheme);
      }
    }
    &.branded {
      background-color: $brand-secondary;
      border-top: 2px solid $brand-secondary;
      margin-top: 0;
      &:hover, &:focus {
        background-color: $brand-secondary-hover;
        border-top: 2px solid $brand-secondary-active;
      }
      &:active {
        border-top: 2px solid $brand-secondary-active;
      }
    }
    &.text {
      background-color: transparent;
      color: $gray-90;
      padding-left: 0;
      text-align: left;
      &:hover {
        background-color: transparent;
        color: black;
      }
    }
    &:first-child {
      float: left;
    }
    &:nth-child(2) {
      float: right;
    }
  }
  .buttonBar__ghostButton {
    color: $brand-secondary;
    background-color: transparent;
    border: 0;
    margin-top: 10px;
    font-size: 14px;
    &:hover, &:focus {
      color: $brand-secondary-hover;
    }
    &:active {
      color: $brand-secondary-active;
    }
    @media (max-width: $tablet) {
      margin-top: 20px;
    }
  }
}
