.splitScreenLeftPanel1 {
  display: inline-block;
  max-width: 560px;
  float: left;
  position: relative;
  padding: 60px;
  margin-top: 45px;

  @media (max-width: $iphone6s) {
    padding: 2em;
  }
  @media (max-width: $tablet) {
    margin-top: 0;
    padding: 30px;
    margin: 0 auto;
    max-width: 410px;
    background: #fff;
    float: none;
    display: block;
  }
}
