[<%= @monitored_file %>]
datetime_format = <%= @datetime_format ? @datetime_format : '%b %d %H:%M:%S' %>
file = <%= @monitored_file %>
buffer_duration = 5000
log_stream_name = {instance_id}
initial_position = start_of_file
log_group_name = <%= @log_group_name ? @log_group_name : @monitored_file %>
