@import "../../styles/main.scss";

.perks-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 35px 10px 10px 10px;
}
.perks-header .header-left__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
  margin-right: 68px;
  align-self: flex-start;
}

.header-left__item .perks-header__text {
  font-family: $futura-dem;
  letter-spacing: 0px;
  color: color('black');
  font-size: 32px;
  margin: 0;
}
.header-left__item .perks-header__sub-text{
  font-family: $source-sans-pro;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: unset;
  font-weight: normal;
}

.perks-header .header-right__item {
  display: flex;
  background: #011d38;
  box-shadow: 0px 2px 5px 1px color('gray', 30);
  border-radius: 4px;
  flex-direction: column;
  max-width: 603px;
  width: 100%;
}
.header-right__item .header-right__text {
  margin: 10px auto;
}
.header-right__text .header-right__title {
  color: color('white');
  font-size: 16px;
  font-family: $futura-dem;
  margin: 10px;
  line-height: 22px;
}
.header-right__text .header-right__sub-text {
  color: color('white');
  font-size: 11px;
  font-family: $source-sans-pro;
  margin: auto 10px;
}
.header-right__item .header-right__button {
  display: flex;
  margin: 10px auto;
  white-space: nowrap;
  justify-content: flex-start;
  width: 100%;
}
.header-right__button .quiver-button {
  background-color: color('green', 50);
  border: 2px solid color('green', 50);
  padding: 10px;
  color: color('white');
  height: 38px;
  width: unset;
  margin: 0px 10px;
}

@media (min-width: 400px) {
  .perks-header .header-right__item--free {
    flex-direction: row;
    height: 100%
  }
  .header-right__item--free .header-right__text .header-right__title {
    margin: 30px;
  }
}
@media (max-width: $tablet-large) and (min-width: 400px) {
  .header-right__item--free .header-right__text {
    width: 59%;
  }
  .header-right__item--free .header-right__button {
    width: unset;
    margin-top: 40px;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-large) {
  .header-right__item--premium {
    flex: 0 0 calc(100%/2 - 20px);
    flex-direction: row;
    margin: 10px;
    max-width: 603px;
  }
  .perks-header .header-left__item {
    flex: 0 0 calc(100%/2 - 20px);
    margin: 10px;
    max-width: 603px;
  }
  .perks-header .header-right__item {
    flex: 0 0 calc(100%/2 - 20px);
    flex-direction: column;
    margin: 10px;
    max-width: 603px;
    &--free{
      flex-direction: row;
    }
  }
  .header-left__item .perks-header__text {
    font-size: 60px;
    line-height: 60px;
  }
  .header-right__button .quiver-button {
    padding: 6px;
  }
}

@media (min-width: $tablet-large) {
  .perks-header {
    margin: 38px 26px 16px 26px;
  }
  .header-right__item--premium {
    flex: 0 0 calc(100%/2 - 22px);
    flex-direction: row;
    margin: 10px;
    max-width: 603px;
  }
  .perks-header .header-left__item {
    flex: 0 0 calc(100%/2 - 22px);
    margin: 10px;
    max-width: 603px;
  }
  .header-left__item .perks-header__text {
    font-family: $futura-dem;
    letter-spacing: 0px;
    color: color('black');
    font-size: 60px;
    line-height: 60px;
  }
  .header-left__item .perks-header__sub-text{
    font-family: $source-sans-pro;
    letter-spacing: 0.8px;
    font-size: 16px;
    margin: 0px;
  }
  .perks-header .header-right__item {
    flex: 0 0 calc(100%/2 - 22px);
    flex-direction: row;
    margin: 10px;
    max-width: 603px;
  }
  .header-right__item .header-right__text {
    width: 66%;
  }
  .header-right__text .header-right__title {
    font-size: 18px;
  }
  .header-right__text .header-right__sub-text {
    font-size: 11px;
    margin: 10px;
  }
  .header-right__item .header-right__button {
    margin: 20px auto;
    width: unset;
  }
  .header-right__button .quiver-button {
    margin: 20px 6px;
  }
}
