.observationContainer {
  width: 100%;
  margin: 20px 0 10px 0;
}

.observationGridContainer {
  width: 100%;
}

.observationGridItem {
  margin: auto;
}

.subregionObservationHeader {
  margin: 15px;
}

.break {
  margin: 15px;
}
