@import '../../../styles/variables';

.readingsTableDataOptions {
  display: flex;
  margin: 24px 16px 16px;
}

.readingsTableDataOptionsButton {
  button {
    margin-right: 8px;
    border-radius: 30px;
    color: color('light-blue', 90);
    background-color: white;
    border-color: color('light-blue', 90);
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-family: $source-sans-pro;
    font-weight: 600;
    text-transform: none;
    padding: 0;
  }
}

.readingsTableDataOptionsButtonSelected {
  button,
  .button:hover {
    color: white;
    background-color: color('light-blue', 90);
    border: color('light-blue', 90);
  }
}

.readingsTableDataOptionsButton:hover button {
  color: color('light-blue', 90);
  background-color: white;
  border-color: color('light-blue', 90);
}

.loadingSkeleton {
  margin: 0;
  margin-right: 8px;
  border-radius: 30px;
  width: 100px;
  height: 40px;
}

@media (min-width: $tablet-width) {
  .readingsTableDataOptions {
    margin: 32px 24px 0;
  }
}
