@import '../../common/themes/main.scss';


.promotion-partner-content {
  display: flex;
  flex-direction: column;
  background-color: color('white');
  align-items: center;
  min-width: 326px;
}
.promotion-partner-content__logo {
  margin-top: 18px;
}
.promotion-partner-content__crossmark {
  color: rgb(34, 215, 55);
}
.promotion-partner-content__partner_logo {
  width: 112px;
  height: 32px;
  margin: 5px auto;
  background-repeat: no-repeat;
  background-position: center;
}
.promotion-partner-content__partner_logo_text {
  font-family: $source-sans-pro;
  font-size: 18px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  margin: 0px auto;
  color: color('black');
}
.promotion-partner-content__detail_copy {
  font-size: 14px;
  letter-spacing: 0.9px;
  text-align: center;
  font-family: $source-sans-pro;
  margin: 12px 2px;
  width: 324px;
  margin-bottom: 26px;
  color: color('black');
}

@media (min-width: $tablet-large) {
  .promotion-partner-content {
    min-width: 430px;
    margin: 17px 0px 15px 0px;
  }
  .promotion-partner-content__partner_logo_text {
    margin: 8px auto;
  }
  .promotion-partner-content__detail_copy {
    margin: 20px 20px;
  }
}
