@import '../../styles/variables';

.buoyCarousel {
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  width: 100%;
  padding: 24px 0 8px;

  :global {
    .quiver-error-box {
      height: 211px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (min-width: $tablet-large) {
  .buoyCarousel {
    padding: 24px 0;
  }
}
