import React from 'react';
import { render, screen } from '../../testUtils';
import {{name}} from './{{name}}';

describe('containers / {{name}}', () => {
  it('', () => {
    render(
      <{{name}}/>,
      {},
    );
  });
});
