@import '../../styles/main.scss';

.perk-container {
  background: color('white');
  box-shadow: 0px 2px 5px 1px color('gray', 30);
  border-radius: 4px;
  max-width: 603px;
  width: 100%;
}
.perk-container .perk-container__image {
  height: 217px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.perk-container__image .perk-logo {
  width: 48px;
  height: 48px;
  margin: 20px;
  background-color: color('white');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
}

.perk-container__image .perk-discounttext {
  background-color: color('blue-gray', 10);
  color: color('dark-blue', 10);
  font-family: $source-sans-pro;
  font-size: 14px;
  margin: 16px;
  text-align: center;
  font-weight: 600;
  border-radius: 2px;
  padding: 3px 6px 3px 6px;
  display: inline-block;
}

.perk-container .perk-container__details {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.perk-container__details .perk-name {
  color: color('black');
  font-size: 24px;
  font-family: $futura-dem;
  letter-spacing: 0px;
}
.perk-name {
  svg {
    margin-right: 10px;
  }
}
.perk-container__details .perk-description {
  color: color('black');
  font-size: 14px;
  font-family: $source-sans-pro;
  letter-spacing: 0px;
  line-height: 18px;
  margin: 10px 0px;
}
.perk-button .quiver-button {
  width: 150px;
  height: 36px;
  padding: 0px;
  background-color: color('dark-blue', 10);
  border: 2px solid color('dark-blue', 10);
  text-transform: uppercase;
  &:hover {
    background-color: color('dark-blue', 30);
    border-color: color('dark-blue', 30);
  }
}
.perk-button--free .quiver-button {
  background-color: color('green', 50);
  border: 2px solid color('green', 50);
  &:hover {
    background-color: color('green', 60);
    border-color: color('green', 60);
  }
}
.perk-button--monthly .quiver-button,
.perk-button--code-unavailable .quiver-button {
  background-color: color('blue-gray', 70);
  border: 2px solid color('blue-gray', 70);
  &:hover {
    background-color: color('blue-gray', 80);
    border-color: color('blue-gray', 80);
  }
}
.perkcode-container {
  display: block;
}
.perkcode-container .quiver-alert--error {
  margin-top: 15px;
  margin-left: 10px;
}
.perkcode-link {
  margin-top: 5px;
}
.sl-perk-code {
  transition: background-color ease 300ms;
  font-family: $futura-dem;
  color: color('gray', 90);
  font-size: 20px;
  text-align: center;
  border: 2px dotted color('blue-gray', 70);
}
.sl-perk-code-copy-button {
  position: absolute;
  right: 0px;
  bottom: 0;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sl-perk-code--copied {
  background-color: color('green', 20);
}

.sl-perk-code-container {
  position: relative;
  margin: 4px 12px;
}


.perkcode-partnerurl {
  display: flex;
  flex-direction: row;
  background: color('dark-blue', 10);
  border-radius: 14px;
  margin-left: 0px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  span {
    margin: 6px;
    color: color('white');
    font-size: 14px;
    font-family: $source-sans-pro;
  }
  div {
    margin-right: 10px;
  }
}
.perkcode-link-container {
  margin-top: 8px;
  margin-left: 0px;
}
@media (min-width: $tablet-width) {
  .perk-container {
    flex: 0 0 calc(100% / 2 - 22px);
  }
  .perk-container__details .perk-description {
    min-height: 70px;
  }
}
@media (min-width: $tablet-large) {
  .perkcode-link-container {
    margin-top: 0px;
    margin-left: 7px;
  }
  .perk-container__details .perk-button {
    width: 35%;
  }
  .perk-container__details .perk-button--code-unavailable {
    width: 35%;
  }
  .perkcode-container {
    display: flex;
    align-items: center;
  }
  .perkcode-partnerurl {
    span {
      margin: 5px 10px;
    }
  }
  .sl-perk-code-container {
    padding-right: 32px;
    margin: 8px 12px;
  }
  .perk-button .quiver-button {
    height: 48px;
  }
}
