.sl-contest-landing__top {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 0;
  .sl-promobox-slides {
    margin: 0;
  }
}

.sl-contest-landing__top__promobox {
  order: 1;
}

.sl-contest-landing__top__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 0 24px;
}

.sl-contest--sos .sl-contest-landing__top__nav {
  display: block;
  text-align: center;
}

.sl-contest-landing__top__nav__links {
  display: flex;
  flex-direction: column;
  width: 100%;
  a {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 16px 8px 0;
    padding: 16px;
    border: 2px solid color('white');
    font-family: $futura-surfline;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    color: color('white');
    text-decoration: none;
    &:hover {
      background: color('white');
      color: color('black');
    }
  }
}

.sl-contest-landing__entries__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
  background: color('black', 40);
  .sl-contest__ad-unit {
    margin: 0 0 48px;
  }
}

.sl-contest-landing__entries {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;

  .sl-contest-entry-card__details__votes--voted
  .sl-contest-entry-card__details__votes__value {
    color: color('black');
  }
}

.sl-contest-landing__no-entries {
  display: block;
  width: 100%;
  margin: 32px 0 0;
  text-align: center;
  color: color('white');
  a {
    text-decoration: none;
  }
}

.sl-contest-landing__entries__button {
  font-family: $futura-dem;
  font-size: 16px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: color('white');
  border: 2px solid color('white');
  padding: 16px;
  margin: 48px 0 8px;
  text-decoration: none;
  &:hover {
    color: color('black');
    background: color('white');
  }
}

.sl-contest-winners__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0 0;
}

.sl-contest-winners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
}

.sl-contest-awards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  padding: 64px 0;
  background: color('black', 40);
}

.sl-contest-awards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px auto 0;
  width: 100%;
}

.sl-contest-regional-details__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  padding: 64px 0;
  background-color: color('black', 40);
}

.sl-contest-regional-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px auto 0;
  width: 100%;
}

.sl-contest-contests__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0 0;
  p {
    color: color('white');
    padding: 0 16px;
    text-align: center;
    max-width: $tablet-width;
  }
}

.sl-contest-contests {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.sl-contest-contests__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (min-width: $large-mobile) {
  .sl-contest-landing__top__nav__links {
    display: none;
  }
  .sl-contest--sos .sl-contest-landing__top__nav__links {
    display: flex;
  }
  .sl-contest-landing__entries {
    flex-direction: row;
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }
  }
}

@media (min-width: $tablet-large) {
  .sl-contest-landing {
    padding-top: 94px;
  }
  .sl-contest-landing__top {
    flex-direction: row;
    width: 976px;
    padding-bottom: 92px;
    align-items: center;
  }
  .sl-contest-landing__entries, .sl-contest-winners, .sl-contest-contests {
    width: 976px;
  }
  .sl-contest-landing__top__promobox {
    order: 0;
    width: 640px;
  }
  .sl-contest-landing__top__nav {
    flex: 1;
    padding-top: 24px;
  }
  .sl-contest--sos .sl-contest-landing__top__nav {
    display: flex;
  }
  .sl-contest-landing__top__nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      width: 200px;
      margin-top: 24;
    }
  }
}

@media (min-width: $desktop-small) {
  .sl-contest-landing__top, .sl-contest-landing__entries, .sl-contest-winners, .sl-contest-contests {
    width: 1256px;
  }
  .sl-contest-landing__top__promobox {
    width: 784px;
  }
  .sl-contest-landing__top__nav__links {
    a {
      width: 300px;
    }
  }
  .sl-contest-contests__list {
    flex-wrap: nowrap;
  }
  .sl-contest-card__name {
    font-size: 20px;
  }
}

@media (min-width: $desktop-large) {
  .sl-contest-landing__top {
    width: 1712px;
  }
  .sl-contest-landing__top__promobox {
    width: 1200px;
  }
}
