.sl-contest-entry-container {
  width: calc(100% - 32px);
  margin: 0 auto;
  padding: 0 16px 24px;
}

@media (min-width: $large-mobile) {
  .sl-contest-entry-container {
    padding: 24px 0 80px;
  }
}

@media (min-width: $tablet-large) {
  .sl-contest-entry-container {
    width: 976px;
  }
}

@media (min-width: $desktop-large) {
  .sl-contest-entry-container {
    width: 1256px;
  }
}
