.sl-contest-submit {
  min-height: 400px;
  iframe {	  
    height: calc(100vh + 500px);
    overflow: scroll;
    min-width: 100%;
    border: none;
  }
  p {
    max-width: 746px;
    text-align: center;
    letter-spacing: .85px;
    color: color('white');
    padding: 16px;
    margin: 0 auto;
  } 
}

.sl-contest-submit__title {
  font-size: 16px!important;
}

@media (min-width: $desktop-small) {
  .sl-contest-submit {
    padding: 96px 0 0;
  }
}
