.sl-contest-entries__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  padding: 32px 0 64px;
  background: color('black', 40);
}

.sl-contest-entries {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;

  .sl-contest-entry-card__details__votes--voted
  .sl-contest-entry-card__details__votes__value {
    color: #41A4FB;
    font-family: $futura-dem;
  }
}

.sl-contest-entries__title {
  font-size: 16px !important;
}

.sl-contest-entries__button {
  font-family: $futura-dem;
  font-size: 16px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: color('white');
  border: 2px solid color('white');
  padding: 16px;
  margin: 48px 0 8px;
  text-decoration: none;
  &:hover {
    color: color('black');
    background: color('white');
    cursor: pointer;
  }
}

.sl-contest-entries__container__options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;

  .quiver-select {
    flex: 1;
    min-width: 200px;
    width: 100%;
    margin-bottom: 20px;

    @media (min-width: 445px) and  (max-width: 465px) {
      min-width: 350px;
      margin-right: 0;
    }

    @media (min-width: 465px) {
      &:nth-child(odd) {
        margin-right: 20px;
      }
    }

    @media (min-width: 705px) and (max-width: 925px) {
      min-width: 350px;
    }

    @media (width: 768px){
      &:nth-child(even) {
        margin-right: 0px !important;
      }
    }

    @media (min-width:  $large-mobile) {
      margin-right: 20px;
    }

    @media (min-width:  $desktop-small) {
      margin-bottom: 0;
      &:nth-child(even) {
        margin-right: 20px;
      }
    }
  }
}

@media (min-width: $large-mobile) {
  .sl-contest-entries {
    flex-direction: row;
    .sl-contest-entry-card {
      flex-basis: calc(50% - 32px);
    }
  }
}

@media (min-width: $tablet-large) {
  .sl-contest-entries {
    width: 976px;
    .sl-contest-entry-card {
      flex-basis: 280px;
    }
  }
}

@media (min-width: $desktop-small) {
  .sl-contest-entries__title {
    margin: 96px 0;
  }
  .sl-contest-entries__container {
    margin-top: 48px;
  }
  .sl-contest-entries {
    width: 1256px;
    .sl-contest-entry-card {
      flex-basis: 372px;
    }
  }
}
