.sl-contest-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sl-contest-details__title {
  font-size: 16px !important;
}

.sl-contest-details__section {
  margin-bottom: 80px;
  p,
  ul,
  li {
    max-width: 746px;
    text-align: center;
    letter-spacing: 0.85px;
    color: color('white');
    padding: 0 16px;
  }
}

.sl-contest-details__judges {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  li {
    margin-top: 16px;
    flex-basis: 260px;
    img {
      width: 100%;
    }
    h5 {
      color: color('white');
    }
    p {
      text-align: left;
      padding: 0;
    }
  }
}

.sl-contest-details__rules {
  width: calc(100% - 32px);
  padding: 0 16px;
  p,
  ul,
  li {
    text-align: left;
    font-size: 14px;
  }
  ul {
    list-style-position: inside;
  }
}

@media (min-width: $large-mobile) {
  .sl-contest-details__judges {
    justify-content: space-evenly;
  }
}

@media (min-width: $tablet-width) {
  .sl-contest-details__judges {
    li {
      flex-basis: 360px;
    }
  }
}

@media (min-width: $tablet-large) {
  .sl-contest-details__judges {
    width: 976px;
  }
  .sl-contest-details__rules {
    width: 976px;
    p,
    ul,
    li {
      max-width: 100%;
    }
  }
}

@media (min-width: $desktop-small) {
  .sl-contest-details {
    padding: 96px 0;
    h3 {
      margin-bottom: 24px;
    }
  }
  .sl-contest-details__rules {
    width: 1256px;
  }
  .sl-contest-details__judges {
    width: 1256px;
    li {
      flex-basis: 260px;
    }
  }
}
