.premium-landing {
  background-color: color('dark-blue', 90);
  height: 100%;
}

.premium-landing__background-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 15%;
  img {
    width: 100%;
    max-width: 1440px;
  }
}

#forecasters-image {
  margin-bottom: 144px;
}

#proprietary-buoy-data {
  padding-top: 3vw;
}

#premium-analysis {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  #exclusive-forecast-tools {
    margin-bottom: 0;
  }

  #ad-free-hd-cams, #proprietary-buoy-data, #premium-benefits {
    margin-bottom: 18%;
  }
}
