@import '../../_mixins.scss';

.sl-search {
  &__total-results {
    padding: 0 15px;
    h1 {
      font-size: 21px;
      line-height: 21px;
      font-weight: 400;
      span {
        color: color('dark-blue', 10);
      }
      @media(min-width: $tablet-width) {
        font-size: 38px;
        line-height: 38px;
      }
    }
    @media(min-width: $tablet-width) {
      padding: 5px 92px;
    }
  }
  &__results {
    background: color('light-blue', 5);
    position: relative;
    margin: 0 auto;
    padding: 15px 0;
    @media(min-width: $tablet-width) {
      padding: 25px 92px;
    }
    section {
      background: color('white');
      margin-bottom: 15px;
      font-size: 14px;
      > div {
        padding: 25px;
        .result {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          letter-spacing: .4px;
          padding: 4px 0;
          a {
            display: inline-flex;
            align-items: baseline;
            text-decoration: none;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            .quiver-cam-icon,
            .quiver-multi-cam-icon,
            .quiver-multi-cam-icon-with-text,
            .quiver-location-icon,
            .quiver-forecast-icon,
            .quiver-news-icon,
            .quiver-travel-icon,
            .blank {
              width: 13px;
              fill: color('gray', 55);
              margin-right: 6px;
            }
            .quiver-location-icon {
              top: 1px;
              position: relative;
            }
            .quiver-forecast-icon {
              top: 4px;
              position: relative;
              width: 16px;
              margin-right: 3px;
            }
            .quiver-news-icon {
              margin-right: 8px;
            }
            .quiver-travel-icon {
              top: 3px;
              position: relative;
              width: 16px;
              margin-right: 3px;
            }
            .blank {
              float: left;
              height: 10px;
            }
          }
          &__name {
            color: color('gray', 90);
            highlight {
              color: color('dark-blue', 10);
            }
            &:hover {
              color: color('dark-blue', 10);
            }
            &__news {
              white-space: normal!important;
              text-indent: -28px;
            }
          }
          &__container {
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          &__breadcrumb {
            margin-left: 6px;
            color: color('gray', 55);
          }
        }
      }
      h2 {
        margin: 0;
        font-family: $futura-dem;
        font-weight: 400;
        font-size: 18px;
        line-height: 14px;
        letter-spacing: 1px;
        color: color('black');
        margin-bottom: 20px;
      }
      footer {
        border-top: 1px solid color('light-blue', 5);
        text-align: center;
        padding: 15px;
        > span {
          cursor: pointer;
          color: color('dark-blue', 10);
          font-weight: 600;
        }
      }

    }
  }
}
