/* suppress focus ring on form controls for mouse users */
[data-whatintent='mouse'] *:focus {
  outline: none;
}

.sl-multi-cam-spot-report-module {
  .quiver-spot-forecast-summary {
    justify-content: space-between;
    padding: 24px;
  }
}

.sl-multi-cam-page {
  display: flex;
  flex-flow: row nowrap;
  background: color('white');
  justify-content: center;
  height: calc(100vh - 97px);

  .sl-multi-cam__cam-container {
    .jw-controls {
      display: none !important;
    }
  }

  .quiver-page-rail--left,
  .quiver-page-rail--right {
    z-index: 2;
    // 100% of view height minus the height of the nav bar
    height: calc(100vh - 97px);
  }

  .quiver-page-rail--left {
    position: relative;
    background-color: color('blue-gray', 10);
    margin-right: 0;
    transition: min-width 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19),
      width 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    &--open {
      width: 208px;
      min-width: 208px;
    }
    &--closed {
      width: 20px;
      min-width: 20px;
    }
    .sl-collection-selector-chevron {
      outline: none;
      display: flex;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      height: 24px;
      width: 24px;
      background-color: color('white');
      transition: background-color 0.3s ease;
      position: absolute;
      right: -12px;
      top: 12px;
      z-index: 1000;
      box-shadow: 0 0 0 1px rgba(9, 30, 66, 0.08), 0 2px 4px 1px rgba(9, 30, 66, 0.08);
      .quiver-chevron {
        stroke: color('light-blue', 80);
        transition: background-color 0.3s ease;
      }
      &:hover {
        background-color: color('light-blue', 80);
        cursor: pointer;
        .quiver-chevron {
          stroke: color('white');
        }
      }
    }
  }

  .quiver-page-rail--right {
    border-left: 1px solid color('gray', 30);
    background: color('white');
    display: flex;
    position: relative;
    min-width: 320px;
    overflow-x: hidden;
    overflow-y: auto;

    .quiver-google-dfp {
      position: fixed;
      bottom: 0;
      z-index: 2;
      background: color('white');
    }
  }

  &--mobile-ad {
    .quiver-google-dfp {
      display: flex;
      justify-content: center;
    }
  }
  &--desktop-ad {
    .sl-collection-rail__items {
      padding-bottom: 260px;
    }
  }

  .sl-multi-cam-spinner {
    position: absolute;
    left: 50%;
    top: 7%;

    .quiver-spinner {
      width: 34px;
      height: 36px;
    }
    &--hidden {
      display: none !important;
    }
  }

  &--fullscreen {
    width: 100%;
    height: 100%;
    background: unset;
    .quiver-page-rail--left,
    .quiver-page-rail--right {
      display: none;
    }
    .sl-multi-cam {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .sl-multi-cam-container {
      justify-content: center;
      margin: 0 auto;
      padding: 0;
      background: transparent;
      position: relative;
      max-width: calc(1.76 * 100vh - 85px);

      &--triple-cam {
        max-width: calc(2.7 * 100vh - 135px);
      }
    }
    .sl-multi-cam__cams {
      margin: 0;
    }
  }

  @media (max-width: $desktop-width) {
    .quiver-page-rail--left {
      display: none;
    }
  }

  @media (max-width: $tablet-large) {
    .quiver-page-rail--right {
      display: none;
    }
    // Right Rail is open up to Tablet Large
    &--right-rail {
      .quiver-page-rail--right {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 275px;
        min-width: 275px;
        max-width: 275px;
        border: none;
      }
      .sl-collection-rail {
        width: 275px;
        .quiver-favorite__item__wrapper__top-name {
          font-size: 14px;
          line-height: 16px;
          max-width: 150px;
        }
      }
      .sl-multi-cam__rail-toggle {
        right: 290px;
      }
      .sl-collection-rail__title {
        padding: 16px;
        .quiver-hover-menu {
          top: 16px;
        }
      }
    }
  }
}
