.sl-article {
  h1 {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 8px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  padding: 24px 16px;
  .quiver-share-article {
    margin: 0;
    button {
      width: 30px;
      height: 30px;
    }
  }
  .quiver-forecaster-profile {
    img {
      width: 40px;
      height: 40px;
    }
  }
  .quiver-forecaster-profile__forecaster-name {
    font-size: 16px;
  }
  p {
    color: color('gray', 90);
  }
  img {
    width: 100%;
  }
  center {
    margin-top: -16px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: color('gray', 55)!important;
  }
  .quiver-base-content-card__paywall {
    padding-bottom: 30px;
    border-bottom: 1px solid color('gray', 20);
  }
}

.sl-article__meta {
  text-transform: uppercase;
  font-family: $futura-dem;
  font-size: 11px;
  color: color('gray', 55);
  letter-spacing: 1px;
}

.sl-article__title {
  font-family: $futura-dem;
  color: color('gray', 90);
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
}

.sl-article__break {
  margin: 16px 0;
  border-bottom: 1px solid color('light-blue', 5);
}

.sl-article__forecast-articles {
  width: calc(100% - 32px);
  padding: 8px 16px;
  margin: 32px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.05);
}

.sl-article__content-container {
  position: relative;
}

@media(min-width: $tablet-width) {
  .sl-article {
    padding: 48px 16px;
    .quiver-share-article {
      margin: 16px 0 24px;
    }
    center {
      font-size: 16px;
    }
  }
  .sl-article__title {
    font-size: 24px;
  }
  .sl-article__content {
    p {
      font-size: 16px;
    }
    li {
      font-size: 16px;
    }
    img {
      width: auto;
      max-width: 600px;
      margin: 24px auto;
      display: block;
    }
  }
}

@media(min-width: $tablet-large) {
  .sl-article__forecast-articles {
    margin-top: 0;
  }
  .sl-article {
    .quiver-page-rail--left {
      margin-right: 32px;
      width: calc(100% - 320px - 32px);
    }
  }
}
