@import '../../common/themes/main.scss';

.drop-down {
  .pricing-plans {
    width: 100%;
  }
  .pricing-plans__title {
    font-family: $source-sans-pro;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $black;
    margin: 2em 0em 1em 0em;
    align-self: baseline;
  }
  .pricing-plans__button {
    margin: 2.25em 0em 0em 0em;
    width: 100%;
    .quiver-button {
      background-color: color('green');
      border-color: color('green');
      width: 100%;
      &:hover {
        background-color: color('green');
        border-color: color('green');
      }
    }
  }
  .premium-plan__cost__hyphen {
    margin: 0em 0.2em;
  }
  .premium-plan__message {
    font-family: $source-sans-pro;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #96a9b1;
    margin: 0em 0.25em;
  }
}
