ul.sl-breadcrumb {
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.3px;
  padding: 0;
  margin: 0;
  li {
    &:after { content: ' / ' }
    &:last-child:after { content: '' }
    display: inline;
    a {
      font-weight: normal;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
