.sl-editorial-article-footer {
  width: 100%;
  background-color: color('light-blue', 5); // Light blue
}

.sl-editorial-article-footer__content {
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 8px 0 16px;
  margin: 0 auto;
}

.sl-editorial-article-footer__content__right {
  display: none;
}

.sl-editorial-article-footer__disqus {
  padding: 10px 20px;
  border-radius: 3px;
  background-color: white;
}

.sl-editorial-article-footer__ad--mid {
  text-align: center;
  padding: 32px 0 16px;
}

.sl-editorial-article-footer__title {
  margin: 0;
  padding: 16px 0 8px 16px;
}

.sl_editorial-article-footer__related-articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .quiver-feed-card {
    width: 100%;
    background: color('white');
    margin-bottom: 16px;
  }
}

.sl-editorial-article-footer__ad--bottom {
  padding-bottom: 32px;
  text-align: center;
}

@media(min-width: $tablet-width) {
  .sl_editorial-article-footer__related-articles {
    .quiver-feed-card {
      width: calc(50% - 8px);
    }
  }
  .sl-editorial-article-footer__content {
    padding: 40px 0 24px;
  }
  .sl-editorial-article-footer__ad--mid {
    padding: 40px 0;
  }
  .sl-editorial-article-footer__ad--bottom {
    padding: 0 0 40px;
  }

}

@media(min-width: $tablet-large) {
  .sl-editorial-article-footer__content {
    padding: 40px 16px 24px;
    width: calc(100% - 32px);
    display: flex;
    flex-wrap: nowrap;
  }

  .sl-editorial-article-footer__content__left {
    flex: 1;
  }

  .sl-editorial-article-footer__content__right {
    display: block;
    position: relative;
    width: 300px;
    margin-left: 40px;
    margin-bottom: 8px;
    .sl-sticky-ad-unit {
      padding: 0 0 8px;
    }
  }

  .sl-editorial-article-footer__ad--mid {
    display: none;
  }

  .sl_editorial-article-footer__related-articles {
    .quiver-feed-card {
      width: calc(100%/3 - 10px);
    }
  }

  .sl-editorial-article-footer__title {
    padding: 40px 0 8px;
  }
}

.sl-editorial-article-footer {
  .sl-sticky-ad-unit-base-overrides {
    .sticky-inner-wrapper {
      position: relative !important;
    }
  }

  .sl-sticky-ad-unit-active-overrides {
    .sticky-inner-wrapper {
      position: fixed !important;
    }
  }
}
