.sl-premium-video-cta__container {
  max-width: 1140px;
  text-align: center;
  margin: 0 auto;
  display: block;
  position: relative;
}

.sl-premium-video-cta__image {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
}

.sl-premium-video-cta__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 26, 56, 0.74);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  svg {
    order: 0;
  }
  .quiver-button {
    order: 2;
    background-color: color('green', 50);
    border-color: color('green', 50);
    margin: 10px 0px 20px 0;
    &:hover {
      background-color: color('green', 70);
      border-color: color('green', 70);
    }
  }
}

.sl-premium-video-cta__text--top {
  order: 1;
  color: color('white');
  font-size: 24px;
  width: 60%;
}

.sl-premium-video-cta__text--bottom {
  order: 3;
  color: color('white');
  font-size: 16px;
}

.sl-premium-video-cta__login {
  font-size: 14px;
  color: color('white');
  text-decoration: underline !important;
}

.sl-premium-video-cta__text--middle {
  order: 2;
  width: 65%;
  font-size: 16px;
  color: color('gray', 40);
  margin: 24px 0;
  display: none;
}

.sl-premium-video-cta__caption {
  margin-top: 24px;
}

@media (min-width: $tablet-width) {
  .sl-premium-video-cta__text--top {
    font-size: 42px !important;
    line-height: 44px !important;
    order: 0;
  }
  .sl-premium-video-cta__overlay {
    svg {
      order: 1;
      height: 35px;
      width: 28px;
    }
  }
  .sl-premium-video-cta__text--middle  {
    display: block;
  }
  .sl-premium-video-cta__text--bottom {
    margin-top: 24px;
    font-weight: 600;
  }
}