.sl-top-spot {
  display: inline-block;
  width: 300px;
  height: 254px;
  background-repeat: no-repeat;
  background-size: 300px 172px;
  background-repeat: no-repeat;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: color('black');
  text-decoration: none;
  margin: 0 5px;
  @media (min-width: $large-mobile) {
    margin: 0 15px;
  }
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    .sl-top-spot__name,
    .quiver-surf-height {
      color: color('black');
      sup {
        color: color('black');
      }
    }
    .sl-reading-description {
      color: color('gray', 55);
    }
  }
  &__container {
    width: 300px;
    min-height: 99px;
  }
  &__details {
    padding: 15px;
    background: color('white');
    .quiver-surf-height {
      padding-top: 2px;
      display: block;
      float: right;
    }
  }
  &__name {
    font-family: $futura-dem;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: color('black');
    background-color: transparent;
  }
  &__tide-summary {
    display: block;
    margin-top: 5px;
  }
  .sl-favorites-indicator {
    display: none;
  }
}
