@import '../../common/themes/main.scss';

.premium-plans__container {
  position: relative;
  height: 85px;
  margin-bottom: 16px;
  z-index: 1;
}
.premium-plans {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border: 2px solid #22d736;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.premium-plans .premium-plan {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  text-decoration: none;
  background-color: $white;
  &:hover {
    background-color: $light-blue-5;
    cursor: pointer;
  }
  &--hidden {
    display: none;
  }
}

.premium-plan .premium-plan__name {
  display: flex;
  align-items: baseline;
  margin-bottom: 4px;
  font-size: 14px;
  &--plan {
    margin: 0 8px 0px 0;
    font-size: 18px;
    font-weight: bold;
    color: $gray-90;
  }
  &--trial {
    background: $green-50;
    border-radius: 2px;
    color: $white;
    font-size: 14px;
    font-family: $source-sans-pro;
    font-weight: 600;
    margin: auto 16px;
    padding: 0px 4px;
  }
}

.premium-plan .premium-plan__price {
  display: flex;
  align-items: baseline;
  &--cost {
    font-family: $source-sans-pro;
    font-weight: bold;
    font-size: 22px;
    color: $gray-90;
  }
  &--total {
    font-size: 14px;
    color: $gray-80;
  }
}

.premium-plan .premium-plan__action {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &--text {
    display: none;
    font-size: 14px;
    color: #97a9b1;
  }
}

@media (min-width: $tablet) {

  .premium-plan .premium-plan__name {
    &--trial {
      font-size: 14px;
      margin: auto 16px;
      padding: 0px 4px;
    }
  }
  .premium-plan .premium-plan__action {
    &--text {
      display: block;
    }
  }
}
