@import '../../common/themes/main.scss';

.checkout-form__container__payment-button {
  .quiver-button {
    background-color: color('green', 50);
    border-color: color('green', 50);
    width: 100%;
    height: 55px;
    &:hover {
      background-color: color('green', 70);
      border-color: color('green', 70);
    }
  }
}

.credit-card-container {
  margin-bottom: 24px;
}

.credit-card {
  position: relative;
  display: flex;
  margin: 0 0 20px 0;
  max-width: 510px;
  padding: 16px 21px 16px 14px;
  font-size: 18px;
  font-family: $source-sans-pro;
  border: 1px solid #d2d6d9;
  outline: 0;
  background: color('white');
  letter-spacing: 0.025em;
  cursor: pointer;
  color: #aab7c4;
}

.credit-card--active {
  color: #333333;
  border: 3px solid #23d737;
}

.credit-card .credit-card__element {
  display: flex;
  margin-right: 8px;
  align-items: center;
  &--card-number {
    flex: 1 0 auto;
  }
}

.credit-card__form__toggle {
  margin-bottom: 24px;
  font-family: $futura-dem;
  font-size: 14px;
  line-height: 16px;
  margin-left: 11px;
  text-align: center;
  letter-spacing: 1.1px;
  color: #42a5fc;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

.checkout-form__container__digital_wallet__section {
  height: 1px;
  border: 1px solid rgb(210, 214, 217);
  margin: 10px;
}
.checkout-form__container__digital_wallet__button {
  border-radius: 5px;
  padding: 0px;
}
.checkout-form__container .section-label {
  color: color('gray', 70);
  font-size: 14px;
  font-family: $source-sans-pro;
  letter-spacing: 0px;
  line-height: 20px;
  margin: 10px 0px;
  &--digitalwallet {
    margin-top: 25px;
  }
}

.credit-card-container .stripe-card-element__wrapper {
  background: #ffffff;
  outline: 0;
}

.credit-card-container .StripeElement {
  display: block;
  margin: 0 0 20px 0;
  max-width: 500px;
  padding: 16px 14px;
  font-size: 1em;
  font-family: $source-sans-pro, 'Helvetica';
  border: 1px solid #d2d6d9;
  outline: 0;
  background: white;
}
