@import '../../styles/variables';

.placeholder {
  min-width: $small_buoy_card_width;
  width: $small_buoy_card_width;
  height: $small_buoy_card_height;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  background-color: rgb(color('blue-gray', 80), 0.08);
}

.placeholderLoading {
  opacity: 0.6;
  background-color: color('blue-gray', 20);
}

.placeholderLargeOnly {
  min-width: $large_only_buoy_card_width;
  width: $large_only_buoy_card_width;
  height: $large_only_buoy_card_height;
}

.skeleton {
  width: 100%;
  height: 100%;
}

@media (min-width: $tablet-large) {
  .placeholder {
    min-width: $large_buoy_card_width;
    width: $large_buoy_card_width;
    height: $large_buoy_card_height;
  }

  .placeholderLargeOnly {
    min-width: $large_only_buoy_card_width;
    width: $large_only_buoy_card_width;
    height: $large_only_buoy_card_height;
  }
}
