.quiver-modal-container--adblock {
    .quiver-modal-container__body {
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0;
        h5 {
            margin-bottom: 8px;
        }
        .quiver-button:nth-of-type(2) {
            color: #42A5FC;
            background-color: white;
            margin-top: 8px;
            margin-bottom: 16px;
            &:hover {
                color: white;
                background-color: #2283DD;
            }
        }
    }
    
    .sl-ad-blocker__image__container {
        text-align: center;
        .sl-ad-blocker__hand {
            width: 87px;
            height: 87px;
        }
        margin: 40px;
    }
    
    @media(min-width: $tablet-large) {
        .quiver-modal-container__body {
            height: auto;
            width: auto;
        }
    }    
}
