.sl-hero-ad-unit {
  background-color: color('light-blue', 5);

  &--placeholder {
    height: 220px;
  }

  iframe {
    display: block;
    max-height: 220px;
    margin: 0 auto;
  }
}

.sl-hero-ad-unit__dfp {
  &> div {
    display: block !important;
    margin: 0 auto;
  }
}

@media (min-width: 321px) {
  .sl-hero-ad-unit {
    &--placeholder {
      height: 250px;
    }

    iframe {
      max-height: 250px;
    }
  }
}

@media (min-width: 476px) {
  .sl-hero-ad-unit {
    &--placeholder {
      height: 200px;
    }

    iframe {
      max-height: 200px;
    }
  }
}

@media (min-width: 784px) {
  .sl-hero-ad-unit {
    &--placeholder {
      height: 300px;
    }

    iframe {
      max-height: 300px;
    }
  }
}
