@import '../../common/themes/main.scss';

.redeem-form {
  margin: 24px 0 24px 0;
}

.redeem-form, .quiver-button, .quiver-button--info {
  width: 100%;
  margin: 20px auto;
}
.redeem-header__subtitle {
  font-size: 16px;
  line-height: 24px;
  color: color('gray', 80);
}

.redeem-form .quiver-input {
  min-width: 146px;
  margin: auto 2px;
  input {
    min-width: 146px;
  }
}
@media (min-width: $tablet-large) {
  .redeem-form  .quiver-input {
    min-width: 214px;
  }
}
