@import "../variables.scss";

/* Action Link */
.actionLink--update {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-family: $account-primary-font;
  color: $sl-secondary-blue;
  cursor: pointer;
  &:hover, &:focus {
    color: $sl-secondary-blue-hover;
  }
  &:active {
    color: $sl-secondary-blue-active;
  }
}
