@import "../variables.scss";

.emailForm {
  position: relative;
  margin-top: 20px;
}
.emailForm__needAccount {
  text-align: center;
  line-height: 2em;
  margin-bottom: 0;
}
.emailForm__error__text__hidden {
  visibility: hidden;
  line-height: 0;
  color: $error;
  font-family: $font-family-secondary;
  font-size: labelHelperFontSize($companyTheme);
  position: relative;
  transition: 0.2s;
}
.emailForm__error__no__text {
  visibility: visible;
  font-size: 0px;
  position: relative;
  transition: 0.2s;
}
.emailForm__error__text {
  visibility: visible;
  color: $error;
  font-family: $font-family-secondary;
  font-size: labelHelperFontSize($companyTheme);
  line-height: labelHelperFontSize($companyTheme);
  position: relative;
  padding-top: 10px;
  transition: 0.2s;
}
.emailForm__error__alert__hidden {
  visibility: hidden;
  color: $error;
  font-family: $font-family-secondary;
  background-color: $error-alert-background;
  border: 1px solid $error-alert-background;
  padding: 0;
  min-width: 280px;
  font-size: labelHelperFontSize($companyTheme);
  line-height: 0;
  position: relative;
  margin: 0;
  transition: 0.2s;
}
.emailForm__error__alert {
  visibility: visible;
  color: $error;
  font-family: $font-family-secondary;
  background-color: $error-alert-background;
  border: 1px solid $error-alert-background;
  padding: 10px;
  width: 100%;
  font-size: labelHelperFontSize($companyTheme);
  line-height: labelHelperFontSize($companyTheme);
  position: relative;
  margin-top: 7px;
  transition: 0.2s;
}
.emailForm__label__floating {
  padding: 0 3px;
  background: #ffffff;
  margin: -33.5px 0 0 15px;
  transition: 0.2s;
}
.emailForm input {
  -webkit-appearance: none;
  appearance: none;
}
.emailForm input:hover {
  border: 1px solid $small-text;
}
.emailForm input:focus {
  border: 1px solid $brand-secondary;
}
.emailForm input:focus + .emailForm__label__floating, .emailForm input:valid + .emailForm__label__floating, .emailForm__input__hasError + .emailForm__label__floating {
  margin: -60px 0 0 15px;
}
.emailForm__input__hasError {
  border: 1px solid $error!important;
}
.emailForm__input__isValid {
  border-color: $success-green!important;
}
.emailForm__input__password {
  margin-top: 20px;
}
.emailForm__button__submit {
  background-color: $brand-secondary;
  font-size: $brand-submit-button-fontSize;
  content: '\f00c';
  color: $white;
  font-weight: titleFontWeight($companyTheme);
  border-top: 2px solid $brand-secondary;
  margin-top: 20px;
}
.emailForm__button__submit:hover, .emailForm__button__submit:focus {
  background-color: $brand-secondary-hover;
  border-top: 2px solid $brand-secondary-hover;
}
.emailForm__button__submit:active {
  border-top: 2px solid $brand-secondary-active;
}
@keyframes spin { 100% { transform:rotate(360deg); } }
.emailForm__button__submit__submitting {
  background-color: $brand-secondary-active;
  background-position: center center;
  background-repeat:no-repeat;
  color: $white;
  border-top: 2px solid $brand-secondary-active;
  margin-top: 20px;
}
.emailForm__button__submit__submitting__img {
  animation:spin .75s linear infinite;
}
.emailForm__button__submit__success {
  background-color: $success-green;
  border-top: 2px solid $success-green;
  margin-top: 20px;
  transition: 0.2s;
}
.emailForm__button__submit__success:before {
  font-family: fontAwesome;
  content: '\f00c';
  color: $white;
  font-size:22px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: $tablet) {
  .emailForm__needAccount {
    text-align: left;
  }
  .emailForm__input__email {
    margin-bottom: 20px;
  }
}
