@import "../variables.scss";

.facebook-login__content .quiver-button {
  background-color: #FFFFFF;
  border-color: #41A4FB;
  color: #41A4FB;
  .quiver-spinner g,
  svg path {
    fill: #41A4FB;
  }
  &:hover {
    background-color: #FFFFFF;
    border-color: #41A4FB;
    color: #41A4FB;
  }
}
