@import "../variables.scss";

.charts_icon {
  width: 26px;
  height: 20px;
}

.forecast_icon {
  width: 30px;
  height: 32px;
}

.analysis_icon {
  width: 30px;
  height: 30px;
}

.cams_icon {
  width: 26px;
  height: 30px;
}

.wave_icon {
  width: 16px;
  height: 12px;
}

.chevron_icon {
  *{
    stroke: funnelFormButton($companyTheme);
  }
  width: 24px;
  height: 13px;
}

.swell_lines_icon {
  // Move the white border around the image without an src off screen
  text-indent: 100vw;
  background: $bw-swell-lines;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 36px;
  height: 37px;
}

.wind_icon {
  width: 38px;
  height: 23px;
}

.buoy_icon {
  width: 36px;
  height: 36px;
}

.satellite_icon {
  width: 42px;
  height: 44px;
}

.waypoint_icon {
  width: 33px;
  height: 24px;
}

.layers_icon {
  width: 32px;
  height: 34px;
}

.old_charts_icon {
  width: 31px;
  height: 18px;
}

.old_cams_icon {
  width: 32px;
  height: 17px;
}

.old_forecast_icon {
  width: 30px;
  height: 15px;
}

.camrewind_icon {
  width: 26px;
  height: 30px;
}

@media (min-width: $mobile-breakpoint) {
  .charts_icon {
    width: 36px;
    height: 28px;
  }

  .forecast_icon {
    width: 42px;
    height: 44px;
  }

  .analysis_icon {
    width: 42px;
    height: 42px;
  }

  .cams_icon {
    width: 36px;
    height: 41px;
  }

  .wave_icon {
    width: 16px;
    height: 12px;
  }

  .swell_lines_icon {
    width: 48px;
    height: 49px;
  }

  .wind_icon {
    width: 50px;
    height: 35px;
  }

  .buoy_icon {
    width: 48px;
    height: 48px;
  }

  .satellite_icon {
    width: 54px;
    height: 56px;
  }

  .waypoint_icon {
    width: 45px;
    height: 36px;
  }

  .layers_icon {
    width: 44px;
    height: 46px;
  }

  .old_charts_icon {
    width: 43px;
    height: 30px;
  }

  .old_cams_icon {
    width: 44px;
    height: 29px;
  }

  .old_forecast_icon {
    width: 42px;
    height: 27px;
  }

  .camrewind_icon {
    width: 34px;
    height: 36px;
  }
}
