.premium-success__container {
  .quiver-button {
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      color: #ffffff;
    }
  }
  h1 {
    @include brand-h4($companyTheme);
  }
}
.premium-success__subtitle {
  margin-bottom: 16px;
}

.premium-success__message {
  margin-bottom: 24px;
}
