.progress-bar {
  position: relative;
  height: 4px;
  width: 65px;
  border-radius: 50px;
  background: $light-blue-10;
  margin: 10px 0px 30px 0px;
  .progress-bar--text {
    width: 132px;
    height: 15px;
    color: $gray-80;
    font-size: 11px;
    font-family: $font-family-secondary;
    letter-spacing: 1.11px;
    margin: 5px auto;
  }
}

.progress-bar--filler {
  background: $shark-blue-50;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}
