@import '~@surfline/admin-common/assets/styles.css';
@import '~@surfline/quiver-themes/stylesheets/common/_fonts.scss';
@import '~@surfline/quiver-themes/stylesheets/common/_colors.scss';
@import '~@surfline/quiver-themes/stylesheets/crossbrand.css';
@import '~@surfline/quiver-themes/stylesheets/surfline/Button.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/Input.scss';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.poi-tool-container {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.quiver-input {
  min-width: 0;

  input {
    min-width: 0;
    width: 100%;
  }
}

.quiver-error-box {
  background-color: color('red', 10);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 100%;
  height: 80px;
}

.quiver-async-data-container__error {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color('red', 20);
}
