@mixin split-layout($equal: false) {
  display: grid;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  width: 100%;

  @if $equal {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  } @else {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  }
}
