@import '../../common/themes/main.scss';

.promotion-value-props{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.promotion-value-props-container {
  display: flex;
  flex-direction: column;
  background-color: color('white');
  align-items: center;
  min-width: 326px;
}
.promotion-value-props__triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 32px 22px 32px;
  border-color: transparent transparent color('white') transparent;
}
.promotion-rail-cta__header {
  text-align: center;
  margin: 30px 0px 16px 0px;
  line-height: normal;
  letter-spacing: 0.5px;
  font-family: $futura-dem;
  width: 296px;
  height: auto;
  font-size: 27px;
}
.promotion-rail-cta__features {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 15px;
}
.promotion-rail-cta__features .feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
}
.promotion-rail-cta__features .feature .feature__content {
  color: color('white');
  margin: 0;
  * {
    color: inherit;
  }
}
.promotion-rail-cta__features .feature .feature__content .feature__content_header {
  width: 100px;
  line-height: normal;
  text-align: center;
  font-size: 14px;
  color: color('black');
  margin: 8px auto;
  letter-spacing: 1.5px;
}

@media (min-width: $tablet-large) {
  .promotion-rail-cta__header {
    margin: 30px 0px 10px 0px;
  }
  .promotion-rail-cta__features {
    margin: auto 23px;
  }
  .promotion-rail-cta__features .feature {
    margin: 17px 14px;
  }
  .promotion-rail-cta__features .feature .feature__content {
    margin: 0;
  }
}
