@import '../../styles/variables';

.slBuoyMapMarkers {
  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  :global {
    .leaflet-popup {
      // we have to use `!important` to override inline styles from leaflet
      margin-bottom: 24px !important;
      z-index: 1000;

      .leaflet-popup-tip-container {
        display: none;
      }

      .leaflet-popup-close-button {
        display: none;
      }

      .leaflet-popup-content-wrapper {
        box-shadow: 0 2px 10px rgba(color('black'), 0.08);
        border-radius: 4px;
      }

      .leaflet-popup-content {
        // fallback in case `fit-content` doesn't work
        // we have to use `!important` to override inline styles from leaflet
        width: auto !important;
        width: fit-content !important;
        margin: 8px 16px;
      }
    }
  }
}
