@import "../../styles/main.scss";

$perk-header-desktop: 1255px;

.sl-perks-nav {
  background-color: color('dark-blue', 10);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 52px;
}
.sl-perks-nav .sl-perks-nav__logo {
  margin: 16px;
}
.sl-perks-nav .sl-perks-nav__account {
  display: none;
  flex: 0 0 603px;
  justify-content: flex-end;
  margin: 8px;
}

.sl-perks-nav .sl-perks-nav__account a {
  margin: 12px;
    color: color('white');
    font-size: 14px;
    font-family: $futura-dem;
    letter-spacing: 0.8px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
}

@media (min-width: $tablet-large) and (max-width: $perk-header-desktop) {
  .sl-perks-nav .sl-perks-nav__account {
    display: flex;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-large) {
  .sl-perks-nav .sl-perks-nav__logo {
    flex: 0 0 calc(100%/2 - 40px);
    max-width: 603px;
  }
  .sl-perks-nav .sl-perks-nav__account {
    display: flex;
    flex: 0 0 calc(100%/2 - 40px);
    max-width: 603px;
  }
}
@media (min-width: $tablet-large) {
  .sl-perks-nav {
    justify-content: center;
  }
  .sl-perks-nav .sl-perks-nav__logo {
    flex: 0 0 calc(100%/2 - 40px);
    max-width: 603px;
  }
  .sl-perks-nav .sl-perks-nav__account {
    display: flex;
    flex: 0 0 calc(100%/2 - 40px);
    max-width: 603px;
  }
}
