/* media breakpoints */
@mixin mobile {
  @media(max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media(min-width: $tablet) {
    @content;
  }
}

/* typography */
@mixin brand-h4($theme) {
  font-weight: titleFontWeight($theme);
  color: headingColor($theme);
  font-family: primaryFont($theme);
  @include mobile {
    margin: 10px 0 5px 0;
    font-size: brandH5FontSize($theme);
    line-height: brandH5LineHeight($theme);
    letter-spacing: brandH5LetterSpacing($theme);
    text-align: left;
  }
  @include desktop {
    margin-top:0;
    margin-bottom: 5px;
    font-size: brandH4FontSize($theme);
    line-height: brandH4LineHeight($theme);
    letter-spacing: brandH4LetterSpacing($theme);
    text-align: left;
  }
}

@mixin account-h4($theme) {
  font-weight: 400;
  color: $gray-90;
  font-family: $account-primary-font;
  margin-top:0;
  margin-bottom: 35px;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 1.5px;
}

@mixin funnelGridHeading($theme) {
  font-weight: titleFontWeight($theme);
  font-family: primaryFont($theme);
  font-size: brandH5FontSize($theme);
  line-height: brandH5LineHeight($theme);
  letter-spacing: brandH5LetterSpacing($theme);
  text-align: left;
}

/* checkbox */
@mixin brand-checkbox($theme) {
  height: checkboxHeight($theme);
  width: checkboxWidth($theme);
  line-height: checkboxLineHeight($theme);
}

/* image splash */
@mixin image-splash($image) {
  display: none;

  @media (min-width: $tablet) {
    display: inline-block;
    width: calc(100% - 560px);
    height: 100vh;
    float: left;
    position: fixed;
    background-image: url($image);
    background-position: bottom center;
    background-size: cover;
  }
}

/* image splash */
@mixin image-splash($image) {
  display: none;

  @media (min-width: $tablet) {
    display: inline-block;
    width: calc(100% - 560px);
    height: 100vh;
    float: left;
    position: fixed;
    background-image: $image;
    background-position: bottom center;
    background-size: cover;
  }
}

/* account section */
@mixin alert($color, $background) {
  position: relative;
  color: $color;
  font-family: $account-secondary-font;
  background-color: $background;
  border: 1px solid $background;
  font-size: 12px;
  margin: 0;
  transition: 0.2s;
}

@mixin alert-visible($color, $background) {
  @include alert($color, $background);
  visibility: visible;
  padding: 10px;
  width: 100%;
  line-height: 12px;
  margin-bottom: 20px;
}

@mixin alert-hidden($color, $background) {
  @include alert($color, $background);
  visibility: hidden;
  padding: 0;
  min-width: 280px;
  line-height: 0;
}

@mixin fav-alert-hidden($color, $background) {
  @include alert($color, $background);
  visibility: hidden;
  padding: 0;
  min-width: 200px;
  line-height: 0;
}

@mixin error-text-hidden {
  visibility: hidden;
  line-height: 0;
  color: $error;
  font-family: $account-secondary-font;
  font-size: 12px;
  position: relative;
  transition: 0.2s;
}

@mixin error-no-text {
  visibility: visible;
  font-size: 0px;
  position: relative;
  transition: 0.2s;
}

@mixin error-text {
  visibility: visible;
  color: $error;
  font-family: $account-secondary-font;
  font-size: 12px;
  line-height: 12px;
  position: relative;
  padding-top: 10px;
  transition: 0.2s;
}

@mixin input {
  -webkit-appearance: none;
  appearance: none;
  &:hover {
    border: 1px solid $small-text;
  }
  &:focus {
    border: 1px solid $sl-secondary-blue;
  }
}

@mixin floating-label {
  padding: 0 3px;
  background: #ffffff;
  margin: -33.5px 0 0 15px;
  transition: 0.2s;
}

@mixin floating-label-floated {
  margin: -60px 0 0 15px;
}

@mixin submit-button($background, $color) {
  background-color: $background;
  color: $color;
  border-top: 2px solid $background;
  margin-top: 20px;
  margin-bottom: 30px;
  @media(min-width: $iphone6s) {
    margin-bottom: 0;
  }
  &:hover, &:focus {
    background-color: $sl-secondary-blue-hover;
    border-top: 2px solid $sl-secondary-blue-hover;
  }
  &:active {
    border-top: 2px solid $sl-secondary-blue-active;
  }
}

@mixin submit-success-icon {
  font-family: fontAwesome;
  content: '\f00c';
  color: $white;
  font-size:22px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

/* Funnel Buttons */

@mixin funnel-submit-button($theme) {
  background-color: funnelFormButton($theme);
  border-top: 2px solid funnelFormButton($theme);
  font-size: $brand-submit-button-fontSize;
  content: '\f00c';
  color: $white;
  font-weight: titleFontWeight($theme);
  margin-top: 20px;

  &:hover, &:focus {
    background-color: funnelFormButtonHover($theme);
    border-top: 2px solid funnelFormButtonHover($theme);
  }
  &:active {
    border-top: 2px solid funnelFormButtonActive($theme);
  }
}

@mixin funnel-submit-button-submitting($theme) {
  background-position: center;
  background-repeat:no-repeat;
  color: $white;
  margin-top: 20px;
  background-color: funnelFormButtonActive($theme);
  border-top: 2px solid funnelFormButtonActive($theme);
}

@mixin funnel-submit-button-success($theme) {
  background-color: $success-green;
  border-top: 2px solid $success-green;
  margin-top: 20px;
  transition: 0.2s;

  &:before {
    font-family: fontAwesome;
    content: '\f00c';
    color: $white;
    font-size:22px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }
}