/*
/*
/*
/* COLORS */

@function primaryColor($theme) {
  @if $theme == 'bw' {
    @return $bw-primary-blue;
  }
  @if $theme == 'fs' {
    @return $fs-primary-blue;
  }
  @else {
    @return $sl-primary-blue;
  }
}

@function secondaryColor($theme) {
  @if $theme == 'bw' {
    @return $bw-secondary-blue;
  }
  @if $theme == 'fs' {
    @return $fs-secondary-blue;
  }
  @else {
    @return $sl-secondary-blue;
  }
}

@function secondaryColorHover($theme) {
  @if $theme == 'bw' {
    @return $bw-secondary-blue-hover;
  }
  @if $theme == 'fs' {
    @return $fs-secondary-blue-hover;
  }
  @else {
    @return $sl-secondary-blue-hover;
  }
}

@function secondaryColorActive($theme) {
  @if $theme == 'bw' {
    @return $bw-secondary-blue-active;
  }
  @if $theme == 'fs' {
    @return $fs-secondary-blue-active;
  }
  @else {
    @return $sl-secondary-blue-active;
  }
}

@function paymentFormSubmitButton($theme) {
  @if $theme == 'bw' {
    @return $success-green;
  }
  @else {
    @return secondaryColor($theme);
  }
}

@function paymentFormSubmitButtonHover($theme) {
  @if $theme == 'bw' {
    @return $success-green-hover;
  }
  @else {
    @return secondaryColorHover($theme);
  }
}

@function paymentFormSubmitButtonActive($theme) {
  @if $theme == 'bw' {
    @return $success-green-loading;
  }
  @else {
    @return secondaryColorActive($theme);
  }
}

@function cancelFlowSubmitButton($theme) {
  @if $theme == 'fs' {
    @return secondaryColor($theme);
  }
  @else {
    @return $success-green;
  }
}

@function cancelFlowSubmitButtonHover($theme) {
  @if $theme == 'fs' {
    @return secondaryColorHover($theme);
  }
  @else {
    @return $success-green-hover;
  }
}

@function cancelFlowSubmitButtonActive($theme) {
  @if $theme == 'fs' {
    @return secondaryColorActive($theme);
  }
  @else {
    @return $success-green-loading;
  }
}

@function cancelLandingH3($theme) {
  @if $theme == 'fs' {
    @return $gray-70;
  }
  @else {
    @return $gray-90;
  }
}

@function funnelFormButton($theme) {
  @if $theme == 'bw' {
    @return $bw-secondary-blue;
  }
  @if $theme == 'fs' {
    @return $fs-secondary-blue;
  }
  @else {
    @return $sl-primary-green;
  }
}

@function funnelFormButtonHover($theme) {
  @if $theme == 'bw' {
    @return $bw-secondary-blue-hover;
  }
  @if $theme == 'fs' {
    @return $fs-secondary-blue-hover;
  }
  @else {
    @return $sl-primary-green-hover;
  }
}

@function funnelFormButtonActive($theme) {
  @if $theme == 'bw' {
    @return $bw-secondary-blue-active;
  }
  @if $theme == 'fs' {
    @return $fs-secondary-blue-active;
  }
  @else {
    @return $sl-primary-green-active;
  }
}

@function funnelFormHeaderColor($theme) {
  @if $theme == 'bw' {
    @return $bw-secondary-blue;
  }
  @if $theme == 'fs' {
    @return $fs-secondary-blue;
  }
  @else {
    @return $dark-blue-10;
  }
}

/*
/*
/*
/* TYPOGRAPHY */

/* TYPOGRAPHY - font family */
@function primaryFont($theme) {
  @if $theme == 'bw' {
    @return 'Source Sans Pro', Helvetica, sans-serif;
  }
  @if $theme == 'fs' {
    @return 'Gotham SSm A', 'Gotham SSm B', Helvetica, sans-serif;
  }
  @else {
    @return 'Futura-Dem', Helvetica, sans-serif;
  }
}

@function secondaryFont($theme) {
  @if $theme == 'fs' {
    @return 'Gotham SSm A', 'Gotham SSm B', Helvetica, sans-serif;
  }
  @else {
    @return 'Source Sans Pro', Helvetica, sans-serif;
  }
}


/* TYPOGRAPHY - font colors */
@function headingColor($theme) {
  @if $theme == 'bw' {
    @return $bw-primary-blue;
  }
  @if $theme == 'fs' {
    @return $fs-primary-blue;
  }
  @else {
    @return $gray-90;
  }
}

@function headerLinkColor($theme) {
  @if $theme == 'fs' {
    @return $fs-secondary-blue;
  }
  @else {
    @return $white;
  }
}

@function headerLinkColorHover($theme) {
  @if $theme == 'fs' {
    @return $fs-secondary-blue-hover;
  }
  @else {
    @return $white;
  }
}

@function headerLinkColorActive($theme) {
  @if $theme == 'fs' {
    @return $fs-secondary-blue-active;
  }
  @else {
    @return $white;
  }
}


/* TYPOGRAPHY - font size */
@function headingSizeMobile($theme) {
  @if $theme == 'bw' {
    @return 24px;
  }
  @if $theme == 'fs' {
    @return 24px;
  }
  @else {
    @return 22px;
  }
}

@function headingSpacingMobile($theme) {
  @if $theme == 'bw' {
    @return 2.2px;
  }
  @if $theme == 'fs' {
    @return 1px;
  }
  @else {
    @return 2.6px;
  }
}

@function brandH4FontSize($theme) {
  @return 28px;
}

@function brandH5FontSize($theme) {
  @if $theme == 'fs' {
    @return 22px;
  }
  @else {
    @return 24px;
  }
}

@function brandH4LetterSpacing($theme) {
  @if $theme == 'bw' {
    @return 1.7px;
  }
  @else {
    @return 0px;
  }
}

@function brandH5LetterSpacing($theme) {
  @if $theme == 'fs' {
    @return 1.3px;
  }
  @else {
    @return 1.5px;
  }
}

@function brandH4LineHeight($theme) {
  @if $theme == 'bw' {
    @return 36px;
  }
  @if $theme == 'fs' {
    @return 36px;
  }
  @else {
    @return 34px;
  }
}

@function brandH5LineHeight($theme) {
  @if $theme == 'bw' {
    @return 30px;
  }
  @if $theme == 'fs' {
    @return 30px;
  }
  @else {
    @return 29px;
  }
}

@function brandParagraphFontSize($theme) {
  @if $theme == 'fs' {
    @return 15px;
  }
  @else {
    @return 16px;
  }
}

@function brandParagraphLetterSpacing($theme) {
  @if $theme == 'fs' {
    @return .4px;
  }
  @else {
    @return .5px;
  }
}

@function headerLinkSize($theme) {
  @if $theme == 'bw' {
    @return 14px;
  }
  @else {
    @return 12px;
  }
}

@function cancelLandingH3Size($theme) {
  @if $theme == 'fs' {
    @return 14.5px;
  }
  @else {
    @return 13.5px;
  }
}

@function cancelLandingH3LetterSpacing($theme) {
  @if $theme == 'fs' {
    @return .8px;
  }
  @else {
    @return 1.5px;
  }
}

@function cancelLandingH5LetterSpacing($theme) {
  @if $theme == 'fs' {
    @return .3px;
  }
  @else {
    @return 1.3px;
  }
}

@function cancelLandingH5FontWeight($theme) {
  @if $theme == 'fs' {
    @return 400;
  }
  @else {
    @return 600;
  }
}

@function cancelSurveyFontSize($theme) {
  @if $theme == 'fs' {
    @return 12px;
  }
  @else {
    @return 13.5px;
  }
}

@function cancelSurveyLetterSpacing($theme) {
  @if $theme == 'fs' {
    @return .8px;
  }
  @else {
    @return 1.3px;
  }
}

@function headerLinkSpacing($theme) {
  @if $theme == 'fs' {
    @return .5px;
  }
  @else {
    @return 1.6px;
  }
}

@function submitButtonSize($theme) {
  @if $theme == 'bw' {
    @return 17px;
  }
  @else {
    @return 16px;
  }
}

@function labelHelperFontSize($theme) {
  @if $theme == 'fs' {
    @return 11px;
  }
  @else {
    @return 12px;
  }
}

@function cardLabelFontSize($theme) {
  @if $theme == 'fs' {
    @return 9px;
  }
  @else {
    @return 11px;
  }
}

@function discountTextTransform($theme) {
  @if $theme == 'bw' {
    @return none;
  }
  @if $theme == 'fs' {
    @return none;
  }
  @else {
    @return uppercase;
  }
}

@function legendTextTransform($theme) {
  @if $theme == 'bw' {
    @return uppercase;
  }
  @if $theme == 'fs' {
    @return uppercase;
  }
  @else {
    @return none;
  }
}

@function successHeadingStyle($theme) {
  @if $theme == 'bw' {
    @return normal;
  }
  @if $theme == 'fs' {
    @return italic;
  }
  @else {
    @return normal;
  }
}

@function titleFontWeight($theme) {
  @if $theme == 'bw' {
    @return 700;
  }
  @if $theme == 'fs' {
    @return 700;
  }
  @else {
    @return 400;
  }
}


/*
/*
/*
/* CHECKBOX */
@function checkboxHeight($theme) {
  @if $theme == 'fs' {
    @return 14px;
  }
  @else {
    @return 13px;
  }
}

@function checkboxWidth($theme) {
  @if $theme == 'fs' {
    @return 15px;
  }
  @else {
    @return 14px;
  }
}

@function checkboxLineHeight($theme) {
  @if $theme == 'fs' {
    @return 13.75px;
  }
  @else {
    @return 13px;
  }
}

/*
/*
/*
/* MISC STYLES */

@function headerBackgroundColor($theme) {
  @if $theme == 'fs' {
    @return $white;
  }
  @else {
    @return $brand-primary;
  }
}
@function funnelHeaderBackgroundColor($theme) {
  @if $theme == 'fs' {
    @return $fs-secondary-blue;
  }
  @else {
    @return $brand-primary;
  }
}

@function headerMobileBorder($theme) {
  @if $theme == 'fs' {
    @return 1px solid $gray-20;
  }
  @else {
    @return 0;
  }
}

@function headerLogoMargin($theme) {
  @if $theme == 'fs' {
    @return 17px;
  }
  @else {
    @return 19.5px;
  }
}

@function headerLinkMargin($theme) {
  @if $theme == 'bw' {
    @return -29px;
  }
  @if $theme == 'fs' {
    @return 1px;
  }
  @else {
    @return 5px;
  }
}

@function funnelLogoMarginMobile($theme) {
  @if $theme == 'bw' {
    @return 18px;
  }
  @if $theme == 'fs' {
    @return 18px;
  }
  @else {
    @return 16px;
  }
}


@function funnelLogoMarginDesktop($theme) {
  @if $theme == 'bw' {
    @return 12px;
  }
  @if $theme == 'fs' {
    @return 19px;
  }
  @else {
    @return 18px;
  }
}

@function mobileLogo($theme) {
  @if $theme == 'bw' {
    @return $bw-logo;
  }
  @if $theme == 'fs' {
    @return $fs-icon-aqua;
  }
  @else {
    @return $sl-waterdrop;
  }
}

@function funnelLogoDesktop($theme) {
  @if $theme == 'bw' {
    @return $bw-icon;
  }
  @if $theme == 'fs' {
    @return $fs-icon;
  }
  @else {
    @return $sl-waterdrop;
  }
}

@function desktopAuthLogo($theme) {
  @if $theme == 'bw' {
    @return $bw-logo;
  }
  @if $theme == 'fs' {
    @return $fs-icon-aqua;
  }
  @else {
    @return $sl-logo;
  }
}

@function passcodeLabelMarginMobile($theme) {
  @if $theme == 'fs' {
    @return 28.5px;
  }
  @else {
    @return 39px;
  }
}

@function cancelListItemMargin($theme) {
  @if $theme == 'bw' {
    @return -3.5em;
  }
  @if $theme == 'fs' {
    @return -3.625em;
  }
  @else {
    @return -4.1em;
  }
}

@function passcodeLabelMarginDesktop($theme) {
  @if $theme == 'fs' {
    @return 29.5px;
  }
  @else {
    @return 40.5px;
  }
}


/** BACKGROUNDS **/

@function funnelCTABackground($theme) {
  @if $theme == 'bw' {
    @return $bw-funnel-background;
  }
  @if $theme == 'fs' {
    @return $fs-funnel-background;
  }
  @else {
    @return $sl-funnel-background;
  }
}
