@function geoKey($key) {
 @return $hostname + '/subs/geoTargetResource?key=' + $key;
}

@function cdnUrl($key) {
  @return $cdnHostname + $key;
}

@function authBg($theme) {
 @if $theme == 'bw' {
   @return url(cdnUrl('auth/bw-auth-bg.jpg'));
 }
 @if $theme == 'fs' {
   @return url(cdnUrl('auth/fs-auth-bg.jpg'));
 }
 @else {
  @return url(cdnUrl('auth/sl-auth-bg2.jpg'));
  //  @return url(geoKey('sign-in-background'));
 }
}

@function forgotPwBg($theme) {
 @if $theme == 'bw' {
   @return url(cdnUrl('auth/bw-fp-bg.jpg'));
 }
 @if $theme == 'fs' {
   @return url(cdnUrl('auth/fs-fp-bg.jpg'));
 }
 @else {
  @return url(cdnUrl('auth/sl-auth-bg2.jpg'));
  //  @return url(geoKey('forgot-password-background'));
 }
}

@function imageGridLeftTop($theme) {
 @if $theme == 'bw' {
   @return url(cdnUrl('funnel/funnel-bw-boat.jpg'));
 }
 @if $theme == 'fs' {
   @return url(cdnUrl('funnel/funnel-fs-phone.jpg'));
 }
 @else {
   @return url(geoKey('funnel-desktop-long-range-forecast'));
 }
}

@function imageGridLeftBottom($theme) {
 @if $theme == 'bw' {
   @return url(cdnUrl('funnel/funnel-bw-map.jpg'));
 }
 @if $theme == 'fs' {
   @return url(cdnUrl('funnel/funnel-fs-boat.jpg'));
 }
 @else {
   @return url(geoKey('funnel-desktop-forecast'));
 }
}

@function imageGridRight($theme) {
 @if $theme == 'bw' {
   @return url(cdnUrl('funnel/funnel-bw-phone.jpg'));
 }
 @if $theme == 'fs' {
   @return url(cdnUrl('funnel/funnel-fs-fish.jpg'));
 }
 @else {
   @return url(geoKey('funnel-desktop-ad-free'));
 }
}

@function paymentImageGridLeftTop($theme) {
 @if $theme == 'bw' {
   @return url(cdnUrl('funnel/funnel-payment-bw-boat.jpg'));
 }
 @if $theme == 'fs' {
   @return url(cdnUrl('funnel/funnel-payment-fs-fish.jpg'));
 }
 @else {
   @return url(geoKey('funnel-desktop-long-range-forecast'));
 }
}

@function paymentImageGridLeftBottom($theme) {
 @if $theme == 'bw' {
   @return url(cdnUrl('funnel/funnel-payment-bw-map.jpg'));
 }
 @if $theme == 'fs' {
   @return url(cdnUrl('funnel/funnel-payment-fs-boats.jpg'));
 }
 @else {
   @return url(geoKey('funnel-desktop-forecast'));
 }
}

@function paymentImageGridRight($theme) {
 @if $theme == 'bw' {
   @return url(cdnUrl('funnel/funnel-payment-bw-phone.jpg'));
 }
 @if $theme == 'fs' {
   @return url(cdnUrl('funnel/funnel-payment-fs-app.jpg'));
 }
 @else {
   @return url(geoKey('funnel-desktop-ad-free'));
 }
}

@function successImage($theme) {
 @if $theme == 'bw' {
   @return url(cdnUrl('funnel/bw-success.jpg'));
 }
 @if $theme == 'fs' {
   @return url(cdnUrl('funnel/fs-success.jpg'));
 }
 @else {
  @return url(cdnUrl('auth/sl-auth-bg2.jpg'));
  //  @return url(geoKey('funnel-desktop-success'));
 }
}

@function cancellationStep2($theme) {
 @if $theme == 'bw' {
   @return url(cdnUrl('cancel/bw-2-desktop.jpg'));
 }
 @if $theme == 'fs' {
   @return url(cdnUrl('cancel/ft-2-desktop.jpg'));
 }
 @else {
  @return url(cdnUrl('auth/sl-auth-bg2.jpg'));
  //  @return url(geoKey('forgot-password-background'));
 }
}

@function cancellationStep3($theme) {
 @if $theme == 'bw' {
   @return url(cdnUrl('cancel/bw-3-desktop.jpg'));
 }
 @if $theme == 'fs' {
   @return url(cdnUrl('cancel/ft-3-desktop.jpg'));
 }
 @else {
   @return url(cdnUrl('background-group-walking-partly-cloudy.jpg'));
 }
}
