@import './mixins.scss';

.sl__container {
  @include container;
}

.sl__twelve__column {
  @include grid-twelve-column;
}

.sl__ten__column {
  @include grid-ten-column;
}

.sl__nine__column {
  @include grid-nine-column;
}

.sl__six__column {
  @include grid-six-column;
}

.sl__three__column {
  @include grid-three-column;
}

.sl__two__column {
  @include grid-two-column;
}