@mixin container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    width: 992px;
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
    width: 996px;
  }
}

@mixin mobile-column {
  width: 100%;
}

@mixin grid-twelve-column {
  @include mobile-column;

  @media (min-width: 769px) {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    float: left;
  }
}

@mixin grid-ten-column {
  @include mobile-column;

  @media (min-width: 769px) {
    width: 83%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }
}

@mixin grid-nine-column {
  @include mobile-column;

  @media (min-width: 769px) {
    width: 75%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }
}

@mixin grid-six-column {
  @include mobile-column;

  @media (min-width: 769px) {
     width: 50%;
     position: relative;
     min-height: 1px;
     padding-right: 15px;
     padding-left: 15px;
     float: left;
  }
}

@mixin grid-three-column {
  @extend mobile-column !optional;

  @media (min-width: 769px) {
     width: 25%;
     position: relative;
     min-height: 1px;
     padding-right: 15px;
     padding-left: 15px;
     float: left;
  }
}

@mixin grid-two-column {
  @extend mobile-column !optional;

  @media (min-width: 769px) {
     width: 16.66666667%;
     position: relative;
     min-height: 1px;
     padding-right: 15px;
     padding-left: 15px;
     float: left;
  }
}

@mixin onboardingContainer {
  display: block;
  height: 100%;
  @media (min-width: $tablet) {
    width: 100%;
  }
  &__top {
    padding: 30px 30px 0;
    @media (min-width: $tablet) {
      padding: 60px 0 0;
      width: 100%;
    }
  }
  &__title {
    @include brand-h4($companyTheme);
    @media (min-width: $tablet) {
      text-align: center;
    }
  }
  &__subtitle {
    margin: 15px 0 40px;
    text-align: center;
    &__link {
      display: inline-block;
      font-family: $font-family-secondary;
      letter-spacing: .9px;
      color: $brand-secondary;
      transition: all 0.25s ease;
      padding-left: 3px;
      cursor: pointer;
      border: none;
      outline: none;
      text-decoration: none;
      &:hover {
        color: $brand-secondary-hover;
      }
      &:focus, &:active {
        color: $brand-secondary-active;
      }
    }
  }
  &__lineBreak {
    border-top: 1px solid #e6e6e6;
    width: 100%;
    margin-top: 30px;
  }
  &__card {
    padding: 30px;
    margin: 0 auto;
    max-width: 410px;
    background: $white;
    @media (min-width: $tablet) {
      display: block;
      min-width: 560px;
      background: $white;
    }
  }
}

@mixin splitScreenLeftPanel {
  display: inline-block;
  max-width: 560px;
  float: left;
  position: relative;
  padding: 60px;
  margin-top: 45px;

  @media (max-width: $iphone6s) {
    padding: 2em;
  }
  @media (max-width: $tablet) {
    margin-top: 0;
    padding: 30px;
    margin: 0 auto;
    max-width: 410px;
    background: #fff;
    float: none;
    display: block;
  }
}
