@import './brandMixins.scss';
@import './brandFunctions.scss';
@import './globalFunctions.scss';
@import '~@surfline/quiver-assets/productcdn.scss';

$cdn-background-path: '#{$sl-product-cdn}/backgrounds';

// Surfline Colors
$light-blue-5: #f2f7f9;
$light-blue-10: #e6f3ff;
$light-blue-50: #42a5fc;
$light-blue-60: #3193ec;
$light-blue-70: #2283dd;
$dark-blue-10: #0058B0;
$dark-blue-30: #004488;
$dark-blue-50: #003366;

$sl-primary-blue: $dark-blue-50;
$sl-secondary-blue: $light-blue-50;
$sl-secondary-blue-hover: $light-blue-60;
$sl-secondary-blue-active: $light-blue-70;

// Buoyweather Colors
$marine-10: #d7f0fa;
$marine-50: #27aae1;
$marine-60: #209cd0;
$marine-70: #198dbf;
$nautical-50: #3b698f;

$bw-primary-blue: $nautical-50;
$bw-secondary-blue: $marine-50;
$bw-secondary-blue-hover: $marine-60;
$bw-secondary-blue-active: $marine-70;


// FishTrack Colors
$aqua-10: #d5f3f7;
$aqua-50: #67d3df;
$aqua-60: #5ac1cc;
$aqua-70: #4aa9b4;
$shark-blue-50: #385c6c;

$fs-primary-blue: $shark-blue-50;
$fs-secondary-blue: $aqua-50;
$fs-secondary-blue-hover: $aqua-60;
$fs-secondary-blue-active: $aqua-70;


// Common Colors
$green-10: #d9fbdd;
$green-50: #23d737;
$green-60: #1eb92f;
$green-70: #199927;

$red-10: #fff3f4;
$red-50: #fa5065;

$gray-10: #fafafa;
$gray-20: #f4f4f4;
$gray-30: #e6e6e6;
$gray-40: #cccccc;
$gray-50: #a9a9a9;
$gray-60: #999999;
$gray-70: #6e7273;
$gray-80: #555555;
$gray-90: #333333;

$white: #ffffff;
$black: #000000;
$silver: #d2d6d9;

$text-header: $gray-90;
$text-paragraph: $gray-80;
$text-light: $gray-50;
$small-text: $gray-60;
$small-text-hover: $gray-90;

$error: $red-50;
$error-alert-background: $red-10;
$success-green: $green-50;
$success-green-hover: $green-60;
$success-green-loading: $green-70;
$success-alert-background: $green-10;
$blue-alert-background: $light-blue-10;


// Account typography
$account-primary-font: 'Futura-Dem', Helvetica, sans-serif;
$account-secondary-font: 'Source Sans Pro', Helvetica, sans-serif;

// Media Queries
$ipad: 768px;
$tablet: 769px;
$iphone6s: 600px;
$iphone6: 375px;
$iphone5s: 400px;
$iphone4s: 350px;
$mobile-breakpoint: 976px;

// Facebook
$facebook-blue: #004D99;
$facebook-blue-hover: darken($facebook-blue, 5);
$facebook-blue-active: darken($facebook-blue-hover, 5);

// Brand Variables
$brand-primary: primaryColor($companyTheme);
$brand-secondary: secondaryColor($companyTheme);
$brand-secondary-hover: secondaryColorHover($companyTheme);
$brand-secondary-active: secondaryColorActive($companyTheme);
$brand-heading: headingColor($companyTheme);
$brand-header-link-size: headerLinkSize($companyTheme);
$brand-submit-button-fontSize: submitButtonSize($companyTheme);

$font-size-base: 14px;
$font-family-primary: primaryFont($companyTheme);
$font-family-secondary: secondaryFont($companyTheme);

$sl-logo: url(cdnUrl('surfline-logo.svg'));
$sl-waterdrop: url(cdnUrl('surfline-waterdrop.svg'));

$fs-icon: url(cdnUrl('fishtrack-icon.svg'));
$fs-icon-aqua: url(cdnUrl('fishtrack-icon-aqua.svg'));

$bw-icon: url(cdnUrl('bw-icon.svg'));
$bw-logo: url(cdnUrl('bw-logo.svg'));

$sl-funnel-background: url('#{$cdn-background-path}/sl-funnel-new-premium.jpg');
$bw-funnel-background: url('#{$cdn-background-path}/bw-funnel.jpg');
$fs-funnel-background: url('#{$cdn-background-path}/fs-funnel.jpg');

$bw-swell-lines: url(cdnUrl('funnel/swell-lines.svg'));

$sl-primary-green: $green-50;
$sl-primary-green-hover: $green-60;
$sl-primary-green-active: $green-60;
