@import './_variables.scss';

/* Slide styles require these classnames to work with react-slick package */
.slick-slider {
  position: relative;
  width: 100%;
  height: auto;
  clear: both;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0!important;
  @media (min-width: $large-mobile) {
    padding: 0 20px!important;
  }
  &:focus {
    outline: none;
  }
  &.dragging {
    cursor: pointer;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  height: 100%;
  min-height: 1px;
  width: calc(100% - 20px);
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  .slick-initialized & {
    display: inline-block;
  }
  .slick-loading & {
    visibility: hidden;
  }
  &:before, &:after {
    opacity: 0;
  }
  &:hover:before, &:hover:after {
    opacity: .7;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}
