@use 'sass:map';
@use 'sass:math';
@import '@surfline/quiver-themes/stylesheets/surfline/mixins/linkStyle';
@import '@surfline/quiver-themes/stylesheets/surfline/mixins/dualConditions';
@import './variables';

@mixin small-text {
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 20px;
  color: color('gray', 55);
}

@mixin small-paragraph {
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: color('gray', 70);
}

@mixin paragraph {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: color('gray', 90);
}

@mixin sl-h3 {
  margin: 0;
  padding-top: 10px;
  font-family: $futura-dem;
  font-size: 38px;
  line-height: 42px;
  letter-spacing: 1.2px;
  font-weight: 400;
  color: color('gray', 90);
}

@mixin sl-h5 {
  margin: 0;
  padding-top: 10px;
  font-family: $futura-dem;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 1.5px;
  font-weight: 400;
  color: color('gray', 90);
}

@mixin sl-h6 {
  margin: 0;
  font-family: $futura-dem;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.88px;
  text-transform: uppercase;
  font-weight: 400;
  color: color('gray', 55);

  @media (min-width: $tablet-width) {
    font-size: 18px;
    letter-spacing: 1px;
  }
}

@mixin grab-cursor {
  cursor: move;
  cursor: grab;
  cursor: grab;
  cursor: grab;

  &:active {
    cursor: -mov-grabbing;
    cursor: grabbing;
  }
}

@mixin hourly-grid__cell {
  margin-bottom: 1px;
  position: relative;
}

@mixin action-styles {
  font-family: $futura-dem;
  text-transform: uppercase;
  color: color('gray', 90);
}

@mixin horizontal-scrolling {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

@mixin hide-scroll-bar {
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin map-button-inline-text {
  display: inline-block;
  font-family: $futura-dem;
  font-size: 12px;
  text-transform: uppercase;
  vertical-align: top;
  margin-top: 8px;
  margin-left: 3px;
  margin-right: 5px;
  color: color('gray', 90);

  &:hover {
    color: color('gray', 90);
  }
}

@mixin forecast-header-nav-item {
  position: relative;
  cursor: pointer;
  margin: 0 24px 0 0;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: color('gray', 90);
}

// Remove when the aspect-ration mixin is export from quiver
@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    display: block;
    content: ' ';
    width: 100%;
    padding-top: (math.div($height, $width)) * 100%;
  }
}

@mixin dual-conditions($base-class, $pixel-height) {
  .#{$base-class} {
    position: relative;
    vertical-align: top;
    height: #{$pixel-height}px;

    &:first-child::after,
    &:last-child::before {
      content: '';
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
    }

    &:first-child {
      float: left;

      // This removes the diagonal when conditions are the same
      width: calc(50% - #{math.div($pixel-height, 4) + 1}px);
    }

    &:last-child {
      float: right;

      // +2 px is for the gap between days
      width: calc(50% - #{math.div($pixel-height, 4)}px - 2px);
    }
  }

  @each $condition, $colors in $__sl-condition-color-map {
    .#{$base-class}--#{$condition} {
      background-color: map.get($colors, default);

      &:first-child::after {
        left: 100%;
        border-top: #{$pixel-height}px solid map.get($colors, default);
        border-right: #{math.div($pixel-height, 2)}px solid transparent;
      }

      &:last-child::before {
        right: 100%;
        border-bottom: #{$pixel-height}px solid map.get($colors, default);
        border-left: #{math.div($pixel-height, 2)}px solid transparent;
      }
    }
  }
}
