@import '~@surfline/quiver-assets/productcdn.scss';
@import '~@surfline/quiver-themes/stylesheets/common/_fonts.scss';
@import '~@surfline/quiver-themes/stylesheets/common/_conditions.scss';
@import '~@surfline/quiver-themes/stylesheets/common/_colors.scss';
@import '~@surfline/quiver-themes/stylesheets/variables.scss';

$backgrounds-path: '#{$sl-product-cdn}/backgrounds';
$swell-pattern: url('#{$backgrounds-path}/swell-pattern.svg');
$swell-lines: url('#{$backgrounds-path}/swell-lines.svg');
$swell-lines-large: url('#{$backgrounds-path}/swell-lines-large.svg');

// $hourly-grid: ;
$column-height: 437px;
$top-row-height: 55px;
$wind-row-height: 67px;
$surf-row-height: 160px;
$swell-row-height: 160px;
$tide-row-height: 80px;
$air-row-height: 70px;

// $non-quiver-colors:
$gray-blue-dark: #1f2532;
$light-gray-blue: #dde4e6;

$cdnUrl: 'http://e.cdn-surfline.com/images/sl_landing/';

$zindex: (
  map-tile-layer: 70,
  map-overlay: 75,
  map-control: 80,
  map: 90,
  over-map: 91,
  forecast-visualizer-cta: 2,
  forecast-header-menu--mobile: 999,
  forecast-header-menu: 50,
);

@function zindex($label) {
  @return map-get($zindex, $label);
}

$swell-height-colors-ft: (
  1: (
    background-color: #003fff,
    color: color('white'),
  ),
  2: (
    background-color: #0066ff,
    color: color('white'),
  ),
  3: (
    background-color: #00b2ff,
    color: color('gray', 90),
  ),
  4: (
    background-color: #00ffff,
    color: color('gray', 90),
  ),
  5: (
    background-color: #7fffbf,
    color: color('gray', 90),
  ),
  6: (
    background-color: #00ff4c,
    color: color('gray', 90),
  ),
  7: (
    background-color: #00cc66,
    color: color('gray', 90),
  ),
  8: (
    background-color: #a5e566,
    color: color('gray', 90),
  ),
  9: (
    background-color: #ffff59,
    color: color('gray', 90),
  ),
  10: (
    background-color: #ffe519,
    color: color('gray', 90),
  ),
  12: (
    background-color: #ffb200,
    color: color('gray', 90),
  ),
  14: (
    background-color: #ff7f00,
    color: color('gray', 90),
  ),
  16: (
    background-color: #ff3d00,
    color: color('gray', 90),
  ),
  18: (
    background-color: #ff0000,
    color: color('white'),
  ),
  20: (
    background-color: #c10000,
    color: color('white'),
  ),
  23: (
    background-color: #800015,
    color: color('white'),
  ),
  26: (
    background-color: #a0004c,
    color: color('white'),
  ),
  29: (
    background-color: #c10099,
    color: color('white'),
  ),
  32: (
    background-color: #df00ff,
    color: color('gray', 90),
  ),
  35: (
    background-color: #ff00ff,
    color: color('gray', 90),
  ),
);

$swell-height-colors-m: (
  0_33: map-get($swell-height-colors-ft, 1),
  0_67: map-get($swell-height-colors-ft, 2),
  1: map-get($swell-height-colors-ft, 3),
  1_33: map-get($swell-height-colors-ft, 4),
  1_67: map-get($swell-height-colors-ft, 5),
  2: map-get($swell-height-colors-ft, 6),
  2_33: map-get($swell-height-colors-ft, 7),
  2_67: map-get($swell-height-colors-ft, 8),
  3: map-get($swell-height-colors-ft, 9),
  3_5: map-get($swell-height-colors-ft, 10),
  4: map-get($swell-height-colors-ft, 12),
  4_5: map-get($swell-height-colors-ft, 14),
  5: map-get($swell-height-colors-ft, 16),
  5_5: map-get($swell-height-colors-ft, 18),
  6: map-get($swell-height-colors-ft, 20),
  7: map-get($swell-height-colors-ft, 23),
  8: map-get($swell-height-colors-ft, 26),
  9: map-get($swell-height-colors-ft, 29),
  10: map-get($swell-height-colors-ft, 32),
  11: map-get($swell-height-colors-ft, 35),
);

// WARNING: If you change these make sure to update them in the JS file as well
$small_buoy_card_height: 130px;
$small_buoy_card_width: 203px;
$large_buoy_card_height: 184px;
$large_only_buoy_card_height: 211px;
$large_buoy_card_width: 300px;
$large_only_buoy_card_width: 296px;

$header-height: 97px;
