.gifts-container {
  width: 100%;
  margin: 0 32px;
}

.gifts-container__header {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.gifts-container__link {
  margin: 20px 0;
  padding: 0 32px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Futura-Dem", Helvetica, sans-serif;
  background-color: #42A5FC;
  color: #FFFFFF;
  height: 55px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.gifts-container__header__title {
  margin: 20px 0;
}

.gifts-table {
  width: 100%;
}

tr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 12px 12px;
  text-align: left;

  td, th {
    flex: 1 1 50px;
    text-transform: capitalize;
  }
}

.gifts-table__action {
  text-align: center;
  a {
    text-decoration: none;
  }
}

tbody {
  .gifts-table__row {
    border-bottom: 1px solid #fff;
  }
}

.gifts-table__row--bw {
  background-color: #d7f0fa;
}

.gifts-table__row--fs {
  background-color: #9de3ea;
}

.gifts-table__row--sl {
  background-color: #b5dbfc;
}

.request-codes h4 {
  text-align: center;
}

.confirm-request-codes .confirm-request-codes__details {
  width: 100%;
  width: 500px;
  padding: 24px;
  border: 1px solid #42A5FC;
  margin-bottom: 16px;
}

.confirm-request-codes .confirm-request-codes__label {
  padding: 4px 0;
  font-size: 18px;
  span {
    font-size: 16px;
    font-weight: bold;
  }
}

.confirm-request-codes .confirm-request-codes__prefix-notification {
  padding: 4px 0;
  margin-top: 8px;
  font-size: 14px;
  font-style: italic;
}

.confirm-request-codes button {
  width: 100%;
  margin-bottom: 16px;
}

.download-gift-codes .download-gift-codes__link {
  text-decoration: none;
  font-family: "Futura-Dem", Helvetica, sans-serif;
  background-color: #22d736;
  color: #FFFFFF;
  border: 2px solid #22d736;
  height: 55px;
  display: flex;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 0 42px;
  transition: background 0.25s ease, border 0.25s ease;
  cursor: pointer;
  outline: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}