@import '../../styles/variables';

.buoyCurrentReadings {
  box-sizing: border-box;
  width: 100%;
  background-color: color('white');
  padding: 16px 24px 24px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 20.7px;
  letter-spacing: 0.5px;
  color: color('gray', 90);
  font-weight: normal;
  display: grid;
  box-shadow: 0 2px 3px rgb(color('black'), 0.05), 0 2px 3px rgb(color('black'), 0.05);
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 20px;

  :global {
    .quiver-reading-description {
      display: block;
      width: 100%;
      font-family: $source-sans-pro;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      color: color('gray', 90);
    }

    .quiver-reading {
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.7px;
    }

    .quiver-conditions-stats__title {
      font-family: $source-sans-pro;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.2px;
      color: color('gray', 55);
    }
  }
}

.buoyCurrentReadingsDivider {
  width: 100%;
  border: none;
  border-top: 1px color('gray', 30) solid;
  height: 1px;
  margin-top: -2px;
}

.buoyCurrentReadingsDividerContainer {
  grid-area: 2 / 1 / 2 / 3;
  margin: 0 -8px;
}

.metricWaveHeight {
  grid-area: 3 / 1 / 4 / 2;
}

.metricWavePeriod {
  grid-area: 3 / 2 / 4 / 3;
}

.metricSwells {
  grid-area: 4 / 1 / 5 / 2;
}

.metricWind {
  grid-area: 4 / 2 / 5 / 3;
}

.metricWaterTemp {
  grid-area: 5 / 1 / 6 / 4;
}

.metricAirTemp {
  grid-area: 5 / 2 / 6 / 5;
}

.metricPressure {
  grid-area: 6 / 1 / 7 / 4;
}

.metricDewPoint {
  grid-area: 6 / 2 / 7 / 5;
}

/* Tablet */
@media (min-width: $tablet-width) {
  .buoyCurrentReadings {
    grid-template-columns: repeat(4, 1fr);
    padding: 24px;
  }

  .buoyCurrentReadingsDividerContainer {
    display: none;
  }

  .metricWaveHeight {
    grid-area: 2 / 1 / 3 / 2;
  }

  .metricWavePeriod {
    grid-area: 2 / 2 / 3 / 3;
  }

  .metricWaterTemp {
    grid-area: 2 / 3 / 3 / 4;
  }

  .metricAirTemp {
    grid-area: 2 / 4 / 3 / 5;
  }

  .metricSwells {
    grid-area: 3 / 1 / 4 / 2;
  }

  .metricWind {
    grid-area: 3 / 2 / 4 / 3;
  }

  .metricPressure {
    grid-area: 3 / 3 / 4 / 4;
  }

  .metricDewPoint {
    grid-area: 3 / 4 / 4 / 5;
  }
}

/* Desktop */
@media (min-width: $desktop-width) {
  .buoyCurrentReadings {
    grid-template-columns: repeat(5, 1fr);
  }

  .mapTile {
    display: flex;
  }
}
