.resultItem {
  /* TODO: Remove 'important' once Eric's changes are merged that fix the MUI theme override issue. */
  padding: 10px 32px !important;
  cursor: pointer;
}
.resultItem:nth-child(odd) {
  /* TODO: Replace with Wavetrak theme colors, or customize MUI List in Wavetrak theme? */
  background-color: #f4f4f4;
}
.link {
  color: #42a5fc;
}
