@import './colors';

@function conditionColor($condition) {
  @return map-get($conditionColorMap, $condition);
}

$__sl-condition-color-map: (
  'flat': (
    default: color('gray', 50),
    dark: color('gray', 60),
  ),
  'very-poor': (
    default: color('light-blue', 50),
    dark: color('light-blue', 60),
  ),
  'poor': (
    default: color('light-blue', 50),
    dark: color('light-blue', 60),
  ),
  'poor-to-fair': (
    default: color('light-blue', 50),
    dark: color('light-blue', 60),
  ),
  'fair': (
    default: color('green', 50),
    dark: color('green', 60),
  ),
  'fair-to-good': (
    default: color('green', 50),
    dark: color('green', 60),
  ),
  'good': (
    default: color('orange', 50),
    dark: color('orange', 60),
  ),
  'very-good': (
    default: color('orange', 50),
    dark: color('orange', 60),
  ),
  'good-to-epic': (
    default: color('orange', 50),
    dark: color('orange', 60),
  ),
  'epic': (
    default: color('bright-red', 50),
    dark: color('bright-red', 60),
  ),
  'lola': (
    default: color('dark-blue', 50),
    dark: color('dark-blue', 60),
  ),
  'lotus': (
    default: color('dark-blue', 50),
    dark: color('dark-blue', 60),
  ),
  'none': (
    default: color('blue-gray', 70),
    dark: color('blue-gray', 80),
  ),
);
