@import './colors';

@function condition-color($condition) {
  @return map-get($conditionColorMap, $condition);
}

$sl-condition-color-map-v2: (
  'very-poor': (
    default: #98a2af,
    dark: #98a2af,
  ),
  'poor': (
    default: #408fff,
    dark: #408fff,
  ),
  'poor-to-fair': (
    default: #30d2e8,
    dark: #30d2e8,
  ),
  'fair': (
    default: #1ad64c,
    dark: #1ad64c,
  ),
  'fair-to-good': (
    default: #ffcd1e,
    dark: #ffcd1e,
  ),
  'good': (
    default: #ff8900,
    dark: #ff8900,
  ),
  'epic': (
    default: #d54530,
    dark: #d54530,
  ),
  'lotus': (
    default: color('dark-blue', 50),
    dark: color('dark-blue', 60),
  ),
  // TODO: Remove references to LOLA, these will be mapped to LOTUS in the future
  'lola': (
    default: color('dark-blue', 50),
    dark: color('dark-blue', 60),
  ),
  'none': (
    default: color('blue-gray', 70),
    dark: color('blue-gray', 80),
  ),
);
