@import './colors';

@function funnelCTABackground($theme) {
  @if $theme == 'bw' {
    @return url('#{$cdn-background-path}/bw-funnel.jpg');
  }
  @if $theme == 'fs' {
    @return url('#{$cdn-background-path}/fs-funnel.jpg');
  }
  @else {
    @return url('#{$cdn-background-path}/sl-funnel-new-premium.jpg');
  }
}

@function funnelLogoDesktop($theme) {
  @if $theme == 'bw' {
    @return url('#{$cdn-logo-path}/bw-logo.svg');
  }
  @if $theme == 'fs' {
      @return url('#{$cdn-logo-path}/fishtrack-logo.svg');
  }
  @else {
      @return url('#{$cdn-logo-path}/surfline-logo.svg');
  }
}

@function funnelLogoMobile($theme) {
  @if $theme == 'bw' {
    @return url('#{$cdn-logo-path}/bw-logo.svg');
  }
  @if $theme == 'fs' {
    @return url('#{$cdn-logo-path}/fishtrack-logo-aqua.svg');
  }
  @else {
    @return url('#{$cdn-logo-path}/surfline-logo.svg');
  }
}

@function funnelFormHeaderColor($theme) {
  @if $theme == 'bw' {
    @return color('marine-blue');
  }
  @if $theme == 'fs' {
    @return color('aqua');
  }
  @else {
    @return color('dark-blue', 10);
  }
}
