@font-face {
  font-family:'Futura-Surfline';
  src: url('#{$font-path}/futura-surfline/futura-surfline-regular.eot');
  src: url('#{$font-path}/futura-surfline/futura-surfline-regular.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/futura-surfline/futura-surfline-regular.woff2') format('woff2'),
       url('#{$font-path}/futura-surfline/futura-surfline-regular.woff') format('woff'),
       url('#{$font-path}/futura-surfline/futura-surfline-regular.ttf') format('truetype'),
       url('#{$font-path}/futura-surfline/futura-surfline-regular.svg#futura-surfline-regular') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}