/*
Font:      Futura
Style:     Demi
URL:       https://www.youworkforthem.com/font/T0982/futura
Foundry:   URW++
Foundry:   https://www.youworkforthem.com/designer/204/urw
Copyright: Copyright 2010 URW++ Design & Development
Version:   17
Created:   March 19, 2015
License:   https://www.youworkforthem.com/font-license
License:   The WebFont(s) listed in this document must follow the YouWorkForThem
           WebFont license rules. All other parties are strictly restricted
           from using the WebFonts(s) listed without a purchased license.
           All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
  font-family: 'Futura-Dem';
  src: url('#{$font-path}/futura-demi.eot');
  src: url('#{$font-path}/futura-demi.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/futura-demi.woff2') format('woff2'),
       url('#{$font-path}/futura-demi.woff') format('woff'),
       url('#{$font-path}/futura-demi.ttf') format('truetype'),
       url('#{$font-path}/futura-demi.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
}
