$ipad-pro-width: 1024px;

/* For the extra small devices (phones) */
$small-mobile: 350px;

/* For the extra small devices (iphone 6/7/8) */
$medium-mobile: 375px;

/* For the extra small devices (phones) */
$large-mobile: 512px;

/* For the extra large devices (phones/tablets in-between) */
$x-large-mobile: 635px;

/* For large desktop left rail */
$desktop-left-rail: 660px;

/* Small devices (tablets, 768px and up) */
$tablet-width: 769px;

/* Small device ad-specific width (tablets, 728px and up) */
$tablet-ad-width: 728px;

/* Medium devices (desktops, 992px and up) */
$medium-width: 992px;

/* Large devices (large desktops, 1200px and up) */
$desktop-width: 1200px;

/* X-Large devices (x-large desktops, TBD and up) */
$x-large-width: 1921px;

// new breakpoints
$width-0: 100%;
$tablet-large: 976px;
$desktop-small: 1256px;
$desktop-large: 1712px;
