<VirtualHost *:80>
  # VirtualHost definition
  ServerName api.surfline.com
  DocumentRoot /var/www/sites/public-api
  ServerAlias *.api.surfline.com

  # ELB-friendly logging
  SetEnvIf REMOTE_ADDR "(.+)" CLIENTIP=$1
  SetEnvIf X-Forwarded-For "^([0-9.]+)" CLIENTIP=$1
  LogFormat "%{CLIENTIP}e %D %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" trueip_combined
  CustomLog /var/log/httpd/access-surflineapi trueip_combined

  # Rewrite
  RewriteEngine On

  # Rewrite includes
  Include conf-available/api_mod_rewrite.conf

  <Directory "/var/www/sites/public-prod">
    RewriteEngine On
    RewriteCond %{HTTPS} on
    RewriteRule ^robots\.txt$ robots_ssl.txt [L]
    Include conf-available/domain_mod_rewrite.conf
    Include conf-available/sl_regional_mod_rewrite.conf
    Include conf-available/mod_rewrite.conf
    # Header set X-UA-Compatible "IE=EmulateIE7"
  </Directory>

  <Directory "/var/www/sites/public-prod">
    Options FollowSymLinks ExecCGI
    AllowOverride None
    Order allow,deny
    Allow from all
  </Directory>

  <Directory "/var/www/sites">
    Options FollowSymLinks Includes ExecCGI
    AllowOverride AuthConfig
    Order allow,deny
    Allow from all
  </Directory>

</VirtualHost>
