Listen 8080
NameVirtualHost *:8080
<VirtualHost *:8080>
  # VirtualHost definition
  DocumentRoot /var/www/sites/CFIDE

  # ELB-friendly logging
  SetEnvIf REMOTE_ADDR "(.+)" CLIENTIP=$1
  SetEnvIf X-Forwarded-For "^([0-9.]+)" CLIENTIP=$1
  LogFormat "%{CLIENTIP}e %D %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" trueip_combined
  CustomLog /var/log/httpd/access-cfadmin trueip_combined
</VirtualHost>

<Directory "/var/www/sites/CFIDE">
  Options FollowSymLinks Includes ExecCGI
  AllowOverride AuthConfig
  Order allow,deny
  Allow from all
</Directory>
