<VirtualHost *:80>
  # VirtualHost definition
  ServerName my.fishtrack.com
  DocumentRoot /var/www/sites/public-prod

  # ELB-friendly logging
  SetEnvIf REMOTE_ADDR "(.+)" CLIENTIP=$1
  SetEnvIf X-Forwarded-For "^([0-9.]+)" CLIENTIP=$1
  LogFormat "%{CLIENTIP}e %D %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" trueip_combined
  CustomLog /var/log/httpd/access-myfishtrack trueip_combined

  # custom error document
  ErrorDocument 404 /404.html
</VirtualHost>

<VirtualHost *:80>
  # VirtualHost definition
  ServerName my-staging.fishtrack.com
  DocumentRoot /var/www/sites/public-prod

  # ELB-friendly logging
  SetEnvIf REMOTE_ADDR "(.+)" CLIENTIP=$1
  SetEnvIf X-Forwarded-For "^([0-9.]+)" CLIENTIP=$1
  LogFormat "%{CLIENTIP}e %D %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" trueip_combined
  CustomLog /var/log/httpd/access-myfishtrack trueip_combined

  # custom error document
  ErrorDocument 404 /404.html
</VirtualHost>

<VirtualHost *:80>
  # VirtualHost definition
  ServerName fishtrack.com
  DocumentRoot /var/www/sites/public-prod/fishtrack
  ServerAlias *.fishtrack.com

  # ELB-friendly logging
  SetEnvIf REMOTE_ADDR "(.+)" CLIENTIP=$1
  SetEnvIf X-Forwarded-For "^([0-9.]+)" CLIENTIP=$1
  LogFormat "%{CLIENTIP}e %D %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" trueip_combined
  CustomLog /var/log/httpd/access-fishtrack trueip_combined

  # Rewrite
  RewriteEngine On

  # redirects http to https for user account related endpoints
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule ^(/?)sign-in(.*) https://%{HTTP_HOST}/sign-in$2
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule ^(/?)create-account(.*) https://%{HTTP_HOST}/create-account$2
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule ^(/?)forgot-password(.*) https://%{HTTP_HOST}/forgot-password$2
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule ^(/?)subs/(.*) https://%{HTTP_HOST}/subs/$2
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule ^(/?)cancel(.*) https://%{HTTP_HOST}/cancel$2
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule ^(/?)account(.*) https://%{HTTP_HOST}/account$2
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule ^(/?)upgrade(.*) https://%{HTTP_HOST}/upgrade$2

  # redirect user account related endpoints to AWS Subscription Service
  RewriteRule ^(/?)sign-in(.*) <%= node['surfline-coldfusion']['subs']['fishtrack_url'] %>/sign-in$2 [P,L]
  RewriteRule ^(/?)create-account(.*) <%= node['surfline-coldfusion']['subs']['fishtrack_url'] %>/create-account$2 [P,L]
  RewriteRule ^(/?)forgot-password(.*) <%= node['surfline-coldfusion']['subs']['fishtrack_url'] %>/forgot-password$2 [P,L]
  RewriteRule ^(/?)subs/(.*) <%= node['surfline-coldfusion']['subs']['fishtrack_url'] %>/subs/$2 [P,L]
  RewriteRule ^(/?)cancel(.*) <%= node['surfline-coldfusion']['subs']['fishtrack_url'] %>/cancel$2 [P,L]
  RewriteRule ^(/?)account(\/.*|$) <%= node['surfline-coldfusion']['subs']['fishtrack_url'] %>/account$2 [P,L]
  RewriteRule ^(/?)upgrade(.*) <%= node['surfline-coldfusion']['subs']['fishtrack_url'] %>/upgrade$2 [P,L]

  # custom error document
  ErrorDocument 404 /404.html
  Include conf-available/ft_mod_rewrite.conf
</VirtualHost>
