Listen 7013
NameVirtualHost *:7013
<VirtualHost *:7013>
  DocumentRoot /var/www/sites/admin-prod
  
  # ELB-friendly logging
  SetEnvIf REMOTE_ADDR "(.+)" CLIENTIP=$1
  SetEnvIf X-Forwarded-For "^([0-9.]+)" CLIENTIP=$1
  LogFormat "%{CLIENTIP}e %D %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" trueip_combined
  CustomLog /var/log/httpd/access-sladmin trueip_combined
</VirtualHost>

<VirtualHost *:80>
  ServerName sladmin.surfline.com
  ServerAlias cf1-sladmin.surfline.com
  DocumentRoot /var/www/sites/admin-prod

  # ELB-friendly logging
  SetEnvIf REMOTE_ADDR "(.+)" CLIENTIP=$1
  SetEnvIf X-Forwarded-For "^([0-9.]+)" CLIENTIP=$1
  LogFormat "%{CLIENTIP}e %D %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" trueip_combined
  CustomLog /var/log/httpd/access-sladmin trueip_combined
</VirtualHost>
