<VirtualHost *:80>
  # VirtualHost definition
  ServerName www.surfline.com
  ServerAlias surfline.com my.buoyweather.com cf1.surfline.com aws-qa.surfline.com qa.surfline.com vindiciatest.surfline.com aws-vindiciatest.surfline.com content.surfline.com <%= "#{node.chef_environment}" %>.surfline.com
  DocumentRoot /var/www/sites/public-prod

  # ELB-friendly logging
  SetEnvIf REMOTE_ADDR "(.+)" CLIENTIP=$1
  SetEnvIf X-Forwarded-For "^([0-9.]+)" CLIENTIP=$1
  LogFormat "%{CLIENTIP}e %D %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" trueip_combined
  CustomLog /var/log/httpd/access-surfline trueip_combined

  # RewriteLog /tmp/rewrite.log
  # RewriteLogLevel 3

  # custom error document
  ErrorDocument 404 /404.html

  # LimitRequestLine is set in the first named virthost and applies to all virthosts
  LimitRequestLine 1024

  #Begin Deflate Code Addition 1/2
  DeflateFilterNote Input instream
  DeflateFilterNote Output outstream
  DeflateFilterNote Ratio ratio
  # CustomLog logs/deflate_log deflate
  #End Deflate Code Addition 1/2

  # Rewrite
  RewriteEngine On

  # redirects http to https for user account related endpoints
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule ^(/?)sign-in(.*) https://%{HTTP_HOST}/sign-in$2
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule ^(/?)create-account(.*) https://%{HTTP_HOST}/create-account$2
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule ^(/?)forgot-password(.*) https://%{HTTP_HOST}/forgot-password$2
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule ^(/?)subs/(.*) https://%{HTTP_HOST}/subs/$2
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule ^(/?)cancel(.*) https://%{HTTP_HOST}/cancel$2
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule ^(/?)account(.*) https://%{HTTP_HOST}/account$2
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule ^(/?)upgrade(.*) https://%{HTTP_HOST}/upgrade$2

  # redirect user account related endpoints to AWS Subscription Service
  RewriteRule ^(/?)sign-in(.*) <%= node['surfline-coldfusion']['subs']['url'] %>/sign-in$2 [P,L]
  RewriteRule ^(/?)create-account(.*) <%= node['surfline-coldfusion']['subs']['url'] %>/create-account$2 [P,L]
  RewriteRule ^(/?)forgot-password(.*) <%= node['surfline-coldfusion']['subs']['url'] %>/forgot-password$2 [P,L]
  RewriteRule ^(/?)subs/(.*) <%= node['surfline-coldfusion']['subs']['url'] %>/subs/$2 [P,L]
  RewriteRule ^(/?)cancel(.*) <%= node['surfline-coldfusion']['subs']['url'] %>/cancel$2 [P,L]
  RewriteRule ^(/?)account(\/.*|$) <%= node['surfline-coldfusion']['subs']['url'] %>/account$2 [P,L]
  RewriteRule ^(/?)upgrade(.*) <%= node['surfline-coldfusion']['subs']['url'] %>/upgrade$2 [P,L]

  # RewriteCond %{HTTPS} on
  # RewriteRule ^robots\.txt$ robots_ssl.txt [L]
  #
  # # Rewrite includes
  # Include conf-available/domain_mod_rewrite.conf
  # Include conf-available/sl_regional_mod_rewrite.conf
  # Include conf-available/mod_rewrite.conf

  <Directory "/var/www/sites/public-prod">
    Options Includes FollowSymLinks ExecCGI
    AllowOverride All
    Order allow,deny
    Allow from all

    RewriteEngine On
    RewriteCond %{HTTPS} on
    RewriteRule ^robots\.txt$ robots_ssl.txt [L]
    Include conf-available/domain_mod_rewrite.conf
    Include conf-available/sl_regional_mod_rewrite.conf
    Include conf-available/mod_rewrite.conf
    # Header set X-UA-Compatible "IE=EmulateIE7"

  </Directory>

  <Directory "/var/www/sites/public-prod/photos">
    Header set X-UA-Compatible "IE=EmulateIE9"
  </Directory>

  <Location />
    SetEnvIfNoCase Request_URI \
    \.(?:gif|jpe?g|png)$ no-gzip dont-vary
    Header append Vary User-Agent env=!dont-vary
  </Location>

  <LocationMatch "(/home/hp_dhtml/button_01\.gif|/home/hp_dhtml/button_02\.gif|/home/hp_dhtml/button_03\.gif|/home/hp_dhtml/button_04\.gif|/home/hp_dhtml/button_05\.gif|/home/hp_dhtml/button_06\.gif|/home/hp_dhtml/button_07\.gif|/home/hp_dhtml/button_08\.gif|/home/hp_dhtml/button_09\.gif|/home/hp_dhtml/button_10\.gif|/home/hp_dhtml/button_11\.gif|/home/hp_dhtml/button_12\.gif|/home/hp_dhtml/button_13\.gif|/home/hp_dhtml/button_14\.gif|/home/hp_dhtml/button_15\.gif|/home/hp_dhtml/corner_tr\.gif|/home/hp_dhtml/corners_bottom\.gif|/home/hp_dhtml/pause_big\.gif|/home/hp_dhtml/play_big\.gif|/home/hp_images/arrow_small\.gif|/home/hp_images/bg_main\.gif|/home/hp_images/cap_darkblue_bottom_left\.gif|/home/hp_images/cap_darkblue_bottom_right\.gif|/home/hp_images/cap_darkblue_top_left\.gif|/home/hp_images/cap_darkblue_top_right\.gif|/home/hp_images/cap_hotblue_bottom_left\.gif|/home/hp_images/cap_hotblue_bottom_right\.gif|/home/hp_images/cap_lightblue_bottom_left\.gif|/home/hp_images/cap_lightblue_bottom_right\.gif|/home/hp_images/cap_medblue_bottom_left\.gif|/home/hp_images/cap_medblue_bottom_right\.gif|/home/hp_images/top_tab_closed\.gif|/home/hp_images/top_tab_open\.gif|/include/header/images/cap_darkblue_bottom_right\.gif|/include/header/images/header_logo_free\.gif|/include/header/images/navigation_bg\.gif|/include/header/images/navigation_bg_leftline\.gif|/include/header/images/v_arrow\.gif|/include/header/images/v_arrow_over\.gif|/global_includes/css/global_trans\.css|/global_includes/css/header\.css|/global_includes/css/global_styles_print\.css|/global_includes/scripts/slmenu_r\d+\.css|/global_includes/css/global_styles_r\d+\.css|/global_includes/css/header-ie\.css)$">
    ExpiresActive on
    ExpiresDefault "access plus 1 months"
  </LocationMatch>

  <DirectoryMatch "(/global_includes/css/font-awesome/3\.0/|/global_includes/scripts/)">
    ExpiresActive on
    ExpiresDefault "access plus 1 months"
  </DirectoryMatch>

  <Directory "/var/www/sites">
    Options FollowSymLinks Includes ExecCGI
    AllowOverride AuthConfig
    Order allow,deny
    Allow from all
  </Directory>

  AddType application/x-web-app-manifest+json .webapp
</VirtualHost>
