@import '../../common/themes/main.scss';

.rail-logo {
  padding: 0px;
  position: absolute;
  top: 10px;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: none;
  &:after {
    display: block;
    content: funnelLogoMobile($companyTheme);
  }
}

@media (min-width: $tablet-large) {
  .rail-logo {
    position: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-color: funnelFormHeaderColor($companyTheme);

    &:after {
      display: block;
      content: funnelLogoDesktop($companyTheme);
    }
  }
}
