.sl-age-verification {
  display: flex;
  flex-direction: column;
  align-items: center;
  .quiver-checkbox {
    margin: 20px;
  }
}
.sl-age-verification__heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  max-width: 244px;
  margin: 20px auto;
}
.sl-age-verification__buttons {
  display: flex;
  flex-direction: column;
  .quiver-button,
  .quiver-button--info {
    width: 210px;
    margin: 10px;
    text-transform: uppercase;
    border: 2px solid color('dark-blue', 10);
    &:hover {
      border: 2px solid color('dark-blue', 20);
    }
  }
  .quiver-button {
    background: color('dark-blue', 10);
    &:hover,
    &:active,
    &:focus {
      background: color('dark-blue', 20);
      border: 2px solid color('dark-blue', 20);
    }
  }
  .quiver-button--info {
    color: color('dark-blue', 10);
    &:hover,
    &active,
    &focus {
      background: color('dark-blue', 20);
      border: 2px solid color('dark-blue', 20);
    }
  }
}
.sl-age-verification__message {
  font-size: 14px;
  color: color('gray', 90) !important;
}
.quiver-modal-container__close--age-verification {
  display: block !important;
  background: color('dark-blue', 10) !important;
  svg {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .sl-age-verification__buttons {
    flex-direction: row;
    justify-content: space-evenly;
    .quiver-button,
    .quiver-button--info {
      margin: 20px 16px;
    }
  }
}
