.sl-aus-modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(80,80,80,0.5);
}
.sl-aus-modal-container, .sl-aus-modal-container * {
    z-index: 20001;
}
.sl-aus-modal-container-v1 {
    position: fixed;
    top: 52%;
    left: 50%;
    height: 600px;
    width: 600px;
    transform: translate(-50%, -50%);
}
.sl-aus-modal-container-v2 {
    position: fixed;
    top: 52%;
    left: 50%;
    height: 520px;
    width: 600px;
    transform: translate(-50%, -50%);
}
.sl-aus-modal-container-v3 {
    position: fixed;
    top: 52%;
    left: 50%;
    height: 600px;
    width: 600px;
    transform: translate(-50%, -50%);
}
.sl-aus-modal-container-v4 {
    position: fixed;
    top: 52%;
    left: 50%;
    height: 520px;
    width: 600px;
    transform: translate(-50%, -50%);
}
.sl-aus-modal-top-banner {
    width: 100%;
    height: 226px;
    background:#000;
    display: flex;
    position: absolute; 
}

.sl-aus-modal-container-v3 .sl-aus-modal-top-banner, .sl-aus-modal-container-v4 .sl-aus-modal-top-banner {
    background: url('../../components/AusModal/images/landscape-6.png') no-repeat right center;
    background-size: contain;
}
.sl-aus-modal-right-surf {
    background: url('../../components/AusModal/images/surf-4.png') no-repeat center;
    background-size: cover;
    width: 148px;
    height: 92px;
    margin: auto 0 0 auto;
}
.sl-aus-modal-mick {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('../../components/AusModal/images/kevin-profile.png') no-repeat;
    background-size: contain;
}
.sl-aus-modal-lockup {
    position: absolute;
    z-index: 20002;
    height: 156px;
    width: 155px;
    background:url('../../components/AusModal/images/logo-lockup.png') no-repeat center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-size: contain;
}
.sl-aus-modal-container-v2 .sl-aus-modal-lockup,
.sl-aus-modal-container-v4 .sl-aus-modal-lockup {
    background: url('../../components/AusModal/images/logo-surfline.png') no-repeat center;
}
.sl-aus-modal-container-v1 .sl-aus-modal-klein {
    width: 235px;
    height: 374px;
    background: url('../../components/AusModal/images/landscape-4.png') no-repeat center;
}
.sl-aus-modal-container-v2 .sl-aus-modal-klein {
    width: 235px;
    height: 294px;
    background: url('../../components/AusModal/images/landscape-5.png') no-repeat center;
}
.sl-aus-modal-container-v3 .sl-aus-modal-klein {
    width: 235px;
    height: 374px;
    background: url('../../components/AusModal/images/owt-profile.png') no-repeat center;
    background-size: contain;
}
.sl-aus-modal-container-v4 .sl-aus-modal-klein {
    width: 235px;
    height: 294px;
    background: url('../../components/AusModal/images/surf-5.png') no-repeat center;
    background-size: contain;
}
.sl-aus-modal-gradient {
    width: 157px;
    height: 256px;
    background: linear-gradient(90.22deg, #000000 0.22%, #0F0F0F 99.84%);
    position: absolute;
}
.sl-aus-modal-bottom-panel {
    background: #314EE6;
    height: 374px;
    width: 100%;
    display: flex;
    position: absolute;
    top: 226px;
}
.sl-aus-modal-container-v2 .sl-aus-modal-bottom-panel,
.sl-aus-modal-container-v4 .sl-aus-modal-bottom-panel {
    height: 294px;
}
.sl-aus-modal-tagline {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FBFBFB;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0px;
}
.sl-aus-modal-cta {
    padding: 31px 40px 80px 39px;
    width: 286px;
}
.sl-aus-modal-description {
    font-family: 'IBM Plex Mono', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #FBFBFB;
    li {
        margin: 10px 0 10px 16px;
    }
    p {
        color: #FBFBFB;
        font-size: 14px;
    }
}

ul.sl-aus-modal-description {
    padding: 0px;
}

.sl-aus-modal-learn-more {
    display: inline-block;
    font-family:'IBM Plex Sans', sans-serif;
    background: #EFCB28;
    color: #3D3D3D;
    border-radius: 30px;
    margin: 10px 0;
    font-weight: 500;
    font-size: 14px;
    padding: 16px 24px;
    border: none;
    cursor: pointer;
}
.sl-aus-modal-container-v3 .sl-aus-modal-learn-more {
    padding: 14px 24px;
    margin: 4px 0;
}
.sl-aus-modal-container-v4 .sl-aus-modal-cta {
    padding: 15px 20px 80px 39px;
    margin: 20px 0 0 0;
    width: 306px;
}
.sl-aus-modal-container-v4 .sl-aus-modal-learn-more {
    padding: 14px 24px;
    margin: 20px 0 0 0;
}
.sl-aus-modal-close {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
    width: 44px;
    height: 44px;
    background: url('../../components/AusModal/images/x.svg') no-repeat center;
    z-index: 20002;
    background-size: contain;
}
.sl-aus-modal-cancel {
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #FBFBFB;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 500;
}
@media (max-width: $tablet-large) {
    .sl-aus-modal-container-v1 {
        width: 100%;
        height: 375px;
        bottom: 0%;
        transform: none;
        top: auto;
        left: auto;
        right: auto;
    }
    .sl-aus-modal-container-v2 {
        width: 100%;
        height: 275px;
        bottom: 0%;
        transform: none;
        top: auto;
        left: auto;
        right: auto;

        .sl-aus-modal-bottom-panel {
            height: 275px;
        }
    }
    .sl-aus-modal-container-v3 {
        width: 327px;
        height: 616px;
        .sl-aus-modal-bottom-panel {
            height: 456px;
            top: 160px;
        }
    }
    .sl-aus-modal-container-v4 {
        width: 327px;
        height: 519px;
        .sl-aus-modal-bottom-panel {
            height: 359px;
            top: 160px;
        }
    }
    .sl-aus-modal-bottom-panel {
        display: block;
        height: 375px;
        top: 0;
    }
    .sl-aus-modal-container-v1 .sl-aus-modal-klein,
    .sl-aus-modal-container-v2 .sl-aus-modal-klein {
        display: none;
    }
    .sl-aus-modal-container-v3 .sl-aus-modal-klein {
        height: 100px;
        width: 327px;
        background: url('../../components/AusModal/images/owt-profile-mobile.png') no-repeat center;
        background-size: contain;
    }
    .sl-aus-modal-container-v4 .sl-aus-modal-klein {
        height: 100px;
        width: 327px;
        background: url('../../components/AusModal/images/surf-5-mobile.png') no-repeat center;
        background-size: contain;

    }
    .sl-aus-modal-cta {
        padding: 32px 80px 0 24px;
        width: 100%;
    }
    .sl-aus-modal-close {
        width: 32px;
        height: 32px;
    }
    .sl-aus-modal-container-v3 .sl-aus-modal-cta,
    .sl-aus-modal-container-v4 .sl-aus-modal-cta {
        padding: 24px 15px 0 24px;
        width: auto;
    }
    .sl-aus-modal-container-v3 .sl-aus-modal-learn-more {
        margin: 0;
    }
    .sl-aus-modal-container-v1 .sl-aus-modal-cancel,
    .sl-aus-modal-container-v2 .sl-aus-modal-cancel  {
        display: none;
    }
    .sl-aus-modal-container-v3 .sl-aus-modal-top-banner,
    .sl-aus-modal-container-v4 .sl-aus-modal-top-banner {
        height: 160px;
        width: 327px;
        background: url('../../components/AusModal/images/landscape-6-mobile.png') no-repeat right center;
        background-size: contain;
    }
    .sl-aus-modal-container-v3 .sl-aus-modal-gradient,
    .sl-aus-modal-container-v4 .sl-aus-modal-gradient {
        width: 150px;
        height: 160px;
    }

}