/** @prettier */

@import '~@surfline/quiver-themes/stylesheets/surfline/mixins/btnReset.scss';
@import '../_mixins.scss';

.sl-multi-cam__controls {
  .sl-play-pause-button,
  .sl-fullscreen-toggle-button {
    @include btn-reset();
    border: none;
    margin: 16px 8px;
    height: 20px;
    cursor: pointer;

    @media (max-width: $large-mobile) {
      margin: 16px 5px;
    }
  }
  &:focus {
    outline: none;
  }

  .sl-play-pause-button {
    width: 17px;
  }
  .sl-fullscreen-toggle-button {
    width: 25px;
  }

  .sl-fullscreen-toggle-container,
  .sl-play-pause-container {
    height: calc(100% + 1px);
    border-bottom: 2px solid transparent;
  }

  .sl-fullscreen-toggle-container--hover,
  .sl-play-pause-container--hover {
    border-bottom: 2px solid color('dark-blue', 10);
  }

  .sl-multi-cam__controls__view {
    display: flex;
  }

  .sl-multi-cam-cam-icon__container {
    @include btn-reset();
    display: flex;
    position: relative;
    margin: 8px;
    opacity: 0.5;
    cursor: pointer;

    @media (max-width: $large-mobile) {
      margin: 3px;
    }
  }

  .sl-multi-cam-cam-icon__container--hover {
    opacity: 1;
  }

  .sl-multi-cam-cam-icon__container--active {
    background: unset;
    opacity: unset;
  }
}
