.sl-multi-cam__cam-filler {
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  right: 4px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: #e5eef7;
  text-decoration: none;

  .sl-multi-cam__cam-filler__text {
    margin: 16px 0;
    color: color('gray', 55);
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0px;
    text-transform: uppercase;
  }
  .sl-icon-big-plus {
    margin-top: 8px;
    &:focus {
      outline: none;
    }
  }
}
