.sl-cam-header-cta {
  text-align: center;
  width: 100%;
  font-family: $source-sans-pro;
  font-size: 16px;
  padding: 8px 0;

  a {
    color: color('green', 50);
    text-decoration: none;
    font-weight: 600;
    padding: 0 0 0 2px;

    &:hover,
    &:focus {
      color: color('green', 70);
    }
  }
}
