@import '~@surfline/quiver-themes/stylesheets/surfline/mixins/btnReset.scss';
@import '../_mixins.scss';

.sl-cam-overlay {
  .sl-cam-overlay__top {
    position: absolute;
    top: 0px;
    width: calc(100% - 16px);
    display: flex;
    justify-content: flex-end;
    padding: 4px 8px;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 0.3s ease;
    .sl-cam-overlay__fullscreen-icon {
      @include btn-reset();
      border-radius: 3px;
      height: 32px;
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: rgba(0, 0, 0, 0.24);
      }
      .sl-fullscreen-toggle-container {
        padding-top: 1px;
        .sl-fullscreen-toggle-button {
          cursor: pointer;
          background: transparent;
          border: none;
          svg {
            height: 16px;
            width: 16px;
            .sl-fullscreen-toggle-button__shape {
              fill: color('white');
            }
          }
        }
      }
    }
    .quiver-favorites-indicator {
      circle {
        display: none;
      }
    }
    .quiver-hover-menu {
      align-items: flex-start;
      position: relative;
      .quiver-multi-cam-icon__icon {
        fill: white;
      }
    }
    .quiver-hover-menu-target {
      width: 32px;
      height: 32px;
    }
    &--visible {
      opacity: 1;
    }
  }
  .sl-cam-overlay__bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
  }
  .sl-cam-overlay__no-cam {
    position: absolute;
    top: 8px;
    right: 8px;
    text-transform: uppercase;
    padding: 3px 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    color: color('white');
    font-size: 14px;
    font-family: $source-sans-pro;
    font-weight: 600;
    letter-spacing: 0.35px;
  }
  .sl-cam-overlay__favorite-toggle {
    border-radius: 3px;
    &:hover {
      background: rgba(0, 0, 0, 0.24);
    }
    @include btn-reset();
  }
}

.quiver-premium-cam-cta__container {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
}
.quiver-premium-cam-cta {
  margin-top: 0;
  width: 100%;
  height: 100%;
}
.quiver-premium-cam-cta__camStill {
  background-size: cover;
}
.quiver-premium-cam-cta__subheading {
  flex: unset;
}

.quiver-premium-cam-cta__content {
  width: 100%;
  height: 100%;
}

.sl-multi-cam__cams--triple {
  .sl-multi-cam__cam-container--3,
  .sl-multi-cam__cam-container--2 {
    @include premiumCamCtaAdjustments();
    .quiver-premium-cam-cta__heading {
      margin: 8px;
    }
  }
}
.sl-multi-cam__cams--quad {
  @include premiumCamCtaAdjustments();
}
.sl-multi-cam__cams--double {
  .sl-multi-cam__cam-container--2 {
    @include premiumCamCtaAdjustments();
    .quiver-premium-cam-cta__heading {
      font-size: 10px;
      margin: 16px 0;
      width: unset;
    }
    .quiver-button {
      width: 95px;
      height: 30px;
      font-size: 12px;
    }
  }
}

@media (max-width: $tablet-width) {
  .sl-multi-cam__cams--triple {
    .sl-multi-cam__cam-container--3,
    .sl-multi-cam__cam-container--2 {
      .quiver-premium-cam-cta__heading {
        margin: 0;
      }
      .quiver-button {
        display: none;
      }
    }
  }
}

@media (max-width: $desktop-xxl-width) {
  .sl-multi-cam__cams--triple {
    .sl-multi-cam__cam-container--1 {
      @include premiumCamCtaAdjustments();
    }
  }
}

@media (min-width: $desktop-large-width) {
  .sl-multi-cam-container {
    .sl-multi-cam__cams--quad {
      .quiver-premium-cam-cta__links__about {
        display: block;
      }
      .quiver-premium-cam-cta__icon,
      .quiver-premium-cam-cta__subheading {
        display: block;
      }
    }
  }
}
