@import '../_variables.scss';
@import '../_mixins.scss';

.sl-cam-of-the-moment {
  width: 100%;
  margin: 8px 0 0 0;
  position: relative;
  .quiver-cam-player__player__live {
    display: none;
  }
  .quiver-cam-player__host-ad {
    display: none;
  }
  .quiver-surf-conditions {
    display: inline-flex;
    height: 8px;
    width: 8px;
    margin: 4.5px 4px 2.5px 0;
    padding: 0;
    border-radius: 50%;
    font-size: 0;
    letter-spacing: 0;
    flex: 0 0 8px;
  }
  .quiver-tide-arrow {
    width: 8px;
    padding-left: 2px;
    polygon {
      fill: color('white');
    }
  }
  .quiver-cam-player__player__rewind-onboarding {
    display: none;
  }
  .jwplayer {
    .jw-svg-icon-play path, .jw-icon-playback, .jw-icon-volume {
      display: none;
    }
    .jw-svg-icon-play {
      background-image: url('~homepage-assets/play.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .jw-controlbar {
      top: 0;
      bottom: auto;
      display: flex;
      .jw-icon-live, .jw-icon-fullscreen {
        display: block;
        position: absolute;
        top: 16px;
        right: 0;
        visibility: hidden;
      }
      .jw-icon-live {
        right: 44px;
      }
    }
    .jw-cam-rewind {
      margin: 16px 36px 0 0;
      visibility: hidden;
    }
    .jw-cam-rewind .jw-tooltip {
      display: none;
    }
  }
  .jwplayer:hover {
    .jw-controlbar {
      .jw-icon-live, .jw-icon-fullscreen {
        visibility: visible;
      }
      .jw-tooltip-fullscreen {
        display: none;
      }
    }
    .jw-cam-rewind {
      visibility: visible;
    }
  }
  @media (min-width: $small-desktop) and (max-width: $desktop-width) {
    .quiver-cam-error__message {
      font-size: 13px;
    }
  }
}

.sl-cam-of-the-moment--controls-visible {
  .jwplayer {
    .jw-controlbar {
      top: auto;
      bottom: 0;
      .jw-icon-playback, .jw-icon-volume {
        display: flex;
      }
      .jw-icon-inline.jw-icon-volume {
        display: none; // hide second volume icon
      }
      .jw-icon-fullscreen, .jw-icon-live {
        position: relative;
      }
    }
  }
}

.sl-cam-of-the-moment__title {
  display: none;
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 1;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: color('white');
}

.sl-cam-of-the-moment__title--visible {
  display: block;
}

.sl-cam-of-the-moment__cam {
  margin-bottom: 16px;
}

.sl-cam-of-the-moment__details {
  display: none;
  position: absolute;
  flex-direction: row;
  align-items: center;
  bottom: 12px;
  left: 16px;
  right: 16px;
}

.sl-cam-of-the-moment__details--visible {
  display: flex;
}

.sl-cam-of-the-moment__details__spot-name {
  flex: 1;
  display: flex;
  align-items: center;
  a {
    font-family: $source-sans-pro;
    font-size: 16px;
    text-decoration: none;
    color: color('white');
    &:hover {
      color: color('white');
    }
  }
}

.sl-cam-of-the-moment__details__conditions {
  padding-top: 2px;
  font-size: 16px;
  letter-spacing: 0;
  text-transform: lowercase;
  font-family: $futura-surfline;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  color: color('white');
  > span {
    margin: 0 0 0 16px;
  }
  .quiver-surf-height {
    font-size: 16px;
    letter-spacing: 0;
    font-family: $futura-surfline;
    sup {
      font-size: 16px;
      vertical-align: baseline;
    }
  }
}

@media (min-width: $tablet-large) {
  .sl-cam-of-the-moment {
    margin: 24px 0px 0px 0px;
  }
}
