/** @prettier */

@import '~@surfline/quiver-themes/stylesheets/surfline/mixins/btnReset.scss';
@import '../_mixins.scss';
@import '../multiCamColorMap.scss';

.sl-collection-rail {
  height: 100%;
  width: 320px;

  .sl-collection-rail-scroll-container {
    height: 100%;
  }

  .sl-collection-rail__title {
    padding: 24px 16px 16px 16px;
    height: 18px;
    position: relative;
    .quiver-hover-menu {
      top: 25px;
    }
  }
  .sl-collection-more-favorites {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .sl-collection-more-favorites__button {
    margin-right: 8px;
    position: absolute;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    font-family: $source-sans-pro;
    letter-spacing: 0px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    &:focus {
      outline: none;
    }
  }
  .sl-more-favorites__menu {
    position: relative;
    z-index: 999999;
    list-style-type: none;
    display: none;
    margin: -6px 16px;
    padding: 8px 0;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    background: none no-repeat scroll 0 0 #fff;
    &--opened {
      display: flex;
      flex-flow: column;
    }
  }
  .sl-collection-more-favorites-menu__button {
    @include btn-reset();
    cursor: pointer;
    padding: 4px 16px;
    text-decoration: none;
    width: 100%;
    height: 24px;
    color: color('gray', 90);
    font-size: 14px;
    font-weight: normal;
    font-family: $source-sans-pro;
    letter-spacing: 0px;
    line-height: 24px;
    text-transform: capitalize;
    &:hover {
      background: rgba(150, 169, 178, 0.24);
      outline: none;
    }
  }
  .quiver-hover-menu-label {
    color: color('gray', 90);
    font-size: 18px;
    height: 18px;
    line-height: 22px;
    font-family: $futura-dem;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 0.7px;
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .quiver-hover-menu {
    justify-content: flex-start;
    flex-flow: column;
    .quiver-chevron {
      transition: transform 0.2s linear;
    }
    .quiver-hover-menu__menu {
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    }

    .quiver-hover-menu__menu-item-container {
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .quiver-hover-menu--hover {
    .quiver-chevron {
      transform: rotate(-180deg);
    }
  }

  .sl-collection-rail__items {
    padding-bottom: 50px;
  }

  .sl-collection-rail__spot {
    background: transparent;
    border: none;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 2px;
    cursor: pointer;
    margin-bottom: 1px;
    &--primary {
      margin-left: 2px;
      padding-left: 0;
    }

    &:hover {
      background-color: color('blue-gray', 10);
    }

    .quiver-favorite {
      display: flex;
      width: 100%;
      height: 100%;
      border-right: unset;
      z-index: 2;
      &:hover {
        border-right: unset;
      }
    }

    .quiver-favorite__item {
      width: 100%;
      padding: 0 0 0 8px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: unset;
      &:hover {
        box-shadow: unset;
      }
    }

    .quiver-favorite__item__wrapper {
      padding: 0 0 0 8px;
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
    }

    .quiver-favorite__item__wrapper__top {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .quiver-favorite__item__wrapper__bottom-units {
      color: color('gray', 80);
      font-size: 8px;
      font-family: $source-sans-pro;
      font-weight: 600;
      letter-spacing: 0.2px;
    }

    .quiver-favorite__item__wrapper__bottom {
      margin: 0 24px 0 0;
      color: color('gray', 80);
      font-size: 16px;
      line-height: 18px;
      font-family: $source-sans-pro;
      font-weight: 600;
      letter-spacing: 0.7px;
    }

    .quiver-favorite__item__wrapper__top-name {
      color: color('gray', 80);
      font-size: 16px;
      line-height: 19px;
      font-family: $source-sans-pro;
      font-weight: normal;
      max-width: 190px;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      letter-spacing: 0px;
    }
  }

  @each $condition, $colors in $sl-multi-cam-color-map {
    .sl-collection-rail__spot--#{$condition}.sl-collection-rail__spot--selected {
      background-color: map-get($colors, 'secondary');
      &:hover {
        background-color: map-get($colors, 'secondary-hover');
      }
    }
    .sl-collection-rail__spot--#{$condition}.sl-collection-rail__spot--primary {
      outline: 3px solid map-get($colors, 'default');
      &:hover {
        outline: 3px solid map-get($colors, 'default-hover');
      }
    }
  }

  @media (min-width: $desktop-width) {
    .quiver-hover-menu {
      outline: none;
      .quiver-chevron {
        display: none;
      }
      .quiver-hover-menu__menu {
        display: none;
      }
    }
  }
}
