/** @prettier */

@import '~@surfline/quiver-themes/stylesheets/surfline/mixins/btnReset.scss';
@import '../_mixins.scss';

.sl-collection-selector {
  display: flex;
  position: relative;
  width: 100%;
  height: calc(100% - 8px);
  overflow-y: auto;
  flex-flow: column;
  padding: 8px 0 0 0;

  .sl-collection-selector__category__name {
    color: color('gray', 90);
    font-size: 18px;
    line-height: 18px;
    font-family: $futura-dem;
    font-weight: 500;
    text-transform: unset;
    letter-spacing: 0.7px;
    margin: 0 24px 8px 24px;
    padding-top: 16px;
  }
  .sl-collection-selector__category__name--with-border {
    border-top: 1px solid rgba(0, 0, 0, 0.16);
  }

  .sl-collection-selector__category__collections_collection {
    cursor: pointer;
  }

  .sl-collection-selector__category__collections_collection {
    margin: 0 24px;
    color: color('gray', 90);
    font-size: 14px;
    font-family: $source-sans-pro;
    font-weight: normal;
    letter-spacing: 0.29px;
    line-height: 26px;
  }

  .sl-collection-selector__category__collections_collection-container {
    @include btn-reset();
    position: relative;
    width: 100%;
    &:hover {
      outline: none;
    }
    &:focus {
      outline: -webkit-focus-ring-color auto 1px;
    }
  }

  .sl-collection-selector__category__collections_collection-container--selected {
    background-color: rgba(150, 169, 178, 0.24);
    outline: none;
  }

  .sl-collection-selector__category-container {
    min-width: 208px;
    width: 208px;
    margin-bottom: 16px;
  }
}
