/** @prettier */

.sl-cam-overlay__conditions {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  bottom: 12px;
  left: 16px;
  right: 16px;
  opacity: 0;
  transition: opacity 0.5s ease;

  &--visible {
    opacity: 1;
  }

  .quiver-surf-conditions {
    display: inline-flex;
    height: 8px;
    width: 8px;
    margin: 2px 4px 0 0;
    padding: 0;
    border-radius: 50%;
    font-size: 0;
    letter-spacing: 0;
    flex: 0 0 8px;
  }

  .sl-cam-overlay__conditions__spot-name {
    flex: 1;
    display: flex;
    align-items: center;
    a {
      font-family: $source-sans-pro;
      font-size: 16px;
      text-decoration: none;
      color: color('white');
      &:hover {
        color: color('white');
      }
    }
  }

  .sl-cam-overlay__conditions-containers {
    padding-top: 2px;
    font-size: 16px;
    letter-spacing: 0;
    text-transform: lowercase;
    font-family: $futura-surfline;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    color: color('white');
    > span {
      height: 21px;
      margin: 0 0 0 16px;
    }
    .quiver-surf-height {
      font-size: 16px;
      letter-spacing: 0;
      font-family: $futura-surfline;
      sup {
        font-size: 16px;
        vertical-align: baseline;
      }
    }
  }
  .sl-cam-overlay__conditions__tide {
    display: flex;
    align-items: center;
    .quiver-tide-arrow {
      width: 13px;
      height: 15px;
      margin-left: 2px;
      polygon {
        fill: color('white');
      }
    }
  }
}

@media (max-width: $desktop-width) {
  .sl-multi-cam__cams--quad {
    .sl-cam-overlay__conditions-containers {
      display: none;
    }
  }
}

@media (max-width: $desktop-width) {
  .sl-multi-cam__cams--triple {
    .sl-multi-cam__cam-container--2,
    .sl-multi-cam__cam-container--3 {
      .sl-cam-overlay__conditions__spot-name {
        a {
          font-size: 10px;
        }
      }
    }
  }
  .sl-multi-cam__cams--double {
    .sl-multi-cam__cam-container--2 {
      .sl-cam-overlay__conditions__spot-name {
        a {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: $desktop-xl-width) {
  .sl-multi-cam__cams--triple {
    .sl-multi-cam__cam-container--2,
    .sl-multi-cam__cam-container--3 {
      .sl-cam-overlay__conditions-containers {
        display: none;
      }
    }
  }
  .sl-multi-cam__cams--nintuple {
    .sl-cam-overlay__conditions-containers {
      display: none;
    }
  }
}
@media (max-width: $desktop-xxl-width) {
  .sl-multi-cam__cams--double {
    .sl-multi-cam__cam-container--2 {
      .sl-cam-overlay__conditions-containers {
        display: none;
      }
    }
  }
}
