.sl-contest-entry__video--video {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  div:first-of-type, iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.sl-contest-entry__video--instagram {
  overflow: auto;
  padding-top: 0;
  div:first-of-type, iframe {
    margin: 0 auto 12px!important;
    border: 0;
  }
}

.sl-contest-entry__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px 0 0;
  .quiver-alert {
    background: none;
  }
  .quiver-share-article {
    padding: 24px 0;
  }
  .quiver-share-article__alert {
    display: none;
  }
  .quiver-share-article__alert--active {
    display: block;
  }
  .quiver-clipboard-icon {
    fill: color('white');
  }
}

.sl-contest-entry__details {
  display: flex;
  flex-direction: column;
  h5 {
    color: color('white');
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 1.2px;
  }
  p {
    margin: 0;
    font-size: 14px;
    color: color('white');
    span {
      font-weight: 600;
    }
    &:first-of-type {
      padding-bottom: 8px;
    }
  }
}

.sl-contest-entry__details__votes {
  font-family: $futura-dem;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  color: color('white');
  margin: 28px 8px 0 0;
  float: right;
  outline: none;
}

.sl-contest-entry__details__votes:not(.sl-contest-entry__details__votes--voted):hover {
  cursor: pointer;

  .sl-contest-entry__details__votes__icon {
    background-color: rgba(color('white'), 0.4);
  }
}

  .sl-contest-entry__details__votes__icon {
    display: flex;
    padding: 5px;
    border-radius: 50%;
    margin: 0;

    > svg {
      transform: translateX(-1px);
    }
  }

  .sl-contest-entry__details__votes__count {
    margin-left: 15px;
  }

.sl-contest-entry__details__votes--voted .sl-contest-entry__details__votes__count {
  color: #41A4FB;
}

@media (min-width: $large-mobile) {
  .sl-contest-entry__content {
    flex-direction: row;
    .quiver-share-article {
      padding: 0;
    }
  }
}
