.sl-contest-entry-card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 80px 0 16px;
  text-decoration: none;
  width: 100%;
  border-radius: 2px;
  border-bottom: 2px solid color('black', 40);
}

.sl-contest-entry-card__video {
  @include sl-aspect-ratio(16, 9);

  div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

    &:after {
      content: url('~homepage-assets/play.png');
      background-position: center center;
      z-index: 3;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(34, 131, 221, 0);
    }
  }

  &:hover div:before {
    background-color: rgba(34, 131, 221, .3);
    transition: all .8s;
  }
}

.sl-contest-entry-card__date {
  font-size: 62px;
  font-family: $futura-dem;
  position: absolute;
  top: 32px;
  color: #2D2D2D;
  &:hover {
    color: #2D2D2D;
  }
}

.sl-contest-entry-card__details {
  display: flex;
  flex-direction: column;
  padding: 16px 8px 8px;
  h5 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2px;
    font-family: $futura-dem;
    text-transform: uppercase;
    color: color('white');
  }
}

.sl-contest-entry-card__details__tags {
  display: flex;
  flex-wrap: wrap;
  p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    color: color('white');
    margin: 0;
  }
}

.sl-contest-entry-card__details__votes {
  display: flex;
  align-items: center;
  color: color('white');
  font-size: 16px;
  margin-top: 15px;
  font-family: $futura-dem;
}

  .sl-contest-entry-card__details__votes__value {
    margin-left: 15px;
  }

.sl-contest-entry-card__details__tags__spot:after {
  content: '|';
  padding: 8px;
}

@media (min-width: $large-mobile) {
  .sl-contest-entry-card {
    padding: 80px 0 16px;
    margin: 0 16px;
    max-width: 380px;
  }
  .sl-contest-entry-card__details {
    padding: 16px 0 8px;
  }
}
