.sl-contest-award {
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  padding: 0 16px;
}

.sl-contest-award__image {
  width: 100%;
  height: 100%;
}

.sl-contest-award__content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.sl-contest-award__title, .sl-contest-regional-details__title {
  margin: 16px 0 8px;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1.2px;
  font-family: $futura-dem;
  color: color('white');
  text-transform: none;
  &:hover {
    color: color('white');
  }
}

.sl-contest-award__description, .sl-contest-regional-details__description {
  color: color('white');
  font-size: 14px;
  letter-spacing: .75px;
  line-height: 21px;
  margin: 0;
}

@media (min-width: $tablet-large) {
  .sl-contest-award {
    flex-direction: row;
  }
  .sl-contest-award__image {
    width: auto;
  }
  .sl-contest-award__content {
    padding: 0 24px;
  }
  .sl-contest-award__title {
    margin: 0 0 16px;
  }
}
