.sl-contest {
  background: color('black');
  background-repeat: repeat;
  background-position: top center;
  background-size: contain;
  h3 {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2.3px;
    text-transform: uppercase;
    text-align: center;
    color: color('white');
    margin-bottom: 8px;
  }
  h5 {
    margin: 0;
  }
}

.sl-contest-container {
  width: 100%;
  margin: 0 auto;
  .quiver-spinner {
    width: 40px;
    height: 40px;
    margin: 24px auto 0;
    padding: 24px 0;
    display: block;
    g {
      fill: color('white');
    }
  }
}

.quiver-modal-container--contest-entry {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5)!important;

  h5 {
    margin: 0;
  }

  .quiver-modal-container__container {
    position: relative!important;
    top: auto!important;
    left: auto!important;
    right: auto!important;
    bottom: auto!important;
    width: 100%;
    max-width: 1256px;
  }

  .quiver-modal-container__body {
    width: 100%;
    max-height: calc(100vh - 100px);
    overflow: auto!important;
    padding: 36px!important;
    background: color('black', 40)!important;
    border-radius: 2px;
    p {
      margin: 0!important;
      color: color('white')!important;
    }
  }

  .quiver-modal-container__close svg {
    stroke: color('white')!important;
  }

  @media (min-width: $tablet-width) {
    .quiver-modal-container__body {
      width: auto;
    }
    .quiver-modal-container__container {
      width: 64%;
    }
  }
}

.sl-contest__ad-unit {
  display: flex;
  justify-content: center;
  margin: 56px 0 0;
  &:last-of-type {
    padding-bottom: 56px;
  }
}
