.sl-contest-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    padding: 0 16px;
  }

  .quiver-input, .quiver-select {
    margin-bottom: 16px;
    min-width: 100%;
    label {
      background: color('black');
      color: color('white');
    }
    input, select {
      min-width: 100%;
      background: color('black');
      color: color('white');
      &::-webkit-datetime-edit {
        color: color('black');
      }
    }
  }

  .quiver-input--visited {
    label {
      background: color('black');
    }
    input::-webkit-datetime-edit {
      color: color('white');
    }
  }

  .quiver-button {
    margin: 16px 0 48px;
    background: color('black');
    border: 2px solid color('white');
    color: color('white');
    &:hover {
      background: color('white');
      color: color('black');
    }
    svg g, svg path {
      fill: color('light-blue', 70)!important;
    }
  }

  .quiver-spinner {
    width: 24px;
    height: 24px;
    margin: 0 auto;
    padding: 0;
  }

  .quiver-alert {
    margin: 0 auto;
    max-width: 400px;
    font-weight: 600;
    text-align: center;
    ul {
      margin: 0;
      padding: 0;
      font-weight: 400;
      list-style-position: inside;
    }
  }
}

.sl-contest-form__description {
  margin: 0 0 16px;
  padding: 0 16px;
  color: color('white');
  text-align: center;
  span {
    text-transform: uppercase;
  }
  ul {
    padding-left: 0;
    li {
      list-style-type: none;
      color: color('white');
      font-size: 14px;
      letter-spacing: .75px;
      line-height: 21px;
      margin: 0;
    }
  }
}

.sl-contest-form__fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sl-contest-form__fields__block {
  padding-top: 24px;
  width: calc(100% - 16px);
  p {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .5px;
    margin: 0;
    color: color('white');
  }
  a {
    text-decoration: none;
  }
}

.sl-contest-form__heading {
  font-size: 12px;
  color: color('white');
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.sl-contest-form__terms {
  max-width: 400px;
  padding-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .sl-contest-form {
    .quiver-button {
      width: 400px;
      margin-top: 24px;
    }
  }
  .sl-contest-form__fields__block {
    width: auto;
    .quiver-input, .quiver-select {
      min-width: 400px;
      input {
        min-width: 400px;
      }
    }
  }
  .sl-contest-form__terms {
    max-width: 400px;
  }
  .sl-contest-form__description {
    margin: 0 0 24px;
  }
}
