.sl-contest-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sl-contest-nav__menu {
  width: 100%;
  margin: 0;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  list-style: none;
  position: relative;
  background: rgba(0,0,0,.6);
  li {
    color: color('white');
    padding: 0 12px;
    a {
      font-family: $futura-dem;
      font-size: 12px;
      letter-spacing: .5px;
      text-decoration: none;
      color: color('white');
      text-transform: uppercase;
      position: relative;
      padding-bottom: 32px;
      cursor: pointer;
      &:hover {
        color: color('light-blue', 50);
      }
      ul {
        display: block!important;
        visibility: hidden;
        position: absolute;
        top: 21px;
        right: 0;
        width: 175px;
        text-align: center;
        background: color('black');
        opacity: 0;
        margin: 0;
        padding: 0 16px;
        list-style: none;
        transition: all 0.5s ease;
        li {
          padding: 8px 16px;
          color: color('white');
        }
      }
    }
  }
}

.sl-contest-nav__menu li a:hover > ul,
.sl-contest-nav__menu li a ul:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.sl-contest-nav__img {
  margin: 48px 0 24px;
}

@media (min-width: $large-mobile) {
  .sl-contest-nav__menu li {
    padding: 0 24px;
    a {
      font-size: 14px;
      letter-spacing: 2px;
      ul {
        top: 24px;
        width: 224px;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .sl-contest-nav__menu li a ul {
    left: -84px;
    right: auto;
    background: rgba(0,0,0,.6);
  }
}
