.sl-contest-regional-detail {
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  padding: 0 16px;
}

.sl-contest-regional-detail__image {
  width: 100%;
  height: 100%;
}

.sl-contest-regional-detail__content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.sl-contest-regional-detail__title {
  margin: 16px 0 8px;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1.2px;
  font-family: $futura-dem;
  color: color('white');
  text-transform: none;
  &:hover {
    color: color('white');
  }
}

.sl-contest-regional-detail__description {
  color: color('white');
  font-size: 14px;
  letter-spacing: .75px;
  line-height: 21px;
  margin: 0;
}

ul.sl-contest-regional-detail__regions {
  padding-left: 0;
  li {
    list-style-type: none;
    color: color('white');
    font-size: 14px;
    letter-spacing: .75px;
    line-height: 21px;
    margin: 0;
  }
}

@media (min-width: $tablet-large) {
  .sl-contest-regional-detail {
    flex-direction: row;
  }
  .sl-contest-regional-detail__image {
    width: auto;
  }
  .sl-contest-regional-detail__content {
    padding: 0 24px;
  }
  .sl-contest-regional-detail__title {
    margin: 0 0 16px;
  }
}
