.sl-contest-card {
  width: 280px;
  margin: 0 16px;
  padding: 80px 0 8px;
  position: relative;
  border-bottom: 2px solid color('black');
  text-decoration: none;
  &:hover {
    cursor: pointer;
    border-bottom: 2px solid color('light-blue', 50);
    transition: all .8s;
    .sl-contest-card__image div:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(34, 131, 221, .2);
      transition: all .8s;
    }
  }
}

.sl-contest-card--large {
  flex: 1;
  width: calc(100% - 32px);
}

.sl-contest-card__links {
  display: flex;
  p {
    margin: 0 0 8px;
    padding-left: 8px;
    color: color('white');
    &:hover {
      color: color('light-blue', 50);
    }
    &:after {
      content: '|';
      padding-left: 8px;
      color: color('white');
    }
    &:first-of-type {
      padding: 0;
    }
    &:last-of-type:after {
      content: '';
    }
  }
}

.sl-contest-card__top {
  font-size: 62px;
  font-family: $futura-dem;
  position: absolute;
  top: 32px;
  color: #2D2D2D;
  &:hover {
    color: #2D2D2D;
  }
}

.sl-contest-card__name {
  margin: 16px 0 8px;
  font-size: 24px;
  letter-spacing: 1.2px;
  font-family: $futura-dem;
  color: color('white');
  text-transform: none;
  &:hover {
    color: color('white');
  }
}

.sl-contest-card__image {
  @include sl-aspect-ratio(12, 9);
  div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(34, 131, 221, 0);
    }
  }
}

@media (min-width: $large-mobile) {
  .sl-contest-card--large .sl-contest-card__image {
    @include sl-aspect-ratio(12, 3);
  }
}
