.sl-cotm-placeholder {
  @include feed-item-box-attributes;

  .sl-cotm-placeholder__title {
    @include feed-category;
    margin-bottom: 27px;
  }

  svg {
    background-image: linear-gradient(90deg, color('light-blue', 5), color('light-blue', 10), color('light-blue', 5));
    background-size: 400% 100%;
    animation: ripple 3s ease infinite;

    &:nth-of-type(1) {
      width: 100%;
      height: 100%;
      margin-bottom: 12px;
    }
    &:nth-of-type(2) {
      width: 70%;
      margin-bottom: 6px;
    }
    &:nth-of-type(3) {
      width: 40%;
      margin-bottom: -4px;
    }
    &:nth-of-type(4) {
      float: right;
      width: 40px;
      margin-bottom: -4px;
    }
  }
}

@keyframes ripple {
  0% { background-position: 0% 50%};
  50% { background-position: 100% 50%};
  100% { background-position: 0% 50%};
}
