.sl-feed-cam-and-forecast__cam-placeholder {
  width: 100%;
  margin-top: 24px;
  padding-top: 56%;
  background: color('blue-gray', 20);
}

.sl-feed-cam-and-forecast__register {
  padding: 24px 16px 16px;
  a {
    color: color('dark-blue', 10);
    font-weight: 600;
    text-decoration: none;
  }
  p {
    margin: 0;
    line-height: 20px;
    color: color('gray', 90);
  }
}

@media(min-width: $tablet-large) {
  .sl-feed-cam-and-forecast__register {
    padding: 24px 16px 8px;
  }
}
