.sl-feed-forecast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  .quiver-collapsible-module {
    margin: 0;
    z-index: 1;
  }
  .quiver-collapsible-module--open {
    .quiver-collapsible-module__content {
      display: block;
      position: absolute;
      margin-top: 8px;
      padding: 8px 0 0;
      max-width: 275px;
      background: color('white');
      box-shadow: -1px 0 12px 1px rgba(200, 200, 200, 0.5);
    }
  }
  .quiver-collapsible-module__header {
    @include feed-category;
    margin-bottom: 0;
    padding: 0;
    cursor: pointer;

    .quiver-chevron {
      padding-left: 8px;
    }
  }
  .quiver-collapsible-module__header-text {
    line-height: 18px;
  }
}

.sl-feed-forecast-header__link {
  font-size: 14px;
  color: color('dark-blue', 10);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.sl-feed-forecast-header__set-region__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sl-feed-forecast-header__set-region__menu__item {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  padding: 8px 16px;
  color: color('gray', 90);
  cursor: pointer;
  &:hover {
    background-color: color('light-blue', 5);
  }
}

.sl-feed-forecast-header__set-region__message {
  padding: 24px 16px 32px;
  p {
    color: color('gray', 90);
    font-size: 14px;
    line-height: 18px;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: color('dark-blue', 20);
    &:hover {
      text-decoration: underline;
    }
  }
}

.sl-feed-forecast-header__set-region__message--list {
  padding: 16px;
  background-color: color('light-blue', 5);
}

@media(min-width: $tablet-large) {
  .sl-feed-forecast-header {
    display: block;
  }
  .sl-feed-forecast__heading__container {
    display: block;
  }
}

@media(min-width: $desktop-small) {
  .sl-feed-forecast-header {
    display: flex;
  }
  .sl-feed-forecast__heading__container {
    display: flex;
  }
}
