.sl-feed-forecast {
  @include feed-item-box-attributes;
  padding: 24px 16px 0;
  margin-top: 8px;
}

.sl-feed-forecast__heading__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .sl-feed-forecast__heading__container__link {
    font-size: 14px;
    color: color('dark-blue', 10);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.sl-feed-forecast__heading {
  margin: 8px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: $futura-surfline;
}

.sl-feed-forecast__observation {
  font-size: 14px;
  color: color('gray', 90);
  margin-bottom: 16px;
}

.sl-feed-forecast__observation__highlights {
  margin: 0;
  padding: 0 0 0 20px;
  li {
    padding: 4px 0;
  }
}

.sl-feed-forecast__conditions {
  a {
    text-decoration: none;
  }
  display: flex;
  justify-content: space-between;

  .sl-forecast-conditions {
    flex: 0 0 calc(50% - 4px);
  }

  .quiver-surf-height {
    font-size: 18px;
  }
}

.quiver-forecaster-profile {
  display: flex;
  align-items: center;
  height: auto;
  width: auto;
  margin: 8px 0;
  br {
    display: none;
  }
}

.quiver-forecaster-profile__image-container {
  height: auto;
  width: auto;
  img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

.quiver-forecaster-profile__forecaster-name {
  display: block;
  font-family: $futura-surfline;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0;
  font-weight: 400;
}

.quiver-forecaster-profile__forecaster-title {
  vertical-align: top;
}

.sl-feed-forecast--loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

@media(min-width: $large-mobile) {
  .sl-feed-forecast {
    margin: 16px 0;
  }
}

@media(min-width: $tablet-large) {
  .sl-feed-forecast__heading {
    margin-bottom: 0;
  }
  .sl-feed-forecast__heading__container__link {
    display: block;
    margin-bottom: 16px;
  }
}

@media(min-width: $desktop-small) {
  .sl-feed-forecast__heading {
    margin-bottom: 8px;
  }
  .sl-feed-forecast__heading__container__link {
    margin-bottom: 0;
  }
}
