.sl-feed-content-block__ad {
  display: block;
  margin: 16px 0;
  .quiver-google-dfp {
    text-align: center;
  }
}

.sl-feed-content-block__row {
  .quiver-feature-card {
    margin-bottom: 0;
  }
  .quiver-google-dfp {
    margin: 24px 0;
    text-align: center;
  }
  .quiver-feature-card__sponsor {
    .quiver-google-dfp {
      margin: 0;
    }
  }
}

@media (min-width: $large-mobile) {
  .sl-feed-content-block__row--curated {
    display: flex;
    flex-wrap: wrap;
    .sl-feed-article {
      width: calc(100% / 3 - 10.7px);
      background: color('white');
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
      h3 {
        letter-spacing: 0;
      }
    }
  }

  .sl-feed-content-block__row--feature-large {
    .sl-feed-article {
      margin: 8px 0;
    }
  }

  .sl-feed-content-block__ad {
    margin: 24px 0 32px;
  }
  .sl-feed-content-block__ad--bottom {
    margin: 32px 0 24px;
  }

  .sl-feed-content-block__row--feature-small {
    display: flex;
    .sl-feed-article {
      &:first-of-type {
        width: calc(100% / 2 - 8px);
        margin-left: 0px;
      }
      &:last-of-type {
        width: calc(100% / 2 - 8px);
        margin-right: 0px;
      }
    }
  }
}
