.sl-forecast-conditions {
  margin-bottom: 16px;
  padding: 8px 0;
  color: color('gray', 90);
  background-color: #f2f7f9;  
  .sl-forecast-am-pm {
    &:hover {
      .quiver-surf-height, .sl-forecast-am-pm__human-relation {
        color: color('gray', 90);
        sup {
          color: color('gray', 90);  
        }
      }
      .sl-forecast-am-pm__rating {
        color: color('white');
      }
      .sl-forecast-am-pm__type {
        color: color('gray', 55);
      }
    }
  }
  .sl-forecast-am-pm--am {
    margin-bottom: 3px;
  }
}

.sl-forecast-conditions__day {
  &:hover { 
    color: color('gray', 90);
  }
  font-weight: 600;
  margin: 0 0 8px 8px;
}