.sl-forecast-am-pm {
  display: flex;

  @each $condition, $colors in $__sl-condition-color-map {
    &--#{$condition} {
      .sl-forecast-am-pm__rating, .sl-forecast-am-pm__indicator {
        background-color: map-get($colors, 'default');
      }
    }
  }
}

.sl-forecast-am-pm__surf-and-type {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px;
}

.sl-forecast-am-pm__type {
  font-size: 14px;
  font-weight: 600;
  color: color('blue-gray', 70);
}

.sl-forecast-am-pm__indicator {
  flex: 0 0 6px;
  height: 96px;
  border-radius: 3px;
}

.sl-forecast-am-pm__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 calc(100% - 22px);
  padding: 8px 8px 0 8px;
}

.sl-forecast-am-pm__rating {
  padding: 1px 4px;
  color: color('white');
  font-family: $futura-surfline;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin-bottom: 4px;
}

.sl-forecast-am-pm__human-relation {
  font-size: 14px;
}
