@import '../_variables.scss';
@import '../_mixins.scss';

.sl-home-cam-go-premium {
  @include sl-inner-cam('~homepage-assets/basic-home-cam.jpg');
  &__close {
    @include sl-home-cam-close(block);
  }
  &-lock {
    margin: 22px 20px 7px;
    padding: 10px 11px;
    background-color: rgba(0,0,0,.25);
    fill: color('white');
    @media(min-width: $desktop-xxl-width) {
      margin: 55px 20px 7px;
    }
  }
  a {
    display: block;
    width: 180px;
    margin: 0 auto;
    padding-top: 12px;
    font-family: $futura-dem;
    color: color('green', 50);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5px;
    cursor: pointer;
  }
  p {
    max-width: 200px;
  }
}
