@import '../_variables.scss';
@import '../_mixins.scss';

.sl-home-cam__add {
  @include sl-inner-cam('~homepage-assets/add-cam.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sl-home-cam__add__close {
  @include sl-home-cam-close(block);
}

.sl-home-cam__add__plus {
  margin-bottom: 7px;
  stroke: color('white');
  cursor: pointer;
}

.sl-home-cam__add__title {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 14px;
  color: color('white');
}

.sl-home-cam__add__text {
  max-width: 230px;
}

.sl-home-cam__add__text__link {
  color: color('white');
}
