@import '../_variables.scss';
@import '../_mixins.scss';

.sl-home-cam-select {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  background: color('white');
  &__back {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9;
    &-icon {
      fill: color('light-blue', 50);
    }
  }
  &__inner {
    position: absolute;
    bottom: 5px;
    margin: 0 auto;
    width: calc(100% - 6px);
    @media(min-width: $desktop-xxl-width) {
      bottom: 48px;
    }
    .quiver-select {
      width: 266px;
      height: 45px;
      margin: 0 auto;
      display: block;
      background: transparent;
      svg {
        top: 15px;
      }
      select {
        position: relative;
        height: 45px;
        padding: 0 12px;
        font-size: 12px;
      }
    }
    .quiver-button {
      width: 266px;
      height: 45px;
      margin: 15px auto;
      padding: 0 20px;
      font-size: 14px;
      line-height: 14px;
      &--loading svg {
        max-width: 20px;
      }
    }
  }
}
