@import '../_variables.scss';
@import '../_mixins.scss';

.sl-home-cam-player {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
  background: color('black');
  &__camera {
    width: 100%;
    height: 100%;
    .quiver-cam-player__player__live {
      display: none;
    }
  }
  &__close {
    @include sl-home-cam-close(none);
  }
  &__home,
  &__spot,
  .quiver-cam-player__host-ad,
  .jw-controlbar-left-group, // hide timer
  .jw-controlbar-center-group, // hide live broadcast message
  .jwplayer.jw-flag-live .jw-icon, // hide pause button in middle of player (live flag displays loading spinner)
  .jw-icon-volume { // hide volume icon
    display: none;
  }
  .jwplayer.jw-flag-live .jw-display-icon-display .jw-icon { // only show play/pause
    display: inline-block;
  }
  &:hover .sl-home-cam-player__close,
  &:hover .sl-home-cam-player__home,
  &:hover .sl-home-cam-player__spot {
    display: block;
  }
  &:hover .jwplayer.jw-flag-live .jw-icon-fullscreen { // display only full-screen icon on hover
    display: inline-block;
    top: 12px;
  }
  .jw-background-color { // hide gradient behind icon
    background: rgba(0,0,0,0)!important;
  }
  &:hover {
    &:before {
      position: absolute;
      content: ' ';
      background: rgba(0,0,0,.3);
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
    .jw-controls {
      z-index: 2;
    }
  }
  &__home {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.2);
    cursor: pointer;
    z-index: 9;
    &-icon {
      margin: 6px 0;
      stroke: color('white');
      fill: color('white');
    }
    &:hover { // tooltip
      &:before {
        position: absolute;
        content: 'Change your homecam';
        font-size: 14px;
        line-height: 30px;
        color: color('black');
        background: color('white');
        width: 170px;
        left: 35px;
        top: -3px;
        border-radius: 2px;
      }
      &:after {
        width: 0;
        height: 0;
        content: '';
        position: absolute;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid color('white');;
        left: 30px;
        top: 7px;
      }
    }
  }
  &__spot {
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: -10px;
    .quiver-favorite {
      border: none;
      &__item {
        background: transparent;
        &:hover {
          background: transparent;
        }
        &__wrapper {
          text-align: left;
          max-width: 220px;
          line-height: 14px;
          span {
            color: white;
            line-height: 14px;
            font-weight: 600;
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 160px;
            display:inline-block;
            vertical-align: top;
          }
        }
      }
      &:hover {
        box-shadow: none;
        border: none;
      }
    }
  }
  &__ff:hover:before {
    display: none;
  }
}
