@import '../_mixins.scss';

.sl-home-cam {
  display: none;
  @media(min-width: 768px) { // not using tablet variable (769px) - cam displays on ipad
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 294px;
    height: 164px;
    padding: 3px;
    background-color: color('white');
    z-index: 9999;
    box-shadow: 0px 7px 15px 0px rgba(0,0,0, .37);
    text-align: center;
  }
  @media(min-width: $desktop-xxl-width) {
    width: 400px;
    height: 225px;
  }
  &--minimized {
    background: color('light-blue', 70);
    width: 40px;
    height: 25px;
    text-align: center;
    padding-top: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    cursor: pointer;
  }
  &--hidden {
    display: none;
  }
  p {
    margin: 0 auto;
    color: color('white');
    line-height: 20px;
  }
  .quiver-cam-error__message {
    font-size: 12px;
    padding: 0 20px;
    width: calc(100% - 40px);
    line-height: 17px;
    margin-top: 13px;
    svg {
      display: none;
    }
    &__subtext {
      padding: 0 0px;
    }
  }
  .quiver-cam-nighttime__message {
    margin-top: 0px;
    width: calc(100% - 20px);
    font-size: 16px;
    text-align: center;
    padding: 0 10px;
    letter-spacing: 1.2px;
    &__subtext {
      margin-top: 10px;
      font-size: 13px;
      font-family: $source-sans-pro;
      letter-spacing: -0.1px;
      a {
        color: color('green', 50);
        text-decoration: none;
      }
    }
  }
}
