/** @prettier */

.sl-multi-cam-regwall {
  display: flex;
  flex-flow: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);

  .sl-multi-cam-regwall__outer-circle {
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: color('white');
    border: 1px solid color('dark-blue', 10);
  }
  .sl-multi-cam-regwall__inner-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: color('dark-blue', 10);
  }

  .quiver-multi-cam-icon {
    width: 20px;
    height: 14px;
    g {
      fill: color('white');
    }
  }

  .sl-multi-cam-regwall__header {
    width: 315px;
    margin: 16px 0;
    color: color('gray', 90);
    font-size: 22px;
    font-family: $futura-dem;
    text-align: center;
    letter-spacing: 0.62px;
    line-height: 29px;
  }

  .quiver-button {
    font-size: 12px;
    width: 150px;
    height: 40px;
    background: color('dark-blue', 10);
    border-color: color('dark-blue', 10);
    letter-spacing: 0.76px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    &:hover,
    &:focus {
      background: color('light-blue');
      border-color: color('light-blue');
    }
  }

  .sl-multi-cam-regwall__disclaimer {
    color: color('gray', 90);
    font-size: 14px;
    font-family: $source-sans-pro;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.44px;
    margin: 8px 0;
  }

  .sl-multi-cam-regwall__link-container {
    color: color('gray', 90);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.5px;
  }

  @media (min-width: $tablet-large) {
    .quiver-button {
      width: 204px;
      height: 50px;
      font-size: 16px;
    }
    .sl-multi-cam-regwall__header {
      margin-bottom: 32px;
    }
    .sl-multi-cam-regwall__disclaimer {
      margin: 16px 0 32px 0;
    }
  }
}

.sl-multi-cam__cams--triple {
  .sl-multi-cam-regwall__header {
    margin: 8px 0;
    font-size: 18px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .sl-multi-cam-regwall__outer-circle {
    display: flex;
  }
}
@media (min-width: $desktop-width) and (max-width: $desktop-large-width) {
  .sl-multi-cam__cams--triple {
    .sl-multi-cam-regwall__header {
      margin: 8px 0;
    }
    .sl-multi-cam-regwall__disclaimer {
      margin: 8px 0 16px 0;
    }
  }
}
