/** @prettier */

@import '~@surfline/quiver-themes/stylesheets/surfline/mixins/aspectRatio.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/mixins/btnReset.scss';
@import '../mixins';
@import '../multiCamColorMap.scss';

.sl-multi-cam {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  max-width: calc(1.76 * 100vh - 85px);

  &--triple-cam {
    max-width: calc(2.7 * 100vh - 135px);
  }

  .sl-multi-cam__rail-toggle {
    position: absolute;
    height: 30px;
    top: 9px;
    right: 30px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    span {
      color: color('gray', 90);
      font-size: 8px;
      font-family: $source-sans-pro;
      font-weight: 600;
      letter-spacing: 0px;
      text-transform: uppercase;
      margin-left: 2px;
    }
    .quiver-close-icon {
      stroke-width: 1px;
      stroke: color('black');
    }
  }


  .sl-multi-cam-container--upsell {
    .quiver-cam-upsell {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(1, 29, 56, 0.7);
    }
    .quiver-cam-player__upsell-countdown {
      left: 0;
      right: 0;
    }
  }

  .quiver-forecaster-profile {
    display: flex;
    height: 100%;
    width: unset;
    height: unset;
    padding-top: 32px;
    @media (min-width: $desktop-large) {
      border-top: none;
    }
    .quiver-forecaster-profile__details-container {
      display: flex;
      img {
        height: 40px;
        width: 40px;
        margin-right: 12px;
        border-radius: 50%;
      }
      .quiver-forecaster-profile__details-container__forecaster {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .quiver-forecaster-profile__details-container__forecaster-name {
          padding: 0;
          font-size: 16px;
          letter-spacing: 0.4px;
          font-family: $futura-dem;
        }
        .quiver-forecaster-profile__details-container__forecaster-title {
          font-size: 14px;
          color: color('gray', 90);
          /* IE 11 */
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            max-width: 100px;
          }
        }
      }
    }
    .quiver-forecaster-profile__update-container {
      display: flex;
      flex: 1;
      flex-direction: column;
      text-align: right;
      align-self: flex-end;
      font-size: 14px;
      color: color('gray', 50);
      .quiver-forecaster-profile__update-container__last-update--expired {
        color: color('bright-red');
      }
      .quiver-forecaster-profile__update-container__last-update-description {
        display: none;
        @media (min-width: $small-desktop) {
          display: inline;
        }
      }
      .quiver-forecaster-profile__update-container__next-update {
        display: none;
        @media (min-width: $small-desktop) {
          display: block;
          padding-top: 8px;
        }
      }
    }
  }

}

.sl-multi-cam-page--fullscreen {
  .sl-cam-header-cta {
    display: none;
  }
  .sl-multi-cam {
    overflow: hidden;
  }
}

.quiver-ad-player {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.sl-multi-cam__controls {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  border-bottom: 1px solid rgba(150, 169, 178, 0.24);
  height: 50px;
  order: 3;
  background-color: color('blue-gray', 10);
  justify-content: center;

  .sl-multi-cam__controls--left,
  .sl-multi-cam__controls--right {
    display: flex;
    align-items: center;
    padding: 0 32px;

    @media (max-width: $large-mobile) {
      padding: 0 5px;
    }
  }
  .sl-multi-cam__controls--left {
    border-right: 1px solid rgba(150, 169, 178, 0.24);
    justify-content: flex-end;
  }
  .sl-multi-cam__controls--right {
    justify-content: flex-start;
  }
}

.sl-multi-cam-container::after {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 56.25%;
}

.sl-multi-cam-container--triple-cam::after {
  padding-top: 37.6%;
}

.sl-multi-cam-container--triple-cam--fullscreen {
  .sl-multi-cam__cam-container {
    position: relative;
  }
}

.sl-multi-cam-container {
  width: 100%;
  margin: 0;
  background-color: color('blue-gray', 10);
  order: 1;

  .sl-cam-still {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: none;
    background-size: 100%;
  }

  .sl-multi-cam-paywall {
    position: absolute;
    background-color: rgba(1, 29, 56, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    .sl-multi-cam-paywall__link {
      height: 18px;
      color: color('white');
      font-size: 14px;
      text-decoration: underline;
      letter-spacing: 0.8px;
      margin: 36px 0 0 0;
    }

    .sl-multi-cam-paywall__header {
      width: 425px;
      color: rgb(255, 255, 255);
      font-size: 25px;
      text-align: center;
      letter-spacing: 0.9px;
      line-height: 35px;
      margin: 16px 0 32px 0;
    }

    .quiver-button {
      width: 170px;
      height: 50px;
      border-radius: 0px;
      background-color: color('green', 50);
      border-color: color('green', 50);
      font-family: Futura-Dem;
      font-size: 16px;
      letter-spacing: 0.76px;
      padding: 0 16px;
      &:hover {
        background-color: color('green', 70);
        border-color: color('green', 70);
      }
    }
  }

  .quiver-cam-timeout {
    display: none;
  }

  .sl-multi-cam__cams--no-timeout {
    .quiver-cam-timeout {
      display: none;
    }
  }

  .sl-multi-cam__cams--timed-out {
    .quiver-cam-timeout {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 3, 54, 0.7);
      display: block;

      .quiver-cam-timeout__message button:focus {
        border-top: 2px solid color('light-blue', 70);
      }
    }
  }

  .sl-multi-cam__cams {
    display: flex;
    margin: 0;
    position: absolute;
    width: 100%;
  }

  .sl-multi-cam__cams_cam {
    width: 100%;
    height: 100%;
    position: absolute;
    &:hover {
      .sl-cam-overlay__conditions {
        display: flex;
      }
    }
  }

  .sl-multi-cam__loading-gradient {
    background-color: #eee;
    background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 100%;
    background-size: 200px 100%;
  }

  .sl-multi-cam__cam {
    @include aspect-ratio(16, 9);
    @include btn-reset();
    display: flex;
    width: 100%;

    &:focus {
      outline: none;
      @each $condition, $colors in $sl-multi-cam-color-map {
        .sl-multi-cam__cams_overlay--#{$condition} {
          outline: 5px auto map-get($colors, 'default');
          outline-offset: -4px;
        }
      }
    }

    &:hover {
      .sl-cam-overlay__conditions {
        opacity: 1;
      }
      .sl-cam-overlay__top {
        opacity: 1;
      }
    }

    .jwplayer {
      &:focus {
        outline: none;
      }
    }
  }

  .sl-multi-cam__cam-container {
    position: relative;
    background: #e5eef7;
  }

  .sl-multi-cam__cam-container--dragging {
    z-index: 99999;
  }

  .sl-multi-cam__cam-container--fullscreen {
    position: absolute !important;
    width: 100% !important;
    height: 100%;
    z-index: 99999;
    top: 0 !important;
    right: 0 !important;
  }

  .sl-multi-cam__cam-container--no-drag {
    transform: translate(0) !important;
  }
  .sl-multi-cam__cam-container--draggable {
    .sl-cam-overlay {
      cursor: move;
    }
  }

  .sl-multi-cam__cams--single {
    .sl-multi-cam__cam-container {
      flex-basis: 100%;
    }
  }
  .sl-multi-cam__cams--double {
    .sl-multi-cam__cam-container {
      width: 100%;
      margin: 1px;
    }
    .sl-multi-cam__cam-container--2 {
      width: 33.333%;
      position: absolute;
      top: 5%;
      right: calc(5% * (9 / 16));
    }
  }
  .sl-multi-cam__cams--triple {
    .sl-multi-cam__cam-container {
      width: calc(33.333% - 2px);
      margin: 1px;
      position: absolute;
    }
    .sl-multi-cam__cam-container--1 {
      position: unset;
      width: unset;
      flex-basis: calc(66.666% - 2px);
      margin: 1px;
    }
    .sl-multi-cam__cam-container--2 {
      top: 0;
      right: 0;
    }
    .sl-multi-cam__cam-container--3 {
      right: 0;
      bottom: 0;
    }
  }
  .sl-multi-cam__cams--quad {
    flex-flow: row wrap;
    .sl-multi-cam__cam-container {
      flex-basis: calc(50% - 2px);
      margin: 1px;
    }
  }

  .sl-multi-cam__cams--nintuple {
    flex-flow: row wrap;
    .sl-multi-cam__cam-container {
      width: calc(33.3333% - 2px);
      margin: 1px;
    }
    .quiver-cam-error__message__text {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .sl-cam-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .sl-multi-cam__cam--primary {
    &:focus {
      outline: none;
    }
  }

  @each $condition, $colors in $sl-multi-cam-color-map {
    .sl-multi-cam__cam--primary {
      .sl-cam-overlay--#{$condition} {
        outline: 4px solid map-get($colors, 'default');
        outline-offset: -4px;
      }
    }
  }

  @media (max-width: $large-mobile) {
    .sl-multi-cam__controls {
      justify-content: space-between;
      width: unset;
      border: unset;
    }
    .sl-multi-cam-cam-icon__container {
      margin: 4px;
    }
    .sl-multi-cam__controls--left,
    .sl-multi-cam__controls--right {
      border: none;
      padding: 0;
      flex-basis: unset;
    }
    .sl-multi-cam__cams {
      margin: 0;
    }
    .quiver-hover-menu {
      outline: none;
    }
    .quiver-hover-menu__menu {
      position: absolute;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    }
    .sl-multi-cam-paywall {
      .sl-multi-cam-paywall__link {
        font-size: 10px;
        margin: 16px 0 0 0;
      }
      .sl-multi-cam-paywall__header {
        font-size: 20px;
        line-height: 20px;
        width: unset;
      }
    }
  }
}

.sl-cam-header-cta {
  order: 2;
  padding: 8px 0 24px 0;
}

.quiver-google-dfp {
  order: 4;
}

@media (max-width: $desktop-width) {
  .sl-multi-cam {
    background: color('blue-gray', 10);
  }
}

@media (min-width: $tablet-large) {
  .sl-multi-cam {
    .sl-multi-cam__rail-toggle {
      display: none;
    }
    .sl-cam-header-cta {
      background: color('white');
      order: 1;
      padding: 16px 0;
    }
    .sl-multi-cam-container {
      order: 2;
    }
    .quiver-google-dfp {
      order: unset;
    }
  }
  .sl-multi-cam-page--desktop-ad {
    .sl-multi-cam-container {
      padding: 0;
    }
  }
}

@media (max-width: $tablet-large) {
  .sl-multi-cam-container {
    padding: 48px 0 0 0;
    margin: 0;
  }
}

@media (max-width: 650px) {
  .sl-multi-cam {
    .sl-multi-cam__cams--double,
    .sl-multi-cam__cams--triple,
    .sl-multi-cam__cams--quad,
    .sl-multi-cam__cams--nintuple {
      .quiver-cam-error__message__text {
        font-size: 9px;
      }
    }
  }
}
