.sl-popular-links-list__title {
  margin: 0;
  padding-top: 16px;
  font-size: 14px;
  font-weight: 600;
  font-family: $source-sans-pro;
  letter-spacing: .5px;
  line-height: 24px;
}

.sl-popular-links-list__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sl-popular-links-list__item {
  display: inline;
}

.sl-popular-links-list__link {
  font-size: 14px;
  color: color('gray', 90);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
