.sl-popular-links {
  margin-bottom: 32px;
}

.sl-popular-links__title {
  margin-bottom: 8px;
  text-align: center;
  font-size: 24px;
  letter-spacing: .5px;
  font-weight: normal;
  text-decoration: none;
}

.sl-popular-links__locations {
  display: flex;
  flex-wrap: wrap;
}

.sl-popular-links__location {
  background: color('white');
  flex: 1 0 100%;
  margin: 8px 0;
}

.sl-popular-links__location-title {
  padding: 16px 16px 0;
  font-size: 21px;
  line-height: 24px;
  font-weight: normal;
  letter-spacing: .5px;
}

.sl-popular-links__location-title__link {
  text-decoration: none;
  color: color('gray', 90);
  &:hover {
    color: color('light-blue', 50);
  }
}

.sl-popular-links__location-title--img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
  text-align: center;
  background-position: center center;
  background-size: cover;
  position: relative;
  &:after {
    content: '';
    background: rgba(0,0,0,.2);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  a {
    flex: 1 1 140px;
    display: flex;
    align-items: center;
    color: color('white');
    z-index: 1;
    &:hover {
      color: color('white');
    }
  }
}


.sl-popular-links__location__content {
  padding: 0 16px 16px;
}

.sl-popular-links__travel {
  display: block;
  padding-top: 16px;
  font-size: 14px;
  color: color('dark-blue', 10);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@media(min-width: $tablet-width) {
  .sl-popular-links__location {
    flex: 1 0 calc(50% - 16px);
    margin: 8px;
  }
}

@media(min-width: 1150px) {
  .sl-popular-links__location {
    flex: 1 0 calc(25% - 32px);
  }
}
