.premium-landing-section {
  display: flex;
  justify-content: center;
  margin-bottom: 144px;
}

.premium-landing-section--with-background {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  margin-top: 16px;
}

.premium-landing-section--content-top {
  margin-top: 0;
  padding-bottom: 40%;
  background-position: center bottom;
}

.premium-landing-section button {
  cursor: pointer;
  background-color: color('green', 50);
  border-color: color('green', 50);
  &:hover, &:focus {
    background-color: color('green', 50);
    border-color: color('green', 50);
  }
}

.premium-landing-section__container {
  max-width: 1440px;
  display: flex;
  margin-top: 16px;
}

.premium-landing-section__container--with-background {
  padding-top: 24%;
}

.premium-landing-section__container--content-top {
  margin-top: 0;
  padding: 0 0 31% 0;
}


.premium-landing-section__container--center {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.premium-landing-section__container--left {
  margin-left: 5%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.premium-landing-section__container--center .premium-landing-section__copy {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.premium-landing-section__icon {
  margin-bottom: 16px;
}

.premium-landing-section__title {
  margin-bottom: 24px;
  color: color('white');
  font-family: $futura-surfline;
  font-size: 30px;
  line-height: 1.33;
  letter-spacing: 4.5px;
}

.premium-landing-section__container--center .premium-landing-section__title {
  max-width: 250px;
  text-align: center;
}

.premium-landing-section__container--left .premium-landing-section__title {
  max-width: 288px;
}

.premium-landing-section__text {
  max-width: 270px;
  margin-bottom: 40px;
  color: color('white');
  font-family: $source-sans-pro;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 1.6px;
}

.premium-landing-section__container--center .premium-landing-section__text {
  text-align: center;
}

.premium-landing-section .premium-landing-cta {
  margin-bottom: 40px;
}

.premium-landing-section__creative {
  display: flex;
  z-index: 1;
}

.premium-landing-section__container--center .premium-landing-section__creative {
  align-items: center;
  margin: 0 5%;
  img, video {
    margin: 0%;
    max-width: 100%;
  }
}

.premium-landing-section__container--left .premium-landing-section__creative {
  align-items: flex-end;
  img {
    margin-left: 10%;
    max-width: 90%;
  }
}

.premium-landing-section__learnmorebuoys {
  margin: -10px 0px 16px 0px;
  font-family: $futura-surfline;
  font-size: 14px;
  line-height: 1.61;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
  display: block;
}

@media (min-width: $tablet-width) {
  .premium-landing-section {
    margin-bottom: 144px;
  }

  .premium-landing-section__container--left {
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .premium-landing-section__icon {
    margin-bottom: 24px;
  }

  .premium-landing-section__title,
  .premium-landing-section__container--center .premium-landing-section__title,
  .premium-landing-section__container--left .premium-landing-section__title {
    max-width: 420px;
    margin-bottom: 40px;
    font-size: 36px;
    letter-spacing: 5.4px;
  }

  .premium-landing-section__text {
    max-width: 500px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 2px;
  }

  .premium-landing-section__container--center .premium-landing-section__creative {
    margin: 0 0 -5% 0;
    video {
      margin: 0 10%;
      max-width: 80%;
    }
    img {
      margin: 0%;
      max-width: 100%;
    }
  }

  .premium-landing-section__container--left .premium-landing-section__creative {
    margin: 0 0 -5% 0;
    img {
      margin-left: 20%;
      max-width: 80%;
    }
  }
}
