.premium-benefits-creative {
  display: flex;
  justify-content: center;
  width: 80vw;
}

.premium-benefits-creative__section__text, .premium-benefits-creative__section__free, .premium-benefits-creative__section__premium {
  display: flex;
  flex-direction: column;
  background-color: color('white');
  font-family: $futura-surfline;
  margin-right: 1%;
  padding-bottom: 20px;
}
.premium-benefits-creative__section__text {
  flex: 0 0 33.3%;
}
.premium-benefits-creative__section__free {
  flex: 0 0 33.3%;
}
.premium-benefits-creative__section__premium {
  flex: 0 0 33.3%;
}

.premium-benefits-creative__text__div {
  margin: 10px 0px 10px 0px;
  align-self: center;
  font-size: 11px;
  color: #5a5a5a;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  height: 24px;
  width: 60%;
  text-align: right;
}

.premium-benefits-creative__free__div {
  margin: 10px 0px 10px;
  align-self: center;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.premium-benefits-creative__premium__div {
  margin: 10px 0px 10px;
  align-self: center;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.premium-benefits-creative__dash {
  background-color: #42a5fc;
  width: 28px;
  height: 2px;
  align-self: center;
  margin-bottom: 26px;
}

.premium-benefits-creative__header {
  margin: 30px 0px 26px;
}

.premium-benefits-creative__header_text {
  margin: 10px 10px 0px 10px;
  align-self: center;
  font-weight: bold;
  font-size: 13px;
  font-family: $source-sans-pro;
  letter-spacing: 2.3px;
}

.premium-benefits-creative__container {
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .premium-benefits-creative {
    width: unset;
  }
  .premium-benefits-creative__section__text, .premium-benefits-creative__section__free, .premium-benefits-creative__section__premium {
    min-width: 203px;
    flex: unset;
  }
  .premium-benefits-creative__text__div {
    margin: 10px 40px 20px 0;
    font-size: 13px;
    align-self: flex-end;
    height: unset;
    width: unset;
  }
  .premium-benefits-creative__free__div {
    margin: 10px 0px 15px;
    height: unset;
    display: unset;
    justify-content: unset;
    align-items: unset;
  }
  .premium-benefits-creative__premium__div {
    margin: 10px 0px 13px;
    height: unset;
    display: unset;
    justify-content: unset;
    align-items: unset;
  }
}
