.premium-landing-header {
  height: 504px;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.premium-landing-header__container {
  display: flex;
  height: 90%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 5%;
  font-family: $futura-surfline;
  color: color('white');
}

.premium-landing-header__title {
  width: 273px;
  padding: 144px 0 0 0;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 1.31;
  letter-spacing: 3.3px;
}

.premium-landing-header__container .premium-landing-cta {
  flex: 1 1 100px;
}

.premium-landing-header__bottom {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4.5px;
  font-size: 10px;
}

.premium-landing-header__text {
  margin-bottom: 8px;
}

.premium-landing-header__arrow {
  path {
    stroke: color('green', 50)
  }
}

@media (min-width: $tablet-width) {
  .premium-landing-header {
    height: 95vh;
  }

  .premium-landing-header__container {
    margin: 0 14%;
  }

  .premium-landing-header__title {
    width: 509px;
    margin-bottom: 24px;
    font-size: 70px;
    line-height: 1.26;
    letter-spacing: 6.5px;
    padding: 16vh 0 0 0;
  }

  .premium-landing-header__bottom {
    font-size: 14px;
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
  }

  .premium-landing-header button {
    cursor: pointer;
    background-color: color('green', 50);
    border-color: color('green', 50);
    height: 96px;
    width: 256px;
    font-size: 1.3em;
    &:hover, &:focus {
      background-color: color('green', 50);
      border-color: color('green', 50);
    }
  }
}
