
/* Premium Landing Features */
.premium-landing-features {
  margin-bottom: 80px;
}

.premium-landing-features__container {
  margin: -30px auto 0 auto;
  max-width: 432px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.premium-landing-features__feature {
  cursor: pointer;
  text-decoration: none;
  height: 64px;
  max-width: 96px;
  padding: 24px;
  background-color: color('dark-blue', 50);
  display: flex;
  flex: 1 1 96px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: color('light-blue', 90);
    .premium-landing-features__name {
      color: color('white');
    }
  }
}

.premium-landing-features__icon {
  margin-bottom: 16px;
}

.premium-landing-features__name {
  color: color('white');
  font-family: $futura-surfline;
  font-size: 10px;
  line-height: 1.41;
  letter-spacing: 1.9px;
  text-transform: uppercase;
  white-space: pre-wrap;
}


@media (min-width: $tablet-width) {
  .premium-landing-features {
    margin-bottom: 10%;
  }

  .premium-landing-features__container {
    max-width: 1024px;
  }

  .premium-landing-features__feature {
    max-width: 221px;
    height: 128px;
    flex: 1 1 221px;
  }

  .premium-landing-features__name {
    max-width: 124px;
    font-size: 13px;
    line-height: 1.35;
    letter-spacing: 4px;
  }
}
