/* Custom Dots */
@mixin slDotWidth {
  width: 30px;
  @media (min-width: $large-mobile) {
    width: 48px;
  }
}
@mixin slDotPseudo($opacity) {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 2px;
  opacity: $opacity;
  background: color('white');
}

.sl-promobox-slides {
  margin: 0 auto;
  .slick-track {
    background: color('white');
  }
  /* Custom Arrows */
  .slick-prev,
  .slick-next {
    height: 40px;
    width: 40px;
    z-index: 97;
  }
  .slick-prev {
    left: 0;
    &:before {
      content: url('~homepage-assets/left-arrow.svg');
    }
  }
  .slick-next {
    right: 0;
    &:before {
      content: url('~homepage-assets/right-arrow.svg');
    }
  }
  .slick-dots {
    display: none;
  }
}
.sl-promobox-slides__slide {
  overflow: hidden;
  text-decoration: none;
  width: 100%;

  &.slick-active {
    z-index: 2;
  }

  .quiver-premium-ribbon-icon {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 16px;
    height: 30px;
  }
}
.sl-promobox-slides__slide__img__container {
  position: relative;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    min-height: 100%;
  }
}
.sl-promobox-slides__slide__title__container {
  margin: 0;
  padding: 16px 16px 24px;
}
.sl-promobox-slides__slide__superheader {
  display: flex;
  color: color('gray', 90);
  font-size: 12px;
  font-family: $futura-surfline;
  padding-bottom: 4px;
  &:hover {
    color: color('gray', 90);
  }
}

.sl-promobox-slides__slide__title {
  width: calc(100% - 32px);
  color: color('gray', 90);
  font-size: 21px;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

@media (min-width: $large-mobile) {
  .sl-promobox-slides {
    margin-bottom: 8px;
    .slick-dots {
      bottom: 16px;
      li {
        margin: 0 2px;
        height: 8px;
        width: 40px;
        @media (min-width: $large-mobile) {
          width: 60px;
        }
        &.slick-active button:after {
          transition: width 4.5s linear;
          @include slDotWidth;
        }
      }
      button {
        @include slDotWidth;
        height: 100%;
        &:before {
          @include slDotPseudo(0.5);
          @include slDotWidth;
        }
        &:after {
          @include slDotPseudo(1);
          width: 0;
        }
      }
    }
  }
  .sl-promobox-slides__slide {
    .quiver-premium-ribbon-icon {
      left: 24px;
      width: 24px;
    }
  }
  .sl-promobox-slides__slide__title__container {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: calc(100% - 48px);
    padding: 32px 24px 40px;
    background: rgba(0, 0, 0, 0.3);
  }
  .sl-promobox-slides__slide__title__container--superheader {
    padding-top: 40px;
  }
  .sl-promobox-slides__slide__superheader {
    position: absolute;
    top: 24px;
    left: 24px;
    color: color('white');
  }
  .sl-promobox-slides__slide__title {
    font-size: 32px;
    line-height: 36px;
    font-size: 24px;
    line-height: 1.25;
    color: color('white');
    &:hover {
      color: color('white');
    }
  }
}

@media (min-width: $tablet-large) {
  .sl-promobox-slides {
    margin: 24px auto 8px;
    .slick-prev {
      left: 8px;
    }
    .slick-next {
      right: 8px;
    }
  }
  .sl-promobox-slides__slide {
    height: 360px;
  }
  .sl-promobox-slides__slide__title__container {
    width: calc(100% - 48px);
  }
}

@media (min-width: $desktop-small) {
  .sl-promobox-slides__slide {
    height: 440px;
    .quiver-premium-ribbon-icon {
      left: 32px;
    }
  }
  .sl-promobox-slides__slide__title__container {
    padding: 24px 32px 48px;
    width: calc(100% - 64px);
  }
  .sl-promobox-slides__slide__title__container--superheader {
    padding: 40px 32px 48px;
  }
  .sl-promobox-slides__slide__superheader {
    left: 32px;
  }
  .sl-promobox-slides__slide__title {
    font-size: 28px;
  }
}

@media (min-width: $desktop-large) {
  .sl-promobox-slides {
    .slick-prev {
      left: 24px;
    }
    .slick-next {
      right: 24px;
    }
  }
  .sl-promobox-slides__slide {
    height: 675px;
    .quiver-premium-ribbon-icon {
      height: 40px;
      width: 32px;
    }
  }
  .sl-promobox-slides__slide__title__container {
    padding: 32px 32px 64px;
  }
  .sl-promobox-slides__slide__title__container--superheader {
    padding: 48px 32px 64px;
  }
  .sl-promobox-slides__slide__superheader {
    top: 32px;
  }
  .sl-promobox-slides__slide__title {
    font-size: 42px;
  }
}
