@media(min-width: $large-mobile) {
   .sl-promobox-cards {
    display: flex;
    flex-wrap: wrap;
    .sl-feed-article {
      width: calc(100%/3 - 10.7px);
      background: color('white');
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
      h3 {
        letter-spacing: 0;
      }
    }
  }
}
