@import '../../styles/variables';

.mapTile {
  display: none;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 5 / 4 / 5;
  margin: 24px 8px 24px 0;
}

.mapTileError {
  background-color: color('gray', 30);
}

/* Desktop */
@media (min-width: $desktop-width) {
  .mapTile {
    display: flex;
  }
}
