.sl-surf-check-counter {
  appearance: none;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  bottom: 0;
  .quiver-notification-dialog {
    border-radius: 4px;
    margin-bottom: 0;
    box-shadow: 0px 2px 4px 0px rgba(color('black'), 0.5);
    cursor: pointer;
    height: calc(170px - 16px);
    width: 100%;
    min-width: auto;
    padding: 16px 16px 0 16px;
    @media (min-width: $tablet-width) {
      padding: 16px;
      // subtract padding for correct height/width
      height: calc(170px - 32px);
    }
  }
  .quiver-notification-dialog--small {
    border-radius: 0;
    box-shadow: 0px 2px 4px 0px rgba(color('black'), 0.5);
    height: 50px;
    margin: 0;
    padding: 0;
    width: 100%;

    @media (max-width: $tablet-width) {
      .sl-surf-check-counter__chevron {
        right: 12px;
      }
    }
  }
  .quiver-notification-dialog .quiver-button {
    height: 46px;
    padding: 11px;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 1px;
    border: 2px solid color('dark-blue', 10);
    background-color: color('dark-blue', 10);
    margin: 0 16px;
    width: calc(100% - 32px);
    &:hover {
      background-color: color('dark-blue', 30);
      border: 2px solid color('dark-blue', 30);
    }
    @media (min-width: $tablet-width) {
      width: 327px;
      margin: auto;
    }
  }
  .sl-surf-check-counter__chevron {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    @media (min-width: $tablet-width) {
      right: 100px;
    }
  }
  .quiver-chevron svg {
    height: 8px;
    width: 16px;
  }
}
.sl-surf-check-counter__box-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 30px;
  padding: 0 0 0 8px;
  width: 100%;
  position: relative;
  @media (min-width: $tablet-width) {
    align-self: center;
    justify-content: center;
    padding: 0px;
  }
}
.sl-surf-check-counter__box-text {
  color: color('gray', 80);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 10px 16px;
  @media (min-width: $tablet-width) {
    text-align: center;
  }
}
.sl-surf-check-counter__box-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  padding: 5px 8px 0 8px;
}
.sl-surf-check-counter__count {
  background-color: color('light-blue', 5);
  border: 1px solid color('blue-gray', 20);
  border-radius: 4px;
  justify-content: center;
  padding: 4px 8px;
  span {
    font-size: 14px;
    font-weight: 600;
    color: #171717;
  }
}
