@import '../../common/themes/main.scss';

.offer-loading {
  padding: 0 16px;
  background-color: #f7f2f9;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.offer-loading .offer-loading__message {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  font-family: secondaryFont($companyTheme);
}
.offer-loading .quiver-spinner {
  width: 34px;
  height: 38px;
}

@media (min-width: $tablet-large) {
  .offer-loading {
    height: 525px;
  }
}
