.sl-verify-email-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .quiver-alert--error {
    margin-top: 20px;
  }
}

.sl-verify-email-wrapper .sl-verify-email-header {
  padding: 18px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sl-verify-email-header__title {
  text-align: center;
  margin: 27px 0 0 0;
}

.sl-verify-email-header__subtitle {
  text-align: center;
  margin: 8px 0 0 0;
}
.sl-verify-email-wrapper .sl-verify-email-content {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.sl-verify-email-wrapper .sl-verify-email-footer {
  padding: 32px 0;
}

.sl-verify-email-footer__continue {
  text-decoration: none;
}
