@import '../../common/themes/main.scss';

.gift-purchase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .funnel-left-rail {
    .rail-logo {
      padding-top: 16px;
    }
  }
}

.left-rail {
  flex: 1 0 100%;
}

.gift-purchase__content {
  padding: 16px;
  margin: 0 auto;
  max-width: 410px;
  background: color('white');
}

.gift-purchase__loading {
  padding: 30px;
  margin: 0 auto;
  max-width: 410px;
  background: color('white');
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.gift-purchase .mobile-rail-cta {
  padding: 16px 0px 8px 0px;
}
.gift-purchase .mobile-rail-cta .gift-mobile-rail-cta__content {
  height: 60px;
  background-size: 27%
}

.gift-purchase-success__button .quiver-button {
  background-color: color('green');
  border-color: color('green');;
  margin-top: 10px;
  width: 100%;
}

@media (min-width: $tablet-large) {
  .gift-purchase {
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
    .funnel-left-rail {
      .rail-logo {
        padding-top: 0px;
      }
    }
  }
  .right-rail {
    flex: 1 0 0;
    height: 100vh;
  }
  .left-rail {
    flex: 0 1 auto;
    overflow-x: hidden;
    min-width: 560px;
  }
  .gift-purchase__content {
    padding: 0px 60px 60px 60px;
    margin: 20px auto 0 auto;
    min-width: 450px;
    background: color('white');
  }
}
