@import '../../common/themes/main.scss';

.credit-card-container {
  margin-bottom: 24px;
}

.credit-card {
  position: relative;
  display: flex;
  margin: 0 0 20px 0;
  max-width: 500px;
  padding: 16px 21px 16px 14px;
  font-size: 18px;
  font-family: $source-sans-pro;
  border: 1px solid #d2d6d9;
  outline: 0;
  background: white;
  letter-spacing: 0.025em;
  cursor: pointer;
  color: #aab7c4;
}

.credit-card--active {
  color: #333333;
  border: 3px solid #23d737;
}

.credit-card .credit-card__element {
  display: flex;
  margin-right: 8px;
  align-items: center;
  &--card-number {
    flex: 1 0 auto;
  }
}

.credit-card__form__toggle {
  margin-bottom: 24px;
  font-family: $futura-dem;
  font-size: 14px;
  line-height: 16px;
  margin-left: 11px;
  text-align: center;
  letter-spacing: 1.1px;
  color: #42a5fc;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}
