import React from 'react';
import { expect } from 'chai';
import { mount } from 'enzyme';
import {{properCase name}} from './{{properCase name}}';

describe('components / {{properCase name}}', () => {
  it('', () => {
    const wrapper = mount(<{{properCase name}} />);
  });
});
