.sl-meter-learnmore__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sl-meter-learnmore__container__actions {
  margin: 8px auto 0px auto;
  .quiver-button {
    background-color: color('dark-blue', 10);
    border: 2px solid color('dark-blue', 10);
  }
}
.sl-meter-learnmore__container__actions__signin {
  font-family: $source-sans-pro;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: color('gray', 80);
  margin: 10px auto;
  a {
    color: color('dark-blue', 10);
    cursor: pointer;
  }
}
.sl-meter-learnmore__container__actions__signin__button {
  background: none !important;
  border: none;
  color: color('dark-blue', 10);
  cursor: pointer;
  font-family: $source-sans-pro;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
.sl-meter-learnmore__container_title {
  font-family: $futura-dem;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  justify-self: center;
  line-height: 24px;
  margin: 24px 40px 0px 40px;
  padding-top: 10px;
  text-align: center;
}
.sl-meter-learnmore__container_subtitle {
  color: color('gray', 80);
  font-size: 14px;
  letter-spacing: .5px;
  line-height: 18px;
  padding: 8px 30px 0 30px;
  text-align: center;
}

ul.sl-meter-learnmore__container__benefits {
  align-self: center;
  list-style-type: none;
  margin: 40px 16px 0 16px;
  padding: 0px;
  li {
    display: flex;
    padding: 0 0 16px 0;
    span {
      color: color('gray', 90);
      font-size: 14px;
      line-height: 24px;
      &.sl-meter-learnmore__container__benefits-icon {
        padding: 0 20px 0 0;
        position: relative;
        top: 5px;
      }
      b {
        font-weight: 600;
      }
    }
    svg {
      width: 24px;
    }
  }
}

@media (min-width: $tablet-width) {
  .sl-meter-learnmore__container__actions {
    margin: 5px auto 0px auto;
    padding-top: 15px;
    .quiver-button {
      width: 430px;
    }
  }
  .sl-meter-learnmore__container_title {
    font-size: 30px;
    line-height: 36px;
    margin: 0 100px;
    padding-top: 0px;
  }
  .sl-meter-learnmore__container_subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .sl-meter-learnmore__container__actions__signin {
    margin: 5px auto;
  }
  .sl-meter-learnmore__container {
    margin: 32px 16px 0px 16px;
  }
  ul.sl-meter-learnmore__container__benefits {
    width: 612px;
    li {
      span {
        font-size: 16px;
      }
    }
  }
}
