@import "~@surfline/quiver-assets/futuradem.scss";
@import "~@surfline/quiver-assets/futurasurfline.scss";
@import "~@surfline/quiver-themes/stylesheets/common/_fonts.scss";
@import "~@surfline/quiver-themes/stylesheets/common/_sourcesanspro.scss";
@import "~@surfline/quiver-themes/stylesheets/common/_conditions.scss";
@import "~@surfline/quiver-themes/stylesheets/common/_colors";
@import "~@surfline/quiver-themes/stylesheets/surfline/base.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/Favorite.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/FavoritesBar.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/NewNavigationBar.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/Notifications.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/PageContainer.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/SearchInput.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/SearchResults.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/SpotSearch.scss";

.quiver-page-container {
  line-height: normal;
}

.quiver-page-container__top {
  z-index: 10000;
  .quiver-navigation-bar {
    line-height: initial;

    // override quiver style to combat bootstrap nav conflict.
    .quiver-spot-search__react-autosuggest__container__wrapper-desktop {
      height: 38px;
    }
  }
}

@media (max-width: 700px) {
  .quiver-page-container__footer {
    .quiver-brand-logo__surfline {
      margin-top: 20px;
    }
  }
}
