html, body {
  margin: 0
}

h4 {
  margin: 20px auto;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

select {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16px;
}

.admin-nav {
  height: 48px;
  background-color: #0058b0;
}

.admin-nav img {
  margin-left: 16px;
}
.admin-nav * {
  margin-right: 32px;
}

.admin-nav a {
  font-family: Futura-Dem,Helvetica,sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
}