@import '../../styles/variables';

.buoyCarouselCardsContainer {
  position: relative;
  width: 100%;
}

.placeholders {
  overflow: hidden;
  margin: 0;
  padding: 0;

  li:not(:last-child) {
    .placeholder {
      margin: 0 16px 0 0;
    }
  }
}

.buoyCarouselCards {
  overflow-x: auto;
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  margin: 0;

  // Padding to move the scroll bar away from the content a little
  padding: 0 0 2px;
}

.buoyCarouselCard {
  &:not(:last-child) {
    margin: 0 16px 0 0;
  }
}

@media (min-width: $desktop-small) {
  .buoyCarouselCard {
    &:not(:last-child) {
      margin: 0 24px 0 0;
    }
  }

  .placeholders {
    li:not(:last-child) {
      .placeholder {
        margin: 0 24px 0 0;
      }
    }
  }
}
