@import "../../variables.scss";

.login__container {
  display: block;
}

.login__title {
  @include brand-h4($companyTheme);
}

.login__card {
  padding: 30px;
  margin: 0 auto;
  max-width: 410px;
  background: $white;
}

@media (min-width: $tablet) {
  .login__container {
    padding: 0px;
  }
  .login__card {
    padding: 20px 60px 60px 60px;
    margin: 0px auto 0 auto;
    min-width: 560px;
    background: $white;
  }
}