@import '../../styles/variables';

$right-rail-width: 385px;
$header-height: 97px;

// Slightly less than the 1.79 (the inverse of the cam player aspect ratio) because of the height of the download bar.
$left-rail-width-ratio: 1.61;

// Prevent cam player going over the fold (i.e. the height set on the right and left rails).
$left-rail-width: calc((100vh - #{$header-height}) * #{$left-rail-width-ratio});
$page-height: calc(100vh - #{$header-height});

.camRewindLoading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 97px - 80px);
}

.camRewind {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;

  @media (min-width: 976px) {
    max-width: calc(#{$left-rail-width} + #{$right-rail-width});
  }

  :global {
    .jw-progress {
      background-color: color('orange', 50);
    }

    .jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-playback {
      position: relative;
      right: auto;
    }

    .jw-icon-volume {
      display: none;
    }

    .quiver-premium-cam-cta__icon {
      margin-bottom: 24px;
    }

    .quiver-premium-cam-cta__heading {
      margin-bottom: 32px;
    }

    .quiver-premium-cam-cta {
      margin-top: 0;
    }
  }
}

.camRewindPlayerPlaceholder {
  width: 100%;
  padding-top: 56.25%;
}

.camRewindRightRail {
  display: flex;
  flex-flow: column;
  width: $right-rail-width;
  height: $page-height;

  // over-ride default
  @media (min-width: 976px) {
    width: $right-rail-width;
  }
}

.camRewindHeadingLinks {
  display: flex;
  justify-content: space-between;
  padding: 22px 16px 16px;
  font-size: 12px;
  line-height: 37px;
  letter-spacing: -0.5px;
  color: color('gray', 85);
  font-family: $ibm-plex-mono;

  :global {
    .quiver-chevron {
      height: 9px;
    }
  }
}

.camRewindHeadingsLinksLeft {
  color: color('gray', 85);
  text-decoration: none;
}

.camRewindDownloadBar {
  background: color('gray', 85);
  padding: 8px 16px;

  a {
    font-family: $ibm-plex-sans;
    font-weight: 700;
    font-size: 15px;
    color: color('white');
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.camRewindHeadingLinksRight {
  cursor: pointer;
  width: 98px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  outline: none;
  border: 2px solid white;
}

.camRewindHeadingLinksFocus {
  border: 2px solid color('orange', 50);
  border-radius: 5px 5px 0 0;
}

.camRewindHeadingTitle {
  margin: 0;
  padding: 8px 16px;
  font-size: 24px;
  line-height: 30px;
  color: color('gray', 85);
  font-family: $ibm-plex-sans;
}

.camRewindHeadingSelect {
  margin: 16px 8px 4px;
  font-family: $ibm-plex-mono;

  :global {
    .quiver-select {
      width: auto;

      select {
        font-family: $ibm-plex-mono;
        color: color('gray', 85);
        border-color: color('gray', 85);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }
    }
  }
}

.pageRailLeft {
  margin-right: 0;
  height: $page-height;

  @media (min-width: 976px) {
    width: calc(100% - #{$right-rail-width});
    max-width: $left-rail-width;
  }
}

@media (max-width: $tablet-large) {
  .camRewind {
    flex-direction: column;

    .pageRailLeft,
    .camRewindRightRail {
      width: auto;
      height: auto;
    }
  }

  .camRewindHeading {
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
  }
}
