#!/bin/bash
# processname: s3ftpd
# description: An FTP Server with an AWS S3 backend

. /etc/init.d/functions

s3ftpd=${S3FTPD-/usr/local/bin/s3ftpd}
prog=s3ftpd
user=<%= @user %>
logfile=${LOGFILE-/var/log/s3ftpd/s3ftpd.log}
RETVAL=0
STOP_TIMEOUT=${STOP_TIMEOUT-10}

# Functions for switch
start () {
    echo -n $"Starting $prog: "
    daemon --user=${user} $s3ftpd >> ${logfile} 2>&1 &
    sleep 1
    status $s3ftpd > /dev/null 2>&1
    RETVAL=$?
    echo $RETVAL
    return $RETVAL
}
stop () {
    echo -n $"Stopping $prog: "
    killproc -d ${STOP_TIMEOUT} $s3ftpd
    RETVAL=$?
    echo
    [ $RETVAL = 0 ] && rm -f ${pidfile}
}

# Switch to handle calls
case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  status)
    status $s3ftpd
    RETVAL=$?
    ;;
  restart)
    stop
    start
    ;;
  *)
    echo $"Usage: $prog {start|stop|restart|status}"
    RETVAL=2
esac

exit $RETVAL
