@import '../../styles/variables';

.placeholders {
  display: flex;
  list-style-type: none;

  &:not(.placeholdersLoading) {
    &.placeholdersNoBuoys,
    &.placeholdersError {
      display: none;
    }
  }
}

@media (min-width: $tablet-large) {
  .placeholders {
    &:not(.placeholdersLoading) {
      &.placeholdersNoBuoys,
      &.placeholdersError {
        display: flex;
      }
    }
  }
}
