.confirm_email-wrapper {
  display: flex;
  flex-direction: column;
}

.confirm_email__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0;
  text-align: left;
}

.confirm_email__subtitle {
  margin: 0;
}
