description "Airflow scheduler daemon"

start on startup
start on runlevel [0123456]
stop on (deconfiguring-networking or runlevel [016])

respawn
respawn limit 5 20

env AIRFLOW_HOME="<%= @config['core']['airflow_home'] %>"
export AIRFLOW_HOME
env AIRFLOW_CONFIG="<%= @config['core']['airflow_home'] %>/airflow.cfg"
export AIRFLOW_CONFIG

env SCHEDULER_RUNS=0
export SCHEDULER_RUNS

pre-start script
  # Sleep to wait for DB instance up
  sleep 5
end script

script
  exec >> <%= @log_path %>/airflow-scheduler.log 2>&1
  exec su -s /bin/sh -c 'exec "$0" "$@"' ec2-user -- /usr/local/bin/airflow scheduler -n ${SCHEDULER_RUNS}
end script
