.sl-favorite-spots {
  margin: 100px auto 50px auto;
  padding-bottom: 50px;

  .infinite-scroll-component {
    overflow: visible !important;
  }
}

.sl-favorite-spots-grid__empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 16px;
  width: 100%;
}

@media only screen and (min-width: $large-mobile) {
  .sl-favorite-spots {
    margin-top: 60px;
  }
}

@media only screen and (min-width: $tablet-width) {
  .sl-favorite-spots {
    width: 738px;
  }
}

@media only screen and (min-width: $medium-width) {
  .sl-favorite-spots {
    width: 962px;
  }
}

@media only screen and (min-width: $desktop-width) {
  .sl-favorite-spots {
    width: 1176px;
  }
}
