.sl-onboarding.sl-onboarding--go-premium {
  background-color: transparent;
}

.sl-onboarding--go-premium {
  .sl-onboarding-go-premium {
    width: 320px;
    padding-bottom: 30px;
  }

  .sl-onboarding-step-container {
    padding-bottom: unset;
  }

  .sl-onboarding-step-title,
  .sl-onboarding-step-header,
  .sl-onboarding-step-sub-header {
    color: color('white');
  }
}

@media (min-width: $tablet-large) {
  .sl-onboarding--go-premium {
    .sl-onboarding-go-premium {
      width: 458px;
    }
  }
}