@mixin onboardingCardBefore {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 88, 176, 0.8);;
  }
}

.sl-onboarding {
  width: 100%;
  background-color: color('blue-gray', 10);
  height: calc(100vh - 87px);
}
.sl-onboarding-routes {
  position: relative;
  width: 100%;
}

.sl-onboarding--add-favorites {
  .sl-onboarding-step-header {
    text-align: center;
  }
}

.sl-redirect-error {
  margin-top: 32px;
}

.sl-onboarding-add-favorites {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  > .quiver-spinner {
      padding: 30px;
      display: block;
      margin: 0 auto;
      width: 34px;
      height: 38px;
  }
  .infinite-scroll-component {
    overflow: visible !important;
  }
}

.sl-logo {
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  background-color: color('dark-blue', 10);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.sl-onboarding-step-progress-container {
  width: 100%;
  padding: 16px 0 24px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.sl-onboarding-step-title {
  margin: 0;
  color: color('gray', 90);
  font-family: $futura-dem;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.85px;
  line-height: 22px;
  text-align: center;
}

.sl-onboarding-step-progress {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 280px;

  .sl-onboarding-step {
    flex: 1 1 auto;
    height: 4px;
    background-color: color('blue-gray', 70);
    &:not(:last-child) {
      margin-right: 1px;
    }
  }
  .sl-onboarding-step--highlighted {
    background-color: color('light-blue');
  }
}

.sl-onboarding-step-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  margin: 0 16px;
}

.sl-onboarding-step-header {
  color: color('gray', 90);
  font-size: 24px;
  font-family: $futura-dem;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
}

.sl-onboarding-step-sub-header {
  color: color('gray', 80);
  font-size: 14px;
  font-family: $source-sans-pro;
  letter-spacing: 0.3px;
  width: 320px;
  margin-bottom: 32px;
  text-align: center;
}

.sl-onboarding-question {
  color: color('gray', 90);
  font-size: 16px;
  font-family: $futura-dem;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.sl-onboarding-step-question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 640px;
  width: 100%;
  flex-flow: column;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.sl-onboarding-card {
  position: relative;
  border-radius: 6px;
  border: 1px solid color('dark-blue', 10);
  width: 109px;
  height: 109px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 4px;
  h5, h6 {
    font-size: 16px;
    font-family: $futura-dem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0;
    margin: 0;
    color: color('dark-blue', 10);
  }
  &:hover {
    @include onboardingCardBefore();
    h5, h6 {
      color: color('white');
    }
  }
}

.sl-onboarding-card-container.sl-onboarding-card-container--abilityLevel, 
.sl-onboarding-card-container.sl-onboarding-card-container--travelDistance {
  width: 100%;
}

.sl-onboarding-card--abilityLevel,
.sl-onboarding-card--travelDistance {
  width: calc(100% / 3 - 10px);
}

.sl-onboarding-card--selected {
  @include onboardingCardBefore();
  h5, h6 {
    color: color('white');
  }
}

.sl-onboarding-card--travel {
  .sl-onboarding-card__main-text {
    font-size: 24px;
  }
}

.sl-onboarding-card-container {
  display: flex;
  flex-flow: row wrap;
  width: auto;
  justify-content: center;
}

.sl-onboarding-check {
  position: absolute;
  top: 8px;
  right: 8px;
}

.sl-taxonomy-finder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
}

.sl-taxonomy-finder_toggle {
  color: color('dark-blue', 10);
  cursor: pointer;
  font-family: $source-sans-pro;
  font-size: 14px;
  letter-spacing: 0.29px;
  text-align: center;
  margin-top: 24px;
  .quiver-chevron {
    margin-left: 8px;
    stroke: color('dark-blue', 10);
  }
}

.sl-taxonomy-finder {
  display: flex;
  flex-flow: column;
  margin-top: 16px;
  .quiver-select {
    width: 220px;
    background-color: color('blue-gray', 10);
    font-family: $source-sans-pro;
    text-transform: uppercase;
    te
    label {
      background-color: color('blue-gray', 10);
    }
    select {
      font-family: $source-sans-pro;
      text-transform: uppercase;
      line-height: 1.35;
      font-size: 12px;
      padding: 0 32px 0 16px;
      height: 54px;
    }
  }
  
  .sl-taxonomy-finder-select {
    margin: 16px 0;
  }
  .sl-taxonomy-finder-select--disabled {
    opacity: 0.5;
  }
}

.sl-taxonomy-finder__options {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.sl-taxonomy-finder__options.sl-taxonomy-finder__options--empty {
  justify-content: center;
  text-align: center;
  .quiver-alert {
    margin-top: 16px;
  }
}

.sl-taxonomy-finder__options_header {
  color: color('gray', 90);
  font-family: $source-sans-pro;
  font-size: 14px;
  font-weight: normal;
  margin: 16px 16px 8px;
}

.sl-onboarding-card__content {
  z-index: 1;
}

.sl-onboarding-card-container--taxonomies {
  flex-flow: column;
  width: 100%;
  align-items: center;
}

.sl-onboarding-card--taxonomies {
  width: 100%;
  height: 50px;
  &:hover {
    .sl-onboarding-card__sub-text {
      background: rgba(0, 0, 0, 0.35);
      border-radius: 2px;
      color: color('white');
      line-height: 12px;
    }
  }
  .sl-onboarding-card__content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 48px 0 16px;
    width: 100%;
    .sl-onboarding-check {
      top: 17px;
      right: 16px;
    }
  }
  .sl-onboarding-card__main-text {
    font-size: 14px;
    font-family: $futura-dem;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: unset;
  }
  .sl-onboarding-card__sub-text {
    padding: 4px;
    color: color('gray', 55);
    font-family: $source-sans-pro;
    font-size: 12px;
    line-height: unset;
    font-weight: normal;
    letter-spacing: 0.17px;
  }
}

.sl-onboarding-card--taxonomies.sl-onboarding-card--selected {
  .sl-onboarding-card__sub-text {
    background: rgba(0, 0, 0, 0.35);
    border-radius: 2px;
    color: color('white');
    line-height: 12px;
  }
}

.sl-onboarding-add-favorites__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}

.sl-onboarding-add-favorites__tabs_tab {
  color: color('gray', 90);
  font-size: 14px;
  font-family: $source-sans-pro;
  letter-spacing: 0.3px;
  margin: 0 12px;
  padding: 8px 0;
}

.sl-onboarding-add-favorites__tabs_tab--active {
  color: color('dark-blue', 10);
  border-bottom: 2px solid color('dark-blue', 10);
}

.sl-onboarding-add-favorites__results {
  .sl-favorite-spot {
    border-radius: 6px;
    padding: unset;
    margin: 4px;
    height: $onboarding-fav-card-height-mobile;
    width: $onboarding-fav-card-width-mobile;
    float: unset;
    &:before {
      border-radius: 6px;
    }
    @media (max-width: 370px) {
      width: $onboarding-fav-card-width-mobile-small
    }
  }
  .sl-favorite-spots-grid {
    // 8px and 2px for margin and border
    width: calc(2 * (#{$onboarding-fav-card-width-mobile} + 8px + 2px));
    @media (max-width: 370px) {
      width: calc(2 * (#{$onboarding-fav-card-width-mobile-small} + 8px + 2px));
    }
  }
  .sl-favorite-spot__name {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    .quiver-cam-icon, .quiver-multi-cam-icon-with-text {
      margin-bottom: 8px;
    }
  }
}

.sl-onboarding-card-container__error--taxonomies {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  .quiver-alert {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  span {
    margin-top: 8px;
    font-size: 14px;
    font-weight: normal;
  }
}

@media (min-width: $tablet-large) {

  .sl-onboarding-step-progress-container {
    padding: 40px 0 56px 0;
  }

  .sl-logo { 
    display: flex;
  }

  .sl-onboarding-step-container {
    margin: unset;
  }

  .sl-onboarding-step-progress {
    width: 320px;
  }

  .sl-onboarding-step-sub-header {
    width: 540px;
  }

  .sl-onboarding-card {
    margin: 12px;
    height: 113px;
    width: 200px;
  }

  .sl-onboarding-card-container--taxonomies {
    width: 940px;
    flex-flow: row wrap;
  }

  .sl-onboarding-card--taxonomies {
    .sl-onboarding-card__content {
      flex-flow: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      .sl-onboarding-check {
        top: 8px;
        right: 8px;
      }
    }
    .sl-onboarding-card__main-text {
      height: 16px;
      margin-bottom: 28px;
      margin-top: 16px;
    }
  }

  .sl-onboarding-step-question-container {
    max-width: unset;
    width: unset;
  }

  .sl-taxonomy-finder {
    display: flex;
    flex-flow: row nowrap;
    margin-top: unset;
    .sl-taxonomy-finder-select {
      margin: 40px 12px 32px 12px;
    }
  }

  .sl-taxonomy-finder__options {
    width: calc(226px * 4);
  }

  .sl-taxonomy-finder__options_header {
    display: none;
  }

  .sl-onboarding-add-favorites__results {
    .sl-favorite-spot {
      height: $onboarding-fav-card-height;
      width: $onboarding-fav-card-width;
    }
    .sl-favorite-spots-grid {
      // 8px and 2px for margin and border
      width: calc(3 * (#{$onboarding-fav-card-width} + 8px + 2px));
    }
  }
  .sl-onboarding-add-favorites__tabs_tab {
    font-size: 16px;
    margin: 0 24px;
  }
}

@media (min-width: $desktop-small) {
  .sl-onboarding-add-favorites__results {
    .sl-favorite-spots-grid {
      // 8px and 2px for margin and border
      width: calc(4 * (#{$onboarding-fav-card-width} + 8px + 2px));
    }
  }
}
