.sl-route-transition-enter--right {
  transform: translateX(75%);
}
.sl-route-transition-enter--left {
  transform: translateX(-75%);
}
.sl-route-transition-exit--right {
  transform: translateX(0);
}
.sl-route-transition-exit--left {
  transform: translateX(0);
}

.sl-route-transition-exit-active--left {
  transition: transform 220ms ease-in;
  transform: translateX(-75%);
}
.sl-route-transition-enter-active--right {
  transition: transform 220ms ease-in;
  transform: translateX(0);
}
.sl-route-transition-exit-active--right {
  transition: transform 220ms ease-in;
  transform: translateX(75%);
}
.sl-route-transition-enter-active--left {
  transition: transform 220ms ease-in;
  transform: translateX(0);
}


.sl-route-transition-enter--left.sl-route-transition-enter-active--left
~ .sl-route-transition-exit--left.sl-route-transition-exit-active--left {
  transition: transform 220ms ease-in;
  transform: translateX(75%);
}

.sl-route-transition-enter--right.sl-route-transition-enter-active--right
~ .sl-route-transition-exit--right.sl-route-transition-exit-active--right {
  transition: transform 220ms ease-in;
  transform: translateX(-75%);
}