@import '../../common/themes/main.scss';

.gift-rail-cta__container {
  display: flex;
  flex-direction: column;
  margin: 70px auto;
  span {
    color: color('white');
    font-size: 22px;
    font-family: $futura-dem;
    text-align: center;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    min-width: 350px;
  }
}
.gift-rail-cta__cards {
  background-repeat: no-repeat;
  background-position: center;
  height: 205px;
}
.gift-rail-cta__container {
  display: flex;
}
.gift-mobile-rail-cta__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
.gift-rail-cta {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.mobile-rail-cta {
  width: 100%;
  height: auto;
  background-size: 100%;
  background-image: funnelCTABackground($companyTheme);
  background-repeat: no-repeat;
  background-position: left bottom;
  color: color('white');
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: $tablet-large) {
  .gift-rail-cta__container {
    span {
      font-size: 28px;
    }
  }
  .mobile-rail-cta {
    display: none;
  }
}
