@import '../../styles/variables';

.buoyMarkerPopupContent {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.buoyMarkerPopupContentTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 8px;
}

.buoyMarkerPopupContentTitle {
  white-space: nowrap;
  font-family: $futura-surfline;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: color('black', 40);
  margin-right: 16px;
}

.buoyMarkerPopupContentLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  :global {
    .quiver-chevron {
      margin-top: 3px;
      stroke: color('gray', 55);
      stroke-width: 3px;
    }
  }

  &:hover {
    .buoyMarkerPopupContentTitle {
      color: color('light-blue', 90);
    }

    :global {
      .quiver-chevron {
        stroke: color('light-blue', 90);
      }
    }
  }
}

.buoyMarkerPopupContentSubtitle {
  font-family: $source-sans-pro;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: color('gray', 55);
  margin: 0;
}

.buoyMarkerPopupContentSubtitleOffline {
  font-family: $source-sans-pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
}

.buoyMarkerPopupContentOfflineSubtitle {
  color: color('bright-red', 30);
  margin-left: 4px;
}

@media (min-width: $tablet-width) {
  .buoyMarkerPopupContentTitle {
    font-size: 16px;
  }

  .buoyMarkerPopupContentSubtitle {
    font-size: 12px;
  }
}
