<html>
  <head>
    <title>Surfline</title>
    <meta http-equiv="refresh" content="0; url=http://www.surfline.com" />
  </head>
  <body>
    <p>
      Click <a href="http://www.surfline.com">here</a> if not redirected
    </p>
  </body>
</html>
