@import '../../styles/variables';

.wave {
  display: flex;
  flex-flow: column;
  padding: 16px;
  align-items: stretch;
  appearance: unset;
  width: 100%;

  &:hover {
    background-color: color('light-blue', 5);
  }

  &Active {
    background-color: color('light-blue', 10);
  }
}

.waveHeaderTitle {
  color: color('gray', 90);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  margin: 0 0 12px;
  text-align: left;
}

.waveDetails {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.waveDetailsItem {
  margin: 0;
  color: color('gray', 90);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 16px;
}
