@import '../../common/themes/main.scss';

.cancel-survey__title {
  margin: 0 0 16px 0;
}
.cancel-survey__container fieldset {
  border: none;
  padding: 0;
}
.cancel-survey__container--reasons {
  margin: 0 0 16px 0;
}
.cancel-survey__container--feelings {
  margin-bottom: 45px;
}

.cancel-survey__container--legend {
  letter-spacing: 1.3px;
  font-family: $source-sans-pro;
  font-weight: 600;
}

.cancel-survey__container label {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: color('gray', 60);
  font-weight: 600;
  font-family: $source-sans-pro;
  font-size: 13.5px;
  letter-spacing: 1.3px;
  text-transform: none;
}

.cancel-survey__container input {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.cancel-survey__container--feelings label {
  display: inline-flex;
  margin: 0 20px 0 0;
  width: 100px;
}

