@import '../../styles/variables';

.cameraClips {
  overflow-y: auto;
  max-height: 100vh;
}

.cameraClipsHeading {
  width: calc(100% - 32px);
  margin: 12px 0;
  padding: 8px 16px;
  font-family: $ibm-plex-sans;
  font-weight: 700;
  color: color('white');
  background: color('gray', 85);
}

.cameraClipsNoClips {
  font-family: $ibm-plex-sans;
  font-weight: 700;
  margin: 4px 8px;
  text-align: center;
}

.cameraClip {
  position: relative;
  width: calc(50% - 16px);
  height: 105px;
  margin: 4px 8px;
  padding: 0;
  background-position: center center;
  border: 4px solid transparent;
  border-radius: 6px;
  appearance: unset;

  &:hover {
    border: 4px solid color('gray', 85);
  }
}

.cameraClipActive {
  border: 4px solid color('orange', 50);

  &:hover {
    border: 4px solid color('orange', 50);
  }
}

.cameraClipTime {
  position: absolute;
  bottom: 8px;
  left: 8px;
  margin: 0;
  font-family: $ibm-plex-sans;
  color: color('white');
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  text-align: left;
}

@media (max-width: $tablet-large) {
  .cameraClip {
    height: auto;
    padding-bottom: 20%;
  }
}
