@import '~@surfline/quiver-themes/stylesheets/surfline.scss';

@function cdnUrl($key) {
  @return $cdnHostname + $key;
}

@function authBg($theme) {
  @if $theme == 'bw' {
    @return url(cdnUrl('bw-auth-bg.jpg'));
  }
  @if $theme == 'fs' {
    @return url(cdnUrl('fs-auth-bg.jpg'));
  } @else {
    @return url(cdnUrl('sl-auth-bg2.jpg'));
    //  @return url(geoKey('sign-in-background'));
  }
}

@import '../../components/ConfirmEmail/ConfirmEmail.scss';
@import '../../components/CreateAccount/CreateAccount.scss';
@import '../../components/Disclaimer/Disclaimer.scss';
@import '../../components/EmailSent/EmailSent.scss';
@import '../../components/ForgotPassword/ForgotPassword.scss';
@import '../../components/Layout/Layout.scss';
@import '../../components/Loading/Loading.scss';
@import '../../components/OrBreak/OrBreak.scss';
@import '../../components/RailCTA/RailCTA.scss';
@import '../../components/RailLogo/RailLogo.scss';
@import '../../components/Rails/Rails.scss';
@import '../../components/RegistrationCTA/RegistrationCTA.scss';
@import '../../components/RegistrationSubtitle/RegistrationSubtitle.scss';
@import '../../components/SetPassword/SetPassword.scss';
@import '../../components/SignIn/SignIn.scss';
@import '../../components/VerifyEmailCTA/VerifyEmailCTA.scss';
@import '../../components/VerifyEmailLayout/VerifyEmailLayout.scss';
