@import '~@surfline/quiver-themes/stylesheets/common/_colors.scss';
@import '~@surfline/quiver-themes/stylesheets/common/_fonts.scss';
@import '../../styles/variables';

.results {
  background: color('light-blue', 5);
  margin: 0 auto;
  padding: 15px 0;
  position: relative;

  @media(min-width: $tablet-width) {
    padding: 25px 92px;
  }
}

.resultGroup {
  background: color('white');
  font-size: 14px;
  margin-bottom: 15px;
}

.resultGroupContainer {
  padding: 25px;
}

.resultGroupTitle {
  color: color('black');
  font-family: $futura-dem;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 14px;
  margin: 0 0 20px;
}

.resultGroupFooter {
  border-top: 1px solid color('light-blue', 5);
  padding: 15px;
  text-align: center;
}

.resultGroupFooterButton {
  color: color('dark-blue', 10);
  cursor: pointer;
  font-weight: 600;
}

.result {
  letter-spacing: .4px;
  overflow: hidden;
  padding: 4px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.resultContainer {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.resultLink {
  align-items: baseline;
  display: inline-flex;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  :global {
    .blank,
    .quiver-cam-icon,
    .quiver-forecast-icon,
    .quiver-location-icon,
    .quiver-multi-cam-icon,
    .quiver-multi-cam-icon-with-text,
    .quiver-news-icon,
    .quiver-travel-icon {
      fill: color('gray', 55);
      margin-right: 6px;
      width: 13px;
    }

    .blank {
      float: left;
      height: 10px;
    }

    .quiver-location-icon {
      position: relative;
      top: 1px;
    }

    .quiver-forecast-icon {
      margin-right: 3px;
      position: relative;
      top: 4px;
      width: 16px;
    }

    .quiver-news-icon {
      margin-right: 8px;
    }

    .quiver-travel-icon {
      margin-right: 3px;
      position: relative;
      top: 3px;
      width: 16px;
    }
  }
}

.resultName {
  color: color('gray', 90);

  &:hover,
  &:focus {
    color: color('dark-blue', 10);
  }
}

.resultNameNews {
  text-indent: -28px;
  white-space: normal !important;
}

.resultBreadcrumb {
  color: color('gray', 55);
  margin-left: 6px;

  &:hover,
  &:focus {
    color: color('gray', 55);
  }
}

.highlight {
  color: color('dark-blue', 10);
}

