.sl-upgrade-cta {
  appearance: none;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  bottom: 0;
  .quiver-notification-dialog {
    border-radius: 4px;
    margin-bottom: 0;
    box-shadow: 0px 2px 4px 0px rgba(color('black'), 0.5);
    cursor: pointer;
    width: 100%;
    min-width: auto;
    padding: 16px 16px 0 16px;
    height: 46vh;
    @media (min-width: $tablet-width) {
      padding: 16px;
      height: 21vh;
    }
    @media (min-width: $x-large-width) {
      padding: 16px;
      height: 18vh;
    }
  }
  .quiver-notification-dialog--small {
    border-radius: 0;
    box-shadow: 0px 2px 4px 0px rgba(color('black'), 0.5);
    height: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
    cursor: pointer;
    @media (max-width: $tablet-width) {
      height: 5vh;
      .sl-upgrade-cta__chevron {
        right: 12px;
      }
    }
  }
  .quiver-notification-dialog .quiver-button {
    height: 46px;
    padding: 11px;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 1px;
    border: 2px solid color('dark-blue', 10);
    background-color: color('dark-blue', 10);
    margin: 0 16px;
    width: 100%;
    &:hover {
      background-color: color('dark-blue', 30);
      border: 2px solid color('dark-blue', 30);
    }
    @media (min-width: $tablet-width) {
      width: 327px;
      margin: auto;
    }
  }
  .sl-upgrade-cta__chevron {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    @media (min-width: $tablet-width) {
      right: 100px;
    }
  }
  .quiver-chevron svg {
    height: 8px;
    width: 16px;
  }
}
.sl-upgrade-cta__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 12px;
}
.sl-upgrade-cta__box-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 30px;
  padding: 0 0 0 8px;
  width: 100%;
  position: relative;
  margin: 12px 5px;
  @media (min-width: $tablet-width) {
    align-self: center;
    justify-content: center;
    padding: 0px;
    margin: 10px auto auto 10px;
  }
}
.sl-upgrade-cta__box-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
.sl-upgrade-cta__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  flex-direction: column;
  @media (min-width: $tablet-width) {
    flex: 0 0 65%;
    flex-direction: row;
  }
}
.sl-upgrade-cta__box--content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  span {
    font-family: $source-sans-pro;
    font-size: 16px;
    line-height: 24px;
    color: color('gray', 80);
  }
  h4 {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.4375px;
    font-weight: 500;
    margin: 0px 0px 10px 0px;
  }
  @media (min-width: $tablet-width) {
    flex: 0 0 60%;
    margin: 20px;
    h4 {
      font-size: 30px;
      line-height: 36px;
    }
  }
}
.sl-upgrade-cta__box--action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 10px auto;
  @media (min-width: $tablet-width) {
    flex: 0 0 40%;
  }
}
.sl-upgrade-cta__box--sub-text {
  font-family: $source-sans-pro;
  font-size: 12px;
  line-height: 24px;
  color: color('gray', 80);
  margin: 10px auto;
  span {
    font-weight: 600;
  }
}
