{
  "dashboard": {
    "metadata": {
      "version": 1
    },
    "icon": "heart",
    "title": "Surfline Services Health",
    "description": "Single dashboard showing the health of all services",
    "visibility": "all",
    "editable": "editable_by_all",
    "widgets": [
      {% set ns = namespace(row=1) %}
      {% for app in apps %}
        {
          "visualization": "markdown",
          "layout": {
            "width": 12,
            "height": 1,
            "row": {{ ns.row }},
            "column": 1
          },
          "account_id": {{ account_id }},
          "data": [
            {
              "source": "# {{ app.name }}"
            }
          ],
          "presentation": {
            "title": "",
            "notes": null
          }
        },
        {% set ns.row = ns.row + 1 %}
        {
          "visualization": "faceted_line_chart",
          "layout": {
            "width": 4,
            "height": 3,
            "row": {{ ns.row }},
            "column": 1
          },
          "account_id": {{ account_id }},
          "data": [
            {
              "nrql": "SELECT filter(apdex(newrelic.timeslice.value), where metricTimesliceName = 'Apdex' as 'App server'), filter(apdex(newrelic.timeslice.value), where metricTimesliceName = 'EndUser/Apdex' as 'End user') FROM Metric WHERE (appId = '{{ app.id }}') SINCE 30 minutes AGO TIMESERIES"
            }
          ],
          "presentation": {
            "title": "Apdex"
          }
        },
        {
          "visualization": "faceted_line_chart",
          "layout": {
            "width": 4,
            "height": 3,
            "row": {{ ns.row }},
            "column": 5
          },
          "account_id": {{ account_id }},
          "data": [
            {
              "nrql": "SELECT filter(count(apm.service.error.count), WHERE metricTimesliceName = 'Errors/all') / filter(count(apm.service.transaction.duration), WHERE metricName = 'apm.service.transaction.duration') AS 'All errors' FROM Metric WHERE (appId = '{{ app.id }}') SINCE 30 minutes AGO TIMESERIES"
            }
          ],
          "presentation": {
            "title": "Error rate"
          }
        },
        {
          "visualization": "faceted_line_chart",
          "layout": {
            "width": 4,
            "height": 3,
            "row": {{ ns.row }},
            "column": 9
          },
          "account_id": {{ account_id }},
          "data": [
            {
              "nrql": "SELECT rate(count(apm.service.transaction.duration), 1 minute) as 'Web throughput' FROM Metric WHERE (appId = '{{ app.id }}') AND (transactionType = 'Web') SINCE 30 minutes AGO TIMESERIES"
            }
          ],
          "presentation": {
            "title": "Throughput"
          }
        }
        {% if apps|length > ns.row/2 %},{% endif %}
        {% set ns.row = ns.row + 1 %}
      {% endfor %}
    ]
  }
}
