.observationCard {
  padding: 12px;
}

.applyNextButton {
  float: right;
  margin-right: 0;
  margin-left: auto;
}

.observation {
  padding: 15px 10px 15px 10px;
  width: 100%;
}

.break {
  padding: 6px 12px 6px 12px;
}

.characterCount {
  margin-top: auto;
  margin-bottom: 12px;
}
