@import '../../styles/variables';

.spotClusterMarker {
  transform: translateX(-50%);
  cursor: pointer;

  circle {
    fill: color('white');
    opacity: 0.8;
  }

  path {
    stroke-width: 3px;
    fill: none;
  }

  text {
    font-family: $futura-surfline;
    font-size: 18px;
    text-anchor: middle;
    alignment-baseline: central;
  }

  &:hover {
    circle {
      opacity: 1;
    }
  }
}
