@import '~@surfline/quiver-themes/stylesheets/common/_colors';

.sl-multi-cam-surf-report-header {
  display: flex;
  width: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.sl-multi-cam-surf-report-header_link-container {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  width: 100%;
  justify-content: space-evenly;
}

.sl-multi-cam-surf-report-header__title {
  color: color('gray', 90);
  font-size: 24px;
  line-height: 24px;
  height: 24px;
  letter-spacing: 0px;
  justify-content: flex-start;
  flex: 1 0 auto;
  margin: 0 0 8px 0;
}

.sl-multi-cam-surf-report-header__link {
  justify-self: flex-end;
  color: color('dark-blue', 10);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0px;
  text-decoration: unset;
  &:hover {
    text-decoration: underline;
  }
}

@media (min-width: 670px) {
  .sl-multi-cam-surf-report-header {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .sl-multi-cam-surf-report-header__title {
    margin: 0;
  }
  .sl-multi-cam-surf-report-header_link-container {
    width: unset;
    justify-content: flex-end;
    :not(:first-child) {
      margin-left: 32px;
    }
  }
}
