@import "../../variables.scss";

.create__container {
  display: block;
}
.create__title {
  @include brand-h4($companyTheme);
}

.create__card {
  padding: 30px;
  margin: 0 auto;
  max-width: 410px;
  background: $white;
}

@media (min-width: $tablet) {
  .create__card {
    padding: 20px 60px 60px 60px;
    margin: 0px auto 0 auto;
    min-width: 560px;
  }
}
