@import '../../styles/variables';

@keyframes click-ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(color('white'), 0.5);
  }

  95% {
    box-shadow: 0 0 0 15px rgba(color('white'), 0.1);
  }
}

.buoyMapMarker {
  border-radius: 50%;

  &.buoyMapMarkerActive {
    animation: click-ripple 0.5s ease-out;
  }
}
