NFILES=<%= node['varnish']['nfiles'] %>
MEMLOCK=<%= node['varnish']['memlock'] %>
RELOAD_VCL=1
VARNISH_VCL_CONF=/etc/varnish/default.vcl
VARNISH_LISTEN_PORT=<%= node['varnish']['listen_port'] %>
VARNISH_ADMIN_LISTEN_ADDRESS=<%= node['varnish']['admin_listen_address'] %>
VARNISH_ADMIN_LISTEN_PORT=<%= node['varnish']['admin_listen_port'] %>
VARNISH_SECRET_FILE=<%= node['varnish']['secret_file'] %>
VARNISH_MIN_THREADS=<%= node['varnish']['threads']['min'] %>
VARNISH_MAX_THREADS=<%= node['varnish']['threads']['max'] %>
VARNISH_THREAD_TIMEOUT=<%= node['varnish']['threads']['timeout'] %>
VARNISH_STORAGE_FILE=<%= node['varnish']['storage_file'] %>
VARNISH_STORAGE_SIZE=<%= node['varnish']['storage_size'] %>
VARNISH_STORAGE="file,${VARNISH_STORAGE_FILE},${VARNISH_STORAGE_SIZE}"
VARNISH_TTL=<%= node['varnish']['ttl'] %>
DAEMON_OPTS="-a ${VARNISH_LISTEN_ADDRESS}:${VARNISH_LISTEN_PORT} \
             -f ${VARNISH_VCL_CONF} \
             -T ${VARNISH_ADMIN_LISTEN_ADDRESS}:${VARNISH_ADMIN_LISTEN_PORT} \
             -t ${VARNISH_TTL} \
             -w ${VARNISH_MIN_THREADS},${VARNISH_MAX_THREADS},${VARNISH_THREAD_TIMEOUT} \
             -u <%= node['varnish']['user'] %> -g <%= node['varnish']['group'] %> \
             -S ${VARNISH_SECRET_FILE} \
             -s ${VARNISH_STORAGE} \
             <%- if !(node['varnish']['parameters']).nil? %>
               <%- node['varnish']['parameters'].each do |param, value| %>
                 -p <%= param + "=" + value %> \
               <%- end %>
             <%- end %>
             "
