<!DOCTYPE html>
<html>
  <head>
    <style>
      body {background:url('http://e.cdn-surfline.com/images/503-bkgd.jpg');}
      #content {width:908px; margin:100px auto;}
    </style>
  </head>
  <body>
    <div id="content">
      <img src="http://e.cdn-surfline.com/images/503-type.png" width="908" height="358">
    </div>
  </body>
</html>
