#!/usr/bin/env python
""" Varnish Backend Checker """

import argparse
import json
import os
import random
import requests
import socket
import subprocess
import sys
import time

# Get arguments
aparser = argparse.ArgumentParser()
aparser.add_argument("-b",
                     "--backenddns",
                     required=True,
                     help="Varnish HTTP backend to check")
aparser.add_argument("-bn",
                     "--backendname",
                     required=True,
                     help="Varnish backend name")
aparser.add_argument("--send-alert",
                     action="store_true",
                     help="This will send an alert notification to PagerDuty")
aparser.add_argument("--restart-varnish",
                     action="store_true",
                     help="This will restart Varnish after a random delay")
args = aparser.parse_args()

# debug flag
DEBUG = ''

# Arguments
VARNISH_HOSTS = args.backenddns
VARNISH_BE_NAME = args.backendname + "["
SEND_ALERT = args.send_alert
RESTART_VARNISH = args.restart_varnish

# PagerDuty stuff
API_ACCESS_KEY = '<%= @pd_api_key %>'
SERVICE_API_KEY = '<%= @pd_svc_api_key %>'
HELP_URL = ('https://wavetrak.atlassian.net'
            '/wiki/spaces/MGSVCS/pages/128946112/'
            'Investigating+Varnish+Issues')


def restart_varnish():
    """ Function to restart Varnish """

    delay = random.randint(0, 60)
    print "Restarting Varnish after %d second delay" % delay
    time.sleep(delay)

    # Check the age of /var/run/varnish.pid, don't update if it's recently
    # been restart by another cron job
    varnish_age = time.time() - os.path.getmtime('/var/run/varnish.pid')
    if varnish_age > 60:
        os.system('service varnish restart')
        print "Restarted Varnish"
    else:
        print ("Varnish restarted %d seconds ago, won't restart again"
               % int(varnish_age))


def pd_send_varnish_page(ip_adr):
    """ Function to send PagerDuty Alert """

    # request headers
    headers = {
        'Authorization': 'Token token={0}'.format(API_ACCESS_KEY),
        'Content-type': 'application/json',
    }

    # request payload
    payload = json.dumps({
        "service_key": SERVICE_API_KEY,
        "event_type": "trigger",
        "description": ("Surfline varnish host(%s) has a config issue; "
                        "SEE URL BELOW" % (ip_adr)),
        "client": "Surfline - Wavetrak Help Article",
        "client_url": "%s" % (HELP_URL),
        "details": {
            "Customer": "Surfline",
            "URL": HELP_URL,
            "Summary": "%s NOT FOUND in varnishadm backend.list." % (ip_adr)
        }
    })

    # send it all to PagerDuty
    req = requests.post(
        'https://events.pagerduty.com/generic/2010-04-15/create_event.json',
        headers=headers,
        data=payload,
    )

    # print for debugging
    if DEBUG:
        print 'pagerduty status code: %s' % (req.status_code)
        print 'pagerduty response text: %s' % (req.text)

    return


def get_ips_for_host(host):
    """ Returns list of ips for a host """
    result = socket.gethostbyname_ex(host)

    if not len(result[2]) > 0:
        print "[ERROR] - Host to ip resolution failed..."
        sys.exit(2)
    return result[2]


def get_varnish_backends():
    """ func to get current varnish backends"""
    proc = subprocess.Popen(["varnishadm", "backend.list"],
                            stdout=subprocess.PIPE)
    out = proc.communicate()[0]
    lines = out.split('\n')
    ips = []
    for line in lines:
        if VARNISH_BE_NAME in line:
            part1 = str(line).split('(')
            # part1[1] = 52.9.204.43,,80)  1      probe      Healthy (no probe)
            part2 = part1[1].split(',')
            # part2[0] = 52.9.204.43
            ips.append(part2[0])

    if not len(ips) > 0:
        print "[ERROR] - No varnish backends found"
        sys.exit(2)
    return ips


# Lets start the show...
if __name__ == "__main__":
    print "Checking varnish backend and dns lookups..."
    print
    VARNISH_BE = get_varnish_backends()
    for v_ip in get_ips_for_host(VARNISH_HOSTS):
        if v_ip not in VARNISH_BE:
            print "[ERROR] - %s not in varnishadm backend.list" % v_ip
            if SEND_ALERT:
                pd_send_varnish_page(v_ip)

            if RESTART_VARNISH:
                restart_varnish()

            # FIXME: Notify New Relic to track how often this happens
    print
