@import '../../common/themes/main.scss';
.offer-confirmation {
  width: 100%;
}

.offer-confirmation__charge,
.offer-confirmation__renewal,
.offer-confirmation__email-notification {
  font-family: $source-sans-pro;
  font-size: 14px;
  color: color('gray', 70);
  text-align: center;
  letter-spacing: 0.9;
}

.offer-confirmation__charge {
  font-weight: bold;
  margin-bottom: 8px;
}

.offer-confirmation__renewal {
  margin-bottom: 32px;
}

.offer-confirmation__email-notification {
  margin-bottom: 48px;
}

@media (min-width: $tablet-large) {
  .offer-confirmation__charge,
  .offer-confirmation__renewal,
  .offer-confirmation__email-notification {
    text-align: left;
  }
}
