@import '../../styles/variables';

.buoyCarouselArrow {
  appearance: none;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: color('white');
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 20%);
  height: 24px;
  width: 24px;
  border-radius: 20px;

  svg {
    stroke: color('light-blue', 90);
  }
}

.buoyCarouselArrowLeft {
  left: -12px;
}

.buoyCarouselArrowRight {
  right: -12px;
}

.buoyCarouselArrowDisabled {
  svg {
    stroke: color('gray', 40);
  }
}
