@import '../../styles/variables';

// Nested to provide a high CSS specificity to prevent leaflet overrides
.slMapLink {
  margin: 0 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: color('white');
  color: color('gray', 55);
  width: 108px;
  height: 40px;
  border-radius: 57px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  box-sizing: border-box;
}

// Nested to provide a high CSS specificity to prevent leaflet overrides
.slMapLinkActive {
  background: color('dark-blue', 10);
  color: color('white');
}
