.sl-verify-email-cta {
  width: 100%;
  height: auto;
  background-color: color('dark-blue', 90);
  padding: 32px 0;
}

.sl-verify-email-cta__title {
  text-align: center;
  font-size: 20px;
  color: color('white');
  margin: 0;
}

.sl-verify-email-cta__header {
  text-align: center;
  color: color('white');
  font-size: 26px;
  margin: 0;
}

.sl-verify-email-cta__benefits-header {
  text-align: center;
  color: color('green', 50);
  margin: 32px 0 0 0;
  font-weight: 800;
  font-size: 14px;
}

.sl-verify-email-cta__discount-header {
  font-size: 38px;
  line-height: 38px;
  text-align: center;
  color: color('green', 50);
  margin: 0;
  padding: 12px 0 0 0;
}

.sl-verify-email-cta__discount-text {
  font-size: 14px;
  text-align: center;
  color: color('green', 50);
  margin: 0;
}

.sl-verify-email-cta__benefits-matrix {
  ul {
    list-style-type: none;
    margin: 0 0 16px 0;
  }
  display: flex;
  justify-content: center;
}

.sl-verify-email-cta__premium-benefit {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 36px 0 0;
}

.sl-verify-email-cta__premium-benefit-text {
  color: color('white');
  padding: 0 0 0 12px;
  margin: 0;
}

.sl-verify-email-cta__button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.sl-verify-email-cta__button-container .quiver-button {
  border: 2px solid color('green', 50);
  background-color: color('green', 50);
  &:hover {
    background-color: color('green', 70);
    border: 2px solid color('green', 70);
  }
}

.sl-verify-email-cta__button {
  color: color('green', 50);
}

@media (min-width: $tablet-width) {
  .sl-verify-email-cta {
    min-width: 520px;
    width: 520px;
  }
}
