@import "../../variables.scss";

/* media breakpoints */
@mixin desktop {
  @media(min-width: $tablet) {
    @content;
  }
}

@mixin brandIcons() {
  width: 38.4px;
  height: 30px;
  padding: 15px 22px;
  margin-top: 5px;
  @include desktop {
    margin-top: 22px;
    padding: 0px 0px 0px 0px;
  }
}

@mixin brandIconsAccount() {
  width: 38.4px;
  height: 40px;
}

.brand-icons__mobile {
  display: block;
  margin: 0 auto;
  text-align: center;
  @media(min-width: $tablet) {
    display: none;
  }
}
.brand-icons__account {
  display: block;
  margin: 0px;
  text-align: center;
}
.brand-icons__desktop {
  display: none;
  @media(min-width: $tablet) {
    text-align: center;
    display: block;
    position: absolute;
    margin-top: 70px;
    margin-left: 125px;
  }
}
.brand-icons__funnel {
  display: none;
  @media(min-width: $tablet) {
    text-align: center;
    display: block;
    position: absolute;
    margin-top: 70px;
    margin-left: 125px;
  }
}
.brand-icons__onboarding {
  display: none;
  @media(min-width: $tablet) {
    text-align: center;
    display: block;
    position: relative;
    margin-top: 70px;
  }
}
.brand-icons__p {
  padding-top: 5px;
  color: $small-text;
  font-size: 12px;
  font-weight: 400;
  @include desktop {
    color: $white;
    font-size: 14px;
    font-weight: 600;
  }
}
.brand-icons__funnel .brand-icons__p, .brand-icons__onboarding .brand-icons__p {
  @include desktop {
    color: $small-text;
    padding-top: 5px;
    font-size: 12px;
    font-weight: 400;
  }
}
.brand-icons__ul {
  display: flex;
  flex-direction: row;
  padding: 0 10px 0px 0px;
}
.brand-icons__ul__sl, .brand-icons__ul__fs, .brand-icons__ul__bw {
  @include brandIcons();
}

.brand-icons__account .brand-icons__ul__sl {
  @include brandIconsAccount();
}
.brand-icons__account .brand-icons__ul__fs {
  @include brandIconsAccount();
}
.brand-icons__account .brand-icons__ul__bw {
  @include brandIconsAccount();
}