@import "../../variables.scss";

.createForm {
  position: relative;
}

.createForm__haveAccount__onboarding {
  display: none;
  text-align: left;
  line-height: 2em;
  margin-bottom: 0;
}

.createForm__haveAccount {
  text-align: left;
  line-height: 2em;
  margin-bottom: 0;
}

.createForm__haveAccount__link {
  display: inline-block;
  font-family: $font-family-secondary;
  letter-spacing: .9px;
  color: $brand-secondary;
  transition: all 0.25s ease;
  padding-left: 3px;
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  &:hover {
    color: $brand-secondary-hover;
  }
  &:focus, &:active {
    color: $brand-secondary-active;
  }
}

.createForm__error__text__hidden {
  visibility: hidden;
  line-height: 0;
  color: $error;
  font-family: $font-family-secondary;
  font-size: labelHelperFontSize($companyTheme);
  position: relative;
  transition: 0.2s;
}

.createForm__error__no__text {
  visibility: visible;
  font-size: 0px;
  position: relative;
  transition: 0.2s;
}

.createForm__error__text {
  visibility: visible;
  color: $error;
  font-family: $font-family-secondary;
  font-size: labelHelperFontSize($companyTheme);
  line-height: labelHelperFontSize($companyTheme);
  position: relative;
  padding-top: 10px;
  transition: 0.2s;
}

.createForm__helper__text {
  color: $small-text;
  font-family: $font-family-secondary;
  font-size: labelHelperFontSize($companyTheme);
  line-height: labelHelperFontSize($companyTheme);
  position: relative;
  padding-top: 10px;
}

.createForm__error__text__link {
  margin-top: -3px;
  color: $error;
  font-family: $font-family-secondary;
  font-size: labelHelperFontSize($companyTheme);
  text-decoration: underline;
  cursor: pointer;
  outline: none;

  &:hover {
    color: $error;
    text-decoration: underline;
  }
}

.createForm__error__alert__hidden {
  visibility: hidden;
  color: $error;
  font-family: $font-family-secondary;
  background-color: $error-alert-background;
  border: 1px solid $error-alert-background;
  padding: 0;
  min-width: 280px;
  font-size: labelHelperFontSize($companyTheme);
  line-height: 0;
  position: relative;
  margin: 0;
  transition: 0.2s;
}

.createForm__error__alert {
  visibility: visible;
  color: $error;
  font-family: $font-family-secondary;
  background-color: $error-alert-background;
  border: 1px solid $error-alert-background;
  padding: 10px;
  width: 100%;
  font-size: labelHelperFontSize($companyTheme);
  line-height: labelHelperFontSize($companyTheme);
  position: relative;
  margin-bottom: 12px;
  transition: 0.2s;
}

.createForm__discount__success {
  visibility: visible;
  color: $success-green;
  background-color: $success-alert-background;
  font-family: $font-family-secondary;
  padding: 10px;
  width: 100%;
  font-size: labelHelperFontSize($companyTheme);
  line-height: labelHelperFontSize($companyTheme);
  position: relative;
  letter-spacing: 1.1px;
  margin: 10px 0 0;
  transition: 0.2s;
  &:before {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 13px;
    text-align: left;
    content: '\f00c';
    font-family: fontAwesome;
    font-size: 12px;
    line-height: 12px;
    color: $success-green;
    padding-left:1px;
    z-index:9;
    margin-right: 2px;
  }
}

.createForm__label__floating {
  padding: 0 3px;
  background: #ffffff;
  margin: -33.5px 0 0 15px;
  transition: 0.2s;
}

.createForm input {
  -webkit-appearance: none;
  appearance: none;

  &:hover {
    border: 1px solid $small-text;
  }
  &:focus {
    border: 1px solid $brand-secondary;
  }
}

.createForm input:focus + .createForm__label__floating, .createForm input:valid + .createForm__label__floating, .createForm__input__hasError + .createForm__label__floating {
  margin: -60px 0 0 15px;
}

.createForm__input__hasError {
  border: 1px solid $error!important;
}

.createForm__input__isValid {
  border-color: $success-green!important;
}

.createForm__input__lastName, .createForm__input__email, .createForm__input__password {
  margin-top: 20px;
}

.createForm__forgotPassword {
  font-family: $font-family-secondary;
  display: block;
  position: absolute;
  right: 18px;
  margin-top: -37px;
  letter-spacing: .9px;
}

.createForm__button__submitAuth {
  background-color: $brand-secondary;
  font-size: $brand-submit-button-fontSize;
  color: $white;
  font-weight: titleFontWeight($companyTheme);
  border-top: 2px solid $brand-secondary;
  margin-top: 20px;

  &:hover, &:focus {
    background-color: $brand-secondary-hover;
    border-top: 2px solid $brand-secondary-hover;
  }

  &:active {
    border-top: 2px solid $brand-secondary-active;
  }
}

.createForm__button__submitAuth__submitting {
  background-color: $brand-secondary-active;
  background-position: center center;
  background-repeat:no-repeat;
  color: $white;
  border-top: 2px solid $brand-secondary-active;
  margin-top: 20px;
}

.createForm__button__submitFunnel {
  @include funnel-submit-button($companyTheme);
  content: unset;
}

.createForm__button__submitFunnel_submitting {
  @include funnel-submit-button-submitting($companyTheme);
}

.createForm__button__submit__success {
  @include funnel-submit-button-success($companyTheme);
}

@keyframes spin { 100% { transform:rotate(360deg); } }
.createForm__button__submit__submitting__img {
  animation:spin .75s linear infinite;
}

.createForm__checkboxContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.createForm__checkboxContainer input {
  height: 20px;
}

.createForm__checkboxContainer__checkbox {
  opacity: 0;
  position: absolute;
}

.createForm__checkboxContainer__checkbox__checked, .createForm__checkboxContainer__checkbox__unchecked {
  position: relative;
  margin:10px 0 0 0;
  padding: 0 0 0 25px;
  text-transform: none;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: brandParagraphLetterSpacing($companyTheme);
  transition: all 0.25s ease;
}

.createForm__checkboxContainer__checkbox__checked:before {
  @include brand-checkbox($companyTheme);
  position: absolute;
  left: 0;
  margin-top: 1px;
  text-align: center;
  content: '\f00c';
  font-family: fontAwesome;
  font-size: 10px;
  background: $brand-secondary;
  color: #fff;
  padding-left:1px;
  transition: background-color 0.25s ease;
}

.createForm__checkboxContainer__checkbox__unchecked:before {
  @include brand-checkbox($companyTheme);
  position: absolute;
  left: 0;
  margin-top: 1px;
  float: left;
  content: '';
  background: #fff;
  border: 1px solid $silver;
  transition: background-color 0.25s ease;
}

.createForm__disclaimer__text {
  font-family: $font-family-secondary;
  font-size: labelHelperFontSize($companyTheme);
  line-height: 18px;
  letter-spacing: .8px;
  color: $small-text;
  padding-top: 25px;
}

.createForm__disclaimer__text__link {
  color: $gray-70;

  &:hover {
    color: $small-text-hover;
  }
}

@media (min-width: $tablet) {
  .createForm__haveAccount {
    text-align: left;
  }

  .createForm__haveAccount__onboarding {
    text-align: center;
  }

  .createForm__input__firstName, .createForm__input__lastName {
    width: 48%;
    float: left;
    margin-bottom: 20px;
  }

  .createForm__input__firstName {
    margin-right: 2%;
  }

  .createForm__input__email {
    clear: both;
  }

  .createForm__input__lastName {
    margin-left: 2%;
    margin-top: 0;
  }
}