@import "../../variables.scss";

.loginForm {
  position: relative;
}

.loginForm__needAccount {
  text-align: left;
  line-height: 2em;
  margin-bottom: 0;
  color: $text-paragraph;
}

.loginForm__needAccount__onboarding {
  display: none;
}

.loginForm__haveAccount__link {
  display: inline-block;
  font-family: $font-family-secondary;
  color: $brand-secondary;
  transition: all 0.25s ease;
  padding-left: 3px;
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
}
.loginForm__haveAccount__link:hover {
  color: $brand-secondary-hover;
}
.loginForm__haveAccount__link:focus, .loginForm__haveAccount__link:active {
  color: $brand-secondary-active;
}

.loginForm__error__text__hidden {
  visibility: hidden;
  line-height: 0;
  color: $error;
  font-family: $font-family-secondary;
  font-size: labelHelperFontSize($companyTheme);
  position: relative;
  transition: 0.2s;
}

.loginForm__error__no__text {
  visibility: visible;
  font-size: 0px;
  position: relative;
  transition: 0.2s;
}

.loginForm__error__text {
  visibility: visible;
  color: $error;
  font-family: $font-family-secondary;
  font-size: labelHelperFontSize($companyTheme);
  line-height: labelHelperFontSize($companyTheme);
  position: relative;
  padding-top: 10px;
  transition: 0.2s;
}

.loginForm__error__alert__hidden {
  visibility: hidden;
  color: $error;
  font-family: $font-family-secondary;
  background-color: $error-alert-background;
  border: 1px solid $error-alert-background;
  padding: 0;
  min-width: 280px;
  font-size: labelHelperFontSize($companyTheme);
  line-height: 0;
  position: relative;
  margin: 0;
  transition: 0.2s;
}

.loginForm__error__alert {
  visibility: visible;
  color: $error;
  font-family: $font-family-secondary;
  background-color: $error-alert-background;
  border: 1px solid $error-alert-background;
  padding: 10px;
  width: 100%;
  font-size: labelHelperFontSize($companyTheme);
  line-height: labelHelperFontSize($companyTheme);
  position: relative;
  margin-bottom: 12px;
  transition: 0.2s;
}

.loginForm__error__text__link {
  margin-top: -3px;
  color: $error;
  font-family: $font-family-secondary;
  font-size: labelHelperFontSize($companyTheme);
  text-decoration: underline;
  cursor: pointer;
  outline: none;
}

.loginForm__error__text__link:hover {
  color: $error;
  text-decoration: underline;
}

.loginForm__discount__success {
  visibility: visible;
  color: $success-green;
  background-color: $success-alert-background;
  font-family: $font-family-secondary;
  padding: 10px;
  width: 100%;
  font-size: labelHelperFontSize($companyTheme);
  line-height: labelHelperFontSize($companyTheme);
  position: relative;
  letter-spacing: 1.1px;
  margin: 10px 0 0;
  transition: 0.2s;
}

.loginForm__discount__success:before {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 13px;
  text-align: left;
  content: '\f00c';
  font-family: fontAwesome;
  font-size: 12px;
  line-height: 12px;
  color: $success-green;
  padding-left:1px;
  z-index:9;
  margin-right: 2px;
}

.loginForm__label__floating {
  padding: 0 3px;
  background: #ffffff;
  margin: -33.5px 0 0 15px;
  transition: 0.2s;
}

.loginForm input {
  -webkit-appearance: none;
  appearance: none;
}

.loginForm input:hover {
  border: 1px solid $small-text;
}

.loginForm input:focus {
  border: 1px solid $brand-secondary;
}

.loginForm input:focus + .loginForm__label__floating, .loginForm input:valid + .loginForm__label__floating, .loginForm__input__hasError + .loginForm__label__floating {
  margin: -60px 0 0 15px;
}

.loginForm__input__hasError {
  border: 1px solid $error!important;
}

.loginForm__input__isValid {
  border-color: $success-green!important;
}

.loginForm__input__password {
  margin-top: 20px;
}

.loginForm__forgotPassword {
  font-family: $font-family-secondary;
  display: block;
  position: relative;
  margin-top: 20px;
  z-index: 9999;
  cursor: pointer;
  color: $brand-secondary;
}

.loginForm__forgotPassword:hover {
  color: $brand-secondary-hover;
}
.loginForm__forgotPassword:active {
  color: $brand-secondary-active;
}

.loginForm__button__submit {
  @include funnel-submit-button($companyTheme);
}

.loginForm__button__submit__submitting {
  @include funnel-submit-button-submitting($companyTheme);
}

@keyframes spin { 100% { transform:rotate(360deg); } }
.loginForm__button__submit__submitting__img {
  animation:spin .75s linear infinite;
}

.loginForm__button__submit__success {
  @include funnel-submit-button-success($companyTheme);
}

.loginForm__checkboxContainer {
  display: block;
  height: 20px;
  position: relative;
  color: $text-paragraph;
}

.loginForm__checkboxContainer input {
  height: 20px;
}

.loginForm__checkboxContainer__checkbox {
  opacity: 0;
  position: absolute;
}

.loginForm__checkboxContainer__checkbox, .loginForm__checkboxContainer__checkbox__checked, .loginForm__checkboxContainer__checkbox__unchecked  {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.loginForm__checkboxContainer__checkbox__checked, .loginForm__checkboxContainer__checkbox__unchecked {
  position: relative;
  margin: 20px 0 0 0;
  padding: 0;
  text-transform: none;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: brandParagraphLetterSpacing($companyTheme);
  transition: all 0.25s ease;
}

.loginForm__checkboxContainer__checkbox__checked:before {
  @include brand-checkbox($companyTheme);
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 14px;
  text-align: center;
  content: '\f00c';
  font-family: fontAwesome;
  font-size: 10px;
  background: $brand-secondary;
  color: #fff;
  padding-left:1px;
  transition: background-color 0.25s ease;
}

.loginForm__checkboxContainer__checkbox__unchecked:before {
  @include brand-checkbox($companyTheme);
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 14px;
  content: '';
  background: #fff;
  border: 1px solid $silver;
  transition: background-color 0.25s ease;
}

.loginForm__disclaimer__text {
  font-family: $font-family-secondary;
  font-size: labelHelperFontSize($companyTheme);
  line-height: 18px;
  letter-spacing: .8px;
  color: $small-text;
  padding-top:25px;
}

.loginForm__disclaimer__text__link {
  color: $text-paragraph;
}

.loginForm__disclaimer__text__link:hover {
  color: $small-text-hover;
}

@media (min-width: $tablet) {
  .loginForm__needAccount {
    text-align: left;
  }
  .loginForm__input__email {
    margin-bottom: 20px;
  }
}
