@import "../../variables.scss";

.hideFields {
  display: none;
}
.showFields {
  display: block;
}
.paymentForm {
    position: relative;
    margin-top: 20px;
}
.paymentForm__subtitle {
  font-size: brandParagraphFontSize($companyTheme);
  text-align: left;
}
.paymentForm__error__alert__hidden {
  visibility: hidden;
  color: $error;
  font-family: $font-family-secondary;
  background-color: $error-alert-background;
  border: 1px solid $error-alert-background;
  padding: 0;
  min-width: 280px;
  font-size: 12px;
  line-height: 0;
  position: relative;
  margin: 0;
  transition: 0.2s;
}
.paymentForm__error__alert {
  visibility: visible;
  color: $error;
  font-family: $font-family-secondary;
  background-color: $error-alert-background;
  border: 1px solid $error-alert-background;
  padding: 10px;
  width: 100%;
  font-size: 12px;
  line-height: 12px;
  position: relative;
  margin-top: 7px;
  transition: 0.2s;
}
.paymentForm__button__submit {
  @include funnel-submit-button($companyTheme);
  content: unset;
}

.paymentForm__button__submit__submitting {
  @include funnel-submit-button-submitting($companyTheme);
}

@keyframes spin { 100% { transform:rotate(360deg); } }
.paymentForm__button__submit__submitting__img {
  animation:spin .75s linear infinite;
}

.paymentForm__button__submit__success {
  @include funnel-submit-button-success($companyTheme);
}

.paymentForm__discountContainer {
  display: block;
  height: 20px;
  position: relative;
}
.paymentForm__discountContainer input {
  height: 20px;
}
.paymentForm__discountContainer__discount {
  opacity: 0;
  position: absolute;
}
.paymentForm__discountContainer__discount, .paymentForm__discountContainer__discount__checked, .paymentForm__discountContainer__discount__unchecked  {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.paymentForm__discountContainer__discount__checked, .paymentForm__discountContainer__discount__unchecked {
  position: relative;
  margin:20px 0 0 0;
  padding: 0;
  text-transform: none;
  font-size:14px;
  transition: all 0.25s ease;
}
.paymentForm__discountContainer__discount__checked:before {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 13px;
  margin-top: -3.5px;
  margin-right: 14px;
  text-align: center;
  content: '\f00c';
  font-family: fontAwesome;
  font-size: 10px;
  line-height: 13px;
  background: $sl-secondary-blue;
  color: #fff;
  padding-left:1px;
  transition: background-color 0.25s ease;
}
.paymentForm__discountContainer__discount__unchecked:before {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 13px;
  margin-top: -3.5px;
  margin-right: 14px;
  content: '';
  background: #fff;
  border: 1px solid $silver;
  transition: background-color 0.25s ease;
}
.discountSuccess {
  visibility: visible;
  color: $success-green;
  font-family: $font-family-secondary;
  padding: 10px 10px 0 0;
  width: 100%;
  font-size: 12px;
  line-height: 12px;
  position: relative;
  margin: 0px;
  transition: 0.2s;
}
.discountHidden {
  visibility: hidden;
  color: $success-green;
  font-family: $font-family-secondary;
  padding: 0;
  min-width: 280px;
  font-size: 12px;
  line-height: 0;
  position: relative;
  margin: 0;
  transition: 0.2s;
}
.discountQueryError {
  visibility: visible;
  color: $sl-secondary-blue;
  font-family: $font-family-secondary;
  background-color: $blue-alert-background;
  border: 1px solid $blue-alert-background;
  padding: 10px;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .7px;
  position: relative;
  margin-top: 7px;
  transition: padding 0.2s;
}
.discountQueryError__trial {
  font-weight: bold;
  cursor: pointer;
  display: block;
  &:hover {
    color: $brand-secondary-hover;
  }
}
.discountQueryErrorHidden {
  visibility: hidden;
  border: 1px solid $error-alert-background;
  padding: 0;
  min-width: 280px;
  font-size: 12px;
  line-height: 0;
  position: relative;
  margin: 0;
  transition: padding 0.2s;
}

.paymentForm__disclaimer__text {
  font-family: $font-family-secondary;
  font-size: labelHelperFontSize($companyTheme);
  line-height: 18px;
  letter-spacing: .8px;
  color: $small-text;
  padding-top:25px;
}
.paymentForm__disclaimer__text__link {
  color: $text-paragraph;
}
.paymentForm__disclaimer__text__link:hover {
  color: $small-text-hover;
}

@media (min-width: $tablet) {
  .paymentForm__subtitle {
    text-align: left;
  }
}
