@import '../../variables.scss';

.promotion-rail-cta {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-image: funnelCTABackground($companyTheme);
}
.promotion-rail-cta-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.promotion-rail-cta-partner-container{
  display: none;
}
.mobile-rail-cta {
  width: 100%;
  height: auto;
  background-size: 100%;
  background-image: funnelCTABackground($companyTheme);
  background-repeat: no-repeat;
  background-position: center;
  color: $white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mobile-rail-cta__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 14px 14px;
}
.rail-logo {
  display: none;
}
.scroll-to-top {
  display: flex;
  justify-content: center;
  background-color: $white;
  padding: 31.3px 0 33.8px 0;
}
.scroll-to-top__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-text {
  text-transform: uppercase;
  color: funnelFormButton($companyTheme);
  margin: 16px 0 0 0;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1.5px;
  text-align: center;
  &:visited {
    color: funnelFormButton($companyTheme);
  }
  &:hover {
    color: funnelFormButtonHover($companyTheme);
  }
}

@media (min-width: $mobile-breakpoint) {
  .promotion-rail-cta {
      margin-top: unset;
      background-position: center;
  }
  .promotion-rail-cta-partner-container {
    display: block;
  }
  .mobile-rail-cta {
    display: none;
  }
  .scroll-to-top {
    display: none;
  }
  .rail-logo {
    display: flex;
  }
}
