@import "../../variables.scss";

.registration__cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
}

.registration__cta__header {
  font-size: 24px;
  line-height: 24px;
  font-family: $account-primary-font;
  letter-spacing: 1.5px;
  color: $white;
  text-align: center;
}

.registration__cta__item {
  display: inline-flex;
  width: 100%;
  margin: 16px 0 8px 0;
}

.registration__cta__item svg {
  margin: 4px 0;
}

.registration__cta__item__text {
  margin: 0 0 0 32px;
  max-width: 290px;
  h4 {
    font-family: $account-primary-font;
    font-size: 16px;
    letter-spacing: 1px;
    color: $white;
    margin: 0;
  }
  p {
    font-family: $account-secondary-font;
    font-size: 14px;
    line-height: 19px;
    color: $white;
  }
}


@media (min-width: $mobile-breakpoint) {
  .registration__cta {
    margin: 60px 0 0 0;
  }

  .registration__cta__header {
    font-size: 36px;
    line-height: 36px;
  }

  .registration__cta__item__text {
    h4 {
      font-size: 20px;
    }
  }
}
