#!/bin/bash
# Adapted from
# https://github.com/waldner/openvpn-ldap

# passed by openvpn (in the environment):
#
# $username
# $password

ourname=ldap_auth.sh
facility=auth

ldapserver=<%= node['sturdy']['openvpn']['ldap_hostname'] %>

vpngroup=<%= @vpn_group %>
basedn='<%= node['sturdy']['openvpn']['users_base_dn'] %>'
groupdn='<%= node['sturdy']['openvpn']['groups_base_dn'] %>'

bindname=<%= @bindname %>
bindpw=<%= @bindpw %>

declare -a query

# writing the query this way is useful because it's easier to
# include it in the log; using an array instead of a string is
# safer, see http://mywiki.wooledge.org/BashFAQ/050

query[0]='-L'
query[1]='-s'
query[2]='sub'
query[3]='-x'
query[4]='-w'
query[5]="${password}"
query[6]='-D'
query[7]="cn=${username},${basedn}"
query[8]='-b'
query[9]="${basedn}"
query[10]='-H'
query[11]="ldaps://${ldapserver}"
query[12]="(cn=${username})"
query[13]='dn'

output=$(mktemp)
error=$(mktemp)

# clean temp files when we terminate
trap "rm -f ${output} ${error}" EXIT

logger -p "${facility}.info" -t "$ourname" "Trying to authenticate user ${username} against LDAP"

ldapsearch "${query[@]}" 1>"${output}" 2>"${error}"

# save exit status here, otherwise the following assignment resets $?
status=$?

query[5]='xxxxxxxxx'   # obfuscate password to put query in the logs

if [ $status -ne 0 ]; then
  logger -p "${facility}.err" -t "${ourname}" "There was an error authenticating user ${username} against LDAP."
  logger -p "${facility}.err" -t "${ourname}" "The query was: ldapsearch ${query[*]}"
  logger -p "${facility}.err" -t "${ourname}" "The error was: $(tr '\n' ' ' < "${error}" )"  # turn multiline into single line
fi

numentries=$(awk '/numEntries:/{ne = $3} END{print ne + 0}' "$output")

if [ $numentries -eq 1 ]; then
  logger -p "${facility}.info" -t "{$ourname}" "User ${username} authenticated successfully"
  echo "${facility}.info -t {$ourname} User ${username} authenticated successfully.  Now checking Role"

  query[5]="${bindpw}"
  query[7]="cn=${bindname},${basedn}"
  query[12]="(&(cn=${username})(memberOf=cn=${vpngroup},${groupdn}))"

  ldapsearch "${query[@]}" 1>"${output}" 2>"${error}"

  status=$?

  query[5]='xxxxxxxxx'   # obfuscate password to put query in the logs

  if [ $status -ne 0 ]; then
    logger -p "${facility}.err" -t "${ourname}" "There was an error authenticating user ${username} Role against LDAP."
    logger -p "${facility}.err" -t "${ourname}" "The query was: ldapsearch ${query[*]}"
    logger -p "${facility}.err" -t "${ourname}" "The error was: $(tr '\n' ' ' < "${error}" )"  # turn multiline into single line exit 1
  fi

  numentries=$(awk '/numEntries:/{ne = $3} END{print ne + 0}' "$output")

  if [ $numentries -eq 1 ]; then
      logger -p "${facility}.info" -t "{$ourname}" "User ${username} Role authenticated successfully"
      echo "${facility}.info -t {$ourname} User ${username} Role authenticated successfully."
      exit 0
  else
      echo "${facility}.info -t {$ourname} User ${username} Role NOT authenticated successfully"
      logger -p "${facility}.err" -t "${ourname}" "User ${username} Role NOT authenticated (user not in group?)"
      logger -p "${facility}.err" -t "${ourname}" "The query was: ldapsearch ${query[*]}"
      exit 1
  fi
else
  echo "${facility}.info -t {$ourname} User ${username} NOT authenticated successfully"
  logger -p "${facility}.err" -t "${ourname}" "User ${username} NOT authenticated (user not in group?)"
  logger -p "${facility}.err" -t "${ourname}" "The query was: ldapsearch ${query[*]}"
  exit 1
fi
