@import "../../styles/main.scss";

.perks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.perks-hero {
  min-height: 152px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto 28px;
}
.perks-common-container {
  display: flex;
  justify-content: center;
  background-color: color('blue-gray', 10);
}
.perks-container__logo {
  height: 43px;
  background-color: color('dark-blue', 10);
}
.perks-container__logo .rail-logo {
  display:flex;
}
.perks-container__footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background: color('dark-blue', 10);
  border-radius: 0px;
  color: color('white');
  font-size: 14px;
  font-family: $source-sans-pro;
  letter-spacing: 0.58px;
  line-height: 20px;
}
.perks-container__footer .perks-footer {
  margin: 20px;
  margin-bottom: 60px;
  opacity: 0.7;
}
.perks-container__footer--logo {
  margin: 24px 19px 2px 19px;
}

@media (min-width: $tablet-large) {
  .perks-hero {
    min-height: 232px;
  }
  .perks-container__logo {
    height: 0px;
  }
  .perks-container__footer .perks-footer {
    margin: 14px 106px 10px 106px;
    padding-bottom: 45px;
  }
  .perks-container__footer--logo {
    margin: 28px 106px 4px 106px;
  }
}
