@import '../../common/themes/main.scss';

.promotion-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .funnel-left-rail {
    .rail-logo {
      padding-top: 16px;
    }
  }
}

.left-rail {
  flex: 1 0 100%;
}

.promotion-wrapper__mobile__header {
  height: 80px;
  background-image: funnelCTABackground($companyTheme);
  background-size: cover;
}

.promotion-wrapper__content {
  padding: 30px;
  margin: 0 auto;
  max-width: 410px;
  background: color('white');
}

@media (min-width: $tablet-large) {
  .promotion-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
    .funnel-left-rail {
      .rail-logo {
        padding-top: 0px;
      }
    }
  }
  .right-rail {
    flex: 1 0 0;
    height: 100vh;
  }

  .left-rail {
    flex: 0 1 auto;
    overflow-x: hidden;
    min-width: 560px;
  }
}
