@import '../../common/themes/main.scss';

.rail-cta {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  background-image: funnelCTABackground($companyTheme);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.rail-cta__content {
  display: flex;
  flex-direction: column;
  margin: 25px 0 75px 0;
  align-items: center;
}

.rail-cta__header {
  color: $white;
  text-align: center;
  margin: 0 0 31px 0;
  width: 215px;
  line-height: normal;
  font-size: 24px;
  letter-spacing: 1.9px;
}

.feature {
  display: flex;
  flex-direction: row;
  margin: 0 0 32px 0;
}

.feature__content {
  display: flex;
  flex-direction: column;
  color: $white;
  margin: 0 0 0 29px;
  * {
    color: inherit;
  }
}

.feature__content_header {
  width: 200px;
  letter-spacing: 1.3px;
  line-height: normal;
  margin: 0 0 5px 0;
  text-align: left;
  font-size: 14px;
}

.feature__content_desc {
  margin: 0 auto;
  width: 216px;
  font-size: 12px;
  letter-spacing: 0.7px;
  line-height: normal;
  text-align: left;
}

.mobile-rail-cta {
  width: 100%;
  height: auto;
  background-size: 100%;
  background-image: funnelCTABackground($companyTheme);
  background-repeat: no-repeat;
  background-position: left bottom;
  color: $white;
}

.mobile-rail-cta__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 14px;
}

.mobile-rail-cta__header {
  color: inherit;
  margin: auto 0 8px 0;
  height: 29px;
  font-size: 24px;
  letter-spacing: 1.9px;
  text-align: center;
}

.mobile-rail-cta__subtitle {
  color: inherit;
  margin: 0 0 15px 0;
  text-decoration: underline;
  height: 15px;
  font-size: 12px;
  letter-spacing: 0.7px;
  text-align: center;
}

.scroll-to-top {
  display: flex;
  justify-content: center;
  background-color: $white;
  padding: 31.3px 0 33.8px 0;
}

.scroll-to-top__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  text-transform: uppercase;
  color: funnelFormButton($companyTheme);
  margin: 16px 0 0 0;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1.5px;
  text-align: center;
  &:visited {
    color: funnelFormButton($companyTheme);
  }
  &:hover {
    color: funnelFormButtonHover($companyTheme);
  }
}

.rail-cta__description {
  max-width: 400px;
  color: white;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.8px;
  margin: 8px 0 32px 0;
}

@media (min-width: $mobile-breakpoint) {
  .rail-cta {
    margin-top: unset;
    background-position: unset;
  }

  .mobile-rail-cta {
    display: none;
  }

  .rail-cta__content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .rail-cta__header {
    width: 322px;
    height: auto;
    font-size: 36px;
    letter-spacing: 2.9px;
    margin: 0 0 48px 0;
  }

  .rail-cta__description {
    margin: 8px 0 0 0;
  }

  .feature__content_header {
    width: 283px;
    font-size: 20px;
    margin: 0 0 8px 0;
    letter-spacing: 1.9px;
  }

  .feature__content_desc {
    margin: 0 auto;
    width: 280px;
    font-size: 14px;
    letter-spacing: 0.8px;
  }

  .feature__content {
    margin: 0 0 0 35px;
  }

  .feature {
    margin: 0 0 32px 0;
  }

  .scroll-to-top {
    display: none;
  }

  .rail-cta__header--metered {
    color: $white;
    text-align: center;
    margin: 0 0 31px 0;
    line-height: normal;
    font-size: 24px;
    letter-spacing: 1.9px;
    width: 410px;
  }
}
