/* stylelint-disable selector-pseudo-class-no-unknown */
@import '../../styles/variables';

.buoyReadingsTable {
  margin: 0 0 16px;
  width: 100%;
  background-color: color('white');
  padding-top: 0;
  font-size: 18px;
  line-height: 20.7px;
  letter-spacing: 0.5px;
  color: color('gray', 90);
  font-weight: normal;
  box-shadow: 0 2px 3px rgba(color('black'), 0.05);

  :global {
    .sl-forecast-table {
      min-height: 0;
    }

    .sl-forecast-table__subheader {
      border: none;
    }

    .sl-forecast-table__cell {
      padding: 5px 8px;

      &.sl-forecast-table__cell--time-label {
        padding: 5px 40px;
      }
    }

    .quiver-wind-arrow {
      width: 20px;
    }

    .quiver-conditions-stats__stat-reading .quiver-wind-arrow {
      display: none;
    }

    .sl-forecast-table__cell td,
    th.sl-forecast-table__cell {
      font-family: $source-sans-pro;
      font-size: 16px;
      font-weight: 600;
    }

    .sl-forecast-table__timestep--day td {
      font-weight: 400;
    }

    .sl-forecast-table__direction {
      font-size: 12px;
      font-weight: 400;
    }

    .sl-forecast-table__cell--wind-stats {
      padding: 10px;
      font-family: $source-sans-pro;
    }

    .quiver-reading {
      font-family: $source-sans-pro;
      font-size: 16px;
      font-weight: 600;
      text-transform: lowercase;
    }

    .quiver-reading sup {
      font-family: $source-sans-pro;
      font-size: 12px;
      font-weight: 600;
      text-transform: lowercase;
      vertical-align: sub;
    }

    .sl-forecast-table__custom-wind .quiver-reading-description {
      font-family: $source-sans-pro;
      font-size: 12px;
      font-weight: 400;
    }

    .quiver-conditions-stats__title {
      display: none;
    }

    .sl-change-units {
      margin-top: -32px;
      position: relative;
      float: right;
    }
  }
}

.buoyReadingsTableLoadingSkeleton {
  height: 200px;
  margin: 16px;
  box-sizing: border-box;
  width: calc(100% - 32px);
}

@media (min-width: $tablet-width) {
  .buoyReadingsTable {
    :global {
      .sl-forecast-table__cell td {
        font-size: 16px;
      }
    }
  }

  .buoyReadingsTableLoadingSkeleton {
    margin: 24px;

    // 100% - 2x margin
    width: calc(100% - 48px);
  }
}

@media (min-width: $tablet-large) {
  .buoyReadingsTable {
    :global {
      .sl-forecast-table__container {
        padding: 0;
      }

      .sl-forecast-table__table {
        margin: 0;
      }

      .sl-change-units {
        margin-top: -16px;
      }
    }
  }
}

@media (min-width: $desktop-small) {
  .buoyReadingsTable {
    :global {
      th.sl-forecast-table__cell {
        font-size: 16px;
      }

      .sl-forecast-table__cell {
        padding: 5px 16px;

        &.sl-forecast-table__cell--time-label {
          padding: 5px 40px;
        }
      }
    }
  }
}
