@import '../../common/themes/main.scss';

.premium-plans__container {
  position: relative;
  height: 54px;
  margin-bottom: 16px;
  z-index: 1;
}
.premium-plans {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border: 2px solid #22d736;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.premium-plans .premium-plan {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  text-decoration: none;
  background-color: color('white');
  &:hover {
    background-color: color('blue-gray', 10);
    cursor: pointer;
  }
  &--hidden {
    display: none;
  }
}

.premium-plan .premium-plan__name {
  display: flex;
  align-items: baseline;
  margin-bottom: 4px;
  &--plan {
    margin: 0 4px 0px 0;
    font-size: 16px;
    font-weight: bold;
    color: color('gray', 90);
  }
  &--trial {
    background: color('green', 50);
    border-radius: 2px;
    color: color('white');
    font-size: 12px;
    font-family: $source-sans-pro;
    font-weight: 600;
    margin: auto 0px;
    padding: 0px 1px;
  }
}

.premium-plan .premium-plan__price {
  display: flex;
  align-items: baseline;
  &--cost {
    font-family: $futura-dem;
    font-size: 16px;
    color: color('gray', 90);
  }
  &--total {
    font-size: 12px;
    color: color('gray', 80);
  }
}

.premium-plan .premium-plan__action {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &--text {
    display: none;
    font-size: 14px;
    color: #97a9b1;
  }
}

@media (min-width: $tablet-large) {
  .premium-plans__container {
    height: 85px;
  }
  .premium-plans .premium-plan {
    padding: 16px;
  }

  .premium-plan .premium-plan__name {
    &--plan {
      margin: 0 8px 0px 0;
      font-size: 18px;
    }
    &--trial {
      font-size: 14px;
      margin: auto 16px;
      padding: 0px 4px;
    }
  }

  .premium-plan .premium-plan__price {
    &--cost {
      font-size: 22px;
    }
    &--total {
      font-size: 14px;
    }
  }

  .premium-plan .premium-plan__action {
    &--text {
      display: block;
    }
  }
}
