@import '../../common/themes/main.scss';

.left-rail {
  flex: 1 0 100%;
}

@media (min-width: $tablet-large) {
  .right-rail {
    flex: 1 0 0;
    height: 100vh;
  }

  .left-rail {
    flex: 0 1 auto;
    overflow-x: hidden;
    min-width: 560px;
  }
}
