.tableContainer {
  width: 100%;
}

.tableTitle {
  font-size: 22px;
  white-space: 'nowrap';
}

.characterCount {
  white-space: nowrap;
  width: 20px;
  font-size: 14px;
}

.noteInput {
  width: 100%;
  border: none;
}
