@import '../../common/themes/main.scss';

.or {
  color: color('gray', 50);
  text-align: center;
  letter-spacing: 1.3px;
  line-height: 1em;
  padding: 16px 0;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
}
.or__span {
  display: inline-block;
  position: relative;
}
.or__span:before, .or__span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid color('gray', 10);
  top: 7px;
  width: 280px;
}
.or__span:before {
  right: 100%;
  margin-right: 15px;
}
.or__span:after {
  left: 100%;
  margin-left: 15px;
}
