@import '~@surfline/quiver-themes/stylesheets/common/_colors.scss';
@import '../../../mixins.scss';

.poi-tool-edit-grid-point {
  width: 100%;
}

.poi-tool__edit-matrix {
  width: 100%;
}

.poi-tool__forecast-settings__refraction-matrix {
  width: 100%;
  height: 10em;
  margin-bottom: 15px;
}

.poi-tool-edit-grid-point__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  h5 {
    margin: 0;
  }
}

.poi-tool-edit-grid-point__header__back-btn {
  background-color: color('light-blue');
  color: color('white');
  padding: 5px 10px;
  height: auto;
  width: auto;
}

.poi-tool__swell-preview-toggle {
  padding: 10px 20px;
  border: none;
  background-color: color('blue-gray', 40);
  color: color('white');
  outline: none;
}

.poi-tool__swell-preview-toggle--available {
  background-color: color('light-blue');
  cursor: pointer;
}

.poi-tool__swell-preview-toggle--available:hover {
  background-color: color('light-blue', 30);
}

.poi-tool-edit-grid-point__content {
  @include split-layout;
}

.poi-tool-edit-grid-point__content__msg {
  margin-bottom: 15px;
}
