.poi-tool-add-model__header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.poi-tool-add-model__content {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  grid-template-rows: auto;
  grid-column-gap: 20px;
  width: 100%;
  min-height: 70vh;
}

.poi-tool-add-model__form {
  .quiver-select {
    width: 100%;
  }
}

  .poi-tool-add-model__form__footer {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-column-gap: 10px;
  }
