@import '../../styles/variables';

.slMapPage {
  .slRightRail {
    height: calc(100% - 173px);
  }

  .slLeftRail {
    z-index: zindex(map-control);
  }
}

.sl-kbyg-page-container--is-premium {
  .slMapPage {
    .slRightRail {
      height: calc(100% - 158px);
    }
  }
}

@media (min-width: $medium-width) {
  .slMapPage {
    .slRightRail {
      height: 100%;
    }
  }
}
