.forgot-password-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 410px;
  .quiver-button {
    margin: 36px 0;
  }
}

.forgot-password__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0;
  text-align: left;
}

.forgot-password__need-help {
  cursor: pointer;
  text-decoration: none;
  font-family: $source-sans-pro;
}
