/* MonthlyCost */
@import '../../common/themes/main.scss';

.monthlyCost {
  &__dollars {
    display: inline-block;
    font-size: 68px;
    line-height: 58px;
    margin: 0;
    font-weight: 400;
    color: $white;
  }

  &__currency {
    position: relative;
    vertical-align: text-top;
    font-size: 28px;
    margin-top: -7px;
    display: inline-block;
  }

  &__centsPerMonth {
    position: relative;
    display: inline-block;
    sup {
      top: 0;
      font-size: 24px;
      display: table-row;
      line-height: 62px;
    }
    sub {
      display: table-row;
      font-size: $font-size-base;
      letter-spacing: 2px;
    }
  }

  &__container {
    padding: 5px;

    &--alt {
      padding: 5px;

      .monthlyCost {
        &__dollars {
          font-weight: 400;
          font-size: 48px;

          @media (min-width: $tablet) {
            font-size: 68px;
            line-height: 58px;
          }
        }

        &__currency {
          font-size: 20px;
          margin-top: -4px;
          color: $gray-90;

          @media (min-width: $tablet) {
            font-size: 28px;
            margin-top: -7px;
          }
        }

        &__centsPerMonth {
          sup {
            font-size: 18px;
            line-height: 41px;

            @media (min-width: $tablet) {
              font-size: 24px;
              line-height: 62px;
            }
          }
        }
      }
    }

    &--overview {
      background: red;
      position: absolute;
      width: 80px;
      height: 80px;
      position: relative;
      margin: 0 auto;
      padding: 10px 0;
      @media (min-width: $tablet) {
        position: absolute;
        right: 0;
        bottom: 8px;
        width: 126px;
        height: 126px;
        padding: 18px 0 10px 0;
      }
      .monthlyCost {
        &__dollars {
          font-weight: 400;
          font-size: 48px;

          @media (min-width: $tablet) {
            font-size: 68px;
            line-height: 58px;
          }
        }

        &__currency {
          font-size: 20px;
          margin-top: -4px;
          color: $white;

          @media (min-width: $tablet) {
            font-size: 28px;
            margin-top: -7px;
          }
        }

        &__centsPerMonth {
          sup {
            font-size: 18px;
            line-height: 41px;

            @media (min-width: $tablet) {
              font-size: 24px;
              line-height: 62px;
            }
          }
        }
      }
    }
  }
}

.monthlyCost__container--sl {
  .monthlyCost__container--overview {
    background: $sl-primary-blue;
  }
}
.monthlyCost__container--bw {
  .monthlyCost__container--overview {
    background: $bw-primary-blue;
  }
}
.monthlyCost__container--fs {
  .monthlyCost__container--overview {
    background: $fs-secondary-blue;
  }
}
