.poi-tool__forecast-settings__ratings-matrix {
  width: 100%;
  height: 10em;
  margin-bottom: 15px;
}

.poi-tool__forecast-settings__ratings-options {
  width: 100%;
  height: 10em;
  margin-bottom: 15px;
}
