@import '../../styles/variables';

.contentContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 16px;
  padding: 0 0 36px;

  @media (min-width: $tablet-width) {
    grid-row-gap: 24px;
  }
}
