@import '../../styles/variables';

.mapHeader {
  width: 100%;
  background: color('white');
  box-shadow: 0 1px 6px rgba(color('black'), 0.16);
  margin-top: 4px;
  padding: 24px;
  display: none;
  box-sizing: border-box;
  z-index: 2;
}

.mapHeaderText {
  display: flex;
  align-items: center;
  font-family: $source-sans-pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: color('gray', 90);
  margin: 0;
}

@media (min-width: $tablet-large) {
  .mapHeader {
    display: block;
  }
}
