@import '../../mixins.scss';

.poi-tool__travel-info {
  width: 100%;

  .poi-tool__travel-info__header {
    display: flex;
    justify-content: center;
  }

  .poi-tool__travel-info__content {
    @include split-layout();
  }
}
