@import '~@surfline/quiver-themes/stylesheets/common/_colors.scss';

$thumb-diameter: 25px;
$track-height: 10px;
$vertical-offset: -($thumb-diameter - $track-height) / 2;

.poi-tool-range-input__control {
  -webkit-appearance: none;
  width: 100%;
  margin: 0 0 10px 0;

  &::-webkit-slider-runnable-track {
    height: $track-height;
    background: color('gray', 30);
    border: none;
    border-radius: 3px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    border-radius: 50%;
    background: color('light-blue');
    transform: translateY($vertical-offset);
    height: $thumb-diameter;
    width: $thumb-diameter;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.poi-tool-range-input__legend {
  display: flex;
  justify-content: space-between;

  span {
    font-size: 12px;

    &:nth-child(1) {
      transform: translateX(-50%);
    }

    &:nth-child(2) {
      transform: translateX($thumb-diameter / 4);
    }

    &:nth-child(3) {
      transform: translateX(50%);
    }
  }
}
