.poi-tool__msw-spot-data {
  h6 {
    margin: 20px 0 0 0;
  }

  hr {
    margin: 20px 0;
  }

  .quiver-text-area textarea {
    min-width: 100% !important;
  }

  .poi-tool__forecast-settings__data__form__status {
    margin-bottom: 15px;
  
    .quiver-alert--warning {
      a {
        color: color('light-blue', 'core') !important;
        text-decoration: underline;
      }
    }
  }
}
