@import '../_mixins.scss';
@import '../_variables.scss';

.sl-feed {
  .sl-load-more {
    height: 32px;
    margin: 16px 0;
    .quiver-button {
      margin: 32px auto 16px;
      width: calc(100% - 32px);
      height: 32px;
      font-size: 12px;
      color: color('dark-blue', 10);
      background: color('blue-gray', 20);
      border: 0;
      &:hover {
        color: color('white');
        background: color('dark-blue', 10);
      }
    }
  }
  .quiver-page-rail--right {
    display: none;
  }
  .quiver-butterbar {
    margin: 16px 0 16px;
  }
  .sticky-inner-wrapper {
    position: relative !important;
  }
  .sticky-inner-wrapper--active {
    position: fixed !important;
  }
}

.sl-feed__load-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.sl-feed__load-more__ad {
  text-align: center;
  .quiver-google-dfp {
    margin: 24px 0;
  }
}

.sl-feed-article {
  width: 100%;
  margin: 8px 0;
  .quiver-feed-card__title h3 {
    margin: 0;
    letter-spacing: 0;
  }
}

@media (min-width: $large-mobile) {
  .sl-feed-article {
    margin: 8px;
  }
}

@media (min-width: $tablet-large) {
  .sl-feed {
    .sl-load-more {
      .quiver-button {
        margin: 0;
        width: 100%;
      }
    }
    .quiver-page-rail--left {
      width: calc(100% - #{$homepage-right-rail-width} - 16px);
      margin-right: 16px;
      .sl-feed-cam-and-forecast {
        display: none;
      }
    }
    .quiver-page-rail--right {
      display: block;
      width: #{$homepage-right-rail-width};
    }
  }
}

@media (min-width: $desktop-small) {
  .sl-feed {
    .quiver-page-rail--left {
      width: calc(100% - #{$homepage-right-rail-width--desktop-small} - 16px);
    }
    .quiver-page-rail--right {
      width: $homepage-right-rail-width--desktop-small;
    }
  }
}

@media (min-width: $desktop-large) {
  .sl-feed {
    .quiver-page-rail--left {
      width: calc(100% - #{$homepage-right-rail-width--desktop-large} - 16px);
    }
    .quiver-page-rail--right {
      width: $homepage-right-rail-width--desktop-large;
    }
  }
}
