#!/bin/sh

# chkconfig: 345 90 14
# description: starts the Verity K2 service for ColdFusion


PATH=/usr/xpg4/bin:/bin:/sbin:/usr/bin:/usr/sbin:$PATH
RUNTIME_USER="nobody"
VERITY=<%= @cf8dir %>/verity

ID=`id -u`
RTUSERID=`id -u $RUNTIME_USER`
USEROK=0
if [ $ID -eq $RTUSERID ]; then
	# running as the installed user
	USEROK=1
fi

if [ ! $ID -eq 0 -a ! $USEROK -eq 1 ]; then
	echo "You must be root to start ColdFusionSearch service."
	exit 1
fi

# Run the K2 admin start script
k2start()
{
	if [ -x $VERITY/k2/$platform/bin/k2adminstart ]
	then
		$SUCMD $VERITY/k2/$platform/bin/k2adminstart
	fi
}

# Run the K2 admin stop script
k2stop()
{
	if [ -x $VERITY/k2/$platform/bin/k2adminstop ]
	then
		$SUCMD $VERITY/k2/$platform/bin/k2adminstop
	fi

}

case `uname` in

	SunOS)
		OS=Solaris
		platform=_ssol26
		SUCMD="su $RUNTIME_USER -c"
	;;

	HP-UX)
		OS=HPUX
		platform=_hpux
		SUCMD="su $RUNTIME_USER -c"
	;;

	Linux)
		OS=Linux
		platform=_ilnx21
		# With SELinux, have to use runuser command
		if [ -x /sbin/runuser ]; then
			SUCMD="/sbin/runuser -s /bin/sh $RUNTIME_USER -c"
		else
			SUCMD="su -s /bin/sh $RUNTIME_USER -c"
		fi
	;;

	*)

	echo "Your OS: `uname` is unsupported"
	echo "exiting"
	exit 1
	;;

esac

# if we running as the user, no need for su
if [ $USEROK -eq 1 ]; then
	SUCMD=""
fi

ARG=$1

[ -z "$ARG" ] && ARG=usage

case $ARG in

	start)
		k2start
	;;

	stop)
		k2stop
	;;

	restart)
		echo "Restarting ColdFusionSearch services..."
		k2stop
		k2start
	;;

	*)
		echo "Usage:$0 (start|stop|restart)"
	;;

esac


exit 0
