@import "../../variables.scss";

.email-verification__content {
  padding: 30px;
  margin: 0 auto;
  max-width: 410px;
  background: $white;
}

.email-verification__content .email-verification__message,
.email-verification__content .email-verification__message {
  margin-bottom: 24px;
}

.email-verification__content .email-verification__success .quiver-button,
.email-verification__content .email-verification__failure .quiver-button {
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: #fff;
  }
}

.email-verification__content .email-verification__failure .quiver-button {
  background-color: #FFBE00;
  border-color: #FFBE00;
  &:hover {
    background-color: #E9AE01;
    border-color: #E9AE01;;
  }
}

@media (min-width: $mobile-breakpoint) {
  .email-verification__content {
    padding: 0px 60px 60px 60px;
    margin: 32px auto 0 auto;
    min-width: 560px;
    background: $white;
  }
}