@import '../../../styles/variables';

.readingsTableHeader {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 24px 16px 16px;
  padding-bottom: 0;
}

.readingsTableHeaderTitle {
  font-weight: 500;
  font-family: $futura-surfline;
  font-size: 16px;
  margin: 0;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: color('black', 40);
}

.readingsTableHeaderDivider {
  margin: 16px 0 0;
  border: none;
  border-top: 1px color('gray', 30) solid;
  height: 1px;
}

@media (min-width: $tablet-width) {
  .readingsTableHeader {
    margin: 32px 24px 24px;
  }

  .readingsTableHeaderTitle {
    font-size: 22px;
    line-height: 26px;
  }
}
