.sl-tax-cat-blocks {
  width: 100%;
}

.sl-tax-cat-block {
  width: calc(100% - 15px);
  position: relative;
  margin: 0;
  margin-left: 15px;
  &:first-child{
    h2 {
      margin-top: 0;
    }
  }
  h2 {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0;
    width: 100%;
    text-transform: capitalize;
    margin-bottom: 0;
    color: color('gray', 90);
  }
  &__view-all {
    position: absolute;
    right: 15px;
    top: 5px;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 18px;
    color: color('dark-blue', 10);
    &:hover {
      color: color('light-blue', 70);
    }
  }
  &__posts {
    width: 100%;
    position: relative;
    overflow-x: auto;
    &__cards {
      width: 100%;
      display: flex;
      .quiver-feed-card {
        width: calc(100%/5 - 12px);
        min-width: 228px;
        background: color('white');
        margin: 8px 0 15px;
        margin: 8px;
        &:first-of-type {
          margin-left: 0;
        }
        h3 {
          letter-spacing: 0;
          margin-bottom: 4px;
        }
        .quiver-feed-card__image a {
          background-color: color('gray', 20);
        }
        .quiver-feed-card__title h3 {
          margin: 0;
          letter-spacing: 0;
        }
        .quiver-feed-card__content {
          padding: 0;
          padding-top: 8px;
        }
        .quiver-feed-card__content__bottom {
          margin-top: 0;
        }
      }
      &__view-all {
        color: color('dark-blue', 10);
        font-size: 14px;
        letter-spacing: 0px;
        position: relative;
        min-width: 151px;
        background-color: color('blue-gray', 10);
        text-align: center;
        margin-left: 8px;
        margin-top: 8px;
        &__arrow {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
  
@media(min-width: $medium-width) {
  .sl-tax-cat-block {
    width: 100%;
    margin: 0px;
    h2 {
      font-size: 24px;
    }
    &__view-all {
      right: 0;
    }
    &__posts {
      &__cards {
        .quiver-feed-card {
          width: calc(100%/4 - 12px);
          &:last-of-type {
            margin-right: 0;
          }
        }
        &__view-all {
          display: none;
        }
      }
    }
  }
} 
