.sl-taxonomy-term-recent-posts--with-categories {
  margin-top: 32px !important;
}

.sl-taxonomy-term-recent-posts--not-premium {
    margin-top: 0 !important;
    h2 {
      margin-top: 32px;
    }
}

.sl-taxonomy-term-recent-posts {
    width: 100%;
    position: relative;
    margin: 0 15px;
    h2 {
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 0;
      width: 100%;
      text-transform: capitalize;
      margin: 0;
      color: color('gray', 90);
    }
    &__ad {
      background: color('light-blue', 5);
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin: 32px auto;
      padding: 32px 0;
      margin-left: -50vw;
      margin-right: -50vw;
      position: relative;
      .quiver-google-dfp {
        margin: 0 auto;
        text-align: center;
      }
    }
    &__posts {
      section {
        width: 100%;
      }
      .quiver-feed-card {
        width: 100%;
        margin: 8px 0 32px;
        .quiver-feed-card__image a {
          background-color: color('gray', 20);
        }
        .quiver-feed-card__title h3 {
          margin: 0;
          letter-spacing: 0;
          font-size: 24px;
          line-height: 24px;
        }
        .quiver-feed-card__content {
          padding: 0;
          padding-top: 8px;
        }
        .quiver-feed-card__content__bottom {
          margin-top: 9px;
        }
        &__category, &__date {
          font-size: 10px;
          line-height: 10px;
        }
      }
      .quiver-feature-card {
        width: 100%;
        margin: 40px auto;
        &--inner {
          background-color: color('gray', 20);
        }
        &__title {
          color: color('white');
        }
      }
    }
    .sl-load-more-posts {
      height: 32px;
      margin: 16px 0;
      .quiver-button {
        width: 100%;
        height: 32px;
        font-size: 12px;
        color: color('dark-blue', 10);
        background: color('blue-gray', 20);
        border: 0;
        &:hover {
          color: color('white');
          background: color('dark-blue', 10);
        }
      }
    }
  }

  @media(min-width: $medium-width) {
    .sl-taxonomy-term-recent-posts {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  @media(min-width: $tablet-width) {
    .sl-taxonomy-term-recent-posts {
      &__ad {
        .quiver-google-dfp {
          margin: 0 auto;
        }
      }
      &__posts {
        display: flex;
        flex-wrap: wrap;
        .quiver-feed-card {
          margin: 8px 8px 16px;
          width: calc(100% / 3 - 10.69px);
          background: color('white');
          &:first-of-type {
            margin-left: 0;
          }
          &:nth-of-type(3n+3) {
            margin-right: 0;
          }
          &:nth-of-type(3n+1) {
            margin-left: 0;
          }
          .quiver-feed-card__title h3 {
            font-size: 20px;
          }
          &__category, &__date {
            font-size: 12px;
            line-height: 12px;
          }
        }
      }
    }
  }
