.conditionsCard {
  width: 300px;
  border-radius: 8px;
  margin: 0 20px 0 20px;
}

.conditionsBox {
  display: flex;
  flex-direction: column;
}

.conditionsTitle {
  margin-bottom: 12px;
}

.select {
  border: 0 solid;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.inner {
  padding-right: 0 !important;
}

.humanRelation {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 8px 0 8px 0;
}

.stack {
  justify-content: center;
  align-items: center;
}
