@import '../../common/themes/main.scss';

.gift-purchase__header {
  margin-bottom: 12px;
  p {
    max-width: 436px;
    color: color('gray', 90);
    font-size: 16px;
    font-family: $source-sans-pro;
  }
  a {
    outline: none;
    text-decoration: none;
  }
}
.gift-purchase-header__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0;
  text-align: left;
}
