@import '../../styles/variables';

.buoyCardData {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.buoyCardData.buoyCardDataLarge {
  margin: 8px 0 0;
  height: 80px;
}

@media (min-width: $tablet-large) {
  .buoyCardData {
    margin: 8px 0 0;
    height: 54px;
  }
}
