@import '../../styles/variables';

.buoyCard {
  background-color: color('white');
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-start;
  min-width: $small_buoy_card_width;
  width: $small_buoy_card_width;
  height: $small_buoy_card_height;
  padding: 20px 24px;
  margin: 0;
}

.buoyCardLink {
  margin: 8px 0 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: color('light-blue', 90);
  text-decoration: none;
  width: fit-content;
}

.buoyCardLargeOnly {
  min-width: $large_only_buoy_card_width;
  width: $large_only_buoy_card_width;
  height: $large_only_buoy_card_height;
  padding: 24px;
  box-shadow: 0 2px 8px rgb(color('black'), 0.08);

  .buoyCardLink {
    margin: 21px 0 0;
    font-size: 15px;
    line-height: 19px;
  }
}

.buoyCardActive {
  box-shadow: 0 5px 10px 0 rgb(color('gray', 55), 0.45);
}

@media (min-width: $tablet-large) {
  .buoyCard {
    min-width: $large_buoy_card_width;
    width: $large_buoy_card_width;
    height: $large_buoy_card_height;
    padding: 24px;
  }

  .buoyCardLink {
    margin: 21px 0 0;
    font-size: 15px;
    line-height: 19px;
  }

  .buoyCardLargeOnly {
    min-width: $large_only_buoy_card_width;
    width: $large_only_buoy_card_width;
    height: $large_only_buoy_card_height;
  }
}
