@import '../../styles/variables';

.buoyCardHeader {
  display: flex;
  position: relative;
  width: 100%;
  flex-flow: column nowrap;
}

.buoyCardHeaderName {
  margin: 0 0 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: color('black', 40);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.buoyCardHeaderTimestamp {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.4821px;
  color: color('black', 40);
}

.buoyCardHeaderOffline {
  .buoyCardHeaderName {
    color: color('gray', 40);
  }

  .buoyCardHeaderTimestamp {
    color: color('bright-red', 30);
  }
}

.buoyCardHeaderActive {
  .buoyCardHeaderActiveNotch {
    width: 4px;
    height: 29px;
    background: color('light-blue', 90);
    position: absolute;
    left: -24px;
  }
}
