@import '~@surfline/quiver-themes/stylesheets/common/_colors';

.sl-multi-cam-graphs-header {
  display: flex;
  align-items: stretch;
  margin: 8px auto;

  .sl-multi-cam-graphs-header__data-toggle {
    padding-right: 16px;
    border-right: 1px solid rgba(color('gray', 55), 0.4);
    margin-right: 16px;
  }

  .sl-multi-cam-graphs-header__report-link {
    margin-left: auto;
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 14px;
    color: color('dark-blue', 10);
    font-weight: normal;
    letter-spacing: 0px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .quiver-pill-button {
    width: 75px;
    height: 32px;
    color: color('gray', 90);
  }

  .quiver-pill-button--active {
    color: color('white');
  }

  .sl-multi-cam-graphs-header__graph-toggle {
    display: flex;
    position: relative;
    align-items: center;
    flex: 0 0 32px;

    .quiver-hover-menu {
      flex-flow: row;
      z-index: 20;
      .quiver-hover-menu-target {
        background: transparent;
      }
      .quiver-settings-cog-icon__g {
        fill: color('blue-gray', 50);
      }
      &--hover {
        .quiver-settings-cog-icon__g {
          fill: color('blue-gray', 80);
        }
      }
    }
    .quiver-hover-menu-icon {
      padding: 6px;
      margin: 2px;
    }
    .quiver-hover-menu__menu {
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
      margin: 0 0 0 4px;
      width: 126px;
      padding: 4px 0;
    }
  }
}
