<LDAP>
	# LDAP server URL
	URL		<%= @ldap_url %>

	# Bind DN (If your LDAP server doesn't support anonymous binds)<% if @bind_dn %>
	BindDN		<%= @bind_dn %><% else %>
	# BindDN		uid=Manager,ou=People,dc=example,dc=com<% end %>

	# Bind Password<% if @bind_pw %>
	Password	<%= @bind_pw %><% else %>
	# Password	SecretPassword<% end %>

	# Network timeout (in seconds)
	Timeout		15

	# Enable Start TLS
	TLSEnable	<%= @start_tls ? 'yes' : 'no' %>

	# Follow LDAP Referrals (anonymously)
	FollowReferrals yes

	# TLS CA Certificate File
	TLSCACertFile	/usr/local/etc/ssl/ca.pem

	# TLS CA Certificate Directory
	TLSCACertDir	/etc/ssl/certs

	# Client Certificate and key
	# If TLS client authentication is required
	TLSCertFile	/usr/local/etc/ssl/client-cert.pem
	TLSKeyFile	/usr/local/etc/ssl/client-key.pem

	# Cipher Suite
	# The defaults are usually fine here
	# TLSCipherSuite	ALL:!ADH:@STRENGTH
</LDAP>

<Authorization>
	# Base DN
	BaseDN		"<%= @base_dn %>"

	# User Search Filter
	# SearchFilter	"(&(uid=%u)(accountStatus=active))"
	SearchFilter	"<%= @search_filter %>"

	# Require Group Membership
	RequireGroup	false

	# Add non-group members to a PF table (disabled)
	#PFTable	ips_vpn_users

	<Group>
		BaseDN		"ou=Groups,dc=example,dc=com"
		SearchFilter	"(|(cn=developers)(cn=artists))"
		MemberAttribute	uniqueMember
		# Add group members to a PF table (disabled)
		#PFTable	ips_vpn_eng
	</Group>
</Authorization>
