@import '~@surfline/quiver-themes/stylesheets/common/_fonts';
@import '~@surfline/quiver-themes/stylesheets/common/_colors';
@import '../../styles/variables';

@media (max-width: $tablet-large) {
  .quiver-forecast-graphs__swell {
    margin-top: 120px;
  }
  .quiver-forecast-graphs__surf {
    margin-top: 40px;
  }
}

.sl-multi-cam-graphs {
  .quiver-surf-graph,
  .quiver-swell-graph,
  .quiver-wind-graph,
  .quiver-tide-graph,
  .quiver-weather-graph {
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    bottom: -1px;
  }

  .quiver-surf-graph__column {
    width: calc(100% / 24);
    align-items: center;
    .quiver-surf-graph__bar {
      width: 75%;
    }
  }

  .quiver-forecast-graphs__chart-title {
    letter-spacing: 0px;
  }

  .quiver-forecast-graphs__chart-title__link {
    font-family: $source-sans-pro;
    color: color('dark-blue', 10);
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
