/* stylelint-disable selector-pseudo-class-no-unknown */
@import '../../styles/variables';

// 100 viewport minus navbar height
$map-page-height: calc(100vh - 97px);

.slMapPageV2 {
  position: relative;
  height: $map-page-height;
  display: flex;
  flex-flow: row-reverse nowrap;

  :global {
    .sl-quiver-map {
      // ensure the map has a lower z-index than the nav bar items
      z-index: zindex(map);
      background: color('blue-gray', 10);
    }

    .leaflet-pane {
      z-index: zindex(map-tile-layer);

      .leaflet-tile-pane {
        z-index: zindex(map-tile-layer);
      }
    }

    .leaflet-top,
    .leaflet-bottom {
      z-index: zindex(map-control);
    }

    .leaflet-control-zoom {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
        margin: 24px 24px 0 0;
      }
    }

    .leaflet-map-pane {
      transition: opacity 0.15s ease-in-out;
    }
  }
}

.slMapPageV2Loading,
.slMapPageV2Error {
  :global {
    .leaflet-map-pane {
      opacity: 0.4;
    }
  }
}

.slMapPageV2 .slMapV2LeftRail {
  position: absolute;
  width: 100%;
  height: unset;
  bottom: 0;
  z-index: 3;
  margin: 0;

  @media (min-width: $tablet-large) {
    margin-bottom: unset;
    position: unset;
    background-color: color('light-blue', 5);
    width: 340px;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 660px;
  }
}

.slMapPageV2 .slMapV2RightRail {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;

  @media (min-width: $tablet-large) {
    display: block;
    width: calc(100% - 340px);
    float: right;
  }

  @media (min-width: $desktop-width) {
    width: calc(100% - 660px);
  }
}
