@import '~@surfline/quiver-themes/stylesheets/common/_colors.scss';

.poi-tool-radio-control {
  padding: 20px 10px;
  margin-bottom: 20px;
  background-color: color('light-blue', 5);
}

  .poi-tool-radio-control__label {
    line-height: 1em;
    font-size: 16px;
    margin: 0 0 20px;
  }

  .poi-tool-radio-control__choices {
    columns: 2;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: 1240px) {
      columns: 3;
    }
  }

    .poi-tool-radio-control__choices__choice {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }

      .poi-tool-radio-control__choices__choice__label {
        cursor: pointer;
      }

      .poi-tool-radio-control__choices__choice__input {
        margin-right: 8px;
      }
