{
  "family": "{{ cluster }}-{{ environment }}-{{ service-name }}",
  "taskRoleArn": "{{ task-role-arn }}",
  "executionRoleArn": "{{ task-role-arn }}",
  "containerDefinitions": [
    {
      "name": "{{ service-name }}",
      "image": "{{ image-host }}/{{ image-name }}:{{ image-tag }}",
      "cpu": "{{ cpu }}",
      "memory": "{{ memory-limit }}",
      "memoryReservation": "{{ memory-reservation }}",
      "portMappings": [
        {
          "containerPort": "{{ port }}",
          "hostPort": 0,
          "protocol": "tcp"
        }
      ],
      "secrets": [],
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "{{ logs-group }}",
          "awslogs-region": "{{ logs-region }}",
          "awslogs-stream-prefix": "{{ logs-prefix }}"
        }
      }
    }
  ],
  "cpu": "{{ cpu }}",
  "memory": "{{ memory-limit }}",
  "tags": []
}
