@import '../../styles/_variables.scss';

.buoyReadingSwells {
  max-width: 299px;

  :global {
    .quiver-condition-stats__swells .quiver-swell-measurements {
      font-family: $source-sans-pro;
      font-size: 14px;
      line-height: 20px;
    }

    .quiver-condition-stats__empty-swells {
      text-align: left;
      color: color('gray', 30);
    }

    .quiver-condition-stats__empty-swells ::before {
      background-color: color('gray', 30);
    }
  }
}
