@import "../../variables.scss";

.registration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $white;
}

.registration__mobile-header {
  height: 80px;
  background-image: authBg($companyTheme);
  background-position: right -43%;
}

.registration__geo-image {
    width: 100%;
    height: 100%;
    background-image: authBg($companyTheme);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

@media (min-width: $mobile-breakpoint) {
  .registration-container {
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
    background-color: $white;
  }
}