@import '../../styles/variables';
@import '../../styles/mixins';

$header-height: 97px;

.buoyGeonameMap {
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;

  :global {
    .sl-buoy-card-placeholders {
      margin: 0;
      flex-flow: row nowrap;
      justify-content: flex-start;
      padding: 4px 16px 24px;
      overflow: auto;

      .sl-buoy-card-placeholder {
        margin: 0 8px 0 0;
      }
    }
  }
}

@media (min-width: $tablet-large) {
  .buoyGeonameMap {
    display: flex;
    flex-flow: column;

    // Full viewport height minus the size of the navbar
    max-height: calc(100vh - #{$header-height});
    height: 100%;

    :global {
      .sl-buoy-card-placeholders {
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 24px 20px;
        margin: 0;
        align-items: flex-start;
        overflow: unset;

        .sl-buoy-card-placeholder {
          margin: 0 0 20px;
        }
      }
    }
  }
}

// Override the Geoname Map Header until we move the old ones to V2
.buoyGeonameMap .mapHeader {
  margin-bottom: 8px;
  display: none;

  @media (min-width: $tablet-large) {
    display: block;
    background: color('white');
    padding: 10px 20px 20px;
  }

  .sl-breadcrumbs {
    font-size: 12px;
    letter-spacing: 0.3px;
    padding: 10px 0;
    margin: 0;
  }

  .sl-breadcrumbs li {
    display: inline;

    &::after {
      content: ' / ';
      color: color('gray', 55);
    }

    &:last-child::after {
      content: '';
    }

    a {
      color: color('gray', 55);
      font-weight: normal;
      text-decoration: none;

      &:hover {
        color: $gray-blue-dark;
      }
    }
  }

  .mapHeaderContent {
    @include sl-h5;

    letter-spacing: 0.5px;
    padding-top: 5px;
  }
}
