.PHONY: docker-{{ target }}
docker-{{ target }}:
	@$(eval export COVERAGE_DIR="coverage-$(shell echo '{{ target }}' | sed 's/test-//')")
	@mkdir -p "./${COVERAGE_DIR}"
	@docker run -i --rm -v "$$(pwd)/${COVERAGE_DIR}:/tmp/${COVERAGE_DIR}" {{ app-name }}:test make {{ target }}
