.buttonWrapper {
  width: 100%;
  margin-top: 20px;
  button {
    margin: 0 auto;
  }
}

.totalSessionsWrapper {
  display: flex;
  align-items: center;
  width: 230px;
  margin: 0 auto
}

.plus, .minus {
  font-size: 60px;
 
  background: #eee;
  border: none;
  height: 60px;
  width: 60px;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  border-radius: 3px;
  padding: 0px;
  cursor: pointer;
}


.totalSessionsValue {
  font-size: 100px;
  padding: 50px;
}
