.sl-meter-create-account {
  margin: 10px auto 0px auto;
  padding: 0px 10px;
  height: 100%;
  max-width: 450px;
  justify-content: center;
  align-items: center;
  .quiver-disclaimer {
    padding-top: 0px;
    margin: 4px 0px 0px 0px;
  }
  .create-form .quiver-input {
    margin-bottom: 6px;
  }
  .create-form .quiver-button {
    margin: 0 0 8px 0;
  }
  .create-form__checkbox {
    margin-top: 0px;
    span {
      font-size: 12px;
    }
  }
}

@media (min-width: $tablet-width) {
  .sl-meter-create-account {
    margin: 10px auto;
    padding: 0px;
    .quiver-disclaimer {
      margin: 8px auto 0px auto;
    }
    .create-form .quiver-button {
      margin: 0 0 18px 0;
    }
    .create-form__checkbox {
      margin-top: 10px;
      span {
        font-size: 14px;
      }
    }
  }
  .create-form {
    margin: 10px auto 0px auto;
  }
  .create-form .create-form__names {
    margin: 0px;
  }
  .create-form .quiver-input {
    margin-bottom: 8px !important;
  }
}
