allowed_hosts=127.0.0.1,54.200.145.228

nrpe_user=nagios
nrpe_group=nagios

command[check_users]=/usr/lib64/nagios/plugins/check_users -w 5 -c 10
command[check_load]=/usr/lib64/nagios/plugins/check_load -w 15,10,5 -c 30,25,20
command[check_all_disks]=/usr/lib64/nagios/plugins/check_disk -w 20% -c 10%
command[check_zombie_procs]=/usr/lib64/nagios/plugins/check_procs -w 5 -c 10 -s Z
command[check_total_procs]=/usr/lib64/nagios/plugins/check_procs -w 150 -c 200
command[check_swap]=/usr/lib64/nagios/plugins/check_swap -w 20 -c 10

<% @nagios_nodes.sort.each do |node| %>
command[check_users_<%= node["hostname"] %>]=/usr/lib64/nagios/plugins/check_nrpe -H <%= node["ipaddress"] %> -c check_users
command[check_load_<%= node["hostname"] %>]=/usr/lib64/nagios/plugins/check_nrpe -H <%= node["ipaddress"] %> -c check_load
command[check_all_disks_<%= node["hostname"] %>]=/usr/lib64/nagios/plugins/check_nrpe -H <%= node["ipaddress"] %> -c check_all_disks
command[check_zombie_procs_<%= node["hostname"] %>]=/usr/lib64/nagios/plugins/check_nrpe -H <%= node["ipaddress"] %> -c check_zombie_procs
command[check_total_procs_<%= node["hostname"] %>]=/usr/lib64/nagios/plugins/check_nrpe -H <%= node["ipaddress"] %> -c check_total_procs
command[check_activemq_<%= node["hostname"] %>]=/usr/lib64/nagios/plugins/check_tcp -H <%= node["ipaddress"] %> -p 61616 -w 5 -c 10
command[check_mysql_<%= node["hostname"] %>]=/usr/lib64/nagios/plugins/check_tcp -H <%= node["ipaddress"] %> -p 3306 -w 5 -c 10

<% end %>

