@import '../../common/themes/main.scss';

.duplicate-card {
  display: flex;
  flex-flow: column;
  background: color('white');
  margin-top: 16px;
}

.duplicate-card__go-back {
  width: 100%;
  height: 55px;
  display: block;
  margin: 0 auto;
  margin-top: 18px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 0;
  border: none;
  transition: background 0.25s ease, border 0.25s ease;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.duplicate-card__header {
  font-size: 24px;
  letter-spacing: 1.9px;
  color: color('gray', 90);
  margin: 8px 0px;
}

.duplicate-card__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.9px;
  color: color('gray', 80);
  margin: 0 0 40px 0;
}

.duplicate-card__card {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1.1px;
  color: color('gray', 80);
}

.duplicate-card__error {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $error-alert-background;
  border: 1px solid $error-alert-background;
  color: $error;
  padding: 8px 8px;
  margin: 0px 0px 16px 0;
  font-size: 11px;
}

@media (min-width: 769px) {
  .duplicate-card {
    background: color('white');
  }

  .duplicate-card__header {
    font-size: 28px;
    letter-spacing: 2.2px;
    color: color('gray', 90);
    margin: 8px 0px;
  }

  .duplicate-card__error {
    font-size: 16px;
  }
}
