@mixin small-text {
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #96A9B2;
}

@mixin small-paragraph {
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: color('gray', 70);
}

@mixin paragraph {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .4px;
  color: #6E7273;
}

@mixin sl-paragraph-jumbo {
  color: color('gray', 80);
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1.58px;
  @media(min-width: $tablet-width) {
    font-size:22px;
    line-height: 28px;
    letter-spacing: 1px;
  }
}

@mixin sl-hero-paragraph-jumbo {
  color: color('gray', 80);
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.58px;
  @media(min-width: $tablet-width) {
    font-size:18px;
    line-height: 28px;
    letter-spacing: 1px;
  }
}

@mixin sl-vertical-center {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

@mixin sl-h3 {
  margin: 0;
  padding-top: 10px;
  font-family: $futura-dem;
  font-size: 38px;
  line-height: 42px;
  letter-spacing: 1.2px;
  font-weight: 400;
  color: color('gray', 90);
}

@mixin sl-h4 {
  margin: 0;
  padding-top: 10px;
  font-family: $futura-dem;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 1px;
  font-weight: 400;
  color: color('gray', 90);
}

@mixin sl-h5 {
  margin: 0;
  padding-top: 10px;
  font-family: $futura-dem;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 1.5px;
  font-weight: 400;
  color: color('gray', 90);
}

@mixin sl-h6 {
  margin: 0;
  font-family: $futura-dem;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: .88px;
  text-transform: uppercase;
  font-weight: 400;
  color: #96A9B2;
  @media(min-width: $tablet-width) {
    font-size: 18px;
    letter-spacing: 1px;
  }
}

@mixin grab-cursor {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &:active {
    cursor: grabbing;
    cursor: -mov-grabbing;
    cursor: -webkit-grabbing;
  }
}

@mixin action-styles {
  font-family: $futura-dem;
  text-transform: uppercase;
  color: color('gray', 90);
}

@mixin horizontal-scrolling {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

@mixin hide-scroll-bar {
  -ms-overflow-style: none;
  &::-webkit-scrollbar { display: none; }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before{
      display: block;
      content: " ";
      width: 100%;
      padding-top: ($height / $width) * 100%;
  }

  > .aspect-ratio__content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
  }
}
