/* For the extra small devices (phones) */
$small-mobile: 370px;

/* For the extra small devices (phones) */
$large-mobile: 512px;

/* Small devices (tablets, 768px and up) */
$tablet-width: 769px;

/* Medium devices (desktops, 992px and up) */
$medium-width: 992px;

/* Large devices (large desktops, 1200px and up) */
$desktop-width: 1200px;

/* Large devices with three col layout */
$three-column-desktop: 1271px;

/* X-Large devices (x-large desktops, TBD and up) */
$x-large-width: 1921px;

// $non-quiver-colors: ;
$gray-blue: #96A9B2;
$gray-blue-dark: #1F2532;
$light-gray-blue: #DDE4E6;
