@import "~@surfline/quiver-assets/futuradem.scss";
@import "~@surfline/quiver-assets/futurasurfline.scss";

@import "~@surfline/quiver-themes/stylesheets/surfline/base.scss";

@import "~@surfline/quiver-themes/stylesheets/common/_colors";
@import "~@surfline/quiver-themes/stylesheets/common/_conditions.scss";
@import "~@surfline/quiver-themes/stylesheets/common/_fonts.scss";
@import "~@surfline/quiver-themes/stylesheets/common/_sourcesanspro.scss";

@import "~@surfline/quiver-themes/stylesheets/surfline/base.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/BaseContentCard.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/Button.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/ContentContainer.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/FeedCard.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/FeatureCard.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/FeedArticlesList.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/ForecastArticleCard.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/ForecasterProfile.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/PageRail.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/ShareArticle.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/SurfHeight.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/SurflineErrors.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/WindIndicator.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/WorldTaxonomy.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/ShareArticle.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/SpotListItem.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/ShareArticle.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/Spinner.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/SpotMarker.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/SurfHeight.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/SurflineErrors.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/TideArrow.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/WindIndicator.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/WindBarbsLegend.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/WorldTaxonomy.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/PlayMarker.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/SpotListItem.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/SpotListCTAThumbnail.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/SpotReportSummary.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/SpotThumbnail.scss";
@import '~@surfline/quiver-themes/stylesheets/surfline/SwellEventCard.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/AddToCalendar.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/CamPlayer.scss';
@import '~@surfline/quiver-themes/stylesheets/surfline/PremiumCamCTA.scss';
@import "./_variables.scss";

@import './components/ArticleMeta.scss';
@import './components/Breadcrumb.scss';
@import './components/ChildGrid.scss';
@import './components/EditorialArticleBody.scss';
@import './components/EditorialArticleFooter.scss';
@import './components/EditorialArticleHeading.scss';
@import './components/EditorialAuthor.scss';
@import './components/EditorialPaywall.scss';
@import './components/Hero.scss';
@import './components/PlayMarker.scss';
@import './components/PreviewBanner.scss';
@import './components/ReadingDescription.scss';
@import './components/RelatedArticles.scss';
@import './components/ScrollControl.scss';
@import './components/SpotThumbnail.scss';
@import './components/StickyAdUnit.scss';
@import './components/SwellEventHighlights.scss';
@import './components/SwellEventModal.scss';
@import './components/TopSpot.scss';
@import './components/TopSpots.scss';
@import './components/TravelMap.scss';
@import './components/TravelSummary.scss';
@import './components/ViewForecast.scss';
@import './components/PremiumVideoCTA.scss';
@import './components/Editorial/PostsBlock.scss';
@import './components/Editorial/RecentPosts.scss';
@import './components/CardCarousel.scss';
@import './components/ContentCard.scss';
@import './components/OverlayCard.scss';
@import './components/ContentCarousel.scss';

@import './containers/routes/ForecastArticle.scss';
@import './containers/routes/EditorialArticle.scss';
@import './containers/routes/EditorialTaxonomy.scss';
@import './containers/routes/SwellEvent.scss';

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  letter-spacing: 0.4px;
  overflow-x: hidden;
}

#sl-header-ad {
  background: color('light-blue', 5);
  text-align: center;
}

.sl-button-link {
  text-decoration: none;
  outline: none;
  .quiver-button {
    color: color('white');
    &:hover {
      color: color('white');
    }
  }
}

button {
  padding: 0;
  outline: none;
  cursor: pointer;
  background: none;
  border: none;
}

@media (max-width: $medium-width) {
  .sl-hide-ze-widget {
    .zEWidget-ticketSubmissionForm, .zEWidget-automaticAnswers, .zEWidget-launcher, .zEWidget-nps {
      display: none;
    }
  }
}
