.poi-map {
  height: 100%;
  max-height: 80vh;
  min-height: 70vh;
  position: relative;
}

.poi-map__selectability-toggle {
  border-radius: 5px;
  padding: 5px!important;
  position: absolute;
  z-index: 500;
  top: 9px;
  left: 40px;
  font-size: 10px !important;
  width: 60px;
}
