@import '../../styles/variables';

.metricTitle {
  margin: 0;
  display: none;
}

.metricAltTitle,
.metricTitle {
  font-size: 12px;
  font-family: $source-sans-pro;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: 0.2px;
  margin: 0 0 8px;
  color: color('gray', 55);
}

.metricStats {
  font-family: $futura-surfline;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.7px;
  color: color('black', 40);
}

.statsSuperScript {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.7px;
  margin-bottom: 0;
  vertical-align: baseline;
  text-transform: lowercase;
  top: 0;
  padding-left: 1px;
}

.metricStatsNoData {
  font-family: $source-sans-pro;
  font-size: 14px;
  line-height: 21px;
  color: color('gray', 40);
}

.metricStatsNoDataImportant {
  color: color('red', 50);
}

@media (min-width: $tablet-width) {
  .metricAltTitle {
    display: none;
  }

  .metricTitle {
    display: block;
  }
}
