@import "../../variables.scss";

.account-header__container {
  background: $sl-primary-blue;
}
.account-header__sub_container {
  background: $sl-primary-blue;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 0px 0px 10px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: $tablet) {
    width: 100%;
  }
  @media (min-width: $mobile-breakpoint){
    width: 996px;
  }
}
.account-header-go-back{
  margin-top: 20px;
}
.account-header-go-back__link{
  font-size: 12px;
  font-weight: 600;
  color: $white;
  font-family: $account-secondary-font;
  text-decoration: underline;
}

.account-content {
  height: 100%;
  margin: 0;

}
.account-subnavigation__container {
  padding: 10px;
}
.account-subnavigation__container__list {
  width: 100%;
  background-color: $white;
}

@media (min-width: $iphone6s) {
  .account-content {
    margin: 0;
  }
  .account-subnavigation__container {
    height: 40px;
    background-color: $white;
    padding: 0;
  }
  .account-subnavigation__container__list {
    background-color: $white;
    width: 100%;
  }
}