/* Change Password */
@import "../../variables.scss";

.changePassword {
	padding: 0;
	@media(min-width: $iphone6s) {
		padding: 60px 0;
	}
}
.changePassword__heading {
	@include account-h4($companyTheme);
}
.changePassword__heading__container {
	text-align: center;
	display: none;
	@media(min-width: $iphone6s) {
		display: block;
	}
}
.changePassword__body__container {
	display: block;
	position: relative;
	padding: 0 10px;
}
