/* Edit Settings */
@import "../../variables.scss";

.editSettings {
  padding: 0;
  @media(min-width: $iphone6s) {
    padding: 60px 0;
  }
}

.editSettings__heading {
  @include account-h4($companyTheme);
}

.editSettings__heading__container {
  text-align: center;
  display: none;

  @media (min-width: $iphone6s) {
    display: block;
  }
}

.editSettings__body__container {
  display: block;
  position: relative;
  padding: 0 10px;
}
