/* Edit Profile */
@import "../../variables.scss";

.editProfile {
	padding: 0;
	@media(min-width: $iphone6s) {
		padding: 60px 0;
	}
}

.editProfile__heading {
	@include account-h4($companyTheme);
}

.editProfile__heading__container {
	text-align: center;
  display: none;

  @media (min-width: $iphone6s) {
    display: block;
  }
}

.editProfile__body__container {
	display: block;
	position: relative;
	padding: 0 10px;
}

.editProfile .email-verification__profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.editProfile .email-verification__profile__header {
	margin: 0 0 16px 0;
}

.editProfile .email-verification__profile__message {
	font-family: $account-secondary-font;
	text-align: center;
	margin-bottom: 16px;
	&:last-of-type {
		margin-bottom: 0px;
	}
}

.editProfile .email-verification__profile__button-container .quiver-button {
	background-color: #FFBE00;
  border-color: #FFBE00;
  &:hover {
    background-color: #E9AE01;
    border-color: #E9AE01;;
  }
}

.editProfile .email-verification__profile__message {
	.email-verification__profile__support-link {
		display: block;
	}
}
