@import '../../variables.scss';

@mixin grab-cursor {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &:active {
    cursor: grabbing;
    cursor: -mov-grabbing;
    cursor: -webkit-grabbing;
  }
}

.favorites {
  padding: 0 10px 10px;
  @media (min-width: $iphone6s) {
    padding: 60px 10px;
    max-width: 820px;
    margin: 0 auto;
  }
  &__heading {
    @include account-h4($companyTheme);
    &__container {
      text-align: center;
      display: none;
      @media (min-width: $iphone6s) {
        display: block;
      }
    }
  }
  &__body {
    &__container {
      display: block;
      position: relative;
      padding: 0 10px;
      &__link {
        text-transform: uppercase;
        float: right;
      }
      &__card {
        width: 100%;
        background: $white;
        padding: 20px;
        display: inline-block;
        @media (min-width: $iphone6s) {
          margin-top: 5px;
        }
        ul {
          width: 100%;
          list-style: none;
          padding: 0;
          margin: 0;
          @media (min-width: $ipad) {
            padding: 30px;
          }
          li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-family: $account-secondary-font;
            letter-spacing: 0.8px;
            line-height: 24px;
            color: $gray-70;
            padding: 10px 0 10px 30px;
            clear: both;
            @include grab-cursor;
            &:nth-child(odd) {
              background: $light-blue-5;
            }
            &:nth-child(even) {
              background: $white;
            }
            .favorites__body__container__card__item__controls {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 27px;
              &__delete {
                margin: 0;
                border: unset;
                background: unset;
                appearance: unset;
                letter-spacing: 0.8px;
                line-height: unset;
                height: 100%;
                font-size: 14px;
                color: $light-blue-50;
                cursor: pointer;
                font-family: $account-primary-font;
                text-transform: uppercase;
                &:hover {
                  color: $light-blue-70;
                }
              }
              &__move {
                @include grab-cursor;
                letter-spacing: 0.8px;
                line-height: 24px;
                height: 100%;
                position: relative;
                padding: 0 30px;
                @media (min-width: $ipad) {
                  padding: 0 30px 0 80px;
                }
                &:before {
                  font-family: fontAwesome;
                  content: '\f0c9';
                  font-size: 16px;
                  color: $light-blue-50;
                  &:hover {
                    color: $light-blue-70;
                  }
                }
              }
            }
          }
        }
        &__no__favs {
          padding: 0;
          background-image: url(cdnUrl('account/no-favorites.jpg'));
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          border-bottom: 12px solid $sl-primary-blue;
          h2 {
            margin: 70px 0 20px 0;
            font-size: 42px;
            font-family: $account-primary-font;
            font-weight: 400;
            letter-spacing: 1.62px;
            line-height: 46px;
            color: $white;
            text-align: center;
            @media (min-width: $tablet) {
              font-size: 52px;
              letter-spacing: 2px;
              line-height: 52px;
            }
          }
          p {
            max-width: 260px;
            margin: 0 auto;
            letter-spacing: 0.8px;
            font-size: 16px;
            line-height: 24px;
            color: $white;
            text-align: center;
            @media (min-width: $iphone6) {
              max-width: 300px;
            }
            @media (min-width: $tablet) {
              font-size: 18px;
              max-width: 600px;
            }
          }
          a {
            display: block;
            width: 160px;
            height: 45px;
            margin: 40px auto 180px;
            font-family: $account-primary-font;
            background-color: $light-blue-50;
            color: $white;
            border: 2px solid $light-blue-50;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            line-height: 45px;
            text-align: center;
            padding: 0 10px;
            transition: background 0.25s ease, border 0.25s ease;
            cursor: pointer;
            outline: none;
            &:hover,
            &:focus {
              background-color: $light-blue-70;
              border-color: $light-blue-70;
            }
          }
        }
      }
    }
  }
  &__success__alert {
    @include alert-visible($success-green, $success-alert-background);
    &__hidden {
      @include fav-alert-hidden($error, $error-alert-background);
    }
  }
  &__error__alert {
    @include alert-visible($error, $error-alert-background);
    &__hidden {
      @include fav-alert-hidden($error, $error-alert-background);
    }
  }
}
.draggingFavorite {
  font-family: $account-secondary-font;
  letter-spacing: 0.8px;
  line-height: 24px;
  color: $gray-70;
  padding: 10px 0 10px 30px;
  list-style: none;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2), 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
  background: $white;
  cursor: row-resize;
  .favorites__body__container__card__item__controls {
    display: none;
  }
}
