@import "../../variables.scss";

@mixin overview-padding {
  padding-right: 0px;
  padding-left: 0px;
}
.overview__container {
  @extend .sl__container;
  padding: 0 10px 0 10px;

  @media (min-width: $tablet) {
    padding: 20px 10px 0;
  }
}

.overview__container {
  @extend .sl__container;
  height: 100%
}

.overview__twelve__column {
  @extend .sl__twelve__column;
  @include overview-padding;
}

.overview__ten__column {
  @extend .sl__ten__column;
  @include overview-padding;
}

.overview__nine__column {
  @extend .sl__nine__column;
  @include overview-padding;

  @media (min-width: $tablet) {
    width: calc(100% - 200px);
  }
}

.overview__six__column {
  @extend .sl__six__column;
  @include overview-padding;

  @media (min-width: $tablet) {
    padding-right: 20px;
  }
}
.overview__six__column__last {
  @extend .sl__six__column;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.overview__three__column {
  @extend .sl__three__column;
  @include overview-padding;

  @media (min-width: $tablet) {
    width: 200px;
    padding-right: 20px;
  }
}

.overview__two__column {
  @extend .sl__two__column;
  @include overview-padding;
}
