@import "../../variables.scss";

.subscription {
  padding: 0 10px 10px;

  @media (min-width: $iphone6s) {
    padding: 60px 10px;
    max-width: 820px;
    margin: 0 auto;
  }
}

.subscription__heading {
  @include account-h4($companyTheme);
}

.subscription__heading__container {
  text-align: center;
  display: none;

  @media (min-width: $iphone6s) {
    display: block;
  }
}
