.sl-meter-bottom-sheet .quiver-regwall__container {
  background-color: color('gray', 10);
  border-radius: 16px 16px 0 0;
  box-shadow: 0px -4px 15px rgba(60, 60, 60, 0.45);
}

.sl-meter-bottom-sheet__modal {
  width: 100%;
  height: 540px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sl-meter-bottom-sheet__modal__action__back {
  position: absolute;
  top: 24px;
  left: 0px;
  display: flex;
  font-family: $source-sans-pro;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: color('dark-blue', 10);
  align-items: center;
  cursor: pointer;
  background: none !important;
  border: none;
  padding: 0 !important;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  span {
    visibility: hidden;
  }
  margin: 7px 15px;
}

.sl-meter-bottom-sheet__title {
  justify-self: center;
  font-family: $futura-dem;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  padding: 0 0 16px 0;
}

.sl-meter-bottom-sheet__modal__action__arrow {
  width: 8px;
  height: 8px;
  left: 40px;
  top: 437px;
  border: 2px solid color('dark-blue', 20);
  border-right-color: color('white');
  border-bottom-color: color('white');
  transform: rotate(-45deg);
  margin: 10px 5px;
}

.sl-meter-bottom-sheet-inline-regwall {
  width: 100%;
  height: 430px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sl-meter-bottom-sheet-inline-regwall__cta-container {
  padding: 0 15px 0 15px;
  h1 {
    color: color('black');
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin: 32px 0 32px 0;
    text-align: center;
  }
  div {
    color: color('gray', 80);
    text-align: center;
  }
}

.sl-meter-bottom-sheet-inline-regwall__box-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.sl-meter-bottom-sheet-inline-regwall__divider {
  display: block;
  color: color('gray', 80);
  margin: 0 auto;
  min-width: 90px;
}

.sl-meter-bottom-sheet-inline-regwall__box {
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-radius: 16px;
  box-shadow: 0px 8px 17px 8px rgba(52, 52, 52, 0.05);
  height: 273px;
  max-width: 603px;
  padding: 0 14px;
  width: 100%;
  h3 {
    color: color('black');
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin: 38px 0 8px 0;
    text-align: center;
  }
  .quiver-button {
    margin: 24px auto 8px auto;
    width: 428px;
  }
  &__description {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 24px;
    min-height: 48px;
    width: 100%;
  }
  &__footnote {
    font-size: 12px;
    line-height: 24px;
    &-bold {
      font-size: 12px;
      font-weight: 600;
      line-height: 24px;
    }
  }
  &__signin_label {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.5px;
    line-height: 24px;
    a {
      color: color('dark-blue', 10);
      font-weight: 600;
      text-decoration: none;
    }
  }
}

.sl-meter-bottom-sheet__close {
  position: absolute;
  top: 4px;
  right: 4px;
  height: 12px;
  padding: 8px;
  display: flex;
  align-items: center;
  color: color('white');
  box-sizing: content-box;
  cursor: pointer;
  background: transparent;
  border: none;
  .quiver-new-close-icon {
    width: 12px;
    height: 12px;
    stroke: color('black');
  }
  &:hover,
  &:active,
  &:focus {
    background: color('white');
    border-radius: 4px;
    outline: 0;
    .quiver-new-close-icon {
      stroke: color('dark-blue', 10);
    }
  }
}

@media (max-width: $medium-width) {
  .sl-meter-bottom-sheet-inline-regwall {
    flex-direction: column;
    height: 75vh;
    max-height: 560px;
    justify-content: flex-start;
  }

  .sl-meter-bottom-sheet-inline-regwall__cta-container {
    h1 {
      margin: 24px 0 8px 0;
    }
  }
  .sl-meter-bottom-sheet-inline-regwall__box-container {
    flex-direction: column;
    padding: 0 2vw;
  }
  .sl-meter-bottom-sheet-inline-regwall__divider {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 0;
  }
  .sl-meter-bottom-sheet-inline-regwall__box {
    height: auto;
    max-width: 328px;
    min-height: 228px;
    padding: 0 16px;
    width: auto;
    h3 {
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      margin: 24px 0 0 0;
    }
    &__description {
      font-size: 14px;
      line-height: 20px;
      min-height: auto;
      br {
        display: none;
      }
    }
    &__signin_label {
      font-size: 14px;
      letter-spacing: normal;
    }
    .quiver-button {
      font-size: 14px;
      height: 40px;
      line-height: 16px;
      padding: 0 10px;
      width: 100%;
    }
  }
  .sl-meter-bottom-sheet__close {
    top: 16px;
    right: 16px;
  }
}

@media (min-width: $tablet-width) {
  .sl-meter-bottom-sheet__modal {
    height: 530px;
  }
  .sl-meter-bottom-sheet__modal__action__back {
    left: 36px;
    span {
      visibility: visible;
    }
  }
  .sl-meter-bottom-sheet__close {
    top: 8px;
    right: 8px;
    height: 16px;
    .quiver-new-close-icon {
      width: 16px;
      height: 16px;
    }
  }
}
// For smaller device heights (iPhone7)
@media (max-height: 554px) {
  .sl-meter-bottom-sheet__modal {
    height: 72vh;
  }
}
