@import '~@surfline/quiver-themes/stylesheets/surfline/mixins/btnReset.scss';

@mixin sl-small-text {
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 20px;
  color: color('blue-gray', 70);
}

@mixin sl-small-paragraph {
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: color('gray', 70);
}

@mixin sl-paragraph {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: color('gray', 70);
}

@mixin sl-paragraph-jumbo {
  color: color('gray', 80);
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1.58px;
  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 1px;
  }
}

@mixin sl-landing-paragraph {
  @include sl-paragraph;
  font-family: $source-sans-pro;
  font-weight: 400;
  letter-spacing: 1px;
  color: color('gray', 80);
}

@mixin sl-landing-h1 {
  margin: 0 auto;
  font-family: $futura-dem;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 1.89px;
  font-weight: 400;
  color: color('white');
  text-transform: uppercase;
  text-align: center;
  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 52px;
    line-height: 58px;
    letter-spacing: 1.4px;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (min-width: $desktop-width) {
    font-size: 72px;
    line-height: 54px;
    letter-spacing: 4px;
  }
}

@mixin sl-h3 {
  margin: 0;
  padding-top: 10px;
  font-family: $futura-dem;
  font-size: 38px;
  line-height: 42px;
  letter-spacing: 1.2px;
  font-weight: 400;
  color: color('gray', 90);
}

@mixin sl-landing-h3 {
  @include sl-h3;
  padding-top: 0px;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 2px;
  text-transform: uppercase;
  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 54px;
  }
}

@mixin sl-h6 {
  margin: 0;
  font-family: $futura-dem;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.88px;
  text-transform: uppercase;
  font-weight: 400;
  color: color('blue-gray', 70);
  @media (min-width: $tablet-width) {
    font-size: 18px;
    letter-spacing: 1px;
  }
}

@mixin sl-landing-button {
  height: 68px;
  width: 226px;
  letter-spacing: 0.88px;
  padding: 0;
  font-size: 14px;
  @media (min-width: $tablet-width) {
    height: 80px;
    width: 266px;
    font-size: 16px;
    letter-spacing: 1px;
  }
}

@mixin sl-aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .sl-ar-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin sl-vertical-center {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

@mixin sl-left-rail {
  float: none;
  text-align: center;
  @media (min-width: $tablet-width) {
    float: left;
    text-align: left;
  }
}

@mixin sl-right-rail($paddingBottom) {
  width: 100%;
  float: none;
  position: relative;
  padding-bottom: $paddingBottom;
  @media (min-width: $tablet-width) {
    float: right;
  }
}

@mixin feed-item-box-attributes {
  width: calc(100% - 32px);
  padding: 16px;
  margin: 16px 0px 0px 0px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  background-color: color('white');
  @media (min-width: $tablet-large) {
    margin: 24px 0px 0px 0px;
  }
}

@mixin feed-item-content {
  width: 100%;
}

@mixin feed-category {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-bottom: 16px;
  color: color('gray', 90);
  font-family: $futura-surfline;
}

@mixin sl-inner-cam($image) {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-image: url($image);
  background-size: cover;
  background-position: bottom center;
  text-align: center;
}

@mixin sl-home-cam-close($display) {
  display: $display;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 9;
  &-icon {
    stroke: color('white');
  }
}

@mixin premiumCamCtaAdjustments {
  .quiver-premium-cam-cta__heading {
    margin: 0 8px 16px 8px;
    font-size: 14px;
    width: calc(100% - 16px);
  }
  .quiver-premium-cam-cta__links__upgrade {
    margin: 0;
  }
  .quiver-button {
    width: 125px;
    height: 40px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 16px;
  }
  .quiver-premium-cam-cta__links__upgrade {
    margin-bottom: 8px;
  }
  .quiver-premium-cam-cta__links__about {
    display: none;
  }
  .quiver-premium-cam-cta__icon {
    display: none;
    margin-bottom: 8px;
  }
  .quiver-premium-cam-cta__subheading {
    display: none;
    flex: unset;
    margin-bottom: 16px;
  }
}
