$sl-multi-cam-color-map: (
  'flat': (
    secondary: color('gray', 10),
    secondary-hover: darken(color('gray', 10), 5%),
    border: color('gray', 30),
    border-hover: color('gray', 40),
    default: color('gray', 50),
    default-hover: color('gray', 60)
  ),
  'very-poor': (
    secondary: color('light-blue', 10),
    secondary-hover: darken(color('light-blue', 10), 5%),
    border: color('light-blue', 30),
    border-hover: color('light-blue', 40),
    default: color('light-blue', 50),
    default-hover: color('light-blue', 60)
  ),
  'poor': (
    secondary: color('light-blue', 10),
    secondary-hover: darken(color('light-blue', 10), 5%),
    border: color('light-blue', 30),
    border-hover: color('light-blue', 40),
    default: color('light-blue', 50),
    default-hover: color('light-blue', 60)
  ),
  'poor-to-fair': (
    secondary: color('light-blue', 10),
    secondary-hover: darken(color('light-blue', 10), 5%),
    border: color('light-blue', 30),
    border-hover: color('light-blue', 40),
    default: color('light-blue', 50),
    default-hover: color('light-blue', 60)
  ),
  'fair': (
    secondary: color('green', 10),
    secondary-hover: darken(color('green', 10), 5%),
    border: color('green', 30),
    border-hover: color('green', 40),
    default: color('green', 50),
    default-hover: color('green', 60)
  ),
  'fair-to-good': (
    secondary: color('green', 10),
    secondary-hover: darken(color('green', 10), 5%),
    border: color('green', 30),
    border-hover: color('green', 40),
    default: color('green', 50),
    default-hover: color('green', 60)
  ),
  'good': (
    secondary: color('orange', 10),
    secondary-hover: darken(color('orange', 10), 5%),
    border: color('orange', 30),
    border-hover: color('orange', 40),
    default: color('orange', 50),
    default-hover: color('orange', 60)
  ),
  'very-good': (
    secondary: color('orange', 10),
    secondary-hover: darken(color('orange', 10), 5%),
    border: color('orange', 30),
    border-hover: color('orange', 40),
    default: color('orange', 50),
    default-hover: color('orange', 60)
  ),
  'good-to-epic': (
    secondary: color('orange', 10),
    secondary-hover: darken(color('orange',  10), 5%),
    border: color('orange', 30),
    border-hover: color('orange', 40),
    default: color('orange', 50),
    default-hover: color('orange', 60)
  ),
  'epic': (
    secondary: color('red', 10),
    secondary-hover: darken(color('red', 10), 5%),
    border: color('red', 30),
    border-hover: color('red', 40),
    default: color('bright-red', 50),
    default-hover: color('bright-red', 60)
  ),
  'lola': (
    secondary: color('dark-blue', 10),
    secondary-hover: darken(color('dark-blue', 10), 5%),
    border: color('dark-blue', 30),
    border-hover: color('dark-blue', 40),
    default: color('dark-blue', 50),
    default-hover: color('dark-blue', 60)
  ),
  'none': (
    secondary: color('blue-gray', 20),
    secondary-hover: darken(color('blue-gray', 20), 5%),
    border: color('blue-gray', 50),
    border-hover: color('blue-gray', 60),
    default: color('blue-gray', 70),
    default-hover: color('blue-gray', 80)
  )
);
