$desktop-xxl-width: 1600px;
$desktop-xl-width: 1435px;
$desktop-large-width: 1320px;
$desktop-width: 1201px;
$tablet-landscape: 1023px;
$small-desktop: 830px;
$tablet-width: 768px;
$large-mobile: 512px;
$small-mobile: 350px;
$tablet-large: 976px;

$homepage-right-rail-width: 320px;
$homepage-right-rail-width--desktop-small: 456px;
$homepage-right-rail-width--desktop-large: 496px;
