@import '../../styles/variables';

.spinner {
  position: relative;
  left: calc(50% - 34px);
  top: calc(50% - 50px);

  :global {
    .quiver-spinner {
      width: 68px;
      height: 76px;
    }
  }
}

.slMapPage {
  height: calc(100vh - 96px);
  .slRightRail {
    height: calc(100% - 158px);
  }

  .slLeftRail {
    z-index: zindex(map-control);
  }
}

@media (min-width: $medium-width) {
  .slMapPage {
    .slRightRail {
      height: 100%;
    }
  }
}
