@import '~@surfline/quiver-themes/stylesheets/common/_colors.scss';

.nav {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  text-align: center;
  border: 1px solid color('light-blue');
}
  .nav__nav-item {
    &:not(:first-child) {
      border-left: 1px solid color('light-blue');
    }
  }

    .nav__nav-item-link {
      display: block;
      height: 100%;
      padding: 10px 15px;
      cursor: pointer;
      color: color('light-blue');
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        background-color: color('light-blue', 10);
      }
    }

      .nav__nav-item-link--active {
        color: color('white');
        background-color: color('light-blue');

        &:hover {
          background-color: color('light-blue');
        }
      }

  .nav--child-nav {
    $border-radius: 8px;

    border-radius: $border-radius + 1;

    .nav__nav-item {
      &:first-child,
      &:first-child .nav__nav-item-link {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }

      &:last-child,
      &:last-child .nav__nav-item-link {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      &:not(:first-child) {
        border-left: 1px solid color('light-blue');
      }
    }

      .nav__nav-item-link {
        padding: 5px 15px;
      }
  }
