.register-link__action {
  cursor: pointer;
  font-family: $source-sans-pro;
  margin-left: 4px;
  padding: 0;
  color: color('light-blue');
  display: inline;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: color('white');
}

.registration-subtitle {
  margin: 0;
  font-family: $source-sans-pro;
}
