.poi-tool-nav-item {
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 2%;
  a {
    text-decoration: none;
  }
  .quiver-button {
    margin: 16px;
    &:hover {
      color: white;
    }
  }
}
