@import '../../styles/variables';

.buoySwells {
  display: none;
  flex-flow: column;
  align-items: flex-start;
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: color('gray', 90);
  margin: 0;
  padding: 0;
  flex: 0 0 50%;
}

.buoySwellsLarge {
  display: flex;
}

.buoySwellsItem {
  margin-bottom: 2px;
}

.buoySwellsTitle {
  font-family: $source-sans-pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2571px;
  color: color('gray', 40);
  margin: 0 0 8px;
}

.buoySwellsOfflineItem {
  p {
    margin: 0;
    font-family: $source-sans-pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: color('bright-red', 30);
  }
}

@media (min-width: $tablet-large) {
  .buoySwells {
    display: flex;
  }
}
