@import "../../variables.scss";

.upgrade-funnel, .redeem-funnel, .gift-purchase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $white;

  .quiver-button--info {
    margin-top: 20px;
    border: none;
    &:hover, &:active, &:focus {
      background-color: $white;
      color: #42A5FC;
      border: none;
    }
  }

  .mobile-rail-cta__header {
    margin: 0 0 8px 0;
    height: auto;
  }
}
.upgrade-funnel__content, .redeem-funnel__content, .gift-purchase__content {
  padding: 16px;
  margin: 0 auto;
  max-width: 410px;
  background: $white;

  .availablePlan__container--alt {
    margin-top: 0px;
  }

  .quiver-alert {
    margin-bottom: 16px;
  }
}

.upgrade-header__title, .gift-redeem-header__title, .gift-purchase-header__title {
  @include brand-h4($companyTheme);
  margin-bottom: 0;
}

.upgrade-header__subtitle {
  font-size: 12px;
  font-family: $font-family-secondary;
  color: #9b9b9b;
  line-height: 20px;
}

.redeem-form, .redeem-confirmation {
  margin: 24px 0 24px 0;
}

.register-link__action {
  cursor: pointer;
  margin-left: '12px';
  color: #42a5fc;
}

.StripeElement {
  display: block;
  margin: 0 0 20px 0;
  max-width: 500px;
  padding: 16px 14px;
  font-size: 1em;
  font-family: $font-family-secondary, 'Helvetica';
  border: 1px solid #d2d6d9;
  outline: 0;
  background: white;
}

.checkout-form__container__payment-button .quiver-button {
  background-color: $green-50;
  border-color: $green-50;
  &:hover {
    background-color: $green-70;
    border-color: $green-70;
  }
}

.disclaimer {
  font-family: $font-family-secondary;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: .8px;
  color: #999;
  padding-top: 24px;
  a {
    text-decoration: none;
    color: #333333;
    cursor: pointer;
  }
}

.coupon-form {
  margin-top: 16px;
  input {
    margin-bottom: 24px;
  }
  input::placeholder {
    color: #aab7c4;
    font-family: $font-family-secondary;
    font-weight: bold;
  }
}

.coupon-form__message {
  font-family: $font-family-primary;
  color: $light-blue-70;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.coupon-form__button-container {
  display: flex;
}

.coupon-form__cancel {
  background-color: $white;
}

.credit-card-container {
  margin-bottom: 24px;
}

.credit-card {
  position: relative;
  display: flex;
  margin: 0 0 20px 0;
  max-width: 500px;
  padding: 16px 21px 16px 14px;
  font-size: 18px;
  font-family: $font-family-secondary;
  border: 1px solid #d2d6d9;
  outline: 0;
  background: white;
  letter-spacing: 0.025em;
  cursor: pointer;
  color: #aab7c4;
}

.credit-card--active {
  color: #333333;
  border: 3px solid #23d737;
}

.credit-card .credit-card__element {
  display: flex;
  margin-right: 8px;
  align-items: center;
  &--card-number {
    flex: 1 0 auto;
  }
}

.credit-card__form__toggle {
  margin-bottom: 24px;
  font-family: $font-family-primary;
  font-size: 14px;
  line-height: 16px;
  margin-left: 11px;
  text-align: center;
  letter-spacing: 1.1px;
  color: #42a5fc;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

.checkout-form__container__digital_wallet__section {
  height: 1px;
  border: 1px solid rgb(210, 214, 217);
  margin: 10px;
}
.checkout-form__container__digital_wallet__button {
  border-radius: 5px;
  padding: 0px;
}
.checkout-form__container .section-label {
  color: $gray-70;
  font-size: 14px;
  font-family: $account-secondary-font;
  letter-spacing: 0px;
  line-height: 20px;
  margin: 10px 0px;
  &--digitalwallet {
    margin-top: 25px;
  }
}

@media (min-width: $mobile-breakpoint) {
  .upgrade-funnel, .redeem-funnel, .gift-purchase {
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
  }
  .upgrade-funnel__content, .redeem-funnel__content, .gift-purchase__content {
    padding: 0px 60px 60px 60px;
    margin: 20px auto 0 auto;
    min-width: 560px;
    background: $white;
  }
}
