.sign-in-wrapper {
  display: flex;
  flex-direction: column;
  margin: 12px;
  width: 100%;
  max-width: 410px;
}

.sign-in__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0;
  text-align: left;
}

.sign-in__facebook--wrapper {
  margin: 18px 0 8px 0;
}
