{
  "attachments": [
    {
      "color": "#ea0b06",
      "fields": [
        {
          "title": "Rolling back `{{ app }}` into `{{ env }}` failed!",
          "value": "{{ workflow-url }}",
          "short": false
        }
      ]
    }
  ]
}
