{
  "attachments": [
    {
      "color": "#1d9bd1",
      "fields": [
        {
          "title": "Deploying {{ type }} `{{ app }}` into `{{ environment }}`...",
          "value": "{{ workflow-url }}",
          "short": false
        }
      ],
      "footer": "
        *Branch:* {{ branch }}\n
        *Commit:* {{ commit }}\n
        *PR:* {{ pull }}\n
        Triggered via _{{ event }}_ by _{{ user }}_"
    }
  ]
}
