{
  "attachments": [
    {
      "color": "#36a64f",
      "fields": [
        {
          "title": "Rollback of `{{ app }}` into `{{ environment }}` completed!\n",
          "value": "{{ workflow-url }}",
          "short": false
        }
      ]
    }
  ]
}
