{
  "attachments": [
    {
      "color": "#dbab0a",
      "fields": [
        {
          "title": "Rolling back `{{ app }}` into `{{ environment }}`",
          "value": "{{ workflow-url }}",
          "short": false
        }
      ]
    }
  ]
}
