.input {
  width: 300px;
  height: 40px;
  border: 1px solid #eee;
  font-size: 20px;
  position: absolute;
  left: -1000px
}

.scanBandImage {
  width: 80%;
  max-width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: #eee;
}
