@import '../../common/themes/main.scss';

.gift-card-recipient, .gift-card-sender, .gift-card-message {
  display: flex;
  margin: 8px 0px 0px 0px;
  justify-content: space-between;
}
.gift-card-message .quiver-text-area {
  textarea {
    min-width: 300px;
    width: 100%;
    height: 100px;
  }
}
.gift-card-recipient .quiver-input, .gift-card-sender .quiver-input {
  min-width: 146px;
  margin: auto 2px;
  input {
    min-width: 146px;
  }
}

.gift-card-message .quiver-text-area {
  width: 100%;
}
.gift-card-message-form {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 16px auto 0;
}
.gift-card-message-form .quiver-button {
  margin-top: 24px;
}
.gift-card-message-form__label {
  font-size: 12px;
  font-weight: bold;
  margin-top:16px;
  font-family: $futura-dem;
  letter-spacing: 1.5px;
  color: color('gray', 80);
}
.gift-card-learn-more{
    color: color('light-blue');
    font-size: 12px;
    font-family: $source-sans-pro;
    letter-spacing: 0.8px;
    line-height: 20px;
    margin: 20px 0px;
    outline: none;
    text-decoration: none;
}

@media (min-width: $tablet-large) {
  .gift-card-recipient .quiver-input, .gift-card-sender .quiver-input {
    min-width: 214px;
  }
}
