@import '../../common/themes/main.scss';

.switch-plans__description {
  font-family: $source-sans-pro;
  font-size: 14px;
  color: color('gray', 70);
  margin: 20px auto;
}
.switch-plans__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.switch-plans__offer {
  box-shadow: 0 3px 2px 0 rgba(52, 130, 65, 0.31);
  background-color: color('white');
  border: solid 1px color('green', 50);
  padding: 20px;
  font-family: $futura-dem;
  color: color('gray', 90);
  margin: 10px auto;
}
.switch-plans__name {
  font-size: 14px;
  width: 130px;
  text-align: center;
  line-height: 1.6;
  margin: 10px;
}
.switch-plans__price {
  display: flex;
  justify-content: center;
  margin-right: 8px;
  flex-flow: row;
  margin: 10px;
}
.switch-plans__currency {
  font-size: 26px;
  padding-top: 12px;
}
.switch-plans__dollars {
  font-size: 72px;
}
.switch-plans__price__small {
  padding-top: 16px
}
.switch-plans__cents {
  font-size: 26px;
}
.switch-plans__interval {
  color: color('gray', 70);
}
.switch-plans__credit{
  font-family: $source-sans-pro;
  font-size: 11px;
  letter-spacing: 0.6px;
  text-align: center;
  color: color('gray', 70);
}
.switch-plans__button-keep-premium {
  width: 100%;
  background-color: color('green', 50);
  color: color('white');
}
.switch-plans_error__alert {
  color: color('red', 50);
  font-family: $source-sans-pro;
  background-color: color('red', 10);
  border: 1px solid color('red', 10);
  padding: 10px;
  font-size: 12px;
  line-height: 12px;
  margin-top: 7px;
}
.switch-plans__ghost-button {
  color: color('gray', 90);
}
.switch-plans__button__submit--submitting__img {
  animation:spin .75s linear infinite;
}

@media (min-width: $tablet-large) {
  .switch-plans__description {
    text-align: left;
  }
}
