@import '../../common/themes/main.scss';

.offer-header__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0;
  text-align: left;
}
.offer-header__subtitle {
  font-size: 12px;
  font-family: $source-sans-pro;
  color: #9b9b9b;
  line-height: 20px;
}
