@import '../../styles/variables';

.nearbyBuoysHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 0 16px;
  border-bottom: 1px solid color('gray', 30);
}

.nearbyBuoysTitle {
  font-family: $futura-surfline;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
  color: color('black', 40);
  margin: 0;
}

.mapLink {
  font-family: $source-sans-pro;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.36px;
  color: color('light-blue', 90);
  text-decoration: none;
  margin: 0;

  &:hover {
    text-decoration: underline;
  }
}
