@import "~@surfline/quiver-themes/stylesheets/common/_sourcesanspro.scss";
@import "~@surfline/quiver-themes/stylesheets/surfline/Notifications.scss";

.paymentwarning-banner {
    span, a {
        font-weight: 500;
      }
      a {
        text-decoration: underline;
      }
}
