@import './AddIcon';

.quiver-add-favorites {
  display: inline-block;
  vertical-align: middle;
  padding: 0 18px 0 16px;
  color: color('gray', 80);
  text-decoration: none;
  height: 40px;
  &:hover {
    background-color: color('light-blue', 5);
    transition: all 0.4s ease 0s;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    &__content {
      h5 {
        margin: 2px 0 0;
        padding-left: 8px;
        color: color('light-blue', 50);
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.5px;
        font-weight: 400;
        text-transform: uppercase;
      }
      p {
        display: none;
      }
    }
  }
  &--large {
    height: 100%;
    .quiver-add-icon {
      width: 40px;
      height: 40px;
    }
    .quiver-add-favorites__wrapper {
      &__content {
        display: flex;
        flex-direction: column;
        h5 {
          font-size: 14px;
          line-height: 16px;
          display: block;
          padding-top: 2px;
        }
        p {
          display: block;
          padding-left: 8px;
          line-height: 21px;
        }
      }
    }
  }
}
