@import '../common/colors';

.quiver-add-to-calendar {
  max-width: 300px;
  background-color: color('light-blue', 50);
  border: 2px solid color('light-blue', 50);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.25s ease, border 0.25s ease;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: white;
  }
  color: white;
  height: 55px;
  &:hover {
    background-color: color('light-blue', 70);
    border: 2px solid color('light-blue', 70);
    a {
      color: white;
    }
  }
}
