@import '../common/colors';

.quiver-alert {
  padding: 11px 15px;
  font-size: 14px;
  background-color: color('light-blue', 10);
  color: color('light-blue', 50);
}

.quiver-alert--success {
  background-color: color('green', 10);
  color: color('green', 50);
}

.quiver-alert--warning {
  background-color: color('orange', 10);
  color: color('orange', 50);
}

.quiver-alert--error {
  background-color: color('red', 10);
  color: color('red', 50);
}
