@import '../common/colors';
@import '../common/fonts';
@import '../variables';

.quiver-async-data-container {
  display: flex;
}

.quiver-async-data-container__error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: color('red', 50);
  background-color: color('red', 10);
}

.quiver-async-data-container__loading {
  width: 100%;
  background-color: color('light-blue', 5);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: color('gray', 90);
  font-size: 16px;
  & > * {
    margin: 4px;
  }
}

.quiver-async-data-container__loading--slow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
