@import '../common/conditionsV2';
@import '../common/media';

.quiver-automated-ratings {
  display: flex;
  flex-flow: row nowrap;
  height: 8px;
  margin-top: 2px;
  justify-content: space-between;

  > span {
    width: 100%;
  }

  @media (min-width: $tablet-large) {
    margin-top: 4px;
  }
}

.quiver-automated-ratings__day {
  flex: 1 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.quiver-automated-ratings__bar {
  &:not(:last-child) {
    margin-right: 1px;
  }
}

@each $condition, $colors in $sl-condition-color-map-v2 {
  $default-color: map-get($colors, 'default');

  .quiver-automated-ratings__bar--#{$condition} {
    background-color: $default-color;
  }
}
