@import '../common/colors';
@import '../common/fonts';
@import '../variables';
@import '../common/media';

.quiver-base-content-card {
  border: 1px solid color('gray', 30);
  padding: 30px 30px 0px 30px;

  h2 {
    margin: 10px 0 5px 0;
    line-height: 1.17;
    font-family: $futura-dem;
    font-size: 24px;
    color: color('gray', 90);
    font-weight: 400;
  }
}

.quiver-base-content-card__meta {
  text-transform: uppercase;
  font-family: $futura-dem;
  font-size: 10px;
  color: color('gray', 55);
  letter-spacing: 1px;

  &:hover {
    color: color('gray', 55);
  }
}

.quiver-base-content-card__tags {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 21px 0 0 0;
  border-top: 1px solid color('gray', 20);

  li {
    display: inline-block;
    font-size: 12px;
    font-family: $source-sans-pro;
    text-transform: uppercase;
    letter-spacing: 0.8px;

    &:not(:last-child) {
      margin-right: 20px;
    }

    a {
      text-decoration: none;
      color: color('light-blue', 50);

      &:hover {
        color: color('light-blue', 70);
      }
    }
  }
}

.quiver-base-content-card__paywall {
  border-top: 1px solid color('gray', 20);
  font-size: 14px;
  text-align: center;
  padding: 30px 0 10px 0;
  margin-top: 20px;
  letter-spacing: 0.5px;
}

.quiver-base-content-card__paywall__link {
  font-size: 14px;
  color: color('green', 50);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    color: color('green', 70);
  }
}

.quiver-base-content-card__paywall__message {
  margin-bottom: 10px;

  svg {
    margin-right: 5px;
    width: 11px;
    height: 13px;
    fill: color('gray', 90);
  }
}

.quiver-content-card__paywall {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  font-family: $futura-dem;
  border-radius: 10px;
  padding: 25px 20px;
  background-color: color('dark-blue', 90);
  background-position: -120% 100%;
  background-size: 150%;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);

  .quiver-content-card__paywall__message {
    margin: 16px 0px;
    color: white;
  }

  .quiver-button {
    background-color: color('green', 50);
    border-color: color('green', 50);
    height: 40px;
    width: 156px;
    padding: 0px;
    font-size: 16px;
    letter-spacing: 0.8px;
    &:hover {
        background-color: color('green', 70);
        border-color: color('green', 70);
    }
  }
}

@media (min-width: $tablet-width) {
  .quiver-content-card__paywall {
    background-position: 160% 20%;
    background-size: 80%;
  }
}

.sl2-article {
  .quiver-content-card__paywall {
    border-top: 1px solid color('gray', 20);
  }
}

.quiver-content-card__paywall__link {
  text-align: center;
  font-size: 18px;
  color: color('green', 50);
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 32px;
  font-weight: 600;
  letter-spacing: 1px;

  &:hover {
    color: color('green', 70);
  }
}
