@import '../variables';
@import '../common/colors';
@import '../common/fonts';
@import '../common/media';

.quiver-base-menu-item {
  display: block;
  text-decoration: none;
  padding: 5px 20px;
  font-family: $source-sans-pro;
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
  color: color('gray', 90);
  line-height: 48px;
  cursor: pointer;
  &:hover, &:focus {
    background-color: color('light-blue', 5);
  }
}

@media(min-width: $tablet-width) {
  .quiver-base-menu-item {
    font-size: 14px;
    line-height: 24px;
  }
}
