@import '../common/media';

/* Dropdown menu styles */
@media (min-width: $tablet-width) {
  .quiver-base-menu {
    position: absolute;
    top: 100%;
    min-width: 270px;
    height: auto;
    padding: 10px 0;
    background-color: color('white');
    border-radius: 0 0 4px 4px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.15), 0 5px 15px rgba(0,0,0,0.12);
    z-index: 100;
    &--open-right {
      left: auto;
      right: 0;
    }
  }
}
