@import '../common/colors';
@import '../common/fonts';

.quiver-button {
  font-family: $futura-dem;
  background-color: color('light-blue', 50);
  content: \f00c;
  color: color('white');
  border: 2px solid color('light-blue', 50);
  height: 55px;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 0 42px;
  transition: background 0.25s ease, border 0.25s ease;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: color('light-blue', 70);
    border: 2px solid color('light-blue', 70);
  }

  &:focus {
    background-color: color('light-blue', 70);
    border: 2px solid color('light-blue', 70);
  }

  &:active {
    border-top: 2px solid color('light-blue', 90);
  }

  &:disabled {
    border: 2px solid color('gray', 30);
    background: color('gray', 30);
    cursor: not-allowed;
  }
}

.quiver-button--parent-width {
  width: 100%;
}

.quiver-button--loading, .quiver-button--loading:hover, .quiver-button--loading:disabled {
  border: 2px solid color('light-blue', 90);
  background-color: color('light-blue', 90);
  cursor: not-allowed;
  
  .quiver-spinner {
    g {
      fill: color('white');
    }
  }
}

.quiver-button--success, .quiver-button--success:hover, .quiver-button--success:disabled {
  border: 2px solid color('green', 50);
  background-color: color('green', 50);
  cursor: not-allowed;
}



.quiver-button--info {
  font-family: $futura-dem;
  background-color: color('white');
  content: \f00c;
  color: color('light-blue', 70);
  border: 2px solid color('light-blue', 50);
  height: 55px;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 0 44px;
  transition: background 0.25s ease, border 0.25s ease;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: color('light-blue', 70);
    border: 2px solid color('light-blue', 70);
    color: color('white');
  }

  &:focus {
    background-color: color('light-blue', 70);
    color: color('white');
  }

  &:active {
    border-top: 2px solid color('light-blue', 90);
  }

  &:disabled {
    border: 2px solid color('gray', 30);
    background: color('gray', 30);
    cursor: not-allowed;
  }
}
