@import '../common/fonts';
@import '../variables';

.quiver-butterbar {
  background-color: white;
  font-family: $ibm-plex-sans;
  width: 100%;

  &__titlebar {
    align-items: center;
    background: #0058B0;
    display: flex;
    min-height: 46px;
    justify-content: center;
    &__title {
      font-size: 20px;
      color: #fff;
      text-align: center;
    }
  }

  &__body {
    font-style: normal;
    font-weight: 500;
    padding: 8px 100px;
    position: relative;
    text-align: center;
    p {
      line-height: 20px;
      font-size: 14px;
    }
    p.quiver-butterbar__body__tagline {
      font-weight: 700;
      font-size: 18px;
    }
    &__close {
      cursor: pointer;
      position: absolute;
      right: 16px;
      top: 16px;
    }
  }
}

@media (max-width: $tablet-large) {
  .quiver-butterbar__body {
    padding: 8px 30px;
  }
}
