@import '../common/colors';
@import '../variables';
@import '../common/fonts';
@import './mixins/aspectRatio';

.quiver-cam-cta {
  @include aspect-ratio(16, 9);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  flex-direction: column;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-image: radial-gradient(
      ellipse 100% 200% at 50% 50%,
      rgb(255, 255, 255) 0%,
      rgb(255, 255, 255) 6%,
      rgba(255, 255, 255, 1.53) 100%
    );
  }
}
.quiver-cam-cta__camStill {
  @include aspect-ratio(16, 9);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.quiver-cam-cta--multi {
  position: absolute;
}
.quiver-cam-cta__content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto 0.5em;
  .quiver-button {
    margin: 1em;
    background-color: color('dark-blue', 10);
    border: 2px solid color('dark-blue', 10);
    width: 75%;
    height: 2.5em;
    &:hover {
      background-color: color('dark-blue', 30);
      border: 2px solid color('dark-blue', 30);
    }
  }
}
.quiver-cam-cta__title {
  font-family: $source-sans-pro;
  font-size: 1.25em;
  text-align: center;
  font-weight: 700;
  color: color('black', 50);
  margin-bottom: 16px;
}
.quiver-cam-cta__subtitle {
  font-family: $source-sans-pro;
  font-size: 0.9em;
  text-align: center;
  color: color('gray', 90);
}
.quiver-cam-cta__footer {
  font-family: $source-sans-pro;
  font-size: 0.9em;
  text-align: center;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: color('gray', 90);
  z-index: 1;
  top: 76%;
}
.quiver-cam-cta__footer__link {
  margin: 0.5em;
  button {
    color: color('dark-blue', 10);
    font-weight: 800;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
  }
}
.quiver-cam-cta__button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .quiver-cam-cta__content {
    .quiver-button {
      margin: 1.5em auto;
      width: 235px;
      height: 45px;
    }
  }
  .quiver-cam-cta__subtitle {
    font-size: 1em;
    width: 60%;
  }
  .quiver-cam-cta__footer {
    margin: 2em auto 1em auto;
  }
  .quiver-cam-cta__title {
    font-size: 1.75em;
  }
}
