.quiver-cam-error {
  position: relative;
  &__cam-rewind-link {
    position: absolute;
    bottom: 16px;
    right: 16px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.8);
    fill: rgba(255, 255, 255, 0.8);
    display: flex;
    z-index: 2;
    svg {
      margin-right: 0.5px;
      position: absolute;
      top: 3px;
      right: 4px;
    }
    &:hover {
      background: color('white');
      svg {
        fill: color('light-blue', 50);
      }
    }
  }
}
