@import '../variables';
@import './mixins/aspectRatio';
@import './mixins/camMessage';
@import '../common/colors';
@import '../common/conditions';
@import '../common/fonts';
@import '../common/media';

// TODO remove and replace with quiver-button
@mixin cam-message-button($color, $tone) {
  $default-color: color($color, $tone);
  $darker-color: color($color, $tone + 20);
  $darkest-color: color($color, $tone + 40);
  button {
    border-top: 2px solid $default-color;
    background-color: #{$default-color};

    &:hover {
      border-top: 2px solid $darker-color;
      background-color: #{$darker-color};
    }

    &:active, &:focus {
      border-top: 2px solid $darkest-color;
      background-color: #{$darker-color};
    }
  }
}

.quiver-cam-player {
  &--upsell, &--timeout {
    .jw-display-controls.jw-reset {
      display: none;
    }
  }
}

.quiver-cam-player {
  .jw-cam-rewind {
    height: 24px;
    width: 24px;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.8);
    fill: rgba(255,255,255,0.8);
    display: flex;
    .jw-tooltip {
      bottom: 10px !important;
    }
    svg {
      margin-right: .5px;
    }
    &:hover {
      background: color('white');
      svg {
        fill: color('light-blue', 50);
      }
    }
  }
  .jw-tooltip {
    bottom: 22px !important;
  }
  &:hover {
    .quiver-cam-player__player__overlays__cam-title {
      display: block;
    }
  }
}

// START - AD NOT RUNNING
.quiver-cam-player--ad-not-running {
  .jw-icon.jw-icon-inline.jw-button-color.jw-reset {
    &.jw-icon-playback {
      position: absolute;
      right: 131px;
    }
    &.jw-icon-rewind {
      display: none;
    }
  }

  .jw-icon.jw-icon-tooltip.jw-icon-volume.jw-button-color.jw-reset {
    position: absolute;
    right: 92px;
  }

  .jw-icon.jw-icon-tooltip.jw-icon-volume.jw-button-color.jw-reset.jw-off {
    position: absolute;
    right: 90px;
  }

  .jw-icon-live, .jw-text-live {
    display: none !important;
  }

  .quiver-cam-player__player__live {
    border-radius: 1px;
    height: 12px;
    width: 30px;
    text-transform: uppercase;
    background: color('white');
    position: absolute;
    bottom: 13px;
    z-index: 4;
    left: 12px;
    padding: 4px;
    color: color('black');
    font-family: $source-sans-pro;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 11px;
    span {
      color: color('bright-red');
      font-size: 12px;
    }
    @media (min-width: $large-mobile) {
      font-size: 12px;
      letter-spacing: 0.6px;
      padding: 6px;
      width: 36px;
      bottom: 10px;
      span {
        color: color('bright-red');
        font-size: 14px;
      }
    }
  }
}
// END - AD NOT RUNNING

// START: Prerecorded specific
.quiver-cam-player--prerecorded {
  .jw-icon.jw-icon-inline.jw-button-color.jw-reset {
    &.jw-icon-playback {
      position: absolute;
      right: 87px;
    }
    &.jw-cam-rewind {
      display: none;
    }
  }

  .jw-icon.jw-icon-tooltip.jw-icon-volume.jw-button-color.jw-reset.jw-off {
    position: absolute;
    right: 46px;
  }

  .quiver-cam-player__player__recorded-earlier {
    border-radius: 2px;
    height: 12px;
    width: 145px;
    background: color('black');
    position: absolute;
    bottom: 13px;
    z-index: 10;
    left: 12px;
    padding: 4px 8px;
    color: color('white');
    font-family: $source-sans-pro;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 12px;
    @media (min-width: $large-mobile) {
      font-size: 12px;
      width: 175px;
      padding: 6px 8px;
      bottom: 10px;
    }
  }
  .jw-icon.jw-icon-inline.jw-text.jw-reset {
    &.jw-text-elapsed {
      position: absolute;
      left: 185px;
      font-family: $source-sans-pro;
      font-size: 10px;
      font-weight: 600;
      height: 18px;
      @media (min-width: $large-mobile) {
        font-size: 14px;
        left: 218px;
      }
    }
    &.jw-text-duration {
      position: absolute;
      left: 207px;
      font-family: $source-sans-pro;
      font-size: 10px;
      font-weight: 600;
      height: 18px;
      &:before {
        content: "-";
        padding-right: 1ch;
        padding-left: 1ch;
      }
      @media (min-width: $large-mobile) {
        font-size: 14px;
        left: 248px;
      }
    }
  }
}
// END: Prerecorded specific

.quiver-cam-player--free {
  &__ad-free-popup {
    text-align: left;
    padding: 24px;
    background: color('white');
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 48px);
    z-index: 1000;
    border-radius: 0px;
    box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.16);

    h3 {
      font-family: $futura-dem;
      margin: 0;
      letter-spacing: 0px;
      color: color('gray', 90);
      font-size: 22px;
      line-height: 22px;
    }
    p {
      font-family: $source-sans-pro;
      font-size: 16px;
      font-weight: normal;
      line-height: 20px;
      margin: 0;
      margin-top: 4px;
      margin-bottom: 20px;
      letter-spacing: 0px;
      color: color('gray', 90);
    }
    div {
      float: left;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0px;
      font-family: $futura-dem;
      font-weight: bold;

      button {
        font-family: $futura-dem;
        background-color: color('white');
        padding: 10px 22px;
        border: 1px solid color('gray', 55);
        color: color('gray', 50);
        font-weight: bold;
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0px;
        cursor: pointer;
        outline: none;
        margin-right: 17px;
      }

      a {
        display: inline-block;
        padding: 11px 21px;
        border: none;
        color: color('white');
        background-color: color('green', 50);
        text-decoration: none;
        text-transform: uppercase;
        font-family: $futura-dem;
        font-size: 14px;
        letter-spacing: 0px;
        cursor: pointer;
      }
    }
  }

  @media (min-width: $large-mobile) {
    &__ad-free-popup {
      width: 212px;
      height: 72px;
      bottom: 75px;
      left: 21px;
      box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.16);

      h3 {
        font-size: 20px;
        line-height: 20px;
      }
      div {
        button {
          margin-right: 18px;
          font-size: 12px;
          border: none;
          padding: 0;
        }
        a {
          color: color('green', 50);
          font-size: 12px;
          background: color('white');
          padding: 0;
        }
      }
    }
  }
}

.quiver-cam-player__player {
  .jw-controls {
    .jw-display-icon-next {
      display: none;
    }
  }

  .jw-state-idle .jw-controls, .jw-controls-backdrop {
    background: none;
  }

  .jw-icon-cc, .jw-icon-settings {
    display: none;
    width: 0px;
  }

  &--show-settings {
    .jw-icon-settings {
      //the default jw player settings
      display: flex;
      width: 44px;
    }
  }
}

.quiver-cam-player__player, .quiver-ad-player__player, .quiver-cam-error, .quiver-cam-adblock, .quiver-cam-nighttime {
  @include aspect-ratio(16,9);
  position: relative;
  font-family: $futura-dem;
}

.quiver-cam-player__player__overlays {
  position: absolute;
  top: 10px;
  right: 8px;
  z-index: 2;
  &__cam-title {
    display: none;
    font-family: $source-sans-pro;
    color: color('white');
    font-size: 12px;
    letter-spacing: 0.3px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 2px;
    text-align: right;
  }
  /* NOTE: Surfline/kbyg cam player uses DFP to manage styles */
  .quiver-cam-player__player__host-ad,
  .quiver-cam-player__player__host-ad a {
    font-family: $source-sans-pro;
    color: color('white');
    font-size: 12px;
    letter-spacing: 0.3px;
    text-decoration: none;
    text-align: right;
    iframe {
      width: 100%;
    }
    &:hover {
      text-decoration: underline;
    }
    @media (min-width: $tablet-width) {
      right: 16px;
    }
  }
}



.quiver-cam-player__countdown {
  text-align: right;
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: .4px;
  color: color('gray', 50);
  height: 18px;
}

.quiver-cam-player__upsell-countdown {
  position: absolute;
  z-index: 1000;
  bottom: 5%;
  width: 100%;
  text-align: center;
  color: color('white');
  font-size: 14px;
  font-family: $source-sans-pro;
  letter-spacing: -0.1px;
}

.quiver-cam-rewind-message {
  width: calc(100% - 20px);
  padding: 7px 10px;
  position: absolute;
  top: 0;
  z-index: 10;
  font-size: 12px;
  letter-spacing: 0.1px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  color: color('white');
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  a {
    color: color('green');
    text-decoration: none;
    &:hover {
      color: color('green', 60);
    }
  }
  @media (min-width: $large-mobile) {
    width: auto;
    border-radius: 100px;
    top: 10px;
    right: 10px;
  }
}

.quiver-cam-rewind {
  width: 32px;
  padding-top: 10px;
  height: calc(32px - 10px);
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.1px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  color: color('white');
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__text {
    opacity: 1;
    color: color('white');
    display: none;
    &:hover {
      color: color('white');
    }
  }

  .quiver-rewind-icon {
    display: inline-block;
    margin-right: 2px;
  }
}

.quiver-cam-timeout {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;

  .quiver-cam-timeout__message button:focus {
    border-top: 2px solid color('light-blue', 70);
  }
}

.quiver-cam-timeout__message {
  @include cam-message;
  @include cam-message-button('light-blue', 50);
}

.quiver-cam-upsell__message {
  @include cam-message;
  @include cam-message-button('green', 50);

  &__header {
    padding: 0 5px;
  }

  &__subtext {
    font-size: 14px;
    font-family: $source-sans-pro;
    letter-spacing: -0.1px;
    a {
      text-decoration: none;
    }
  }
}

.quiver-cam-error__message {
  @include cam-message;
  font-family: $futura-dem;
  font-size: 14px;
  padding: 0 20px;
  width: calc(100% - 40px);
  max-width: 540px;
  margin-top: 0px;
  text-align: center;
  svg {
    display: none;
  }
  &__text {
    padding: 0 0px;
  }
  &__subtext {
    font-size: 9px;
    line-height: 17px;
    padding: 0 0px;
  }
  @media (min-width: $large-mobile) {
    font-size: 18px;
    margin-top: 0px;
    width: calc(100% - 30px);
    line-height: 25px;
    svg {
      display: block;
      margin: auto;
      width: 80%;
    }
    &__text {
      clear:both;
      padding: 0 15px;
    }
    &__subtext {
      line-height: 18px;
      font-size: 12px;
      clear:both;
      margin: 6px 0;
      padding: 0 15px;
    }
  }
  @media (min-width: $tablet-width) {
    font-size: 22px;
    margin-top: 0px;
    width: calc(100% - 20px);
    line-height: 29px;
    svg {
      display: block;
      margin: auto;
    }
    &__text {
      clear:both;
      padding: 0 20px;
    }
    &__subtext {
      line-height: 21px;
      font-size: 15px;
      clear:both;
      margin: 10px 0;
      padding: 0 20px;
      letter-spacing: 0.04px;
    }
  }
}

.quiver-cam-nighttime__message {
  @include cam-message;
  position: absolute;
  margin: 10px auto;
  max-width: 420px;

  &__subtext {
    font-size: 14px;
    font-family: $source-sans-pro;
    letter-spacing: -0.1px;
    a {
      text-decoration: none;
    }
  }
}

.quiver-cam-adblock-upsell__message {
  @include cam-message;
  @include cam-message-button('green', 50);
  position: absolute;
  margin: 10px auto;
  max-width: 420px;

  &__or {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 9px;
    margin-bottom: 15px;

    span {
      position: relative;

      &:before, &:after {
        content: '';
        position: absolute;
        top: 60%;
        width: 9999px;
        height: 1px;
        background: color('white');
        opacity: 0.1;
      }

      &:before {
        right: 100%;
        margin-right: 15px;
      }

      &:after {
        left: 100%;
        margin-left: 15px;
      }
    }
  }

  &__subtext {
    font-size: 14px;
    font-family: $source-sans-pro;
    letter-spacing: -0.1px;
  }
}

@media (min-width: $large-mobile) {
  .quiver-cam-rewind {
    width: 130px;
    &__text {
      display: inline-block;
    }
    .quiver-rewind-icon  {
      margin-right: 6px;
    }
  }
}
