@import '../variables';
@import '../common/media';

.quiver-forecast-menu,
.quiver-cams-reports-menu {
  cursor: default;
  display: block;
  padding: 0px 8px 8px 8px;
  background-color: color('white');
}

.quiver-forecast-menu .quiver-taxonomy-navigator,
.quiver-cams-reports-menu .quiver-taxonomy-navigator {
  height: 100%;
  padding: 0 16px 8px;
}

@media(min-width: $tablet-width) {
  .quiver-taxonomy-navigator {
    overflow-y: scroll;
  }
  .quiver-forecast-menu {
    cursor: default;
    position: absolute;
    top: 100%;
    left: -313px;
    flex-direction: row;
    display: flex;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.15), 0 5px 15px rgba(0,0,0,0.12);
    height: $taxonomy-navigator-height-tablet;
    z-index: 100;
  }

  .quiver-cams-reports-menu {
    cursor: default;
    position: absolute;
    top: 100%;
    left: -152px;
    flex-direction: row;
    display: flex;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.15), 0 5px 15px rgba(0,0,0,0.12);
    height: $taxonomy-navigator-height-tablet;
    z-index: 100;
  }

.quiver-forecast-menu .quiver-taxonomy-navigator,
.quiver-cams-reports-menu .quiver-taxonomy-navigator {
    width: $taxonomy-navigator-width-tablet;
    margin-left: 8px;
  }
  
  /* IE 11 */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .quiver-forecast-menu,
    .quiver-cams-reports-menu {
      width: 958px;
    }
  }
}

@media(min-width: $medium-width) {
  .quiver-forecast-menu {
    height: $taxonomy-navigator-height;
  }

  .quiver-cams-reports-menu {
    height: $taxonomy-navigator-height;
  }

.quiver-forecast-menu .quiver-taxonomy-navigator,
.quiver-cams-reports-menu .quiver-taxonomy-navigator {
    width: $taxonomy-navigator-width;
  }
}

