@import '../common/fonts';
@import '../common/media';
@import '../common/borders';

@mixin camViewSelectorPaywallStyle() {
  opacity: 1;
  border: 1px solid color('green', 50);
  &:hover {
    opacity: 1;
  }
  div {
    background: color('green', 50);
  }
  svg.quiver-premium-ribbon {
    position: absolute;
    top: 22px;
    right: -5px;
  } 
};

.quiver-premium-ribbon {
  display: none;
}

.quiver-cam-view-selector--centered {
  display: flex;
  justify-content: center;
}

.quiver-cam-view-selector {
  &__option {
    background: rgba(0, 0, 0, .10);
    border: 1px solid transparent;
    border-radius: 3px 3px 3px 3px;
    height: 27px;
    width: 38px;
    display: block;
    position: relative;
    float: left;
    cursor: pointer;
    text-transform: none !important;
    &:hover {
      background: rgba(0, 0, 0, .30);
    }
    &:first-child {
      margin-right: 16px;
    }
    &--one {
      background: rgba(255, 255, 255, .25);
      height: 11px;
      width: 22px;
      margin: 8px auto;
      
    }
    &--two {
      background: rgba(255, 255, 255, .25);
      height: 9px;
      width: 12px;
      float: left;
      margin-top: 9px;
      &:first-child {
        margin-left: 7px;
        margin-right: 1px;
      }
    }
    &--three {
      background: rgba(255, 255, 255, .25);
      height: 5px;
      width: 7px;
      float: left;
      margin-top: 8px;
      &:first-child {
        height: 11px;
        width: 15px;
        margin-left: 8px;
        margin-right: 1px;
      }
      &:nth-child(3) {
        position: absolute;
        left: 24px;
        top: 6px;
      }
    }
    &--four {
      background: rgba(255, 255, 255, .25);
      height: 6px;
      width: 11px;
      float: left;
      &:first-child {
        margin-right: 1px;
        margin-bottom: 1px;
        margin-top: 7px;
        margin-left: 8px;
      }
      &:nth-child(2) {
        margin-top: 7px;
      }
      &:nth-child(3) {
        clear: left;
        margin-left: 8px;
      }
      &:nth-child(4) {
        margin-left: 1px;
      }
    }
    &--hovering {
      background: rgba(255, 255, 255, 1); 
    }
    span {
      color: color('white');
      font-family: $source-sans-pro;
      font-size: 10px;
      opacity: .5;
      font-weight: normal;
      height: 24px;
      line-height: 24px;
      letter-spacing: 0.2px;
      text-align: center;
      vertical-align: center;
      width: 38px;
    }
  }
  &__option--active {
    background: rgba(0, 0, 0, .3); 
    border: 1px solid color('white');
  }
  &__option--free-user:hover {
    @include camViewSelectorPaywallStyle();
    .quiver-premium-ribbon {
      display: inline;
    }
  }
  &__option--premium-paywall {
    @include camViewSelectorPaywallStyle();
    .quiver-premium-ribbon {
      display: inline;
    }
  }
  &__option--multi {
    span {
      position: absolute;
      top: 24px;
      left: 0px;
    }
  }
  &__option--single {
    span {
      position: absolute;
      top: 24px;
    }
  }
  &__option--multi-hover {
    background: rgba(0, 0, 0, 0.3);
    span {
      opacity: 1;
    }
  }
  &__option--single-hover {
    background: rgba(0, 0, 0, 0.3);
    span {
      opacity: 1;
    }
  }
}

.quiver-cam-view-selector__option--premium-paywall.quiver-cam-view-selector__option--active {
  @include camViewSelectorPaywallStyle();
}

.quiver-cam-view-selector__option--active {
  span {
    opacity: 1;
  }
  .quiver-cam-view-selector__option--one {
    background: rgba(255, 255, 255, 1); 
  }
  .quiver-cam-view-selector__option--two {
    background: rgba(255, 255, 255, 1); 
  }
  .quiver-cam-view-selector__option--three {
    background: rgba(255, 255, 255, 1); 
  }
  .quiver-cam-view-selector__option--four {
    background: rgba(255, 255, 255, 1); 
  }
}