@import '../variables';
@import '../common/colors';
@import '../common/fonts';

.quiver-chart-legend {
  display: flex;
  flex-direction: column;
};

.quiver-chart-legend__bar {
  width: 100%;
  height: 16px;
};

.quiver-chart-legend__labels {
  position: relative;

  div:nth-child(2) {
    display: none;
  }
}

.quiver-chart-legend__label {
  position: absolute;
  top: 0; // horizontal positioning is assigned inline
}


@media (min-width: 736px) {
  .quiver-chart-legend__labels {  
    div:nth-child(2) {
      display: block;
    }
  }
}

@media (min-width: $tablet-large) {
  .quiver-chart-legend__bar {
    order: -1;
    height: 24px;
  }
}
