.quiver-chart-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color('blue-gray', 10);
  color: color('gray', 90);
  font-size: 16px;

  .quiver-spinner {
    margin-right: 10px;
  }
}
