@import '../common/fonts';

.quiver-checkbox {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  
  input[type="checkbox"]{
    display: none;
  }
  input[type="checkbox"]:checked + label::after{
      display: block;
  }
  input[type="checkbox"]:checked + label::before{
      background: color('light-blue', 50);
  }
  label{
      font-size: 14px;
      font-family: $source-sans-pro;
      cursor: pointer;
      display: inline-block;
      position: relative;
      padding-left: 28px;
  }
  label::before, label::after{
      content: '';
      display: inline-block;
      position: absolute;
  }
  label::before{
      height: 13px;
      width: 13px;
      background: color('white');
      left: 2px;
      top: 2px;
      z-index: 2;
  }
  label::after{
    width: 3px;
    height: 7px;
    border-right: 2px solid color('white');
    border-bottom: 2px solid color('white');
    left: 7px;
    top: 4px;
    z-index: 3;
    transform: rotate(45deg);
    display: none;
  }

  .quiver-checkbox__checkbox__checked:before {
    border: 1px solid color('light-blue', 50);
  }

  .quiver-checkbox__checkbox__unchecked:before {
    border: 1px solid color('gray', 40);
  }
}
