.quiver-chevron {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  stroke: color('gray', 90);
  stroke-width: 2px;

  svg {
    width: 100%;
    height: calc(50% + 1px);
  }

  &--left, &--right {
    svg {
      width: calc(50% + 1px);
      height: 100%;
    }
  }
}
