@import '../variables';
@import '../common/fonts';
@import './Chevron';

.quiver-collapsible-module {
  margin: 16px 0;
  background-color: color('white');
}

.quiver-collapsible-module .quiver-collapsible-chevron {
  margin-left: 8px;
  width: 13px;
  height: 13px;
}

.quiver-collapsible-module--open {
  .quiver-collapsible-module__content {
    display: block;
    margin-top: 0px;
    padding: 0 16px 24px;
    @media (min-width: $tablet-large) {
      padding: 0 24px 24px;
    }
  }
}

.quiver-collapsible-module--closed {
  .quiver-collapsible-module__content {
    display: none;
  }
}

.quiver-collapsible-module__header {
  font-family: $futura-surfline;
  font-size: 18px;
  color: color('gray', 90);
  display: flex;
  align-items: baseline;
  padding: 24px 16px;
  cursor: pointer;
  @media (min-width: $tablet-large) {
    padding: 24px;
  }
}
