@import '../variables';
@import '../common/fonts';
@import '../common/conditionsV2';

.quiver-colored-condition-bar-v2 {
  height: 100%;
  font-family: $futura-surfline;
  display: flex;
  align-items: center;
  color: color('white');
  text-transform: uppercase;
  &--expired {
    background-color: color('gray', 55) !important;
  }
}

@each $condition, $colors in $sl-condition-color-map-v2 {
  .quiver-colored-condition-bar-v2--#{$condition} {
    background-color: map-get($colors, default);
  }
}
