@import '../variables';
@import '../common/fonts';
@import '../common/colors';

.quiver-compass-rose {
  fill: none;
  stroke: color('black');
  stroke-width: 1;

  text {
    font-family: $futura-surfline;
    stroke-width: 0;
  }
}
