@import './mixins/dualConditionsV2';

@import '../common/fonts';
@import '../variables';

.quiver-condition-day-summary-v2 {
  display: flex;
  flex-direction: column;
}

.quiver-condition-day-summary-v2__conditions {
  margin: 8px auto;
  height: 24px;
  font-family: $futura-surfline;
  font-size: 12px;
  color: color('white');

  @media (min-width: $tablet-large) {
    font-size: 10px;
  }
}

.quiver-condition-day-summary-v2__condition__ampm {
  opacity: 0.5;
}

.quiver-condition-day-summary-v2__body--blurred {
  filter: blur(6px);
  // prevent blur from bleeding outside of CTA boundry
  .quiver-condition-day-summary-v2__conditions {
    margin: 16px 6px;
  }
}

.quiver-condition-day-summary-v2__condition {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:first-child {
    .quiver-condition-day-summary-v2__condition__rating {
      margin-left: 4px;
      @media (min-width: $desktop-small) {
        margin-left: 8px;
      }
    }
  }

  &:last-child {
    .quiver-condition-day-summary-v2__condition__rating {
      margin-right: 4px;
      @media (min-width: $desktop-small) {
        margin-right: 8px;
      }
    }
  }
}

@include dual-conditionsV2(quiver-condition-day-summary-v2__condition, 24);

.quiver-condition-day-summary-v2__condition--lola {
  background-color: color('blue-gray', 20);
  color: color('blue-gray', 70);

  &:first-child {
    &::after {
      border-top: 24px solid color('blue-gray', 20);
    }

    .quiver-condition-day-summary-v2__condition__ampm {
      opacity: 1;
      margin-left: 8px;
    }
  }

  &:last-child {
    &::before {
      border-bottom: 24px solid color('blue-gray', 20);
    }

    .quiver-condition-day-summary-v2__condition__ampm {
      opacity: 1;
      margin-left: 8px;
    }
  }
}

.quiver-condition-day-summary-v2__wave {
  display: flex;
  margin-bottom: 8px;
}

.quiver-condition-day-summary-v2__wave__ampm {
  width: calc(50%);
  margin-right: 8px;
  margin-bottom: 8px;

  sup {
    top: -4px;
  }
}

.quiver-condition-day-summary-v2__wave__ampm--num {
  font-family: $futura-surfline;
  font-size: 18px;
  color: color('gray', 90);
  text-transform: lowercase;
  margin-bottom: 8px;
}

.quiver-condition-day-summary-v2__wave__ampm--human-relation {
  font-family: $source-sans-pro;
  font-size: 14px;
  color: color('gray', 90);
}

.quiver-condition-day-summary-v2__observation {
  margin-top: 8px;
}

.quiver-condition-day-summary-v2__observation-avatar {
  margin-right: 6px;
  margin-top: 1px;
  width: 18px;
  height: 18px;
  float: left;

  img {
    border-radius: 50%;
  }

  &:hover {
    .quiver-condition-day-summary-v2__observation-avatar-tooltip {
      display: block;
      position: absolute;
      background-color: color('white');
      padding: 8px;
      width: 108px;
      box-shadow: 0 0 5px 0 color('gray', 50);
      font-family: $source-sans-pro;
      font-size: 12px;
      z-index: 2;
      color: color('gray', 90);
    }
  }
}

.quiver-condition-day-summary-v2__observation-avatar-tooltip {
  display: none;
}

.quiver-condition-day-summary-v2__observation-text {
  font-family: $source-sans-pro;
  font-size: 14px;
  color: color('gray', 90);
  line-height: 1.5;
}
