@import '../variables';
@import '../common/fonts';

.quiver-conditions-stats__title {
  font-family: $source-sans-pro;
  font-size: 14px;
  color: color('blue-gray', 70);
  margin-bottom: 8px;
  white-space: nowrap;
}

