@import '../common/fonts';

.quiver-content-card {
  margin-top: 20px;
  width: 100%;

  img {
    padding: 0px 10px;
    margin-right: 30px;
    width: 42px;
    height: 42px;
  }

  &__body {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 25px 40px;
    background: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
    font-family: $source-sans-pro;
  }

  &__tagline{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }

  &__href{
    text-decoration: none;
    font-weight: bold;
    color: #0058B0;
    font-size: 14px;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 16px
  }
}
