@import '../variables';

body {
  margin: 0;
}

.quiver-content-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  width: 100%;

  @media (min-width: $tablet-large) {
    width: $tablet-large;
  }

  @media (min-width: $desktop-small) {
    width: $desktop-small;
  }

  @media (min-width: $desktop-large) {
    width: $desktop-large;
  }
}
