@import '../common/colors';
@import '../common/fonts';
@import '../variables';

.quiver-continuous-graph-container {
  position: relative;
  height: 100%;
}

.quiver-forecast-graphs__wind,
.quiver-forecast-graphs__weather {
  .quiver-continuous-graph-container,
  .quiver-graph-container {
    height: unset;
  }
}

.quiver-continuous-graph-container--overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.quiver-continuous-graph-container__columns,
.quiver-graph-container__columns {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.quiver-continuous-graph-container .quiver-continuous-graph-container__graph-time__current {
  border-top: 1px solid #ff0000 !important;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
}

.quiver-continuous-graph-container,
.quiver-graph-container {
  .quiver-continuous-graph-container__column,
  .quiver-graph-container__column {
    flex: 1 1 0;
    height: 100%;
    border-bottom: 1px solid color('blue-gray', 20);
    border-top: 1px solid color('blue-gray', 20);
  }
}

.quiver-graph-time {
  z-index: 1;
  .quiver-continuous-graph-container__graph-time__hour {
    z-index: 1;
  }
}

.quiver-continuous-graph-container__columns,
.quiver-graph-container__columns {
  top: 0;
}

.quiver-continuous-graph-container,
.quiver-graph-container {
  .quiver-continuous-graph-container__column.quiver-continuous-graph-container__column--current,
  .quiver-graph-container__column.quiver-graph-container__column--current {
    height: 100%;
    border-top: 1px solid color('bright-red') !important;
  }
}

.quiver-continuous-graph-container__column-container,
.quiver-graph-container__column-container {
  position: relative;
  flex: 1 1 0;
  height: calc(100% - 2px);
  border-top: 1px solid color('blue-gray', 20);
  border-bottom: 1px solid color('blue-gray', 20);
  .quiver-continuous-graph-container__graph-time__hour {
    display: block;
    flex: unset;
  }
  .quiver-continuous-graph-container__graph-time__hour--current {
    border-bottom: 2px solid color('bright-red');
    height: calc(100% - 1px);
  }
  .quiver-continuous-graph-container__column,
  .quiver-graph-container__column {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: unset;
    border-bottom: unset;
  }
}

.quiver-continuous-graph-container__column-container--active,
.quiver-graph-container__column-container--active {
  border-top: 1px solid black;
}

.quiver-continuous-graph-container__graph-time__hour {
  flex: 1 1 0;
  line-height: 16px;
  font-size: 10px;
  text-transform: lowercase;
  text-align: center;
  color: color('blue-gray', 90);
}

.quiver-continuous-graph-container__column-container--active
  .quiver-continuous-graph-container__graph-time__hour--active {
  color: black;
  font-weight: 600;
}

.quiver-forecast-graphs__wind__container,
.quiver-forecast-graphs__weather__container {
  margin-top: 8px;
}

.quiver-forecast-graphs__tide__container {
  margin-top: 0px;
}

.quiver-forecast-graphs__wind__container {
  @media (max-width: $tablet-large) {
    margin-top: 0;
  }
}

.quiver-forecast-graphs__swell__container {
  margin-top: 0;
  @media (max-width: $tablet-large) {
    margin-top: 0;
  }
}

.quiver-forecast-graphs__swell__container {
  height: 247px;
}

.quiver-forecast-graphs__surf__container {
  height: 152px;
}

.quiver-forecast-graphs__tide__container {
  height: 114px;
}

.quiver-forecast-graphs__surf__container.quiver-forecast-graphs__surf__container--line-graph {
  margin-top: 0;
  .quiver-forecast-graphs__surf__day {
    .quiver-continuous-graph-container__columns {
      top: 0;
    }
  }
  @media (max-width: $tablet-large) {
    margin-top: 0;
    .quiver-continuous-graph-container__graph-time__hour--active {
      font-weight: 600;
    }
  }
}

.quiver-continuous-graph-container__canvas {
  position: relative;
  height: 100%;
}

.quiver-continuous-graph-container__current-marker,
.quiver-graph-container__current-marker {
  background-color: color('bright-red');
}

.sl-forecast-data-visualizer--extended {
  .quiver-forecast-graphs--graph-updates {
    .quiver-forecast-graphs__surf__day--odd,
    .quiver-forecast-graphs__swell__day--odd,
    .quiver-forecast-graphs__wind__day--odd,
    .quiver-forecast-graphs__tide__day--odd,
    .quiver-forecast-graphs__weather__day--odd {
      background-color: color('blue-gray', 10);
    }
    .quiver-forecast-graphs__optimal-score {
      padding-top: 4px;
      margin-top: 0;
      background-color: color('white');
    }
  }
}

.quiver-forecast-graphs__wind__chart {
  @media (max-width: $tablet-large) {
    .quiver-tooltip-provider__tooltip {
      width: fit-content;
      z-index: 0;
    }
    .quiver-graph-tooltip {
      box-shadow: unset;
      background-color: unset;
      flex-direction: row;
      width: auto;

      .quiver-wind-arrow {
        width: 16px;
        height: 16px;
        padding-top: 8px;
      }
      .quiver-wind-measurements {
        padding: 4px 0 2px 8px;
      }
      .quiver-wind-gusts {
        padding: 0 0 0 8px;
      }
    }
  }
}

.quiver-forecast-graphs__swell {
  @media (max-width: $tablet-large) {
    .quiver-optimal-score-legend {
      display: none;
    }
    .quiver-tooltip-provider__tooltip {
      width: 100%;
      z-index: 0;
    }
    .quiver-graph-tooltip {
      box-shadow: unset;
      background-color: unset;
      flex-flow: row;
      width: 100%;
      justify-content: center;
    }
  }
}

.quiver-swell-graph__tooltip-swells--mobile {
  display: flex;
  flex-flow: row wrap;
  width: 280px;
  font-size: 14px;
  line-height: 18px;
  .quiver-swell-measurements {
    &__direction {
      margin-left: 12px;
    }
  }
  > .quiver-swell-measurements {
    font-weight: 600;
    width: 120px;
    margin-bottom: 10px;
    &:nth-child(odd) {
      margin-right: 40px;
    }
  }
  @media (max-width: 350px) {
    width: 310px;
    font-size: 12px;
    line-height: 16px;
    > .quiver-swell-measurements {
      width: 135px;
    }
  }
  .quiver-swell-measurements,
  .quiver-swell-measurements--good {
    &::before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      margin-right: 4px;
      border: unset;
    }
  }
}

@media (min-width: $tablet-large) {
  .sl-forecast-data-visualizer--extended {
    .quiver-forecast-graphs {
      .quiver-forecast-graphs__surf__day,
      .quiver-forecast-graphs__swell__day,
      .quiver-forecast-graphs__wind__day,
      .quiver-forecast-graphs__tide__day,
      .quiver-forecast-graphs__weather__day {
        &:not(:last-child) {
          .quiver-continuous-graph-container__columns,
          .quiver-graph-container__columns {
            border-right: 1px solid color('blue-gray', 30);
          }
        }
      }
      .quiver-forecast-graphs__optimal-score {
        padding-top: 4px;
        margin-top: 0;
        background-color: color('white');
      }

      .quiver-day-night-shading-container--with-border {
        border-right: 1px solid color('blue-gray', 30);
      }
      .quiver-day-night-shading-container--paywalled {
        background-color: rgba(255, 255, 255, 0.8);
        // filter: blur(6px);
        z-index: 1;
      }
    }
  }

  .quiver-forecast-graphs__wind__chart {
    .quiver-graph-tooltip {
      flex-direction: column;
    }
  }
}

.quiver-day-night-shading-container .quiver-day-night-shading {
  height: 100%;
}
