@import '../variables';
@import '../common/colors';
@import '../common/fonts';

.create-form {
  .quiver-input {
    margin-bottom: 20px;
  }
}
.create-form__names {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .create-form__names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px 20px 0px;
    .quiver-input {
      flex: 0.4;
      min-width: 48%;
      margin-bottom: 0px;
    }
  }
}

.create-form__password__text {
  color: color('gray', 60);
  font-family: $source-sans-pro;
  font-size: 12px;
  line-height: 12px;
  margin: 10px 0px 20px 0px;
}
.create-form__checkbox {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  -webkit-appearance: none;
  appearance: none;
  flex: 1;
  span {
    flex: 2;
    -webkit-appearance: none;
    appearance: none;
    margin: 2px 0 0 0;
    padding: 0 0 0 16px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.5px;
    transition: all 0.25s ease;
    color: color('gray', 80);

    font-family: $source-sans-pro;
  }
}
.create-form__error__alert {
  visibility: visible;
  color: color('red');
  font-family: $source-sans-pro;
  background-color: color('red', 10);
  border: 1px solid color('red', 10);
  padding: 10px 0px;
  width: 100%;
  font-size: 12px;
  line-height: 12px;
  position: relative;
  margin-bottom: 12px;
  transition: 0.2s;
  span {
    margin: 10px;
  }
}

.create-form {
  .quiver-button {
    margin: 0 0 18px 0;
  }
  .quiver-alert {
    margin-bottom: 8px;
  }
}
