@import '../common/colors';
@import '../variables';
@import '../common/fonts';

.quiver-daily-forecast-report-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-size: 100% 100%;
}
.quiver-daily-forecast-report-cta__content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin: 10em 1.3em 14.5em 1.3em;
  a {
    margin: 3em;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    color: color('dark-blue', 10);
  }
}
.quiver-daily-forecast-report-cta__forecaster-profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: color('white');
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  border-radius: 8px;
}
.quiver-daily-forecast-report-cta__forecaster-profile_image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0em 1em 0.5em;
  img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}
.quiver-daily-forecast-report-cta__forecaster-details {
  display: flex;
  flex-direction: column;
  margin: 0.75em;
}
.quiver-daily-forecast-report-cta__forecaster-details_info {
  display: flex;
  align-items: baseline;
  width: 100%;
  h6 {
    margin: 0em;
    font-size: 16px;
  }
  span {
    font-family: $source-sans-pro;
    font-size: 14px;
    line-height: 18px;
    color: color('gray', 90);
    margin-left: 1em;
  }
}
.quiver-daily-forecast-report-cta__title {
  font-family: $source-sans-pro;
  font-size: 1.2em;
  text-align: center;
  font-weight: 700;
  color: color('black', 50);
  margin-bottom: 16px;
}
.quiver-daily-forecast-report-cta__subtitle {
  font-family: $source-sans-pro;
  font-size: 1em;
  text-align: center;
  color: color('gray', 90);
}
.quiver-daily-forecast-report-cta__forecaster-details_last-update {
  display: flex;
  margin: 0.5em 0em;
  font-family: $source-sans-pro;
  font-size: 11px;
  line-height: 18px;
  color: color('gray', 90);
}
.quiver-daily-forecast-report-cta__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  .quiver-button {
    background-color: color('dark-blue', 10);
    border: 2px solid color('dark-blue', 10);
    height: 2.5em;
    &:hover {
      background-color: color('dark-blue', 30);
      border: 2px solid color('dark-blue', 30);
    }
  }
}

@media (min-width: $tablet-width) {
  .quiver-daily-forecast-report-cta__subtitle {
    width: 100%;
  }
  .quiver-daily-forecast-report-cta__title {
    font-size: 1.3em;
    margin-top: 8px;
  }
  .quiver-daily-forecast-report-cta__forecaster-profile_image {
    img {
      border-radius: 50%;
      height: 60px;
      width: 60px;
    }
  }
  .quiver-daily-forecast-report-cta__forecaster-profile {
    margin: 1em;
    justify-content: space-evenly;
    align-items: center;
  }
  .quiver-daily-forecast-report-cta__forecaster-details {
    margin: 1em;
  }
  .quiver-daily-forecast-report-cta__forecaster-details_last-update {
    font-size: 14px;
  }
  .quiver-daily-forecast-report-cta__content {
    margin: 3em 1.3em;
    max-width: 28em;
    justify-content: center;
  }
}
