@import '../common/fonts';

.quiver-disclaimer {
  font-family: $source-sans-pro;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.8px;
  color: color('gray', 60);
  padding-top: 24px;
  a {
    text-decoration: none;
    color: color('gray', 90);
    cursor: pointer;
  }
}
