@import '../common/colors';
@import '../common/fonts';

.quiver-editorial-article-card {
  a {
    text-decoration: none;

    &:hover {
      h2 {
        color: color('light-blue', 70);
      }
    }
  }
}

.quiver-editorial-article-card__media {
  width: 100%;
  padding-top: 56.25%;
  background-size: cover;
  background-position: center center;
}

.quiver-editorial-article-card__subtitle {
  margin: 5px 0 20px 0;
  font-size: 16px;
  font-family: $source-sans-pro;
  color: color('gray', 90);

  &:hover {
    color: color('gray', 90);
  }
}
