@import '../common/colors';
@import '../common/fonts';

.quiver-email-verification-modal {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiver-email-verification-modal h4 {
  margin: 0 0 24px 0;
}

.quiver-email-verification-modal .quiver-email-verification-modal__text {
  text-align: center;
  margin-bottom: 16px;
  font-family: $source-sans-pro;
  &:last-of-type {
    margin-bottom: 32px;
  }
}

.quiver-email-verification-modal .quiver-email-verification-modal__text__link {
  text-decoration: none;
}

.quiver-email-verification-modal .quiver-email-verification-modal__text__email {
  font-weight: 600;
}

.quiver-email-verification-modal .quiver-button {
  background-color: color('orange', 50);
  border-color: color('orange', 50);
  &:hover {
    background-color: color('orange', 70);
    border-color: color('orange', 70);
  }
}