.facebook-login__content .quiver-button {
  background-color: color('white');
  border-color: color('light-blue');
  color: color('light-blue');
  .quiver-spinner g,
  svg path {
    fill: color('light-blue');
  }
  &:hover {
    background-color: color('white');
    border-color: color('light-blue');
    color: color('light-blue');
  }
}
