@import '../variables';
@import '../common/colors';
@import '../common/conditions';
@import '../common/fonts';
@import '../common/media';
@import './AddFavorites';
@import './Chevron';

@mixin conditionColor($color) {
  background-color: $color;
  border: none;
}
.quiver-favorites-bar {
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
    height: $favorites-bar-height;
    margin: 0;
    background-color: color('white');
    overflow: hidden;
    border-bottom: 1px solid color('gray', 30);
  }
  p {
    color: color('gray', 90);
    font-size: 14px;
    line-height: $favorites-bar-height;
    margin: 0;
    padding: 0 0 0 18px;
  }

  .quiver-favorites-bar__content-multi-cam-link {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid color('light-blue', 5);
    padding: 0 8px;

    .quiver-favorites-bar__content-multi-cam-link_anchor {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      &__multi-cam {
        color: color('gray', 90);
        font-family: $source-sans-pro;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        height: 15px;
        letter-spacing: 0.3px;
        width: 68px;
        margin-left: 8px;
      }
    }

    &:hover {
      background-color: color('light-blue', 5);
      transition: all 0.4s ease 0s;
    }
  }

  .quiver-favorites-bar__content-multi-cam-link_anchor--large {
    .quiver-favorites-bar__content-multi-cam-link_anchor__multi-cam {
      font-size: 16px;
      font-weight: 600;
      width: 88px;
      margin-top: -4px;
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    color: color('white');
    &-favorites {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-title {
        text-transform: uppercase;
        flex: 0 0 auto;
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
        outline: none;
        line-height: $favorites-bar-height;
        letter-spacing: 0.5px;
        margin: 0;
        color: color('gray', 90);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 110px;
        border-right: 1px solid color('light-blue', 5);
        &:hover {
          background-color: color('light-blue', 5);
          transition: all 0.4s ease 0s;
        }
      }
      &-list {
        list-style: none;
        margin: 0;
        flex: 1 1 auto;
        padding-left: 0;
        overflow-y: hidden;
        overflow-x: auto;
        overflow: -moz-scrollbars-none;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      &-arrows {
        flex: 0 0 auto;
      }
      &-arrow {
        display: inline-flex;
        width: 29px;
        height: $favorites-bar-height;
        border-left: 1px solid color('light-blue', 5);
        cursor: pointer;
        stroke: color('gray', 90);
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: color('light-blue', 5);
          transition: all 0.4s ease 0s;
        }
        svg {
          width: 8px;
        }
      }
    }
  }
  &--large {
    height: 86px;
    .quiver-favorites-bar__content-multi-cam-link {
      padding: 0 22px 0 16px;
    }
    .quiver-favorites-bar__content {
      width: 100%;
      height: 100%;
      color: color('white');
      &-favorites {
        height: 100%;
        &-title {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 124px;
          font-size: 14px;
        }
        &-list {
          height: 100%;
        }
        &-arrows {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &-arrow {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            margin: 0;
          }
        }
      }
    }
  }
}


.quiver-favorites-bar--large {
  .quiver-favorites-bar__content-favorites {
    .quiver-notification-popup-container {
      top: 100px;
    }
  }
}
