@import '../common/fonts';
@import '../common/colors';
@import '../variables';
@import './CamIcon';

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(color('dark-blue', 10), 0.4);
    box-shadow: 0 0 0 0 rgba(color('dark-blue', 10), 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 2px 10px rgba(color('dark-blue', 10), 0);
    box-shadow: 0 0 2px 10px rgba(color('dark-blue', 10), 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(color('dark-blue', 10), 0);
    box-shadow: 0 0 0 0 rgba(color('dark-blue', 10), 0);
  }
}

.quiver-favorites-indicator {
  display: flex;
  align-content: center;
  cursor: pointer;
  &__icon {
    width: 32px;
    height: 32px;
    circle {
      stroke: none;
      fill-opacity: 0.1;
    }
    polygon {
      stroke: color('white');
      fill: none;
    }
  }
  &--favorited {
    polygon {
      fill: color('white');
    }
  }
  &--show-text {
    position: absolute;
    background: color('white');
    border: 1px solid color('dark-blue', 10);
    border-radius: 32px;
    padding: 0;
    transition: all 0.4s ease 0s;
    &:hover {
      animation: pulse 2s infinite;
    }
    @media (min-width: $tablet-large) {
      padding: 0 15px 0 8px;
    }
    circle {
      fill-opacity: 0;
    }
    polygon {
      stroke: color('dark-blue', 10);
      fill: color('white');
    }
    .quiver-favorites-indicator__text {
      display: none;
      @media (min-width: $tablet-large) {
        display: inline-block;
        font-family: $source-sans-pro;
        font-weight: 600;
        color: color('dark-blue', 10);
        font-size: 13px;
        letter-spacing: 0.5px;
        line-height: 32px;
      }
    }
  }
  &--show-text--favorited {
    background: color('dark-blue', 10);
    polygon {
      stroke: color('white');
    }
    &:hover {
      animation: none;
    }
    .quiver-favorites-indicator__text {
      color: color('white');
    }
  }
}
