@import '../variables';
@import '../common/colors';
@import '../common/conditions';
@import '../common/conditionsV2';

@mixin conditionColor($color) {
  background-color: $color;
  border: none;
}

@mixin favoriteTextColor($color) {
  color: $color;
  &:hover {
    color: $color;
  }
}

.quiver-favorite {
  line-height: $favorites-bar-height;
  vertical-align: middle;
  box-sizing: border-box;
  border-right: 1px solid color('light-blue', 5);
  display: inline;
  &:hover {
    border-right: 1px solid color('white');
  }
  &__item {
    display: inline-block;
    padding: 0 18px 0 16px;
    font-size: 12px;
    vertical-align: top;
    background: color('white');
    &:hover {
      box-shadow: -1px 0 0 0 color('light-blue', 5), 1px 0 0 0 color('light-blue', 5);
      background-color: color('light-blue', 5);
    }
    &__wrapper {
      display: inline-block;
      white-space: nowrap;
      padding: 0 5px 0 3px;
      line-height: 100%;
      position: relative;
      &__top {
        display: inline-block;
        &-name {
          padding-right: 12px;
          letter-spacing: 0.3px;
          @include favoriteTextColor(color('gray', 90));
        }
      }
      &__bottom {
        display: inline-block;
        &-height {
          font-weight: 700;
          letter-spacing: 1px;
          @include favoriteTextColor(color('gray', 90));
        }
        &-units {
          position: absolute;
          top: -2px;
          font-size: 8px;
          font-weight: 400;
          letter-spacing: 1.5px;
          @include favoriteTextColor(color('gray', 90));
        }
      }
    }
    &-condition {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 0px 2px;
      border-radius: 50%;
      white-space: nowrap;
      border: 1px solid color('gray', 50);
      box-sizing: border-box;
      &--expired {
        background-color: color('gray', 55) !important;
      }
      @each $condition, $colors in $__sl-condition-color-map {
        $defaultColor: map-get($colors, 'default');
        &--#{$condition} {
          @include conditionColor($defaultColor);
        }
      }
    }
    &-condition-v2 {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 0px 2px;
      border-radius: 50%;
      white-space: nowrap;
      border: 1px solid color('gray', 50);
      box-sizing: border-box;
      &--expired {
        background-color: color('gray', 55) !important;
      }
      @each $condition, $colors in $sl-condition-color-map-v2 {
        &--#{$condition} {
          background-color: map-get($colors, default);
        }
      }
    }
  }
  &--large {
    padding: 15px 0 19px;
    position: relative;
    vertical-align: initial;
    .quiver-favorite__item {
      font-size: 16px;
      vertical-align: middle;
      height: 100%;
      padding: 0 22px;
      &__wrapper {
        top: 50%;
        transform: translateY(-50%);
        &__top {
          display: block;
          &-name {
            padding-right: 8px;
          }
          svg {
            vertical-align: bottom;
          }
        }
        &__bottom {
          display: block;
          padding-top: 6px;
          &-height {
            padding-left: 16px;
            vertical-align: middle;
          }
          &-units {
            top: 29px;
          }
        }
      }
    }
  }
  &--mobile {
    padding: 0;
    border-right: 0;
    &:hover {
      border-right: 0;
    }
    .quiver-favorite__item {
      padding: 5px 0;
      width: 100%;
      border-bottom: 1px solid color('light-blue', 5);
      font-size: 21px;
      line-height: 38px;
      &__wrapper {
        width: 100%;
        padding: 0;
        top: 0;
        transform: translateY(0);
        &__top {
          padding: 10px 20px 5px;
          text-overflow: ellipsis;
          max-width: 60%;
          overflow: hidden;
          white-space: nowrap;
          @include favoriteTextColor(color('gray', 90));
          &-name {
            padding-right: 4px;
          }
          svg {
            vertical-align: middle;
            width: 24px;
            height: 16px;
          }
          svg.quiver-multi-cam-icon {
            width: 17px;
            margin-left: 5px;
          }
        }
        &__bottom {
          padding: 0 20px 7px;
          position: relative;
          &-height {
            position: absolute;
            top: -26px;
            right: 26px;
          }
          &-units {
            position: absolute;
            top: -30px;
            right: 20px;
          }
        }
      }
    }
  }
}
