@import './CamIcon';
@import '../common/fonts';
@import './SurfConditions';

.quiver-favorites-menu__links {
  padding: 10px 20px;
  font-family: $futura-dem;
  font-size: 14px;
  text-transform: uppercase;
  a {
    text-decoration: none;
    &:hover {
      color: color('light-blue', 70);
    }
  }
  &-edit {
    margin-left: 16px;
  }
  &-multicam {
    margin-left: 16px;
  }
}

.quiver-favorites-menu__favorites {
  display: flex;
  flex-direction: column;
  padding-bottom: 71px;
}

.quiver-favorites-menu__ad {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: color('white');
  border-top: 1px solid color('light-blue', 5);
}
