@import '../common/colors';
@import '../common/fonts';
@import '../common/media';

.quiver-feature-card {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 8px;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
  .quiver-premium-ribbon-icon {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 25px;
    height: 50px;
    width: 40px;
  }
}

.quiver-feature-card--inner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  transition: all .6s;
}

// image zoom effect
.quiver-feature-card:hover .quiver-feature-card--inner,
.quiver-feature-card:focus .quiver-feature-card--inner {
  transform: scale(1.08);
}

.quiver-feature-card__title__container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 32px);
  margin: 0;
  padding: 16px;
  background: rgba(0,0,0,.3);
}

.quiver-feature-card__title__container--hasSuperheader {
  padding-top: 32px;
}

.quiver-feature-card__superheader {
  position: absolute;
  top: 14px;
  left: 16px;
  display: flex;
  color: color('white');
  font-family: $futura-surfline;
  font-size: 12px;
  &:hover {
    color: color('white');
  }
}

.quiver-feature-card__title {
  width: calc(100% - 32px);
  color: color('white');
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  &:hover {
    color: color('white');
  }
}

@media (min-width: $large-mobile) {
  .quiver-feature-card {
    margin-bottom: 16px;
  }

  .quiver-feature-card__title__container {
    width: calc(100% - 48px);
    padding: 32px 24px;
  }

  .quiver-feature-card__title__container--hasSuperheader {
    padding-top: 40px;
  }

  .quiver-feature-card__superheader {
    top: 24px;
    left: 24px;
  }

  .quiver-feature-card__title {
    font-size: 32px;
    line-height: 36px;
  }

  .quiver-feature-card--small {
    .quiver-premium-ribbon-icon {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 16px;
      width: 24px;
      height: 29px;
    }
    .quiver-feature-card__title__container {
      width: calc(100% - 32px);
      padding: 16px;
    }
    .quiver-feature-card__title__container--hasSuperheader {
      padding-top: 32px;
    }
    .quiver-feature-card__superheader {
      top: 16px;
      left: 16px;
    }
    .quiver-feature-card__title {
      font-size: 21px;
      line-height: 24px;
    }
  }
}
