@import '../common/colors';
@import '../common/fonts';

.quiver-feed-card {
  position: relative;
  .quiver-premium-ribbon-icon {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 8px;
    width: 24px;
    height: 29px;
  }
}

.quiver-feed-card__image {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
  a {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    transition: all .6s;
  }
}

// image zoom effect
.quiver-feed-card__image:hover a,
.quiver-feed-card__image:focus a {
  transform: scale(1.08);
}

.quiver-feed-card__content {
  padding: 20px 16px 24px;
  background: color('white');
}

.quiver-feed-card__content__fullwidth {
  padding: 12px 0 0 0;
}

.quiver-feed-card__content__bottom {
  display: flex;
  flex-direction: row;
  margin: 8px 0 0 0;
}

.quiver-feed-card__category {
  font-family: $futura-surfline;
  font-size: 12px;
  color: color('dark-blue', 10);
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 16px 0 0;
}

.quiver-feed-card__date {
  font-size: 12px;
  color: color('blue-gray', 70);
}

.quiver-feed-card__title {
  margin: 0;
  text-decoration: none;
  h3 {
    padding: 0 0 2px;
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
  }
}

.quiver-feed-card__subtitle {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: color('gray', 90);
}
