@import '../common/colors';
@import '../common/fonts';
@import '../common/media';
@import '../variables';

.quiver-feed-articles-list {
  margin-bottom: 24px;
  .quiver-feed-articles-list__list {
    list-style: none;
    margin: 0;
    padding: 0;
    .quiver-feed-articles-list__list__item {
      padding: 6px 0;
      .quiver-feed-articles-list__list__item__date {
        font-size: 14px;
        letter-spacing: 0;
        line-height: 18px;
        color: color('blue-gray', 70);
        padding-left: 4px;
      }
      .quiver-feed-articles-list__list__item__link {
        font-size: 14px;
        letter-spacing: 0;
        line-height: 18px;
        color: color('gray', 90);
        text-decoration: none;
        &:hover {
          color: color('gray', 90);
          text-decoration: underline;
        }
      }
    }
  }
  .quiver-feed-articles-list__list__load-more {
    font-size: 14px;
    line-height: 24px;
    color: color('dark-blue', 10);
    cursor: pointer;
  }
}

.quiver-feed-articles-list__heading {
  margin: 8px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: $futura-surfline;
}

.quiver-feed-articles-list__heading--article {
  margin: 0 0 16px;;
}

@media(min-width: $large-mobile) {
  .quiver-feed-articles-list {
    margin: 16px 0;
  }
}

@media(min-width: $tablet-large) {
  .quiver-feed-articles-list {
    .quiver-feed-articles-list__list {
      .quiver-feed-articles-list__list__item {
        padding: 4px 0;
      }
    }
  }
  .quiver-feed-forecast__heading {
    margin-bottom: 0;
  }
}

@media(min-width: $desktop-small) {
  .quiver-feed-forecast__heading {
    margin-bottom: 8px;
  }
}
