@import '../common/colors';
@import '../common/fonts';

.quiver-forecast-article-card--expert {
  &::before {
    content: '';
    display: block;
    height: 2px;
    background-color: #9012FE;
  }

  .quiver-base-content-card {
    border-top: none;
    padding: 0;
    margin: 30px 30px 0 30px;
  }

  .quiver-base-content-card__meta::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    vertical-align: text-top;
    margin-right: 6px;
    border-radius: 4px;
    background-color: #9012FE;
  }
}

.quiver-forecast-article-card {

  &--premium::before {
    background: linear-gradient(to right, color('green', 50), color('light-blue', 60), #9012FE);
  }

  &--show-more {
    .quiver-forecast-article-card__body {
      height: auto;

      &::after {
        content: none;
      }
    }
  }
}

.quiver-forecast-article-card__body {
  position: relative;
  height: 355px;
  overflow: hidden;
  font-size: 16px;
  font-family: $source-sans-pro;
  color: color('gray', 90);

  .wp-caption {
    width: 100% !important;
  }
  .wp-caption-text {
    text-align: center;
    margin: 4px auto;
  }

  &::after {
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    height: 40px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), color('white'));
  }

  :first-child {
    margin-top: 0;
  }

  img, video {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
  }
}

.quiver-forecast-article-card__body__share {
  margin-top: 32px;
}

.quiver-forecast-article-card__body__share__title {
  display: block;
  padding-bottom: 8px;
  color: color('gray', 55);
}

.quiver-forecast-article-card__read-more-less {
  display: block;
  cursor: pointer;
  padding: 28px 0 0 6px;
  text-align: center;
  text-transform: uppercase;
  font-family: $futura-dem;
  font-size: 14px;
  letter-spacing: 0.8px;
  color: color('gray', 55);
}

.quiver-forecast-article-card__body-container {
  position: relative;
}

.quiver-forecast-article-card__content-fade {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, color('white') 100%);
  height: 150px;
}

.quiver-forecast-article-card {
  .quiver-base-content-card {
    border-left: none;
    border-right: none;
  }
}
