@import '../common/colors';
@import '../variables';
@import '../common/fonts';

.quiver-forecast-graphs-day-summaries-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.quiver-forecast-graphs-day-summaries-cta__content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin: 1em;
  position: absolute;
  a {
    margin: 3em;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    color: color('dark-blue', 10);
  }
}

.quiver-forecast-graphs-day-summaries-cta__title {
  font-family: $source-sans-pro;
  font-size: 1.2em;
  text-align: center;
  font-weight: 700;
  color: color('black', 50);
  margin: 1em;
}
.quiver-forecast-graphs-day-summaries-cta .quiver-forecast-graphs__day-summary {
  flex: 1 1 0;
  &:not(:last-child) {
    margin-left: -8px;
  }
  img {
    width: 100%;
  }
}
.quiver-forecast-graphs-day-summaries-cta__subtitle {
  font-family: $source-sans-pro;
  font-size: 1em;
  text-align: center;
  color: color('gray', 90);
}
.quiver-forecast-graphs-day-summaries-cta__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
  .quiver-button {
    background-color: color('dark-blue', 10);
    border: 2px solid color('dark-blue', 10);
    height: 2.5em;
    &:hover {
      background-color: color('dark-blue', 30);
      border: 2px solid color('dark-blue', 30);
    }
  }
}

@media (min-width: $tablet-width) {
  .quiver-forecast-graphs-day-summaries-cta__subtitle {
    width: 100%;
  }
  .quiver-forecast-graphs-day-summaries-cta__title {
    font-size: 1.5em;
    margin-bottom: 16px;
  }
  .quiver-forecast-graphs-day-summaries-cta__content {
    margin: 2em;
    justify-content: center;
  }
}
