@import '../variables';
@import '../common/fonts';
@import '../common/conditions';

.quiver-forecaster-profile {
  width: 300px;
  height: 60px;
}

.quiver-forecaster-profile__image-container {
  float: left;
  width: 67px;
  height: 60px;

  img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }
}

.quiver-forecaster-profile__details-container {
  float: left;
  text-decoration: none;
  .quiver-forecaster-profile__details-container__forecaster-name,
  .quiver-forecaster-profile__details-container__forecaster-title {
    color: color('gray', 90);
  }
  .quiver-forecaster-profile__details-container__forecaster-name:hover,
  .quiver-forecaster-profile__details-container__forecaster-title:hover {
    color: color('gray', 90);
  }
}

.quiver-forecaster-profile__details-image {
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  &--expired:hover {
    border-color: color('gray', 55) !important;
  }
}

@each $condition, $colors in $__sl-condition-color-map {
  .quiver-forecaster-profile__details-container:hover {
    cursor: pointer;
    .quiver-forecaster-profile__details-image--#{$condition} {
      border-color: map-get($colors, default);
      transition: border-color 0.5s ease;
    }
  }
}

.quiver-forecaster-profile__forecaster-name {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.quiver-forecaster-profile__update-text {
  font-size: 12px;
  color: color('gray', 55);
}

.quiver-forecaster-profile__forecaster-title {
  font-size: 12px;
  color: color('gray', 55);
}
