@import '../common/colors';
@import '../common/fonts';
@import '../variables';
@import './mixins/linkStyle';

@import './AutomatedRatings';
@import './ChartLoading';
@import './ChartMessage';
@import './ConditionDaySummary';
@import './ConditionDaySummaryV2';
@import './ContinuousGraphContainer';
@import './ErrorBox';
@import './GraphContainer';
@import './GraphTime';
@import './GraphTooltip';
@import './OptimalScoreIndicator';
@import './OptimalScoreLegend';
@import './SurfGraph';
@import './SurfLineGraph';
@import './SwellGraph';
@import './TideGraph';
@import './TooltipDatetime';
@import './TooltipProvider';
@import './WeatherGraph';
@import './WindAnimator';
@import './WindGraph';

.quiver-forecast-graphs__graphs {
  a {
    @include linkStyle;
  }
}

.quiver-forecast-graphs__times {
  display: flex;
  justify-content: space-between;
  background-color: color('white');

  .quiver-chart-time {
    flex: 1 1 0;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.sticky-outer-wrapper--fixed {
  .sl-chart-time__hour {
    border-bottom: 1px solid color('blue-gray', 70);
  }
}

.quiver-forecast-graphs__chart-title {
  font-family: $futura-surfline;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  margin-top: 18px;
  margin-bottom: 8px;
  line-height: 14px;
  display: flex;
}

.quiver-forecast-graphs__units {
  margin-left: 4px;
  text-transform: lowercase;
  font-family: $futura-surfline;
}

.quiver-forecast-graphs__chart-title__weather-title {
  .quiver-forecast-graphs__units {
    text-transform: uppercase;
  }
}

.quiver-forecast-graphs__chart-title__link {
  margin: 0 16px 0 8px;
  font-weight: normal;
  vertical-align: middle;
}

.quiver-forecast-graphs__days,
.quiver-forecast-graphs__day-summaries,
.quiver-forecast-graphs__surf__container,
.quiver-forecast-graphs__swell__container,
.quiver-forecast-graphs__wind__container,
.quiver-forecast-graphs__tide__container,
.quiver-forecast-graphs__weather__container {
  display: flex;
  position: relative;
}

.quiver-forecast-graphs__day,
.quiver-forecast-graphs__times__day,
.quiver-forecast-graphs__surf__day,
.quiver-forecast-graphs__swell__day,
.quiver-forecast-graphs__wind__day,
.quiver-forecast-graphs__tide__day,
.quiver-forecast-graphs__weather__day,
.quiver-error-box {
  &:not(:last-child) {
    margin-right: 0px;
  }

  &--blurred {
    filter: blur(6px);
    z-index: 1;
  }
}

.quiver-forecast-graphs__weather__day,
.quiver-forecast-graphs__day {
  flex: 1 1 0;
}

.quiver-forecast-graphs__wind__day {
  width: 100%;
}

.quiver-forecast-graphs__day-summary,
.quiver-chart-loading,
.quiver-chart-message {
  flex: 1 1 0;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.quiver-forecast-graphs__day {
  font-family: $futura-surfline;
  font-size: 18px;
  color: color('gray', 90);

  .sticky-condition-day.sticky-outer-wrapper {
    font-size: 14px;
    height: 20px !important;

    .sticky-inner-wrapper {
      padding: 8px 0;
      background-color: color('white');
    }
  }
}

.quiver-forecast-graphs__day-summaries {
  .quiver-chart-loading,
  .quiver-error-box {
    display: none;
  }
}

.quiver-forecast-graphs__surf__chart,
.quiver-forecast-graphs__surf .quiver-error-box,
.quiver-forecast-graphs__surf .quiver-chart-loading {
  height: 136px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2px;
}

.quiver-forecast-graphs__swell__chart,
.quiver-forecast-graphs__swell .quiver-error-box,
.quiver-forecast-graphs__swell .quiver-chart-loading {
  height: 231px;
}

.quiver-forecast-graphs__wind__chart,
.quiver-forecast-graphs__wind .quiver-error-box,
.quiver-forecast-graphs__wind .quiver-chart-loading {
  height: 98px;
}

.quiver-forecast-graphs__tide__chart {
  height: 98px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 2px;
}

.quiver-forecast-graphs__tide {
  .quiver-forecast-graphs__tide__flex-container {
    display: flex;
    flex-flow: column;
    .quiver-chart-loading,
    .quiver-error-box,
    .quiver-chart-message {
      flex: unset;
    }
  }
}

.quiver-forecast-graphs__table__container {
  display: flex;
  width: 100%;
  .quiver-forecast-graphs__table:not(:first-child) {
    border-left: none;
  }
}

.quiver-forecast-graphs__tide .quiver-error-box,
.quiver-forecast-graphs__tide .quiver-chart-loading,
.quiver-forecast-graphs__tide .quiver-chart-message {
  height: 98px + 124px;
}

.quiver-forecast-graphs__weather__chart {
  height: 52px;
}

.quiver-forecast-graphs__weather .quiver-error-box,
.quiver-forecast-graphs__weather .quiver-chart-loading {
  height: 52 + 124px;
}

.quiver-forecast-graphs__table {
  width: 100%;
  border: 1px solid color('blue-gray', 20);
  border-top: none;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  color: color('gray', 90);

  tr {
    td:first-child {
      border-left: none;
    }
    td:last-child {
      border-right: none;
    }
  }

  tr:first-child {
    td {
      border-top: none;
    }
  }

  td {
    padding: 7px;
    border: 1px solid color('blue-gray', 20);
    text-transform: capitalize;

    &:first-child {
      letter-spacing: 1px;
      font-weight: 600;
    }

    &:not(:first-child) {
      letter-spacing: 0.5px;
      text-transform: lowercase;
    }
  }

  &--sunlight-times {
    td {
      width: 50%;
    }
  }
}

.quiver-forecast-graphs__optimal-score {
  margin-top: 4px;
  display: flex;

  .quiver-optimal-score-indicator {
    flex: 1 1 0;
    font-size: 0px;

    &:not(:last-child) {
      margin-right: 1px;
    }
  }
}

.quiver-forecast-graphs__optimal-score--hourly {
  .quiver-optimal-score-indicator {
    padding: 2px 4px;
  }
}

.quiver-forecast-graphs {
  display: block;
  padding: 16px 16px 64px;
  width: calc(100% - 32px);
}

.quiver-forecast-graphs__container {
  width: 100%;
}

.quiver-forecast-graphs__container--with-filler {
  margin-right: 8px;
}

.quiver-forecast-graphs-tab-arrows {
  display: none;
}

.quiver-forecast-graphs-tab-arrows__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background: color('white');
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  height: 24px;
  width: 24px;
  border-radius: 20px;
  position: absolute;
  top: 165px;
}
.quiver-forecast-graphs-tab-arrows__arrow--back {
  left: -15px;
}

.quiver-forecast-graphs-tab-arrows__arrow--forward {
  right: -15px;
}

.quiver-forecast-graphs-tab-arrows__arrow--wind {
  top: 782px;
}

.sl-regional-forecast {
  .quiver-forecast-graphs-tab-arrows__arrow--back,
  .quiver-forecast-graphs-tab-arrows__arrow--forward {
    top: 240px;
  }
  .quiver-forecast-graphs-tab-arrows__arrow--wind {
    top: 710px;
  }
}

.quiver-forecast-graphs-hourly-day {
  width: 100%;
  text-align: center;
  color: color('gray', 90);
  font-size: 18px;
  margin: 0;
}

.quiver-forecast-graphs__surf {
  .quiver-forecast-graphs__chart-title {
    @media (max-width: $tablet-large) {
      margin-bottom: 52px;
    }
  }
}

.quiver-forecast-graphs__wind {
  .quiver-forecast-graphs__chart-title {
    @media (max-width: $tablet-large) {
      margin-bottom: 48px;
    }
  }
}

.quiver-forecast-graphs__wind__day {
  .quiver-forecast-graphs__optimal-score {
    @media (min-width: $tablet-large) {
      margin: 0 0.5px;
    }
  }
}

.quiver-forecast-graphs__swell {
  .quiver-forecast-graphs__chart-title {
    @media (max-width: $tablet-large) {
      margin-bottom: 120px;
    }
  }
}

.quiver-forecast-graphs__chart-title__hourly-wind-toggle {
  display: flex;
  margin-left: 8px;
}

.hourly-wind-toggle__tooltip {
  display: flex;
  align-items: center;
  justify-content: center;

  .quiver-question-mark-icon {
    .quiver-question-mark-icon__text {
      fill: color('dark-blue', 10);
    }
    .quiver-question-mark-icon__circle {
      stroke: color('dark-blue', 10);
    }
    &:hover {
      .quiver-question-mark-icon__text {
        fill: color('white');
      }
      .quiver-question-mark-icon__circle {
        fill: color('dark-blue', 10);
      }
    }
  }
}

.hourly-wind-toggle__text {
  cursor: pointer;
  color: color('dark-blue', 10);
  font-family: $source-sans-pro;
  font-size: 14px;
  letter-spacing: 0;
  margin-right: 8px;

  &:hover {
    text-decoration: underline;
  }
}

.quiver-hourly-wind-toggle-tooltip {
  background: color('white');
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  width: 321px;
  color: color('gray', 90);
  font-family: $source-sans-pro;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.3px;
  padding: 8px 16px 10px;
}

@media (min-width: $tablet-large) {
  .quiver-forecast-graphs-tab-arrows {
    display: block;
  }

  .quiver-forecast-graphs {
    display: flex;
    padding: 16px 24px 64px;
    width: calc(100% - 48px);
  }
}

/** Forecast Tab Arrows Media Queries **/
@media (min-width: 965px) and (max-width: 1015px),
  (min-width: 1256px) and (max-width: 1300px),
  (min-width: 1712px) and (max-width: 1750px) {
  .quiver-forecast-graphs-tab-arrows__arrow--back {
    left: 0px;
  }

  .quiver-forecast-graphs-tab-arrows__arrow--forward {
    right: 0px;
  }
}
