.quiver-graph-container {
  position: relative;
}

.quiver-graph-container__columns {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.quiver-graph-container__column {
  flex: 1 1 0;
  border-top: 1px solid color('blue-gray', 20);
  border-bottom: 1px solid color('blue-gray', 20);
}

.quiver-graph-container__canvas {
  position: relative;
}

.quiver-graph-container__current-marker {
  background-color: color('bright-red');
}
