.quiver-graph-tooltip {
  background-color: color('white');
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  font-size: 12px;
  color: color('gray', 90);
  width: 152px;
  display: flex;
  flex-direction: column;

  .quiver-optimal-score-indicator--suboptimal {
    display: none;
  }
}
