.quiver-horizontal-switch {
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
  width: 36px;
  height: 16px;
}

.quiver-horizontal-switch__slider {
  margin: 4px 0;
  height: 8px;
  border-radius: 7px;
  background-color: color('dark-blue', 10);
  opacity: 0.25;
}

.quiver-horizontal-switch__handle {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: color('dark-blue', 10);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
