@import '../variables';
@import '../common/colors';
@import '../common/fonts';
@import './mixins/btnReset';

.quiver-hover-menu {
  position: absolute;
  display: flex;
  flex-flow: row-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 9999;
  top: 0;

  .quiver-hover-menu-target {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }

  .quiver-hover-menu-label {
    margin-right: 8px;
  }

  .quiver-hover-menu-icon {
    display: flex;
    padding: 2px 3px 4px 4px;
    margin: 8px;
    border-radius: 2px;
  }

  .quiver-hover-menu__menu {
    list-style-type: none;
    display: none;
    background: color('white');
    margin: 8px 0;
    width: 230px;
    flex-flow: column;
    padding: 16px 0;
  }

  &--hover {
    .quiver-hover-menu-target {
      background: rgba(0, 0, 0, 0.24);
    }
    .quiver-hover-menu-icon {
      cursor: pointer;
    }
    .quiver-hover-menu__menu {
      display: flex;
    }
  }

  .quiver-hover-menu__menu-title {
    color: color('gray', 90);
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 16px;
    margin: 0 16px 8px;
  }
  .quiver-hover-menu__menu-item {
    @include btn-reset();
    width: 100%;
    padding: 0 16px;
    color: color('gray', 90);
    font-size: 14px;
    font-weight: normal;
    font-family: $source-sans-pro;
    letter-spacing: 0px;
    margin: 4px 0;
    line-height: 24px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    &:focus {
      outline: auto 5px -webkit-focus-ring-color;
    }
    &:hover {
      background: rgba(150, 169, 178, 0.24);
      outline: none;
    }
  }
  .quiver-hover-menu__menu-item--selected {
    &:focus {
      outline: none;
    }
    &:after {
      content: '';
      width: 10px;
      height: 3px;
      border-left: 2px solid color('green', 50);
      border-bottom: 2px solid color('green', 50);
      transform: rotate(-45deg);
      margin-left: 8px;
      margin-bottom: 2px;
    }
  }

  .quiver-hover-menu-select {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 0;
    background: transparent;
    border: unset;
    opacity: 0;
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .quiver-hover-menu--mobile-select {
    .quiver-hover-menu__menu {
      display: none;
    }
    .quiver-hover-menu-select {
      display: block;
    }
  }
}
