@import '../common/colors';
@import '../common/fonts';
@import './mixins/formMessage';

.quiver-input {
  position: relative;
  input {
    width: 100%;
    height: 55px;
    border: 1px solid color('gray', 40);
    color: color('gray', 90);
    margin: 0;
    padding: 0 18px;
    font-size: 16px;
    font-family: $source-sans-pro;
    font-weight: lighter;
    letter-spacing: 1.5px;
    transition: all 0.25s ease;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &:hover {
      border: 1px solid color('gray', 60);
    }

    &:focus {
      border: 1px solid color('light-blue', 50);
      outline: none;
    }
  }

  label {
    position: absolute;
    padding: 0 3px;
    margin: 23.5px 0 0 15px;
    transition: 0.2s;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-family: $source-sans-pro;
    font-weight: lighter;
    cursor: text;
    color: color('gray', 70);
    background-color: transparent;
  }
}

.quiver-input__message {
  @include form-message(color('gray', 50));
  padding-top: 5px;
}

.quiver-input--parent-width {
  input {
    width: 100%;
  }
}

.quiver-input--visited {
  label {
    margin: -5px 0 0 15px;
    background-color: color('white');
  }
}

.quiver-input--success {
  input,
  input:hover {
    border: 1px solid color('green', 50);
  }
}

.quiver-input--warning {
  input,
  input:hover {
    border: 1px solid color('orange', 50);
  }
}

.quiver-input--error {
  input,
  input:hover {
    border: 1px solid color('red', 50);
  }

  .quiver-input__message {
    color: color('red', 50);
    font-weight: 600;
  }
}
