@import '../common/fonts';
@import './ModalContainer';

.quiver-intro-modal__header {
  margin-bottom: 15px;
  h2 {
    padding: 0;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.7px;
    line-height: 22px;
    text-align: center;
    margin: 0;
  }
  p {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    span:last-child {
      display: none;
    }
  }
}

.quiver-intro-modal__items {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.quiver-intro-modal__item {
  width: 50%;
  text-align: center;
  &__text {
    margin-bottom: 18px;
    h3 {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.4px;
      color: color('gray', 80);
      padding: 0 20px;
      margin: 0;
      font-weight: normal;
      font-family: $source-sans-pro;
    }
    p {
      display: none;
    }
  }

  &__icon {
    svg {
      width: 58px;
      height: 50px;
    }
  }
}

.quiver-intro-modal__options {
  width: 84%;
  margin: 0 auto;
  text-align: center;

  &__desktop--text {
    display: none;
  }

  &__mobile--text {
    display: block;
  }

  .quiver-button, .quiver-button--info {
    font-size: 12px;
    padding: 10px 0;
    width: calc(50% - 5px);
    height: 35px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    float: left;
  }

  .quiver-button--info {
    border: solid 1px color('light-blue', 50);
    color: color('light-blue', 50);
    margin-right: 10px;
    &:hover, &:active {
      color: white;
    }
  }

  p {
    margin: 0;
    letter-spacing: 0.4px;
    font-size: 12px;
    line-height: 16px;
    clear: both;
    a {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .quiver-intro-modal {
    max-height: 430px;
    min-height: 330px;
    margin: auto;
  }
  .quiver-intro-modal__header {
    margin-top: 30px;
  }
}

@media (max-width: 768px - 1) and (orientation: landscape) {
  .quiver-intro-modal__options {
    width: 90%;
    .quiver-button, .quiver-button--info {
      width: 47%;
    }
    .quiver-button {
      float: right;
    }
    .quiver-button--info {
      float: left;
    }
  }

  .quiver-intro-modal__items {
    width: 90%;
    height: 120px;
  }

  .quiver-intro-modal__item {
    width: 25%;
    &__text {
      margin-bottom: 18px;
      h3 {
        padding: 0;
      }
    }
  }

}

@media (min-width: 768px) {

  .quiver-intro-modal__header {
    margin-bottom: 32px;
    h2 {
      font-size: 28px;
      letter-spacing: 0.8px;
      line-height: 28px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      span:last-child {
        display: block;
      }
    }
  }

  .quiver-intro-modal__item {
    width: 100%;
    &__text {
      float: left;
      width: 87%;
      text-align: left;
      margin-bottom: 18px;
      h3 {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0.5px;
        color: color('gray', 90);
        padding: 0;
        font-family: $futura-dem;
        margin: 0;
      }
      p {
        margin: 0;
        font-size: 14px;
        letter-spacing: 0.4px;
        color: color('gray', 80);
        display: block;
      }
    }

    &__icon {
      float: left;
      width: 13%;
      text-align: left;
      svg {
        height: 36px;
        width: 36px;
      }
    }
  }

  .quiver-intro-modal__options {
    width: 470px;
    margin: 0 auto;
    text-align: center;

    &__desktop--text {
      display: block;
    }

    &__mobile--text {
      display: none;
    }

    .quiver-button, .quiver-button--info {
      font-size: 14px;
      padding: 15px 0;
      width: 219px;
      height: 45px;
      letter-spacing: 0.4px;
      float: left;
      text-transform: uppercase;
    }

    .quiver-button--info {
      border: solid 1px color('light-blue', 50);
      color: color('light-blue', 50);
      margin-right: 32px;
      &:hover, &:active {
        color: white;
      }
    }

    p {
      margin: 0;
      letter-spacing: 0.4px;
      font-size: 14px;
      line-height: 17px;
      a {
        text-decoration: none;
      }
    }
  }

}
