@import '../common/colors';
@import '../common/fonts';

.forgot-password--link {
  color: color('light-blue', 50);
  font-family: $source-sans-pro;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.9px;
  cursor: pointer;
  text-decoration: none;
}
.login-form__checkbox {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  span {
    margin: 2px 0 0 0;
    padding: 0 0 0 16px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.5px;
    transition: all 0.25s ease;
    color: color('gray', 80);
    font-family: $source-sans-pro;
  }
}
.login-form__error__alert {
  visibility: visible;
  color: color('red');
  font-family: $source-sans-pro;
  background-color: color('red', 10);
  border: 1px solid color('red', 10);
  padding: 10px 0px;
  width: 100%;
  font-size: 12px;
  line-height: 12px;
  position: relative;
  margin-bottom: 12px;
  transition: 0.2s;
  span {
    margin: 10px;
  }
}

.login-form {
  .quiver-alert {
    margin-bottom: 8px;
  }
}
