@import '../variables';

.quiver-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(19, 49, 80, 0.7);
  z-index: 99999;
}

.quiver-modal-container--age-verification {
  background-color: color('dark-blue', 10);
}

.quiver-modal-container__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0 auto;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiver-modal-container__body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 8px;
  box-shadow: 0 22px 44px 0 rgba(0, 0, 0, 0.5);
  background-color: color('white');
  padding: 20px 26px;
  p {
    margin: 5px 0;
    letter-spacing: normal;
    color: color('gray', 80);
  }
}

.quiver-modal-container__close {
  align-self: flex-end;
  cursor: pointer;

  svg {
    width: 14px;
    height: 14px;
    stroke-width: 1px;
    stroke: color('gray', 90);
  }
}

.quiver-modal-container__close--age-verification {
  display: none;
}

@media (min-width: $tablet-large) {
  .quiver-modal-container__container {
    top: calc((100% - 602px) / 2);
    left: calc((100% - 582px) / 2);
    right: calc((100% - 582px) / 2);
    bottom: auto;
    display: unset;
  }

  .quiver-modal-container__body {
    padding: 40px 56px;
    margin: 0 auto;
  }

  .quiver-modal-container__close {
    position: absolute;
    top: 15px;
    right: 15px;
    align-self: unset;
  }
}
