@import '../variables';
@import '../common/colors';
@import '../common/fonts';
@import '../common/media';

.quiver-navigation-item {
  margin: 0 0 0 24px;
  position: relative;
  display: inline-block;
  padding: 0px 0px;
  line-height: 38px;
  &:hover {
    cursor: pointer;
  }
  &:first-child {
    margin-left: 16px;
  }
}

.quiver-navigation-item__container__link {
  color: color('white');
  text-decoration: none;
  text-transform: uppercase;
  font-family: $futura-surfline;
  font-size: 12px;
  letter-spacing: 0.8px;
  &:focus {
    outline: none;
  }
}


@media(min-width: $tablet-width) {
  .quiver-navigation-item {
    margin: 0;
    position: relative;
    display: inline-block;
    padding: 0px 0px;
    line-height: 56px;
    &:hover {
      background-color: color('dark-blue', 30);
      .quiver-new-navigation-bar__menu-wrapper {
        display: block;
      }
      .quiver-user-avatar__notification {
        stroke: color('dark-blue', 30);
      }
    }
  }

  .quiver-navigation-item__container__link {
    text-decoration: none;
    vertical-align: bottom;
    color: color('white');
    text-transform: uppercase;
    font-family: $futura-surfline;
    font-size: 14px;
    padding: 0px 20px;
    &:hover {
      color: color('white');
    }
  }
}
