@use 'sass:math';
@import '../variables';
@import '../common/colors';
@import '../common/fonts';
@import '../common/media';
@import '../common/borders';

body {
  margin: 0;
}

$nav-margin: 8px;
$text-vertical-center: (math.div($navigation-bar-height, 2) - 8px);
$primary-text-size: 14px;

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
  transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin logo-positioning {
  float: left;
  margin-left: $nav-margin * 2;
  height: $navigation-bar-height;

  svg {
    @include vertical-align;
  }
}

.quiver-navigation-bar {
  position: relative;
  background-color: color('dark-blue', 10);
  height: $navigation-bar-height;
  width: 100%;
  z-index: 9999;

  a {
    color: color('white');
    text-decoration: none;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      vertical-align: text-top;
    }
  }

  .quiver-navigation-bar__right {
    float: right;
    display: inline-block;
    margin-top: 8px;
  }

  .quiver-navigation-bar__badge {
    display: inline-block;
    margin-left: 30px;
    margin-top: 2px;

    li {
      padding-top: 0;
    }
  }

  nav {
    display: inline-block;

    a {
      display: inline-block;
      padding: 24px 17px 0;

      @media (max-width: 970px) {
        // remove once new mobile logo is added.
        padding: 24px 10px 0;
      }
    }
  }
}

.quiver-navigation-bar__logo {
  display: block;

  @include logo-positioning;

  margin-right: $nav-margin * 4;

  @media (min-width: 512px) and (max-width: 970px) {
    display: none;
  }
}

.quiver-navigation-bar__logo--mobile {
  display: none;

  @include logo-positioning;

  margin-right: $nav-margin;

  @media (min-width: 512px) and (max-width: 970px) {
    display: block;
  }
}

.quiver-navigation-bar__link,
.quiver-navigation-bar__user-badge__link {
  font-family: $futura-dem;
  font-size: $primary-text-size;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: color('white');
  cursor: pointer;

  &:hover {
    color: color('light-blue', 50);
  }

  &--mobile {
    @media (min-width: $tablet-width) {
      /* !important needed here to overwrite inline style */
      display: none !important;
    }
  }
}

a.quiver-navigation-bar__user-badge__link {
  display: inline-block;
  padding: 17px;
}

.quiver-navigation-bar__user-badge {
  display: inline-block;
  padding-left: 10px;

  &--wrapper {
    cursor: pointer;
    height: calc(#{$navigation-bar-height} - 8px);
  }

  ul.quiver-user-menu {
    background: color('white');
    height: inherit;
    margin-right: 8px;
    outline: 0;
    right: 0;
    position: absolute;
    width: (9 * 16) px;

    a {
      font-family: $source-sans-pro;
      color: color('gray', 90);
      text-transform: none;
      font-size: 16px;
      vertical-align: inherit;
    }

    @include box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.1));

    li {
      padding: 0 20px;

      a {
        display: block;
        padding: 10px 0;
        cursor: pointer;
      }

      &:hover {
        background: color('gray', 20);
      }

      &:last-child {
        a {
          border-top: 1px solid color('gray', 10);
        }
      }
    }
  }

  .quiver-brand-icon__user {
    transform: translateX(-30%) translateY(35%);
    transform: translateX(-30%) translateY(35%);
    transform: translateX(-30%) translateY(35%);

    &:hover {
      cursor: pointer;
    }
  }

  .quiver-navigation-bar__user-badge__name {
    font-size: $primary-text-size;
    text-decoration: none;
    letter-spacing: 1px;
    color: color('white');
    padding-right: 8px;
    text-transform: none;
    font-family: $source-sans-pro;
  }

  .quiver-caret {
    padding-right: 16px;
  }
}

@media (max-width: $ipad-pro-width) {
  .quiver-navigation-bar__user-badge__name {
    display: none;
  }

  .quiver-caret {
    display: none;
  }

  .quiver-navigation-bar .quiver-navigation-bar__link {
    font-size: 12px;
    padding-top: 26px;
  }
}

@media (max-width: math.div($ipad-pro-width, 2)) {
  .quiver-navigation-bar {
    display: block;
    height: $navigation-bar-height + 40px;

    nav {
      position: absolute;
      top: $navigation-bar-height;
      left: 0;
      width: 100%;
      border-top: color('light-blue', 90) solid 1px;

      a {
        padding: 12px;
      }
    }

    .quiver-navigation-bar__link {
      padding: 12px;
    }
  }
}
