@import '../variables';
@import '../common/colors';
@import '../common/fonts';
@import '../common/media';

@import './UserAvatar';
@import './UserMenu';
@import './BaseMenu';
@import './BaseMenuItem';
@import './BaseMenuSection';
@import './BaseMenuDivider';
@import './Chevron';
@import './NavigationItem';
@import './NewSpotSearch';
@import './FavoritesMenu';
@import './CamsReportsForecastsMenu';
@import './RecentlyVisited';
@import './RenderSpot';
@import './RenderSubregion';

/* Desktop Header layout Styles */
.quiver-new-navigation-bar__content {
  background-color: color('dark-blue', 10);
  height: $navigation-bar-height;
  margin: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.quiver-new-navigation-bar__logo,
.quiver-new-navigation-bar__mobile-logo,
.quiver-new-navigation-bar__navigation,
.quiver-new-navigation-bar__cta,
.quiver-new-navigation-bar__account,
.quiver-new-navigation-bar__sign-in {
  flex: 0 0 auto;
}
.quiver-new-navigation-bar__search {
  flex: 1 1 auto;
}

.quiver-new-navigation-bar__logo-desktop,
.quiver-new-navigation-bar__navigation {
  display: none;
}

/* Header Navigation Styles */
.quiver-new-navigation-bar__logo {
  &-desktop, &-mobile {
    margin: 0 16px;
  }
}

.quiver-new-navigation-bar__navigation {
  margin: 0 16px 0 0;
}

.quiver-new-navigation-bar__menu-wrapper {
  display: none;
}

/* Header Search styles*/
.quiver-new-navigation-bar__search {
  margin: 0;
}

.quiver-new-navigation-bar__site-search {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex: 1 1 auto;
  width: auto;
  height: 100%;
  align-items: center;
}

.quiver-new-navigation-bar__site-search__button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 auto;
  font-family: $futura-surfline;
  font-size: 12px;
  letter-spacing: .8px;
  text-transform: uppercase;
  color: color('white');
  width: 100%;
  height: 60%;
  background: color('dark-blue', 30);
  display: flex;
  justify-content: center;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color .25s ease;
  &:hover {
    background: color('dark-blue', 40);
  }
  .quiver-new-search-icon {
    width: 12px;
    height: 12px;
    margin: 2px 4px 0 0;
  }
}

/* Header Account and CTA Styles*/
.quiver-new-navigation-bar__account {
  padding: 0 16px 0 0;

  .quiver-navigation-item__container__link {
    height: 40px;
    transform: none;
  }
  .quiver-user-avatar {
    transform: translate(0px, -3px);
  }
}

.quiver-new-navigation-bar__sign-in {
  text-decoration: none;
  color: color('white');
  text-transform: uppercase;
  font-family: $futura-surfline;
  font-size: 12px;
  padding: 0px 16px;
  letter-spacing: 0.8px;
  &:hover {
    color: color('white');
  }
}

.quiver-new-navigation-bar__cta {
  display: none;
  &__link {
    margin: 0 0 0 16px;
    display: inline-block;
    padding: 16px 20px 13px;
    border: none;
    color: color('white');
    background-color: color('green', 50);
    text-decoration: none;
    text-transform: uppercase;
    font-family: $futura-dem;
    font-size: 14px;
    letter-spacing: 0.5px;
    cursor: pointer;
    &:hover {
      background-color: color('green', 70);
      color: color('white');
    }
  }
}

/* Mobile nav layout */
.quiver-new-navigation-bar__mobile {
  display: block;
}

.quiver-new-navigation-bar__mobile__content {
  background-color: color('dark-blue', 10);
  height: $mobile-navigation-bar-height;
  margin: 0;
  width: 100%;
}

.quiver-new-navigation-bar__mobile__container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.quiver-new-navigation-bar__mobile__nav__menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: color('white');
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-overflow-scrolling: touch;
}

.quiver-new-navigation-bar__mobile__nav__menu__inner {
  height: calc(100% + 1px);
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  .quiver-base-menu, 
  .quiver-cams-reports-menu, 
  .quiver-forecast-menu  {
    &:last-child {
      padding-bottom: 180px;
    }
  }
}

.quiver-new-navigation-bar__mobile__nav__menu__close {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  text-decoration: none;
  margin: 0 8px;
  padding: 5px 0px;
  border-bottom: 1px solid color('blue-gray', 20);
  color: color('gray', 90);
  line-height: 38px;
  &__title {
    font-family: $futura-surfline;
    font-size: 18px;
    letter-spacing: 0.2px;
    &:hover {
      text-decoration: none;
      color: color('gray', 90);
    }
  }
}

@media(min-width: $tablet-width) {
  .quiver-new-navigation-bar__logo-mobile,
  .quiver-new-navigation-bar__mobile,
  .quiver-new-navigation-bar__mobile__nav__menu,
  .quiver-new-navigation-bar__mobile__nav__menu__close,
  .quiver-new-navigation-bar__chevron {
    display: none;
  }

  .quiver-new-navigation-bar__logo-desktop,
  .quiver-new-navigation-bar__navigation,
  .quiver-new-navigation-bar__account {
    display: flex;
  }

  .quiver-new-navigation-bar__account {
    padding: 0;
  }

  .quiver-new-navigation-bar__cta {
    display: flex;
  }

  .quiver-new-navigation-bar__search {
    margin: 0;
  }

  .quiver-new-navigation-bar__sign-in {
    font-size: 14px;
  }

  .quiver-new-navigation-bar__site-search__button {
    font-size: 14px;
    .quiver-new-search-icon {
      width: 16px;
      height: 16px;
    }
  }

  .quiver-new-navigation-bar__site-search__button--ctaVisible {
    span {
      display: none;
    }
    .quiver-new-search-icon {
      margin: 2px 8px 0;
    }
  }
}

@media(min-width: $medium-width) {
  .quiver-new-navigation-bar__site-search__button {
    span {
      display: inline-block;
    }
    .quiver-new-search-icon {
      margin: 2px 4px 0 0;
    }
  }
}
