@import '../variables';
@import '../common/colors';
@import '../common/fonts';
@import '../common/media';
@import './CamIcon';
@import './Search';

/* Universal Layout Styles */
.quiver-new-navigation-bar__search__wrapper {
  width: 100%;
  background-color: color('dark-blue', 30);
  white-space: nowrap;
}

.quiver-new-navigation-bar__search__icon__container {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 10px;
}

.quiver-new-navigation-bar__search__input__container {
  width: 80%;
  display: inline-block;
}

.quiver-new-navigation-bar__search__wrapper__input {
  width: 100%;
  background-color: color('dark-blue', 30);
  height: 46px;
  border: none;
  padding: 0px;
  outline: 0;
  color: color('white');
  font-family: $source-sans-pro;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 0.6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &::-webkit-input-placeholder {
    color: color('white');
  }
  &::-moz-placeholder {
    color: color('white');
  }
  &::-ms-input-placeholder {
    color: color('white');
  }
  &:focus {
    border: none;
    outline: none;
    opacity: 1;
  }
}


/* Serach AutoSuggest Styles */
.quiver-new-spot-search__suggestions-container {
  position: absolute;
  margin: 5px 0 0 0;
  background: color('white');
  left: 0;
  width: 100%;
  min-width: 235px;
  z-index: 200;

  &.quiver-new-spot-search__suggestions-container--open {
    padding-bottom: 20px;
    height: 100vh;
  }
  .quiver-new-spot-search__section-title {
    font-family: $source-sans-pro;
    font-weight: lighter;
    text-transform: uppercase;
    background-color: color('white');
    color: color('gray', 70);
    padding: 18px;
    margin-top: 18px;
    font-size: 12px;
    border-top: 1px color('light-blue', 5) solid;
  }
  & .quiver-new-spot-search__section-container--first {
    .quiver-new-spot-search__section-title {
      margin-top: 0;
      border-top: none;
    }
  }
  .quiver-new-spot-search__suggestions-list {
    list-style-type: none;
    color: color('gray', 70);
    vertical-align: top;
    padding-left: 0px;
    margin: 0px;
    li {
      padding: 10px 10px 10px 40px;
      cursor: pointer;
      svg {
        position: relative;
        vertical-align: middle;
        margin-top: 2px;
        margin-left: -26px;
        margin-right: 8px;
      }
      a {
        color: color('gray', 90);
        highlight {
          color: color('light-blue', 50);
        }
      }

      &.quiver-new-spot-search__suggestion--highlighted {
        background: color('gray', 10);
      }
      .quiver-new-spot-search__container__subtitle {
        color: color('gray', 70);
        font-size: 12px;
        margin-left: -5px;
      }
    }
  }
}

.quiver-new-spot-search__container {
  width: 100%;
  position: static;
  vertical-align: middle;
  display: inline-block;
}

.quiver-new-spot-search__container__wrapper {
  .quiver-new-spot-search__container__wrapper-desktop {
    display: none;
  }
}

@media(min-width: $tablet-width) {
  .quiver-new-spot-search__container {
    position: relative;
  }
  .quiver-new-spot-search__container__wrapper {
    display: inline-block;
    svg {
      width: 17px;
      height: 16px;
      vertical-align: middle;
      margin-top: 1px;
      margin-left: 2px;
    }
    .quiver-new-spot-search__container__wrapper-desktop {
      display: inline-block;
      min-width: 240px;
      border: 1px solid color('dark-blue', 20);
      color: color('gray', 10);
      margin: 0;
      font-size: 16px;
      background: color('dark-blue', 20);
      font-family: $source-sans-pro;
      font-weight: lighter;
      letter-spacing: 1.5px;
      transition: all 0.25s ease;
      height: 31px;
      padding: 6px 4px 0px 10px;
      vertical-align: middle;
      svg {
        margin-top: 1px;
      }
      &:hover {
        border: 1px solid color('light-blue', 70);
      }

      &:focus {
        border: 1px solid color('light-blue', 90);
      }
    }
  }
  .quiver-new-spot-search__suggestions-container {
    position: absolute;
    background: white;
    width: 100%;
    left: auto;
    margin: 7px 0 0 0;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);

    &.quiver-new-spot-search__suggestions-container--open {
      height: auto;
    }
  }
}
