@import '../common/colors';
@import '../variables';

.quiver-notification-dialog {
  display: flex;
  position: fixed;
  flex-direction: column;
  cursor: pointer;
  bottom: 0;
  margin-bottom: 8px;
  min-width: 530px;
  width: 530px;
  height: 150px;
  padding: 16px;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(color('black'), 0.5);
  border-radius: 4px;
  z-index: 100;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.quiver-notification-dialog--small {
  display: flex;
  position: fixed;
  flex-direction: row;
  cursor: pointer;
  bottom: 0;
  margin-bottom: 8px;
  width: 200px;
  min-width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(color('black'), 0.5);
  border-radius: 26.5px;
  z-index: 100;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.quiver-notification-dialog__children--expanded {
  visibility: visible;
  opacity: 1;
  overflow: hidden;
  height: 100%;
  transition: visibility 0.3s ease;
  transition: opacity 0.3s ease;
  transition: height 0.3s ease;
}

.quiver-notification-dialog__children--hidden {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  height: 0;
  transition: visibility 0.3s ease;
  transition: opacity 0.3s ease;
  transition: height 0.3s ease;
}
