@import '../common/colors';
@import '../variables';

.quiver-notification--pill {
  display: flex;
  padding: 10px 24px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 26.5px;
}
