.quiver-notification-popup-container {
  position: absolute;
}

.quiver-notification-popup {
  position: relative;
  display: flex;
}

.quiver-notification-popup__content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: color('white');
  border-radius: 6px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    border-radius: 6px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
  }
}

.quiver-notification-popup__triangle {
  background-color: color('white');
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
  transform: rotate(45deg);
  top: -2px;
  left: 19px;
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: -1;
  display: block;
}