@use 'sass:math';
@import '../common/colors';
@import '../common/fonts';
@import '../common/media';

.quiver-notification {
  position: relative;
  display: inline-block;
  text-align: center;
}

.quiver-notification__tag-line {
  display: block;
  padding: 6px 8px;
  font-family: $source-sans-pro;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: color('white');
  text-decoration: none;

  &:hover {
    background-color: color('green', 70);
    text-decoration: underline;
  }

  &__full-text {
    display: inline;

    &:hover {
      color: color('white');
    }
  }
}

.quiver-notification__cta {
  padding-top: 9px;
  padding-bottom: 7px;
  font-family: $futura-dem;
  font-size: 12px;
  letter-spacing: 1.3px;
}

.quiver-notification--small {
  vertical-align: middle;
  margin: 0 20px;

  .quiver-notification__cta {
    display: block;
    padding: 8px 12px 7px 15px;
  }
}

.quiver-notification--large {
  width: 100%;

  .quiver-notification__cta {
    padding-top: 4px;
  }
}

.quiver-notification--warning-notification {
  width: 100%;
  padding: 22px 0;
  display: block;
  font-family: $source-sans-pro;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: color('white');
  text-decoration: none;

  a {
    color: color('white');
  }
}

.quiver-notification--information {
  background: color('green', 50);
}

.quiver-notification--error {
  background: color('green', 50);
}

.quiver-notification__closable {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 16px 6px 8px;
  font-size: 16px;
  cursor: pointer;
  color: color('white');
}

@media (max-width: math.div($ipad-pro-width, 1.1)) {
  .quiver-notification--small {
    display: none;
  }

  .quiver-notification__tag-line {
    &__full-text {
      display: inline;
    }
  }
}

@media (max-width: math.div($ipad-pro-width, 2)) {
  .quiver-notification__closable {
    display: none;
  }

  .quiver-notification__tag-line {
    &__full-text {
      display: none;
    }
  }

  .quiver-notification--warning-notification {
    span {
      display: none;
    }
  }
}
