@import '../common/colors';
@import '../common/fonts';

.quiver-optimal-score-legend {
  display: inline-flex;
  align-items: center;
}

.quiver-optimal-score-legend__box {
  width: 32px;
  height: 8px;

  &--optimal {
    background-color: $optimal-score-color
  }

  &--good {
    background-color: $good-score-color;
  }
}

.quiver-optimal-score-legend__text {
  margin: 0 16px 0 4px;
  font-family: $source-sans-pro;
  font-size: 12px;

  &:last-child {
    margin-right: 0;
  }
}
