@import '../common/colors';
@import '../common/fonts';

.quiver-optimal-score-indicator {
  text-transform: uppercase;
  text-align: left;
  padding: 4px 8px;
}

.quiver-optimal-score-indicator--suboptimal {
  background-color: color('blue-gray', 10);
}

.quiver-optimal-score-indicator--good {
  background-color: $good-score-color;
}

.quiver-optimal-score-indicator--optimal {
  background-color: $optimal-score-color;
}
