@import '../variables';

.quiver-page-rail--left {
  width: 100%;

  @media (min-width: $tablet-large) {
    margin-right: 16px;
    width: calc(100% - #{$right-rail-width} - 16px);
  }
}

.quiver-page-rail--right {
  width: 100%;

  @media (min-width: $tablet-large) {
    width: $right-rail-width;
  }
}
