@import '../variables';
@import '../common/colors';
@import '../common/fonts';

.quiver-persistent-cta {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: bottom center;
  text-align: center;
  background-image: url('https://prod-subs.cdn-surfline.com/backgrounds/default-cam-cta.jpg');
  a {
    display: block;
    width: 180px;
    font-family: $futura-surfline;
    color: color('green', 50);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5px;
    cursor: pointer;
  }
  p {
    margin: 8px;
    color: color('white');
    line-height: 22px;
    text-align: center;
  }
  .quiver-lock-icon {
    padding: 10px 11px;
    background-color: rgba(0,0,0,.25);
    fill: color('white');
  }
}

.quiver-persistent-cta__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 3px;
  left: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
}
