@import '../variables';

.quiver-persistent-container {
  width: 100%;
  height: 100%;
}

.quiver-persistent-media--sticky {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 294px;
  height: 164px;
  padding: 3px;
  background-color: color('white');
  z-index: 9999;
  box-shadow: 0 7px 15px 0 rgba(0,0,0,.37);
  text-align: center;
  .quiver-cam-upsell__message {
    &__subtext {
      display: none;
    }
  }
}

@media(min-width: $desktop-large) {
  .quiver-persistent-media--sticky {
    width: 400px;
    height: 225px;
  }
}
