@import '../variables';
@import '../common/fonts';

.quiver-pill-button {
  width: 56px;
  height: 35px;
  border: 1px solid color('blue-gray', 20);
  font-size: 14px;
  font-weight: 600;
  background-color: color('white');
  color: color('dark-blue', 10);
  cursor: pointer;
  text-transform: uppercase;
  font-family: $source-sans-pro;
  letter-spacing: 0.5px;
  * {
    margin-top: 3px;
    stroke: color('dark-blue', 10);
  }
}

.quiver-pill-button:first-of-type {
  border-radius: 3px 0 0 3px;
}

.quiver-pill-button:last-of-type {
  border-radius: 0 3px 3px 0;
}

.quiver-pill-button:not(:last-child) {
  border-right: none;
}

.quiver-pill-button--active{
  border: 1px solid color('dark-blue', 10);
  background-color: color('dark-blue', 10);
  color: color('white');
  cursor: default;
  * {
    stroke: color('white');
    color: color('white');
  }
}

