@import './mixins/aspectRatio';
@import '../common/fonts';
@import '../variables';

.quiver-premium-cam-cta__container {
  position: relative;
}

.quiver-premium-cam-cta {
  @include aspect-ratio(16, 9);
  background-color: rgba(1, 29, 56, 0.6);
  background-size: contain;
  margin-top: 16px;
}
.sl-spot-report-page__cameras--multi-cam {
  .quiver-premium-cam-cta {
    margin-top: 0;
  }
}

.quiver-premium-cam-cta__camStill {
  @include aspect-ratio(16, 9);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.quiver-premium-cam-cta__content__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiver-premium-cam-cta__content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quiver-premium-cam-cta__indicator {
  display: none;
  flex: 0 1 auto;
  margin-bottom: 32px;
  align-items: center;
  color: color('white');
  font-family: $futura-surfline;
  font-size: 10px;
  letter-spacing: 6.3px;
  text-transform: uppercase;
  svg {
    margin-right: 16px;
  }
}

.quiver-premium-cam-cta__heading {
  order: 2;
  flex: 0 1 auto;
  margin-bottom: 24px;
  width: 260px;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: color('white');
  font-family: $futura-surfline;
  font-size: 18px;
}

.quiver-premium-cam-cta__icon {
  margin: 25px 0 8px 0;
  order: 1;
}

.quiver-premium-cam-cta__subheading {
  display: none;
}

.quiver-premium-cam-cta__links {
  order: 4;
  display: block;
}

.quiver-premium-cam-cta__links__upgrade {
  margin-bottom: 24px;
  button {
    background-color: color('green', 50);
    border: 2px solid color('green', 50);
    text-decoration: none;
    text-transform: uppercase;
    color: color('white');
    padding: 0px;
    width: 95.9px;
    height: 29.4px;
    font-size: 11.2px;
    letter-spacing: 0.5px;
    &:hover,
    &:focus {
      color: color('white');
      background-color: color('green', 70);
      border: 2px solid color('green', 70);
    }
    &:active {
      border: 2px solid color('green', 70);
    }
  }
}

.quiver-premium-cam-cta__links__about {
  display: none;
  a {
    cursor: pointer;
    color: color('white');
    font-family: $source-sans-pro;
    font-size: 14px;
    letter-spacing: 0.8px;
    &:hover {
      color: color('white');
    }
  }
}

@media (min-width: $x-large-mobile) {
  .quiver-premium-cam-cta__content__container {
    padding: 0;
    display: flex;
  }

  .quiver-premium-cam-cta__indicator {
    display: flex;
  }

  .quiver-premium-cam-cta__heading {
    order: 1;
    width: 525px;
    font-size: 32px;
    margin-bottom: 48px;
  }

  .quiver-premium-cam-cta__icon {
    margin: 0 0 8px 0;
  }

  .quiver-premium-cam-cta__subheading {
    order: 3;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 189.5px;
    margin-bottom: 40px;
    span {
      color: color('white');
      font-size: 13px;
      font-family: $source-sans-pro;
      letter-spacing: 0.7px;
    }
  }

  .quiver-premium-cam-cta__links__about {
    display: flex;
  }

  .quiver-premium-cam-cta__links__upgrade {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 180px;
      height: 57px;
      font-size: 20px;
      letter-spacing: normal;
    }
  }
}

@media (min-width: $tablet-large) and (max-width: $desktop-small) {
  .quiver-premium-cam-cta__links__upgrade {
    button {
      width: 150px;
      height: 40px;
      font-size: 14px;
      line-height: 39px;
      letter-spacing: 0.5px;
    }
  }
  .quiver-premium-cam-cta__heading {
    font-size: 24px;
    margin-top: 48px;
  }
}
