@import '../common/colors';
@import '../common/fonts';

.quiver-progress-bar {
  position: relative;
  height: 4px;
  width: 65px;
  border-radius: 50px;
  background: color('light-blue', 10);
  margin: 10px 0px 30px 0px;
}
.quiver-progress-bar__text {
  width: 132px;
  height: 15px;
  color: color('gray', 80);
  font-size: 11px;
  font-family: $source-sans-pro;
  letter-spacing: 1.11px;
  margin: 5px auto;
}
.quiver-progress-bar__filler {
  background: color('shark-blue', 50);
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}
