@import '../common/colors';
@import '../variables';
@import './ModalContainer';

.quiver-promotion-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.quiver-promotion-modal__header {
  letter-spacing: 0.8px;
  margin: 6px 0 16px 0;
  * {
    margin: 0;
    text-align: center;
  }
}

.quiver-promotion-modal__cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .quiver-button {
    border-color: color('green', 50);
    background-color: color('green', 50);
    width: 225px;
    height: 45px;
  }
}

.quiver-promotion-modal__image {
  img {
    width: 100%;
  }
}
.quiver-promotion-modal__cta--sign-in {
  color: color('green', 50);
  margin: 16px 0 0 0;
  font-size: 14px;
  letter-spacing: 0.4px;
  * {
    color: inherit;
    font-size: inherit;
    letter-spacing: inherit;
  }
}

.quiver-modal-container__body
.quiver-promotion-modal
.quiver-promotion-modal__description {
  margin: 16px 0 24px 0;
}

@media (min-width: $tablet-large) {
  .quiver-promotion-modal__header {
    margin: 6px 0 40px 0;
  }

  .quiver-modal-container__body
  .quiver-promotion-modal
  .quiver-promotion-modal__description {
    margin: 32px 0 40px 0;
  }
}