@import '../variables';
@import '../common/fonts';

.quiver-reading {
  font-family: $futura-dem;
  font-size: 18px;
  letter-spacing: 1.7px;
  text-transform: uppercase;

  sup {
    font-family: $futura-dem;
    font-size: 8px;
    letter-spacing: 0;
    vertical-align: sub;
  }
}
