@import '../variables';
@import '../common/media';
@import '../common/fonts';

.quiver-recently-visited {
  padding: 0 16px;
  margin: 8px 0 0;

  .quiver-recently-visited__header {
    font-family: $source-sans-pro;
    font-size: 18px;
    line-height: 48px;
    color: color('gray', 90);
    border: none;
    outline: none;
    background: none;
    padding: 0;
    width: 100%;

    .quiver-recently-visited__header__button-wrapper {
      display: flex;
      justify-content: space-between;

      .quiver-chevron {
        transform: rotate(90deg);
        align-self: center;
        stroke: color('blue-gray', 70);
        width: 14px;
        stroke-width: 1px;
      }
    }

  }

  .quiver-recently-visited__header--open {
    .quiver-recently-visited__header__button-wrapper {
      .quiver-chevron {
        transform: rotate(-90deg);
      }
    }
  }

  .quiver-recently-visited__list {
    .quiver-render-spot, .quiver-render-subregion {
      line-height: 48px;
      font-family: $source-sans-pro;
      font-size: 14px;
      color: color('gray', 90);
    }

    &__sign-in {
      padding: 16px 0;
      line-height: 18px;
      font-family: $source-sans-pro;
      font-size: 14px;
      color: color('gray', 90);
      &__link {
        text-decoration: none;
        font-weight: 600;
        color: color('dark-blue', 10);
      }
    }

    &--hidden {
      display: none;
    }

    .quiver-render-subregion {
      border: none;
    }
  }

  .quiver-recently-visited__static-links {
    display: flex;
    flex-direction: column;

    .quiver-recently-visited__header {
      display: none;
    }

    .quiver-recently-visited__static-link {
      line-height: 48px;
      text-decoration: none;
      font-family: $source-sans-pro;
      font-size: 18px;
      color: color('gray', 90);
      border-top: 1px solid color('blue-gray', 20);

      &:last-of-type {
        border-bottom: 1px solid color('blue-gray', 20);
      }
    }
  }

}

@media(min-width: $tablet-width) {
  .quiver-recently-visited {
    width: 208px;
    background-color: color('light-blue', 5);
    border: none;

    .quiver-recently-visited__header {
      font-family: $futura-surfline;
      font-size: 16px;
      line-height: 32px;

      .quiver-chevron {
        display: none;
      }
    }

    .quiver-recently-visited__list {
      .quiver-render-spot, .quiver-render-subregion {
        line-height: 24px;
      }

      &__sign-in {
        padding: 0;
      }

      &--hidden {
        display: block;
      }
    }

    .quiver-recently-visited__static-links {
      margin-top: 16px;

      .quiver-recently-visited__header {
        display: block;
      }

      .quiver-recently-visited__static-link {
        font-size: 14px;
        line-height: 1;
        border: none !important;
        margin-top: 16px;
        &:hover {
          cursor: pointer;
          color: color('dark-blue', 10);
        }
      }
    }
  }
}
