@import '../common/colors';
@import '../variables';
@import '../common/fonts';

.quiver-regional-forecast-update-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(15deg, rgba(250, 250, 250, 0.9) 0%, #fbfbfb 80%);
  background-size: 100% 100%;
}
.quiver-regional-forecast-update-cta__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.75em 1.25em 0em 1.25em;
  .quiver-button {
    width: 100%;
    margin: 2em;
    background-color: color('dark-blue', 10);
    border: 2px solid color('dark-blue', 10);
    &:hover {
      background-color: color('dark-blue', 30);
      border: 2px solid color('dark-blue', 30);
    }
  }
}
.quiver-regional-forecast-update-cta__title {
  font-family: $source-sans-pro;
  font-size: 1.5em;
  text-align: center;
  font-weight: 700;
  color: color('black', 50);
  margin-bottom: 16px;
}
.quiver-regional-forecast-update-cta__subtitle {
  font-family: $source-sans-pro;
  font-size: 1em;
  text-align: center;
  color: color('gray', 90);
}

@media (min-width: $tablet-width) {
  .quiver-regional-forecast-update-cta__content {
    margin: 0.75em 1.25em 1em 1.25em;
    .quiver-button {
      width: 50%;
      margin: 1.5em auto;
    }
  }
  .quiver-regional-forecast-update-cta__subtitle {
    width: 60%;
  }
  .quiver-regional-forecast-update-cta__title {
    font-size: 1.5em;
  }
}
