@import '../common/colors';
@import '../variables';

.quiver-regwall__container {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
  left: 0;
  right: 0;
  box-shadow: 0px -3px 15px color('gray', 85);
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
