@import '../variables';
@import '../common/media';
@import '../common/fonts';

.quiver-render-spot {
  display: flex;
  align-items: center;

  &--last-of-group {
    margin-bottom: 10px;
  }

  .quiver-surf-conditions, .quiver-surf-conditions-v2 {
    font-size: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-right: 5px;
  }

  a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
    text-decoration: none;
    font-family: $source-sans-pro;
    font-size: 18px;
    letter-spacing: 0.2px;
    color: color('gray', 90);

  }

  a:hover {
    color: color('dark-blue', 10);
  }

  .quiver-camera-icon {
    width: 12px;
    height: 8px;
    margin-right: 5px;
    fill: color('gray', 55);
  }
}

@media(min-width: $tablet-width) {
  .quiver-render-spot {
    a {
      font-size: 13px;
    }
  }
}
