@import '../variables';
@import '../common/media';
@import '../common/fonts';

.quiver-render-subregion {
  border-bottom: 1px solid color('blue-gray', 20);
  line-height: 0px;
  a {
    line-height: 48px;
    font-size: 18px;
    text-decoration: none;
    color: color('gray', 90);
    &:hover {
      cursor: pointer;
      color: color('dark-blue', 10);
    }
  }
}

@media(min-width: $tablet-width) {
  .quiver-render-subregion {
    border: none;
    a {
      line-height: 24px;
      font-size: 14px;
    }
  }
}