.quiver-scrollbar .quiver-scrollbar__scroll {
    &-area {
        &:hover {
            .-reactjs-scrollbar-track {
                opacity: 1;
            }
        }
    }

    &-track {
        opacity: 0.5;
        background: color('white');
        &:hover {
            background: color('white');
        }
        &\:vertical {
            width: 8px;
            height: 100%;
            top: 0;
            right: 0;
        }
        &\:horizontal {
            height: 8px;
            width: 100%;
            bottom: 0;
            right: 0;
        }
    }

    &-thumb {
        border-radius: 8px;
        border: 2px solid color('white'); 
        background-color: color('gray', 55);
        cursor: default;
        width: 6px;     //note: width of vertical thumb
        height: 6px;    //note: height of horizontal thumb
    }
}