@import '../common/colors';
@import '../common/fonts';

.quiver-search-results {
  width: 100%;
  list-style-type: none;
  color: color('gray', 70);
  vertical-align: top;
  padding: 0;

  li {
    padding: 20px 32px;
    &:nth-child(odd) {
      background: color('gray',20);
    }
    a {
      color: color('gray', 70);
    }
  }
}

.quiver-search-results__description {
  display: inline-block;
}

.quiver-search-results__primary {
  font-size: 15px;
  font-family: $source-sans-pro;
  letter-spacing: 1.2px;
  margin-bottom: 8px;
}

.quiver-search-results__secondary {
  font-size: 12px;
  font-family: $source-sans-pro;
  width: 100%;
  letter-spacing: 1.2px;
}

.quiver-search-results__badge {
  float: right;
}
