@import '../common/colors';
@import '../common/fonts';

.quiver-search-input {
  .quiver-input {
    padding: 0;
    margin: 0 20px 0 0;
    display: inline-block;
    vertical-align: top;
  }

  .quiver-button {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }
}
