@import '../variables';
@import '../common/colors';
@import '../common/fonts';
@import '../common/media';
@import './CamIcon';
@import './ForecastIcon';
@import './TravelIcon';

/* Search Split Test AutoSuggest Styles */
.quiver-search__suggestions-container {
  position: absolute;
  margin: 5px 0 0 0;
  background: color('white');
  left: 0;
  width: 100%;
  min-width: 235px;
  z-index: 200;
  display: none;

  &.quiver-search__suggestions-container--open {
    // height: 100vh;
    display: block;
    .footer {
      text-align: center;
      border-top: 1px solid color('light-blue', 5);
      margin-top: 8px;
      padding: 16px 0px;
      font-size: 14px;
      a {
        text-decoration: none;
        color: color('dark-blue', 10);
        font-weight: 600;
        &:hover {
          color: color('dark-blue', 50);
        }
      }
    }
  }

  .quiver-search__section-title {
    font-family: $source-sans-pro;
    font-weight: lighter;
    text-transform: uppercase;
    color: color('gray', 70);
    font-size: 14px;
    padding: 4px 18px;
    background: color('light-blue', 5);
    font-weight: 600;
    margin: 8px 0px;
  }
  & .quiver-search__section-container--first {
    .quiver-search__section-title {
      margin-top: 0;
      border-top: none;
    }
  }
  .quiver-search__suggestions-list {
    list-style-type: none;
    color: color('gray', 70);
    vertical-align: top;
    padding-left: 0px;
    margin: 0px;
    li {
      padding: 4px 40px;
      cursor: pointer;
      font-size: 14px;
      svg {
        position: relative;
        vertical-align: middle;
        margin-top: -2px;
        margin-left: -26px;
        margin-right: 8px;
      }
      a {
        color: color('gray', 90);
        highlight {
          color: color('dark-blue', 10)
        }
      }

      &.quiver-search__suggestion--highlighted {
        background: color('light-blue', 5);
      }
      .quiver-search__container__subtitle {
        color: color('gray', 55);
        margin-left: 8px;
        display: inline;
      }
      .quiver-search__suggestion__result {
        padding-left: 26px;
        margin-left: -20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &__blank {
          margin-left: 0px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .quiver-forecast-icon, .quiver-travel-icon {
          margin-right: 5px;
        }
      }
    }
  }
}

.quiver-search__container {
  width: 100%;
  position: static;
  vertical-align: middle;
  display: none;
  display: inline-block;
}

.quiver-search__container__wrapper {
  .quiver-search__container__wrapper-desktop {
    display: none;
  }
}

@media(min-width: $tablet-width) {
  .quiver-search__container {
    position: relative;
  }
  .quiver-search__container__wrapper {
    display: inline-block;
    svg {
      width: 17px;
      height: 16px;
      vertical-align: middle;
      margin-top: 1px;
      margin-left: 2px;
    }
    .quiver-search__container__wrapper-desktop {
      display: inline-block;
      min-width: 240px;
      border: 1px solid color('dark-blue', 20);
      color: color('gray', 10);
      margin: 0;
      font-size: 14px;
      background: color('dark-blue', 20);
      font-family: $source-sans-pro;
      font-weight: lighter;
      letter-spacing: 1.5px;
      transition: all 0.25s ease;
      height: 31px;
      padding: 6px 4px 0px 10px;
      vertical-align: middle;
      svg {
        margin-top: 1px;
      }
      &:hover {
        border: 1px solid color('light-blue', 70);
      }

      &:focus {
        border: 1px solid color('light-blue', 90);
      }
    }
  }
  .quiver-search__suggestions-container {
    position: absolute;
    background: white;
    width: 100%;
    left: auto;
    margin: 7px 0 0 0;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    &.quiver-search__suggestions-container--open {
      max-height: calc(90vh - 85px);
      overflow-y: scroll;
    }
  }
}
