@import '../common/colors';
@import '../common/fonts';
@import './mixins/formMessage';

.quiver-select {
  padding: 0;
  margin: 0;
  width: 410px;
  height: 55px;
  position: relative;
  background-color: color('white');

  select {
    border: 1px solid color('gray', 40);
    font-size: 16px;
    letter-spacing: 1.5px;
    height: 55px;
    padding: 0 18px;
    width: 100%;
    color: color('gray', 90);
    background-color: transparent;
    appearance: none;
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    transition: all 0.25s ease;
    position: absolute;
    z-index: 1;
    cursor: pointer;

    &:focus {
      border: 1px solid color('light-blue', 50);
    }
  }

  label {
    position: absolute;
    z-index: 2;
    padding: 0 3px;
    transition: 0.2s;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-family: $source-sans-pro;
    font-weight: lighter;
    cursor: text;
    color: color('gray', 70);
    background-color: color('white');
    margin: -5px 0 0 15px;
  }
}

.quiver-select__arrow {
  position: absolute;
  right: 20px;
  top: 18px;
}

.quiver-select__message {
  @include form-message(color('gray', 50));
  padding-top: 60px;
}

.quiver-select--parent-width {
  width: 100%;
}

.quiver-select--success {
  select {
    border: 1px solid color('green', 50);
  }
}

.quiver-select--warning {
  select {
    border: 1px solid color('orange', 50);
  }
}

.quiver-select--error {
  select {
    border: 1px solid color('red', 50);
  }

  .quiver-select__message {
    color: color('red', 50);
  }
}
