.quiver-share-article {
  display: flex;
  .quiver-alert {
    padding: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
}

.quiver-share-article__facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  outline: none;
  background: transparent;
  cursor: pointer;
  margin: 3px 8px 0 1px;
  border: 1px solid color('social', 'facebook');
  .quiver-facebook-icon {
    fill: color('social', 'facebook');
  }
}

.quiver-share-article__facebook:hover {
  background: color('social', 'facebook');
  cursor: pointer;
  .quiver-facebook-icon {
    fill: color('white');
  }
}

.quiver-share-article__facebook:focus {
  outline: 0;
}

.quiver-share-article__twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  outline: none;
  background: transparent;
  cursor: pointer;
  margin: 3px 8px 0 1px;
  border: 1px solid color('social', 'twitter');
  .quiver-twitter-icon {
    fill: color('social', 'twitter');
  }
}

.quiver-share-article__twitter:hover {
  background: color('social', 'twitter');
  .quiver-twitter-icon {
    fill: color('white');
  }
}

.quiver-share-article__twitter:focus {
  outline: 0;
}

.quiver-share-article__clipboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background: transparent;
  margin: 3px 8px 0 1px;
  border: 1px solid color('gray', 90);
  .quiver-clipboard-icon {
    margin-top: 1px;
    fill: color('gray', 90);
  }
}

.quiver-share-article__clipboard:hover {
  background: color('gray', 90);
  .quiver-clipboard-icon {
    fill: color('white');
  }
}

.quiver-share-article__alert {
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease;
}

.quiver-share-article__alert--active {
  opacity: 1;
  visibility: visible;
}

.quiver-share-article__alert__message {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: '';
    margin-right: 4px;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background: color('green', 50);
  }
  &:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 6px;
    width: 3px;
    height: 7px;
    border: solid color('white');
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
  }
}
