@import '../common/colors';
@import '../common/fonts';
@import '../common/media';

.quiver-site-search__top__input {
  position: relative;
  width: calc(100% - 20px);
  margin-left: 20px;
  border-bottom: 1px solid color('white');
  input {
    width: 100%;
    background: transparent;
    font-family: $futura-surfline;
    font-size: 18px;
    color: color('white');
    border: 0;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: rgba(255, 255, 255, .2);
    }
  }
  .quiver-new-search-icon {
    position: absolute;
    top: 8px;
    left: -16px;
    height: 12px;
    width: 12px;
    stroke: color('white');
  }
}

.quiver-site-search__top__input__link {
  position: absolute;
  right: 0;
  top: 30px;
  display: flex;
  align-items: center;
  padding: 4px 2px 4px 4px;
  font-family: $futura-surfline;
  font-size: 12px;
  color: color('white');
  text-transform: uppercase;
  text-decoration: none;
  .quiver-chevron {
    stroke: color('white');
    width: 12px;
    height: 12px;
    padding-left: 2px;
    stroke-width: 1px;
  }
  &:hover, &:focus, &:active {
    background: color('white');
    border-radius: 4px;
    color: color('dark-blue', 10);
    outline: 0;
    .quiver-chevron {
      stroke: color('dark-blue', 10);
    }
  }
}

@media(min-width: $tablet-width) {
  .quiver-site-search__top__input {
    width: calc(100% - 20px);
    margin-left: 20px;
    input {
      width: 100%;
      font-size: 28px;
    }
    .quiver-new-search-icon {
      top: 12px;
      left: -24px;
      height: 17px;
      width: 16px;
    }
  }

  .quiver-site-search__top__input__link {
    top: 46px;
  }

  .quiver-site-search__top__input input {
    width: calc(100% - 112px);
  }
  .quiver-site-search__top__input__link {
    top: 8px;
  }
}
