@import '../common/colors';
@import '../common/media';

.quiver-site-search__section {
  padding: 0 0 24px;
  width: 100%;
  box-sizing: content-box;
}

.quiver-site-search__section__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0 4px 4px;
}

.quiver-site-search__section__results {
  list-style: none;
  margin: 0;
  padding: 0 0 4px;
}

.quiver-site-search__section__no-results {
  font-size: 14px;
  color: color('gray', 90);
  padding: 0 4px;
}

.quiver-site-search__section__view-all {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 600;
  color: color('dark-blue', 10);
  text-decoration: none;
  padding: 8px 4px;
  &:hover, &:active, &:focus {
    text-decoration: underline;
    outline: 0;
  }
}

@media(min-width: $large-mobile) {
  .quiver-site-search__section__results {
    padding-bottom: 2px;
  }
  .quiver-site-search__section__view-all {
    padding: 4px;
  }
}

@media(min-width: $tablet-width) {
  .quiver-site-search__section {
    padding: 0 16px 24px;
    width: calc(50% - 32px);
    min-width: 0;
  }
}

@media(min-width: $medium-width) {
  .quiver-site-search__section {
    padding: 0 16px 24px;
    width: calc(33% - 32px);
    min-width: 0;
  }

  .quiver-site-search__section__surf-news {
    height: 100%;
  }
}
