@import '../common/colors';
@import '../common/media';

.quiver-site-search__result {
  padding: 8px 4px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
  cursor: pointer;
  a {
    display: flex;
    min-width: 0;
    text-decoration: none;
  }
  span {
    color: color('gray', 90);
  }
  highlight {
    color: color('dark-blue', 10);
  }
  .quiver-site-search__result__subtitle {
    padding-left: 8px;
    color: color('blue-gray', 70);
  }
  svg {
    position: relative;
    width: 13px;
    margin-right: 6px;
  }
  .quiver-cam-icon {
    top: 3px;
    height: 12px;
  }
  .quiver-multi-cam-icon {
    top: 2px;
    height: 12px;
  }
  .quiver-forecast-icon {
    top: 1.5px;
    width: 16px;
    margin-right: 3px;
  }
  .quiver-location-icon {
    top: 3px;
    width: 16px;
    margin-right: 3px;
  }
  .quiver-news-icon {
    margin-right: 8px;
    height: 13px;
    top: 2px;
  }
  .quiver-travel-icon {
    top: 1.5px;
    width: 16px;
    margin-right: 3px;
  }
}

.quiver-site-search__result--active, .quiver-site-search__result:hover {
  background: color('dark-blue', 10);
  border-radius: 4px;
  a,
  span,
  a:hover,
  span:hover,
  highlight,
  .quiver-site-search__result__title,
  .quiver-site-search__result__subtitle {
    color: color('white');
  }
  svg, g, path {
    fill: color('white');
  }
}

.quiver-site-search__result__title {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quiver-site-search__result__title--news {
  white-space: normal;
}

@media(min-width: $large-mobile) {
  .quiver-site-search__result {
    padding: 4px;
  }
}
