@import '../common/colors';
@import '../common/fonts';
@import '../common/media';

@import './NewCloseIcon';
@import './SiteSearchInput';
@import './SiteSearchMessage';
@import './SiteSearchResult';
@import './SiteSearchSection';

@keyframes slScaleDown {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slScaleOpacity {
  from {
    opacity: .75;
    transform: scale(1.05);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.quiver-site-search__overlay {
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.quiver-site-search {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0 auto;
  outline: none;
  overflow: auto;
  background: rgba(255, 255, 255, .975);
  animation: slScaleOpacity .35s;
}

.quiver-site-search--mobile {
  background: color('white');
  animation: slScaleDown .35s;
  -webkit-overflow-scrolling: touch;
}

.quiver-site-search__top {
  background: color('dark-blue', 10);
  width: calc(100% - 16px);
  padding: 32px 8px;
  display: flex;
  align-items: center;
  box-sizing: content-box;
}

.quiver-site-search__top__close {
  position: absolute;
  top: 4px;
  right: 4px;
  height: 12px;
  padding: 4px;
  display: flex;
  align-items: center;
  color: color('white');
  box-sizing: content-box;
  cursor: pointer;
  .quiver-new-close-icon {
    width: 12px;
    height: 12px;
  }
  &:hover, &:active, &:focus {
    background: color('white');
    border-radius: 4px;
    outline: 0;
    .quiver-new-close-icon {
      stroke: color('dark-blue', 10);
    }
  }
}

.quiver-site-search__results {
  width: calc(100% - 16px);
  padding: 16px 8px;
  box-sizing: content-box;
}

.quiver-site-search__results__placeholder {
  display: block;
  margin: 0 auto;
  padding: 0 16px;
  text-align: center;
  color: color('gray', 90);
}

@media(min-width: $tablet-width) {
  .quiver-site-search__top {
    width: calc(100% - 48px);
    padding: 40px 24px;
  }

  .quiver-site-search__top__close {
    top: 8px;
    right: 8px;
    height: 16px;
    .quiver-new-close-icon {
      width: 16px;
      height: 16px;
    }
  }

  .quiver-site-search__results {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100% - 50px);
    height: 600px;
    max-height: 1000px;
    padding: 24px 16px;
    margin: 0 auto;
  }
}

@media(min-width: $medium-width) {
  .quiver-site-search__top {
    width: calc(100% - 112px);
    padding: 40px 56px;
  }

  .quiver-site-search__top__close {
    top: 16px;
    right: 16px;
  }

  .quiver-site-search__results {
    width: calc(100% - 100px);
    max-width: 1440px;
    height: 600px;
    max-height: 1000px;
    padding: 24px 40px 24px 60px;
  }

  .quiver-site-search__results__placeholder {
    padding: 0 36px 0 16px;
    p {
      font-size: 18px;
    }
  }
}
