@import '../common/colors';

@keyframes slScaleUp {
  from {
    transform: scale(.9);
  }
  to {
    transform: scale(1);
  }
}

.quiver-site-search__selection-message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: color('white');
}

.quiver-site-search__selection-message__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  animation: slScaleUp .2s;
  p {
    font-size: 14px;
    margin: 0 0 8px;
    color: color('dark-blue', 10);
  }
  h5 {
    color: color('dark-blue', 10);
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
    margin: 0 0 16px;
  }
  .quiver-spinner {
    width: 40px;
    height: 40px;
    g {
      fill: color('dark-blue', 10);
    }
  }
}
