@import '../common/colors';
@import '../common/fonts';

@keyframes quiver-spinner__spin {
  100% {
    transform: rotate(-360deg);
  }
}

.quiver-spinner {
  animation: quiver-spinner__spin .75s linear infinite;
  width: 17px;
  height: 19px;

  g {
    fill: color('light-blue', 50);
  }
}

.quiver-spinner--error {
  animation: none;

  g {
    fill: color('red');
  }
}


