@import './mixins/moduleShadow';
@import '../variables';

@import './ColoredConditionBar';
@import './ColoredConditionBarV2';
@import './CompassRose';
@import './ConditionStats';
@import './PremiumAnalysisLink';
@import './Reading';
@import './ReadingDescription';
@import './SpotForecastSummary';
@import './SpotForecastSummaryGrids';
@import './SwellMeasurements';
@import './SwellRose';
@import './WetsuitRecommender';
@import './WindArrow';
@import './WindMeasurements';
@import './Weather';
@import './WaterTemp';

.quiver-spot-report {
  .quiver-forecaster-profile {
    border-top: 1px solid color('blue-gray', 10);
    padding-top: 16px;
    width: unset;
    height: unset;
  }

  .quiver-colored-condition-bar {
    height: 40px;
    padding-left: 16px;
    font-size: 16px;
  }
}

.quiver-spot-report__note {
  padding: 16px 0;
  line-height: 24px;
  color: color('gray', 80);
  font-size: 16px;
}

.quiver-spot-report__report-text {
  margin: 24px 0;

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: color('dark-blue', 10);

    &:hover {
      text-decoration: underline;
    }
  }

  .quiver-premium-analysis-link {
    padding-top: 24px;
  }
}

.quiver-spot-report {
  .quiver-forecaster-profile {
    display: flex;
    flex-flow: column;
    margin: 0 0 16px 0;
    @media (min-width: 740px) {
      flex-flow: row;
    }
    @media (min-width: $desktop-small) {
      justify-content: space-between;
      flex-wrap: nowrap;
      flex: 0 0 100px;
    }
  }

  .quiver-forecaster-profile__update-container {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 18px;
    color: color('gray', 90);
    text-align: right;
    align-self: flex-start;
    margin: 16px 0 0 0;
    &__last-update--expired {
      color: color('bright-red');
    }
    @media (min-width: 740px) {
      margin: 0;
      align-self: flex-end;
    }
  }

  .quiver-forecaster-profile__update-container__next-update {
    display: block;
    padding-top: 8px;
  }

  .quiver-forecaster-profile__details-container {
    display: flex;
    flex: 1 1 auto;
    @media (min-width: $desktop-small) {
      align-items: center;
    }
    img {
      height: 40px;
      width: 40px;
      margin-right: 8px;
      border-radius: 50%;
      @media (min-width: $desktop-small) {
        height: 40px;
        width: 40px;
        margin-right: 0;
      }
    }
  }
  .quiver-forecaster-profile__details-container__forecaster {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    margin: 0 0 0 8px;
  }
  .quiver-forecaster-profile__details-container__forecaster-name {
    padding: 0;
    font-size: 16px;
    height: 16px;
    letter-spacing: 0.4px;
    font-family: $futura-dem;
  }
  .quiver-forecaster-profile__details-container__forecaster-title {
    font-size: 14px;
    color: color('gray', 90);
    height: 18px;
    line-height: 18px;
  }
}

@media (min-width: $desktop-small) {
  .quiver-spot-report__report-text {
    margin: 0 24px 0 0;
    padding: 24px 0;
    height: auto;
  }

  .quiver-spot-report__condition-values--no-human-report {
    width: 100%;
  }
}

@media (min-width: $desktop-large) {
  .quiver-spot-report__report-text {
    margin: 0 40px 0 0;
    padding: 0px;
    width: 100%;
  }
}
