@import '../common/colors';
@import '../common/fonts';
@import '../variables';
@import '../common/media';

.quiver-spot-thumbnail {
  z-index: -1;
  height: 100%;
  padding: 5px 8px 5px 8px;
}

.quiver-spot-thumbnail__top-container {
  height: 35.5px;
  position: relative;
}

.quiver-spot-thumbnail__bottom-container {
  display: none;
}

@media (min-width: $medium-width) {
  .quiver-spot-thumbnail {
    z-index: -1;
    height: 100%;
    padding: 10px;
  }

  .quiver-spot-thumbnail__top-container {
    height: 50px;

    .quiver-wind-indicator {
      display: none;
    }
  }

  .quiver-spot-thumbnail__bottom-container {
    display: block;
    height: 90px;
    text-align: center;
  }
}
