@import '../variables';
@import '../common/fonts';

// Define the grid area names
.quiver-spot-forecast-summary__wrapper {
  grid-area: conditions;
  width: 100%;
  @media (max-width: 740px) {
    justify-self: center;
  }
}
.quiver-spot-forecast-summary__thumbnail {
  grid-area: map;
  align-self: flex-start;
  @media (max-width: 740px) {
    justify-self: center;
  }
}
.quiver-wetsuit-recommender {
  grid-area: wetsuit-ad;
  @media (max-width: 740px) {
    justify-self: center;
  }
}

/**
Handles the following states for mobile:
  - No cam with report
  - No cam no report
  - Cam with no report
*/
.quiver-spot-module--no-cam,
.quiver-spot-module--with-cam {
  .quiver-spot-report__condition-values--no-human-report,
  .quiver-spot-report__condition-values {
    .quiver-spot-forecast-summary {
      display: grid;
      grid-template-rows: 195px 154px 195px;
      grid-template-columns: 100%;
      grid-template-areas:
        'conditions'
        'wetsuit-ad'
        'map';
      grid-row-gap: 24px;
      justify-items: center;
      justify-content: center;
      .quiver-surf-height {
        white-space: nowrap;
      }
    }
  }
}

@media (min-width: $medium-mobile) {
  .quiver-spot-module--no-cam,
  .quiver-spot-module--with-cam {
    .quiver-spot-report__condition-values--no-human-report,
    .quiver-spot-report__condition-values {
      .quiver-spot-forecast-summary {
        display: grid;
        grid-template-rows: 195px 121px 195px;
        grid-template-columns: 100%;
        grid-template-areas:
          'conditions'
          'wetsuit-ad'
          'map';
        grid-row-gap: 24px;
        justify-items: center;
        justify-content: center;
        .quiver-surf-height {
          white-space: nowrap;
        }
      }
    }
  }
  .quiver-wetsuit-recommender {
    &__ad {
      margin-left: 37px;
    }
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 900px) {
  // Spot with cam and report
  .quiver-spot-module--with-cam {
    .quiver-spot-report__condition-values {
      .quiver-spot-forecast-summary {
        display: grid;
        grid-template-columns: 300px 260px;
        grid-template-rows: 85px 195px;
        grid-template-areas:
          'conditions conditions'
          'wetsuit-ad map';
        grid-column-gap: 0;
        grid-row-gap: 32px;
        align-items: start;
        justify-items: unset;
      }
    }
    .quiver-wetsuit-recommender {
      flex-direction: column;
      &__ad {
        margin-left: 0;
      }
    }
  }

  // Spot with no cam and with report
  .quiver-spot-module--no-cam,
  .sl-spot-current-conditions-section--theatre-mode {
    .quiver-spot-report__content-wrapper {
      flex-flow: column;
    }
    .quiver-wetsuit-recommender {
      flex-direction: column;
    }
    .quiver-spot-report__condition-values {
      width: unset;
      .quiver-spot-forecast-summary {
        display: grid;
        grid-template-columns: 300px 260px;
        grid-template-rows: 86px 195px;
        grid-template-areas:
          'conditions conditions'
          'wetsuit-ad map';
        grid-column-gap: 0;
        grid-row-gap: 32px;
        align-items: start;

        .quiver-spot-forecast-summary__wrapper {
          margin: 0;
          width: 100%;
          flex-wrap: nowrap;
          height: 100%;
        }
        .quiver-spot-forecast-summary__thumbnail {
          margin: 0;
        }
      }
    }
  }

  // Spot with theatre mode and no report
  .sl-spot-current-conditions-section--theatre-mode {
    .quiver-spot-module--multi-cam {
      .quiver-spot-report__condition-values--no-human-report {
        .quiver-spot-forecast-summary {
          display: grid;
          grid-template-columns: 300px 260px;
          grid-template-rows: 86px 220px;
          grid-template-areas:
            'conditions conditions '
            'wetsuit-ad map';
          grid-column-gap: 0;
          grid-row-gap: 32px;

          .quiver-spot-forecast-summary__wrapper {
            margin: 0;
            width: 100%;
          }
          .quiver-wetsuit-recommender {
            flex-direction: column;
          }
        }
      }
    }
  }

  // Spot with no report and no cam
  .quiver-spot-module--no-cam {
    .quiver-spot-report__condition-values--no-human-report {
      .quiver-spot-forecast-summary {
        display: grid;
        grid-template-columns: 300px 260px;
        grid-template-rows: 86px 220px;
        grid-template-areas:
          'conditions conditions '
          'wetsuit-ad map';
        grid-column-gap: 0;
        grid-row-gap: 32px;

        .quiver-spot-forecast-summary__wrapper {
          margin: 0;
          width: 100%;
        }
        .quiver-wetsuit-recommender {
          flex-direction: column;
        }
      }
    }
  }

  // Spot with cam but no report
  .quiver-spot-module--with-cam {
    .quiver-spot-report__condition-values--no-human-report {
      .quiver-spot-forecast-summary {
        display: grid;
        grid-template-columns: 300px 260px;
        grid-template-rows: 86px 195px;
        grid-template-areas:
          'conditions conditions'
          'wetsuit-ad map';
        grid-column-gap: 0;
        grid-row-gap: 32px;
        align-items: start;
      }
      .quiver-wetsuit-recommender {
        flex-direction: column;
      }
    }
  }
}

/* Tablet Large */
@media (min-width: 900px) and (max-width: $desktop-small) {
  // Spot with cam and report
  .quiver-spot-module--with-cam {
    .quiver-spot-report__condition-values {
      .quiver-spot-forecast-summary {
        display: grid;
        grid-template-columns: calc(100% - 260px - 32px) 260px;
        grid-template-rows: 85px 121px;
        grid-template-areas:
          'conditions map'
          'wetsuit-ad map';
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        align-items: start;
        justify-items: unset;
      }
    }
  }

  // Spot with no cam and with report
  .quiver-spot-module--no-cam,
  .sl-spot-current-conditions-section--theatre-mode {
    .quiver-spot-report__content-wrapper {
      flex-flow: column;
    }

    .quiver-spot-report__condition-values {
      width: unset;
      .quiver-spot-forecast-summary {
        display: grid;
        grid-template-columns: 300px 260px;
        grid-template-rows: 86px 195px;
        grid-template-areas:
          'conditions conditions'
          'wetsuit-ad map';
        grid-column-gap: 0;
        grid-row-gap: 32px;
        align-items: start;

        .quiver-spot-forecast-summary__wrapper {
          margin: 0;
          width: 100%;
          flex-wrap: nowrap;
          height: 100%;
        }
        .quiver-spot-forecast-summary__thumbnail {
          margin: 0;
        }
        .quiver-wetsuit-recommender {
          flex-direction: column;
        }
      }
    }
  }

  // Spot with theatre mode and no report
  .sl-spot-current-conditions-section--theatre-mode {
    .quiver-spot-module--multi-cam {
      .quiver-spot-report__condition-values--no-human-report {
        .quiver-spot-forecast-summary {
          display: grid;
          grid-template-columns: 300px 260px;
          grid-template-rows: 86px 220px;
          grid-template-areas:
            'conditions conditions '
            'wetsuit-ad map';
          grid-column-gap: 0;
          grid-row-gap: 32px;

          .quiver-spot-forecast-summary__wrapper {
            margin: 0;
            width: 100%;
          }
          .quiver-wetsuit-recommender {
            flex-direction: column;
          }
        }
      }
    }
  }

  // Spot with no report and no cam
  .quiver-spot-module--no-cam {
    .quiver-spot-report__condition-values--no-human-report {
      .quiver-spot-forecast-summary {
        display: grid;
        grid-template-columns: 300px 260px;
        grid-template-rows: 86px 220px;
        grid-template-areas:
          'conditions conditions '
          'wetsuit-ad map';
        grid-column-gap: 0;
        grid-row-gap: 32px;

        .quiver-spot-forecast-summary__wrapper {
          margin: 0;
          width: 100%;
        }
        .quiver-wetsuit-recommender {
          flex-direction: column;
        }
      }
    }
  }

  // Spot with cam but no report
  .quiver-spot-module--with-cam {
    .quiver-spot-report__condition-values--no-human-report {
      .quiver-spot-forecast-summary {
        display: grid;
        grid-template-columns: calc(100% - 260px - 60px) 260px;
        grid-template-rows: 86px 121px;
        grid-template-areas:
          'conditions map'
          'wetsuit-ad map';
        grid-column-gap: 60px;
        grid-row-gap: 32px;
        align-items: start;
      }
    }
  }
}

@media (min-width: $desktop-small) {
  // Spot with cam and report
  .quiver-spot-module--with-cam {
    .quiver-spot-report__condition-values {
      .quiver-spot-forecast-summary {
        grid-template-columns: 260px 300px;
        grid-template-rows: 200px 121px;
        grid-template-areas:
          'map conditions'
          'wetsuit-ad wetsuit-ad';
        grid-column-gap: 24px;
        grid-row-gap: 16px;
        align-items: start;
        justify-items: center;
      }
    }
    .quiver-spot-report__report-text {
      padding: 0;
    }
    .quiver-spot-report {
      .quiver-forecaster-profile {
        border-top: none;
        padding-top: 0;
      }
    }
    .quiver-spot-report__condition-values--with-report {
      .quiver-wetsuit-recommender__conditions {
        flex: 0 1 300px;
      }
    }
  }

  // Theatre Mode Spot with report
  .sl-spot-current-conditions-section--theatre-mode {
    .quiver-spot-report__content-wrapper {
      flex-flow: column;
    }
    .quiver-spot-module--with-cam {
      .quiver-spot-report__report-text {
        padding: 24px 0;
      }
    }
    .quiver-spot-report__condition-values--with-report {
      width: unset;
      .quiver-spot-forecast-summary {
        grid-template-columns: 600px 260px;
        grid-template-rows: 86px 121px;
        grid-template-areas:
          'conditions map'
          'wetsuit-ad map';
        grid-column-gap: 32px;
        grid-row-gap: 40px;
        justify-content: unset;
      }
      .quiver-spot-forecast-summary__wrapper {
        flex-wrap: nowrap;
      }
      .quiver-wetsuit-recommender__conditions {
        flex: 0 1 300px;
      }
    }
  }

  // Spot with no cam and with report
  .quiver-spot-module--no-cam {
    .quiver-spot-report__content-wrapper {
      flex-flow: column;
    }

    .quiver-spot-report__condition-values--with-report {
      width: unset;
      .quiver-spot-forecast-summary {
        grid-template-columns: 600px 260px;
        grid-template-rows: 86px 121px;
        grid-template-areas:
          'conditions map'
          'wetsuit-ad map';
        grid-column-gap: 32px;
        grid-row-gap: 40px;
        justify-content: unset;
      }
      .quiver-spot-forecast-summary__wrapper {
        flex-wrap: nowrap;
      }
      .quiver-wetsuit-recommender__conditions {
        flex: 0 1 300px;
      }
    }
  }

  // Spot with theatre mode and no report
  .sl-spot-current-conditions-section--theatre-mode {
    .quiver-spot-module--multi-cam {
      .quiver-spot-report__condition-values--no-human-report {
        .quiver-spot-forecast-summary {
          grid-template-columns: 596px 260px;
          grid-template-rows: 85px 121px;
          grid-template-areas:
            'conditions map'
            'wetsuit-ad map';
          grid-column-gap: 32px;
          grid-row-gap: 24px;
          justify-items: unset;

          .quiver-spot-forecast-summary__wrapper {
            margin: 0;
            width: 100%;
            flex-wrap: nowrap;
          }
          .quiver-spot-forecast-summary__thumbnail {
            margin: 0;
          }
          .quiver-wetsuit-recommender__conditions {
            flex: 1 0 270px;
          }
        }
      }
    }
  }

  // Spot with no report and no cam
  .quiver-spot-module--no-cam {
    .quiver-spot-report__condition-values--no-human-report {
      .quiver-spot-forecast-summary {
        grid-template-columns: 596px 260px;
        grid-template-rows: 85px 121px;
        grid-template-areas:
          'conditions map'
          'wetsuit-ad map';
        grid-column-gap: 32px;
        grid-row-gap: 24px;
        justify-items: unset;

        .quiver-spot-forecast-summary__wrapper {
          margin: 0;
          width: 100%;
          flex-wrap: nowrap;
        }
        .quiver-spot-forecast-summary__thumbnail {
          margin: 0;
        }
        .quiver-wetsuit-recommender__conditions {
          flex: 1 0 270px;
        }
      }
    }
  }

  // Spot with cam but no report
  .quiver-spot-module--with-cam {
    .quiver-spot-forecast-summary__wrapper {
      height: 100%;
    }
    .quiver-spot-report__condition-values--no-human-report {
      .quiver-spot-forecast-summary {
        display: grid;
        height: auto;
        grid-template-columns: 605px 265px 260px;
        grid-template-rows: 86px 121px;
        grid-template-areas: 'conditions wetsuit-ad map';
        grid-column-gap: 40px;
        justify-items: unset;
        justify-content: unset;
      }
    }
  }
}

@media (min-width: $desktop-large) {
  // Spot with cam and report
  .quiver-spot-module {
    .quiver-spot-report__condition-values--with-report {
      .quiver-spot-forecast-summary {
        grid-template-columns: 260px 300px;
        grid-template-rows: 195px 121px;
        grid-template-areas:
          'map conditions'
          'wetsuit-ad wetsuit-ad';
        grid-column-gap: 32px;
        grid-row-gap: 16px;
      }
    }
  }

  // Spot with no cam and with report
  .quiver-spot-module--no-cam,
  .sl-spot-current-conditions-section--theatre-mode {
    .quiver-spot-report__content-wrapper {
      flex-flow: row-reverse;
    }
    .quiver-spot-report__condition-values {
      .quiver-spot-forecast-summary {
        grid-template-columns: 260px 300px;
        grid-template-rows: 195px 121px;
        grid-template-areas:
          'map conditions'
          'wetsuit-ad wetsuit-ad';
        grid-column-gap: 24px;
        grid-row-gap: 16px;
        .quiver-spot-forecast-summary__wrapper {
          margin: 0;
          width: 100%;
          height: 100%;
          flex-wrap: wrap;
        }
        .quiver-spot-forecast-summary__thumbnail {
          margin: 0;
        }
      }
    }
  }

  // Spot with theatre mode and no report
  .sl-spot-current-conditions-section--theatre-mode {
    .quiver-spot-module--multi-cam {
      .quiver-spot-report__condition-values--no-human-report {
        width: 100%;

        .quiver-spot-forecast-summary {
          grid-template-columns: 490px 500px 260px;
          grid-template-rows: 100%;
          grid-template-areas: 'conditions wetsuit-ad map';
          grid-column-gap: 32px;
          grid-row-gap: 0;
          justify-content: unset;
          justify-items: unset;

          .quiver-spot-forecast-summary__wrapper {
            margin: 0;
            width: 100%;
            justify-content: space-between;
            flex-wrap: nowrap;
          }
          .quiver-spot-forecast-summary__stat {
            flex: 0 1 auto;
          }
          .quiver-spot-forecast-summary__stat-container--surf-height {
            width: 110px;
          }
          .quiver-spot-forecast-summary__stat-container--tide {
            width: 90px;
          }
          .quiver-spot-forecast-summary__stat-container--wind {
            width: 65px;
          }
          .quiver-spot-forecast-summary__thumbnail {
            margin: 0;
          }
        }
      }
    }
  }

  // Spot with no report and no cam
  .quiver-spot-module--no-cam {
    .quiver-spot-report__condition-values--no-human-report {
      width: 100%;

      .quiver-spot-forecast-summary {
        grid-template-columns: 490px 500px 260px;
        grid-template-rows: 100%;
        grid-template-areas: 'conditions wetsuit-ad map';
        grid-column-gap: 32px;
        grid-row-gap: 0;
        justify-content: unset;
        justify-items: unset;

        .quiver-spot-forecast-summary__wrapper {
          margin: 0;
          width: 100%;
          justify-content: space-between;
          flex-wrap: nowrap;
        }
        .quiver-spot-forecast-summary__stat {
          flex: 0 1 auto;
        }
        .quiver-spot-forecast-summary__stat-container--surf-height {
          width: 110px;
        }
        .quiver-spot-forecast-summary__stat-container--tide {
          width: 90px;
        }
        .quiver-spot-forecast-summary__stat-container--wind {
          width: 65px;
        }
        .quiver-spot-forecast-summary__thumbnail {
          margin: 0;
        }
      }
    }
  }

  // Spot with cam but no report
  .quiver-spot-module--with-cam {
    .quiver-spot-report__condition-values--no-human-report {
      .quiver-spot-forecast-summary {
        grid-template-columns: 690px 620px 260px;
        grid-template-rows: 195px;
        grid-template-areas: 'conditions wetsuit-ad map';
        grid-column-gap: 40px;
        justify-items: unset;

        .quiver-spot-forecast-summary__wrapper {
          margin: 0;
          width: 100%;
        }
        .quiver-spot-forecast-summary__thumbnail {
          margin: 0;
        }
      }
    }
  }
}

/** 
  Grid not fully supported in IE10 and IE 11 so we can store some fallbacks in here
**/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /**
    Handles the following states for mobile:
      - No cam with report
      - No cam no report
      - Cam with no report
  */
  .quiver-spot-module--no-cam,
  .quiver-spot-module--with-cam {
    .quiver-spot-report__condition-values--no-human-report,
    .quiver-spot-report__condition-values {
      .quiver-spot-forecast-summary {
        .quiver-spot-forecast-summary__wrapper {
          -ms-grid-column: 1;
          -ms-grid-row: 1;
          margin: 0 0 24px 0;
        }
        .quiver-spot-forecast-summary__thumbnail {
          -ms-grid-row: 3;
          -ms-grid-column: 1;
          -ms-grid-column-align: center;
          margin: 24px 0 0 0;
        }
      }
    }
  }

  /* Tablet */
  @media (min-width: 740px) and (max-width: $desktop-small) {
    // Spot with cam and report
    .quiver-spot-module--with-cam {
      .quiver-spot-report__condition-values {
        .quiver-spot-forecast-summary {
          margin: 0 0 32px 0;
          .quiver-spot-forecast-summary__wrapper {
            -ms-grid-column: 1;
            -ms-grid-row: 1;
            margin: 0 32px 0 0;
          }
          .quiver-spot-forecast-summary__thumbnail {
            -ms-grid-row: 1;
            -ms-grid-row-span: 2;
            -ms-grid-column: 2;
            -ms-grid-column-align: unset;
          }
        }
      }
    }

    // Spot with no cam and with report
    .quiver-spot-module--no-cam {
      .quiver-spot-report__condition-values {
        .quiver-spot-forecast-summary {
          margin: 0 0 32px 0;
          .quiver-spot-forecast-summary__wrapper {
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
            -ms-grid-row: 1;
          }
          .quiver-spot-forecast-summary__thumbnail {
            -ms-grid-row: 2;
            -ms-grid-column: 2;
            margin: 32px 0 0 40px;
            -ms-grid-column-align: unset;
          }
        }
      }
    }

    // Spot with no report and no cam
    .quiver-spot-module--no-cam {
      .quiver-spot-report__condition-values--no-human-report {
        .quiver-spot-forecast-summary {
          .quiver-spot-forecast-summary__wrapper {
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
            -ms-grid-row: 1;
            margin: 0 0 32px 0;
          }
          .quiver-spot-forecast-summary__thumbnail {
            -ms-grid-row: 2;
            -ms-grid-column: 2;
            margin: 32px 0 0 40px;
            -ms-grid-column-align: unset;
          }
        }
      }
    }

    // Spot with cam but no report
    .quiver-spot-module--with-cam {
      .quiver-spot-report__condition-values--no-human-report {
        .quiver-spot-forecast-summary {
          .quiver-spot-forecast-summary__wrapper {
            -ms-grid-column: 1;
            -ms-grid-row: 1;
          }
          .quiver-spot-forecast-summary__thumbnail {
            -ms-grid-row: 1;
            -ms-grid-row-span: 2;
            -ms-grid-column: 2;
            margin: 32px 0 0 40px;
            -ms-grid-column-align: unset;
          }
        }
      }
    }
  }

  @media (min-width: $desktop-small) {
    // Spot with cam and report
    .quiver-spot-module--with-cam {
      .quiver-spot-report__condition-values {
        .quiver-spot-forecast-summary {
          .quiver-spot-forecast-summary__wrapper {
            -ms-grid-column: 2;
            -ms-grid-row: 1;
            margin: 0 0 0 24px;
          }
          .quiver-spot-forecast-summary__thumbnail {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            -ms-grid-column-align: unset;
            margin: 0;
          }
        }
      }
    }

    // Spot with no cam and with report
    .quiver-spot-module--no-cam {
      .quiver-spot-report__condition-values--with-report {
        .quiver-spot-forecast-summary {
          margin: 0 0 40px 0;
          .quiver-spot-forecast-summary__wrapper {
            -ms-grid-column: 1;
            -ms-grid-row: 1;
          }
          .quiver-spot-forecast-summary__thumbnail {
            -ms-grid-row: 1;
            -ms-grid-row-span: 2;
            -ms-grid-column: 2;
            -ms-grid-column-align: unset;
            margin: 0 0 0 32px;
          }
        }
      }
    }

    // Spot with no report and no cam
    .quiver-spot-module--no-cam {
      .quiver-spot-report__condition-values--no-human-report {
        .quiver-spot-forecast-summary {
          .quiver-spot-forecast-summary__wrapper {
            -ms-grid-column: 1;
            -ms-grid-row: 1;
          }
          .quiver-spot-forecast-summary__thumbnail {
            -ms-grid-row: 1;
            -ms-grid-row-span: 2;
            -ms-grid-column: 2;
            -ms-grid-column-align: unset;
            margin: 0 0 0 32px;
          }
        }
      }
    }

    // Spot with cam but no report
    .quiver-spot-module--with-cam {
      .quiver-spot-report__condition-values--no-human-report {
        .quiver-spot-forecast-summary {
          .quiver-spot-forecast-summary__wrapper {
            -ms-grid-column: 1;
            margin: 0;
          }
          .quiver-spot-forecast-summary__thumbnail {
            -ms-grid-column: 3;
            margin: 0 0 0 32px;
            -ms-grid-column-align: unset;
          }
        }
      }
    }
  }

  @media (min-width: $desktop-large) {
    // Spot with cam and report
    .quiver-spot-module {
      .quiver-spot-report__condition-values--with-report {
        .quiver-spot-forecast-summary {
          .quiver-spot-forecast-summary__wrapper {
            -ms-grid-column: 2;
            -ms-grid-row: 1;
          }
          .quiver-spot-forecast-summary__thumbnail {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
          }
        }
      }
    }

    // Spot with no cam and with report
    .quiver-spot-module--no-cam {
      .quiver-spot-report__condition-values {
        .quiver-spot-forecast-summary {
          .quiver-spot-forecast-summary__wrapper {
            -ms-grid-column: 2;
            -ms-grid-row: 1;
            margin: 0 0 0 32px;
          }
          .quiver-spot-forecast-summary__thumbnail {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            margin: 0;
          }
        }
      }
    }

    // Spot with no report and no cam
    .quiver-spot-module--no-cam {
      .quiver-spot-report__condition-values--no-human-report {
        .quiver-spot-forecast-summary {
          .quiver-spot-forecast-summary__wrapper {
            -ms-grid-column: 1;
            margin: 0 48px 0 0;
          }
          .quiver-spot-forecast-summary__thumbnail {
            -ms-grid-column: 3;
          }
        }
      }
    }

    // Spot with cam but no report
    .quiver-spot-module--with-cam {
      .quiver-spot-report__condition-values--no-human-report {
        .quiver-spot-forecast-summary {
          .quiver-spot-forecast-summary__wrapper {
            -ms-grid-column: 1;
            margin: 0 48px 0 0;
          }
          .quiver-spot-forecast-summary__thumbnail {
            -ms-grid-column: 3;
          }
        }
      }
    }
  }
}

.quiver-spot-forecast-summary__stat-container--surf-height--expired {
  color: color('gray', 55) !important;
  .quiver-spot-forecast-summary__stat-title {
    color: color('gray', 55) !important;
  }
  .quiver-surf-height {
    color: color('gray', 55) !important;
  }
  .quiver-wave-summary {
    color: color('gray', 55) !important;
    .quiver-reading-description {
      color: color('gray', 55) !important;
    }
  }
}

