@import '../common/colors';
@import '../common/fonts';
@import '../common/media';
@import './mixins/formMessage';

.quiver-spot-search__react-autosuggest__container {
  margin: 12px 20px 0 10px;
  vertical-align: middle;
  display: inline-block;
  float: right;
  .quiver-spot-search__react-autosuggest__container__wrapper {
    display: inline-block;
    svg {
      width: 17px;
      height: 16px;
      vertical-align: middle;
      margin-top: 1px;
      margin-left: 2px;
    }
    .quiver-spot-search__react-autosuggest__container__wrapper-mobile-button, .quiver-spot-search__react-autosuggest__container__wrapper-mobile-expanded {
      display: none;
      .quiver-spot-search__react-autosuggest__container__wrapper-mobile-expanded__back {
        svg {
          margin-top: 1px;
        }
      }
    }
    .quiver-spot-search__react-autosuggest__container__wrapper-desktop {
      display: inline-block;
      min-width: 240px;
      border: 1px solid color('dark-blue', 20);
      color: color('gray', 10);
      margin: 0;
      font-size: 16px;
      background: color('dark-blue', 20);
      font-family: $source-sans-pro;
      font-weight: lighter;
      letter-spacing: 1.5px;
      transition: all 0.25s ease;
      height: 31px;
      padding: 6px 4px 0px 10px;
      vertical-align: middle;
      svg {
        margin-top: 1px;
      }
      &:hover {
        border: 1px solid color('light-blue', 70);
      }

      &:focus {
        border: 1px solid color('light-blue', 90);
      }
    }
  }
  .quiver-spot-search__react-autosuggest__input {
    width: 90%;
    text-transform: initial;
    color: color('white');
    border: none;
    vertical-align: middle;
    font-size: 14px;
    padding: 0 10px;
    background: color('dark-blue', 20);
    font-family: $source-sans-pro;
    font-weight: lighter;
    letter-spacing: 1.5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &::-webkit-input-placeholder {
      color: color('white');
    }
    &::-moz-placeholder {
      color: color('white');
    }
    &:focus {
      border: none;
      outline: none;
      opacity: 1;
    }
  }

  label {
    position: absolute;
    padding: 0 3px;
    margin: 23.5px 0 0 15px;
    transition: 0.2s;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-family: $source-sans-pro;
    font-weight: lighter;
    cursor: text;
    color: color('gray', 70);
    background-color: transparent;
  }
}
@media (max-width: $tablet-width) {
  .quiver-spot-search__react-autosuggest__container {
    .quiver-spot-search__react-autosuggest__container__wrapper {
      .quiver-spot-search__react-autosuggest__container__wrapper-desktop {
        display: none;
      }
      .quiver-spot-search__react-autosuggest__container__wrapper-mobile-button {
        display: inline-block;
        cursor: pointer;
        margin-top: 6px;
      }
      .quiver-spot-search__react-autosuggest__container__wrapper-mobile-expanded {
        background: color('dark-blue', 20);
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        vertical-align: middle;
        height: 48px;
        z-index: 100;
        input {
          height: 100%;
          width: 90%;
          right: 0;
          position: absolute;
        }
        .quiver-spot-search__react-autosuggest__container__wrapper-mobile-expanded__back {
          display: inline-block;
          cursor: pointer;
          vertical-align: middle;
          text-align: center;
          line-height: 48px;
          width: 10%;
          color: white;
        }
        .quiver-spot-search__react-autosuggest__container__wrapper-mobile-expanded__background {
          height: 1000px;
          overflow-y: hidden;
          background: white;
        }
      }
    }
    .quiver-spot-search__react-autosuggest__suggestions-container {
      position: absolute;
      left: 0;
      top: 48px;
      z-index: 200;
      width: 100%;
      height: 0;
    }
  }
}

.quiver-spot-search__react-autosuggest__suggestions-container {
  position: absolute;
  background: white;
  width: 335px;
  margin-top: 5px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);

  &.quiver-spot-search__react-autosuggest__suggestions-container--open {
    padding-bottom: 20px;
  }
  .quiver-spot-search__react-autosuggest__section-title {
    font-family: $source-sans-pro;
    font-weight: lighter;
    text-transform: uppercase;
    color: color('gray', 70);
    padding-top: 18px;
    padding-bottom: 18px;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 18px;
    font-size: 12px;
    border-top: 1px color('light-blue', 5) solid;
  }
  & .quiver-spot-search__react-autosuggest__section-container--first {
    .quiver-spot-search__react-autosuggest__section-title {
      margin-top: 0;
      border-top: none;
    }
  }
  .quiver-spot-search__react-autosuggest__suggestions-list {
    list-style-type: none;
    color: color('gray', 70);
    vertical-align: top;
    padding-left: 0px;
    margin: 0px;
    li {
      padding: 10px 10px 10px 40px;
      cursor: pointer;
      svg {
        position: relative;
        vertical-align: middle;
        margin-top: 2px;
        margin-left: -26px;
        margin-right: 8px;
      }
      a {
        color: color('gray', 90);
        highlight {
          color: color('light-blue', 50);
        }
      }

      &.quiver-spot-search__react-autosuggest__suggestion--highlighted {
        background: color('gray', 10);
      }
      .quiver-spot-search__react-autosuggest__container__subtitle {
        color: color('gray', 70);
        font-size: 12px;
        margin-left: -5px;
      }
    }
  }
}
