@import '../common/colors';
@import '../common/fonts';
@import '../variables';
@import '../common/media';

@mixin quiverSpotListCard {
  .quiver-spot-list-item {
    background-size: 300px 172px;
    background-repeat: no-repeat;
    width: 100%;
    height: 254px;
    &:hover {
      .quiver-spot-details__name, .quiver-surf-height {
        color: color('black');
        sup {
          color: color('black');
        }
      }
      .quiver-reading-description {
        color: color('gray', 55);
      }
    }
  }
  .quiver-spot-details {
    padding: 15px 15px 8px;
    background: color('white');
    .quiver-spot-details__name {
      padding: 0;
      font-size: 16px;
      color: color('black');
      background-color: transparent;
    }
    .quiver-spot-report-summary {
      display: block;
      margin-top: 5px;
    }
  }
  .quiver-spot-details--premium-cta {
    display: block;
  }
  .quiver-spot-thumbnail__top-container {
    height: 50px;
  }
}

.quiver-spot-list-item {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  color: color('black');
  text-decoration: none;
  .quiver-spot-list-item__wrapper {
    text-decoration: none;
  }
  &:hover {
    .quiver-spot-details__name, .quiver-surf-conditions {
      color: color('white');
    }
  }
}

.quiver-spot-list-item__container {
  min-height: 104px;
}

.quiver-spot-details {
  padding: 12px 8px 8px 8px;
  background: linear-gradient(0deg, rgba(0,0,0,.7), rgba(0,0,0,0));
  .quiver-spot-details__name {
    font-family: $futura-dem;
    width: 100%;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: color('white');
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0px;
    line-height: 18px;
    margin: 1px 0px;
    font-weight: normal;
  }
  .quiver-spot-report-summary {
    display: none;
  }
}

.quiver-spot-details--premium-cta {
  display: none;
}

.quiver-spot-list-item__container--mobile-card {
  @include quiverSpotListCard;
  .quiver-spot-thumbnail__top-container {
    height: 160px;
  }
  .quiver-wind-indicator {
    display: none;
  }
  .quiver-spot-list-cta-thumbnail {
    height: 160px;
  }
  .quiver-spot-list-cta-thumbnail__spot-details {
    display: none;
  }
}

@media (min-width: $medium-width) {
  .quiver-spot-list-item__container {
    @include quiverSpotListCard;
  }
}
