@import '../common/colors';
@import '../common/fonts';
@import '../variables';
@import '../common/media';

.quiver-spot-list-cta-thumbnail {
  padding: 8px;
  display: flex;
  flex-flow: column;
  height: 88px;
  background-color: rgba(1, 29, 56, 0.6);
}

.quiver-spot-list-cta-thumbnail__indicator {
  display: flex;
  flex: 1 1 auto;
  text-transform: uppercase;
  font-family: $futura-surfline;
  font-size: 12px;
  letter-spacing: 7.6px;
  color: color('white');
  span {
    display: none;
  }
}

.quiver-spot-list-cta-thumbnail__spot-details {
  .quiver-spot-list-cta-thumbnail__spot-details__name {
    font-family: $futura-dem;
    width: 100%;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: color('white');
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0px;
    line-height: 18px;
    margin: 1px 0px;
    font-weight: normal;
  }
}

@media (min-width: $medium-width) {
  .quiver-spot-list-cta-thumbnail {
    padding: 0;
    z-index: -1;
    height: 160px;
  }

  .quiver-spot-list-cta-thumbnail__indicator {
    display: flex;
    padding: 16px;
    text-transform: uppercase;
    svg {
      margin-right: 16px;
    }
    span {
      display: inline;
    }
  }

  .quiver-spot-list-cta-thumbnail__spot-details {
    display: none;
  }

  .quiver-spot-list-cta-thumbnail--tooltip {
    height: 118px;

    .quiver-spot-list-cta-thumbnail__indicator {
      font-size: 10px;
      letter-spacing: 6.3px;
      svg {
        margin-right: 12px;
      }
    }
  }
}
