@import '../common/colors';
@import '../common/conditions';
@import '../common/conditionsV2';

.quiver-spot-marker__container {
  display: inline-block;
  height: 30px;
  border-radius: 18px;
}

.quiver-spot-marker__conditions {
  height: 3px;
  width: 100%;
}

.quiver-spot-marker__main {
  height: 27px;
  white-space: nowrap;
}

.quiver-spot-marker__surf {
  display: inline-block;
  padding-top: 5px;
  padding-right: 12px;
  padding-left: 12px;
  color: color('white');
}

.quiver-spot-marker__camera {
  display: inline-block;
  vertical-align: top;
  margin-top: 11px;
  margin-right: 12px;
  margin-left: -7px;

  .quiver-camera-icon {
    width: 12px;
    height: 8px;
    display: block;
    fill: color('white');
  }
}

@mixin conditionColor($defaultColor, $hoverColor) {
  box-shadow: 2px 2px 10px -2px $defaultColor;
  background-color: $defaultColor;

  .quiver-spot-marker__conditions {
    background-color: $defaultColor;
  }

  &.quiver-spot-marker__container--highlight {
    background-color: color('white');

    .quiver-spot-marker__surf {
      color: color('gray', 90);
    }

    svg {
      fill: color('gray', 50);
    }
  }
}

@each $condition, $colors in $__sl-condition-color-map {
  $defaultColor: map-get($colors, 'default');
  $hoverColor: map-get($colors, 'dark');

  .quiver-spot-marker__container--#{$condition} {
    @include conditionColor($defaultColor, $hoverColor);
  }
}

@each $condition, $colors in $sl-condition-color-map-v2 {
  $defaultColor: map-get($colors, 'default');
  $hoverColor: map-get($colors, 'dark');

  .quiver-spot-marker__container-v2--#{$condition} {
    @include conditionColor($defaultColor, $hoverColor);
  }
}
