@import '../variables';
@import '../common/fonts';
@import './SpotForecastSummaryGrids';

.quiver-spot-forecast-summary__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.quiver-spot-forecast-summary__thumbnail {
  position: relative;
  width: 260px;
  height: 195px;

  .quiver-compass-rose {
    display: block;
    margin: auto;
    height: 195px;
    width: 260px;
  }

  .quiver-swell-wind-rose__wind-arrow {
    position: absolute;
    width: 24px;
    height: 24px;
  }

  .quiver-swell-wind-rose__swell-petals {
    height: 190px;
    width: 190px;
    position: absolute;
    left: calc(50% - 94.5px);
    top: 0;
  }
}

.quiver-spot-forecast-summary__stat {
  // flex: 1 1 46%;

  .quiver-reading-description {
    display: block;
    width: 100%;
  }

  .quiver-wind-arrow,
  .quiver-tide-arrow {
    margin: 0 0 3px 5px;
  }

  .quiver-tide-arrow {
    width: 11px;
    height: 15px;
  }

  .quiver-wind-arrow {
    width: 16px;
    height: 16px;
  }

  .quiver-reading {
    text-transform: lowercase;
  }
}

.quiver-spot-report__content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
}

@media (max-width: 740px) {
  .quiver-spot-forecast-summary__stat {
    flex: 1 1 50%;
  }
}

.quiver-spot-forecast-summary__stat-container {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 0 50%;

  @media (max-width: 740px) {
    align-items: center;
    text-align: center;
  }
  @media (min-width: 740px) {
    flex: unset;
    width: 150px;
  }
  .quiver-spot-forecast-summary__stat-container--swells {
    padding: 0;
  }
}

.quiver-spot-forecast-summary__stat-container--swells {
  font-size: 14px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  padding: 0;
}

.quiver-spot-forecast-summary__stat-title {
  font-family: $source-sans-pro;
  font-size: 14px;
  color: color('blue-gray', 70);
  margin-bottom: 8px;
  white-space: nowrap;
}

.quiver-condition-stats__swells {
  text-align: left;
}

.quiver-wave-summary {
  width: 100%;
}

@media (min-width: 740px) and (max-width: $desktop-small) {
  .quiver-spot-forecast-summary__wrapper {
    flex-wrap: nowrap;
  }
}

@media (min-width: $desktop-small) {
  .quiver-spot-report__content-wrapper {
    flex-direction: row-reverse;
    padding: 16px;
  }

  .quiver-spot-report__condition-values--no-human-report {
    .quiver-spot-forecast-summary__stat {
      flex: 1 1 auto;
    }
  }
}

@media (min-width: $desktop-large) {
  .quiver-spot-report__content-wrapper {
    padding: 32px;
  }
}

@media (min-width: $large-mobile) {
  .quiver-spot-forecast-summary {
    .quiver-surf-height,
    .quiver-reading {
      font-size: 28px;
      sup {
        font-size: 15px;
      }
    }
  }
}
