@import '../common/colors';
@import '../common/fonts';
@import '../variables';
@import '../common/media';

.quiver-spot-report-summary {
  .quiver-surf-height {
    sup {
      display: none;
    }
  }
}
.quiver-spot-report-summary__stat {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  text-align: left;

  .quiver-spot-report-summary__label {
    font-family: $source-sans-pro;
    font-size: 10px;
    color: color('gray', 55);
  }
  .quiver-spot-report-summary__value, .quiver-surf-height {
    margin-top: 2px;
    font-family: $futura-dem;
    font-size: 15px;
    color: color('black');
  }

  .quiver-tide-arrow {
    height: 12px;
    width: 8px;
    margin-left: 5px;
    transform: translateY(1px);
  }
}
