@import '../common/colors';
@import '../common/media';

.quiver-spot-descriptor {
  max-width: 250px;
  padding: 5px;
  background-color: color('white');
}

.quiver-spot-descriptor__kind {
  color: color('gray', 55);
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  margin: 0 0 4px 0;
}

.quiver-spot-descriptor__value {
  color: color('gray', 90);
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 16px 0;
}

.quiver-spot-descriptor__scale {
  width: 70%;
  margin: 0 0 8px 0;
}

.quiver-spot-descriptor__scale__bar {
  height: 4px;
  border-radius: 2px;
  margin-bottom: 5px;
}

.quiver-spot-descriptor__scale__legend {
  display: flex;
}

.quiver-spot-descriptor__scale__legend__item {
  color: color('gray', 55);
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
}

.quiver-spot-descriptor__description {
  color: color('gray', 80);
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  margin: 0;
}

.quiver-spot-descriptor--linear {
  .quiver-spot-descriptor__scale__legend {
    justify-content: space-between;
  }
}

.quiver-spot-descriptor--multi {
  .quiver-spot-descriptor__scale__bar {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 2px;
    gap: 2px;
  }

  .quiver-spot-descriptor__scale__bar__item {
    height: 4px;
    border-radius: 2px;
    background-color: color('dark-blue', 10);
  }

  .quiver-spot-descriptor__scale__bar__item--empty {
    background-color: color('blue-gray', 15);
  }

  .quiver-spot-descriptor__scale__legend {
    justify-content: space-around;
  }
}

@media (max-width: $tablet-width) {
  .quiver-spot-descriptor__scale {
    width: 80%;
  }
}
