@import '../common/_colors';
@import '../common/_media';

.body__500 {
  background: url('https://prod-subs.cdn-surfline.com/geo_assets/500.jpg') top
    left;
  @media (min-width: $tablet-width) {
    .container {
      top: 30%;
    }
  }
}

.body__404 {
  background: url('https://prod-subs.cdn-surfline.com/geo_assets/404.jpg') top
    left;
  @media (min-width: $tablet-width) {
    .container {
      top: 60%;
    }
  }
}

.body__404,
.body__500 {
  height: 100vh;
  background-size: cover;
  position: relative;
  @media (max-width: $tablet-width) {
    background: none;
  }
  .container {
    padding: 30px;
    margin: 0 auto;
    max-width: 410px;
    background: color('white');
  }
  .container__paragraph {
    color: color('gray', 80);
    text-align: center;
    margin-top: 2em;
    max-width: 440px;
  }
  .container__paragraph__desktop {
    display: none;
  }
  .container__paragraph__link {
    color: color('light-blue', 50);
    cursor: pointer;
  }
  .container_image_container {
    padding: 0px;
    margin: 0 auto;
    max-width: 410px;
    background: #ffffff;
    text-align: center;
    padding-top: 8px;
  }
  .container_image {
    width: 100%;
    margin-top: 35px;
  }
  .quiver-button {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    .container {
      background: transparent;
      padding-left: 100px;
      position: absolute;
      max-width: 800px;
    }
    .container__title {
      text-align: left;
      color: color('white');
      font-size: 52px;
      line-height: 52px;
      letter-spacing: 2.6px;
      margin: 10px 0 0 0;
    }
    .container__paragraph {
      color: color('gray', 30);
      text-align: left;
      margin-top: 0;
    }
    .container__paragraph__desktop {
      color: color('gray', 30);
      text-align: left;
      display: inline-block;
    }
    .quiver-button {
      display: none;
    }
    .container_image_container {
      display: none;
    }
  }
}
