@import '../common/colors';
@import '../common/conditions';
@import '../common/conditionsV2';
@import '../common/fonts';
@import '../common/media';

.quiver-surf-conditions, .quiver-surf-conditions-v2 {
  font-family: $futura-dem;
  font-size: 12px;
  letter-spacing: 0.5px;
  padding: 3px 3px 1px 3px;
  color: color('white');
  text-transform: uppercase;
  &--expired {
    background-color: color('gray', 55) !important;
  }
  &:hover {
    color: color('white');
  }
}

@each $condition, $colors in $__sl-condition-color-map {
  $defaultColor: map-get($colors, 'default');

  .quiver-surf-conditions--#{$condition} {
    background-color: $defaultColor;
  }
}

@each $condition, $colors in $sl-condition-color-map-v2 {
  .quiver-surf-conditions-v2--#{$condition} {
    background-color: map-get($colors, default);
  }
}
