@import '../common/fonts';

.quiver-surf-height {
  font-family: $futura-dem;
  font-size: 22px;
  letter-spacing: 1.7px;
  text-transform: lowercase;
  &--flat {
    text-transform: uppercase;
  }

  sup {
    font-family: $futura-dem;
    font-size: 14px;
    letter-spacing: 0;
    vertical-align: sub;
  }
}
