@import '../variables';
@import '../common/fonts';
@import '../common/colors';

.quiver-surf-graph {
  position: relative;

  &--obscure-inactive {
    .quiver-surf-graph__surf:not(.quiver-surf-graph__surf--active) {
      opacity: 0.3;
    }
  }

  .quiver-tooltip-provider {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .quiver-tooltip-provider__tooltip {
    width: fit-content;
  }
  .quiver-graph-tooltip {
    @media (max-width: $tablet-large) {
      width: auto;
      box-shadow: none;
      background-color: transparent;
    }
  }
}

.quiver-surf-graph__canvas {
  position: relative;
  height: 100%;
}

.quiver-surf-graph__canvas-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quiver-surf-graph__tick {
  position: absolute;
  left: 3px;
  font-size: 12px;
  color: color('blue-gray', 90);
  transform: translateY(-50%);
}

.quiver-surf-graph__min-max-text {
  fill: color('gray', 90);
  font-family: $source-sans-pro;
  font-size: 14px;
  font-weight: normal;
  height: 20px;
  letter-spacing: 0.91px;
  text-transform: lowercase;
  text-anchor: middle;
}

.quiver-surf-graph__surf {
  fill: none;

  &--active {
    .quiver-surf-graph__visible-line {
      stroke-width: 4;
    }
  }
}

.quiver-surf-graph__fill {
  fill: url(#surf-line-area-gradient);
  opacity: 0.3;
}

.quiver-surf-graph__node {
  stroke: color('white');
}

.quiver-surf-graph__inactive-node {
  stroke-width: 1.1;
}

.quiver-surf-graph__active-node {
  circle:last-child {
    stroke-width: 1.5;
  }
}

.quiver-surf-graph__visible-line {
  stroke-width: 2;
}

.quiver-surf-graph__invisible-line {
  stroke: transparent;
  stroke-width: 12;
}

.quiver-surf-graph__tooltip-map {
  display: flex;
  justify-content: center;
}

.quiver-surf-graph__tooltip-swells {
  padding: 4px 8px 8px;
  font-size: 14px;
  font-weight: 600;

  .sl-surf-measurements {
    margin: 2px 0;

    &::before {
      display: none;
    }
  }
}

.quiver-surf-graph__surf {
  .quiver-surf-graph__node {
    fill: color('dark-blue', 10);
  }

  .quiver-surf-graph__active-node {
    circle:first-child {
      fill: lighten(color('dark-blue', 10), 25%);
    }
  }

  .quiver-surf-graph__visible-line {
    stroke: color('dark-blue', 10);
  }
}

.quiver-surf-graph__top-vertical-line {
  display: block;
  @media (min-width: $tablet-large) {
    display: none;
  }
}
