@import '../common/fonts';
@import '../common/media';
@import '../common/conditionsV2';

.quiver-surf-graph {
  position: relative;

  .quiver-tooltip-provider {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.quiver-surf-graph__canvas {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;
}

.quiver-surf-graph__column {
  position: relative;
  display: flex;
  flex-direction: column;
}

.quiver-surf-graph__height {
  position: absolute;
  top: -5px;
  width: 20px;
  transform: translateY(-100%);
  text-align: center;
  font-size: 12px;
}

.quiver-surf-graph__bar {
  flex: 1 1 0;
  width: 20px;
}

.quiver-surf-graph--hourly {
  .quiver-surf-graph__bar {
    flex: 1 1 0;
    width: 20px;
  }
  .quiver-surf-graph__height {
    width: 20px;
  }
}

.quiver-surf-graph__tooltip-body {
  padding: 4px 8px 8px;

  .quiver-surf-height {
    display: block;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    font-family: $source-sans-pro;

    @media (min-width: $tablet-large) {
      margin-bottom: 4px;
    }

    sup {
      font-family: $source-sans-pro;
      font-size: 12px;
    }
  }

  .quiver-swell-measurements {
    font-weight: 600;
    margin: 2px 0;
    line-height: 1.3;
  }

  .quiver-surf-graph__tooltip-body__rating {
    font-family: $source-sans-pro;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.4px;
    margin: -2px 0 0 0;
    @media (min-width: $tablet-large) {
      margin: -2px 0 4px 0;
    }
  }

  @each $condition, $colors in $sl-condition-color-map-v2 {
    $default-color: map-get($colors, 'default');

    .quiver-surf-graph__tooltip-body__rating--#{$condition} {
      color: $default-color;
    }
  }
}
