@import '../common/colors';
@import '../common/fonts';
@import '../common/media';
@import '../common/borders';

/* begin surfline footer mixins */
@mixin surfline-footer-text {
  font-family: $source-sans-pro;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.6px;
}

@mixin surfline-footer-small-text {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: .3px;
}

@mixin surfline-footer-li($child-margin) {
  list-style: none;
  opacity: 0.7;
  @include surfline-footer-text;
  a {
    cursor: pointer;
    text-transform: none;
    text-decoration: none;
    color: color('white');
    @include surfline-footer-text;
  }
  &:first-child {
    margin-top: $child-margin;
    margin-bottom: 10px;
    font-family: $futura-dem;
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: normal;
    text-transform: uppercase;
    color: white;
    opacity: 1;
  }
}

@mixin surfline-footer-mobile {
  height: inherit;
  display: block;
  padding: 0 0 20px;
  ul {
    display: block;
    padding: 10px;
    margin: 0;
    li {
      text-align: center;
    }
  }
  .quiver-page-container__footer__icons {
    display: inherit;
    float: none;
    li {
      &:first-child {
        display: inherit;
      }
    }
  }
  .quiver-page-container__footer__link-group {
    li {
      &:first-child {
        margin: 10px;
      }
    }
  }
  .quiver-page-container__footer__copyright {
    float: none;
    display: block;
    width: calc(100% - 20px);
    li {
      font-size: 12px;
      &:first-child {
        display: none;
      }
    }
  }
}
/* end surfline footer mixins */

.quiver-page-container__footer {
  height: 330px;
  width: 100%;
  background-color: color('dark-blue', 10);
  color: color('white');
  display: inline-block;
  &__link-group {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    li {
      @include surfline-footer-li(70px);
    }
  }
  &__copyright {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    float: left;
    margin-left: 60px;
    li {
      @include surfline-footer-li(70px);
      button {
        all: unset;
        cursor: pointer;
      }
    }
  }
  &__icons {
    float: right;
    margin-top: 50px;
    margin-right: 80px;
    li {
      @include surfline-footer-li(20px);
    }
    &__logo {
      display: none;
    }
    li {
      opacity: 1;
    }
  }
  .socialLogos {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    a {
      div {
        display: inline-block;
        text-align: center;
        width: 36px;
        height: 36px;
        border: 1px solid rgba(255, 255, 255, .1);
        margin-left: 10px;
        margin-right: 10px;
        svg {
          fill: white;
          margin-top: 9px;
          width: 18px;
          height: 18px;
        }
      }
    }
  }
  @media (max-width: 1100px) {
    padding-top: 20px;
    padding-bottom: 20px;
    ul {
      margin: 10px;
      li {
        &:first-child {
          margin-top: 10px;
        }
      }
    }
    &__icons {
      margin: 0 80px 10px 10px;
      float: right;
    }
    &__copyright {
      margin-left: 10px;
      width: calc(100% - 60px);
    }
  }
  @media (max-width: 700px) {
    @include surfline-footer-mobile;
  }

  /* small footer modifier styles */
  &--small {
    @include surfline-footer-mobile;
    @media (min-width: $medium-width) {
      /* override medium-width margin to display as mobile */
      .quiver-page-container__footer__icons li:first-child {
        margin: 10px;
      }
    }
    /* display mobile footer below 660px and on small left rail
     * display small footer above 660px (but below desktop) and large left rail */
    @media
    (min-width: $desktop-left-rail) and (max-width: $medium-width),
    (min-width: $desktop-width) {
      position: relative;
      height: 185px;
      padding: 0;
      .quiver-page-container__footer {
        &__icons {
          position: absolute;
          top: 0;
          right: 10px;
          margin: 0;
          li {
            &:first-child {
              display: none;
            }
          }
        }
        &__link-group {
          display: inline-block;
          width: auto;
          margin-top: 100px;
          margin-left: 20px;
          padding: 0;
          li {
            display: inline-block;
            margin-right: 15px;
            text-align: left;
            @include surfline-footer-small-text;
            &:first-child {
              display: block;
              margin: 20px 0 0;
              @include surfline-footer-small-text;
            }
            a {
              @include surfline-footer-small-text;
            }
          }
        }
        &__copyright {
          position: absolute;
          top: 25px;
          left: 20px;
          margin: 0;
          padding: 0;
          li {
            @include surfline-footer-small-text;
            opacity: .5;
            text-align: left;
            a {
              @include surfline-footer-small-text;
            }
          }
          &__logo {
            display: none;
          }
        }
      }
    }
  }
}
