@import '../variables';
@import '../common/colors';
@import '../common/fonts';
@import '../common/media';

.quiver-swell-event-card {
  background-color: rgb(184,39,235);
  background-image: linear-gradient(90deg, rgba(184,39,235,1) 0%, rgba(133,39,166,1) 100%);
  border-radius: 8px;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;

  @media(min-width: $tablet-width) {
    align-content: center;
    display: flex;
    flex-direction: row-reverse;
    min-height: 120px;
    text-align: left;
  }

  &::before {
    background-image: linear-gradient(270deg, rgba(184,39,235,1) 0%, rgba(133,39,166,1) 100%);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 200ms ease-in-out;
    width: 100%;
    z-index: 1;
  }

  &:hover,
  &:focus {
    color: color('white');

    &::before {
      opacity: 1;
    }

    .quiver-swell-event-card__locations__location,
    .quiver-swell-event-card__summary,
    .quiver-swell-event-card__tag,
    .quiver-swell-event-card__title,
    .quiver-swell-event-card__updated {
      color: color('white');
    }

    .quiver-swell-event-card__thumbnail__img {
      transform: scale(1.08);
    }
  }

  &--20ft {
    background-color: color('black');
    background-image: none;

    @media(min-width: $tablet-width) {
      align-items: stretch;
      flex-direction: row;

      .quiver-swell-event-card__thumbnail {
        order: 1;
      }

      .quiver-swell-event-card__20ft-logo {
        order: 2;
      }

      .quiver-swell-event-card__details {
        order: 3;
      }
    }

    &::before {
      background-image: none;
    }
  }

  &__20ft-logo {
    margin-top: 20px;
    position: relative;
    z-index: 4;

    @media(min-width: $tablet-width) {
      flex-basis: 175px;
      flex-grow: 0;
      flex-shrink: 0;
      margin: 0;

      &__svg {
        left: 50%;
        max-width: 75%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    path {
      fill: #E5FD49;
    }
  }

  &__details {
    padding: 20px;
    position: relative;
    width: calc(100% - 40px);
    z-index: 3;

    &__top {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

      @media(min-width: $tablet-width) {
        justify-content: left;
      }
    }
  }

  &__tag {
    align-items: center;
    color: color('white');
    display: flex;
    font-family: $futura-surfline;
    font-size: 12px;
    font-weight: 400;
    height: 17px;
    justify-content: center;
    text-transform: uppercase;
  }

  &__updated {
    color: color('white');
    font-size: 12px;
    padding-left: 16px;
  }

  &__title {
    color: color('white');
    font-size: 18px;
    letter-spacing: 0;
    line-height: 18px;
    margin: 0;
  }

  &__summary {
    color: color('white');
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 16px;
    margin: 0 0 6px;
  }

  &__locations {
    display: none;

    @media(min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 10px 0 0;
      padding: 0 0 10px;
    }

    &__location {
      color: color('white');
      font-size: 12px;
      padding: 0;

      &:after {
        content: ' • ';
        padding: 0 5px 0 2px;
      }

      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }

  &__thumbnail {
    border-radius: 8px;
    display: block;
    margin: 0 16px 16px;
    overflow: hidden;
    position: relative;
    z-index: 2;

    @media(min-width: $tablet-width) {
      border-radius: 0;
      border: 0;
      flex-basis: 250px;
      flex-grow: 0;
      flex-shrink: 0;
      margin: 0;
    }

    &__img {
      background-position: center center;
      background-size: cover;
      padding-bottom: 44.38%;
      position: relative;
      width: 100%;
      transition: transform 600ms ease-in-out;

      @media(min-width: $tablet-width) {
        height: 100%;
        padding-bottom: 0;
      }
    }
  }

  &__live {
    height: 32px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-31px, -16px);
    width: 64px;

    &__dot {
      animation: swell-blink 1s step-start 0s infinite;
    }
  }
}

@keyframes swell-blink {
  50% {
    opacity: 0.0;
  }
}
