@import '../common/media';
@import './SwellEventCard';

.quiver-swell-event-card-container {
  .quiver-swell-event-card {
    margin: 0 0 10px;

    &:first-child {
      margin: 10px 0;
    }
  }
}

@media(min-width: $desktop-width) {
  .quiver-swell-event-card-container {
    align-items: center;
    display: grid;
    gap: 20px;
    grid-row-end: span 2;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;

    .quiver-swell-event-card {
      height: 100%;
      margin: 0;

      &:first-child {
        margin: 0;
      }

      &:last-child:nth-child(2n - 1) {
        grid-column: span 2;
      }
    }
  }
}
