@import '../variables';
@import '../common/fonts';
@import '../common/colors';

.quiver-swell-measurements {
  &__direction {
    &--plus-minus {
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
    }
  }
  &::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin-right: 4px;
  }
}

.quiver-swell-measurements__units {
  text-transform: lowercase;
}

@each $index, $color in $swell-colors {
  .quiver-swell-measurements--#{$index}::before {
    background-color: $color;
  }
}

// Indicate optimalScore on tooltips in spot report and forecast pages only
.sl-spot-report-page__charts,
.sl-spot-forecast-page__charts {
  .quiver-swell-measurements--good::before {
    width: 4px;
    height: 4px;
    border: 2px solid $good-score-color;
  }

  .quiver-swell-measurements--optimal::before {
    width: 4px;
    height: 4px;
    border: 2px solid $optimal-score-color;
  }
}
