@import '../variables';
@import '../common/colors';

.quiver-swell-graph {
  position: relative;

  &--obscure-inactive {
    .quiver-swell-graph__swell:not(.quiver-swell-graph__swell--active) {
      opacity: 0.3;
    }
  }

  .quiver-tooltip-provider {
    position: absolute;
    width: 100%;
    height: 100%;
    .quiver-tooltip-datetime {
      padding-left: 8px;
      margin-top: 5px;
      &__time {
        margin-left: 8px;
      }
    }
  }
}

.quiver-swell-graph__canvas {
  position: relative;
  height: 100%;
}

.quiver-swell-graph__canvas-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quiver-swell-graph__tick {
  position: absolute;
  left: 3px;
  font-size: 12px;
  color: color('blue-gray', 90);
  transform: translateY(-50%);
}

.quiver-swell-graph__swell {
  fill: none;

  &--active {
    .quiver-swell-graph__visible-line {
      stroke-width: 4;
    }
  }
}

.quiver-swell-graph__node {
  stroke: color('white');

  &--active {
    .quiver-swell-graph__active-node {
      display: block;
    }

    .quiver-swell-graph__inactive-node {
      display: none;
    }
  }
}

.quiver-swell-graph__inactive-node {
  stroke-width: 1.1;
}

.quiver-swell-graph__active-node {
  display: none;

  circle:last-child {
    stroke-width: 1.5;
  }
}

.quiver-swell-graph__visible-line {
  stroke-width: 1;
}

.quiver-swell-graph__invisible-line {
  stroke: transparent;
  stroke-width: 12;
}

.quiver-swell-graph__tooltip-map {
  display: flex;
  justify-content: center;
}

.quiver-swell-graph__tooltip-swells {
  padding: 4px 8px 8px;
  font-size: 14px;
  font-weight: 600;

  .quiver-swell-measurements {
    margin: 2px 0;

    &::before {
      display: none;
    }
  }
}

@each $index, $color in $swell-colors {
  .quiver-swell-graph__swell--#{$index} {
    .quiver-swell-graph__node {
      fill: $color;
    }

    .quiver-swell-graph__active-node {
      circle:first-child {
        fill: lighten($color, 25%);
      }
    }

    .quiver-swell-graph__visible-line {
      stroke: $color;
    }
  }

  .quiver-swell-graph--active-swell-#{$index} {
    .quiver-graph-tooltip {
      box-shadow: 0 0 5px 0 $color; // fallback for IE
      box-shadow: 0 0 5px 0 #{$color}45;
    }
  }

  // TODO: Move this CSS into the SwellRose component. This is overriding
  // the current swell colors for backwards compatibility.
  .quiver-swell-graph__tooltip-map {
    .quiver-swell-rose__petal--#{$index} {
      fill: $color;
    }
  }
}
