@import '../variables';
@import '../common/fonts';
@import '../common/colors';

.quiver-swell-rose {
  position: relative;

  .quiver-compass-rose {
    display: block;
    height: 88px;
    width: 132px;
  }

  .quiver-swell-rose__rose {
    position: absolute;
    top: 4px;
    left: 26px;
    width: 80px;
    height: 80px;
  }
}

@each $index, $color in $swell-colors {
  .quiver-swell-rose__petal--#{$index} {
    fill: $color;
  }
}
