@import '../variables';
@import '../common/media';
@import '../common/fonts';

.quiver-taxonomy-navigator__breadcrumb {
  width: 100%;
  line-height: 32px;
  display: none;

  .quiver-taxonomy-navigator__breadcrumb-node {
    height: 30px;
    width: auto;
    padding: 0;
    align-items: center;

    .quiver-earth {
      position: relative;
      top: 4px;
    }

    .quiver-chevron {
      width: 5.2px;
      height: auto;
      margin: 0 16px;
      stroke: color('blue-gray', 70);
    }

    &__button {
      color: color('gray', 90);
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      padding: 0;

      font-family: $source-sans-pro;
      font-size: 14px;
      letter-spacing: .5px;

      &:hover {
        text-decoration: underline;
      }
    }

    &__placeholder {
      color: color('gray', 55);
      font-family: $source-sans-pro;
      font-size: 14px;
    }

    &:last-child {
      .quiver-chevron {
        display: none;
      }
    }
  }
}

.quiver-taxonomy-navigator__header {
  width: 100%;
  height: 32px;
  line-height: 32px;
  margin-top: 8px;
  padding: 8px 0;
  border-bottom: 1px solid color('blue-gray', 20);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .quiver-taxonomy-navigator__header-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $futura-surfline;
    font-size: 21px;
    color: color('gray', 90);
  }

  button {
    padding: 1px 7px 2px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    width: 65px;
    height: 24px;
    background: color('light-blue', 5);
    font-size: 12px;
    font-family: $futura-surfline;
    letter-spacing: 0.2px;
    color: color('dark-blue', 10);
  }

  a {
    display: none;
    margin-left: 24px;
    font-size: 14px;
    text-decoration: none;
    color: color('dark-blue', 10);
  }
}

.quiver-taxonomy-navigator__child-list {
  width: 100%;
  line-height: 24px;
  height: auto;

  div {
    font-size: 14px;
    line-height: 48px;
  }

  .quiver-taxonomy-navigator__render-geoname {
    border-bottom: 1px solid color('blue-gray', 20);
    line-height: 0px;

    button {
      border: none;
      outline: none;
      background: none;
      padding: 0;
      width: 100%;

      .quiver-taxonomy-navigator__render-geoname__button-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 48px;
        text-align: left;
        font-family: $source-sans-pro;
        font-size: 18px;
        color: color('gray', 90);

        .quiver-chevron {
          width: 14px;
          stroke: color('blue-gray', 70);
          stroke-width: 1px;
        }

        &:hover {
          cursor: pointer;
          color: color('dark-blue', 10);
        }
      }
    }
  }
}

.quiver-taxonomy-navigator__child-list-spot {
  width: 100%;
  line-height: 24px;
  height: auto;

  div {
    font-size: 14px;
    line-height: 48px;
  }

  .quiver-taxonomy-navigator__render-city {
    font-family: $futura-surfline;
    font-size: 18px;
    color: color('gray', 90);
    border-top: 1px solid color('blue-gray', 20);
    &:first-of-type {
      border-top: none;
    }
  }
}

@media(min-width: $tablet-width) {
  .quiver-taxonomy-navigator__breadcrumb {
    height: 32px;
    display: flex;
    padding-top: 6px;
  }

  .quiver-taxonomy-navigator__header {
    border-top: 1px solid color('blue-gray', 20);
    justify-content: flex-start;

    .quiver-taxonomy-navigator__header-title {
      font-size: 16px;
    }

    button {
      display: none;
    }

    a {
      display: inline;

      &:hover {
       text-decoration: underline;
      }
    }
  }

  .quiver-taxonomy-navigator__child-list {
    height: 430px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    div {
      margin-right: 16px;
      font-size: 14px;
      line-height: 24px;
    }

    .quiver-taxonomy-navigator__render-geoname {
      border: none;
      button {
        display: block;
        width: auto;

        .quiver-taxonomy-navigator__render-geoname__button-wrapper {
          font-size: 14px;
          line-height: 24px;

          .quiver-chevron {
            display: none;
          }
        }
      }
    }

    .quiver-taxonomy-navigator__render-city {
      font-size: 14px;
      border: none;
    }
  }

  .quiver-taxonomy-navigator__child-list-spot {
    max-height: 940px;
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    div {
      margin-right: 16px;
      font-size: 14px;
      line-height: 24px;
    }

    .quiver-taxonomy-navigator__render-geoname {
      border: none;
      button {
        display: block;
        width: auto;

        .quiver-taxonomy-navigator__render-geoname__button-wrapper {
          font-size: 14px;
          line-height: 24px;

          .quiver-chevron {
            display: none;
          }
        }
      }
    }

    .quiver-taxonomy-navigator__render-city {
      font-size: 14px;
      border: none;
    }
  }
}

@media(min-width: $medium-width) {
  .quiver-taxonomy-navigator__breadcrumb {
    height: 32px;
    display: flex;
    padding-top: 6px;
  }

  .quiver-taxonomy-navigator__header {
    border-top: 1px solid color('blue-gray', 20);
    justify-content: flex-start;

    .quiver-taxonomy-navigator__header-title {
      font-size: 16px;
    }

    button {
      display: none;
    }

    a {
      display: inline;

      &:hover {
       text-decoration: underline;
      }
    }
  }

  .quiver-taxonomy-navigator__child-list {
    height: 430px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    div {
      margin-right: 16px;
      font-size: 14px;
      line-height: 24px;
    }

    .quiver-taxonomy-navigator__render-geoname {
      border: none;
      button {
        display: block;
        width: auto;

        .quiver-taxonomy-navigator__render-geoname__button-wrapper {
          font-size: 14px;
          line-height: 24px;

          .quiver-chevron {
            display: none;
          }
        }
      }
    }
  }

  .quiver-taxonomy-navigator__child-list-spot {
    max-height: 665px;
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    div {
      margin-right: 16px;
      font-size: 14px;
      line-height: 24px;
    }

    .quiver-taxonomy-navigator__render-city {
      font-size: 14px;
      border: none;
    }
  }
}