@import '../common/colors';
@import '../common/fonts';

.quiver-text-area {
  textarea {
    min-width: 410px;
    height: 140px;
    border: 1px solid color('gray', 40);
    color: color('gray', 90);
    margin: 0;
    padding: 15px 18px;
    font-size: 16px;
    font-family: $source-sans-pro;
    font-weight: lighter;
    letter-spacing: 1.5px;
    transition: all 0.25s ease;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &:hover {
      border: 1px solid color('gray', 60);
    }

    &:focus {
      border: 1px solid color('light-blue', 50);
      outline: none;
    }
  }

  label {
    position: absolute;
    padding: 0 3px;
    margin: 23.5px 0 0 15px;
    transition: 0.2s;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-family: $source-sans-pro;
    font-weight: lighter;
    cursor: text;
    color: color('gray', 70);
    background-color: color('white');
  }
}

.quiver-text-area__message {
  font-family: $source-sans-pro;
  font-size: 12px;
  padding-top: 5px;
  letter-spacing: 1px;
  color: color('gray', 50);
  display: block;
}

.quiver-text-area--parent-width {
  textarea {
    width: 100%;
  }
}

.quiver-text-area--visited {
  label {
    margin: -5px 0 0 15px;
  }
}

.quiver-text-area--success {
  textarea, textarea:hover {
    border: 1px solid color('green', 50);
  }
}

.quiver-text-area--warning {
  textarea, textarea:hover {
  border: 1px solid color('orange', 50);
  }
}

.quiver-text-area--error {
  textarea, textarea:hover {
    border: 1px solid color('red', 50);
  }

  .quiver-text-area__message {
    color: color('red', 50);
  }
}
