@import '../common/_colors';

.quiver-tide-graph {
  .quiver-tooltip-provider {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .quiver-graph-tooltip {
    width: 124px;
  }
}

.quiver-tide-graph__canvas {
  position: relative;
  margin: 4px 0 0 0;
  height: calc(100% - 4px);
  width: 100%;
}

.quiver-tide-graph__area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quiver-tide-graph__area__fill {
  fill: color('dark-blue', 10);
  opacity: 0.1;
}

.quiver-tide-graph__area__line {
  stroke: color('dark-blue', 10);
  stroke-width: 2px;
  fill: none;
}

.quiver-tide-graph__area__high-low__shadow {
  fill: color('gray', 50);
  stroke: color('gray', 50);
  opacity: 0.6;
}

.quiver-tide-graph__area__high-low__circle {
  fill: color('white');
  stroke: color('white');
}

.quiver-tide-graph__area__high-low__direction {
  fill: color('dark-blue', 10);
  stroke: color('dark-blue', 10);
}

.quiver-tide-graph__area__scale-marker {
  fill: color('blue-gray', 90);
  font-size: 12px;
}

.quiver-tide-graph__area__dot {
  fill: color('dark-blue', 10);
  stroke: color('white');
  stroke-width: 2px;

  &--current {
    fill: color('bright-red');
  }
}

.quiver-tide-graph__tooltip {
  padding: 4px 8px 8px;
  text-transform: lowercase;
  font-weight: 600;
  font-size: 14px;
}
