.quiver-forecast-graphs__wind,
.quiver-forecast-graphs__surf {
  .quiver-tooltip-datetime {
    padding: 8px 10px 0px;
  }

  .quiver-tooltip-datetime__date {
    margin-right: 16px;
  }
}

.quiver-tooltip-datetime__time {
  text-transform: lowercase;
}

.quiver-forecast-graphs__tide {
  .quiver-tooltip-datetime {
    padding: 8px 8px 0px;
  }
}

