.quiver-tooltip-provider {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  &--hide {
    .quiver-tooltip-provider__tooltip {
      display: none;
    }
  }
}

.quiver-tooltip-provider__tooltip {
  position: absolute;
  z-index: 85;
  pointer-events: none;
}
