@import '../variables';
@import '../common/colors';
@import '../common/fonts';
@import '../common/media';

.quiver-user-menu__user-name,
.quiver-user-menu__user-email,
.quiver-user-menu__premium-status,
.quiver-user-menu__notification {
  padding: 0 20px;
  line-height: 21px;
}

.quiver-user-menu__user-name,
.quiver-user-menu__user-email {
  font-family: $source-sans-pro;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

@media(min-width: $tablet-width) {
 .quiver-user-menu__user-name,
 .quiver-user-menu__user-email {
   font-family: $source-sans-pro;
   font-size: 14px;
   letter-spacing: 0.2px;
 }
}

.quiver-user-menu__user-name {
  margin-top: 8px;
  color: color('gray', 90);
  span {
    text-transform: capitalize;
  }
}

.quiver-user-menu__user-email {
  margin-bottom: 20px;
  color: color('gray', 55);
}

.quiver-user-menu__premium-status {
  margin-top: -15px;
  padding-bottom: 5px;
  color: color('green', 50);
}

.quiver-user-menu__premium-status,
.quiver-user-menu__cta {
  font-size: 12px;
  font-family: $futura-dem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: color('green', 50);
}

.quiver-user-menu__notification {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: color('orange', 50);
  font-family: $futura-dem;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.78px;
  &:hover {
    color: color('orange', 70);
  }
}

.quiver-user-menu__notification__warning {
  color: color('green', 50);
  &:hover {
    color: color('green', 70);
  }
}
