@import '../common/colors';

.quiver-user-avatar__ring {
  stroke: color('white');
  &--premium {
    stroke: color('green', 50);
  }
  &--alert {
    stroke: color('orange', 50);
  }
  &--warning {
    stroke: color('green', 50);
  }
}

.quiver-user-avatar__notification {
  stroke: color('dark-blue', 10);
  &--alert {
    fill: color('orange', 50);
  }
  &--warning {
    fill: color('red', 50);
  }
}
