@import '../variables';
@import '../common/colors';
@import '../common/fonts';
@import '../common/media';

.quiver-water-temp {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  @media (min-width: 740px) {
    margin-bottom: 0px;
    flex-direction: column;
  }

  div {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    white-space: nowrap;
    font-family: $futura-surfline;
    span {
      text-transform: lowercase;
    }
    @media (min-width: $large-mobile) {
      font-size: 24px;
    }
    img {
      margin-right: 8px;
    }
  }
  h4 {
    font-family: $source-sans-pro;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: color('blue-gray', 70);
    margin: 0;
    margin-bottom: 8px;
    display: none;
    @media (min-width: 740px) {
      display: block;
    }
  }
}