.quiver-weather-graph {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.quiver-weather-graph__condition {
  display: block;
  margin-bottom: 2px;
  width: 25px;
  height: 25px;
}

.quiver-weather-graph__temperature {
  text-align: center;
  font-size: 12px;
  color: color('gray', 90);
}
