@import '../variables';
@import '../common/fonts';

.quiver-wetsuit-recommender {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;

  .quiver-google-dfp {
    flex: 1 1 0;
  }

  @media (max-width: $medium-mobile) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    > div {
      display: flex;
      justify-content: center;
    }
    .quiver-wetsuit-recommender__conditions {
      display: flex;
      flex-direction: row;
      margin-bottom: 16px;
      > div {
        flex: 1 1 50%;
        justify-content: center;
      }
    }
  }

  @media (min-width: $medium-mobile) and (max-width: $large-mobile) {
    width: unset;
    flex-direction: row;
    margin-left: 48px;
    > div:first-child() {
      margin-right: 20px;
      height: 65px;
    }
    .quiver-wetsuit-recommender__conditions {
      display: flex;
      flex-direction: column;
      margin: 0;
      > div {
        flex: 1 1 50%;
        justify-content: flex-start;
      }
    }
  }

  @media (min-width: $large-mobile) and (max-width: 740px) {
    width: unset;
    margin-left: 48px;
    > div:first-child() {
      margin-right: 40px;
    }
  }
}

@media (min-width: $desktop-small) {
  .quiver-spot-module--with-cam
    .quiver-spot-report__condition-values--no-human-report
    .quiver-wetsuit-recommender {
    flex-direction: column;
  }
  .sl-spot-current-conditions-section--theatre-mode
    .quiver-spot-module--multi-cam
    .quiver-spot-report__condition-values--no-human-report
    .quiver-wetsuit-recommender {
    flex-direction: row;
  }
}

@media (min-width: $desktop-large) {
  .quiver-spot-module--with-cam
    .quiver-spot-report__condition-values--no-human-report
    .quiver-wetsuit-recommender {
    flex-direction: row;
    .quiver-wetsuit-recommender__ad {
      flex-grow: 1;
    }
    .quiver-wetsuit-recommender__conditions {
      justify-content: space-evenly;
      flex-grow: 2;
    }
  }
  .quiver-spot-module--no-cam
    .quiver-spot-report__condition-values--no-human-report
    .quiver-wetsuit-recommender {
    .quiver-wetsuit-recommender__ad {
      flex-grow: 0;
    }
  }
}

.quiver-spot-module--no-cam
  .quiver-spot-report__condition-values--no-human-report
  .quiver-wetsuit-recommender {
  @media (min-width: 740px) and (max-width: $tablet-width) {
    flex-direction: column;
  }
  @media (min-width: $tablet-large) and (max-width: $desktop-small) {
    flex-direction: column;
  }
}

.quiver-spot-module--with-cam
  .quiver-spot-report__condition-values--with-report
  .quiver-wetsuit-recommender,
.quiver-spot-module--no-cam
  .quiver-spot-report__condition-values--with-report
  .quiver-wetsuit-recommender {
  @media (min-width: $desktop-small) {
    flex-direction: row-reverse;
    .quiver-wetsuit-recommender__ad {
      width: 143px;
    }
  }
  @media (min-width: $x-large-width) {
    .quiver-wetsuit-recommender__ad {
      max-width: 324px;
    }
  }
}

.quiver-spot-module--no-cam
  .quiver-spot-report__condition-values--with-report
  .quiver-wetsuit-recommender {
  @media (min-width: $desktop-small) and (max-width: $desktop-large) {
    .quiver-wetsuit-recommender__ad {
      width: 159px;
    }
  }
}

.quiver-wetsuit-recommender__ad {
  height: 121px;
  overflow: hidden;
  flex-grow: 2;
  > div {
    width: 200px;
    @media (min-width: $large-mobile) {
      width: 237px;
    }
    h3 {
      margin: 0;
      padding-bottom: 10px;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      @media (min-width: $large-mobile) {
        font-size: 16px;
      }
    }
  }
}

.quiver-wetsuit-recommender__conditions {
  font-family: $futura-surfline;
  display: flex;
  flex-direction: column;

  @media (min-width: 740px) {
    flex-direction: row;
    margin-bottom: 32px;
  }

  @media (min-width: 976px) and (max-width: $desktop-small) {
    flex-grow: 0;
  }

  .quiver-wetsuit-recommender__conditions__water {
    @media (min-width: 740px) {
      width: 150px;
    }
  }
  @media (min-width: 740px) and (max-width: $desktop-small) {
    flex-grow: 0;
    .quiver-wetsuit-recommender__conditions__weather {
      width: 150px;
    }
  }
  .quiver-wetsuit-recommender__conditions__water,
  .quiver-wetsuit-recommender__conditions__weather {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    @media (min-width: 740px) {
      margin-bottom: 0px;
      flex-direction: column;
    }

    div {
      display: flex;
      flex-direction: row;
      font-size: 18px;
      white-space: nowrap;
      span {
        text-transform: lowercase;
      }
      @media (min-width: $large-mobile) {
        font-size: 24px;
      }
    }
    h4 {
      font-family: $source-sans-pro;
      font-size: 14px;
      font-weight: normal;
      line-height: 16px;
      color: color('blue-gray', 70);
      margin: 0;
      margin-bottom: 8px;
      display: none;
      @media (min-width: 740px) {
        display: block;
      }
    }
  }

  svg,
  img {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }
}
