.quiver-wind-animator {
  position: relative;
}

.quiver-wind-animator__arrow {
  position: absolute;
  transform: translate(-50%, -50%);

  .quiver-wind-arrow {
    width: 16px;
    height: 16px;
  }
}
