@import '../common/media';

.quiver-wind-graph {
  height: 100%;

  .quiver-tooltip-provider {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .quiver-wind-measurements {
    padding: 4px 10px 4px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: baseline;
    white-space: nowrap;
  }

  .quiver-wind-gusts {
    padding: 0 10px 10px;
    font-size: 14px;
  }
}

.quiver-wind-graph__canvas {
  position: relative;
  margin: 16px 0 24px;
  height: calc(100% - 40px);
}

.quiver-wind-graph--hourly {
  .quiver-wind-graph__canvas {
    margin: 16px 0 0px;
    height: calc(100% - 16px);
  }
}

.quiver-wind-graph__nodes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quiver-wind-graph__node,
.quiver-wind-graph__label {
  position: absolute;
  transform: translate(-50%, -50%);
}

.quiver-wind-graph__node {
  width: 16px;
  height: 16px;
  fill: color('dark-blue', 10);
  &--selected {
    z-index: 1;
  }
}

.quiver-wind-graph__label {
  font-size: 12px;
  color: color('gray', 90);
}

.quiver-wind-graph--hourly {
  .quiver-wind-graph__current-time {
    opacity: 0.65;
    width: 1px;
    background: color('bright-red');
    top: -15px;
    bottom: -2px;
    position: absolute;
  }
  .quiver-wind-graph__label {
    font-size: 12px;
    color: color('black');
  }
  .quiver-wind-graph__bar {
    position: absolute;
    width: 8px;
    bottom: -2px;
    transform: translateX(-4px);
    &--selected {
      z-index: 1;
    }
  }
  .quiver-wind-graph__selected-bar {
    width: 1px;
    position: absolute;
    top: 70px;
    display: block;
    transform: translate(-0.5px, -70px);
    background: color('black');
  }
  .quiver-wind-graph__selected-day-label {
    top: -14px;
    color: color('gray', 90);
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.3px;
    transform: translateX(-50%);
  }
}

.quiver-wind-graph__tooltip-map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  width: 152px;
}

.quiver-forecast-graphs__wind {
  .quiver-graph-tooltip {
    .quiver-wind-graph__tooltip-map,
    .quiver-optimal-score-indicator,
    .quiver-tooltip-datetime {
      display: none;
    }
  }
}

.quiver-wind-graph__tooltip-rose {
  position: relative;

  .quiver-compass-rose {
    display: block;
    height: 88px;
    width: 116px;
  }

  .quiver-wind-animator {
    position: absolute;
    top: 4px;
    left: 18px;
    width: 80px;
    height: 80px;
  }
}

.quiver-forecast-graphs__wind__chart {
  &:focus {
    outline: none;
    @media (min-width: $tablet-large) {
      outline: -webkit-focus-ring-color auto 5px;
    }
  }
}

.quiver-forecast-graphs__wind--hourly {
  .quiver-forecast-graphs__wind__chart {
    &:focus {
      outline: none;
    }
  }
}

@media (min-width: $tablet-large) {
  .quiver-forecast-graphs__wind {
    .quiver-graph-tooltip {
      .quiver-wind-graph__tooltip-map {
        display: flex;
      }
      .quiver-optimal-score-indicator,
      .quiver-tooltip-datetime {
        display: block;
      }
      .quiver-optimal-score-indicator--suboptimal {
        display: none;
      }
      .quiver-forecast-graphs__optimal-score {
        .quiver-optimal-score-indicator--suboptimal {
          display: block;
        }
      }
      > .quiver-wind-arrow {
        display: none;
      }
    }
  }
}
