@import '../common/fonts';

.quiver-wind-indicator {
  font-family: $futura-dem;
  width: 35px;
  height: 35px;
  g {
    stroke: #f5f5f5;
    circle {
      fill: none;
      stroke-width: 1.5px;
    }
    polygon {
      fill: #f5f5f5;
    }
    text {
      text-anchor: middle;
      stroke-width: 0;
      fill: #f5f5f5;
      &:first-of-type {
        font-size: 12px;
      }
      &:last-of-type {
        font-size: 6px;
      }
    }
  }
}
