@import '../variables';
@import '../common/colors';
@import '../common/fonts';

.quiver-wind-barbs-legend {
  display: none;
}

@media (min-width: $tablet-large) {
  .quiver-wind-barbs-legend {
    margin-top: 24px;
    display: flex;
  }
}

.quiver-wind-barbs-legend__example {
  flex: 0 0 auto;
  width: 146px;
  border-right: 1px solid color('blue-gray', 10);

}

.quiver-wind-barbs-legend__example__header {
  margin: 0;
  font-family: $source-sans-pro;
  color: color('gray', 90);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.quiver-wind-barbs-legend__example__label {
  margin: 0;
  font-family: $source-sans-pro;
  color: color('gray', 90);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.quiver-wind-barbs-legend__example__icon {
  margin: 32px 0 0 24px;
  height: 60px;
  svg {
    transform: rotate(225deg);
  }
}

.quiver-wind-barbs-legend__key {
  padding-left: 40px;
}

.quiver-wind-barbs-legend__key__header {
  font-family: $source-sans-pro;
  color: color('gray', 90);
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.34px;
  margin-bottom: 24px;
}

.quiver-wind-barbs-legend__key__items {
  display: flex;
  flex-wrap: wrap;
}

.quiver-wind-barbs-legend__key__item {
  display: flex;
  width: 112px;
  justify-content: space-between;
  align-items: center;
  margin: 0 56px 32px 0; 
}
