@import '../common/fonts';
@import '../common/media';

$gray-blue: #96A9B2;

.quiver-world-taxonomy {
  h1 {
    color: $gray-blue;
  }

  h1, h2 {
    margin: 50px auto 10px auto;
    font-size: 38px;
    letter-spacing: 1.2px;
    line-height: 42px;
    text-transform: uppercase;
  }

  h3 {
    text-transform: uppercase;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

.quiver-world-taxonomy__continents {
  font-size: 18px;
  line-height: 42px;
  padding: 18px 0;

  ul {
    margin: 0 auto;
    padding: 0;
  }

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  a {
    color: $gray-blue;
  }

  &--fixed {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    background-color: color('white');
  }
}

.quiver-world-taxonomy__container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.quiver-world-taxonomy__countries {
  padding: 10px 0;
  background-color: color('light-blue', 5);

  &> ul {
    padding: 0;
  }
}

.quiver-world-taxonomy__letter {
  h3 {
    display: none;
    font-family: $source-sans-pro;
    font-size: 21px;
    margin: 15px auto 0 auto;
  }

  ul {
    padding: 0;
    line-height: 38px;
  }
}

@media (min-width: $large-mobile) {
  .quiver-world-taxonomy__countries {
    &>ul {
      column-count: 2;
    }
  }
}

@media (min-width: $tablet-width) {
  .quiver-world-taxonomy {
    h1, h2 {
      margin: 53px auto 35px auto;
      font-size: 52px;
      line-height: 58px;
      letter-spacing: 1.4px;
    }

    h2 {
      margin-top: 0;

      &::before {
        content: '';
        display: block;
        height: 50px;
      }
    }

    &--fixed {
      .quiver-world-taxonomy__continents {
        visibility: hidden;
      }

      .quiver-world-taxonomy__continents--fixed {
        visibility: visible;
      }
    }
  }

  .quiver-world-taxonomy__continents {
    line-height: normal;
  }

  .quiver-world-taxonomy__continents__active {
    a {
      color: color('gray', 90);
    }
  }

  .quiver-world-taxonomy__countries {
    padding: 20px 0;
    &>ul {
      column-count: 3;
    }
  }

  .quiver-world-taxonomy__letter {
    display: inline-block;
    margin-bottom: 15px;

    h3 {
      display: block;
    }

    ul {
      margin-bottom: 15px;
      font-size: 18px;
      line-height: normal;
    }

    li {
      margin-bottom: 10px;
    }
  }
}

@media (min-width: $desktop-width) {
  .quiver-world-taxonomy__container {
    width: 968px;
  }
}
