#div-gpt-ad-main-unit-1 {
  background: #F2F7F9;
  text-align: center;
  position: relative;
  padding: 10px 0; }

.ad-unit-inline-mpu,
.ad-page-box {
  padding-top: 42px;
  text-align: center; }

body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%; }

@media (max-width: 739px) {
  .ad-unit-inline-mpu {
    margin-bottom: 30px;
    margin-top: 14px;
    padding-top: 0; } }
#div-gpt-ad-page-unit-2-desktop {
  padding-top: 42px;
  text-align: center; }

#div-gpt-ad-article-unit-3 {
  display: block;
  text-align: center;
  padding: 20px 0 30px; }

@media (max-width: 480px) {
  #div-gpt-ad-article-unit-3 {
    padding: 15px 0 13px; } }
#div-gpt-ad-article-unit-4 {
  position: relative;
  top: 7px; }

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none; }

.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
  pointer-events: none; }

.modal-content {
  width: inherit;
  height: inherit;
  margin: 0 auto;
  pointer-events: all; }

#ad-timer-message {
  color: #fff;
  font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
  text-transform: uppercase; }

.modal-content {
  background-color: transparent;
  border: none;
  position: relative;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.modal-header {
  border: none;
  padding: 10px;
  position: absolute;
  right: 0;
  top: -28px; }
  .modal-header button {
    color: #fff;
    font-size: 14px;
    text-shadow: none;
    filter: alpha(opacity=100);
    opacity: 1; }
    .modal-header button span {
      font-size: 20px;
      top: 2px;
      position: relative; }
  .modal-header button:hover, .modal-header input[type="submit"]:hover {
    background-color: transparent;
    border-top: none;
    color: #fff; }

#wrap {
  position: relative; }

@media (max-width: 1280px) {
  #div-gpt-ad-main-unit-2, #div-gpt-ad-main-unit-2 {
    display: none !important; } }
.hero-ad {
  background: #F2F7F9;
  text-align: center; }

.hero-ad iframe {
  margin: 10px 0; }

.hero-ad-fluid iframe {
  height: 300px;
  margin: 0; }

@media (min-width: 768px) {
  .hero-ad-fluid iframe {
    height: 300px; } }
@media (max-width: 768px) {
  .hero-ad-fluid iframe {
    height: 200px; } }
@media (max-width: 460px) {
  .hero-ad-fluid iframe {
    height: 250px; } }
@media (max-width: 320px) {
  .hero-ad-fluid iframe {
    height: 220px; } }
.modal-backdrop {
  z-index: 10001; }

.modal {
  z-index: 10050; }

/*# sourceMappingURL=ads.css.map */
