@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .all-items .row-eq-height .col-md-4, .all-items .row-eq-height .col-md-6 {
    width: 49%; } }
@media (min-width: 991px) {
  .featured .title {
    font-size: 52px; }

  .featured .cat-name {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.86;
    letter-spacing: 1.8px;
    margin-bottom: 10px; }
  .featured .title {
    font-size: 64px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: 3.7px; }
  .featured .subtitle {
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    letter-spacing: 1.4px; }

  .hero-short {
    max-height: 570px; }

  #trending-content {
    padding-top: 45px; }
    #trending-content h3 {
      padding-bottom: 35px; } }
/*------ control height of article hero image -------*/
@media (min-width: 769px) {
  #newsletter {
    background-image: url("../img/newsletter-bg-md.jpg"); }

  .all-items .item .thumbnail .video-play img {
    max-width: 55px;
    width: 55px; }

  #trending-content {
    padding-top: 45px; }
    #trending-content h3 {
      padding-bottom: 26px; }

  #trending-content ul li:nth-child(odd) {
    padding-left: 0; }
  #trending-content ul li:nth-child(even) {
    padding-right: 0; }

  #trending-content ul {
    text-align: center; }
    #trending-content ul li {
      text-align: left;
      margin-bottom: 38px;
      min-height: 305px; }
      #trending-content ul li .trending-pic {
        height: 240px;
        overflow: hidden;
        margin-bottom: 5px; }

  article .entry-meta {
    margin-bottom: 50px; }
  article hr {
    width: 100%; }

    article .sponsor {
      width: 740px;
    }

    .article-details .quote-bright p {
      width: 100% !important;
    }

    .article-details p {
      width: 740px;
      font-size: 18px;
      line-height: 32px;
    }

    .article-details ul, .article-details ol {
      width: 740px;
      font-size: 18px;
      line-height: 32px;
    }

    .wp-caption-wrap .wp-caption-text {
      font-size: 16px;
      line-height: 24px;
    }

    .article-details h1, .article-details h2, .article-details h3, .article-details h4, .article-details h5 {
      width: 740px;
      margin: 0 auto;
    }

    .wp-caption-text p {
      background-color: black;
    }

    .article-details img {
      margin: 0 5px 0 0;
      max-width: 1100px;
      height: auto;
    }

    .article-details .img-cover img {
      max-width: none;
      height: auto;
      width: 100% !important;
    }

    .article-details hr {
      width:740px;
    }

    .article-headline h1, .article-headline h2, .article-headline h5 {
      width: 740px;
    }

    .tags {
      width: 740px;
      margin: 0 auto;
    }

    #disqus-container {
      width: 740px;
      margin: 0 auto;
    }

    .article-details .entry-meta {
      width: 740px;
      margin: 0 auto;
    }

    .article-details #sharing {
      width: 740px;
      margin: 0 auto;
    }

    .article-headline {
      width: 740px;
      margin: 0 auto;
      line-height: 32px;
    }

  .article-details .entry-meta {
    font-size: 51px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: 2.8px; }

  .carousel .carousel-caption h5 {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.86;
    letter-spacing: 1.8px;
    padding-bottom: 15px; }
  .carousel .carousel-caption h2 {
    font-size: 64px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: 3.7px; }
  .carousel .carousel-caption h3 {
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    letter-spacing: 1.4px; } }
@media (min-width: 992px) {
  .all-items .item {
      min-height: 335px;
    /*.headline {
        padding-bottom: 30px;
    } */ }

  #trending-content ul {
    text-align: center; }
    #trending-content ul li {
      text-align: left;
      margin-bottom: 40px;
      min-height: 385px; }

  #newsletter > .container > .row .col-md-push-3 {
    left: 0%; }
  #newsletter > .container > .row .col-md-6 {
    width: 100%; } }

@media (min-width: 1200px) {
  #trending-content ul .yarpp-related {
    max-width: 1170px;
    margin: 0 auto; }
    #trending-content ul .yarpp-related li {
      min-height: 420px;
      bottom-margin: 65px; }

  #trending-content ul {
    text-align: center; }
    #trending-content ul li {
      max-width: 570px;
      margin: 0 auto;
      margin-bottom: 75px;
      text-align: left;
      min-height: 370px; }
      #trending-content ul li .trending-pic {
        height: 304px;
        overflow: hidden;
        margin-bottom: 5px; }
      #trending-content ul li .trending-pic img {
        width: 100%;
        padding: 0;
        height: auto; }

  #trending-content ul li .trending-cat a {
    font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1.5px;
    text-align: center;
    color: #41a4fb; }

  #trending-content ul li .trending-title a {
    font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: 1.3px;
    color: #333333; } }

@media (min-width: 1440px) {

  article .sponsor {
    width: 850px;
  }

  .article-details p {
    width: 850px;
    font-size: 21px;
  }

  .article-details ul, .article-details ol {
    width: 850px;
    font-size: 21px;
  }

  .wp-caption-wrap .wp-caption-text {
    font-size: 18px;
  }

  .article-details hr {
    width: 850px;
  }

  .article-details h1, .article-details h2, .article-details h3, .article-details h4, .article-details h5 {
    width: 850px;
  }

  .tags {
    width: 850px;
  }

  #disqus-container {
    width: 850px;
  }

  .article-headline h1, .article-headline h2, .article-headline h5 {
    width: 850px;
  }

  .show-comments {
    width: 850px;
  }

  .article-details .entry-meta {
    width: 850px;
  }

  .article-details #sharing {
    width: 850px;
  }

  .article-headline {
    width: 850px;
    font-size: 21px;
  }

}
    /*----------styles for cards-----------*/
/*card*/
@media (min-width: 992px) {
  .all-items .item .thumbnail {
    height: 208px; }
  .all-items .col-md-4 {
    max-width: 400px; } }
@media (max-width: 991px) {
  .all-items .col-md-4 {
    max-width: 384px; } }
/*container*/
@media (max-width: 768px) {
  .row-eq-height {
    max-width: 768px;
    margin: 0 auto; } }

  .article-details .quote-bright p {
    width: 100% !important;
  }

  .article-details .entry-meta {
    margin: 20px auto;
    max-width: 90%;
  }

  .article-details #sharing {
    margin: 20px auto;
    max-width: 90%;
  }

  .article-headline {
    margin: 20px auto;
  }

    @media (min-width: 769px) and (max-width: 1199px) {
  .all-items .row-eq-height {
    max-width: 800px;
    margin: 0 auto; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .all-items .row-eq-height .col-md-4 {
    width: 50%; } }
@media (max-width: 1199px) {
  .category-filter ul li {
    margin: 0 15px; }
    .category-filter ul li a {
      font-size: 12px;
      letter-spacing: 2.3px;
      margin-right: 0;
      padding: 6px 0; } }
@media (min-width: 768px) and (max-width: 991px) {
  .category-filter {
    margin: 15px 0;
    padding: 15px 5px; }
    .category-filter ul li {
      margin: 0 12px; }
      .category-filter ul li a {
        font-size: 12px;
        letter-spacing: 2.3px;
        margin-right: 0;
        padding: 6px 0; } }
/*----------end styles for cards-----------*/
/* Tablet Import from _768.scss  */
@media (max-width: 768px) {
  /*		HERO 	*/
  #hero .item img {
    width: 100%;
    max-height: inherit;
    height: auto; }

  .hero-short {
    max-height: 450px; }

  #cat_splash, #hero_splash, #hero_splash .carousel-inner, #hero_splash .carousel-inner .item {
    min-height: 433px;
    height: 433px;
    max-height: 433px; }

  .article-hero-full {
    background-repeat: no-repeat;
    height: 433px; }

  /*		CAROUSEL 	*/
  .carousel .carousel-caption {
    bottom: 140px; }
    .carousel .carousel-caption h5 {
      font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.86;
      letter-spacing: 1.8px;
      color: #ffffff;
      padding-bottom: 10px; }
    .carousel .carousel-caption h2 {
      font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
      font-size: 52px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.12;
      letter-spacing: 3px;
      color: #ffffff; }
    .carousel .carousel-caption h3 {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 1px;
      color: #ffffff; }

  .carousel-control .fa-angle-left {
    left: 20%; }

  .carousel-control .fa-angle-right {
    right: 20%; }

  .carousel-caption.bottom {
    bottom: 0 !important; }

  /*		ALL ITEMS - INDEX 	*/
  .all-items .item {
    margin-bottom: 1em;
    padding: 0; }
    .all-items .item .video-play-controller {
      height: auto;
      max-height: 55px;
      width: 100%;
      max-width: 100%; }
    .all-items .item .headline h4 {
      font-size: 21px;
      line-height: 1.24; }
    .all-items .item .headline {
      font-size: 18px; }
    .all-items .item img {
      height: 210px;
      max-width: 100%;
      width: 100%; }
    .all-items .item .thumbnail {
      margin-bottom: 10px; }
    .all-items .item .meta {
      margin: 0;
      padding-top: 9px; }
    .all-items .item a.overlay-link {
      padding-top: 10px; }

  /*		MEGA-FEATURED 	*/
  .featured {
    margin-bottom: 43px;
    margin-top: 0;
    padding: 15px; }
    .featured .meta {
      margin: 10px 0 10px; }
      .featured .meta a {
        font-size: 13px; }
    .featured .headline {
      font-size: 24px;
      letter-spacing: 1.3px;
      text-align: left; }
    .featured .mega-headline {
      top: 44%; }
      .featured .mega-headline .cat-name {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.86;
        letter-spacing: 1.8px;
        padding-bottom: 10px; }
      .featured .mega-headline .title {
        font-size: 38px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.11;
        letter-spacing: 2.1px; }
      .featured .mega-headline .subtitle {
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 1px; }

  /*		TRENDING CONTENT 	*/
  #trending-content {
    padding-top: 40px; }
    #trending-content h3 {
      margin-bottom: 15px;
      padding: 0 15px; }
    #trending-content ul li {
      margin-bottom: 25px; }

  #trending-content ul .yarpp-related {
    max-width: 354px;
    margin: 0 auto; }

  #trending-content ul {
    text-align: center; }
    #trending-content ul li {
      margin-bottom: 25px;
      max-width: 354px;
      margin: 0 auto;
      margin-bottom: 38px;
      text-align: left;
      min-height: auto;
      width: 100%; }
      #trending-content ul li .trending-pic img {
        width: 100%;
        padding: 0;
        height: auto; }

  #trending-content ul li .trending-cat a {
    font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1.5px;
    text-align: center;
    color: #41a4fb; }

  #trending-content ul li .trending-title a {
    font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 1.2px;
    color: #333333; }

  .input-button-row {
    width: 100%; }

  .all-items.all-items-custom .col-md-4.col-sm-6.col-xs-12 {
    display: none; }
    .all-items.all-items-custom .col-md-4.col-sm-6.col-xs-12:nth-child(1) {
      display: block; }
    .all-items.all-items-custom .col-md-4.col-sm-6.col-xs-12:nth-child(2) {
      display: block; }
    .all-items.all-items-custom .col-md-4.col-sm-6.col-xs-12:nth-child(3) {
      display: block; }
    .all-items.all-items-custom .col-md-4.col-sm-6.col-xs-12:nth-child(4) {
      display: block; }

  .article-details .img-fluid, .article-details .quote-bright {
    margin: 40px auto; }
  .article-details .wp-caption-text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
  }

  .article-details .quote-bright p {
    font-size: 38px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.26;
    letter-spacing: 2.1px; }
  .article-details .quote-mono p {
    font-size: 38px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.26;
    letter-spacing: 2.1px; }

  #newsletter {
    background-image: url("../img/newsletter-bg-sm.jpg"); }

  #newsletter > .container > .row > .col-md-6 .col-md-2 {
    width: 16.66666667%; }
  #newsletter > .container > .row > .col-md-6 .col-md-10 {
    width: 83.33333333%; }

  .article-hero-full .article-hero-full-div h1 {
    font-size: 34px;
    line-height: normal; }
  .article-hero-full .top {
    top: 10%; }
  .article-hero-full .middle {
    top: 38%; }
  .article-hero-full .bottom {
    bottom: 10%; }

  #now-trending {
    min-height: 100px;
    padding: 14px 25px 25px; }
    #now-trending h2 {
      font-size: 15px;
      line-height: 15px; }
    #now-trending h4 {
      margin-top: 0; }

  /*		CATEGORY NAVIGATION 	*/
  .category-filter ul li a {
    margin-right: 0;
    font-size: 12px; }

  article hr {
    border-top: solid 2px #eee;
    width: 100%; }

  #cat_splash .cat-item h1.category-title {
    font-size: 52px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.12;
    letter-spacing: 3px; } }
/* end tablet */
@media (max-width: 767px) {
  .featured .mega-headline {
    top: 27%;
    text-align: center; }
    .featured .mega-headline .title {
      font-size: 26px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.21;
      letter-spacing: 1.3px; }

  .headline h1 {
    font-size: 28px; }

  .author-details {
    width: 190px; }

  .tags a {
    margin-bottom: 15px; }

  .blockquote-content blockquote {
    font-size: 25px; }

  .input-field-group {
    margin-bottom: 10px !important; }

  #hero .item img {
    width: 100%;
    max-height: inherit;
    height: auto; }

  .carousel-caption {
    bottom: 140px; }
    .carousel-caption h3 {
      font-size: 15px; }

  .all-items.all-items-custom .col-md-4.col-sm-6.col-xs-12 {
    display: none; }
    .all-items.all-items-custom .col-md-4.col-sm-6.col-xs-12:nth-child(1) {
      display: block; }
    .all-items.all-items-custom .col-md-4.col-sm-6.col-xs-12:nth-child(2) {
      display: block; }
    .all-items.all-items-custom .col-md-4.col-sm-6.col-xs-12:nth-child(3) {
      display: block; }
    .all-items.all-items-custom .col-md-4.col-sm-6.col-xs-12:nth-child(4) {
      display: none; }

  .all-items {
    padding: 15px; }
    .all-items .item {
      background-color: #fff;
      border: solid 1px #e6e6e6;
      cursor: pointer;
      min-height: auto;
      margin-bottom: 3em;
      position: relative;
      transition: all .5s; }
    .all-items .col-xs-12 {
      width: 100%;
      max-width: 370px;
      margin: 0 auto; }

  .featured .subtitle {
    display: none; }

  nav ul {
    display: none; }

  nav select {
    display: inline-block;
    padding: 5px 10px;
    width: 100%;
    border: none; }
    nav select option {
      width: 100%; }
    nav select:focus {
      border: none;
      outline: 0; }

  .category-filter {
    max-width: 340px;
    margin: 30px auto 15px; }

  .category-filter {
    border: solid 1px #979797;
    padding: 2px 5px;
    background: #fff; }
    .category-filter .down-arrow {
      color: #333;
      float: right;
      margin-right: 10px;
      margin-top: 5px; }
    .category-filter ul {
      padding: 0;
      margin: 0; }
      .category-filter ul li {
        display: block;
        text-align: left; }

  select, input[type="color"] [list] {
    background: #fff; } }
@media (min-width: 740px) {
  .all-items .item {
    background-color: #fff;
    border: solid 1px #e6e6e6;
    cursor: pointer;
    margin-bottom: 1.5em;
    position: relative;
    transition: all .5s; } }
/*----breakpoint for cards to single column----*/
@media (max-width: 739px) {
  .all-items .item {
    min-height: auto; }
    .all-items .item .headline {
      padding-bottom: 23px; }

  .carousel .carousel-caption h3 {
    display: none; } }
/* iphone landscape */
@media (max-width: 667px) {
  .article-hero-full {
    height: 400px; }
    .article-hero-full .top {
      top: 5%; }
    .article-hero-full .middle {
      top: 55%; }
    .article-hero-full .bottom {
      top: auto;
      bottom: 0%; }
    .article-hero-full .article-hero-full .article-hero-full-div {
      width: 95%; }

  .carousel .carousel-caption {
    max-width: 90%; }
    .carousel .carousel-caption h2 {
      width: 100%; }
    .carousel .carousel-caption h3 {
      display: none; }

  .wp-caption {
    width: 100% !important; }
    .wp-caption img {
      height: auto !important;
      width: 100% !important; }

  .all-items .item {
    margin-bottom: 1em; }
    .all-items .item .headline {
      font-size: 18px;
      line-height: 22px; }
    .all-items .item img {
      max-height: 185px; }

  .featured {
    margin-bottom: 1em !important;
    text-align: left; }
    .featured .headline {
      font-size: 18px;
      letter-spacing: 1px;
      text-align: left;
      line-height: 22px; }

  article {
    padding: 0; }

  .quote-bright {
    background-color: #41a4fb;
    margin: 20px 0;
    padding-top: 40px;
    padding-bottom: 40px; }
    .quote-bright p {
      margin: auto;
      width: 100%;
      font-size: 24px;
      letter-spacing: 1.2px;
    }

  .quote-mono {
    margin: 20px 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
    .quote-mono p {
      margin: auto;
      max-width: 100%;
      font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
      font-size: 51px;
      font-weight: bold;
      line-height: 1.27;
      padding: 0;
      letter-spacing: 2.8px;
      text-align: center; }

  .all-items .item img {
    height: auto;
    max-height: none;
    width: 100%; } }
@media (min-width: 768px) {
  #newsletter > .container {
    width: 600px; }
    #newsletter > .container > .row > .col-md-6 .col-md-7 {
      width: 58.33333333%; }
    #newsletter > .container > .row > .col-md-6 .col-md-5 {
      width: 41.66666667%; }
    #newsletter > .container > .row > .col-md-6 .col-md-12 {
      clear: both;
      float: left;
      width: 100%; } }
/* Mobile Import from _480.scss */
@media (max-width: 480px) {
  #cat_splash, #hero_splash, #hero_splash .carousel-inner, #hero_splash .carousel-inner .item {
    min-height: 400px;
    height: 400px;
    max-height: 400px; }

  .all-items .col-xs-12 {
    padding: 0 !important; }

  #newsletter {
    text-align: center;
    padding: 50px 0; }
    #newsletter .drop {
      border-right: none;
      display: block;
      margin-bottom: .5em;
      padding-right: 0; }

  .headline h1 {
    font-size: 28px; }

  article .entry-meta {
    display: block;
    margin-bottom: 30px;
    width: 100%; }
    article .entry-meta .author-details {
      width: auto; }
  article .img-cover {
    margin: 30px 0; }

  .tags a {
    margin-bottom: 15px; }

  .blockquote-content blockquote {
    font-size: 25px; }

  #trending-content {
    padding-top: 30px; }
    #trending-content h3 {
      font-size: 16px; }
    #trending-content ul li {
      margin-bottom: 25px; }
      #trending-content ul li .trending-pic {
        height: 170px;
        overflow: hidden;
        margin-bottom: 5px; }

  .carousel .carousel-caption {
    bottom: 40px; }
    .carousel .carousel-caption h2 {
      font-size: 38px; }

  .carousel .carousel-caption {
    bottom: 140px; }
    .carousel .carousel-caption h5 {
      font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 1.5px;
      color: #ffffff;
      padding-bottom: 15px; }
    .carousel .carousel-caption h2 {
      font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
      font-size: 38px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.11;
      letter-spacing: 2.1px;
      color: #ffffff; }
    .carousel .carousel-caption h3 {
      display: none; }

  .article-hero-full {
    /*height: 100vh;*/
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    .article-hero-full .article-hero-full-div {
      width: 85%; }
      .article-hero-full .article-hero-full-div h1 {
        letter-spacing: 2.1px; }
      .article-hero-full .article-hero-full-div h2 {
        font-size: 16px;
        line-height: 20px; }
    .article-hero-full .top {
      top: auto;
      bottom: 5%; }
    .article-hero-full .middle {
      top: auto;
      bottom: 5%; }
    .article-hero-full .bottom {
      bottom: 5%; }

  .banner {
    width: 100%;
    margin: 20px 0;
    float: left; }
    .banner img {
      width: 100%; }

  .banner_rec_index {
    width: 100%;
    margin: 20px 0;
    float: left; }
    .banner_rec_index img {
      width: 100%; }

  #now-trending {
    min-height: 117px; }
    #now-trending h2 {
      font-size: 14px;
      line-height: 22px; }

  .article-details .wp-caption-text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23; }

  .article-details .quote-bright p {
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 1.7px; }
  .article-details .quote-mono p {
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 1.7px; }

  #cat_splash .cat-item h1.category-title {
    font-size: 38px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: 2.1px; }

  #newsletter {
    padding: 35px 0; }
    #newsletter .drop {
      text-align: center;
      border: 0; }
    #newsletter .title {
      text-align: center; }
    #newsletter .sub-title {
      text-align: center; }

  #newsletter > .container > .row > .col-md-6 .col-md-2, #newsletter > .container > .row > .col-md-6 .col-md-10 {
    width: 100%; } }
@media (max-width: 375px) {
  #newsletter {
    background-image: url("../img/newsletter-bg-xs.jpg"); } }

/*# sourceMappingURL=responsive.css.map */
