/*	Gray */
/*	Light Blue */
/*	Light Blue */
/*	Green */
/*	Orange */
/*	Red */
/*	Base Styles */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

@font-face {
  font-family: 'Futura-Dem';
  src: url("../fonts/futura-demi.eot");
  src: url("../fonts/futura-demi.eot?#iefix") format("embedded-opentype"), url("../fonts/futura-demi.woff2") format("woff2"), url("../fonts/futura-demi.woff") format("woff"), url("../fonts/futura-demi.ttf") format("truetype"), url("../fonts/futura-demi.svg#youworkforthem") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #555;
  margin: 0;
  padding: 0; }
  body.category, body.home, body.archive {
    background-color: #f2f7f9; }

#main-content {
  padding: 0 !important; }

.front-page-headline {
  display: none; }

a, .link-blue {
  color: #42A5FC; }

a:hover, .link-blue:hover {
  color: #2283DD; }

a.link-gray {
  color: #555; }

a.link-gray:hover {
  color: #333; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* Typography */
h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 92px;
  letter-spacing: 1.5px;
  line-height: 95px; }

h2 {
  font-size: 52px;
  letter-spacing: 1.4px;
  line-height: 58px; }

h3 {
  font-size: 38px;
  letter-spacing: 1.2px;
  line-height: 42px; }

h4 {
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 34px; }

h5 {
  font-size: 24px;
  letter-spacing: 0.8px;
  line-height: 29px; }

h6 {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.5px;
  line-height: 24px; }

small {
  font-size: 12px !important;
  letter-spacing: 0.3px;
  line-height: 20px; }

big {
  font-size: 21px;
  letter-spacing: 0.5px;
  line-height: 28px; }

blockquote {
  font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
  font-size: 51px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 2.8px;
  text-align: center;
  color: #000000;
  border-left: none; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap; }

.text-header {
  color: #333; }

.text {
  color: #555; }

.text-light {
  color: #A9A9A9; }

.text-red {
  color: #FA5065; }

.text-orage {
  color: #FFBE00; }

.text-green {
  color: #23D737; }

.text-blue {
  color: #42A5FC; }

/*	alerts  */
.alert, .error, .warning, .attention, .success {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  letter-spacing: .7px;
  padding: 10px 15px; }

.error {
  background-color: #FFF3F4;
  color: #FA5065; }

.warning {
  background-color: #FFF8E5;
  color: #FFBE00; }

.attention {
  background-color: #D9FBDD;
  color: #23D737; }

.success {
  background-color: #dedede;
  color: #42A5FC; }

/*	Forms	*/
textarea, input, button {
  outline: none; }

label {
  color: #555;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  letter-spacing: 1.1px;
  text-transform: uppercase; }

input[type="text"], input[type="email"] {
  color: #333;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 15px 14px 14px;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }

input[type="text"].small, input[type="email"].small {
  padding: 8px 8px 7px; }

button, input[type="submit"] {
  background-color: #42A5FC;
  border: none;
  border-top: solid 2px #42A5FC;
  color: #fff;
  font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1.7px;
  max-width: 100%;
  padding: 14px 40px 15px;
  text-transform: uppercase;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }

button:focus, input[type="submit"]:focus {
  border: none; }

button:hover, input[type="submit"]:hover {
  background-color: #3193EC;
  border-top: solid 2px #3193EC; }

button:active, input[type="submit"]:active {
  background-color: #3193EC;
  border-top: solid 2px #1171CE; }

.primary-btn, .primary-btn-small, .secondary-btn, .secondary-btn-small {
  font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
  text-transform: uppercase; }

/*	button states 	*/
.primary-btn {
  background-color: #42A5FC;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1.5px;
  padding: 18px 40px; }

.primary-btn-small {
  background-color: #42A5FC;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1.3px;
  padding: 18px 40px; }

.secondary-btn {
  background-color: #fff;
  border: solid 1px #42A5FC;
  color: #42A5FC;
  letter-spacing: 1.7px;
  padding: 18px 40px; }

.secondary-btn-small {
  background-color: #fff;
  border: solid 1px #42A5FC;
  color: #42A5FC;
  letter-spacing: 1.7px;
  padding: 18px 40px; }

.category-filter {
  margin: 15px;
  padding: 15px; }
  .category-filter ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .category-filter ul li {
      display: inline-block;
      margin: 0 12px; }
      .category-filter ul li a {
        color: #A9A9A9;
        font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
        display: inline-block;
        font-size: 14px;
        letter-spacing: 1px;
        margin-right: 12px;
        padding: 6px 0;
        text-transform: uppercase;
        text-decoration: none; }
      .category-filter ul li a:hover, .category-filter ul li a:active {
        color: #333;
        text-decoration: none; }
    .category-filter ul .current-menu-item a {
      color: #000;
      box-shadow: 0 2px 0 0 #333; }

/*  START Category Template  */
#cat_splash {
  height: auto;
  width: 100%;
  position: relative;
  z-index: 1;
  background-position: center center !important;
  background-size: cover !important; }
  #cat_splash .cat-item {
    padding: 5%; }
    #cat_splash .cat-item h1.category-title {
      line-height: 1.13;
      letter-spacing: 3.7px;
      font-size: 64px;
      text-shadow: none;
      color: #FFF;
      position: absolute; }
    #cat_splash .cat-item .left {
      text-align: left; }
    #cat_splash .cat-item .right {
      text-align: right; }
    #cat_splash .cat-item .center {
      text-align: center; }
    #cat_splash .cat-item .top {
      top: 10%; }
    #cat_splash .cat-item .middle {
      top: 38%; }
    #cat_splash .cat-item .bottom {
      bottom: 10%; }

@media (min-width: 769px) {
  #cat_splash {
    background: red;
    min-height: calc(100vh - 335px); } }
/*  END Category Template  */
.banner_rec_index {
  margin: 25px auto;
  text-align: center;
  width: auto; }
  .banner_rec_index img {
    max-width: 768px;
    width: 100%; }

.featured {
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 2em 0 3em;
  text-align: center;
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat !important;
  overflow: hidden;
  display: block; }
  .featured .mega-headline {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 85%; }
    .featured .mega-headline a:hover {
      text-decoration: none; }
    .featured .mega-headline .title {
      color: #fff;
      font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
      font-size: 64px;
      line-height: 1.13;
      letter-spacing: 3.7px;
      margin: auto;
      width: 85%; }
      .featured .mega-headline .title a {
        color: #fff;
        text-decoration: none; }
    .featured .mega-headline .subtitle {
      color: #fff;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 22px;
      letter-spacing: 1.4px;
      margin: 0;
      padding: 0; }
      .featured .mega-headline .subtitle a {
        color: #fff;
        text-decoration: none; }
  .featured .cat-name a {
    color: #fff;
    font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
    text-transform: uppercase; }
  .featured img {
    height: auto;
    width: 100%; }
  .featured .meta {
    color: #A9A9A9;
    font-size: 0.8em;
    margin: 10px 0 15px; }
    .featured .meta a {
      font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
      font-size: 16px;
      margin-right: 10px;
      text-transform: uppercase; }
  .featured .headline, .featured .all-items .item .headline h3, .all-items .item .headline .featured h3, .featured .all-items .item .headline h4, .all-items .item .headline .featured h4 {
    font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
    font-size: 35px;
    line-height: 0.83;
    letter-spacing: 2.5px;
    text-align: center;
    color: #333;
    letter-spacing: 3.1px; }
    .featured .headline a, .featured .all-items .item .headline h3 a, .all-items .item .headline .featured h3 a, .featured .all-items .item .headline h4 a, .all-items .item .headline .featured h4 a {
      color: #333; }

.featured-meta {
  width: 100%;
  text-align: center;
  height: 100%;
  clear: both;
  position: absolute;
  top: 35%;
  z-index: 3; }
  .featured-meta .meta {
    color: #A9A9A9;
    font-size: 0.8em;
    margin: 10px 0 15px;
    clear: both;
    width: 100%;
    text-align: center; }
    .featured-meta .meta a {
      font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
      font-size: 16px;
      margin-right: 10px;
      text-transform: uppercase; }
  .featured-meta .headline, .featured-meta .all-items .item .headline h3, .all-items .item .headline .featured-meta h3, .featured-meta .all-items .item .headline h4, .all-items .item .headline .featured-meta h4 {
    font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
    font-size: 35px;
    line-height: 0.83;
    letter-spacing: 2.5px;
    text-align: center;
    color: #333;
    letter-spacing: 3.1px;
    width: 100%;
    text-aline: center !important; }
    .featured-meta .headline a, .featured-meta .all-items .item .headline h3 a, .all-items .item .headline .featured-meta h3 a, .featured-meta .all-items .item .headline h4 a, .all-items .item .headline .featured-meta h4 a {
      color: #333; }

.video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }
  .video-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.video-main-wrap-container {
  max-width: 1100px;
  margin: 40px auto;
  width: 100%; }

.video-wrap-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 1100px;
  margin: auto; }
  .video-wrap-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#now-trending {
  background: #41a4fb;
  color: #fff;
  min-height: 110px;
  padding: 14px;
  text-align: center;
  text-transform: uppercase; }
  #now-trending h4 {
    color: #fff;
    font-size: .75em;
    letter-spacing: 1.5px; }
    #now-trending h4 svg {
      margin-right: 6px; }
  #now-trending h2 {
    color: #fff;
    font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
    font-size: 1em;
    letter-spacing: 3.4px;
    line-height: 40px;
    margin: 0;
    padding: 0; }
  #now-trending #trending_ticket_item .carousel-indicators, #now-trending #trending_ticket_item .carousel-control {
    display: none; }

article .clock {
  height: 14px !important;
  margin-right: 6px;
  vertical-align: middle;
  width: 14px !important; }
article .share-btn {
  background-size: 36px 36px;
  display: inline-block;
  margin-right: 6px;
  text-indent: -9999px;
  cursor: pointer;
  width: 36px;
  height: 36px; }
article .facebook-share {
  background-image: url("../img/facebook-before.svg"); }
article .facebook-share:hover {
  background-image: url("../img/facebook-after.svg"); }
article .twitter-share {
  background-image: url("../img/twitter-before.svg"); }
article .twitter-share:hover {
  background-image: url("../img/twitter-after.svg"); }
article .twitter-tweet, article .instagram-media {
  margin: 50px auto !important; }
article .fb-post {
  text-align: center; }
article hr {
  border-top: solid 2px #eee; }
article h2 {
  color: #6E7273;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1.3px;
  margin-bottom: 12px;
  margin-top: 5px; }
article hr {
  border-top: solid 2px #eee; }
article .article-headline h1 {
  font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
  font-size: 32px;
  letter-spacing: 2.5px;
  line-height: 38px;
  color: #333; }
article .article-headline .article-category {
  margin-bottom: 20px;
}
  article .article-headline .article-category h5 {
    font-size: 12px;
    line-height: 14px;
    margin: 0 auto;
    text-transform: uppercase; }
    article .article-headline .article-category h5 a {
      margin-right: 10px;
  }
  article .sponsor {
    margin: 20px auto;
    width: 90%;
  }
  article .sponsor .presented-by {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 9px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.6px;
    color: #6e7273;
    text-transform: uppercase;
    padding-bottom: 5px;
    display: block; }
article .article-details .date p {
  height: 14px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  color: #6e7273;
  margin-bottom: 23px; }
article .entry-meta {
  display: block; }
article .content-img {
  float: left;
  padding: 20px 0 50px 0; }
article .content-img.full-width-img img {
  width: 100%; }
article .content-img p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.9px;
  text-align: center;
  color: #999999;
  margin: 18px auto 0;
  width: 80%; }
article .name {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 1.5px;
  color: #333333;
  text-transform: uppercase; }
article .position {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 14px;
  letter-spacing: 0.8px;
  color: #6e7273;
  margin-bottom: 20px;
}
article .author-details {
  width: 300px;
  float: left;
  line-height: 1em;
  margin-left: 18px;
  margin-top: 5px; }
article img.cover {
  margin: 20px 0;
  height: 100vh;
  width: 100%; }
article .wp-caption {
  text-align: center;
  width: auto !important;
  margin: 40px 0;
}
article .wp-caption-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.9px;
  text-align: center;
  color: #999999;
  margin: 15px auto 50px;
  max-width: 640px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }
article .img-fluid {
  margin: 40px auto;
  max-width: 1100px;
  width: 100%;
}
  article .img-fluid img {
    height: auto;
    max-width: 1100px;
    width: 100%;
  }
  article .img-fluid p {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.9px;
    margin-bottom: 0;
    text-align: center;
    color: #999999; }
article .quote-bright {
  background-color: #41a4fb;
  margin: 50px 0;
  padding: 40px 30px; }
  article .quote-bright p {
    margin: auto;
    max-width: 1100px;
    font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
    font-size: 51px;
    font-weight: bold;
    line-height: 1.27;
    padding: 0;
    letter-spacing: 2.8px;
    text-align: center;
    color: #ffffff; }
article .quote-mono {
  margin: 50px 0;
  padding: 40px 30px; }
  article .quote-mono p {
    margin: auto;
    max-width: 1100px;
    font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
    font-size: 51px;
    font-weight: bold;
    line-height: 1.27;
    padding: 0;
    letter-spacing: 2.8px;
    text-align: center; }
article .img-cover-caption {
  margin-bottom: 40px;
}
article .img-cover {
  margin: 40px 0;
  width: 100%;
}
.article-details .img-cover img {
  height: auto;
  width: 100% !important;
}
article .img-cover p {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.9px;
  margin: 15px auto 50px;
  text-align: center;
  color: #999999;
}

article .img-cover .wp-caption {
  width: 100% !important;
}

article .wp-caption-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.9px;
  text-align: center;
  color: #999999;
  margin: 15px auto 50px;
  max-width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }
article .img-fuid {
  margin: 20px 0;
  max-width: 1100px;
  width: 100%; }
  article .img-fuid img {
    height: auto;
    width: 100%; }
  article .img-fuid p {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.9px;
    text-align: center;
    color: #999999; }
article .mono-quote {
  margin: 20px 0;
  padding-top: 40px;
  padding-bottom: 40px; }
  article .mono-quote p {
    margin: auto;
    max-width: 1100px;
    font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
    font-size: 51px;
    font-weight: bold;
    line-height: 1.27;
    padding: 0;
    letter-spacing: 2.8px;
    text-align: center; }
article .content-img {
  float: left;
  padding: 20px 0 50px 0; }
article .content-img.full-width-img img {
  width: 100%; }
article .content-img p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.9px;
  text-align: center;
  color: #999999;
  margin: 18px auto 0;
  width: 80%; }
article iframe {
  text-align: center; }
article .forecast {
  border: solid 1px #e6e6e6;
  color: #333;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 20px;
  margin: 25px auto 40px;
  max-width: 640px;
  width: 100%; }
  article .forecast .headline, article .forecast .all-items .item .headline h3, .all-items .item .headline article .forecast h3, article .forecast .all-items .item .headline h4, .all-items .item .headline article .forecast h4 {
    font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
    font-size: 18px;
    letter-spacing: 1.9px;
    margin-bottom: 12px;
    text-transform: uppercase; }
  article .forecast a {
    color: #41a4fb;
    text-transform: uppercase; }

.gradient {
  position: relative; }

.gradient::after {
  content: "";
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+50,000000+100&0+0,0+50,1+100 */
  background: -moz-linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.5) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.5) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  left: 0; }

.article-hero-full {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh; }
  .article-hero-full .left {
    left: 6%;
    text-align: left; }
  .article-hero-full .right {
    right: 6%;
    text-align: right; }
  .article-hero-full .center {
    text-align: center; }
  .article-hero-full .top {
    top: 10%; }
  .article-hero-full .middle {
    top: 38%; }
  .article-hero-full .bottom {
    bottom: 10%; }
  .article-hero-full .article-hero-full-div {
    position: absolute;
    color: #fff;
    font-size: 36px;
    width: 65%;
    z-index: 1; }
    .article-hero-full .article-hero-full-div h1 {
      color: #fff;
      font-size: 64px;
      line-height: 1.13;
      letter-spacing: 3.7px;
      margin: auto;
      text-transform: uppercase;
      /*width: 85%;*/ }
    .article-hero-full .article-hero-full-div h2 {
      color: #fff;
      /*margin: 12px auto auto;
      width: 85%;*/ }
    .article-hero-full .article-hero-full-div h5 a {
      color: #fff;
      font-size: 14px;
      line-height: 0.86;
      letter-spacing: 1.8px;
      text-transform: uppercase; }

.article-details {
  background: #fff;
  padding-top: 40px;
  margin-bottom: 40px;
  display: block; }

.article-details p {
  margin: 20px auto;
  width: 90%;
  font-size: 18px;
  line-height: 28px;
}

.article-details ul, .article-details ol {
  margin: 0 auto 10px;
  width: 90%;
  font-size: 18px;
  line-height: 28px;
}

.article-details h1, .article-details h2, .article-details h3, .article-details h4, .article-details h5 {
  width: 90%;
  margin: 0 auto;
}

p iframe {
  width:1100px;
}

.article-headline h1, .article-headline h2, .article-headline h5 {
  margin: 0 auto;
  width: 90%;
}

.tags {
  margin: 20px auto;
  max-width: 90%;
  text-align: center;
}

#disqus-container {
  margin: 20px auto;
  width: 90%;
}

.article-details p img:not(.clock) {
      width: 100%;
      height: auto;
      display: block;
      margin: auto; }

.content-img {
  float: left;
  padding: 20px 0 50px 0; }

.full-width-img {
  float: none; }
  .full-width-img img {
    width: 100%; }

.content-img p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.9px;
  text-align: center;
  color: #999999;
  margin: 18px auto 0;
  width: 80%; }

.profile {
  width: 44px;
  height: 44px;
  float: left;
  /*overflow: hidden;*/ }
  .profile img {
    width: 100%;
    height: 100%;
    border: 1px solid #333333;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top; }

.content-details {
  float: left;
  width: 100%;
  margin-top: 50px; }
  .content-details p {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #333333;
    margin-bottom: 20px; }

.video-wrap {
  margin-top: 40px;
  margin-bottom: 40px; }

.blue-bg {
  background-color: #41a4fb; }

.blockquote-content {
  padding-top: 40px;
  padding-bottom: 40px; }
  .blockquote-content blockquote {
    font-size: 51px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    padding: 0;
    margin: 0;
    letter-spacing: 2.8px;
    text-align: center;
    color: #ffffff;
    font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif; }

.blockquote-media {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0; }

.banner {
  text-align: center;
  margin: 40px auto 0; }

.well {
  margin-top: 10px; }

.article-content {
  width: 100%;
  float: left; }

.comments {
  font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
  letter-spacing: 1.7px;
  border-radius: 0;
  font-size: 16px;
  margin-top: 20px;
  border: 1px solid #41a4fb;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0;
  background-color: transparent;
  width: 100%;
  color: #41a4fb; }

.comments:hover, .comments:focus, .comments:active {
  text-decoration: none !important;
  color: #FFFFFF !important;
  background-color: #41a4fb !important;
  border: 1px solid #41a4fb !important; }

.text-container {
  margin-top: 20px;
  margin-bottom: 20px; }

.trending-newsletter-section {
  width: 100%;
  float: left;
  margin-top: 35px; }

.input-button-row {
  display: inline-block;
  margin-top: 40px; }

.carousel-control .control-arrow {
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out; }

.carousel-control.left .control-arrow {
  left: 20px; }

.carousel-control.right .control-arrow {
  right: 20px; }

.carousel-control:hover {
  opacity: 1; }

.carousel-control .control-arrow {
  font-size: 3.6em;
  position: absolute;
  top: 50%;
  max-height: 100%;
  max-width: 100%;
  height: 34px !important;
  width: 18px !important;
  z-index: 5;
  display: inline-block;
  margin-top: -10px; }
.carousel-control .fa-angle-right {
  right: 50%; }
.carousel-control .fa-angle-left {
  left: 50%; }

.all-items  .sl-premium-ribbon-icon {
  position: absolute;
  z-index: 10;
  left: 35px;
  top: 1px;
  height: 30px;
  width: 24px;
} 

.all-items .clock {
  height: 14px !important;
  margin-right: 10px;
  vertical-align: top;
  width: 14px !important; }
.all-items .item {
  background-color: #fff;
  border: solid 1px #e6e6e6;
  cursor: pointer;
  min-height: 315px;
  margin-bottom: 3em;
  position: relative;
  transition: all .5s; }
  .all-items .item a.overlay-link {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .all-items .item .thumbnail {
    border: none;
    margin-bottom: 19px;
    padding: 0;
    position: relative;
    height: 180px;
    overflow: hidden;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
    .all-items .item .thumbnail .video-play {
      left: 43%;
      transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      pointer-events: none;
      z-index: 25;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
      filter: alpha(opacity=70);
      -moz-opacity: 0.7;
      -khtml-opacity: 0.7;
      opacity: 0.7; }
      .all-items .item .thumbnail .video-play img {
        max-width: 100%;
        width: auto !important; }
  .all-items .item a:hover {
    text-decoration: none; }
  .all-items .item img:not(.video-play-controller) {
    height: auto;
    width: 100%;
    max-width: 100%; }
  .all-items .item .headline, .all-items .item .headline h3, .all-items .item .headline h4 {
    font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
    color: #333;
    font-size: 24px;
    letter-spacing: 1.3px;
    line-height: 1.4em;
    padding: 0 20px; }
    .all-items .item .headline h3, .all-items .item .headline h4 {
      padding: 0;
      line-height: 1.21; }
  .all-items .item .meta {
    color: #A9A9A9;
    font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
    font-size: 14px;
    line-height: 1.21;
    /*letter-spacing: 1px;*/
    margin-bottom: 10px;
    padding: 0 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase; }
    .all-items .item .meta span {
      color: #A9A9A9;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 12px;
      margin-left: 6px;
      text-transform: capitalize; }
.all-items .item:hover {
  -webkit-box-shadow: 0px 10px 23px 0px rgba(153, 153, 153, 0.5);
  -moz-box-shadow: 0px 10px 23px 0px rgba(153, 153, 153, 0.5);
  box-shadow: 0px 10px 23px 0px rgba(153, 153, 153, 0.5); }

/*	Hero Styles */
#hero {
  background-color: #2986da; }
  #hero img {
    max-height: 700px;
    width: 100%; }
  #hero .headline h1, .all-items .item .headline #hero h3 h1, .all-items .item .headline #hero h4 h1 {
    font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
    padding-bottom: 10px;
    font-size: 28px;
    line-height: 1.23;
    letter-spacing: 2.6px;
    color: #333333; }
  #hero .headline h3, .all-items .item .headline #hero h3 h3, .all-items .item .headline #hero h4 h3 {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.2;
    letter-spacing: 1.3px;
    font-size: 20px;
    font-weight: 600;
    color: #6e7273; }
  #hero .headline h5, .all-items .item .headline #hero h3 h5, .all-items .item .headline #hero h4 h5 {
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1.5px; }

.hero-short {
  max-height: 320px;
  overflow: hidden; }

/*	tags 	*/
.tags {
  margin: 25px 0;
  padding: 0; }
  .tags h5 {
    font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.5px;
    color: #333333;
    margin-bottom: 16px;
    text-transform: uppercase; }
  .tags a {
    border: solid 1px #41a4fb;
    color: #41a4fb;
    display: inline-block;
    font-size: 13px;
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 10px 16px;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .tags a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #41a4fb; }

.trending-pic {
  cursor: pointer; }

#trending-content {
  background-color: #f2f7f9;}
  #trending-content .sl-premium-ribbon-icon {
    position: absolute;
    z-index: 10;
    left: 35px;
    top: 0px;
    height: 40px;
    width: 34px;
  }
  #trending-content h3 {
    color: #333;
    font-size: 18px;
    letter-spacing: 1.9px;
    text-transform: uppercase; }
    #trending-content h3 span {
      color: #A9A9A9;
      margin-left: 9px; }
      #trending-content h3 span small {
        font-size: 10px !important; }
    #trending-content h3 svg {
      position: relative;
      bottom: -3px; }
  #trending-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    #trending-content ul li {
      display: inline-block;
      /*padding: 0;*/ }
      #trending-content ul li .trending-cat a {
        font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
        font-size: 12px;
        letter-spacing: 1.5px;
        text-transform: uppercase; }
      #trending-content ul li .trending-title, #trending-content ul li .trending-title a {
        font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.21;
        letter-spacing: 1.3px;
        color: #333333; }
      #trending-content ul li .trending-pic {
        margin-bottom: 15px; }
        #trending-content ul li .trending-pic img {
          height: auto;
          width: 100%;
          padding: 0;
          max-width: 540px; }

#category-hero {
  background-size: cover;
  color: #fff;
  min-height: 320px;
  height: 100vh;
  position: relative; }
  #category-hero h2 {
    color: #fff;
    bottom: 3em;
    font-size: 5em;
    position: absolute;
    text-transform: uppercase; }

#loading-image {
  width: 100%;
  height: 100px;
  text-align: center;
  z-index: 10000; }

#carousel_indicators {
  position: absolute;
  bottom: 10px;
  z-index: 2;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -ms-transform: translate(0%);
  /* IE 9 */
  -webkit-transform: translate(0%);
  /* Safari */
  transform: translate(0%); }
  #carousel_indicators .carousel-indicators {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
    overflow: auto; }
    #carousel_indicators .carousel-indicators li {
      list-style: none;
      text-align: center;
      height: 22px;
      margin: 0 5px;
      width: 50px;
      float: left; }
      #carousel_indicators .carousel-indicators li .indicator-item {
        background-color: rgba(255, 255, 255, 0.6);
        height: 2px;
        position: relative;
        width: 100%;
        z-index: 1;
        color: #000000; }

.carousel-indicators li:hover .indicator-progress {
  /*margin: 0 4px !important;*/
  cursor: pointer;
  opacity: 1;
  background: #fff;
  height: 2px;
  left: 0;
  background-color: #fff;
  width: 100%; }

.carousel-indicators li.active .indicator-progress {
  margin: 0 4px !important;
  opacity: 1;
  background: #fff;
  height: 2px;
  left: 0;
  margin: 0 !important;
  background-color: #fff;
  width: 0%;
  /*transition: width 1s ease;
  -webkit-animation: expandWidth 6s 1 forwards;
  -moz-animation: expandWidth 6s 1 forwards;
  -o-animation: expandWidth 6s 1 forwards;
  animation: expandWidth 6s 1 forwards;*/
  -webkit-animation: expandWidth 5s 1 linear;
  -moz-animation: expandWidth 5s 1 linear;
  -o-animation: expandWidth 5s 1 linear;
  animation: expandWidth 5s 1 linear; }

@-webkit-keyframes expandWidth {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@-moz-keyframes expandWidth {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@-o-keyframes expandWidth {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@keyframes expandWidth {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
.carousel {
  font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
  color: #FFFFFF; }
  .carousel .dark-layer::after {
    content: "";
    width: 100%;
    min-height: 300px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999; }
  .carousel .title-capt p {
    padding: 20px 0; }
  .carousel .carousel-control {
    background: transparent;
    text-shadow: none; }
  .carousel .carousel-caption {
    color: #fff;
    bottom: 90px;
    z-index: 6000;
    right: 0;
    left: 0;
    max-width: 75%;
    margin: 0 auto;
    pointer-events: none;
    text-shadow: none; }
    .carousel .carousel-caption h2 {
      font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
      text-shadow: none;
      color: #FFFFFF; }
    .carousel .carousel-caption h5 {
      color: #fff;
      font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
      text-transform: uppercase; }
    .carousel .carousel-caption h3 {
      color: #fff;
      font-family: "Source Sans Pro", sans-serif; }
    .carousel .carousel-caption a:hover {
      text-decoration: none; }
  .carousel .carousel-caption.left {
    left: 6%;
    max-width: 65%;
    right: auto;
    text-align: left; }
  .carousel .carousel-caption.right {
    left: auto;
    max-width: 65%;
    right: 6%;
    text-align: right; }
  .carousel .carousel-caption.center {
    text-align: center; }
  .carousel .carousel-caption.top {
    top: 5%;
    bottom: auto; }
  .carousel .carousel-caption.middle {
    bottom: auto;
    top: 25%; }
  .carousel .carousel-caption.bottom {
    top: auto;
    bottom: 40px; }

nav select {
  font-family: "Futura-Dem", Helvetica, Arial, Sans-Serif;
  display: none;
  text-transform: capitalize;
  appearence: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  background-image: url(../img/down-chevron.png);
  background-repeat: no-repeat;
  background-position: right 10px center; }

#hero_splash .carousel-inner {
  box-sizing: border-box; }
  #hero_splash .carousel-inner .item {
    background-position: center center;
    background-size: cover;
    min-height: calc(100vh - 335px); }
    #hero_splash .carousel-inner .item .overlay-link {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2; }

@media (min-width: 769px) {
  #hero_splash .carousel-inner {
    min-height: calc(100vh - 335px); } }
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  opacity: 0; }
.carousel-fade .carousel-inner .active.left {
  opacity: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
.carousel-fade .carousel-inner .active {
  opacity: 1; }
.carousel-fade .carousel-inner .next.left {
  opacity: 1; }
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }
.carousel-fade .carousel-inner .next {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
.carousel-fade .carousel-inner .prev {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
.carousel-fade .carousel-inner h1 {
  color: #fff;
  font-size: 64px;
  line-height: 1.13;
  letter-spacing: 3.7px;
  margin: auto;
  text-transform: uppercase;
  width: 85%; }
.carousel-fade .carousel-control {
  z-index: 2; }

.item .notice a {
  color: inherit;
  text-decoration: none; }

.quiver-notification__tag-line:hover,
.quiver-notification__tag-line__full-text:hover,
.quiver-notification__closable:hover {
  color: white;
  text-decoration: none;
}

.quiver-navigation-item__container__link:hover,
.quiver-new-navigation-bar__sign-in:hover,
.quiver-add-favorites:hover {
  text-decoration: none;
}

.quiver-base-menu-item:hover, .quiver-favorites-bar__content-favorites-title:hover {
  color: #333;
  text-decoration: none;
}

.quiver-new-navigation-bar__search__input__container input[type="text"] {
  border: none;
  padding: 0;
  outline: 0;
  color: #fff;
  font-family: Source Sans Pro,Helvetica,sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: .6px;
  text-transform: none;
}

.quiver-search-split-test__suggestions-container
.quiver-search-split-test__suggestions-list li a:hover {
  text-decoration: none;
}

.quiver-favorites-bar__content-favorites-arrow svg {
  margin: 13px 0 0 8px!important;
  padding: 0!important;
}

.jwplayer {
  max-width: 1100px;
  margin: 40px auto !important;
}


/* Begin Terms of Use / Privacy Policy Page Styles */
.page .hentry {
  padding: 40px;
  max-width: 740px;
  margin: 0 auto;
}
.page .hentry h2 {
  font-size: 32px;
  letter-spacing: 2.5px;
  line-height: 38px;
}
.page .hentry h5 {
  margin: 40px auto 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  font-weight: 600;
  font-stretch: normal;
  letter-spacing: 0.4px;
  color: #555;
}
.page .hentry p {
  margin: 20px auto;
  font-size: 16px;
  line-height: 24px;
}
/* End Begin Terms of Use / Privacy Policy Page Styles */

/*IE Fixing*/
@media screen and (-ms-high-contrast: active) {
  .carousel .carousel-caption {
    bottom: 90px;
    z-index: 3;
    right: 0;
    left: 0;
    max-width: 1000px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; } }
@media (-ms-high-contrast: none) {
  .carousel .carousel-caption {
    bottom: 90px;
    z-index: 3;
    right: 0;
    left: 0;
    max-width: 1000px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; } }

/*# sourceMappingURL=style.css.map */