.sl-article-meta {
  text-transform: uppercase;
  font-family: $source-sans-pro;
  font-size: 11px;
  color: color('gray', 55);
  letter-spacing: 0;
}

.sl-article-meta__date {
  text-transform: lowercase;
}
