.sl-card-carousel {
  --button-background: rgba(255,255,255,0.4);
  --button-active-or-hover: rgba(255, 255, 255, .9);
  --carousel-button-path: rgba(0, 0, 0, .7);

  position: relative;
  display: flex;
  justify-content: center;
  height: 65%;

  &:hover {
    .sl-card-carousel-previous-button-wrapper,
    .sl-card-carousel-next-button-wrapper {
      display: block;
    }
  }
}

.sl-card-carousel-previous-button,
.sl-card-carousel-next-button {
  background: var(--button-background);
  padding: 0;
  margin: 4px;
  border: none;

  circle {
    stroke: transparent;
  }

  path {
    fill: var(--carousel-button-path);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not([disabled]):hover {
    background: var(--button-active-or-hover);
   }
}

.sl-card-carousel-previous-button-wrapper,
.sl-card-carousel-next-button-wrapper {
  display: none;
  margin: auto;
  pointer-events: all;
  position: absolute;
  right: 0;
  top: 44%;
}

.sl-indicator-buttons-wrapper {
  display: flex;
  justify-content: center;
  margin: 4px;
  position: absolute;
  bottom: 16px;
  left: 16px;
  right:16px;
}

.sl-indicator-button {
  width: 8px;
  height: 8px;
  background:  var(--button-background);
  margin: 0 4px 0 4px;
  border-radius: 8px;
}

.sl-indicator-button-active {
  background: var(--button-active-or-hover);
}
