.sl-card-wrapper {
  border-radius: 8px;
  scroll-snap-align: start;
  position: relative;
  height: 100%;
  width: 100%;
}

.sl-content-card-detailed {
  height: 100%;
  width: 100%;
}

.sl-content-card-detailed-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sl-content-card-detailed-resort {
  text-overflow: ellipsis;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
}
