.sl-content-carousel-wrapper {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 20px 40px;
  width: 100%;
}

.sl-content-carousel-header {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px 8px 40px;
  max-width: 1600px;
  width: 100%;
}

.sl-content-carousel-page-count {
  color: white;
  margin: auto;
  padding-right: 8px;
}

.sl-content-carousel-header-buttons {
  display: inline-block;
  min-width: 200px;

  .Mui-disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.sl-content-carousel-header-title {
  color: white;
  display: block;
  margin: 0;
}

.sl-content-carousel-header-subtitle {
  color: white;
  display: block;
  margin: 0;
  padding: 0;
}

.sl-content-carousel {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0px 40px 20px 40px;
  width: 100%;
}

.sl-content-carousel-inner-wrapper {
  max-width: 1600px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.cool {
  content: "";
    display: inline-block;
    padding-top: var(--sl-card-aspect-ratio);
    width: 100%;
    height: 300px;
    background: blue;
}

.sl-content-carousel-mobile-wrapper {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;  /* Firefox */

  -ms-overflow-style: none;  /* IE and Edge */

  &::-webkit-scrollbar {
    display: none;
  }
}

.sl-content-carousel-content-wrapper {
  margin: 0 -8px;
  overflow: visible;
  transition: -ms-transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s, transform 0.5s ease 0s;
  white-space: nowrap;
}

.sl-content-carousel-card-wrapper {
  display: inline-block;
  margin: 8px;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: top;
  white-space: normal;

  &::before {
    content: "";
    display: block;
    padding-top: var(--sl-card-aspect-ratio);
    width: 100%;
  }
  > .sl-content-carousel-card-inner-wrapper {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.sl-content-carousel-skeleton-wrapper {
  border-radius: 4px;
  background-color: #2b2a2a;
  height: 100%;
  width: 100%;
  padding: 8px;
}

.sl-content-carousel-skeleton-item {
  background-color: #333333;
}

.sl-content-carousel-skeleton-item-big {
  height: 80%;
  background-color: #333333;
}
