.sl-editorial-paywall {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    margin-top: -40px;
}

.sl-editorial-paywall__fade {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, color('white') 100%);
    height: 160px;
}

.sl-editorial-paywall__container {
    overflow: hidden;
    z-index: 10;
    padding: 24px 16px;
    width: 100%;
    max-width: 800px;
    height: 756px;
    border-radius: 10px;
    background-color: color('dark-blue', 90);
    background-position: -120% 100%;
    background-size: 120%;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    .sl-editorial-paywall__tag {
        width: 24px;
    }
    .sl-editorial-paywall__header {
        color: white;
        font-size: 26px;
        margin: 5px 0;
    }
    .sl-editorial-paywall__description {
        color: white;
        font-size: 18px;
        margin: 0px;
    }
    .sl-editorial-paywall__cta {
        font-size: 18px;
        color: color('white');
    }
    .sl-editorial-paywall__login {
        font-size: 18px;
        color: color('white');
    }
    .sl-editorial-paywall__heading {
        color: white;
        font-size: 14px;
        margin-bottom: 0px;
        margin-top: 20px;
    }
    .quiver-button {
        background-color: color('green', 50);
        border-color: color('green', 50);
        margin: 10px 0px;
        &:hover {
            background-color: color('green', 70);
            border-color: color('green', 70);
        }
    }
    .sl-editorial-paywall__related__wrapper {
        position: relative;
        overflow-x: hidden;
        width: 100%;
        margin-bottom: 32px;
        margin-top: 8px;
        -webkit-overflow-scrolling: touch;
        .sl-editorial-paywall__related {
            height: 350px;
            position: relative;
            overflow: hidden;
            -webkit-overflow-scrolling: touch;
            &__list {
                &::-webkit-scrollbar {
                    display: none;
                }
                height: 350px;
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
                overflow-y: hidden;
                width: 100%;
                -webkit-overflow-scrolling: touch;
                a {
                    text-decoration: none;
                }
            }
            .quiver-feed-card {
                background-color: color('white');
                flex: none;
                width: 256px;
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

@media (min-width: $medium-width) {
    .sl-editorial-paywall__container {
        background-size: 75%;
        background-position: 150% 10%;
        padding: 32px 64px;
        height: 670px;
    }
    .sl-editorial-paywall__related {
        height: 400px;
        &__list {
            height: 400px;
        }
    }
}