.sl-editorial-article-heading {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px 16px 0;
}

.sl-editorial-article-heading__title {
  margin: 16px 0 0;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0;
  color: color('black');
}

.sl-editorial-article-heading__subtitle {
  margin: 0;
  font-family: $source-sans-pro;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  color: color('gray', 80);
}

.sl-editorial-article-heading__taxonomy {
  display: flex;
  align-items: center;
  a {
    display: inline-flex;
    font-family: $futura-surfline;
    font-size: 14px;
    text-transform: uppercase;
    padding-right: 16px;
    text-decoration: none;
  }
}

.sl-editorial-article-heading__partner {
  display: inline-flex;
  margin-right: 16px;
  padding: 4px 8px;
  font-family: $source-sans-pro;
  font-size: 14px;
  font-weight: 600;
  color: color('dark-blue', 10);
  background: color('blue-gray', 10);
  border-radius: 4px;
}

@media(min-width: $tablet-width) {
  .sl-editorial-article-heading {
    padding-top: 32px;
  }
  .sl-editorial-article-heading__title {
    font-size: 34px;
    line-height: 40px;
  }

  .sl-editorial-article-heading__subtitle {
    font-size: 22px;
    line-height: 30px;
  }
}

@media(min-width: $tablet-large) {
  .sl-editorial-article-heading__title {
    font-size: 36px;
  }
}

@media(min-width: $x-large-width) {
  .sl-editorial-article-heading__title {
    font-size: 42px;
    line-height: 44px;
  }

  .sl-editorial-article-heading__subtitle {
    font-size: 24px;
  }
}
