.sl-editorial-author__container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
}

.sl-editorial-author__presented-by {
  padding-top: 16px;
  span {
    font-size: 9px;
    text-transform: uppercase;
    color: color('gray', 80);
  }
}

.sl-editorial-author__author {
  display: flex;
  flex-direction: column;
  padding: 24px 0 16px;
  .sl-editorial-author__social {
    order: 1;
    margin-bottom: 10px;
  }
  .sl-editorial-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    order: 2;
  }
}

.sl-editorial-author__image {
  border-radius: 50%;
  height: 34px;
  width: 34px;
}

.sl-editorial-author__details {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.sl-editorial-author__details__name {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 0;
  color: color('gray', 80);
  padding-bottom: 2px;
}

.sl-editorial-author__details__date {
  font-size: 12px;
  letter-spacing: .5px;
  color: color('gray', 70);
}

.sl-editorial-author__details__date__updated {
  font-weight: 600;
}

@media(min-width: $tablet-width) {
  .sl-editorial-author__presented-by {
    padding-top: 24px;
  }
  .sl-editorial-author__details__name {
    font-size: 16px;
  }
  .sl-editorial-author__author {
    flex-direction: row;
    justify-content: space-between;
    .sl-editorial-author__social--author {
      order: 2;
      margin-bottom: 0;
      .quiver-share-article {
        position: relative;
      }

      .quiver-share-article__alert {
        position: absolute;
        bottom: 40px;
        width: 210px;
        right: 0;
      }
    }
    .sl-editorial-author {
      order: 1;
    }
  }
}



@media(min-width: $x-large-width) {
  .sl-editorial-author__image {
    height: 44px;
    width: 44px;
  }

  .sl-editorial-author__details__name {
    font-size: 18px;
  }
}
