@import '../_mixins.scss';
@import '../_variables.scss';

@-webkit-keyframes sl-fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@-webkit-keyframes sl-border-draw {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.sl-hero {
  background-color: color('white');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 192px);
  min-height: 400px;
  width: 100%;
  display: block;
  position: relative;
  @media(min-width: $tablet-width) {
    height: calc(100vh - 132px);
    min-height: 600px;
  }
  h1 {
    margin: 0 auto;
    color: color('white');
    font-family: $futura-dem;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 1.89px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5%;
    width: 60%;
    max-width: 1000px;
    @media(min-width: $large-mobile) {
      padding-top: 2%;
    }
    @media(min-width: $tablet-width) {
      width: auto;
      font-size: 52px;
      line-height: 58px;
      letter-spacing: 1.4px;
      padding-left: 10px;
      padding-right: 10px;
    }
    @media(min-width: $desktop-width) {
      line-height: 70px;
      font-size: 72px;
      letter-spacing: 4px;
    }
  }
  &__content {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 100%;
    @media(min-width: $large-mobile) {
      top: 40%;
    }
    @media(min-width: $desktop-width) {
      transform: translate(-50%, -20%);
    }
    &__subtitle {
      width: 100%;
      &__h2 {
        @include sl-hero-paragraph-jumbo;
        margin: 0 auto;
        max-width: 280px;
        font-family: $futura-dem;
        font-weight: 400;
        color: color('white');
        text-align: center;
        max-width: 250px;
        display: none;
        @media(min-width: $large-mobile) {
          display: block;
          max-width: 600px;
        }
        @media(min-width: $tablet-width) {
          display: block;
          max-width: 700px;
          margin-top: 20px;
        }
      }
    }
  }
  &__anchor {
    position: absolute;
    bottom: 45px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    animation: sl-fade-in 2s linear;
    cursor: pointer;
    &__icon {
      padding: 5px;
      width: 40px;
      height: 40px;
      background-image:url('../../components/Hero/anchor-arrow-mobile.svg');
      background-position: center center;
      background-repeat: no-repeat;
      margin: 5px auto 0;
      border: 2px solid color('white');
      border-radius: 50%;
      &:hover {
        border-width: 3px;
        cursor: pointer;
        width: 38px;
        height: 38px;
      }
      @media(min-width: $tablet-width) {
        margin-top: 10px;
        background-image:url('../../components/Hero/anchor-arrow.svg');
        width: 50px;
        height: 50px;
        &:hover {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
  ul.sl-breadcrumb {
    li, a {
      color: color('white');
    }
  }
}
