
.sl-content-card-overlay {
  height: 100%;
  position: relative;
  width: 100%;
}

.sl-content-card-overlay-link {
  --sl-overlay-background: rgba(0,0,0, 0.3);
  --sl-overlay-background-hover: rgba(0,0,0, 0.4);

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--sl-overlay-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--sl-overlay-background-hover)

    span {
      color: white;
    }
  }
}

.sl-content-card-overlay-title {
  color: white;
  max-width: 300px;
  text-align: center;
}

.sl-content-card-overlay-subtitle {
  color: white;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
}


.sl-content-card-overlay-caption {
  color: white;
  max-width: 300px;
  text-align: center;
  position: absolute;
  bottom: 46px;
  margin: auto;
}
