.sl-preview-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  background: color('light-blue', 50);
  color: color('white');
  font-family: $futura-surfline;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    background: color('light-blue', 60);
    color: color('white');
  }
}
