.sl-spot-thumbnail {
  z-index: -1;
  height: 100%;
  padding: 10px;
  &__top-container {
    height: 50px;
    position: relative;
    .sl-lock-icon {
      width: 13px;
      height: 15px;
      position: absolute;
      left: 0px;
      top: 125px;
    }
  }
  &__bottom-container {
    display: block;
    height: 90px;
    text-align: center;
  }
  .sl-favorites-indicator {
    float: right;
    circle {
      fill-opacity: 0.3;
    }
  }
}
