.swell-event__modal {
  display: flex;
  background:rgba(0,0,0, 0.8);
}

.swell-event__modal__content {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  margin: auto;
  width: 100%;
  height: 100%;

  &:focus {
    outline: none;
  }

  .prisma-zoom__wrapper {
    overflow: hidden;
    height: 80%;
    display: flex;
    margin: 66px 0px 0px 0px;
    justify-content: center;
  }
}

.swell-event__modal__buttons {
  display: flex;
  justify-content: center;
  margin: auto;

  .carousel-button-wrapper {
    margin: 4px;

    .carousel-button {
    padding: 0;
    border: 1px solid transparent;
    color: #E4E7ED;

      .MuiTouchRipple-root {
        color: rgba(255,255,255,0.2);
        margin-left: -1px;
      }

      &:not([disabled]):hover,
      &:focus {
        border-color: transparent;
        box-shadow: inset 0 0 0 1.5px white;
        color: white;

        circle {
          stroke: transparent;
        }
      }
    }

    .MuiButtonBase-root {
      pointer-events: all;

      &:disabled {
        cursor:not-allowed;

        path {
          fill: #424242;
        }
      }
    }
  }
}

.sl-swell-event__modal__button {
  pointer-events:all;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 2;

  &:focus, &:hover {
    svg {
      opacity: .8;
    }
  }
}
