.sl-swell-event-highlights {
  margin-bottom: 8px;
  padding: 16px 16px 24px 16px;
  background: color('white');
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.05);
  h6 {
    margin: 0 0 8px 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    position: relative;
    padding-left: 40px;
  }
}

.sl-swell-event-highlights__date {
  position: absolute;
  left: 0;
  top: 1px;
  font-size: 10px;
  text-transform: uppercase;
  color: color('black');
}

.sl-swell-event-highlights__highlight {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 0 16px 8px;
  text-decoration: none;
  border-left: 1px solid color('gray', 80);
  &:after {
    content: '';
    background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 11 11' xmlns='http://www.w3.org/2000/svg'><circle cx='5' cy='5' r='4' fill='white' stroke='black' stroke-width='1'/></svg>") no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    left: -4px;
    top: 3px;
  }
}

.sl-swell-event-highlights__time {
  font-size: 11px;
  color: color('blue-gray', 70);
  &:hover {
    text-decoration: none;
    color: color('blue-gray', 70);
  }
}

.sl-swell-event-highlights__title {
  font-size: 12px;
  text-decoration: none;
  color: color('gray', 80);
  &:hover {
    color: color('gray', 80);
    text-decoration: underline;
  }
}

.sl-swell-event-highlights__load-more {
  margin-left: 38.5px;
  font-size: 14px;
  color: color('dark-blue', 10);
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
