@import '../_mixins.scss';

.quiver-spot-list-item__container--mobile-card {
  width: 300px;
  height: 254px;
  margin: 10px;
  display: block;
  text-decoration: none;
  .quiver-surf-height {
    sup {
      vertical-align: baseline;
    }
  }
}

.quiver-spot-list-item {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.quiver-spot-list-item:hover {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
  -webkit-transform: translateY(-0.08in);
  transform: translateY(-0.08in);
}

.sl-top-spots {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  padding: 60px 0;
  background: color('light-blue', 5);
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  @media(min-width: $tablet-width) {
    padding: 85px 0 80px;
  }
  .sl-top-spots__title {
    @include sl-h4;
    text-transform: uppercase;
    text-align: center;
    max-width: 280px;
    margin: 0 auto;
    padding: 0 0 55px;
    white-space: normal;
    @media(min-width: $large-mobile) {
      max-width: 400px
    }
    @media(min-width: $tablet-width) {
      max-width: 650px;
      padding: 0 0 70px;
    }
  }
  &__container {
    position: relative;
    overflow: hidden;
    height: 300px;
    &__list {
      &::-webkit-scrollbar {
        display: none;
      }
      display: flex;
      flex-direction: row;
      width: calc(100% - 20px);
      height: 300px;
      margin: 0 auto -20px;
      padding: 5px 0;
      overflow-y: hidden;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      @media(min-width: $large-mobile) {
        width: calc(100% - 108px);
      }
      a {
        text-decoration: none;
      }
    }
  }
}
