@import '~@surfline/quiver-themes/stylesheets/common/_colors.scss';
@import '~@surfline/quiver-themes/stylesheets/common/_fonts.scss';
@import '../../styles/variables';

.totalResults {
  padding: 0 15px;

  @media(min-width: $tablet-width) {
    padding: 5px 92px;
  }
}

.headline {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;

  @media(min-width: $tablet-width) {
    font-size: 38px;
    line-height: 38px;
  }
}

.highlight {
  color: color('dark-blue', 10);
}
