@import '../../common/themes/main.scss';

.gift-payment-form-container {
  margin: 20px auto;
  span {
    color: color('gray', 80);
    font-size: 13px;
    font-family: $futura-dem;
    letter-spacing: 1.93px;
    display: block;
    margin-bottom: 10px;
  }
}
.checkout-form__container__digital_wallet__section {
  height: 1px;
  border: 1px solid rgb(210, 214, 217);
  margin: 10px;
}
.checkout-form__container__digital_wallet__button {
  border-radius: 5px;
  padding: 0px;
}
.stripe-card-element__wrapper {
  background: color('white');
  outline: 0;
}
.stripe-card-element__wrapper .StripeElement {
  display: block;
  margin: 0 0 20px 0;
  max-width: 500px;
  padding: 16px 14px;
  font-size: 1em;
  font-family: $source-sans-pro, 'Helvetica';
  border: 1px solid #d2d6d9;
  outline: 0;
  background: color('white');
}
.gift-payment-form-container .quiver-button {
  width:100%
}
