@import '../../styles/main.scss';

.sl-perks-aus-banner {
  background-color: color('black', 30);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  height: 289px;
  position: relative;
  overflow: hidden;
}

.sl-perks-aus-banner__header {
  font-family: $source-sans-pro;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.583px;
  text-align: center;
  color: color('white');
  margin: 0 16px;
}

.sl-perks__peace-sign {
  margin: 0 0 32px 0;
}

.sl-perks-aus-banner__gradient-background {
  background: radial-gradient(
    41.41% 62.03% at 50.05% 37.97%,
    rgba(255, 182, 0, 0.2) 0%,
    rgba(255, 182, 0, 0) 100%
  );
  position: absolute;
  width: 75%;
  height: 125%;
  bottom: 45%;
}
