.promotions-list__header {
  background-color: #036;
  padding: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.promotions-list__header__title {
  display: flex;
  justify-content: center;
  font-size: 32px;
  color: #fff;
  font-family: "Futura-Dem", Helvetica, sans-serif;
  margin-bottom: 16px;
}

.promotions-list__header__link {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  .quiver-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 50%;
  }
}

.promotions-list__container {
  width: auto;
  border-collapse: collapse;
  margin: 40px 16px;
  border-bottom: 80px solid #036;
}

.promotions-list__container
.promotions-list__container__heading {
  background: #036;
  .promotions-list__container__row:hover {
    background: #036;
    .promotions-list__container__cell {
      color: #fff;
    }
  }
}

.promotions-list__container
.promotions-list__container__heading
.promotions-list__container__cell {
  font-size: 15px;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
  justify-content: center;
  padding: 8px 0;
  &:first-of-type {
    border: none;
  }
}

.promotions-list__container
.promotions-list__container__heading
.promotions-list__container__heading_text:first-child {
  border-left: none;
}

.promotions-tabs {
  margin: 20px;
}
.promotions-tab--selected {
  background: #036;
  border-color: #aaa;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
}
