.perks-hero__container{
    margin: 0px 16px;
    border-bottom: 30px solid #036;
}
.perks-hero__form{
    display: flex;
    flex-direction: row;
}

.perks-hero__list {
    margin: 40px 9px;
    border-bottom: 0px;
}

.perks-hero-list__cell {
    &--brand {
        width:10%
    };
    &--img {
        width:50%
    };
    &--action, &--name {
        width:20%
    }
}
