.promo-code__container {
  margin-top: 24px;
  // height: 100vh;
  display: flex;
  justify-content: center;
}

.promo-code__container .quiver-alert {
  margin-bottom: 8px;
}

.promo-code__warning {
  width: 600px;
  padding: 24px;
  margin-bottom: 24px;
  background-color: #fff8e5; // orange-10
  color: #e9ae01; // oriange-60
  text-align: center;
}

.promo-code__info {
  width: 600px;
  padding: 24px;
  margin-bottom: 24px;
  background-color: #d9fbdd; // green-10
  color: #1eb62f; // green-60
  text-align: center;
}

.promo-code__error {
  width: 600px;
  height: auto;
  padding: 24px;
  margin-bottom: 24px;
  background-color: #fcbac1;
  color: #de485b;
  text-align: center;
}

.promo-code__info .promo-code__info__prefix {
  margin-top: 16px;
  h4 {
    margin: 8px 0 0 0;
    color: #1eb62f;
  }
}

.promo-code__container {
  .quiver-button {
    margin: 8px 0;
    width: 100%;
  }
}

.promo-code__download-link {
  margin: 8px 0;
  font-family: "Futura-Dem", Helvetica, sans-serif;
  background-color: #23d737;
  border: 2px solid #23d737;
  color: #FFFFFF;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  padding: 0 42px;
  transition: background 0.25s ease, border 0.25s ease;
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: #199927;
    border: 2px solid #199927;
  }
}