.promotions__form__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  .quiver-button {
    width: 48%;
  }
}

.promotions__select-type__header,
.promotion__create__header {
	background-color: #036;
	min-height: 120px;
  padding: 16px;
  display: flex;
  justify-content: center;
	flex-direction: column;
	margin-bottom: 24px;
}

.promotions__select-type__header__title,
.promotion__create__header__title {
  display: flex;
  justify-content: center;
  font-size: 32px;
  color: #fff;
  font-family: "Futura-Dem", Helvetica, sans-serif;
}

.promotions__select-type__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.promotions__select-type__link {
	display: flex;
	flex-direction: column;
	width: 600px;
	margin: 0 0 8px 0;
	height: auto;
	background-color: #036;
	border: 1px solid #036;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
	:hover {
		color: #333333;
		background-color: #FFF;
	}
}

.promotions__select-type__content {
	padding: 16px;
}

.promotions__select-type__name {
	font-size: 18px;
	font-weight: 600;
	span {
		margin-left: 8px;
		font-size: 12px;
		font-weight: normal;
		font-style: italic;
	}
}

.promotions__select-type__description {
	font-size: 14px;
}

.promotion__create__header {

}

.quiver-input input,
.quiver-text-area textarea {
  width: 100%;
}
