.container {
  padding: 0;
}

.promotion__container {
  width: 100%;
  margin-bottom: 24px;
}

.promotion__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #036;
}

.promotion__container .promotion__header .promotion__header__name {
  color: #fff;
  font-family: "Futura-Dem", Helvetica, sans-serif;
  font-size: 32px;
  margin-bottom: 12px;
}

.promotion__container .promotion__header__details {
  display: flex;
  margin-bottom: 16px;
}


.promotion__container .promotion__header .promotion__header__kind {
  display: flex;
  padding: 8px;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .4px;
  font-weight: bold;
  color: #555;
  width: fit-content;
  border-radius: 15px;
}

.promotion__container .promotion__header .promotion__header__brand {
  display: flex;
  width: 20px;
  border-radius: 50%;
  padding: 8px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  &--sl { background: #42A5FC; }
  &--bw { background-color: #557FA1; }
  &--fs { background-color: #67D3DF; }
  margin-right: 16px;
}

.promotion__container .promotion__property {
  display: flex;
}

.promotion__container .promotion__property div {
  padding: 8px;
  border-bottom: 1px solid #E6F3FF;
  &:first-child {
    background-color: #E6F3FF;
    color: #60737C;
    width: 20%;
  }
  &:last-child  {
    width: 80%;
  }
}

.promotion__button__container {
  display: flex;
}

.promotion__button__container .promotion__button--edit {
  margin-right: 16px;
}

.promotion__button__container .promotion__button--edit,
.promotion__button__container .promotion__button--codes {
  min-width: 292px;
  .quiver-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}

.promotion__button--remove {
  margin: 24px;
  display: flex;
  justify-content: center;
  .quiver-button {
    width: 50%;
    background-color: #FA5065;
    border: #FA5065;
    &:hover {
      background-color: #C34151;
    }
  }
}
