.promotion-item__container {
  display: flex;
}

.promotions-list__container__cell {
  font-size: 15px;
	color: #333333;
	width: 180px;
	justify-content: center;
	display: flex;
	padding: 8px 0;
	&--brand, &--status, &--redemptions {
		// width: 100px;
	}
}

.promotions-list__container__cell--actions {
	display: inline-flex;
	justify-content: center;
}

.promotions-list__container__row {
	padding: 0 4px;
  display: flex;
  justify-content: space-evenly;
	align-items: baseline;
	text-decoration: none;
	cursor: pointer;
	&:nth-child(even) {
		background-color: #E6F3FF;
	}
	&:hover {
		background-color: #B5DBFC;
		.promotions-list__container__cell {
			color: #333333;
		}
	}
}

.promotions-list__container__cell--actions
.quiver-button {
	padding: 0;
	height: auto;
	margin-right: 8px;
	display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  color: #52A9F9;
  border: none;
  &:active {
    background-color: #EA686D;
    color: #fff
	}
	&:hover, &:focus {
		background-color: transparent;
		color: #52A9F9;
		border: none;
	}
}