@import '../../styles/variables';

.subregionHeader {
  display: none;
  background-color: color('white');
  box-shadow: 0 1px 5px rgba(0, 0, 0, 15%);
  width: calc(100% - 20px);
  height: 32px;
  padding: 14px 20px;
  margin: 0 0 10px -10px;
}

.subregionHeaderMap {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 132px;
  height: 20px;
  padding: 5px;
  border-radius: 2px;
  z-index: 99;
}

@media (min-width: $medium-width) {
  .subregionHeader {
    display: inline-block;
  }

  .subregionHeaderMap {
    display: none;
  }
}
