#!/bin/env python2.6

# 1) Generate .cfm files from http request
# 2) Copy .cfm files to working directory
# 3) Create server-specific versions of index_free_static.cfm
# 4) Deploy to production
# 5) Write to log

import httplib
import logging
import os
import re
import shutil
import smtplib
import subprocess
import sys

import boto
from boto import regioninfo
from boto import ec2

reload(sys)
sys.setdefaultencoding('utf8')

logging.basicConfig(level=logging.DEBUG,
                    format='%(asctime)s %(levelname)8s %(message)s',
                    filename='/opt/coldfusion8/logs/homepage-deploy-aws.log',
                    filemode='a+')

ACCESS_KEY_ID = 'AKIAJT2YQAZX62QSYUYQ'
SECRET_ACCESS_KEY = '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'

# Get aws production servers
ec2_region = ec2.get_region(
    aws_access_key_id=ACCESS_KEY_ID,
    aws_secret_access_key=SECRET_ACCESS_KEY,
    region_name='us-west-1')

ec2_connection = boto.ec2.connection.EC2Connection(
    aws_access_key_id=ACCESS_KEY_ID,
    aws_secret_access_key=SECRET_ACCESS_KEY,
    region=ec2_region)

reservations = ec2_connection.get_all_instances(filters={"tag:type":"coldfusion-app","tag:Environment":"<%= @environment %>"})
instances = [i for r in reservations for i in r.instances]
servers = [i.private_ip_address for i in instances]

rsync = '/usr/bin/rsync'
rsync_module = 'surfline'
rsync_user = 'surfline'
rsync_password = 'deployme'

email_to = 'error@surfline.com'
email_from = 'error@surfline.com'
email_subject = 'Homepage generation error'

working_dir = "/tmp/homepage_deploy_aws"
prod_dir = "/var/www/sites/public-prod/home"
prem_hp_filename = "index_premium_static.cfm"
free_hp_filename = "index_free_static.cfm"
hp_gen_host_short = "sljobs02"

hp_gen_host_long = hp_gen_host_short + ".surflinedc.tld"
prem_hp_gen_url = "http://" + hp_gen_host_long + "/home/save_static_home_premium.cfm"
free_hp_gen_url = "http://" + hp_gen_host_long + "/home/save_static_home.cfm"


def init_working_dir():
    if not os.path.isdir(working_dir):
        print "Creating temp directory..."
        os.mkdir(working_dir, 755)
    else:
        print "Cleaning temp directory..."
        for file in os.listdir(working_dir):
            file_path = os.path.join(working_dir, file)
            try:
                if os.path.isfile(file_path):
                    os.unlink(file_path)
            except Exception as e:
                print(e)

def gen_homepage():
    print "Generating .cfm files from http request..."
    hp_gen_failed = False
    error_message = ""
    try:
        http = httplib.HTTPConnection("localhost", 80)
        http.request("GET", prem_hp_gen_url, headers={})
        response = http.getresponse()
        if response.status == 200:
            response_text = response.read()
            if not re.compile("Success").search(response_text, 1):
                hp_gen_failed = True
                error_message = "Server response did not contain Success"
        http.request("GET", free_hp_gen_url, headers={})
        response = http.getresponse()
        if response.status == 200:
            response_text = response.read()
            if not re.compile("Success").search(response_text, 1):
                hp_gen_failed = True
                error_message = "Server response did not contain Success"
        http.close()
    except httplib.HTTPException:
        hp_gen_failed = True
        if "strerror" in httplib.HTTPException:
            error_message = "httplib.HTTPException: " + str(
                httplib.HTTPException.strerror)

    if hp_gen_failed:
        print "Regeneration failed"
        logging.error("homepage regeneration failed - " + error_message)
        send_error_email("Homepage regeneration failed - " + error_message)
        sys.exit()


def copy_to_working_dir():
    print "Copying .cfm files to working directory..."
    shutil.copyfile(prod_dir + "/" + free_hp_filename,
                    working_dir + "/" + free_hp_filename)
    shutil.copyfile(prod_dir + "/" + prem_hp_filename,
                    working_dir + "/" + prem_hp_filename)


def customize_for_servers():
    print "Creating server-specific versions of index_free_static.cfm..."
    free_hp_file = working_dir + "/" + free_hp_filename
    with open(free_hp_file) as fp:
        free_hp_content = fp.read()
    re_longhost = re.compile(hp_gen_host_long)
    re_shorthost = re.compile(hp_gen_host_short)
    for server in servers:
        if server:
            free_hp_content_by_server = re_longhost.sub(server, free_hp_content)
            shorthost = server.replace('.surflinedc.tld', '')
            free_hp_content_by_server = re_shorthost.sub(shorthost, free_hp_content_by_server)
            free_hp_file = open(working_dir + "/" + server + "_" + free_hp_filename, "w")
            free_hp_file.write(free_hp_content_by_server)
            free_hp_file.close()


def deploy_to_production():
    print "Deploying to production..."
    os.environ['RSYNC_PASSWORD'] = rsync_password
    for server in servers:
        if server:
            # free
            proc = subprocess.Popen(
                [rsync, "-v", "--timeout=30", "--contimeout", "10",
                 working_dir + "/" + server + "_" + free_hp_filename,
                 rsync_user + '@' + server + '::' +
                 rsync_module + "/home/" + free_hp_filename],
                cwd=working_dir, stdout=subprocess.PIPE, close_fds=True)
            print proc.communicate()[0]

            # premium
            proc = subprocess.Popen(
                [rsync, "-v", "--timeout=30", "--contimeout", "10",
                 working_dir + "/" + prem_hp_filename,
                 rsync_user + '@' + server + '::' +
                 rsync_module + "/home/" + prem_hp_filename],
                cwd=working_dir, stdout=subprocess.PIPE, close_fds=True)
            print proc.communicate()[0]


def log_generation():
    print "Writing to log..."
    logging.info("homepage generation and deploy")


def send_error_email(message):
    server = smtplib.SMTP('localhost')
    server.set_debuglevel(1)
    msg = ("From: %s\r\nTo: %s\r\nSubject: %s\r\n\r\n%s\r\n" % (
        email_from, email_to, email_subject, message))
    server.sendmail(email_from, email_to, msg)
    server.quit()


def main():
    init_working_dir()
    gen_homepage()
    copy_to_working_dir()
    customize_for_servers()
    deploy_to_production()
    log_generation()


if __name__ == '__main__':
    main()
