.sl-am-pm {
  &__text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: color('white');
    text-transform: uppercase;
    font-family: $futura-dem;
    font-size: 9px;
    letter-spacing: .9px;
  }
}

@each $condition, $colors in $__sl-condition-color-map {
  $defaultColor: map-get($colors, 'default');

  .sl-am-pm--#{$condition} {
    width: 35px;
    display: inline-block;
    float: left;
    border-bottom: 1px solid color('blue-gray', 10);
    background-color: $defaultColor;
    height: 195px;
    @media(min-width: $large-mobile) {
      height: 145px;
    }
    @media(min-width: $medium-width) {
      height: 195px;
    }
    @media(min-width: $desktop-width) {
      height: 145px;
    }
  }
}
