.sl-bets {
  margin: 8px 0;
  
  @media(min-width: $desktop-small) {
    margin-bottom: 24px;
  }

  .sl-best-bet-label, .sl-worst-bet-label {
    margin-right: 8px;
  }
}

.sl-bets__header {
  margin: 0;
  font-family: $source-sans-pro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: color('blue-gray', 70);
}

.sl-bets__bet {
  margin: 0;
  display: flex;
  flex-direction: column;

  font-family: $source-sans-pro;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: color('gray', 90);

  &--worst, &--best {
    margin-top: 8px;
  }

  ul {
    margin: 0;
    padding-left: 18px;
    
    li {
      margin: 4px 0;
      color: color('gray', 90);
    }
  }

  @media(min-width: $tablet-large) {
    flex-direction: row;
  }
}
