ul.sl-breadcrumbs {
  font-size: 12px;
  letter-spacing: 0.3px;
  padding: 0;
  margin: 0;
  li {
    &:after { content: ' / ' }
    &:last-child:after { content: '' }
    display: inline;
    a {
      color: color('white');
      font-weight: normal;
      text-decoration: none;
    }
  }
}
