@import '../../styles/_variables.scss';

.sl-buoys-header {
  width: 100%;
  position: relative;
  background-color: color('white');
  margin: 0 0 8px 0;
}

.sl-buoys-header__main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid color('light-blue', 5);
}

.sl-buoys-header__main__title {
  width: calc(100% - 70px);
  padding: 16px;
  font-size: 18px;
  line-height: 20.7px;
  letter-spacing: 0.5px;
  font-family: $futura-surfline;
  color: color('gray', 90);
  margin: 0;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .sl-buoys-header {
    margin: 0 0 22px 0;
  }
}

@media (min-width: $tablet-large) {
  .sl-buoys-header__main {
    padding: 24px 0;
    border: none;
  }

  .sl-buoys-header__main__title {
    width: calc(100% - 150px);
    padding: 0;
    font-size: 32px;
    line-height: 36.8px;
  }
}
