.sl-button-nav {
  display: none;
  @media(min-width: $tablet-width) {
    display: block;
    width: 100%;
    padding: 0 18px;
  }
  @media(min-width: $tablet-large) {
    padding: 0;
  }
  &__link {
    display: inline-block;
    margin: 0 8px 16px 0;
    padding: 5px 16px;
    border: 1px solid color('dark-blue', 10);
    font-family: $source-sans-pro;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .4px;
    text-decoration: none;
    color: color('dark-blue', 10);
    &:hover, &--active {
      color: color('white');
      background: color('dark-blue', 10);
    }
  }
}
