.sl-cam-list-item-spot-info {
  .quiver-surf-height {
    padding-top: 2px;
    color: color('white');
    font-size: 16px;
    display: block;
  }
}

.sl-cam-list-item-spot-info__name {
  font-family: $futura-dem;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: color('white');
}

.sl-cam-list-item-spot-info__conditions {
  display: inline-block;
  margin-right: 5px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  &--expired {
    background-color: color('gray', 55) !important;
  }
}

@each $condition, $colors in $__sl-condition-color-map {
  .sl-cam-list-item-spot-info__conditions--#{$condition} {
    background-color: map-get($colors, default);
  }
}

@each $condition, $colors in $sl-condition-color-map-v2 {
  .sl-cam-list-item-spot-info__conditions-v2--#{$condition} {
    background-color: map-get($colors, default);
  }
}
