.sl-cam-list-item {
  width: 160px;
  height: 90px;
  display: flex;
  flex-flow: column;
  background-repeat: no-repeat;
  background-size: 160px 90px;

  .quiver-play-marker {
    height: 20px;
    width: 20px;
  }
  
  .sl-cam-list-item__details {
    padding: 0px 8px 4px 8px;
    color: color('white');
    flex: 0 1 0px;
    align-items: flex-end;
    background: linear-gradient(0deg, rgba(0,0,0,.7), rgba(0,0,0,0));
    &:hover {
      .sl-cam-list-item-spot-info__name, .quiver-surf-height, sup {
        text-decoration: none;
        color: color('white');
      }
    }
  }
}

.sl-cam-list-item__top-container {
  padding: 6px 8px;
  flex: 1 1 auto;

  .sl-play-marker {
    float: left;
    width: 24px;
    height: 24px;
  }
  .quiver-multi-cam-icon-with-text {
    float: right;
    margin-top: 6px;
    &__icon {
      fill: color('white');
    }
  }
}

@each $condition, $colors in $__sl-condition-color-map {
  .sl-cam-list-item__conditions--#{$condition} {
    background-color: map-get($colors, default);
  }
}