.sl-cam-list, .sl-cam-list__error {
  display: none;
}

@media (min-width: $tablet-large) {
  .sl-cam-list {
    display: block;
    width: 100%;
    height: 90px;
  }

  .sl-cam-list__spots {
    display: flex;
    float: left;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    width: calc(100% - 68px);
  }

  .sl-cam-list__spots__ref {
    display: inline-flex;
  }

  .sl-cam-list__error {
    display: block;
    width: calc(100% - 40px);
    height: 60px;
    padding: 20px;
    margin: 1px 0px 10px 0px;
    background: color('light-blue', 10);
    color: color('light-blue', 50);
    text-align: center;

    &--title {
      font-size: 18px;
      font-family: $futura-dem;
      margin-bottom: 10px;
    }

    &--message {
      font-size: 14px;
      font-family: $source-sans-pro;
      letter-spacing: 0px;
    }
  }
}
