.sl-cam-list-cta-item__still {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background-size: cover;
}

.sl-cam-list-cta-item__content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 29, 56, 0.6);
  padding: 8px 8px 4px 8px;
  box-sizing: border-box;
}

.sl-cam-list-cta-item {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 144px;
  height: 78px;
  padding: 8px 8px 4px 8px;
}

.sl-cam-list-cta-item__indicator {
  flex: 1 1 auto;
  .quiver-multi-cam-icon-with-text {
    float: right;
    margin-top: 4px;
    &__icon {
      fill: color('white');
    }
  }
}
.sl-cam-list-cta-item__spot-details {
  color: color('white');
  flex: 0 1 0px;
  align-items: flex-end;
  &:hover {
    .sl-cam-list-item-spot-info__name, .quiver-surf-height, sup {
      text-decoration: none;
      color: color('white');
    }
  }
}