.sl-cam-list-link {
  display: block;
  text-decoration: none;
  margin: 0px 1px 0px 0px;
  .quiver-surf-height {
    sup {
      vertical-align: baseline;
    }
  }
}

@media (min-width: $medium-width) {
  .sl-cam-list-link {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .sl-cam-list-link--active {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 20px 30px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    -webkit-transform: translateY(-0.08in);
    transform: translateY(-0.08in);
  }
}