.sl-cam-selector-menu {
  display: block;
  position: relative;
  z-index: 5;
}

.sl-cam-selector-menu__contents {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: zindex('forecast-header-menu--mobile');
  background-color: color('white');

  &--open {
    display: block;
  }

  &--closed {
    display: none;
  }
}


.sl-cam-selector-menu__selectors {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: color('gray', 90);
  text-transform: uppercase;

  &:hover {
    color: color('dark-blue', 10);

    .quiver-chevron {
      stroke: color('dark-blue', 10);
    }
  }
}

.sl-cam-selector-menu__header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 16px;
  color: color('gray', 90);
  line-height: 38px;
  border-bottom: 1px solid color('light-blue', 5);
}

.sl-cam-selector-menu__header__title {
  font-family: $futura-surfline;
  font-size: 18px;
  letter-spacing: 0.2px;
}

.sl-cam-selector-menu__cameras {
  padding: 0 16px;
}

.sl-cam-selector-menu__cameras {
  background-color: color('white');
}

.sl-cam-selector-menu__camera-item {
  cursor: pointer;
  display: block;
  font-size: 18px;
  border-bottom: 1px solid #F2F7F9;
  text-decoration: none;
  color: #333333;
  padding: 16px 0;
}

.quiver-cam-view-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;
  color: white;

  .quiver-cam-view-selector__option {
    @media (max-width: $tablet-large) {
      > span {
        display: none;
      }
    }
  }
}

.sl-cam-selector-menu__camera-icon {
  margin-left: 8px;
  padding-right: 32px;
  display: inline;
}

.sl-single-cam-icon {
  .sl-single-cam-icon_red-dot {
    display: none;
  }
  &--primary {
    .sl-single-cam-icon_red-dot {
      display: block;
    }
  }
}

.sl-cam-selector-menu__camera-item:hover {
  .sl-primary-rect {
    fill: color('dark-blue', 10);
  }
  .sl-single-cam-icon_red-dot {
    display: block;
  }
}

.sl-cam-selector-menu__triangle {
  display: none;
}

@media (min-width: $tablet-large) {
  .quiver-cam-view-selector {
    align-items: flex-start;
  }

  .sl-cam-selector-menu__selectors {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 2;
  }

  .sl-cam-selector-menu__triangle {
    background-color: color('white');
    transform: rotate(45deg);
    top: -2px;
    left: 19px;
    position: absolute;
    width: 18px;
    height: 14px;
    z-index: -1;
    display: block;
  }

  .sl-cam-selector-menu__contents {
    position: absolute;
    top: 57px;
    width: unset;
    height: unset;
    overflow-y: visible;
    border-top: 9px transparent solid;
    background-clip: padding-box;
    &:hover {
      display: block;
    }
  }
  .sl-cam-selector-menu__contents--single {
    left: 10px;
  }
  .sl-cam-selector-menu__contents--multi {
    left: 65px;
  }
  .sl-cam-selector-menu__camera-item {
    font-size: 14px;
    padding: 8px 0;
    border: none;
  }
  .sl-cam-selector-menu__header {
    display: none;
  }
  .sl-cam-selector-menu__cameras {
    padding: 8px 16px;
  }
  .quiver-cam-view-selector__option {
    margin-bottom: 16px;
  }
}