.sl-chart-menu {
  display: none;
  margin: 24px 0 0;
  background-color: color('white');
  overflow-y: scroll;
  overflow-x: hidden !important;
  @include module-shadow;
  h5 {
    margin: 0;
    padding: 0 16px;
    font-family: $source-sans-pro;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    color: color('blue-gray', 80);
  }
}

.sl-chart-menu__title {
  display: none;
}

.sl-chart-menu-container {
  padding-bottom: 50px;
}

.sl-chart-menu__block {
  margin: 32px 0 0;
}

.sl-chart-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sl-chart-menu__list__item {
  position: relative;
  width: 100%;
  display: flex;
  border-bottom: 1px solid color('blue-gray', 10);
  color: color('gray', 90);
  cursor: pointer;
  a {
    text-decoration: none;
    color: color('gray', 90);
    padding: 12px 16px;
    flex: 1;
  }
  &:first-child {
    border-top: 1px solid color('blue-gray', 10);
  }
  &:hover {
    color: color('dark-blue', 10);
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 4px;
      height: 100%;
      background: color('dark-blue', 10);
    }
  }
}

.sl-chart-menu__list__item--active {
  color: color('white');
  border-bottom: 1px solid color('dark-blue', 10);
  background: color('dark-blue', 10);
  a {
    color: color('white') !important;
  }
}

.sl-chart-menu__link {
  flex: 1;
  padding: 0 16px;
  margin: 16px 0;
  a {
    display: block;
    color: color('dark-blue', 10);
    text-decoration: none;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.quiver-scrollbar__scroll-thumb {
  display: none;
}

.sl-chart-menu--open {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  overflow: scroll;
  z-index: 200;
  .sl-chart-menu__title {
    display: flex;
    position: relative;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid color('blue-gray', 10);
    padding: 23px;
    span {
      flex: 1;
      text-align: center;
      font-family: $futura-dem;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.4px;
      color: color('gray', 90);
    }
    svg {
      position: absolute;
      top: 16px;
      right: 16px;
      cursor: pointer;
    }
  }
  .sl-chart-menu__list__item {
    font-size: 18px;
  }
  .sl-chart-menu__link a {
    font-size: 18px;
  }
}

@media (min-width: $tablet-large) {
  .sl-chart-menu {
    display: block;
    height: 912px;
    padding: 0;
    overflow: hidden;
  }
  .quiver-scrollbar__scroll-thumb {
    display: block;
  }
  .sl-chart-menu__title {
    display: none;
  }
  .sl-chart-menu__block {
    margin: 0;

    .sl-chart-menu__block__title {
      display: flex;
      align-items: center;
      border-bottom: 1px solid color('blue-gray', 20);
      padding: 8px 0 8px;
      width: 100%;

      .sl-chevron-box {
        margin: 0 8px 0 16px;
        background-color: color('light-blue');
      }

      h5 {
        padding: 0;
        font-size: 16px;
        font-weight: 600;
        color: color('gray', 90);
      }
    }

    &--active {
      .sl-chevron-box {
        background-color: color('dark-blue', 10) !important;
      }
      
      h5 {
        color: color('dark-blue', 10) !important;
      }
    }
  }
  .sl-chart-menu__list__item {
    width: 100%;
    background-color: color('blue-gray', 20);
    border-bottom: 1px solid color('white');
    border-top: unset !important;
    a {
      text-decoration: none;
      color: color('gray', 90);
    }
  }
  .sl-chart-menu__list__item--active {
    color: color('white');
    background: color('dark-blue', 10);
    a {
      color: color('white') !important;
    }
  }
  .sl-chart-menu__link {
    display: block;
    background: transparent;
    height: 16px;
  }
}

@media (min-width: $desktop-small) {
  .sl-chart-menu {
    height: 962px;
  }
}
 @media (min-width: $desktop-large) {
  .sl-chart-menu {
    height: 1247px;
  }
}