.sl-chart-range-selector-cta {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 176px;
  height: 100%;
  width: 1288px;
  padding: 0 0 0 24px;
  background-image: $swell-lines;
  background-size: cover;
  background-color: rgba(1, 29, 56, .925);
  -ms-background-color: rgba(1, 29, 56, 1);
  z-index: 3;

  &--variant-1, &--variant-2 {
    .sl-chart-range-selector-cta__text {
      margin-left: 24px;
    }
  }
  &--variant-2 {
    cursor: pointer;
  }
}

.sl-chart-range-selector-cta__text {
  font-family: $source-sans-pro;
  font-size: 14px;
  color: color('white');
  margin: 0 16px 0 0;
}

.sl-chart-range-selector-cta__action__link {
  background-color: color('green', 50);
  padding: 12px 16px 12px 16px;
  text-decoration: none;
  cursor: pointer;
  color: color('white') !important;
  font-weight: 600;
  font-family: $futura-surfline;
  font-size: 14px;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  &:hover {
    color: color('white');
    background-color: color('green', 70);
    text-decoration: none;
  }
}

@media (min-width: $tablet-large) {
  .sl-chart-range-selector-cta {
    display: none;
  }
}
