.sl-chart-range-selector {
  white-space: nowrap;
  overflow-x: auto;
  position: relative;
}

.sl-chart-range-selector__range {
  width: 88px;
  height: 80px;
  background-color: color('blue-gray', 20);
  color: color('blue-gray', 70);
  vertical-align: top;
  border-radius: 0;
  position: relative;
  mix-blend-mode: multiply;

  &--active {
    background-color: color('white');
  }

  &:disabled {
    cursor: default;
  }
}

@media (min-width: $tablet-large) {
  .sl-chart-range-selector {
    display: flex;
    justify-content: center;
  }

  .sl-chart-range-selector__ranges {
    display: flex;
    border-radius: 3px;
    border: 1px solid color('blue-gray', 20);
  }

  .sl-chart-range-selector__range {
    width: 64px;
    height: 32px;
    border: 1px solid color('blue-gray', 20);
    font-size: 14px;
    font-weight: 600;
    background-color: color('white');
    color: color('gray', 90);
    border-right: none;
    position: unset;
    mix-blend-mode: unset;

    &:hover {
      background-color: color('blue-gray', 10);
    }

    &--active {
      border: 1px solid color('dark-blue', 10);
      background-color: color('dark-blue', 10);
      color: color('white');

      &:hover {
        background-color: color('dark-blue', 10);
      }
    }

    &:disabled {
      color: color('blue-gray', 70);

      &:hover {
        background-color: color('white');
      }
    }

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:nth-last-child(2) {
      border-right: 1px solid color('blue-gray', 20);
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}
