@import '@surfline/quiver-themes/stylesheets/surfline/mixins/dualConditions';
@import '@surfline/quiver-themes/stylesheets/surfline/mixins/dualConditionsV2';

.sl-chart-mobile-day {
  position: relative;
  z-index: 2;
  height: 100%;
  border-right: 1px solid color('white');
  &--blurred {
    filter: blur(6px);
  }
}

.sl-chart-mobile-day__day {
  margin-bottom: 8px;
  font-family: $futura-surfline;
  font-size: 14px;
}

.sl-chart-mobile-day__surf-height {
  font-family: $source-sans-pro;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: lowercase;
  color: color('gray', 80);
}

.sl-chart-range-selector__range--active {
  .sl-chart-mobile-day__surf-height {
    color: color('black');
  }
}

.sl-chart-mobile-day__conditions {
  margin-bottom: 8px;
  height: 8px;
}

@include dual-conditions(sl-chart-mobile-day__condition, 8);
@include dual-conditionsV2(sl-chart-mobile-day__condition-v2, 8);
