$scrubberHeight: 40px;

.sl-chart-scrubber-mobile {
  width: 100%;
}

.sl-chart-scrubber-mobile__scrubber-controls {
  height: $scrubberHeight;
  width: 100%;
  overflow: hidden;
}

.sl-chart-scrubber-mobile__scrubber-controls__drag {
  height: 55px;
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
  position: relative;
}

.sl-chart-scrubber-mobile__scrubber-controls__drag__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  background: color('gray', 20);
}

.sl-chart-scrubber-mobile__scrubber-controls__drag__list__paywall {
  height: $scrubberHeight;
  overflow: hidden;
  background: color('dark-blue', 90);
  background-image: $swell-lines;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  cursor: grab;
  // This is for when the paywall is dynamically set too narrow due to too few timesteps.
  min-width: 400px !important;
}

.sl-chart-scrubber-mobile__scrubber-controls__drag__list__paywall__content {
  font-family: $futura-surfline;
  text-align: center;
  padding-top: 8px;
  p {
    color: color('white');
    margin: 0;
    font-size: 14px;
    a {
      margin-left: 10px;
      text-decoration: none;
      color: color('green', 50);
      &:hover {
        color: color('green', 70);
      }
    }
  }
}

.sl-chart-scrubber-mobile__scrubber-controls__drag__list__item {
  flex: 1;
  height: $scrubberHeight;
  min-width: 26px;
  max-width: 26px;
  background-color: color('blue-gray', 40);
  cursor: grab;
  &:nth-child(even) {
    background-color: color('blue-gray', 20);
  }
}

.sl-chart-scrubber-mobile__scrubber-controls__drag__list__item--active {
  background-color: color('dark-blue', 10)!important;
}

.sl-chart-scrubber-mobile__scrubber-controls__drag__list__item--paywalled {
  background: color('dark-blue', 90) !important;
}

.sl-chart-scrubber-mobile__date {
  position: relative;
  display: flex;
  height: 32px;
  margin: 1px 0;
  background-color: color('dark-blue', 10);
  color: color('white');
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  z-index: 100;
}

.sl-chart-scrubber-mobile__controls {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: color('dark-blue', 30);

  .sl-rewind-icon {
    margin: 0 16px;
  }
}

.sl-chart-scrubber-mobile__down-pointer {
  position: absolute;
  bottom: -15px;
  left: 26px;
}
  