@import "~@surfline/quiver-themes/stylesheets/surfline/mixins/aspectRatio.scss";

.sl-chart-player {
  display: flex;
  flex-flow: column;
  width: calc(100% - 32px);
  margin: 0;
  padding: 0 16px 16px;
  background-color: color('white');
  @include module-shadow;
  h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
  h5 {
    margin: 0;
    padding-top: 16px;
    font-family: $source-sans-pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: .5px;
    color: color('blue-gray', 80);
  }
  .quiver-spinner {
    align-self: center;
    margin: 0 auto;
  }
}

.sl-chart-player__container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sl-chart-player__title {
  display: flex;
  flex-flow: column;
  padding: 8px 0 16px;
  cursor: pointer;
  .quiver-chevron {
    margin-left: 8px;
  }
}

.sl-chart-player__title__subtitle {
  color: color('gray', 55);
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.3px;
  margin: 0 0 8px 0;
}

.sl-chart-player__title__name {
  display: flex;
  align-items: center;
  h3 {
    font-size: 18px;
  }
}

.sl-chart-player__paywall {
  @include aspect-ratio(193,119);
  background: color('dark-blue', 90);
  background-image: $swell-lines;
  background-repeat: no-repeat;
  background-size: cover;
}

.sl-chart-player__paywall__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sl-chart-player__paywall__content__left:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 1254px) {
  .sl-chart-player__paywall__content {
    padding: 25px;
  }

  .sl-chart-player__paywall__content__left {
    width: 100%;
  }

  .sl-chart-player__paywall__content__left__chart-icon {
    float: left;
    margin-bottom: 9px;
    svg {
      width: 32px;
      height: 32px;
    }
  }

  h4.sl-chart-player__paywall__content__left__callout-text {
    width: 238px;
    height: 48px;
    font-family: $futura-surfline;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.5px;
    float: left;
    clear: left;
    color: color('white');
    margin: 0;
  }

  .sl-chart-player__paywall__content__left__go-premium {
    background-color: color('green', 50);
    float: left;
    clear: left;
    margin-top: 15px;
    overflow: hidden;
    cursor: pointer;
    padding: 15px 10px 11px;
  }

  .sl-chart-player__paywall__content__left__go-premium__text {
    font-family: $futura-surfline;
    font-size: 14px;
    letter-spacing: 2.3px;
    color: color('white');
    text-transform: uppercase;
  }
  .sl-chart-player__paywall__content__left__go-premium__arrow {
    display: none;
  }

  .sl-chart-player__paywall__content__right {
    display: none;
  }

  .sl-chart-player__paywall__content__right__learn-more {
    display: none;
  }
}

@media (min-width: 1255px) {
  .sl-chart-player__paywall__content {
    padding: 60px;
  }
  
  .sl-chart-player__paywall__content__left {
    width: calc(57% - 30px);
    float: left;
  }
  
  .sl-chart-player__paywall__content__left__chart-icon {
    float: left;
    margin-right: 35px;
    margin-bottom: 30px;
  }
  
  h4.sl-chart-player__paywall__content__left__callout-text {
    width: 325px;
    height: 98px;
    font-family: $futura-surfline;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: color('white');
    margin: 0;
    position: relative;
    top: -10px;
    float: left;
  }
  
  .sl-chart-player__paywall__content__left__go-premium {
    width: 272px;
    height: 200px;
    background-color: color('green', 50);
    float: left;
    margin-top: 85px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  
  .sl-chart-player__paywall__content__left__go-premium__text {
    width: 138px;
    height: 96px;
    font-family: $futura-surfline;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 1.4px;
    text-align: left;
    color: color('white');
    text-transform: uppercase;
    margin: 35px 25px;
  }
  
  .sl-chart-player__paywall__content__left__go-premium__arrow {
    position: absolute;
    right: 60px;
    bottom: 25px;
    display: block;
  }
  
  .sl-chart-player__paywall__content__right {
    width: calc(43% - 30px);
    float: left;
    display: flex;
    height: 383px;
  }
  
  .sl-chart-player__paywall__content__right__learn-more {
    display: block;
    color: color('white');
    align-self: flex-end;
    height: 14px;
    font-family: $futura-dem;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-align: left;
    a {
      color: color('white');
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.sl-chart-player__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
}

.sl-chart-player__list__item {
  flex: 1 0 100%;
  order: 2;
  @include aspect-ratio(193,119);
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.sl-chart-player__list__item--active {
  order: 1;
}

.sl-chart-player__mobile-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
}

.sl-chart-player__mobile-cta_copy {
  color: color('gray', 90);
  font-size: 16px;
  letter-spacing: 0;
  margin: 0;
}

.sl-chart-player__mobile-cta_copy--link {
  color: color('green', 50);
  text-decoration: none;

  &:visited {
    text-decoration: none;
    color: color('green', 50);
  }
  &:active { 
    text-decoration: none;
    color: color('green', 70);
  }
}

@media (min-width: $tablet-large) {
  .sl-chart-player {
    margin-top: 24px;
    padding: 16px;
    height: 880px;
    h5 {
      padding-top: 0;
    }
  }
  .sl-chart-player__title {
    cursor: default;
    .quiver-chevron {
      display: none;
    }
  }

  .sl-chart-player__title__name {
    h3 {
      font-size: 24px;
    }
  }

  .sl-chart-player__legend {
    order: 1;
    border-top: 1px solid color('white');
  }

  .sl-chart-scrubber-mobile {
    display: none;
  }
  .sl-chart-scrubber {
    display: block !important;
  }

  .sl-chart-player__mobile-cta {
    display: none;
  }
}

@media (min-width: $desktop-small) {
  .sl-chart-player {
    height: 930px;
  }
}
 @media (min-width: $desktop-large) {
  .sl-chart-player {
    height: 1215px;
  }
}
