$scrubberHeight: 48px;

.sl-chart-scrubber {
  width: 100%;
  display: none;
}

.sl-chart-scrubber__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.sl-chart-scrubber__list__paywall {
  height: $scrubberHeight;
  background: color('dark-blue', 90);
  background-image: $swell-lines;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}

.sl-chart-scrubber__list__paywall__content {
  font-family: $futura-surfline;
  text-align: center;
  padding-top: 12px;
  p {
    color: color('white');
    margin: 0;
    font-size: 14px;
    a {
      margin-left: 10px;
      text-decoration: none;
      color: color('green', 50);
      &:hover {
        color: color('green', 70);
      }
    }
  }
}

.sl-chart-scrubber__list__item {
  flex: 1;
  height: $scrubberHeight;
  background-color: color('blue-gray', 40);
  cursor: pointer;
  &:nth-child(even) {
    background-color: color('blue-gray', 20);
  }
}

.sl-chart-scrubber__list__item--active {
  background-color: color('dark-blue', 10)!important;
}

.sl-chart-scrubber__list__item--paywalled {
  background: color('dark-blue', 90) !important;
}

.sl-chart-scrubber__date {
  position: relative;
  display: flex;
  height: 32px;
  margin: 1px 0;
  background-color: color('dark-blue', 10);
  color: color('white');
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
}

.sl-chart-scrubber__controls {
  position: absolute;
  top: 0;
  right: 0;
  width: 163px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: color('dark-blue', 30);

  .sl-rewind-icon {
    margin: 0 24px;
  }
}
