@mixin navItem() {
  display: block;
  padding: 12px 16px;
  font-family: $source-sans-pro;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .4px;
  text-decoration: none;
  text-align: center;
  color: color('dark-blue', 10);
  &:hover {
    color: color('white');
    background: color('dark-blue', 10);
  }
}

.sl-dropdown-nav {
  display: block;
  width: calc(100% - 24px);
  margin: 0 auto 16px;
  border: 1px solid color('dark-blue', 10);
  cursor: pointer;
  @media(min-width: $tablet-width) {
    display: none;
  }
  &__active {
    @include navItem();
    min-height: 14px;
    position: relative;
    svg {
      position: absolute;
      right: 8px;
    }
  }
  &__menu {
    display: none;
    &--open {
      display: block;
    }
    &__item {
      @include navItem();
    }
  }
}
