@import '../_variables.scss';

@mixin condition($color) {
  background-color: $color;
  border: none;
}

.sl-favorites a:hover .sl-favorite,
.sl-favorites a:active .sl-favorite {
  background: color('light-blue', 5);
}

.sl-favorite {
  position: relative;
  @include paragraph;
  padding: 25px 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid color('gray', 30);
  font-size: 21px;
  font-weight: 400;
  &__wrapper {
    float: left;
    width: 100%;

    &-name {
      float: left;
      max-width: 225px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: $futura-dem;
    }
    &__surf-height {
      float: right;
      .quiver-surf-height, .quiver-surf-height--flat {
        font-size: 28px;
        letter-spacing: 1px;
        sup {
          font-size: 10px;
        }
      }
    }
  }
  .sl-surf-conditions {
    position: relative;
    top: -10px;
    background-color: color('dark-blue', 60);
    line-height: normal;
    color: white !important;
    @each $condition, $colors in $__sl-condition-color-map {
      $defaultColor: map-get($colors, 'default');
      &--#{$condition} {
        @include condition($defaultColor);
      }
    }
  }
}
