@import "~@surfline/quiver-themes/stylesheets/surfline/mixins/moduleShadow.scss";

.sl-featured-content {
  @include module-shadow;
  margin: 16px 0;
  width: 100%;
  background-color: color('white');
  position: relative;
  overflow: hidden;
  h3 {
    color: color('gray', 90);
    font-family: $futura-dem;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
    margin-top: 20px;
  }
  .quiver-scrollbar__scroll-thumb {
    display: none;
  }

  &__articles {
    &__article {
      margin: 16px 0;
      height: 45px;
      display: flex;
      justify-content: center;
      flex-direction: row-reverse;
      text-decoration: none;
      &__info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        &__content-type, &__content-type:hover {
          color: color('gray', 55);
          font-family: $futura-dem;
          font-size: 10px;
          line-height: 10px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
        }
        h4 {
          color: color('gray', 90);
          font-family: $futura-dem;
          font-size: 14px;
          font-weight: 500;
          height: 34px;
          letter-spacing: 0.26px;
          line-height: 17px;
          text-align: left;
          margin: 0;
          margin-top: 6px;
          div, div:hover {
            color: color('gray', 90);
          }
        }
      }
      img {
        height: 45px;
        width: 80px;
        margin-left: 16px;
      }
    }
  }
}

@media (min-width: $tablet-large) {
  .sl-featured-content {
    h3 {
      margin-top: 16px;
    }
  }
}
