.quiver-modal-container--regwall {
  .quiver-modal-container__body {
    width: 100%;
    height: 300px;
    bottom: 0;
    position: absolute;
    padding-left: 0;
    .sl-forced-registration-modal__container__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .sl-forced-registration-modal__container__header__title {
        width: 70%;
        height: 50px;
        margin-bottom: 0;
        font-size: 18px;
        font-family: $futura-dem;
        text-align: center;
        letter-spacing: 0.42px;
        line-height: 25px;
      }
      .sl-forced-registration-modal__container__tip {
        font-size: 14px;
        width: 90%;
      }
    }
    .sl-forced-registration-modal__container__options {
      margin: 0 24px;
      text-align: center;
      .quiver-button, .quiver-button--info {
        font-size: 14px;
        padding: 12px 0;
        margin: 24px 0;
        height: 42px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        background-color: color('dark-blue', 10);
        border-color: color('dark-blue', 10);
      }
    }
    .sl-forced-registration-modal__container__signin {
      text-align: center;
      margin: 0;
      padding-bottom: 16px;
      a {
        text-decoration: none;
      }
    }
    .sl-forced-registration-modal__container__homepage {
      text-align: center;
      margin: 0;
      a {
        text-decoration: none;
      }
    }
    .sl-forced-registration-modal__container__items {
      display: none;
    }
    .sl-forced-registration-modal__container__item {
      display: none;
    }
  }

  @media (min-width: $tablet-large) {
    .quiver-modal-container__body {
      position: relative;
      width: calc(100% - 150px);
      height: auto;
      padding: 54px 75px;
    }
    .sl-forced-registration-modal__container__tip {
      display: none;
    }
    .sl-forced-registration-modal__container__header {
      display: block;
      margin-bottom: 32px;
    }
    .sl-forced-registration-modal__container__header__title {
      width: 100% !important;
      height: auto !important;
      text-align: left !important;
      font-size: 24px !important;
      letter-spacing: 0.5px;
      line-height: 28px;
      margin-top: 0px;
    }
    .sl-forced-registration-modal__container__items {
      display: flex !important;
      flex-wrap: wrap;
      margin: auto;
    }
    .sl-forced-registration-modal__container__item {
      width: 100%;
      display: flex !important;
      padding-bottom: 8px;
      &__text {
        float: left;
        width: 87%;
        text-align: left;
        margin-bottom: 18px;
        margin-left: 19px;
        h3 {
          font-size: 18px;
          line-height: 19px;
          letter-spacing: 0.9px;
          color: color('gray', 90);
          padding: 0;
          padding-bottom: 4px;
          font-family: $futura-dem;
          margin: 0;
        }
        p {
            margin: 0;
            font-size: 14px;
            letter-spacing: 0.4px;
            line-height: 19px;
            color: color('gray', 80);
            display: block;
        }
      }
      &__icon {
        float: left;
        width: 13%;
        text-align: left;
        svg {
          height: 36px;
          width: 36px;
        }
      }
    }
  }
}
