.sl-forecast-cta-action-link {
  a {
    display: flex;
    align-items: center;
    background-color: color('green', 50);
    text-decoration: none;
    cursor: pointer;
    color: color('white');
    font-family: $futura-surfline;
    font-size: 12px;
    text-transform: uppercase;
    &:hover {
      color: color('white');
      background-color: color('green', 70);
    }
  }
}