.sl-forecast-table-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: $swell-lines;
  background-size: cover;
  background-color: rgba(1, 29, 56, .925); // color('dark-blue', 90);
  -ms-background-color:  rgba(1, 29, 56, 1);
  color: color('white');
  font-family: $source-sans-pro;
  font-size: 16px;
  text-align: center;
  z-index: zindex('forecast-visualizer-cta');

  .sl-forecast-cta-header {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 1.3;
    max-width: 380px;
    .sl-forecast-cta-header__icon {
      display: none;
    }
  }

  .sl-forecast-cta-text {
    display:none;
  }

  .sl-forecast-cta-action-link,
  .sl-forecast-cta-action-link--small {
    margin-bottom: 55px;
    a {
      width: 136px;
      height: 40px;
      justify-content: center;
      font-size: 12px;
    }
  }

  .sl-forecast-cta-features {
    display: none;
  }

  .sl-forecast-cta-features__feature {
    flex: 0 0 250px;
  }

  .sl-forecast-cta-features__icon {
    margin: 0 0 16px 0;
    height: 50px;
  }

  .sl-forecast-cta-features__title {
    font-size: 16px;
  }
}

@media (min-width: $tablet-large) {
  .sl-forecast-table-cta {
    .sl-forecast-cta-header {
      font-size: 24px;
    }
    .sl-forecast-cta-features {
      display: flex;
      justify-content: space-around;
      padding: 0 50px;
    }
  }
}


@media (min-width: $desktop-small) {
  .sl-forecast-table-cta {
    .sl-forecast-cta-features__feature {
      flex: 0 0 270px;
    }
  }
}
