@import '../_mixins.scss';

.sl-forecast-highlights__header {
  margin: 0 0 4px;
  font-family: $source-sans-pro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: color('blue-gray', 70);
}

.sl-forecast-highlights__group {
  margin: 0;
  padding-left: 18px;

  li {
    margin: 4px 0;
    color: color('gray', 90);
  }
}
