.sl-forecast-time-view-dropdown {
  position: absolute;
  display: flex;
  left: 0;

  .quiver-chevron {
    width: 10px;
    height: 10px;
    margin-left: 3px;
  }

  &:hover {
    .sl-forecast-time-view-dropdown__options {
      display: flex;
      flex-direction: column;
      background: color('white');
      margin-top: 5px;
    }
  }

  &__title {
    @include forecast-header-nav-item;
    display: block;
    color: color('gray', 90);
    cursor: pointer;
    padding: 16px 0;
    font-size: 14px;
    font-weight: 600;
    font-family: $source-sans-pro;
    margin: 0 0 8px 0;
    letter-spacing: 0.5px;
  
    &:hover {
      color: color('dark-blue', 10);
  
      .quiver-chevron {
        stroke: color('dark-blue', 10);
      }
    }
  }

  .sl-forecast-time-view-dropdown__options {
    position: absolute;
    display: none;
    top: 27px;
    left: 0px;
    width: 94px;
    height: 40px;
    padding: 10px 0px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .15);
    &__option {
      padding: 5px 12px;
    }
  }
}

.sl-forecast-time-view-dropdown__options__option__details {
  display: flex;
  justify-content: flex-start;
}

.sl-forecast-time-view-dropdown__options__option__details__name {
  font-family: $source-sans-pro;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 14px;
}