.sl-forecast-header {
  width: 100%;
  position: relative;
  &__breadcrumb {
    display: none;
    width: 100%;
    margin: 0 0 8px 0;
    /* Remove this when breadcrumbs are restyled */
    .sl-breadcrumbs {
      color: color('gray', 70);
      a {
        color: color('gray', 70);
        font-size: 14px;
        font-family: $source-sans-pro;
        letter-spacing: 0.4px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid color('light-blue', 5);

    &__title {
      width: calc(100% - 70px);
      padding: 16px;
      font-size: 18px;
      line-height: 20.7px;
      letter-spacing: 0.5px;
      font-family: $futura-surfline;
      color: color('gray', 90);
      margin: 0;
      font-weight: normal;
    }

    &__favorite {
      padding-right: 16px;
      position: absolute;
      right: 0;
      z-index: 4;
      top: 12px;
      .quiver-favorites-indicator--show-text {
        position: relative;
      }
      @media (min-width: $tablet-large) {
        z-index: 60;
        padding: 0 15px 0 8px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__nav {
    padding: 8px 16px 0px 16px;
    font-size: 14px;
    font-family: $source-sans-pro;
    display: inline-flex;

    &__page-level {
      display: inline-flex;
      &__link {
        @include forecast-header-nav-item;
        border-bottom: 3px solid color('white');
        text-transform: uppercase;
        &__text {
          margin: 0 0 8px 0;
          &:hover {
            color: color('dark-blue', 10);
          }
        }
        &--active {
          color: color('dark-blue', 10);
          border-bottom: 3px solid color('dark-blue', 10);
        }
      }
    }

    &__divider {
      display: none;
      height: 18px;
      border-left: 1px solid color('gray', 40);
      margin: 0 24px 0 0;
    }
  }

  @media (min-width: $tablet-large) {
    padding: 12px 0 0 0;

    &__breadcrumb {
      display: block;
    }

    &__main {
      margin: 0 0 8px 0;
      border: none;

      &__title {
        width: calc(100% - 150px);
        padding: 0;
        font-size: 32px;
        line-height: 36.8px;
      }
    }

    &__nav {
      padding: 0;

      &__divider {
        display: block;

      }
    }
  }
}
