.sl-forecast-header-menu {
  display: block;
  position: relative;
}

.sl-forecast-header-menu__contents {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: zindex('forecast-header-menu--mobile');
  background-color: color('white');

  &--open {
    display: block;
  }

  &--closed {
    display: none;
  }
}

.sl-forecast-header-menu__title {
  @include forecast-header-nav-item;
  text-transform: uppercase;

  &:hover {
    color: color('dark-blue', 10);

    .quiver-chevron {
      stroke: color('dark-blue', 10);
    }
  }
}

.sl-forecast-header-menu__header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 16px;
  color: color('gray', 90);
  line-height: 38px;
  border-bottom: 1px solid color('light-blue', 5);
}

.sl-forecast-header-menu__header__title {
  font-family: $futura-surfline;
  font-size: 18px;
  letter-spacing: 0.2px;
}

.sl-forecast-header-menu__external-links {
  padding: 0 16px;
}

.sl-forecast-header-menu__external-link, .sl-forecast-header-menu__dropdown__title {
  display: block;
  font-size: 18px;
  border-bottom: 1px solid color('light-blue', 5);
  text-decoration: none;
  color: color('gray', 90);
  padding: 16px 0;

  &:hover {
    color: color('dark-blue', 10);

    .quiver-chevron {
      stroke: color('dark-blue', 10);
    }
  }
}

.sl-forecast-header-menu__dropdown {
  &--secondary {
    .sl-forecast-header-menu__dropdown__title {
      display: none;
    }
  }

  &--open {
    .sl-forecast-header-menu__nearby-spots,
    .sl-forecast-header-menu__nearby-subregions {
      display: block;
    }
  }
}

.sl-forecast-header-menu__dropdown__title {
  cursor: pointer;
  padding: 16px;
}

.sl-forecast-header-menu__nearby-spots,
.sl-forecast-header-menu__nearby-subregions,
.sl-forecast-header-menu__external-links {
  background-color: color('white');
}

.sl-forecast-header-menu__nearby-spots,
.sl-forecast-header-menu__nearby-subregions {
  display: none;
}

.sl-forecast-header-menu__nearby-spot,
.sl-forecast-header-menu__nearby-subregion {
  display: flex;
  padding: 16px 16px;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: color('gray', 90);
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: color('gray', 90);
    background-color: color('light-blue', 5);
  }

  span:hover {
    color: color('gray', 90);
  }

  .quiver-surf-height {
    font-size: 18px;
    font-family: $futura-surfline;
  }
}

.sl-forecast-header-menu__nearby-spot__details,
.sl-forecast-header-menu__nearby-subregion__details {
  display: flex;
  align-items: center;
  max-width: 75%;
}

.sl-forecast-header-menu__nearby-spot__details__conditions,
.sl-forecast-header-menu__nearby-subregion__details__conditions {
  margin-right: 5px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  &--expired {
    background-color: color('gray', 55) !important;
  }
}

.sl-forecast-header-menu__nearby-spot__details__name,
.sl-forecast-header-menu__nearby-subregion__details__name {
  margin-right: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: color('gray', 90);
  font-size: 18px;
}

.sl-forecast-header-menu__nearby-spot__icon,
.sl-forecast-header-menu__nearby-subregion__icon {
  flex: 1;

  .quiver-cam-icon {
    margin-right: 5px;
    fill: color('gray', 55);
  }
}

.sl-forecast-header-menu__secondary-links {
  display: none;
}

@media (min-width: $tablet-large) {
  .sl-forecast-header-menu {
    display: inline-flex;

    .quiver-chevron {
      width: 10px;
      height: 10px;
    }
  }

  .sl-forecast-header-menu__title {
    display: none;
  }

  .sl-forecast-header-menu__contents {
    position: relative;
    display: flex;
    z-index: zindex('forecast-header-menu');
    overflow-y: visible;
    background-color: transparent;
    .sl-forecast-header-menu__external-links {
      background-color: transparent;
    }
  }

  .sl-forecast-header-menu__header {
    display: none;
  }

  .sl-forecast-header-menu__external-links {
    padding: 0;
    display: inline-flex;
  }

  .sl-forecast-header-menu__external-link {
    @include forecast-header-nav-item;
    border: none;
    padding: 0px;
    font-size: 14px;
  }

  .sl-forecast-header-menu__dropdown {
    position: relative;

    &:not(:last-of-type) {
      margin-right: 24px;
    }

    &:hover {
      .sl-forecast-header-menu__nearby-spots,
      .sl-forecast-header-menu__nearby-subregions,
      .sl-forecast-header-menu__external-links {
        display: block;
      }
    }

    &--secondary {
      .sl-forecast-header-menu__dropdown__title {
        display: block;
      }
    }
  }

  .sl-forecast-header-menu__dropdown__title {
    @include forecast-header-nav-item;
    font-size: 14px;
    font-family: $source-sans-pro;
    margin: 0 0 8px 0;
    padding: 0px;
    border: none;
  }

  .sl-forecast-header-menu__dropdown {
    .sl-forecast-header-menu__nearby-spots,
    .sl-forecast-header-menu__nearby-subregions,
    .sl-forecast-header-menu__external-links {
      position: absolute;
      display: none;
      top: 27px;
      left: 0px;
      width: 320px;
      padding: 8px 0px;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .15);
    }

    .sl-forecast-header-menu__external-link {
      padding: 5px 12px;
    }
  }

  .sl-forecast-header-menu__nearby-spot,
  .sl-forecast-header-menu__nearby-subregion {
    padding: 5px 12px;

    .quiver-surf-height {
      font-size: 14px;
    }
  }

  .sl-forecast-header-menu__nearby-spot__details,
  .sl-forecast-header-menu__nearby-subregion__details {
    display: flex;
    justify-content: flex-start;
  }

  .sl-forecast-header-menu__nearby-spot__details__name,
  .sl-forecast-header-menu__nearby-subregion__details__name {
    font-size: 14px;
  }
}

@media (min-width: $desktop-small) {
  .sl-forecast-header-menu__dropdown--secondary {
    display: none;
  }

  .sl-forecast-header-menu__secondary-links {
    display: inline-flex;
  }
}

@each $condition, $colors in $__sl-condition-color-map {
  .sl-forecast-header-menu__nearby-spot__details__conditions--#{$condition} {
    background-color: map-get($colors, default);
  }
}

@each $condition, $colors in $sl-condition-color-map-v2 {
  .sl-forecast-header-menu__nearby-spot__details__conditions-v2--#{$condition} {
    background-color: map-get($colors, default);
  }
}
