.sl-forecast-table-controls {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.sl-forecast-table-controls__expand-collapse {
  font-family: $source-sans-pro;
  color: color('dark-blue', 10);

  &:hover {
    text-decoration: underline;
  }
}

@media(min-width: $tablet-width) {
  .sl-forecast-table-controls {
    padding-bottom: 0;
  }
}
