.sl-forecast-graphs-cta {
  position: relative;
  background-image: $swell-lines-large;
  background-size: cover;
  background-color: rgba(1, 29, 56, 0.925); // color('dark-blue', 90);
  -ms-background-color: rgba(1, 29, 56, 1);
  color: color('white');
  font-family: $source-sans-pro;
  font-size: 16px;
  z-index: zindex('forecast-visualizer-cta');

  .sl-forecast-cta-action-link {
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: $tablet-large) {
  .sl-forecast-graphs-cta {
    padding: 48px 32px;
    text-align: left;
    display: flex;
    flex-flow: column;

    .sl-forecast-cta-header {
      margin-bottom: 56px;
      font-size: 32px;
    }

    .sl-forecast-cta-text {
      margin-bottom: 56px;
      padding-left: 40px;
    }

    .sl-forecast-cta-features {
      padding-left: 40px;
      flex: 1 0 0;
    }

    .sl-forecast-cta-features__feature {
      margin-bottom: 56px;
      display: inline-flex;
      align-items: center;
    }

    .sl-forecast-cta-features__icon {
      margin: 0 48px 0 0;
    }

    .sl-forecast-cta-action-link {
      margin-bottom: 56px;
      display: block;
    }

    .sl-forecast-cta-action-link--small,
    .sl-forecast-cta-action-link--large {
      a {
        width: 136px;
        height: 40px;
        justify-content: center;
        font-size: 12px;
      }
    }

    .sl-forecast-cta-action-link--large {
      margin-bottom: 0px;
      a {
        width: 152px;
        height: 119px;
        padding: 24px 32px;
        font-size: 30px;
      }
    }

    .sl-forecast-graphs-cta__bottom-container {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: flex-end;
    }

    .sl-forecast-graphs-cta__learn-more-link {
      display: block;
      font-family: $source-sans-pro;
      font-size: 14px;
      color: color('white');
      text-decoration: underline;
      cursor: pointer;
      text-align: right;
    }
  }
}

@media (min-width: $desktop-small) {
  .sl-forecast-graphs-cta {
    padding: 48px 32px;
    text-align: left;

    .sl-forecast-cta-header {
      margin-bottom: 56px;
      font-size: 32px;
    }

    .sl-forecast-cta-text {
      margin-bottom: 56px;
      padding-left: 40px;
    }

    .sl-forecast-cta-features {
      padding-left: 40px;
    }

    .sl-forecast-cta-features__feature {
      margin-bottom: 56px;
      display: flex;
      align-items: center;
    }

    .sl-forecast-cta-features__icon {
      margin: 0 48px 0 0;
    }

    .sl-forecast-cta-action-link {
      display: block;
    }
  }
}

@media (min-width: $desktop-large) {
  .sl-forecast-graphs-cta {
    padding: 48px 40px;
  }
}
