.sl-forecast-model-toggle {
  position: relative;
  height: 55px;
  display: flex;
  justify-content: flex-end;
  background: color('white');

  h3 {
    position: absolute;
    left: 22px;
    top: 19px;
    font-family: $futura-dem;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
  }

  &__container {
    display: flex;
    height: 14px;
    position: absolute;
    top: 25px;
    width: 150px;
  
    &__lotus {
      flex: 2;
      width: 110px;
      font-weight: 600;
      font-size: 14px;
      line-height: 12px;
      font-family: $source-sans-pro;
      margin-top: -2px;
      i {
        position: relative;
        top: -4px;
        font-family: $source-sans-pro;
        font-size: 8px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0.5px;
      }
    }
  
    &__toggle {
      flex: 1;
      margin-right: 12px;
    }
  
    &__toggle__bar {
      background: color('blue-gray', 20);
      width: 50px;
      height: 30px;
      border-radius: 16px;
      cursor: pointer;
      position: relative;
      top: -11px;
      overflow: hidden;
      &--lotus--on {
        background: color('dark-blue', 10);
      }
    }
  
    &__toggle__bar__circle {
      position: absolute;
      top: 3px;
      left: 3px;
      width: 24px;
      height: 24px;
      background-color: color('white');
      border-radius: 16px;
      transform: scale(1.1);
      cursor: pointer;
      box-shadow: 1px 3px 7px -4px color('black');
      &--lotus--on {
        background-color:color('white');
        position: relative;
        left: 46%;
        transform: translate(-50%);
        transform: scale(1.1);
      }
    }
  }
}
