.sl-forecast-time-view-toggle {
  position: relative;
  display: flex;
  left: 0;
  border-radius: 3px;
  padding: 16px;
}

.sl-forecast-time-view-toggle__button {
  width: 100px;
  height: 32px;
  border: 1px solid color('blue-gray', 20);
  font-size: 14px;
  font-weight: 600;
  background-color: color('white');
  color: color('dark-blue', 10);
  cursor: pointer;
  text-transform: uppercase;
  font-family: $source-sans-pro;
  letter-spacing: 0.5px;
  svg {
    margin-top: 3px;
    stroke: color('dark-blue', 10);
  }
}

.sl-forecast-time-view-toggle__button:first-child {
  border-radius: 3px 0 0 3px;
  border-right: none;
}

.sl-forecast-time-view-toggle__button:last-child {
  border-radius: 0 3px 3px 0;
  border-left: none;
}

.sl-forecast-time-view-toggle__button--active {
  border: 1px solid color('dark-blue', 10);
  background-color: color('dark-blue', 10);
  color: color('white');
  cursor: default;
  svg {
    stroke: color('white');
  }
}

@media (min-width: $tablet-large) {
  .sl-forecast-time-view-toggle {
    position: absolute;
    padding: 0;
  }
}
