.sl-forecast-cta-features {
  margin-bottom: 80px;
}

.sl-forecast-cta-features__title {
  font-family: $futura-surfline;
  font-size: 20px;
  letter-spacing: 0.6px;
  margin-bottom: 4px;
}

.sl-forecast-cta-features__description {
  letter-spacing: 0.6px;
  font-size: 14px;
}
