.sl-geoname-map-header {
  display: none;
  @media(min-width: $medium-width) {
    display: block;
    background: color('white');
    padding: 10px 20px 20px;
    h1 {
      @include sl-h5;
      letter-spacing: .5px;
      padding-top: 5px;
    }
    .sl-breadcrumbs {
      font-size: 12px;
      letter-spacing: 0.3px;
      padding: 10px 0px 10px 0px;
      margin: 0;
      li {
        &:after {
          content: ' / ';
          color: color('gray', 55);
        }
        &:last-child:after { content: '' }
        display: inline;
        a {
          color: color('gray', 55);
          font-weight: normal;
          text-decoration: none;
          &:hover {
            color: $gray-blue-dark;
          }
        }
      }
    }
  }
}
