.quiver-graph-time {
  display: flex;
}

.quiver-graph-time__hour {
  flex: 1 1 0;
  line-height: 16px;
  font-size: 10px;
  text-transform: lowercase;
  text-align: center;
  color: color('blue-gray', 90);
}
