@import '../_mixins.scss';

.sl-highlight-list {
  padding: 16px 0 0;

  a {
    text-decoration: none;
    color: color('dark-blue', 10);

    &:hover {
      text-decoration: none;
    }
  }

  @media(min-width: $desktop-small) {
    padding: 16px 24px 0;
  }
  &__list {
    width: 100%;
    margin: 0 0 0 20px;
    padding: 16px 0;
    @media(min-width: $desktop-small) {
      padding: 24px 0 16px;
    }
    &__item {
      @include paragraph;
      line-height: 20px;
      margin: 8px 0 0;
      &__text {
        position: relative;
        left: -7px;
      }
    }
  }
}
