@import '~@surfline/quiver-themes/stylesheets/surfline/mixins/moduleShadow.scss';

.sl-ideal-conditions {
  margin: 16px 0;
  padding: 16px;
  background-color: color('white');
  width: calc(100% - 32px);
  @include module-shadow;
  h3 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid color('blue-gray', 20);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }
  &__condition {
    padding: 16px 8px;
    border-bottom: 1px solid color('blue-gray', 10);
    display: flex;
    align-items: center;
    svg {
      flex: 0 0 40px;
    }
    &__description {
      padding-left: 16px;
      flex: 0 0 calc(100% - 56px);
      h5 {
        margin: 0;
        line-height: 19px;
        font-family: $futura-dem;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.4px;
      }
      p {
        @include paragraph;
        margin: 0;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .sl-ideal-conditions {
    width: 100%;
    margin: 16px 0;
    display: flex;
    flex-direction: row;
    h3 {
      flex-basis: 0;
      flex-grow: 1;
      border-bottom: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__condition {
      flex-grow: 1;
      flex-basis: 0;
      border-bottom: none;
    }
  }
}
