@import '../_mixins.scss';

.sl-inactive-message {
  width: 100%;
  .quiver-alert {
    padding: 12px 24px;
    border-top: 2px solid color('light-blue', 50);
    box-shadow: 0 1px 2px 0 color('gray', 30);
    .sl-inactive-message__title {
      display: flex;
      align-items: center;
      h5 {
        @include sl-h5;
        padding: 5px 0 0 8px;
        font-size: 18px;
        letter-spacing: .4px;
      }
    }
    p {
      @include paragraph;
      margin: 0 0 8px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
