.sl-map-button {
  display: inline-block;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  background-color: color('white');

  svg {
    fill: #666666; // TODO: Use quiver variables and convert zoom controls as well
  }
}
