.sl-persistent-spot-report-cam {
  .quiver-cam-player__player__live {
    display: none;
  }
  .quiver-persistent-media--sticky {
    bottom: 54px;
    .quiver-cam-player__player__host-ad {
      display: none !important;
    }

    .quiver-cam-rewind,
    .quiver-cam-player__host-ad,
    .jw-controlbar-left-group, // hide timer
    .jw-controlbar-center-group, // hide live broadcast message
    .jwplayer.jw-flag-live .jw-icon, // hide pause button in middle of player (live flag displays loading spinner)
    .jw-icon-fullscreen,
    .jw-icon-volume {
      // hide volume icon
      display: none;
    }

    .jw-background-color {
      // hide gradient behind icon
      background: rgba(0, 0, 0, 0) !important;
    }

    .jwplayer.jw-flag-live .jw-display-icon-display .jw-icon {
      // only show play/pause
      display: inline-block;
    }

    .quiver-cam-error__message,
    .quiver-cam-error__message__text,
    .quiver-cam-error__message__subtext {
      font-size: 12px;
      line-height: 16px;
      svg {
        display: none;
      }
    }
  }

  .quiver-persistent-media--sticky:hover {
    .jw-controls {
      z-index: 2;
    }
  }

  .sl-spot-cam-overlay__close {
    display: none;
  }
}

.sl-persistent-spot-report-cam__overlay {
  width: 100%;
  height: 100%;
}

.sl-persistent-spot-report-cam:hover .sl-spot-cam-overlay__spot {
  display: block;
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: -10px;
  .quiver-favorite {
    border: none;
  }
  .quiver-favorite__item {
    background: transparent;
  }
  .quiver-favorite__item:hover {
    background: transparent;
    box-shadow: none;
  }
  .quiver-favorite__item__wrapper {
    text-align: left;
    max-width: 220px;
    line-height: 14px;
    span {
      color: color('white');
      line-height: 14px;
      font-weight: 600;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 160px;
      display: inline-block;
      vertical-align: top;
    }
  }
  .quiver-favorite__item:hover {
    box-shadow: none;
    border: none;
  }
}

.sl-persistent-spot-report-cam:hover .sl-spot-cam-overlay__close {
  display: block;
}

.sl-spot-report-cam__sticky__cam-player {
  margin-top: 16px;
  height: auto;
  background: color('black');
}

.sl-persistent-spot-report-cam--closed {
  .quiver-persistent-media--sticky {
    background: color('light-blue', 70);
    width: 40px;
    height: 25px;
    text-align: center;
    padding-top: 15px;
    position: fixed;
    bottom: 54px;
    right: 0;
    z-index: 1000;
    cursor: pointer;
  }
}
