.sl-premium-analysis-popup {
  position: absolute;
  z-index: 6;
  .sl-premium-analysis-popup__content {
    display: flex;
    flex-flow: column;
    text-transform: none;
    h6 {
      margin: 0 0 8px 0;
      color: color('gray', 90);
      font-family: $futura-dem;
      font-size: 16px;
      font-weight: 600;
      height: 16px;
      letter-spacing: 0.64px;
    }
    p {
      margin: 0 0 16px 0;
      width: 250px;
      color: color('gray', 90);
      font-family: $source-sans-pro;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 0.57px;
    }
    .quiver-button {
      height: 34px;
      width: 89px;
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.5px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: unset;
      line-height: 2.3;
    }
  }
}


@media (max-width: 350px) {
  .sl-premium-analysis-popup {
    left: 20px;
    .quiver-notification-popup__triangle {
      left: calc(50% - 46px);
    }
  }
}

@media (min-width: 350px) and (max-width: 400px) {
  .sl-premium-analysis-popup {
    left: 20px;
    .quiver-notification-popup__triangle {
      left: calc(50% - 21px);
    }
  }
}

@media (min-width: 400px) and (max-width: 450px) {
  .sl-premium-analysis-popup {
    left: 20px;
    .quiver-notification-popup__triangle {
      left: calc(50% - 21px);
    }
  }
}

@media (min-width: 450px) and (max-width: 488px) {
  .sl-premium-analysis-popup {
    left: 60px;
    .quiver-notification-popup__triangle {
      left: calc(50% - 21px);
    }
  }
}

@media (min-width: 488px) and (max-width: $tablet-large) {
  .sl-premium-analysis-popup {
    left: 92px;
    .quiver-notification-popup__triangle {
      left: calc(50% - 21px);
    }
  }
}

@media (min-width: $tablet-large) {
  .sl-premium-analysis-popup {
    position: absolute;
    left: 185px;
    z-index: 6;
    .sl-premium-analysis-popup__content {
      h6 {
        font-size: 18px;
        height: 18px;
      }
      p {
        width: 366px;
        font-size: 16px;
      }
      .quiver-button {
        height: 34px;
        width: 89px;
        font-size: 14px;
      }
    }
  }
}