.sl-region-forecast-update {
  padding: 16px;
  background-color: color('white');
  @include module-shadow;

  display: flex;
  flex-direction: column;
}

.sl-region-forecast-update__body {
  margin-top: 8px;
}

.sl-region-forecast-update__divider {
  border-top: 1px solid color('blue-gray', 10);
  margin: 16px 0;
}

.sl-region-forecast-update__cta {
  background-image: url('../../components/RegionForecastUpdate/CTA-mobile.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding: 56px 24px 0;
  width: calc(100% - 48px);
  min-height: calc(270px - 56px - 32px); // height of ad minus padding minus parent padding
}

.sl-region-forecast-update__cta__text {
  font-family: $futura-surfline;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: color('gray', 90);
  margin-bottom: 16px;
}

.sl-region-forecast-update__cta__go-premium {
  font-family: $futura-surfline;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: color('green', 50);
  &:hover {
    color: color('green', 70);
  }

}

@media(min-width: $tablet-large) {
  .sl-region-forecast-update__cta {
    // height of ad minus padding minus parent padding minus forecaster profile
    min-height: calc(270px - 56px - 32px - 50px);
  }
}

@media(min-width: $desktop-small) {
  .sl-region-forecast-update {
    flex-direction: row;
    min-height: calc(270px - 32px); // height of ad minus padding
  }

  .sl-region-forecast-update__body {
    margin-top: 0;
    padding-left: 24px;
  }

  .sl-region-forecast-update__divider {
    display: none;
  }

  .sl-region-forecast-update__cta {
    padding-top: calc(80px);
    min-height: calc(270px - 80px - 32px);  // height of ad minus padding minus parent padding
  }
  
  .sl-region-forecast-update__cta__text {
    font-size: 18px;
  }


}

// Breakpoint below based on the size of the provided blurred images
@media(min-width: 500px) {
  .sl-region-forecast-update__cta {
    background-image: url('../../components/RegionForecastUpdate/CTA.jpg');
  }
}
