@import '~@surfline/quiver-themes/stylesheets/surfline/mixins/moduleShadow.scss';

.sl-regional-forecast {
  background-color: color('light-blue', 5);
  padding-top: 16px;
  @media (min-width: $tablet-large) {
    padding-top: 24px;
  }

  &__ad--top {
    display: none;

    @media (min-width: $tablet-large) {
      display: block;
      padding: 10px;
      background-color: color('white');
      box-shadow: 0 1px 2px 0 color('gray', 30);
      height: 250px;
    }
  }

  &__ad--centered {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
  }

  &__ad--bottom {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0 auto 16px;
    padding: 10px;
    background-color: color('white');
    box-shadow: 0 1px 2px 0 color('gray', 30);
    @media (min-width: $tablet-width) {
      padding: 0;
      background-color: transparent;
      box-shadow: none;
      margin-bottom: 32px;
    }
  }

  .quiver-content-container {
    .sl-region-forecast-update {
      width: 100%;
    }
  }

  .sl-inactive-message {
    margin: 0 0 16px;
  }

  &--no-highlights {
    padding-top: 16px;
    @media (min-width: $tablet-large) {
      padding-top: 24px;
    }
    .sl-regional-forecast__ad--centered {
      margin-top: 0;
    }
  }
}

.sl-regional-forecast__mobile-cta {
  width: 100%;

  @media (min-width: $tablet-large) {
    display: none;
  }
}

.sl-regional-forecast__charts {
  margin: 16px 0;
  width: 100%;
  background-color: color('white');
  @include module-shadow;

  .sl-graph-manager__day-summaries .sl-chart-status {
    height: 180px;
  }

  .quiver-optimal-score-indicator {
    display: none;
  }

  .sl-chart-range-selector,
  .sl-swell-trend-slider {
    justify-content: flex-end;
  }

  .sl-forecast-data-view-toggle {
    justify-content: flex-end;
  }
}

.sl-regional-forecast {
  .quiver-forecaster-profile {
    display: flex;
    height: 100%;
    @media (min-width: $desktop-small) {
      text-align: center;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: nowrap;
      flex: 0 0 100px;
      padding-right: 24px;
      border-right: 1px solid color('light-blue', 5);
    }
    &__details-container {
      display: flex;
      flex: 1;
      @media (min-width: $desktop-small) {
        flex-direction: column;
        align-items: center;
      }
      img {
        height: 50px;
        width: 50px;
        margin-right: 8px;
        border-radius: 50%;
        @media (min-width: $desktop-small) {
          height: 60px;
          width: 60px;
          margin-right: 0;
        }
      }
      &__forecaster {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-name {
          padding: 0;
          font-size: 16px;
          letter-spacing: 0.4px;
          font-family: $futura-dem;
          @media (min-width: $desktop-small) {
            padding: 16px 0 8px;
          }
        }
        &-title {
          font-size: 14px;
          color: color('gray', 90);
          /* IE 11 */
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            max-width: 100px;
          }
        }
      }
    }
    &__update-container {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      color: color('gray', 90);
      padding-top: 8px;
      &__last-update--expired {
        color: color('bright-red');
      }
      &__last-update-description {
        display: none;
        @media (min-width: $desktop-small) {
          display: inline;
        }
      }
      &__next-update {
        display: none;
        @media (min-width: $desktop-small) {
          display: block;
          padding-top: 8px;
        }
      }
    }
  }
}
