.sl-scroll-control {
  position: relative;
  width: 34px;
  float: left;
  cursor: pointer;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: color('white');

  &--extra-tall {
    height: 67px;
    box-shadow: 0px 0px 2px 0px rgba(169,169,169,1);
    background-color: color('white');
    &:hover {
      background-color: color('light-blue', 5);
    }
  }

  .quiver-chevron {
    width: 14px;
    height: 14px;
  }
}
