.sl-spot-report-cam-header-cta {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: $source-sans-pro;
  font-size: 16px;
  margin: 8px 0;

  a {
    color: color('green', 50);
    text-decoration: none;
    font-weight: 600;
    padding: 0 0 0 2px;

    &:hover, &:focus {
      color: color('green', 70);
    }
  }
}

.sl-spot-current-conditions-section--multi-cam {
  .sl-spot-report-cam-header-cta {
    background-color: color('light-blue', 5);
    margin: 0;
    padding: 8px 0;
  }
}