.sl-spot-marker-tooltip {
  display: none;
}

@media (min-width: $medium-width) {
  .sl-spot-marker-tooltip {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    color: color('black');
    box-shadow: 0 20px 30px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    text-decoration: none;
    width: 212px;

    .quiver-spot-thumbnail {
      height: 118px;
      padding: 0;
    }

    .quiver-spot-details {
      background: white;
      .quiver-spot-details__name {
        color: color('black');
      }
    }
    .quiver-spot-report-summary {
      display: block;
      margin-top: 4px;
    }

    .sl-play-marker {
      height: 26px;
      width: 26px;
    }

    .sl-spot-details {
      background: color('white');
      height: 70px;
      padding: 15px 10px;

      .sl-spot-report-summary__value, .quiver-surf-height {
        font-size: 14px;
      }
    }

    &--topleft {
      transform: translate(-100%, calc(-100% - 5px));
    }
    &--topcenter {
      transform: translate(-50%, calc(-100% - 5px));
    }
    &--topright {
      transform: translate(0, calc(-100% - 5px));
    }
    &--bottomleft {
      transform: translate(-100%, 35px);
    }
    &--bottomcenter {
      transform: translate(-50%, 35px);
    }
    &--bottomright {
      transform: translate(0, 35px);
    }
  }
}
