.sl-spot-report-page__cameras {
  height: 100%;
  width: 100%;
  position: relative;
  .quiver-cam-rewind {
    // override to display under nearby spot menu
    z-index: 1;
  }
}

.sl-spot-report-cam__nearby-cams {
  width: 100%;
  border-top: 1px solid color('light-blue', 5);
  display: none;

  // override the sup position for each nearby spot under cam
  .quiver-surf-height {
    sup {
      top: 0px;
    }
  }
}

.sl-spot-report-page__cam-still {
  @include aspect-ratio(16,9);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

@media (min-width: $tablet-large) {
  .sl-spot-report-cam__nearby-cams {
    display: block;
  }
  .sl-spot-report-cam__cam-player {
    height: 360px;
  }
  .sl-spot-report-page__camera__host-ad {
    width: 300px;
  }
}

@media (min-width: $desktop-small) {
  .sl-spot-report-cam__cam-player {
    height: 518px;
  }
  .sl-spot-report-page__camera__host-ad {
    width: 385px;
  }
}

@media (min-width: $desktop-large) {
  .sl-spot-report-cam__cam-player {
    height: 774px;
  }
}
