.sl-spot-rail-tab {
  display: inline-block;
  height: 45px;
  padding-top: 5px;
  background-color: color('white');
  border-bottom: 3px solid color('white');
  text-align: center;
  text-decoration: none;
  &:hover {
    background-color: color('light-blue', 5);
    border-bottom: 3px solid color('light-blue', 5);
    transition: all 0.4s ease-in-out .1s;
  }

  span {
    color: color('black');
    font-family: $futura-dem;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    vertical-align: middle;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }
}

.sl-spot-rail-tab--active {
  border-bottom: 3px solid color('black');
  &:hover {
    background-color: color('white');
    border-bottom: 3px solid color('black');
  }
}
