.sl-spot-cam-overlay__spot {
   display: none;
}

.sl-spot-cam-overlay__close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 9;
  border-radius: 50%;
  background-color: rgba(0,0,0,.2);
  svg {
    stroke: color('white');
  }
}

.spot-cam-overlay--premium {
  background: rgba(0,0,0,.3);
}
