.sl-spot-list-item {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  color: color('black');
  text-decoration: none;

  &:hover {
    .sl-spot-details__name,
    .sl-surf-conditions {
      color: color('white');
    }
  }
}

.sl-spot-list-item__container {
  min-height: 104px;
}

.sl-spot-details {
  padding: 12px 8px 8px 8px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));

  .sl-spot-details__name {
    font-family: $futura-dem;
    width: 100%;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: color('white');
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0px;
    line-height: 18px;
    margin: 1px 0px;
    font-weight: normal;
  }

  .sl-spot-report-summary {
    display: none;
  }
}

.sl-spot-details--premium-cta {
  display: none;
}

@media (min-width: $medium-width) {
  .sl-spot-list-item {
    background-size: 300px 172px;
    background-repeat: no-repeat;
    width: 100%;
    height: 254px;

    &:hover {
      .sl-spot-details__name,
      .quiver-surf-height {
        color: color('black');

        sup {
          color: color('black');
        }
      }

      .quiver-reading-description {
        color: color('gray', 55);
      }
    }
  }

  .sl-spot-details {
    padding: 15px 15px 8px;
    background: color('white');

    .sl-spot-details__name {
      padding: 0;
      font-size: 16px;
      color: color('black');
      background-color: transparent;
    }

    .sl-spot-report-summary {
      display: block;
      margin-top: 5px;
    }
  }

  .sl-spot-details--premium-cta {
    display: block;
  }
}
