@import '../_variables.scss';

.sl-spot-list {
  position: relative;
  padding-top: 15px;
  height: 118px;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: color('light-blue', 5);
  -webkit-overflow-scrolling: touch;

  .quiver-google-dfp,
  .sl-opt-out,
  .quiver-page-container__footer {
    display: none;
  }
}

.sl-spot-list__spots {
  margin: 4px;
  padding: 0px;
  white-space: nowrap;
}

.sl-spot-list__ref {
  display: inline-block;
  vertical-align: bottom;
  width: 176px;
  height: 99.5px;
  margin: 5px 3.5px;
}

.sl-spot-list__ad-place-holder {
  display: none;
}

@media (min-width: $medium-width) {
  .sl-spot-list {
    height: calc(100vh - 176px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .sl-opt-out {
      display: block;
      margin: 10px 10px 20px 10px;
    }

    .quiver-google-dfp {
      display: block;
      position: absolute;
    }

    .quiver-page-container__footer {
      display: block;
      max-height: 520px;
    }
  }

  .sl-spot-list__spots {
    position: relative;
    margin: 5px 10px 10px 10px;
    padding: 0px;
    white-space: normal;
    min-height: calc(100% - 210px);
    &--no-spots {
      min-height: calc(100% - 600px);
    }
  }

  .sl-spot-list__ref {
    width: 93.6%;
    height: 254px;
  }

  .sl-spot-list__ad-place-holder {
    display: inline-block;
  }

  .sl-spot-list__ref {
    margin: 10px 10px 17px;
  }
}

.sl-kbyg-page-container--is-premium {
  .sl-spot-list {
    @media (min-width: $medium-width) {
      height: calc(100vh - 96px);
    }
  }
}

@media (min-width: $desktop-width) {
  .sl-spot-list__ref {
    width: 46.5%;
  }

  // Prevent ads from dropping down to a new line.
  .sl-spot-list > .quiver-google-dfp {
    width: 293px;
  }

  .sl-spot-list__spots {
    &--no-spots {
      min-height: calc(100% - 279px);
    }
  }
}

@media (min-width: $x-large-width) {
  .sl-spot-list__ref {
    width: 31.2%;
  }
}
