@import '~@surfline/quiver-themes/stylesheets/surfline/mixins/moduleShadow.scss';

@mixin panel() {
  background-color: color('white');
  @include module-shadow;
}

.sl-spot-travel-info {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.sl-spot-travel-article--loading {
  justify-content: center;
}

.sl-spot-travel-info__content {
  width: 100%;
}

.sl-spot-travel-info__content__guide {
  padding: 24px 24px 64px;
  @include panel;
}

@media (max-width: $tablet-large) {
  .sl-spot-travel-info {
    display: block;
  }

  .sl-spot-travel-info__content {
    width: 100%;
  }

  .sl-spot-travel-info__content__guide {
    padding: 24px 16px 32px;
  }
}
