.sl-sub-header {
  padding: 3px 3px 3px 20px;
  height: 34px;
  color: color('white');
  background-color: color('dark-blue', 10);
}

.sl-sub-header__icon {
  float: left;
  padding: 8px 0 0 0;
  margin: 0 10px 0 0;

  .sl-lock-icon {
    width: 13px;
    height: 15px;
  }
}

.sl-sub-header__text {
  display: block;
  float: left;
  padding: 8px 0px 0px 0px;
  font-size: 14px;
  font-family: $source-sans-pro;
  letter-spacing: 0.5px;
}

.sl-sub-header__link {
  display: block;
  float: right;
  height: 10px;
  padding: 9px 15px 10px;
  background-color: color('green', 50);
  border: 2px solid color('green', 50);

  text-align: center;
  font-family: $futura-dem;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: color('white');

  &:hover, &:focus {
    background-color: color('green', 70);
    border: 2px solid color('green', 70);
  }
  &:active {
    border-top: 2px solid color('green', 90);
  }
}

 .sl-sub-header__text--hidden {
   display: none;
 }

 .sl-sub-header__text--capitalize {
   text-transform: capitalize;
 }

@media (min-width: $medium-width) {
  .sl-sub-header {
    padding: 23px 10px 23px 20px;
    height: 34px;
  }
}

@media (min-width: $desktop-width) {
  .sl-sub-header__text--hidden {
    display: inline;
  }

  .sl-sub-header__text--capitalize {
    text-transform: lowercase;
  }
}
