.sl-surf-conditions {
  font-family: $futura-dem;
  font-size: 12px;
  letter-spacing: 0.5px;
  padding: 3px 3px 1px 3px;
  color: color('white');
}

@media (min-width: $desktop-width) {
  .sl-surf-conditions {
    color: color('white');
  }
}

@each $condition, $colors in $__sl-condition-color-map {
  $defaultColor: map-get($colors, 'default');

  .sl-surf-conditions--#{$condition} {
    background-color: $defaultColor;
  }
}
