.sl-swell-trend-slider-day {
  position: relative;
  z-index: 2;
  height: 100%;
  padding-top: 4px;
  border-right: 1px solid color('blue-gray', 20);
  &--darkened {
    background: rgba(0,88,120,0.15);
    border-right: 1px solid rgba(0,88,120,0.10);
  }
}

.sl-swell-trend-slider-day__day {
  margin-bottom: 8px;
  font-family: $source-sans-pro;
  font-size: 12px;
  color: color('gray', 90);
  font-weight: 600;
  letter-spacing: .4px;
}
