.sl-swell-trend-graph__canvas {
  position: absolute;
  height: 100%;
}

.sl-swell-trend-graph__area {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  @media (min-width: $tablet-large) {
    display: none;
  }
}

.sl-swell-trend-graph__area__fill {
  fill: color('light-blue', 50);
  opacity: 0.12;
}