.sl-swell-trend-slider__tooltip {
  background: color('white');
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  width: calc(219px - 32px);
  color: color('gray', 90);
  font-family: $source-sans-pro;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.3px;
  padding: 8px 16px 10px;
}

.sl-swell-trend-slider__shield-area {
  position: relative;
  width: 682px;
  height: 40px;
}

.sl-swell-trend-slider__shield-area__day-range {
  white-space: nowrap;
  position: relative;
  border: 1px solid color('blue-gray', 20);
  width: 679px;
  border-radius: 3px;
  .sl-swell-trend-graph__area {
    @media (min-width: $tablet-large) {
      display: block;
    }
    &__fill {
      opacity: 0.20;
    }
  }
}

.sl-swell-trend-slider__shield-area__day-range__shield {
  background: rgba(66,165,252,0.15);
  width: 150px;
  height: 40px;
  cursor: grab;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 2px 2px 0 0;
  border: 1px solid color('dark-blue', 10);
  &__grab-bar {
    background: color('dark-blue', 10);
    border-radius: 3px;
    border: 1px solid color('dark-blue', 10);
    height: 2px;
    position: absolute;
    bottom: -3px;
    left: -2px;
  }
}

.sl-swell-trend-slider__shield-area__day-range__range {
  width: 42.5px;
  height: 40px;
  color: color('blue-gray', 70);
  vertical-align: top;
  border-radius: 0;
  overflow: hidden;

  &--active {
    background-color: color('light-blue', 10);
  }

  &--hover {
    background: rgba(66,165,252,0.10);
    &:hover {
      background-color: rgba(66,165,252,0.15);;
    }
  }

  &:disabled {
    cursor: default;
  }

  &:last-child {
    .sl-swell-trend-slider-day {
      &--darkened {
        border: none;
      }
    }
  }
}

