@import "~@surfline/quiver-themes/stylesheets/surfline/mixins/moduleShadow.scss";

@mixin grid-gap($gap) {
  grid-gap: $gap;
  gap: $gap;
}

// .sl-travel-guide

  .sl-travel-guide__title {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 15px 0;
  }

  .sl-travel-guide__content {
    display: flex;
  }

    .sl-travel-guide__content__overview {
      padding: 0 32px 0 0;
      margin: 0 32px 0 0;
      border-right: 1px solid color('light-blue', 5);
      width: calc(100% - 400px);
    }

      .sl-travel-guide__overview__description {
        font-size: 16px;
        line-height: 26px;
        margin: 0 0 48px 0;
      }

      .sl-travel-guide__overview__ratings {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include grid-gap($gap: 48px);
      }

  .sl-travel-guide__notes {
    width: 400px;
  }

    .sl-travel-guide__notes__item {
      &:not(:first-child) {
        margin-top: 32px;
      }
    }

      .sl-travel-guide__notes__item__title {
        font-size: 16px;
        line-height: 20px;
        color: color('gray', 90);
        margin: 0 0 4px 0;
      }

      .sl-travel-guide__notes__item__description {
        font-size: 14px;
        line-height: 20px;
        color: color('gray', 80);
        margin: 0;
      }

// Break points
@media (max-width: $desktop-large) {
  .sl-travel-guide__content {
    flex-direction: column;
  }

    .sl-travel-guide__content__overview {
      padding: 0 0 32px 0;
      margin: 0 0 32px 0;
      border-right: none;
      border-bottom: 1px solid color('light-blue', 5);
      width: 100%;
    }

    .sl-travel-guide__notes {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include grid-gap($gap: 24px);
    }

      .sl-travel-guide__notes__item {
        &:not(:first-child) {
          margin: 0;
        }
      }
}

@media (max-width: $desktop-small) {
  .sl-travel-guide__overview__ratings {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: $tablet-large) {
  .sl-travel-guide__overview__ratings {
    grid-template-columns: repeat(3, 1fr);
  }

  .sl-travel-guide__overview__ratings {
    @include grid-gap($gap: 40px 32px);
  }
}

@media (max-width: $tablet-width) {
  .sl-travel-guide__overview__ratings {
    padding: 0 8px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: $large-mobile) {
  .sl-travel-guide__notes {
    grid-template-columns: repeat(1, 1fr);
  }
}
