@import '~@surfline/quiver-themes/stylesheets/surfline/mixins/moduleShadow';

.sl-charts-page {
  background-color: color('light-blue', 5);
  padding: 8px 0 32px;

  @media (min-width: $tablet-large) {
    .quiver-page-rail--left {
      width: 320px;
      margin-right: 4px;
    }

    .quiver-page-rail--right {
      width: calc(100% - 320px - 4px);
    }
  }
}
