@import '../../_mixins.scss';
@import '../../_variables.scss';

.sl-favorites {
  width: 100%;
  height: calc(100vh - 96px);
  background: color('white');
  overflow: scroll;
  &__content {
    width: 100%;
    height: calc(100vh - 96px);
    background: url('#{$cdnUrl}favorites-mobile.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    @media (min-width: $large-mobile) {
      height: calc(100vh - 60px);
    }
    @media (min-width: $tablet-width) {
      background: url('#{$cdnUrl}favorites-desktop.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &__message {
      padding: 20px 10px;
      text-align: center;
      h5 {
        @include sl-h5;
        margin: 0 auto;
        color: color('white');
      }
      p {
        @include paragraph;
        margin: 5px 0;
        color: color('white');
      }
      .quiver-button {
        margin: 25px auto 0;
        height: 35px;
        font-size: 14px;
        line-height: 35px;
        cursor: pointer;
        &:hover {
          color: color('white');
          text-decoration: none;
        }
      }
      &-cta {
        max-width: 250px;
        &:hover {
          color: color('white');
          text-decoration: none;
        }
        .quiver-button {
          width: 180px;
          padding: 0;
          &:hover {
            color: color('white');
            text-decoration: none;
          }
        }
        &--ca {
          text-decoration: none;
          .quiver-button {
            background-color: color('green', 50);
            border-color: color('green', 50);
            &:hover {
              background-color: color('green', 70);
              border-color: color('green', 70);
            }
          }
        }
      }
    }
    &__list {
      max-width: $tablet-width;
      margin: 0 auto;

      &__horizontal-ad {
        .quiver-google-dfp {
          margin: 8px auto;
          width: 320px;
          height: 50px;
        }
      }
      &__box-ad {
        .quiver-google-dfp {
          margin: 15px auto;
          width: 300px;
          height: 250px;
        }
      }
      &-edit {
        @include sl-h6;
        display: block;
        padding: 15px;
        text-align: center;
        color: color('light-blue', 50);
        border-top: 1px solid color('gray', 30);
        border-bottom: 1px solid color('gray', 30);
        font-size: 14px;
        text-decoration: none;
        outline: none;

        &:hover,
        &:active {
          background: color('light-blue', 5);
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        a,
        a :hover {
          color: color('gray', 90);
          text-decoration: none;
          outline: none;
        }
      }
    }
  }
}
