.sl-spot-page__below-the-fold {
  background-color: color('light-blue', 5);

  .quiver-content-container {
    justify-content: center;
  }

  .sl-nearby-buoys-wrapper {
    width: 100%;
  }

  .sl-nearby-buoys-wrapper .sl-nearby-buoys {
    padding-top: 0;
    margin-top: 16px;
  }

  .quiver-content-container {
    > div {
      margin-top: 0;
      margin-bottom: 16px;
      &:nth-child(1) {
        margin-top: 16px;
      }
    }
  }
  &__bottom-ad {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 16px;
  }
  .sl-featured-content {
    height: 305px;
    &__articles__article:nth-child(4) {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: $medium-mobile) {
  .sl-spot-page__below-the-fold {
    background-color: color('light-blue', 5);
  }
}

@media (min-width: $tablet-large) {
  .sl-spot-page__below-the-fold {
    .sl-featured-content {
      display: none;
    }
  }
  .sl-spot-page__below-the-fold .sl-nearby-buoys-wrapper .sl-nearby-buoys {
    margin-top: 24px;
  }
}
