@import '~@surfline/quiver-themes/stylesheets/surfline/mixins/moduleShadow.scss';

.sl-spot-current-conditions-section {
  background-color: color('light-blue', 5);
}

.sl-placeholder-module {
  @include module-shadow;
  padding: 24px;
  margin: 16px 0;
  width: calc(100% - 48px);
  background-color: color('white');
}

.quiver-spot-module {
  @include module-shadow;
  margin: 16px 0;
  width: 100%;
  background-color: color('white');
}

.sl-spot-current-conditions-section {
  .sl-featured-content {
    display: none;
  }
}

.sl-spot-current-conditions-section--theatre-mode {
  .quiver-spot-module--multi-cam {
    .quiver-spot-report {
      .quiver-forecaster-profile {
        border-top: 1px solid color('blue-gray', 10);
        padding-top: 16px;
        width: unset;
        height: unset;
        @media (min-width: $desktop-large) {
          border-top: none;
          padding: 0;
        }
      }
    }
  }
}

.sl-spot-current-conditions-section__theatre-cam {
  background-color: color('dark-blue', 90);
}

.sl-spot-current-conditions-section__middle-ad {
  display: flex;
  width: 100%;
  justify-content: center;
}

.quiver-weather-stats {
  margin-left: 24px;
}

.quiver-wetsuit-recommender__ad {
  display: flex;
  justify-content: center;
}

.sl-spot-banner-container {
  .quiver-content-container > div {
    margin: 16px 0px 0px 0px;
  }
}

.sl-spot-banner-container--theatre-mode {
  .quiver-content-container > div {
    margin: 16px 0px 0px 0px;
  }
  .quiver-content-container:last-of-type > div {
    margin: 16px 0px;
  }
}

.sl-spot-current-conditions-section .quiver-content-container .quiver-daily-forecast-report-cta {
  margin: 16px 0;
}
@media (min-width: $tablet-large) {
  .sl-spot-current-conditions-section--theatre-mode,
  .sl-spot-current-conditions-section--no-cam.sl-spot-current-conditions-section--with-report {
    > .quiver-content-container {
      position: relative;
      > .quiver-page-rail--right {
        display: flex;
        position: absolute;
        flex-flow: column;
        height: auto;
        top: 0;
        right: 0;
        bottom: 0;

        .sl-featured-content {
          display: block;
          flex: 1 1 auto;
        }
      }
    }
  }

  .sl-spot-current-conditions-section {
    .sl-featured-content {
      margin: 16px 0;
      // 32px margin + 14px padding = 46
      height: calc(100% - 46px);
      display: block;
      padding: 7px 0;
      width: 100%;
      .sl-featured-content__articles {
        padding-bottom: 24px;
      }
    }
  }

  .sl-spot-current-conditions-section--free {
    .sl-featured-content {
      &__articles__article:nth-child(2) {
        margin-bottom: 36px;
      }
    }
  }

  .sl-spot-current-conditions-section {
    .sl-spot-report-page__cameras {
      @include module-shadow;
      height: auto;
      margin: 16px 0;
    }
  }
  .sl-spot-current-conditions-section--theatre-mode {
    .sl-spot-report-page__cameras {
      margin: 32px 0;
    }
    .sl-spot-report-page__cameras--quad-cam,
    .sl-spot-report-page__cameras--single-cam {
      @media (min-width: $desktop-large) {
        width: 80%;
        margin: 32px auto;
      }
    }
  }

  .sl-spot-current-conditions-section--with-cam.sl-spot-current-conditions-section--free {
    .sl-spot-report-cam__cta {
      height: calc(43px - 8px);
      background-color: color('light-blue', 5);
      .sl-spot-report-cam-header-cta {
        padding-top: 11px;
      }
    }
  }

  .sl-spot-current-conditions-section--no-cam.sl-spot-current-conditions-section--no-report.sl-spot-current-conditions-section--premium,
  .sl-spot-current-conditions-section--no-cam.sl-spot-current-conditions-section--no-report.sl-spot-current-conditions-section--free {
    .quiver-spot-report__content-wrapper {
      min-height: 370px;
    }

    .sl-featured-content {
      height: calc(466px - 46px);
    }
  }
  .sl-spot-current-conditions-section--no-cam.sl-spot-current-conditions-section--with-report.sl-spot-current-conditions-section--premium {
    .quiver-spot-report__content-wrapper {
      min-height: 616px;
    }
  }
  .sl-spot-current-conditions-section--no-cam.sl-spot-current-conditions-section--with-report.sl-spot-current-conditions-section--free {
    .quiver-spot-report__content-wrapper {
      min-height: 636px;
    }
  }
}

@media (min-width: $desktop-small) {
  .sl-spot-current-conditions-section--free.sl-spot-current-conditions-section--no-cam {
    .sl-featured-content {
      &__articles__article:nth-child(1) {
        margin-top: 24px;
        margin-bottom: 29px;
      }
    }
  }
  .sl-spot-current-conditions-section--premium {
    .sl-featured-content {
      &__articles__article:nth-child(2) {
        margin-bottom: 24px;
      }
    }
  }

  .sl-spot-current-conditions-section--with-cam.sl-spot-current-conditions-section--free {
    .sl-spot-report-cam__cta {
      height: 39px;
    }
  }
  .sl-spot-current-conditions-section--with-cam.sl-spot-current-conditions-section--free {
    .sl-featured-content {
      display: block;
      &__articles__article:nth-child(2) {
        margin-bottom: 24px;
      }
    }
  }
  .sl-spot-current-conditions-section--no-cam.sl-spot-current-conditions-section--no-report.sl-spot-current-conditions-section--free {
    .quiver-spot-report__content-wrapper {
      min-height: 290px;
    }
  }
  .sl-spot-current-conditions-section--no-cam.sl-spot-current-conditions-section--no-report.sl-spot-current-conditions-section--premium {
    .quiver-spot-report__content-wrapper {
      min-height: 298px;
    }
  }

  .sl-spot-current-conditions-section--no-cam.sl-spot-current-conditions-section--no-report.sl-spot-current-conditions-section--premium,
  .sl-spot-current-conditions-section--no-cam.sl-spot-current-conditions-section--no-report.sl-spot-current-conditions-section--free {
    .sl-featured-content {
      height: calc(362px - 46px);
    }
  }

  .sl-spot-current-conditions-section--no-cam.sl-spot-current-conditions-section--with-report.sl-spot-current-conditions-section--premium {
    .quiver-spot-report__content-wrapper {
      min-height: 544px;
    }
  }
  .sl-spot-current-conditions-section--no-cam.sl-spot-current-conditions-section--with-report.sl-spot-current-conditions-section--free {
    .quiver-spot-report__content-wrapper {
      min-height: 556px;
    }
  }
}

@media (min-width: $desktop-large) {
  .sl-spot-current-conditions-section--with-cam {
    .sl-featured-content {
      h3 {
        display: block;
      }
      &__articles__article {
        margin-top: 24px;
        &:nth-child(1) {
          margin-top: 16px;
        }
      }
    }
  }
  .sl-spot-current-conditions-section--no-cam.sl-spot-current-conditions-section--no-report.sl-spot-current-conditions-section--free {
    .quiver-spot-report__content-wrapper {
      min-height: 258px;
    }
  }
  .sl-spot-current-conditions-section--no-cam.sl-spot-current-conditions-section--no-report.sl-spot-current-conditions-section--premium {
    .quiver-spot-report__content-wrapper {
      min-height: 260px;
    }
  }
  .sl-spot-current-conditions-section--no-cam.sl-spot-current-conditions-section--with-report.sl-spot-current-conditions-section--premium {
    .quiver-spot-report__content-wrapper {
      min-height: 350px;
    }
  }
  .sl-spot-current-conditions-section--no-cam.sl-spot-current-conditions-section--with-report.sl-spot-current-conditions-section--free {
    .quiver-spot-report__content-wrapper {
      min-height: 410px;
    }
  }
  .sl-spot-current-conditions-section--no-cam.sl-spot-current-conditions-section--no-report.sl-spot-current-conditions-section--premium,
  .sl-spot-current-conditions-section--no-cam.sl-spot-current-conditions-section--no-report.sl-spot-current-conditions-section--free {
    .sl-featured-content {
      height: calc(356px - 46px);
    }
  }
}
