@import '../../common/themes/main.scss';

.upgrade-header__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0;
  text-align: left;
}
.upgrade-header__subtitle {
  font-size: 12px;
  font-family: $source-sans-pro;
  color: color('black', 50);
  line-height: 20px;
}
