@import '../../styles/variables';

.buoySigSwell {
  margin: 4px 0 0;
  flex-flow: row nowrap;
  display: inline-flex;
  align-items: flex-end;
}

.buoyOfflineWrapperHeight {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-family: $futura-surfline;
  display: inline-flex;
  align-items: flex-end;
}

.buoyOfflineWrapperSwell {
  margin: 0 0 0 12px;
  display: inline-flex;
  align-items: flex-end;
  line-height: 16.6px;
}

.fallbackUnits {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.7px;
}

.buoyHeight {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: center;
}

.buoyHeightData {
  display: flex;
  align-items: flex-end;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 22px;
  height: 25px;
  letter-spacing: 0.5px;
  color: color('black', 40);
  font-family: $futura-surfline;
}

.buoyHeightUnits {
  font-family: $futura-surfline;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.7px;
  color: color('black', 40);
}

.buoySigSwellData {
  display: inline-flex;
  flex-flow: row nowrap;
  margin: 0 0 0 8px;
  font-family: $source-sans-pro;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.25px;
  white-space: pre;
}

.buoySigSwellLargeOnly {
  margin: 0;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  flex: 0 0 50%;

  .buoySigSwellData {
    margin: 0;
  }

  .buoyOfflineWrapperSwell {
    margin: 0;
  }

  .buoyOfflineWrapperHeight {
    height: 18px;
    margin: 0 0 4px;
  }
}

.buoySigSwellTitle {
  font-family: $source-sans-pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2571px;
  color: color('gray', 55);
  margin: 0 0 8px;
}

@media (min-width: $tablet-large) {
  .buoySigSwell {
    flex-flow: column;
    flex: 0 0 50%;
    align-items: flex-start;
    margin: 0;
  }

  .buoyOfflineWrapperSwell {
    margin: 0;
  }

  .buoySigSwellData {
    margin: 8px 0 0;
  }
}
