@import '../../styles/variables';

.clipContainer {
  margin-top: 16px;
  margin-bottom: 80px;
}

.clipContent {
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  max-width: 920px;
}

.footerAd {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px 0 0;
}

@media (min-width: $tablet-width) {
  .clipContainer {
    margin-top: 36px;
    margin-bottom: 100px;
  }
}
