.analysis_icon {
  width: 30px;
  height: 30px;
}
.buoy_icon {
  width: 36px;
  height: 36px;
}
.camrewind_icon {
  width: 26px;
  height: 30px;
}
.cams_icon {
  width: 26px;
  height: 30px;
}
.charts_icon {
  width: 26px;
  height: 20px;
}
.layers_icon {
  width: 32px;
  height: 34px;
}
.wind_icon {
  width: 38px;
  height: 23px;
}
.satellite_icon {
  width: 42px;
  height: 44px;
}
.swell_lines_icon {
  // Move the white border around the image without an src off screen
  text-indent: 100vw;
  background: url('#{$cdn-background-path}/swell-lines-bg.svg');
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 36px;
  height: 37px;
}
.wave_icon {
  width: 16px;
  height: 12px;
}
.waypoint_icon {
  width: 33px;
  height: 24px;
}
@media (min-width: $tablet-large) {
  .analysis_icon {
    width: 42px;
    height: 42px;
  }
  .buoy_icon {
    width: 48px;
    height: 48px;
  }
  .camrewind_icon {
    width: 34px;
    height: 36px;
  }
  .cams_icon {
    width: 36px;
    height: 41px;
  }
  .charts_icon {
    width: 36px;
    height: 28px;
  }
  .layers_icon {
    width: 44px;
    height: 46px;
  }
  .wind_icon {
    width: 50px;
    height: 35px;
  }
  .satellite_icon {
    width: 54px;
    height: 56px;
  }
  .swell_lines_icon {
    width: 48px;
    height: 49px;
  }
  .wave_icon {
    width: 16px;
    height: 12px;
  }
  .waypoint_icon {
    width: 45px;
    height: 36px;
  }
}
