@import '../../common/themes/main.scss';
.side-by-side {
  .pricing-plans {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pricing-plans__title {
    font-family: $source-sans-pro;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $black;
    margin: 2em 0em 0em 0em;
    align-self: baseline;
  }
  .pricing-plans__container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .pricing-plan__container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .pricing-plan {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 1px solid #d2d6d9;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    margin: 1em 0em 0.5em 0em;
    cursor: pointer;
    &--selected {
      background: color('light-blue', 5);
      border: 1px solid #22d736;
      box-shadow: 0 0 0 1px #22d736;
    }
  }
  .pricing-plan__name {
    display: flex;
    margin: 1em 1em 0.5em 1em;
    span {
      font-family: $source-sans-pro;
      font-size: 18px;
      line-height: 21px;
      color: $black;
      font-weight: 700;
    }
  }
  .pricing-plan__cost {
    display: flex;
    margin: 0em 1em 1em 1em;
    flex-direction: column;
  }
  .pricing-plans__button {
    margin: 2em 0em 0em 0em;
    width: 100%;
    .quiver-button {
      background-color: color('green');
      border-color: color('green');
      width: 100%;
      &:hover {
        background-color: color('green');
        border-color: color('green');
      }
    }
  }
  .pricing-plan__cost-symbol {
    font-family: $source-sans-pro;
    color: #333;
    font-size: 14px;
    display: flex;
  }
  .pricing-plan__cost-interval {
    align-self: flex-end;
    font-family: $source-sans-pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: color('gray', 80);
    margin: 0em 0.6em;
  }
  .pricing-plan__cost__hyphen {
    align-self: end;
    margin: 0em 0.2em;
  }
  .pricing-plan__cost-total {
    font-family: $source-sans-pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: color('gray', 80);
  }
  .pricing-plan__trialtext {
    background: $green-50;
    border-radius: 2px;
    color: $white;
    font-size: 14px;
    font-family: $source-sans-pro;
    font-weight: 600;
    margin: auto 1em;
    padding: 0px 5px;
  }
  .pricing-plan__message {
    font-family: $source-sans-pro;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #96a9b1;
    margin: 0em 0.25em;
  }
  .pricing-plan__trialtext_bottom {
    display: none;
    background: color('orange', 40);
  }
  .pricing-plan--selected .pricing-plan__trialtext_bottom {
    background: $green-50;
  }
  .pricing-plan__trialtext_bottom-container {
    display: none;
  }

  @media (min-width: $tablet) {
    .pricing-plan__trialtext {
      padding: 0px 8px;
    }
    .pricing-plans__container {
      flex-direction: row;
      &--trial-eligible {
        padding-bottom: 2em;
      }
    }
    .pricing-plan__container + .pricing-plan__container {
      margin-left: 1.25em;
    }
    .pricing-plan__name {
      span {
        font-size: 16px;
        line-height: 19px;
      }
    }
    .pricing-plan {
      height: 100%;
      margin: 1em 0em 0.5em 0em;
    }
    .pricing-plans__button {
      margin: 2.5em 0em 0em 0em;
    }
    .pricing-plan__trialtext {
      display: none;
    }
    .pricing-plan__trialtext_bottom {
      display: block;
      border-radius: 2px;
      color: $white;
      font-size: 12px;
      font-family: $source-sans-pro;
      font-weight: 600;
      margin: auto 1em;
      padding: 0.25em 0.5em;
    }
    .pricing-plan__trialtext_bottom-container {
      display: block;
      width: 63%;
      margin-bottom: 0.5em;
    }
    .pricing-plan__message {
      position: relative;
      div {
        position: absolute;
      }
    }
  }
}
