@import '../../styles/variables';
@import '../../styles/mixins';

.subregionHeaderRegion {
  @include action-styles;

  display: none;
  vertical-align: middle;
  letter-spacing: 0.3px;
  font-size: 12px;
  height: 20px;
  padding-top: 5px;
}

.subregionHeaderLink {
  .subregionHeaderRegion {
    display: inline-block;
    padding-left: 5px;
  }
}

.subregionHeaderSeeForecast {
  text-transform: uppercase;
  font-family: $futura-dem;
  font-size: 14px;
  padding-top: 12px;
  height: 20px;
  float: right;
}

@media (min-width: $medium-width) {
  .subregionHeaderSeeForecast:hover {
    color: color('light-blue', 70);
  }

  .subregionHeader {
    display: inline-block;
  }

  .subregionHeaderRegion {
    display: inline-block;
    height: 22px;
    width: 55%;
    vertical-align: top;
    padding-top: 0;
    font-family: $source-sans-pro;
    text-transform: none;
    letter-spacing: 0.5px;
    font-size: 14px;

    &:hover {
      color: color('gray', 90);
    }
  }
}

@media (min-width: $desktop-width) {
  .subregionHeaderRegion {
    padding-top: 8px;
  }
}
